[2021-01-04 23:54] #2571 closed

[2021-01-04 23:54] neilpeterson opened #2572 "sync 002"

[2021-01-04 23:59] neilpeterson opened #2573 "sync 003"

[2021-01-05 00:06] neilpeterson opened #2574 "sync 004"

[2021-01-05 00:16] neilpeterson opened #2575 "sync 005"

[2021-01-05 00:16] neilpeterson commented on #2575
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/355650/>355650</a>

[2021-01-05 00:18] neilpeterson opened #2576 "sync 006"

[2021-01-05 00:18] neilpeterson commented on #2576
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/355652/>355652</a>

[2021-01-05 00:20] #2572 closed

[2021-01-05 00:20] #2573 closed

[2021-01-05 00:21] #2574 closed

[2021-01-05 00:21] #2575 closed

[2021-01-05 00:21] #2576 closed

[2021-01-05 00:29] neilpeterson opened #2577 "webhook test 001"

[2021-01-05 00:29] neilpeterson commented on #2577
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/355656/>355656</a>

[2021-01-05 00:29] pauldotyu opened #2578 "Diagram image and Visio diagram do not match"
In the WVD architecture center doc, the architecture diagram image does not match with what is downloaded when you click the "Download a copy of this Visio." link

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f26be54d-0f67-5098-7839-98f5bb064188
* Version Independent ID: 187fa3ce-ade9-1b07-2af3-c874ec3d0aac
* Content:

[2021-01-05 00:29] neilpeterson commented on #2578
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/355657/>355657</a>

[2021-01-05 00:34] neilpeterson opened #2579 "PAT 001"

[2021-01-05 00:35] absheik commented on #2579
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/355658/>355658</a>

[2021-01-05 00:36] #2579 closed

[2021-01-05 00:37] #2577 closed

[2021-01-05 01:31] absheik commented on #2578
@pauldotyu, thanks for reporting the issue.  The updated Visio file matching the image in the article will be available once the CDN propagation is complete.

[2021-01-05 01:31] #2578 closed

[2021-01-05 15:13] ashinzekene opened #2581 "Claims identity schema"
There is this list of identity schema on this page

  tid > http://schemas.microsoft.com/identity/claims/tenantid
  unique_name > http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name
  upn > http://schemas.xmlsoap.org/ws/2005/05/identity/claims/upn

Is it fine to replace with https as this causes codeql warnings?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2021-01-05 15:14] absheik commented on #2581
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/355890/>355890</a>

[2021-01-05 17:30] jfmatth opened #2582 "Remove Docker Desktop with WSL :)"
[Enter feedback here]
I have pulled Docker Desktop out of my workflow when using Windows / WSL, and instead use PODMAN from RedHat.

DD is so heavy on a windows machine, and if I'm already running WSL, I don't need all the parts for Docker, just PODMAN

There is one specific flag you need to use in your PodMan builds ``` podman build -t docker...``` to make sure it's the same as a docker build.  O

[2021-01-05 17:30] absheik commented on #2582
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/355945/>355945</a>

[2021-01-06 04:29] neilpeterson commented on #2582
@jfmatth thanks for this issue / tip. I will plat around with podman and see how we can work it in. It may take me a few days to carve out the time, but I will get to it and respond back here once done.

[2021-01-06 04:46] jfmatth commented on #2582
Neil, Thank you.  I moved from MultiPass to WSL 2 because I though Docker would be native, but in fact, it’s a huge install and everything wants to install Docker for Desktop.  With PodMan, one install, no daemons and viola, a working container platform for WSL 2.  Don’t forget the -f docker flag, that took up 4hrs of my life . J  Sent from Mail for Windows 10 From: Neil PetersonSent: Tuesday, Jan

[2021-01-06 14:21] dgpoulet opened #2584 "Link is to a blog post that is really out of date."
In the article is a link to this old blog post, referred to here:

"For a deeper understanding of the limits of the CRUD approach, see CRUD, Only When You Can Afford It."

The post is 17 years old and, frankly, not that well written: all text, rambling, full of half-explained examples without context - a sort of stream-of-consciousness brain dump. It would make sense informally as part of a conver

[2021-01-06 14:21] absheik commented on #2584
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/356481/>356481</a>

[2021-01-06 14:30] dgpoulet commented on #2584
I'm not sure where might be a good source for a CRUD take-down, but there are more links to potential deeper discussions by Fowler [here](https://martinfowler.com/articles/201701-event-driven.html).

[2021-01-06 16:51] SvenAelterman opened #2585 "Additional missing icons"
The following services' icons are missing

- Integration Service Accounts
- WVD-related services:
    - Host pool
    - Application group
    - Workspace
- Access control (IAM)
- Private endpoint
- Subnet

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6624d44c-f9f6-02f8-2c67-0f0637fed62e
* Version Independent ID: 9346a

[2021-01-06 16:51] absheik commented on #2585
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/356546/>356546</a>

[2021-01-08 01:01] PageWriter-MSFT commented on #2324
Hi @chunliu

Thanks for the recommendation. Based on your feedback, we've added Azure Functions as an option for the hosting environment. Also, added a section on considerations.

https://docs.microsoft.com/en-us/azure/architecture/best-practices/background-jobs#azure-functions

Thanks again for opening this issue,

[2021-01-08 01:01] #2324 closed

[2021-01-09 19:14] pedro-bonilla opened #2587 "Keep extending it"
Please keep extending _Gaming using Azure Database for MySQL_ by adding implementation details, pricing guidance, and some code examples. Would there any change significant architecture change by changing the relational database engine? Eg: PostgreSQL

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12a99221-6683-e2ad-33

[2021-01-09 19:15] absheik commented on #2587
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/358068/>358068</a>

[2021-01-10 21:03] mtan429 opened #2588 "Typo in Event Sourcing pattern doc"
"if multiple instances of a consumer maintain **an** aggregate an entity's property"

should be

"if multiple instances of a consumer maintain **and** aggregate an entity's property"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d510272-fa5f-07f9-8b06-fb88d45d2464
* Version Independent ID: 578a488f-89a7-92cc-779f-b49

[2021-01-10 21:03] absheik commented on #2588
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/358249/>358249</a>

[2021-01-11 01:25] lowndesc opened #2589 "Sample diagram includes icons not in library"
Although your sample diagram includes icons for (eg.) Azure Databricks and Power BI, neither of these are included in the current icon library. More frequent updates and more comprehensive coverage could still be an improvement.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6624d44c-f9f6-02f8-2c67-0f0637fed62e
* Versi

[2021-01-11 01:25] absheik commented on #2589
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/358289/>358289</a>

[2021-01-11 11:07] gvanteylingen opened #2590 "Correct references to NetApp Files."
Please change all references to NetApp Files to "Azure NetApp Files", following the service official nomenclature:
https://azure.microsoft.com/en-us/services/netapp/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9dbf62e6-49ab-a499-f82e-e0ade93ce2e2
* Version Independent ID: 08bbadc2-c2f9-1c43-b541-e5e2554931fc
* Conte

[2021-01-11 11:07] absheik commented on #2590
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/358466/>358466</a>

[2021-01-11 11:16] gvanteylingen opened #2591 "Add Azure NetApp Files to diagram"
Since Azure NetApp Files is a valid solution for this architecture, suggesting the following two changes:

Change

- Azure Files Premium or an equivalent network-attached storage (NAS) system stores media files like product images. Magento needs a Kubernetes-compatible file system that can mount a volume in ReadWriteMany mode, like Azure Files Premium or Azure NetApp Files.

to:

- [Azure Files Pr

[2021-01-11 11:16] absheik commented on #2591
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/358467/>358467</a>

[2021-01-11 18:50] neilpeterson commented on #2588
@mtan429 thanks for opening this issue. This should be fixed by end of day.

[2021-01-11 18:50] #2588 closed

[2021-01-11 21:35] neilpeterson commented on #2496
@khanzzirfan the included Visio file includes multiple tabs, one of which is multi-region, which includes this diagram. We are considering options for making this more obvious. Thanks for submitting the issue.

[2021-01-11 21:35] #2496 closed

[2021-01-11 21:40] neilpeterson commented on #2491
@DeanGross thanks for opening this issue. I'm assuming this in reference to this article.

https://docs.microsoft.com/en-us/azure/architecture/solution-ideas/articles/hybrid-identity

We recognize that the solution ideas articles are lacking in information and have a team working on what the next steps should be for 'solution ideas'. This will not be a quick fix, but hopefully we can add some subs

[2021-01-11 21:40] #2491 closed

[2021-01-12 18:49] mosharafMS opened #2592 "Azure symbols are useless"
The new symbols are useless for two reasons
1) SVG format is not opened by Visio (desktop & online) nor Microsoft whiteboard app.
2) The new version is very tiny that are even after converting them to png are useless to use

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6624d44c-f9f6-02f8-2c67-0f0637fed62e
* Version In

[2021-01-12 18:49] absheik commented on #2592
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/359244/>359244</a>

[2021-01-12 21:43] mbedford78 opened #2593 "AWS CloudTrail equivalent service on Azure is not Azure Monitor, it should be Azure Activity log."
AWS CloudTrail equivalent service on Azure is not Azure Monitor, it should be Azure Activity log.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30d02f16-9621-d204-4132-8ce8db79b0af
* Version Independent ID: 65b4385b-79f0-d842-d4a1-5d013615f9b1
* Content: [AWS to Azure services comparison - Azure Architecture Center](h

[2021-01-12 21:43] absheik commented on #2593
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/359317/>359317</a>

[2021-01-13 00:34] mikelhamer commented on #1924
Any update on this?

[2021-01-13 22:30] christiaanbrinkhoff commented on #2405
I received only positive feedback about the diagram so far. Please reject due to lack of details and what to improve to make it better.

[2021-01-13 22:35] #2405 closed

[2021-01-13 23:31] BenCoding opened #2594 "Missing"
I noticed that the comparison chart doesn't have SNS on it.  Seems like an odd omission
I think the older version of this doc did have SNS.  It's similar to Azure Notification Hubs:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30d02f16-9621-d204-4132-8ce8db79b0af
* Version Independent ID: 65b4385b-79f0-d842-d4a1-5d01

[2021-01-13 23:32] absheik commented on #2594
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/360008/>360008</a>

[2021-01-14 13:30] rajshailesh opened #2595 "Business Logic for entire domain"
[In the article you mentioned that API gateway shouldn't implement business logic. Each microservice is independent but there may scenario where one service need to call other service to fulfill the functionality or there may be service which will just call other services to fulfil the functionality in that case what is best practice to do so. If one service is calling other service then involving

[2021-01-14 13:31] absheik commented on #2595
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/360207/>360207</a>

[2021-01-15 00:09] jocontr commented on #2409
@clintonwford closing issue for now. Please reopen once you have news. Thank you.

[2021-01-15 00:09] #2409 closed

[2021-01-15 19:54] smithers54 opened #2596 "This script requires a preview feature "Microsoft.Network/AllowMultipleAddressPrefixesOnSubnet""
It's because of this section of the script that realistically isn't needed as we shouldn't be trying to add the vnet address space as a prefix to the existing subnets:

#Add $IPAddressRange to subnet
$subnet = $HUBvnet.subnets[0]
$subnet.addressprefix.add($IPAddressRange)
#end

Please update the script to remove this section.

[2021-01-15 19:54] absheik commented on #2596
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/360914/>360914</a>

[2021-01-15 20:11] smithers54 commented on #2596
Also, subnets can be added while a peering is in place so this section is for sure not needed.

[2021-01-15 23:56] hugobarona opened #2597 "No scenarios explaining when to use Azure Databricks"
Azure Databricks is one of the options included to use NLP service. And the section below (Key selection criteria) mentions various scenarios about when picking Azure HDInsight with Spark or Cognitive Service, but does not explain when to use Azure Databricks.

I believe it would be beneficial to include a few scenarios explaining the criteria to use when selecting Azure Databricks as opposed to o

[2021-01-15 23:57] absheik commented on #2597
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/361013/>361013</a>

[2021-01-17 21:26] jigar288 opened #2598 "VOD architecture feedback"
https://docs.microsoft.com/en-us/azure/architecture/solution-ideas/articles/digital-media-video

The documentation below indicates the following:

`If you'd like to see us expand this article with more information, implementation details, pricing guidance, or code examples, let us know with GitHub Feedback!`

It would be really helpful if more info was provided.

---
#### Document Details

⚠ *Do n

[2021-01-17 21:26] absheik commented on #2598
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/361437/>361437</a>

[2021-01-19 02:37] jasonhorner opened #2599 "icon issues"
All I emailed the the CNE team but never heard anything back maybe this will get a quicker response:

1) the icon for stretch db seems to be the old sql dw this is incorrect
Also note that the redis cached is likely mis-named (see attached)

2) there isn't currently an icon for Azure Synapse pipelines using the Azure Data Factory icon is confusing and misleading so we desperately need a synapse pi

[2021-01-19 02:38] absheik commented on #2599
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/361921/>361921</a>

[2021-01-19 09:33] imcdnzl opened #2600 "Equivalent to AWS Service Catalog"
AWS Service Catalog isn't listed in this page and I think it should be.

My feeling is that it would be in the marketplace section and that the equivalent would be Azure Managed Applications

[2021-01-19 09:33] absheik commented on #2600
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/362013/>362013</a>

[2021-01-19 13:18] afscrome opened #2601 "Cosmos DB Retry Guidance refers to old SDK Version"
The CosmosDb section seems to be based on the V2 SDK, which has long since been superseded by the V3 SDK.   Can this be updated to account for the V3 sdk.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8194899c-dee2-70ac-422a-edc06e779f7c
* Version Independent ID: cafc7418-404c-5908-3037-dba7f452087b
* Content: [Retry

[2021-01-19 13:18] absheik commented on #2601
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/362094/>362094</a>

[2021-01-19 13:34] rukasakurai opened #2602 "Suggestion to add Azure Queue Storage as a technology choice option for a message broker"
Suggestion to add Azure Queue Storage as a technology choice option for a message broker:
https://docs.microsoft.com/en-us/azure/architecture/guide/technology-choices/messaging#technology-choices-for-a-message-broker

And to also add a link to this page
https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-azure-and-service-bus-queues-compared-contrasted

---
#### Document Detai

[2021-01-19 13:34] absheik commented on #2602
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/362102/>362102</a>

[2021-01-19 22:32] allanopen opened #2603 "SVG Version of architecture diagram"
Please can we have SVG versions of architecture diagrams so that we can use that as a starting point to build out new components for customer architectures (editable in Visio). Today as  a PNG, there is a lot of extra work to recreate.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6beac55-590d-a02d-3424-e766976acd44

[2021-01-19 22:35] absheik commented on #2603
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/362405/>362405</a>

[2021-01-20 05:11] vtahlani opened #2604 "Gateway looks like a orchestrator"
[Enter feedback here]

Is gateway not doing job of orchestrator

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 658a04f2-a906-dd3a-b4ce-3f2c7dcaad8f
* Version Independent ID: 974d5fdf-e7d8-fb51-4195-9d2dea89b6f4
* Content: [Gateway Aggregation pattern - Cloud Design Patterns](https://docs.microsoft.com/en-us/azure/archi

[2021-01-20 05:11] absheik commented on #2604
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/362676/>362676</a>

[2021-01-20 15:39] shashishailaj commented on #2603
@allanopen Thank you for your suggestion. As suggested by @absheik currently this is under review internally . We will update the status on this thread.

[2021-01-20 15:46] Grace-MacJones-MSFT commented on #2604
Thank you for your comment. As suggested by @absheik currently this is under review internally. We will update the status on this thread.

[2021-01-20 21:45] cmargraff opened #2605 "Downloaded SVG is not scalable"
Download as SVG is a PNG embedded in an SVG file. It would be amazingly helpful if the included graphics were segregated into discrete vector images.
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b68d40f-4b98-396b-f4c3-b8650fc4633f
* Version Independent ID: 26b362d7-b46a-fa03-c2aa-48b581b67bf0
* Content: [Adv

[2021-01-20 21:45] absheik commented on #2605
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/363239/>363239</a>

[2021-01-20 21:47] cmargraff commented on #2605
You can close bug #2605 as duplicate

[2021-01-20 21:47] #2605 closed

[2021-01-20 22:03] #2444 closed

[2021-01-21 00:07] Ttaboada opened #2606 "Modern Data Warehouse Architecture"

[2021-01-21 00:07] absheik commented on #2606
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/363279/>363279</a>

[2021-01-21 06:26] PramodValavala-MSFT commented on #2604
@vtahlani While it is similar, there is a fundamental difference as mentioned under considerations

Unlike an orchestrator, the gateway simply forwards requests (or sub-requests) to separate entities and these forwarded requests are not dependent on responses from other requests.

This is like how one can send a batch of messages to a message broker instead of making a call for each message, usefu

[2021-01-21 10:30] douglas-isaksson opened #2607 "PNG version of Icons"
HI there,

While I do appreciate the fact that these icons are available it would be GREAT if you could supply them as PNG as well as SVG. Seeing as there are a lot of Devs and Architects on Mac and the SVG support there is so-so it's a bit of a pain every 6 months when you go back and need a new set of icons. The previews looks like shit in Finder and you always end up needing to figure out whate

[2021-01-21 10:31] absheik commented on #2607
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/363588/>363588</a>

[2021-01-21 22:51] terjevatle opened #2608 "Missing icons"
Hi!
Great that you make the icons available. However, I miss a few icons under Analytics such as Azure Data Factory and Azure Data Lake Storage gen 2. Will this be added to the zip?

Complete list of services:
https://azure.microsoft.com/en-us/services/#analytics

Thanks and Best Regards
Terje Vatle
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2021-01-21 22:52] absheik commented on #2608
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/363997/>363997</a>

[2021-01-22 13:08] PramodValavala-MSFT commented on #2604
@vtahlani Just following up here... Hope my previous comment clears things up.

[2021-01-22 16:07] magrande commented on #2601
This section has been updated in this PR:

https://github.com/MicrosoftDocs/architecture-center-pr/pull/2301#pullrequestreview-574377267

The issue can be closed.

[2021-01-24 10:30] shashishailaj commented on #2603
@allanopen We are working on an internal work item on this . Hence this issue is being closed and we will track this internally .

Thank you.

[2021-01-24 10:30] #2603 closed

[2021-01-25 09:27] jabbermo opened #2609 "Request for Blockchain Workflow Application details"
Hi team,

can you please share more information such as  implementation details, pricing guidance, or code example for the below blockchain architecture.
https://docs.microsoft.com/en-us/azure/architecture/solution-ideas/articles/blockchain-workflow-application

Thank you in advance.

Thanks and regards,
Jabbar

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2021-01-25 09:27] absheik commented on #2609
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/365414/>365414</a>

[2021-01-25 09:29] jabbermo commented on #2609
Thank you for the quick response, I would be grateful if you can share me step by step instructions as to how to implement this.

thanks and regards,
Jabbar

[2021-01-25 20:24] ChicagoDave opened #2610 "Getting Buy In from Management for DDD"
I'm in my second DDD push and it's still extremely challenging to get alignment from the business to work from a DDD perspective. They see "features" and "existing systems". We need more discussion on getting management to understand and embrace DDD.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab3d720e-441b-16f6-a73

[2021-01-25 20:25] absheik commented on #2610
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/365681/>365681</a>

[2021-01-26 08:54] SatishBoddu-MSFT commented on #2610
Hello @ChicagoDave, this issue is assigned to @absheik for providing further updates.

[2021-01-26 16:01] predictiverye opened #2612 "Out of date reference to SQL DB for R programmer"
R is no longer supported in Azure SQL DB. R is now supported in Azure SQL MI.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2808e74b-c325-7b50-093a-b777473864b5
* Version Independent ID: e1f632cb-92ef-958e-5bf4-d250108e1c8d
* Content: [R developer's guide to Azure - R programming - Azure Architecture Center](https://d

[2021-01-26 17:19] VitalyMCT opened #2613 "Diagram update"
The diagram on this page is a few years old and is getting a little dated. Areas to update would include:

1. Replace SQL DW with Synapse Analytics
2. Update Power BI Icon
3. Update CosmosDB icon

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e4f4c7c-f268-b75b-2486-5c4418e5b24e
* Version Independent ID: 5d28faa1-20bc-

[2021-01-26 17:19] absheik commented on #2613
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/366099/>366099</a>

[2021-01-26 19:23] VitalyMCT commented on #2543
@HarshitaSingh-MSFT , would it be possible to get an update please? Is there a timeline for releasing this guidance?

Many of us are in the same boat - i.e. trying to use this icon set with Visio.

[2021-01-26 21:26] neilpeterson commented on #2440
@softcraftsman thanks for opening this issue. We have added a link to clarifying documentation which should publish by tomorrow afternoon.

[2021-01-26 21:26] #2440 closed

[2021-01-27 19:58] kartikbhatt1500 opened #2614 "asking permision if i can use logo"
sir i want to ask if i can use your logo in a thumbnail of video i made . that video one of its part shows offer provided by partner sites with github. so can i use your logo in youtube thumbnail

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6624d44c-f9f6-02f8-2c67-0f0637fed62e
* Version Independent ID: 9346a8ff-bab5-

[2021-01-27 19:58] absheik commented on #2614
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/366870/>366870</a>

[2021-01-27 23:41] absheik commented on #2607
@douglas-isaksson thanks for the request, delivering these Icons in PNG is in the near roadmap.  Unfortunately not able to provide timeline. IN the mean time, you can use Inkscape to batch convert SVG to PNG.  https://gallery.technet.microsoft.com/scriptcenter/Convert-SVG-to-PNG-e759387c

[2021-01-27 23:41] #2607 closed

[2021-01-27 23:55] absheik commented on #2516
**Are these icon assets available in Visio or as VSS files?**
Not yet, but they will be very soon. We are working with the Visio product team. In the meantime, you
can use the Import function in Visio. Learn more about importing icons to Visio. https://support.microsoft.com/en-us/office/import-or-insert-graphics-into-visio-drawings-f05e556d-a158-4e16-9bd8-5d45071c9b8c

[2021-01-27 23:55] #2516 closed

[2021-01-28 00:05] absheik commented on #2592
@mosharafMS you can import SVG in to Visio by following these steps https://support.microsoft.com/en-us/office/import-or-insert-graphics-into-visio-drawings-f05e556d-a158-4e16-9bd8-5d45071c9b8c

We are working on making Visio templates available

You can batch convert SVG to PNG using Inkscape https://gallery.technet.microsoft.com/scriptcenter/Convert-SVG-to-PNG-e759387c

[2021-01-28 00:05] #2592 closed

[2021-01-28 00:07] absheik commented on #2585
a new version of the Icon set is now available at https://docs.microsoft.com/en-us/azure/architecture/icons/ with Download file name Azure_Public_Service_Icons_V4.zip

[2021-01-28 00:07] #2585 closed

[2021-01-28 00:08] absheik commented on #2537
a new version of the Icon set is now available at https://docs.microsoft.com/en-us/azure/architecture/icons/ with Download file name Azure_Public_Service_Icons_V4.zip
Databricks is 3rd party

[2021-01-28 00:08] #2537 closed

[2021-01-28 00:10] absheik commented on #2517
a new version of the Icon set is now available at https://docs.microsoft.com/en-us/azure/architecture/icons/ with Download file name Azure_Public_Service_Icons_V4.zip, this has a folder of icons for AI and machine learning

[2021-01-28 00:10] #2517 closed

[2021-01-28 00:11] absheik commented on #2486
a new version of the Icon set is now available at https://docs.microsoft.com/en-us/azure/architecture/icons/ with Download file name Azure_Public_Service_Icons_V4.zip
Databricks is 3rd party.

[2021-01-28 00:11] #2486 closed

[2021-01-28 00:21] absheik commented on #2605
these Icons are scalable SVG.  I am able to scale using Inkscape.

[2021-01-28 00:26] absheik commented on #2543
Visio online stencils are available https://techcommunity.microsoft.com/t5/visio-blog/visually-represent-your-azure-architecture-using-the-latest/ba-p/1634509.  Desktop version support is in the roadmap.

[2021-01-28 00:26] #2543 closed

[2021-01-28 00:32] absheik commented on #2589
A new version Azure_Public_Service_Icons_V4.zip is available for downlead.  Databricks is 3rd party, it is now available under Analytics folder.  PowerBi is still missing, we are working on updating.  We plan on regularly updating these downloads.

[2021-01-28 00:32] #2589 closed

[2021-01-28 00:37] absheik commented on #2599
@jasonhorner, thank you for opening the issue.   A new version of the download file Azure_Public_Service_Icons_V4.zip is available.  Now Databricks is available, others in you request are being triaged.  Closing this issue, please feel free to open new for further questions.

[2021-01-28 00:37] #2599 closed

[2021-01-28 00:39] absheik commented on #2387
A new version of the file Azure_Public_Service_Icons_V4.zip is now available for download.

[2021-01-28 05:44] PramodValavala-MSFT commented on #2604
@vtahlani Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-01-28 05:44] #2604 closed

[2021-01-28 09:03] PramodValavala-MSFT commented on #2614
@kartikbhatt1500 To quote the docs

@doodlemania2 @absheik Could you share more details on others permissions required, if any?

[2021-01-28 09:23] jabbermo commented on #2609
Hi Team,

Just wanted to follow up on this. I understand that requests like these take time, however I am participating in one hackathon within my firm and details about this blockchain implementation in Supply chain on Azure would be of great help to me.

Thank you for your help!

[2021-01-28 15:44] TePeBoxer opened #2618 "Download incorrect and typo"
It's January 2021 and not 20201

The download is still V3 and not V4 as announced in the article

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6624d44c-f9f6-02f8-2c67-0f0637fed62e
* Version Independent ID: 9346a8ff-bab5-be2c-9dc1-d546fda1efa9
* Content: [Azure Icons - Azure Architecture Center](https://docs.microsoft.

[2021-01-28 15:45] absheik commented on #2618
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/367341/>367341</a>

[2021-01-28 18:29] njsee opened #2619 "Problem with shutdown statement - causing customer confusing and concern."
Hi,
A customer raised an issue around shutting down an Azure hosted domain controllers.
They are worried about this statement:

Do not shut down a domain controller VM using Azure portal. Instead, shut down and restart from the guest operating system. Shutting down through the portal causes the VM to be deallocated, which resets both the VM-GenerationID and the invocationID of the Active Directory

[2021-01-28 18:30] absheik commented on #2619
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/367449/>367449</a>

[2021-01-28 19:41] absheik commented on #2618
Don't see the 20201 typo, the download file is now pointing to v4 zip file.

[2021-01-28 19:41] #2618 closed

[2021-01-28 19:43] absheik commented on #2614
This is the terms of use that is included as a pdf in the download zip file

Azure architecture icons
Helping our customers design and architect new solutions is core to the Azure Architecture Center’s
mission. Architecture diagrams like those included in our guidance can help communicate design
decisions and the relationships between components of a given workload. On this page you will find an
o

[2021-01-28 19:43] #2614 closed

[2021-01-28 19:47] absheik commented on #2608
Data Factory is now available, Data Lake Storage Gen 2 is not.  Will let the design team know

[2021-01-28 19:47] #2608 closed

[2021-01-28 22:00] PageWriter-MSFT commented on #2389
@cnadler-MSFT Thanks for opening the issue. The reported text has been fixed. There's a cautionary note that addresses your concerns. https://docs.microsoft.com/en-us/azure/architecture/framework/security/design-identity-authentication#centralize-all-identity-systems.

[2021-01-28 22:00] #2389 closed

[2021-01-29 00:46] ChaitanyaNaykodi-MSFT commented on #2542
Hello @ndriyo,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action. Apologies for the delay.

[2021-01-29 00:50] ChaitanyaNaykodi-MSFT commented on #2550
As the requested changes were updated in the document, we will now proceed to close this issue out. Thank you!

[2021-01-29 00:50] #2550 closed

[2021-01-29 03:31] SatishBoddu-MSFT commented on #2619
@njsee
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-01-29 10:08] sachinb4u opened #2620 "Grammatical error in statement"
[Enter feedback here]
Grammatical error

**_be_** is missing in above statement

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e40cb85c-ee53-7b49-0622-bed8ebedea81
* Version Independent ID: 896e0838-dfd1-c442-414d-ad9ea6dc8f7d
* Content: [Understand data store models - Azure Application Architecture Guide](https://docs

[2021-01-29 10:08] absheik commented on #2620
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/367810/>367810</a>

[2021-01-29 10:48] Sawal72 commented on #2479
\storageaccount.file.core.windows.net\share**.VHD
\storageaccount.file.core.windows.net\share**.VHD

Do you need to rename "storageaccount" and "share" to your own names, or are this generic exclusions which can be used?

[2021-01-29 18:13] PageWriter-MSFT commented on #2540
Thank you for pointing this out. I have updated the links. It should be live shortly.

[2021-01-29 18:13] #2540 closed

[2021-01-29 22:11] SatishBoddu-MSFT commented on #2620
@sachinb4u
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-01-31 04:06] romulobrandino opened #2622 "Wrong Azure Powershell command RM instead of Az"
Hello Microsoft team,

Please update the command on this page, the command Get-AzureRmExpressRouteServiceProvider is not in use anymore, it is a legacy Azure RM, the correct should be Get-AzExpressRouteServiceProvider from Azure Az PowerShell module.

References:
https://docs.microsoft.com/en-us/powershell/module/az.network/get-azexpressrouteserviceprovider?view=azps-5.4.0
https://docs.microsoft.c

[2021-01-31 04:06] absheik commented on #2622
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/368488/>368488</a>

[2021-01-31 14:46] SvenAelterman opened #2623 "Replace Azure Building Blocks with Azure Biceps"
The Azure Building Blocks project has been deprecated. This article should be updated with references to Azure Biceps instead, at least when Biceps hits 0.3 and will be officially supported.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65f26361-0def-4ae9-e28a-8a8d4f97b87f
* Version Independent ID: ef55eb02-6543-88ad-4

[2021-01-31 14:46] absheik commented on #2623
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/368571/>368571</a>

[2021-01-31 23:12] RyanHill-MSFT commented on #2623
Thanks for the feedback @SvenAelterman! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-02-01 23:49] danielkon96 opened #2628 "AWS Traffic Mirroring Equivalent"
The page is missing an Azure equivalent solution for AWS Traffic Mirroring.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b3207bf-471c-33f5-7fb1-0d0a8400e040
* Version Independent ID: f2dc9465-d889-7d8a-02b8-0c0d6125512c
* Content: [Comparing AWS and Azure networking options - Azure Architecture Center](https://docs.

[2021-02-01 23:49] absheik commented on #2628
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/369410/>369410</a>

[2021-02-02 04:07] DavidTaig commented on #2550
I still see foward slash and backslash

![image](https://user-images.githubusercontent.com/38142528/106550977-5612aa00-6568-11eb-90d0-14be7a616336.png)

[2021-02-02 05:42] BhargaviAnnadevara-MSFT commented on #2622
@romulobrandino Thanks for bringing this to our attention. I have submitted a PR to fix the issue that's in review.

[2021-02-02 10:12] brahmasky opened #2631 "Unable to download deployment content"
[Enter feedback here]
Getting the following error while trying to deploy the template from - https://raw.githubusercontent.com/MicrosoftLearning/AZ-301-MicrosoftAzureArchitectDesign/master/allfiles/AZ-301T03/Module_02/LabFiles/Starter/azuredeploy.json

[code]

Looks like the something is wrong with the URL concatenation. Haven't managed to find out the right path to the grafana.json yet.
---
####

[2021-02-02 10:13] absheik commented on #2631
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/369624/>369624</a>

[2021-02-02 16:36] SatishBoddu-MSFT commented on #2631
@brahmasky
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-02-02 17:43] #2622 closed

[2021-02-03 12:38] CyberBeerBrewer opened #2633 "Virtual network peering - broken link"
In the "Virtual network peering" section link to "Peering Overview" is broken(Markdown error).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 104eba32-c77e-b013-e161-ff616d16a0f7
* Version Independent ID: 3bc27d0a-ef32-f5f6-4c85-fe8e2e45155e
* Content: [Hub-spoke network topology in Azure - Azure Reference Architecture

[2021-02-03 12:38] absheik commented on #2633
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/370289/>370289</a>

[2021-02-03 15:38] DavidTaig commented on #2479
Jason Yu from CSS Asia has been working with PG on ticket 120102023002528.

Latest is

![image](https://user-images.githubusercontent.com/38142528/106769795-78541700-6691-11eb-88d6-81f20a9ac041.png)

PS: I have provided an image, as there is an issue in MicrosoftDocs when you enter slash and asterisk together it will strip some characters off.

[2021-02-03 15:53] PramodValavala-MSFT commented on #2633
@CyberBeerBrewer Thanks for catching that! We have worked up a PR to address this, which once merged should reflect in a couple of hours.

[2021-02-03 16:02] #2633 closed

[2021-02-04 12:49] dineshspatelms opened #2637 "Unable to see Azure Architecture image"
Hi Team,

 I am unable to see Azure Architecture image, could you please look into this.

Dinesh
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e4f4c7c-f268-b75b-2486-5c4418e5b24e
* Version Independent ID: 5d28faa1-20bc-1727-05ab-0b18eba1ba7c
* Content: [Data warehousing and analytics - Azure Architecture Center](https

[2021-02-04 12:49] absheik commented on #2637
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/370781/>370781</a>

[2021-02-04 22:22] Chai-NED opened #2642 "Asymmetrical routing"
Two feedbacks for this important  paragraph:

_"Pay special attention to UDRs in the spoke networks. When the application server receives traffic from a specific Azure Firewall instance, like the .7 address in the previous examples, it should send return traffic back to the same instance. If a UDR in the spoke sends traffic addressed to the hub to the Azure Firewall IP address, like the .4 address

[2021-02-04 22:22] absheik commented on #2642
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/370987/>370987</a>

[2021-02-04 22:52] NaomiOooo commented on #2373
Thank you for your comment.  This issue is being reviewed.

[2021-02-04 22:52] #2373 closed

[2021-02-04 23:29] SatishBoddu-MSFT commented on #2642
@Chai-NED
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-02-05 16:41] neilpeterson opened #2644 "test pat swap"

[2021-02-05 16:41] david-stanford commented on #2644
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/371332/>371332</a>

[2021-02-05 16:43] #2644 closed

[2021-02-05 20:03] cdotzenrod opened #2645 "Source Visio Diagram files"
Is there a place or way to get the Visio diagram files for this architecture?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6724a3b3-3c90-3f27-a51d-454819e88f37
* Version Independent ID: 0c1b3984-7fbd-70ab-98e1-a2bb7697876b
* Content: [Profisee master data management with Azure Data Factory - Azure Architectures](http

[2021-02-05 20:04] david-stanford commented on #2645
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/371452/>371452</a>

[2021-02-06 00:24] SatishBoddu-MSFT commented on #2645
@cdotzenrod
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-02-08 16:22] AndyHerb opened #2646 "Question regarding "Performance acceleration""
The final decision asks "Do you require performance acceleration" and pushes towards Front Door + Application Gateway (as opposed to just App Gateway) if the answer is "yes".  There's no clear rational or explanation as to why this decision is there, as it's my understanding that Front Door doesn't provide any performance acceleration improvements over App Gateway, and instead the only appreciable

[2021-02-08 16:23] david-stanford commented on #2646
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/372372/>372372</a>

[2021-02-08 17:13] ChaitanyaNaykodi-MSFT commented on #2631
Hello @brahmasky,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-02-08 22:54] ChaitanyaNaykodi-MSFT commented on #2646
Hello @AndyHerb,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-02-09 09:47] mattcowen opened #2651 "Broken image"
Image is broken under architecture

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e4f4c7c-f268-b75b-2486-5c4418e5b24e
* Version Independent ID: 5d28faa1-20bc-1727-05ab-0b18eba1ba7c
* Content: [Data warehousing and analytics - Azure Architecture Center](https://docs.microsoft.com/en-ca/azure/architecture/example-scenar

[2021-02-09 09:47] david-stanford commented on #2651
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/372867/>372867</a>

[2021-02-09 09:47] mattcowen opened #2652 "Broken image"
Image is broken under architecture

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e4f4c7c-f268-b75b-2486-5c4418e5b24e
* Version Independent ID: 5d28faa1-20bc-1727-05ab-0b18eba1ba7c
* Content: [Data warehousing and analytics - Azure Architecture Center](https://docs.microsoft.com/en-ca/azure/architecture/example-scenar

[2021-02-09 09:47] david-stanford commented on #2652
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/372868/>372868</a>

[2021-02-09 09:48] #2651 closed

[2021-02-09 22:14] solutionarchitech opened #2655 "Serverless apps using Cosmos DB - Architecure"
Hi,

The architecture of Serverless apps using Cosmos DB is impressing. Could you please share more information on that please?

Thanks
Mg

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 779b0c0e-591b-2a38-5076-1c3c046e662c
* Version Independent ID: d681f23c-1480-b49c-bbc6-f38d76958f7e
* Content: [Serverless apps using

[2021-02-09 22:14] david-stanford commented on #2655
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/373164/>373164</a>

[2021-02-09 22:57] harrchen88 opened #2656 "Secure DevOps for AKS"
Love to see this article is expanded with labs and cost information:
https://docs.microsoft.com/en-us/azure/architecture/solution-ideas/articles/secure-devops-for-kubernetes

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc547e3a-5433-08eb-9bc2-c0a44e4280a5
* Version Independent ID: 3ab8ba71-f5c5-dcb4-c1be-cde8b61cda34

[2021-02-09 22:57] david-stanford commented on #2656
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/373200/>373200</a>

[2021-02-10 19:27] neilpeterson commented on #2652
Thanks for opening this issue - this has been updated and will publish today.

[2021-02-10 19:27] #2652 closed

[2021-02-10 19:28] neilpeterson commented on #2637
Thanks for opening this issue. This has been updated and will publish today.

[2021-02-10 19:28] #2637 closed

[2021-02-11 13:54] midhunkumarsingh opened #2664 "Can't download all the content when clicked on 'Download PDF'"
Hi, Team.

Can't download all the content when clicked on 'Download PDF', mostly all white-pages are download from 'Internet of Things', below is the image for your reference.

![image](https://user-images.githubusercontent.com/7599305/107645353-97a90080-6c9e-11eb-989a-417a021c5966.png)
Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2021-02-11 13:54] david-stanford commented on #2664
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/374094/>374094</a>

[2021-02-12 16:46] ElanShudnow opened #2665 "Missing comparison around Azure Databox Gateway"
Surprised this article doesn't mention Azure Databox Gateway

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c6e037b-a226-62cf-6e2b-2af8783b7add
* Version Independent ID: c666597e-52ae-ee51-474a-c4dd3a63941b
* Content: [Choosing a data transfer technology - Azure Architecture Center](https://docs.microsoft.com/en-us/az

[2021-02-12 16:46] david-stanford commented on #2665
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/375056/>375056</a>

[2021-02-12 21:37] Gizzmonauta opened #2666 "I would like more info on implementation details and pricing for the Web and Mobile Front Ends architecture"
I am looking at the web and mobile front ends architecture presented in https://docs.microsoft.com/en-us/azure/architecture/solution-ideas/articles/front-end, as it is exactly the architecture I need for a project I'm designing, and I would like some more inform on implementation details and some guidence on the pricing.

The same web site mentions:
_Solution Idea
If you'd like to see us expand th

[2021-02-12 21:38] david-stanford commented on #2666
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/375256/>375256</a>

[2021-02-14 09:11] vibhatrehan opened #2669 "Definition of Big Data is confusing"
In the Big Data section, the statement "Big data solutions typically involve a large amount of non-relational data" doesn't seem to be right. It is possible to ingest (say) structured CSV files in high volume on Hadoop cluster or stream CDC inputs from a relational database like Oracle. NoSQL is only a different structuring of data and may or may not come under "big data" category. Typically, big

[2021-02-14 09:11] david-stanford commented on #2669
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/375583/>375583</a>

[2021-02-14 18:53] neilpeterson commented on #2623
@SvenAelterman thanks for opening this issue. I am in the process of updating this deployment to use native ARM. Ill update once complted.

[2021-02-15 16:50] PramodValavala-MSFT commented on #2669
@vibhatrehan Thanks for the feedback! I suppose that is more of a statistic and perhaps semi-structured is a better way to put it.

We have assigned this issue to the content author to further review.

[2021-02-16 15:58] deathgaze opened #2673 "What is $ASSIGNEE?"
Article is not useful because it is missing information on how to obtain nescessary data to assign to $ASSIGNEE environment variable.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3af2f117-85b5-b53e-b9b8-58c43a0aac71
* Version Independent ID: 0640e0e2-04d8-e056-78e8-977bb7a559dc
* Content: [AKS triage - container regi

[2021-02-16 15:58] david-stanford commented on #2673
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/376296/>376296</a>

[2021-02-16 16:01] #2673 closed

[2021-02-16 16:02] deathgaze commented on #2673
Missed some critical context.

[2021-02-18 07:52] lvalencia opened #2675 "Additional Issues and Considerations"
In _Queue-Based Load Leveling pattern_ under _issues and considerations_ I feel there are a couple more considerations that might be worth mentioning.

1) Depending on the load of the service, you can run into a situation where you're effectively always trailing behind. i.e. you're always queuing up more requests than you're burning down. So the kind of traffic of your application needs to be take

[2021-02-18 07:52] david-stanford commented on #2675
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/377412/>377412</a>

[2021-02-18 08:48] erjosito commented on #2642
Hey @Chai-NED thanks for the feedback. I have tried to clarify in https://github.com/MicrosoftDocs/architecture-center-pr/pull/2470, would you agree with the changes proposed?

[2021-02-18 08:55] erjosito commented on #2545
@msrini-MSFT I have just merged a new version of the doc with a simplified version of the chart. Does the new version address your concerns?

[2021-02-18 17:00] JeffSmalley opened #2676 "Azure Load Balance- Regional or Global"
I see that this page has a chart that has reclassified the Azure Load Balancer as Global not Regional. It was listed as Regional before.  Why has this changed?  Traffic Manager and Front Door would be the Global items while Traffic Manager and Load Balancer as Regional.

Cheers,
Jeff Smalley MCT
Chicagoville

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2021-02-18 17:00] david-stanford commented on #2676
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/377614/>377614</a>

[2021-02-19 07:15] erjosito opened #2678 "AzFW Premium link broken"
The AzFW Premium link is broken, trying to fix it with https://github.com/MicrosoftDocs/architecture-center-pr/pull/2479

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb4e04dc-fc84-e958-89a8-e144ed5564b0
* Version Independent ID: 795ef2fa-a126-8ded-d75d-3eb8811f4a23
* Content: [Firewall and Application Gateway for vir

[2021-02-19 07:15] david-stanford commented on #2678
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/377976/>377976</a>

[2021-02-19 09:26] JayaC2019 commented on #2676
@JeffSmalley Thank you for reaching out. You may refer to : https://docs.microsoft.com/en-us/azure/load-balancer/cross-region-overview . This might explain why it is marked as "Global". However, I will reconfirm the same at the earliest.

[2021-02-19 09:30] JayaChatterjee-MSFT commented on #2676
@JeffSmalley Thank you for reaching out. You may refer to : https://docs.microsoft.com/en-us/azure/load-balancer/cross-region-overview . This might explain why it is marked as "Global". However, I will reconfirm the same at the earliest.

[2021-02-19 14:00] PramodValavala-MSFT commented on #2678
@erjosito Closing this since the PR has been merged. Thanks!

[2021-02-19 14:20] erjosito commented on #2678
Hey @PramodValavala-MSFT. The PR is merged, but the problem still exists. Could you please reopen this?

[2021-02-19 14:37] PramodValavala-MSFT commented on #2678
@erjosito Since the PR was in the private repo, it will reflect in the next sync between the repos. Rest assured, it should reflect by tomorrow.

[2021-02-19 16:52] daviddesmet opened #2679 "Maximum pods per node is incorrect or outdated"
Under _Configure compute for the base cluster_ it mentions "The maximum pods per node, is set to 30, which is also the default." but for CNI the maximum is currently 250 as stated in the docs found here:

https://docs.microsoft.com/en-us/azure/aks/configure-azure-cni#configure-maximum---new-clusters

The default varies depending on the method of cluster deployment which could be 30 for Azure CLI a

[2021-02-19 16:52] david-stanford commented on #2679
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/378215/>378215</a>

[2021-02-20 11:41] erjosito commented on #2678
@PramodValavala-MSFT Still not there... Additionally, the localized web site versions I have tried (fr-fr, es-es) are even further behind.

This issue is not fixed yet.

[2021-02-20 21:08] Skmonkay commented on #2440
Hi,

I have not had any luck in testing a simple vnet01-Hub-vnet02 spoke-to-spoke connection without a vNA involved.

I have tested options with peerings enabled with transit, routing tables etc. and no luck so far.

Google searches produce the same results i.e. without that vNA it's not a native solution.

[2021-02-22 20:47] ChaitanyaNaykodi-MSFT commented on #2675
Hello @dragon119, apologies for the delay, can you please have a look at the considerations made above? Thank you!

[2021-02-22 22:09] deltadan opened #2680 "Seems really old"
This article is from 2017? Should be retired or updated maybe?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98e6cd92-676a-6d6f-2ea8-ebe9301f59a9
* Version Independent ID: edfbb571-5bcf-2339-2cce-5e6a22fd591c
* Content: [Autoscaling guidance - Best practices for cloud applications](https://docs.m

[2021-02-22 22:09] david-stanford commented on #2680
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/379639/>379639</a>

[2021-02-22 22:19] Chai-NED commented on #2642
Hi Jose,

I got a 404 clicking on the link.

Thanks,

Chai
________________________________
From: Jose Moreno <notifications@github.com>
Sent: Thursday, February 18, 2021 3:48:50 AM
To: MicrosoftDocs/architecture-center <architecture-center@noreply.github.com>
Cc: Chai-NED <Csadvisor@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/architecture-center] Asymmetrical ro

[2021-02-23 04:43] PramodValavala-MSFT commented on #2678
@david-stanford Could you share insights on the deployment? Looks like the public repo has the change already but the public site doesn't seem to.

[2021-02-23 05:57] PramodValavala-MSFT commented on #2679
@daviddesmet Thanks for the feedback! As far as the default is concerned, 30 seems right except the portal which you've mentioned.

Do note that this recommendation is for system nodes which usually run lighter nodes and are best kept light to ensure smooth operation.

We have assigned this issue to the content author to further review and to update the doc if required.

[2021-02-23 09:00] erjosito commented on #2678
FYI: it feels weird having a closed issue for a problem which is still happening

[2021-02-23 09:01] PramodValavala-MSFT commented on #2678
My bad. Thought I had reopened this.

[2021-02-23 09:03] erjosito commented on #2642
Hey @Chai-NED ah, sorry it must be because it is a PR on the private repo. The new text I put goes like this, is it better now?:

- Pay special attention to UDRs in the spoke networks: When an application server in a spoke receives traffic from a specific Azure Firewall instance, like the `192.168.100.7` address in the previous examples, it should send return traffic back to the same instance. If

[2021-02-23 15:13] Dacolo opened #2681 "Azure ML models training integration"
While the article is more related to ML models in general terms would be great to have this feature is Azure ML

[2021-02-23 15:14] david-stanford commented on #2681
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/380370/>380370</a>

[2021-02-24 06:56] JayaChatterjee-MSFT commented on #2681
@Dacolo Thank you for the question. We will review and get back to you.

[2021-02-24 07:02] JayaChatterjee-MSFT commented on #2676
@JeffSmalley Following up to understand whether my previous comment helps and works out for the mentioned problem statement. Also I have confirmed that the document I shared is the latest one and it explains why it is marked as "Global".

[2021-02-24 07:02] #2601 closed

[2021-02-24 20:22] hallihan commented on #2681
@Dacolo - can you add a link to the specific article and section?  Also, can you add some more details?  Is this a feature request specifically for Azure ML, or a request for clarification or more detail in the doc?  Thanks!

[2021-02-24 23:48] Chai-NED commented on #2642
Hi Jose,

How would do this?

"Make sure that if you have UDRs in the spoke VNets to send traffic to shared services in the hub through the Azure Firewall, these UDRs do not include the prefix of the Azure Firewall subnet."

If the spoke network is peered to the hub network, the prefix of the hub would be the super set of my Azure Firewall subnet.   Says Hub VNET CIDR is 10. 71.0.0/24 and the subn

[2021-02-25 00:06] NWiddup opened #2684 "Add reference to Multi-Region SQL AOAG deployment"
Please consider adding a reference in the Related Resources section for [Configure a SQL Server Always On availability group across different Azure regions](https://docs.microsoft.com/en-us/azure/azure-sql/virtual-machines/windows/availability-group-manually-configure-multiple-regions), as this model for the data tier which is being presented in this architecture.

---
#### Document Details

⚠ *Do

[2021-02-25 00:07] david-stanford commented on #2684
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/381387/>381387</a>

[2021-02-25 11:24] Dacolo commented on #2681
Hi Team

We get a lot of request on training ML/DL models on AKS. This is not yet a feature available in Azure ML. So what happens is that people will create a docker container themselves and put it on AKS and run it. However they get into performance problems on how to scale pods etc. So would be great to have a document that explains with examples how to train a scikit-learn model, a pyspark mod

[2021-02-25 15:33] shashishailaj commented on #2684
Thank you for responding @david-stanford .

We will be closing this issue now as we have an internal bug already in our backlog related to this request .

Thank you.

[2021-02-25 15:33] #2684 closed

[2021-02-25 20:58] neilpeterson commented on #2582
@jfmatth I've added a other tools section to this docs with Podman in the list. This should publish soon, thanks for the suggestion.

[2021-02-25 20:58] #2582 closed

[2021-02-26 00:30] jfmatth commented on #2582
@neilpeterson Thanks so much.  I feel great, I've contributed to something from MS, nice!

[2021-02-26 11:50] reub-the-cube opened #2686 "Include CosmosDB Table API in the data store decision tree"
Could the data decision tree include CosmosDB Table API? I understand that it's preferred over the Azure Table Storage, but I haven't read that - for example - you should/could choose SQL API over Table API if you have simple key/value storage? It seems like it's forgotten, although I could be ignorant of some decision making.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2021-02-26 11:51] david-stanford commented on #2686
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/382421/>382421</a>

[2021-03-01 12:52] dgpoulet opened #2687 "Update Cosmos DB Partition Size Discussion"
In the section talking about Cosmos DB it says: "If you store a separate document for every device message, using the device ID as a partition key would quickly exceed the 10-GB limit per partition"

The current logical partition size limit is now 20 GB. Also, the discussion makes it seem like you **have** to pick a particular attribute for a partition key, when it's quite common in these scenario

[2021-03-01 12:53] david-stanford commented on #2687
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/383637/>383637</a>

[2021-03-01 16:47] erjosito commented on #2642
You can go to my blog post here for the details: https://blog.cloudtrooper.net/2020/11/28/dont-let-your-azure-routes-bite-you/. I could include the image https://1138blog.files.wordpress.com/2020/11/image-22.png?w=376 in this doc, but I am afraid that will add too much detail for a design document and potentially turn it into a How-To.

[2021-03-02 07:55] Marusyk commented on #2514
Seems to be fixed.

[2021-03-02 07:55] #2514 closed

[2021-03-02 17:31] erjosito commented on #2678
Everything is fine now!

[2021-03-02 17:31] #2678 closed

[2021-03-02 21:28] erjosito commented on #2642
Merged, I finally decided to include a diagram

[2021-03-02 23:26] neilpeterson opened #2688 "ADAL is being depreciated"
ADAL is being depreciated and should be removed from this article. See this article for details:

https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-migration

Cc: @mmacy

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab204a8d-c451-ef99-6610-139a0dee61ac
* Version Independent ID: 23a69ae2-70bc-aab5-bb

[2021-03-02 23:26] david-stanford commented on #2688
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/384777/>384777</a>

[2021-03-03 00:10] mmacy commented on #2688
Also in relation to the following Microsoft-internal Azure DevOps work item:

ID | Title | Iteration Path
-- | -- | --
[1308698](https://identitydivision.visualstudio.com/Technical%20Content/_workitems/edit/1308698) | [ADAL] replace references of ADAL with MSAL in Azure Architecture Center | Technical Content\FY21 H2\FY21_03_Mar

Cc: @aiwangmicrosoft

[2021-03-03 04:09] saheemsiddiqi opened #2689 "SeatAvailability aggregate broken?"
In the SeatAvailability example, how do we account for overbooking?  If two transactions are concurrently running, they may read the same event stream, determine the same number of available seats, and emit a Reservation event.  Consider if there is 1 seat remaining, and the two concurrently running transactions reserve 1 seat each.

We don't have a central record that is being updated, so optimis

[2021-03-03 04:09] david-stanford commented on #2689
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/384891/>384891</a>

[2021-03-04 02:02] jeromeecho opened #2693 "typo of content"
[Enter feedback here]
Mean Time Between Failures (MTBF) — The average time between failures of a particular component.
duplicated sentence in "Availability targets" section of the article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60422eab-f284-4d0f-a856-3910e017b89b
* Version Independent ID: 05eebcc2-4193-def3-ee

[2021-03-04 02:02] david-stanford commented on #2693
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/385595/>385595</a>

[2021-03-04 04:56] jeckad opened #2694 "Test1"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f815c98d-c54b-a6cb-b77b-27c9fa99b3a3
* Version Independent ID: f78699f2-a847-f5cc-54bb-2730faf0b755
* Content: [Building solutions for high availability using Availability Zones - High Availability](https://docs.microsoft.com/en-us/azure/architecture/

[2021-03-04 04:57] david-stanford commented on #2694
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/385659/>385659</a>

[2021-03-04 20:34] TravisCragg-MSFT commented on #2694
@jeckad I am going to go ahead and close out this issue, let me know if you have any questions regarding your test.

[2021-03-04 20:34] #2694 closed

[2021-03-04 20:40] Chai-NED commented on #2642
Hi Jose,

Thank you for diagram!!  I think it will help many others.  There is another minor touch-up that I see in this important paragraph.

  *   Pay special attention to UDRs in the spoke networks: When an application server in a spoke receives traffic from a specific Azure Firewall instance, like the 192.168.100.7 address in the previous examples, it should send return traffic back to the sam

[2021-03-05 00:41] Kumar9676 opened #2695 "Usage with pyspark"
Is it possible to use this in pyspark notebooks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f728cb2-b203-6b2f-4e3c-9d0e1be2516f
* Version Independent ID: 9ed58ead-f4d0-d9d0-01fe-82b11be235a7
* Content: [Send Azure Databricks application logs to Azure Monitor - Azure Architecture Center](https://docs.microsoft.com/

[2021-03-05 00:42] david-stanford commented on #2695
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/386210/>386210</a>

[2021-03-05 01:11] apusingh1967 opened #2696 "How to get license for evaluation?"
For step 'Deploy the scenario', how to obtain license for trial? Thx

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6724a3b3-3c90-3f27-a51d-454819e88f37
* Version Independent ID: 0c1b3984-7fbd-70ab-98e1-a2bb7697876b
* Content: [Profisee master data management with Azure Data Factory - Azure Architectures](https://docs.

[2021-03-05 01:11] david-stanford commented on #2696
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/386218/>386218</a>

[2021-03-05 10:47] erjosito commented on #2642
Not sure I follow, the 192.168.0.0/16 UDR is what causes the asymmetric routing

[2021-03-05 12:11] jnimander opened #2697 "No mention of testing tools"
The title of the page is "Testing tools" but I see no mention of any testing tools on the page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c67eba0-d85b-56e6-35bb-841a98cd1e38
* Version Independent ID: c2c66e14-b4c4-c3a4-343d-3e512d30a088
* Content: [Testing tools - Azure Architecture Center](https://docs.microsoft

[2021-03-05 12:11] david-stanford commented on #2697
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/386461/>386461</a>

[2021-03-06 01:57] psmanhas commented on #2697
@jnimander
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-03-06 02:50] shashishailaj commented on #2695
@Kumar9676 We have an internal request for checking on your query . We will update this thread once we have any update.

[2021-03-06 02:51] shashishailaj commented on #2696
@apusingh1967 We are checking this internally and will update the thread.

[2021-03-07 01:45] Chai-NED commented on #2642
Hi Jose,

You are right. I am struggling to understand how Spoke traffic could be forced  to the firewall while the firewall prefix has to be excluded.  Could you give an example of a UDR that does not include the firewall subnet?

Thanks,

Chai

Thanks,

Chai

________________________________
From: Jose Moreno <notifications@github.com>
Sent: Friday, March 5, 2021 5:48:09 AM
To: MicrosoftDocs/arc

[2021-03-07 23:27] apusingh1967 commented on #2696
thnku

From: ShashiShailaj-MSFT <notifications@github.com>
Reply-To: MicrosoftDocs/architecture-center <reply@reply.github.com>
Date: Friday, March 5, 2021 at 9:52 PM
To: MicrosoftDocs/architecture-center <architecture-center@noreply.github.com>
Cc: Apurva Singh <Apurva_Singh@manulife.ca>, Mention <mention@noreply.github.com>
Subject: [EXTERNAL] Re: [MicrosoftDocs/architecture-center] How to get l

[2021-03-07 23:39] beheb opened #2698 "Incorrect Visio file link"
The visio file link on this page is marked as a .zip file, but is actually the vsdx file. Not a difficult process to change the file extension after download, but may be helpful to others if you can correct the link.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd0b3eb4-8e2b-3d18-6d58-f38aceeaef78
* Version

[2021-03-07 23:39] david-stanford commented on #2698
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/387446/>387446</a>

[2021-03-08 06:29] PramodValavala-MSFT commented on #2696
@apusingh1967 like mentioned under the [pricing section](https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/data/profisee-master-data-management-data-factory#pricing), this is something you will have to work with [profisee](https://profisee.com/contact/) directly.

[2021-03-08 08:57] BhargaviAnnadevara-MSFT commented on #2698
@beheb The Visio file link does actually download a `vsdx` file that I'm able to open on Visio. Do you see different?

This is the hyperlink it points to: https://archcenter.blob.core.windows.net/cdn/azure_stack_robo.vsdx

[2021-03-08 16:12] DeanGross opened #2699 "Which AWS App from the Gallery?"
There are several AWS apps in the App Gallery, which one are we supposed to use?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6b08461-26fb-d148-a749-9b61217af0f8
* Version Independent ID: 1329c651-e8f6-cc68-4205-739dfbbcef4f
* Content: [Azure Active Directory security for AWS - Azure Reference Architectures](https://

[2021-03-08 16:13] david-stanford commented on #2699
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/387813/>387813</a>

[2021-03-08 16:37] richarddiver-ms opened #2700 "AWS SSO is confused with "setting up SSO in AWS""
There is a section in this document that states the user should setup "AWS SSO" with a link to another document that also says "AWS SSO". Both of these documents were written before the official AWS SSO approach and associated Azure AD Enterprise app for AWS SSO was a thing.

We need to change the wording to explain we are setting up SSO in AWS, we are not using the AWS SSO "feature" or the Azure

[2021-03-08 16:37] david-stanford commented on #2700
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/387839/>387839</a>

[2021-03-08 21:47] funkitptent opened #2703 "There it is, the nasty bug"

[2021-03-08 21:47] david-stanford commented on #2703
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/388043/>388043</a>

[2021-03-08 22:04] neilpeterson commented on #2703
@funkitptent can you provide more details?

Thanks

[2021-03-08 22:34] erjosito commented on #2642
I have that in my blog listed above, but that is not the topic of the article.

[2021-03-09 02:15] Chai-NED commented on #2642
Hi Jose,

  1.  The link to your blog did not come through.
  2.  Can you explain the purpose of the highlighted route?

[cid:6885abab-2240-4cb9-8bc5-4ff4147aadae]
________________________________
From: Jose Moreno <notifications@github.com>
Sent: Monday, March 8, 2021 5:34 PM
To: MicrosoftDocs/architecture-center <architecture-center@noreply.github.com>
Cc: Chai-NED <Csadvisor@outlook.com>; Menti

[2021-03-09 09:20] erjosito commented on #2642
https://blog.cloudtrooper.net/2020/11/28/dont-let-your-azure-routes-bite-you/

This is exactly why I didnt want to put the diagram, otherwise I need to explain everything and deviate from the article's main topic. The route in red is the one causing the asymmetric routing.

[2021-03-09 09:36] thommck opened #2704 "Synapse"
Where does Synapse fit in this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 560fb3dc-3a89-aa28-f4c1-564f7920f5ca
* Version Independent ID: b5255403-369f-9324-fb16-02526b24dba6
* Content: [Online analytical processing (OLAP) - Azure Architecture Center](https://docs.microsoft.com/en-us/azure/architecture/data-guide/r

[2021-03-09 09:36] david-stanford commented on #2704
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/388341/>388341</a>

[2021-03-09 12:26] PramodValavala-MSFT commented on #2695
@Kumar9676 Based on [this comment](https://github.com/mspnp/spark-monitoring/issues/50#issuecomment-533778984), any logs generated by spark should be captured but custom logs require a couple of steps as described here.

We have assigned this issue to the content author to review and update accordingly.

[2021-03-09 12:28] PramodValavala-MSFT commented on #2696
@apusingh1967 Just following up here... Hope my previous comment clears things up.

Since there is no doc update required here, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-09 12:28] #2696 closed

[2021-03-09 14:38] mejavier opened #2705 "Predicting Leght stay at hospital"
https://docs.microsoft.com/es-es/azure/architecture/solution-ideas/articles/predicting-length-of-stay-in-hospitals

Dear,

I would like to contact someone who can bring me the code of this, because it si needed by one customer. I am belonging to Avanade Spain and it is a good customer.
Kind regards.
Javier Morales.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2021-03-09 14:38] david-stanford commented on #2705
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/388478/>388478</a>

[2021-03-09 14:52] Chai-NED commented on #2642
Hi Jose,

You have a great write up for the solution that should be incorporate in the official doc. I can see your point of view of not wanting to explain everything, but my opinion differs. Many thousands of people like me in pre-sales rely on Microsoft public doc (not blog) as a gold reference to our customers. We hold Microsoft to a very high standard and expect Microsoft to deliver so we can

[2021-03-09 17:05] nastassiar opened #2707 "Broken Link for Emotions API"
I'm not sure if the API no longer is available or if the link is just broken but in [On this page](https://docs.microsoft.com/en-us/azure/architecture/aws-professional/services#ai-and-machine-learning) in the AI and machine learning section it has a link to the [Emotions](https://azure.microsoft.com/services/cognitive-services/emotion/) that no longer exists.

---
#### Document Details

⚠ *Do not

[2021-03-09 20:17] elvisboats opened #2708 "This is terrific!"
Hey, wanted to express my thanks - this is a GREAT working solution architecture. I'm currently engaged with a company that is looking for something similar using APIM as a hub. I'd love a discussion with the architects involved. But - my main point- this was clear, went through the use of SAGA to compensate for the loss of ACID in a transactional world... very well written. Kudos!
---
#### Docume

[2021-03-09 20:23] neilpeterson commented on #2708
@elviscoats - thanks for the feedback, really appreciate the Kudos and will share with the team.

[2021-03-09 20:23] #2708 closed

[2021-03-09 22:23] JasperWoo opened #2709 "aaaaa"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df1b8746-e961-0add-3f48-de5c6db487f1
* Version Independent ID: db9978bd-576b-a719-47a0-7c6ecb7361ac
* Content: [Comparing AWS and Azure accounts and subscriptions - Azure Architecture Center](https://docs.microsoft.com/en-us/azure/architecture/aws-pro

[2021-03-09 22:23] #2709 closed

[2021-03-09 22:23] david-stanford commented on #2709
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/388783/>388783</a>

[2021-03-10 05:09] BhargaviAnnadevara-MSFT commented on #2707
@nastassiar Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2021-03-10 13:34] epomatti opened #2710 "Services Bus icon is incorrect"
Services Bus icon is incorrect

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6624d44c-f9f6-02f8-2c67-0f0637fed62e
* Version Independent ID: 9346a8ff-bab5-be2c-9dc1-d546fda1efa9
* Content: [Azure Icons - Azure Architecture Center](https://docs.microsoft.com/en-us/azure/architecture/icons/)
* Content Source: [docs/icons

[2021-03-10 13:35] david-stanford commented on #2710
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/389238/>389238</a>

[2021-03-10 15:20] mslot opened #2712 "Sec instead of msec in background or batch section"
Here https://docs.microsoft.com/en-us/azure/architecture/best-practices/retry-service-specific#retry-usage-guidance-2 you write msec in the 3. and 4. attempt in the "Background or batch", but doesn't you mean sec?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8194899c-dee2-70ac-422a-edc06e779f7c
* Version Independent

[2021-03-10 15:20] david-stanford commented on #2712
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/389294/>389294</a>

[2021-03-10 17:46] PramodValavala-MSFT commented on #2704
@thommck Just following up here... Hope my previous comment clears things up.

[2021-03-10 22:01] DigiFab opened #2713 "Summary table zonal (Z) and zone-redundant (ZR) Azure services."
Some services seem to be missing
- Azure PostgreSQL Flexible Server (ZR)
- Azure MySQL Flexible Server (ZR)
- Azure Managed Disks (ZRS) in preview)

Some questions too
- Should not ExpressRoute be both (Z, ZR)
- Should not Application Gateway v2 be both (Z, ZR)

This table is interesting but does not look up-to-date and fully accurate. Thanks.

---
#### Document Details

⚠ *Do not edit this sectio

[2021-03-10 22:01] david-stanford commented on #2713
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/389551/>389551</a>

[2021-03-11 07:10] Gangadhar-B opened #2714 "Change in document impacts"
[Enter feedback here]
Hi there,

Seems the documentation has been changed recently and the header of Azure SQL Database has been renamed to Azure SQL Managed Instance and that caused my development strategy to change completely. I have a screenshot of this documentation stating R/Python is supported for Azure SQL Database from last December. So does it mean all that was mentioned for Azure SQL Dat

[2021-03-11 07:10] david-stanford commented on #2714
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/389815/>389815</a>

[2021-03-11 10:05] PramodValavala-MSFT commented on #2704
Yes. Synapse has many more capabilities covering ones from OLAP and OLTP too. I am assigning this issue to one who can provide more insights on this and drive doc updates as required.

[2021-03-12 09:42] timja opened #2715 "OMS link on DevOps checklist redirects to page not reflecting the links intention"
Hi

Links to https://www.microsoft.com/cloud-platform/operations-management-suite which redirects to https://azure.microsoft.com/en-gb/services/virtual-machines/secure-well-managed-iaas/, I don't think the new content at the link reflects what was intended from the original link.

Possibly it should link here instead: https://azure.microsoft.com/en-gb/services/monitor/ and be renamed Azure Monitor

[2021-03-12 09:42] david-stanford commented on #2715
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/390619/>390619</a>

[2021-03-12 15:49] mikelor opened #2717 "Community Jury Link to Microsoft Community Jury Case Study Results in HITS Unauthorized Erorr"
In the Next Steps section at the bottom of the page, there is a link to a Microsoft Case Study on Community Jury.

Clicking on the link results in
HITS
Unauthorized
Possible causes: You may not have sufficient permissions to view this page.

Click here to go to HITS homepage.
Sign out of HITS and sign in again.
Email HITS911@microsoft.com for additional support.

https://hits.microsoft.com/Error40

[2021-03-12 15:49] david-stanford commented on #2717
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/390926/>390926</a>

[2021-03-12 17:20] erjosito commented on #2545
@PramodValavala-MSFT Can we close this? I dont think I have the required privilege to close this...

[2021-03-12 17:20] erjosito commented on #2545
#close

[2021-03-12 17:24] #2642 closed

[2021-03-12 17:24] erjosito commented on #2642
Just added a comment to explain that. Better?

[2021-03-12 22:13] AnalyticJeremy commented on #2714
@Gangadhar-B, you are correct.  Originally, the Machine Learning Services (which are still in public preview) were slated to be part of the [Azure SQL Database](https://azure.microsoft.com/services/sql-database/) service, and the "R Developer's Guide to Azure" document reflected that.

However, we have since decided to move this feature to be part of Azure SQL Managed Instance, and we have updated

[2021-03-12 22:43] Petrus1975 opened #2719 "Azure Icons are in HTML vs. SNG format"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6624d44c-f9f6-02f8-2c67-0f0637fed62e
* Version Independent ID: 9346a8ff-bab5-be2c-9dc1-d546fda1efa9
* Content: [Azure Icons - Azure Architecture Center](https://docs.microsoft.com/en-us/azure/architecture/icons/?WT.mc_id=thomasmaurer-blog-thmaure)
* C

[2021-03-12 22:44] david-stanford commented on #2719
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/391141/>391141</a>

[2021-03-12 22:45] Petrus1975 commented on #2719
I can't download Azure icons in the proper format so I can use it. It kept giving me the HTML type instead of SNG!

Any idea?

[2021-03-13 14:56] hendramarcos opened #2720 "Architecture"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 830e1782-9caa-3533-10a0-85a3d4483d24
* Version Independent ID: d66583fa-188c-9dce-b6fd-84b34c0bf315
* Content: [Real time processing - Azure Architecture Center](https://docs.microsoft.com/en-us/azure/architecture/data-guide/big-data/real-time-process

[2021-03-13 14:56] david-stanford commented on #2720
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/391348/>391348</a>

[2021-03-14 04:36] BhargaviAnnadevara-MSFT commented on #2720
@hendramarcos Could you please elaborate on the feedback you intend to provide?

[2021-03-15 04:02] neilpeterson opened #2721 "Testing new parent assignment user story"

[2021-03-15 04:02] david-stanford commented on #2721
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/391954/>391954</a>

[2021-03-15 04:20] BhargaviAnnadevara-MSFT commented on #2720
@hendramarcos Any further update here?

[2021-03-15 04:21] #2721 closed

[2021-03-15 04:56] CHEEKATLAPRADEEP-MSFT commented on #2704
@thommck, Synapse is an OLAP repository.

Data Lake + SQL Pool + Spark Clusters, taken together, are a Big Data “Online Analytical Processing” solution.  It’s not an OLTP system.

But Synapse also contains the orchestration pieces from Data Factory.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue

[2021-03-15 04:56] #2704 closed

[2021-03-15 06:08] PramodValavala-MSFT commented on #2545
@erjosito Yes. Thanks for the update!

[2021-03-15 06:08] #2545 closed

[2021-03-15 15:29] Chai-NED commented on #2642
Yes! The explanation is concise and precise. I don't see the solution, using small CIDR for shared service, that you mentioned in the blog. Did I miss it on the MS doc?
________________________________
From: Jose Moreno ***@***.***>
Sent: Friday, March 12, 2021 12:25 PM
To: MicrosoftDocs/architecture-center ***@***.***>
Cc: Chai-NED ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/ar

[2021-03-15 15:43] erjosito commented on #2642
Mmmh, the PR is merged (https://github.com/MicrosoftDocs/architecture-center-pr/pull/2582), but changes do not seem to appear in the docs yet... Here the text I added after the picture:

"The solution for this asymmetric routing problem is defining UDRs in the spoke that do not contain the Azure Firewall subnet, but only the subnets where the shared services are located. In the example of the prev

[2021-03-15 17:45] MutazNase opened #2723 "a"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 111d7b49-94b6-abd9-c21a-fb0bace59114
* Version Independent ID: 5d9aa212-cbb2-803c-2ea9-6da76c7a9394
* Content: [Microsoft Azure Well-Architected Framework - Microsoft Azure Well-Architected Framework introduction](https://docs.microsoft.com/en-us/azur

[2021-03-15 17:46] david-stanford commented on #2723
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/392407/>392407</a>

[2021-03-15 18:44] Chai-NED commented on #2642
Very cool! That's strange. Perhaps, CDN has something to do with it.  I will keep checking.
________________________________
From: Jose Moreno ***@***.***>
Sent: Monday, March 15, 2021 11:43 AM
To: MicrosoftDocs/architecture-center ***@***.***>
Cc: Chai-NED ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/architecture-center] Asymmetrical routing (#2642)

Mmmh, the PR is merged (Micr

[2021-03-16 04:40] Rajanavuluri opened #2724 "multi region app with private database connectivity"
[Enter feedback here]
It is better to add explanation with video content

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0461064-5b0f-2722-c228-cc04aef150c9
* Version Independent ID: 705b8a1a-787e-c09f-dff3-c25373743d1d
* Content: [Multi-region web app with private connectivity to database - Azure Example Scenarios](ht

[2021-03-16 04:40] david-stanford commented on #2724
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/392964/>392964</a>

[2021-03-16 06:54] BhargaviAnnadevara-MSFT commented on #2720
@hendramarcos We will now proceed to close this thread, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-03-16 06:54] #2720 closed

[2021-03-16 10:02] PramodValavala-MSFT commented on #2723
@MutazNase Looks like you've created the issue before sharing all the details here. Could you please update your original post?

[2021-03-16 17:16] jelledruyts commented on #2724
Thanks for the suggestion but Azure Architecture Center is currently oriented at written content, there are no plans to record a video for this unfortunately.

[2021-03-16 17:34] #2723 closed

[2021-03-17 01:39] hanwesh opened #2725 "Update around connecting ASC to sentinel"
Hi team,

I think this page need some updates around connect ASC to sentinel. There is no ASC in data connectors list in sentinel, instead, I think it should be Azure Defender. I also find this page to support my assumption.

https://docs.microsoft.com/en-us/azure/sentinel/connect-azure-security-center

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2021-03-17 01:39] david-stanford commented on #2725
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/393730/>393730</a>

[2021-03-17 13:44] KalyanChanumolu-MSFT commented on #2725
@david-stanford Assigning this to the document author Derek

[2021-03-17 18:02] neilpeterson commented on #2715
Thanks for opening this issue. This has been updated and should publish today.

[2021-03-17 18:02] #2715 closed

[2021-03-17 18:21] neilpeterson commented on #2707
Thanks for opening this issue. It looks like emotion detection if now a feature of facial detection. I've updated to doc to reflect and it should publish today.

[2021-03-17 18:21] #2707 closed

[2021-03-17 18:58] neilpeterson commented on #2530
@whomanGHA thanks for the issue. This has been fixed and should publish today.

[2021-03-17 18:58] #2530 closed

[2021-03-17 20:57] SouthCrux opened #2726 "Feedback"
Hello Team,
Great to have those Reference Architectures, would it be possible to get more information, implementation details, best practices and pricing guidance?
Thanks and regards,
Santiago

[2021-03-17 20:58] david-stanford commented on #2726
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/394406/>394406</a>

[2021-03-17 21:40] neilpeterson commented on #2726
@SouthCrux, thanks for opening this issue and for the feedback.

We are always looking for suggestions for new solutions / architectural guidance. As well, appreciate any feedback on how we can improve content found in the Azure Architect Center.

Are there **specific solutions** where you would like to see additional details, or do you feel that, **in general**, the content found in the Azure Arc

[2021-03-18 15:31] p-bojkowski commented on #1891
NO ETA?

[2021-03-19 04:48] melvincanafranca opened #2727 "Event Grid - now HITRUST compliant?"
The icon used in the solution blueprint is an Event Hub while the description below the blueprint described it as Event Grid. Can someone please confirm if Event Grid is now HITRUST compliant? As per the documentation from this [link](https://azure.microsoft.com/en-us/resources/microsoft-azure-compliance-offerings/), only Event Hub is HITRUST compliant.

Thanks!

---
#### Document Details

⚠ *Do n

[2021-03-19 04:48] david-stanford commented on #2727
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/395325/>395325</a>

[2021-03-19 05:00] melvincanafranca commented on #2727
Sorry my bad, I think I've looked at the Azure Government section of Appendix A. The non-government version has Event Grid as HITRUST compliant. Still, the icon is wrong if we really meant to use Event Grid.

[2021-03-19 12:51] kyleburnsdev opened #2728 "Consider adding WAF to this reference architecture"
The premise of this reference architecture is to be actionable guidance on secure connectivity, but Traffic Manager is resolving directly to App Service instances rather than using an Azure App Gateway in WAF mode or replacing Traffic Manager with Azure Front Door (WAF enabled). To better reflect how this scenario should be realized in the real world, please consider extending to include a WAF.

-

[2021-03-19 12:52] david-stanford commented on #2728
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/395507/>395507</a>

[2021-03-22 06:32] Kalaivin opened #2729 "There is a different file under the Visio link"
Good day,

I just noticed that the Visio file I get when clicking the "Download (https://arch-center.azureedge.net/dmz-reference-architectures.vsdx) a Visio file of this architecture." is different than the one displayed in the article: https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/dmz/images/dmz-private.png

Regards,
Karlis
---
#### Document Details

⚠ *Do not edit t

[2021-03-22 06:33] david-stanford commented on #2729
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/396759/>396759</a>

[2021-03-22 13:27] JohnStraumann66 opened #2730 "How do I install the Azure Icons into Vision 2016 Pro?"

[2021-03-22 13:27] david-stanford commented on #2730
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/396952/>396952</a>

[2021-03-23 02:49] KalyanChanumolu-MSFT commented on #2730
@JohnStraumann66 I believe you meant Microsoft Visio Professional.
 You can download the svg icons from [here](https://docs.microsoft.com/en-us/azure/architecture/icons/)

[2021-03-23 07:37] KalyanChanumolu-MSFT commented on #2730
@JohnStraumann66
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-03-23 07:37] #2730 closed

[2021-03-23 10:55] JohnStraumann66 commented on #2730
OK great, and then what? I cannot find any docs on how to import the icons into Vision as Stencils?

[2021-03-24 10:49] Ulf-Ason commented on #1891
@absheik Why is this issue closed? Does this mean that we should avoid Front Door if we have any plans to use Web sockets and instead use Application Gateway?

[2021-03-24 18:34] PageWriter-MSFT commented on #2724
We cannot provide videos for reference architectures at this time. However, this is a great suggestion and we'll consider videos experiences in the future.

Thanks

[2021-03-24 18:34] #2724 closed

[2021-03-25 00:42] neilpeterson commented on #2726
@SouthCrux I am going to close this out. If you can provide feedback as suggested above, feel free to re-open.

[2021-03-25 00:42] #2726 closed

[2021-03-25 11:05] Bernd-Loehlein opened #2733 "FSLogix exclusions for Defender not honoring subfolders"
Hi,

We should update the exclusion list as the default settings provided don't honor subfolders which are created by default. This can be modified by the user by setting registry key NoProfileContainingFolder, so we should include both options.

Therefore please add the following two lines:
\\\\storageaccount.file.core.windows.net\\share\\\*\\\*.VHD
\\\\storageaccount.file.core.windows.net\\share

[2021-03-25 11:05] david-stanford commented on #2733
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/399380/>399380</a>

[2021-03-25 18:51] allison-silverpine opened #2735 "Invalid C# syntax in code sample"
Hello,
It appears that the code sample for the referenced documentation contains some invalid C# syntax, and given the code, it's not clear how to check if the device needs an SMS wakeup.

`if (var == [DeviceNotConnected] && connTimeOut == 0)`
I'm not sure where "DeviceNotConnected" is coming from, and I don't believe the use of `var` here or later in the method is valid.

Full code sample:
`TimeS

[2021-03-25 18:51] david-stanford commented on #2735
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/399688/>399688</a>

[2021-03-25 21:51] neilpeterson commented on #2686
@reub-the-cube thanks for opening this issue. The diagram has been updated, it may take a bit to propagate through our CDN, but it's on the way.

[2021-03-25 21:51] #2686 closed

[2021-03-27 16:40] maglimedia opened #2737 "Visio Diagrams for Architecture Center"
It would be great to have access to the Visio Diagrams for all of the Architecture Center Azure patterns.
Where can a Microsoft employee access?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6724a3b3-3c90-3f27-a51d-454819e88f37
* Version Independent ID: 0c1b3984-7fbd-70ab-98e1-a2bb7697876b
* Content: [Profisee master

[2021-03-27 16:41] david-stanford commented on #2737
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/401032/>401032</a>

[2021-03-27 19:47] bruparel opened #2738 "Intelligent apps using Azure Database for PostgreSQL"
Implementation details, pricing guidance, or code examples would be most useful

[2021-03-27 19:47] david-stanford commented on #2738
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/401114/>401114</a>

[2021-03-28 07:46] Sohanrt opened #2739 "Design pattern link"
[Enter feedback here]
Design pattern link is not correctly map it is takingus back to the same page ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cade8ea3-b02f-6c92-b7b1-8f37a5c9d701
* Version Independent ID: c0bde50c-5e28-5ff2-1507-5a8711ae3022
* Content: [Azure Application Architecture Guide - Azure Architecture C

[2021-03-28 07:46] david-stanford commented on #2739
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/401272/>401272</a>

[2021-03-30 00:40] aerionTech opened #2740 "Container access"
[Enter feedback here]

Hi is there a pre-configured container to access this setup?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2edf62c9-d5c7-b4d0-99e7-f271ef0b629e
* Version Independent ID: d9ff7f72-3fbb-3bc6-e787-60b1ccecb698
* Content: [Magento e-commerce platform in Azure Kubernetes Service (AKS) - Azure Example

[2021-03-30 00:40] david-stanford commented on #2740
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/402446/>402446</a>

[2021-03-30 04:16] aerionTech commented on #2740
Hi @david-stanford I found the ARM template earlier, it would useful to include the link  on the documentation page.
https://github.com/Azure/azure-mysql/tree/master/Magento

[2021-03-30 14:34] radhakrishnang opened #2741 "Need detailed info on |How to create Power BI dashboard for ML Ops"
https://docs.microsoft.com/en-us/azure/architecture/example-scenario/mlops/mlops-technical-paper

Need detailed info on |How to create Power BI dashboard for ML Ops - please find attached image... h
1) how to connect those metrics to power BI
2) if we want to save those metrics along with data drift and model fairless, and other features in Azure SQL how to achieve that ?

![ml-training-dashboard]

[2021-03-30 14:34] david-stanford commented on #2741
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/402859/>402859</a>

[2021-03-30 16:38] FarhadJabiyev opened #2742 "Azure Load Balancer is marked as global LB"
In table "Azure Load Balancer" is marked as "Global" load balancer. But, as I understand it is not global, but regional.

--

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 936c85d9-c953-2def-c399-77cbda32b24d
* Version Independent ID: 9173c834-2c40-9169-b13b-6273759a2c8a
* Content: [Overview of Azure load-balancing opt

[2021-03-30 16:38] david-stanford commented on #2742
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/402945/>402945</a>

[2021-03-30 22:03] mattborland opened #2743 "Awards?"
What awards did it win. I can't find anything on the web....I didn't use Bing for searching, though...
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06b04b15-1daa-44c9-6392-4743527ebd20
* Version Independent ID: d0fbe85f-6167-4f34-c2a0-6304e6b0cf9d
* Content: [Judgment Call - Azure Application Architecture Guide](https

[2021-03-30 22:03] david-stanford commented on #2743
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/403174/>403174</a>

[2021-03-30 23:01] EdPrice-MSFT commented on #2470
Got it. I removed the dead link and added in some other links we should have. Thanks!

[2021-03-30 23:01] #2470 closed

[2021-03-31 01:55] badrikannan1 opened #2744 "Are Azure Container Instances and Kubernetes swapped in the picture."
[Enter feedback here]

Azure Kubernetes Service was originally the solution proposed when one has to support full-fledged orchestration. Has that changed recently? Also, for microservices with short lived, event driven processes, Azure Functions were proposed. Has that changed recently with the Azure App Service being proposed for the microservices architecture even though Azure Functions are stil

[2021-03-31 01:56] david-stanford commented on #2744
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/403265/>403265</a>

[2021-03-31 04:14] pisees opened #2746 "Azure Batch"
Can you include guidance for Azure Batch as well?

[2021-03-31 04:14] david-stanford commented on #2746
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/403385/>403385</a>

[2021-03-31 10:48] MatthewGy opened #2747 "OS disk caching can be disabled - data disk still needed?"
"Create a separate virtual data disk for storing the database, logs, and sysvol folder for Active Directory. Do not store these items on the same disk as the operating system. By default, data disks that are attached to a VM use write-through caching. However, this form of caching can conflict with the requirements of AD DS. For this reason, set the Host Cache Preference setting on the data disk t

[2021-03-31 10:49] david-stanford commented on #2747
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/403494/>403494</a>

[2021-03-31 14:12] jimhackney opened #2748 "Link pointing to wrong page"
In the second paragraph of the "Working with CSV and JSON data in Azure" section of the web page found at the link https://docs.microsoft.com/en-us/azure/architecture/data-guide/scenarios/csv-and-json, there is an "import CSV files" link.  Instead of taking you to a page about importing CSV files it takes you to the "Import JSON documents into SQL Server" page.(https://docs.microsoft.com/en-us/sql

[2021-03-31 14:15] david-stanford commented on #2748
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/403563/>403563</a>

[2021-03-31 20:59] eric-camplin commented on #2744
while looking at this issue please review the flow chart pointing to AKS for both **Yes** and **No** paths for "needs Full-fleged orchestration"
![image](https://user-images.githubusercontent.com/12022944/113210439-13e4ac80-9229-11eb-8ad7-ae976e116b6b.png)

[2021-04-01 06:36] dfendit commented on #1891
Please re-open since it's not fixed yet. What if you need to use Front Door in combination with Application Gateway to let the user utilize Websockets and you have an environment which is spread over multiple regions. Merging CDN into Front Door was a big deal, but when will Websockets be?

[2021-04-01 12:49] jurelab opened #2750 "Deploy DCs between availability Zones"
In the part: "Deploy at least two VMs running AD DS as domain controllers and add them to an availability set."=>If possible Availability Zone option should be advised..

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65f26361-0def-4ae9-e28a-8a8d4f97b87f
* Version Independent ID: ef55eb02-6543-88a

[2021-04-01 12:49] david-stanford commented on #2750
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/404152/>404152</a>

[2021-04-01 13:03] ciarancolgan opened #2751 "Link to: https://www.proxy-sniffer.com/en/doc/LoadTestKnowHowEN.pdf gets the Chrome scary warning to do with expired SSL cert. Think this company has been acquired?"
[Enter feedback here]
See title for broken-ish link

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea464ce1-0548-e4d4-2160-a3829c959b93
* Version Independent ID: 9128607b-d441-cf29-b68b-55936d549690
* Content: [JMeter implementation reference for load testing pipeline solution - Azure Architecture Center](https://docs.

[2021-04-01 13:03] david-stanford commented on #2751
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/404156/>404156</a>

[2021-04-01 22:16] thommck opened #2753 "Front Door vs App Gateway"
My understanding is that Front Door has all the load-balancing capabilities of App Gateway. Why couldn't you just use Front Door to do all the work and remove the need for a local app gateway?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d54fc4b-e066-f455-c6c4-34448a61bb50
* Version Independent ID: 3736237c-ae6a-18b

[2021-04-02 06:00] ram-msft commented on #2753
@thommck Thanks for the question. We are investigating the issue and will update you shortly.

[2021-04-02 17:16] gorankuk opened #2754 "Missing reference to VGen2 Storage Account"
this is dated page since it is referencing only Blob Storage and Data Lake Gen1. With introduction of VGen 2 storage account it will be important to distinguish what use cases are a good fit for BlobStorage, Vgen 2 (specilay knowing that they support most of blob features - since it is merged ) and also to confirm if Data Lake Gen 1 is still playing any role or if it will be fully replaced with ne

[2021-04-02 17:16] david-stanford commented on #2754
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/404766/>404766</a>

[2021-04-03 16:21] badrikannan1 commented on #2744
Are we essentially saying that when it is a migrate and we need full orchestration, one should use AKS while if it is a brand new build with a similar set up, one should use ACI and not AKS. I don't understand why a migrate vs a build brand new makes a difference there. I just want to make sure I get the recommendations correct here.

[2021-04-04 19:06] krsanty opened #2757 "Couple of possible mistakes in the 1st flowchart on the page"
On the right most side, pointers to couple of boxes ("Container Instances" and "App Service") should not be Yes.
Architecturally, shouldn't it be connected by "No"?
Isn't this the right way to do:
1. Microservice architecture? ->No-> App Service
2. Needs full fledged orchestration? ->No->Container instances

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2021-04-04 19:06] david-stanford commented on #2757
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/405348/>405348</a>

[2021-04-05 03:08] MartinJaffer-MSFT commented on #2757
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2021-04-05 04:37] sideeksh opened #2758 "Incorrect guidance"
Hi team

There is a note in this doc which states the following:
Availability Zones support high availability but are not an effective disaster recovery (DR) strategy. The distance between zones is too close. Typical DR regions should be at least 100 miles away from the primary region.

There are 2 issues with this:
1. It is impossible for our customers to know how many miles away our datacenters

[2021-04-05 04:37] david-stanford commented on #2758
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/405416/>405416</a>

[2021-04-06 07:37] anickelbagoffunk opened #2759 "Possibly wrong category for scenario"
Should this scenario really be categorized/organized as "DevOps"? Perhaps Web or Mobile would be more fitting?

/C

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36cc3d81-d33a-bc9b-ab91-d7c4c8e26a95
* Version Independent ID: d3ce3924-f004-a61a-867c-b81fae8cf5f9
* Content: [Sharing location in real time using low-cost s

[2021-04-06 07:37] david-stanford commented on #2759
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/406056/>406056</a>

[2021-04-06 08:51] cbgermany opened #2760 "Availability Options for AD DS is Availability Zones also supported"
[Enter feedback here]

Under the section Availability Considerations, the article states that the Domain Controllers should be placed in an Availability Set.  My question is whether Availability Zones are also supported, it is just the article needs updating or is there another technical reason for stating Availability Sets.  The region I would be looking to deploy the Domain Controllers does supp

[2021-04-06 08:51] david-stanford commented on #2760
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/406077/>406077</a>

[2021-04-07 15:35] ckittel opened #2761 "Updated reference implementation available?"
The implementation on here is based on .NET 2.2 which has passed product End of Life. Can we get the upstream SEAL team to update to a newer framework version for this implementation?  Maybe the code can be moved out of https://zarmada.blob.core.windows.net/ai-school-module-updates/ai-school-lab-seal.zip and into GitHub as well?

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2021-04-07 15:35] david-stanford commented on #2761
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/406864/>406864</a>

[2021-04-07 17:29] EdPrice-MSFT commented on #2189
I think we ended up removing this one.

[2021-04-07 17:36] david-stanford commented on #2606
Hello, there doesn't seem to be any content for this issue.  If there is something we can help with please let us know.

[2021-04-07 17:36] #2606 closed

[2021-04-07 17:49] EdPrice-MSFT commented on #2738
Note that this is regarding a solution idea: https://docs.microsoft.com/en-us/azure/architecture/solution-ideas/articles/intelligent-apps-using-azure-database-for-postgresql

[2021-04-07 18:05] ckittel commented on #2744
I think one good place to start would be with this:

![image](https://user-images.githubusercontent.com/671075/113913339-d2607e00-97a1-11eb-8924-cc0dd397492d.png)

I know the "No" -> "Yes" will be a little weird, but that's really for the other flow.  You'd answer the question the same both times you're asked it.

[2021-04-07 18:05] david-stanford commented on #2746
Hi, can you let us know where you'd like guidance for Azure batch? Is there a specific article you are interested in having it on? There are product docs for Azure Batch available here: https://docs.microsoft.com/en-us/azure/batch/batch-technical-overview.

[2021-04-09 01:11] Nishco opened #2762 "mistake in flow chart"
Selection flow chart has error
Selecting full flagged orchestration >> NO >> full flagged orchestration >> YES ?

![image](https://user-images.githubusercontent.com/56907911/114114270-e207d000-9923-11eb-9512-71c69e41011a.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 510808e8-db5d-6b07-9a04-6edb743a2dfc
* Version

[2021-04-09 01:12] david-stanford commented on #2762
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/407841/>407841</a>

[2021-04-09 11:43] 234sauravkumar opened #2763 "Request for cirrent implementation guide"
I was trying to implement this.but it seems to be very old .Many things have changed. Could you please update to a recent guide .

Thanks ,
Saurav

[2021-04-09 11:44] david-stanford commented on #2763
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/408050/>408050</a>

[2021-04-09 14:09] brunowildhagen opened #2764 "Create a paragraph dealing specifically with empty sets"
Hi,

My team is using the [api-design](https://docs.microsoft.com/en-us/azure/architecture/best-practices/api-design) doc as a guideline to build our APIs and we had some disagreements on how to deal with empty sets, I think the documentation could be more clear about this specific scenario.

[This](https://github.com/microsoft/api-guidelines/blob/vNext/Guidelines.md#910-empty-results) microsoft d

[2021-04-09 14:09] david-stanford commented on #2764
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/408113/>408113</a>

[2021-04-09 16:27] RohitMungi-MSFT commented on #2763
@234sauravkumar Could you please post the link to the document you are referring to?

[2021-04-10 05:39] 234sauravkumar commented on #2763
Hi Rohit,
https://github.com/Azure/azure-ai-personalized-offers/tree/master/Manual%20Deployment%20Guide
I have attached the link. In this the azure function app ui has changed. Its asks for the deployment or selection of programming  language which i not mentioned. I am not able to set it up. Kindly help in this.

Thanks,
Saurav

[2021-04-10 06:06] RohitMungi-MSFT commented on #2763
@234sauravkumar I think this refers to another Azure repo and not Azure docs where this issue is raised. It also looks like this repo is old and not maintained. Looking at the code files for azure function it looks like the language is C#.

[2021-04-11 16:51] kevlarmpowered opened #2765 "When are you going to update this document with Azure Synapse?"
When are you going to update this diagram with Azure Synapse open spark?  There is much confusion around Azure Synapse (aka Azure Synapse PDW aka  Azure Datawarehouse, Azure Synapse Workspaces, Azure Spark pools, Azure Synapse Serverless SQL).

[2021-04-11 16:51] david-stanford commented on #2765
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/408917/>408917</a>

[2021-04-12 03:25] CHEEKATLAPRADEEP-MSFT commented on #2765
@kevlarmpowered  Please help with the link to the document on which the above document feedback request is created.

In case your query is not related to document content, open a new forum thread in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community memb

[2021-04-12 08:32] Dirkgu01 opened #2767 "ADLS information is outdated"
[Enter feedback here]
A paragraph on Data Lake Store references Data lake Analytics, which is no longer supported.

the following text is also confusing: 'You may consider using this as an alternative to Azure Storage when your individual or combined file sizes exceed that which is supported by Azure Storage.'

Azure data lake storage v2 requires an azure storage account, so how can it be an alter

[2021-04-12 08:32] david-stanford commented on #2767
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/409138/>409138</a>

[2021-04-12 17:54] PageWriter-MSFT commented on #2679
Thank you for opening this issue. What you have mentioned is indeed correct. We've updated the guidance about considerations on choosing a max pods values.

[2021-04-12 17:54] #2679 closed

[2021-04-13 09:14] Scharnhusen opened #2768 "Don’t use Microsoft product icons to represent your product or service"
Hi there,
is there any source for an Azure Icon set which can be used for product presentational purpose?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6624d44c-f9f6-02f8-2c67-0f0637fed62e
* Version Independent ID: 9346a8ff-bab5-be2c-9dc1-d546fda1efa9
* Content: [Azure Icons - Azure Architecture Center](https://docs.m

[2021-04-13 09:14] david-stanford commented on #2768
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/409769/>409769</a>

[2021-04-14 07:54] CHEEKATLAPRADEEP-MSFT commented on #2765
@kevlarmpowered  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-04-14 07:54] #2765 closed

[2021-04-14 10:02] satyasyamnn opened #2769 "Issue with decision tree on usage"
[Enter feedback here]

https://docs.microsoft.com/en-us/azure/architecture/guide/technology-choices/compute-decision-tree

The decision tree mentioned is wrong. For microservices use case, it is mentioned to use App service, but it should have been using AKS or Service Fabrics. May be this needs a change.

![image](https://user-images.githubusercontent.com/5771540/114692113-f2f67e00-9d35-11eb-8125

[2021-04-14 10:03] david-stanford commented on #2769
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/410395/>410395</a>

[2021-04-14 17:05] #2746 closed

[2021-04-14 17:19] neilpeterson commented on #2763
We have remove the reference to this repo from the Azure Architecture Center.

[2021-04-14 17:19] #2763 closed

[2021-04-15 08:38] mathjon248 commented on #2741
https://docs.microsoft.com/en-us/azure/azure-monitor/visualize/powerbi

I think the AML metrics to Log Analytics or M on storage account destination from diagnostics log for long term storage.

In Log Analytics you can download the m and pbit template.

[2021-04-15 10:17] rkdeepak opened #2770 "SNS is listed as SQS"
SNS is listed as SQS. Please correct.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30d02f16-9621-d204-4132-8ce8db79b0af
* Version Independent ID: 65b4385b-79f0-d842-d4a1-5d013615f9b1
* Content: [AWS to Azure services comparison - Azure Architecture Center](https://docs.microsoft.com/en-us/azure/

[2021-04-15 10:17] david-stanford commented on #2770
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/411131/>411131</a>

[2021-04-15 21:03] grzchr15 opened #2771 "Please add whenever IPv6 and Websocket can be used for App Services"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 936c85d9-c953-2def-c399-77cbda32b24d
* Version Independent ID: 9173c834-2c40-9169-b13b-6273759a2c8a
* Content: [Overview of Azure load-balancing options - Azure Application Architecture Guide](https://docs.microsoft.com/en-us/azure/architecture/guide/

[2021-04-15 21:03] david-stanford commented on #2771
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/411428/>411428</a>

[2021-04-16 23:56] sloh-ms opened #2773 "Clarifications about requesting Mesh permissions in multi-tenant environments."
Content deleted, moving to another location.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bdcd7d60-173f-66f6-8fe9-d8a188782d44
* Version Independent ID: 1729ad46-26a2-b1fb-5999-225888998449
* Content: [Authorization in multitenant applications - Azure Architecture Center](https://docs.microsoft.com/en-us/azure/archite

[2021-04-16 23:56] david-stanford commented on #2773
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/411904/>411904</a>

[2021-04-19 13:36] gorros opened #2774 "External sources and autoscaling capabilities of Azure Synapse"
I think Azure Synapse capabilities described the table in this article does not take into account these point
- Spark pools can have autoscaling enabled
- PolyBase enables you to retrieve data from many external sources and convert it into a tabular format

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bba35cbb-4160-0b

[2021-04-19 13:36] david-stanford commented on #2774
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/412505/>412505</a>

[2021-04-19 18:43] #2773 closed

[2021-04-19 18:44] sloh-ms commented on #2773
Moving content to another location, please ignore this.

[2021-04-19 21:07] clintonwford opened #2775 "New Azure Databricks logo"
Hi, could you help me update the Azure Databricks logo on the [Real Time Analytics on Big Data Architecture](https://docs.microsoft.com/en-us/azure/architecture/solution-ideas/articles/real-time-analytics) reference architecture diagram? I have created an [updated architecture diagram image](https://drive.google.com/file/d/1ij7lT4BKzMrOit3MlyGH7ySA1J6yWoL_/), using the [new SVG Databricks icon](ht

[2021-04-19 21:08] david-stanford commented on #2775
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/412789/>412789</a>

[2021-04-20 18:53] ckittel opened #2776 "This article is missing thumbnail in Browse experience"
![image](https://user-images.githubusercontent.com/671075/115448862-d055e080-a1df-11eb-9de0-05bc80c2c8ad.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd458c97-751a-2ea5-af06-771defec74f6
* Version Independent ID: 1a69b107-54d5-b910-c7ea-011edc380dd6
* Content: [Clinical insights with Microsoft Cloud for Healthca

[2021-04-20 18:54] david-stanford commented on #2776
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/413309/>413309</a>

[2021-04-21 10:53] durrante opened #2777 "A lot of Intune icons are missing, can these be added?"
As the title suggests, can the Intune icons be added to?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6624d44c-f9f6-02f8-2c67-0f0637fed62e
* Version Independent ID: 9346a8ff-bab5-be2c-9dc1-d546fda1efa9
* Content: [Azure Icons - Azure Architecture Center](https://docs.microsoft.com/en-us/azure/architecture/icons/)
* C

[2021-04-21 10:53] david-stanford commented on #2777
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/413974/>413974</a>

[2021-04-21 21:36] mattyweb opened #2778 "Mislabeled graph"
Pretty sure the #5 is meant to be labeled "User access" or something to that effect. Admin access appears twice as it is.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f6e327d-b280-a35c-2588-87a19ac2a4ba
* Version Independent ID: fa9b0713-771f-4792-979a-2f7a4f4445a2
* Content: [Microservices with AKS - Azure Solution

[2021-04-21 21:36] david-stanford commented on #2778
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/414272/>414272</a>

[2021-04-21 23:40] JasRobe commented on #2768
@Scharnhusen I believe the intent of the statement is that you should not use as specific Azure Service icon to represent your solution in part or in whole.   If you use the azure service icon to represent that specific azure service in the diagram, that is acceptable.  Does that help clarify?

[2021-04-22 04:44] AnuragBhv opened #2779 "Xamarin/Blazor serverless client app with Cosmos DB"
**Ideas for Cosmos DB serverless Sample App**
1) A Client App using a Azure Cosmos DB with through Function App with/without API management.
2) A Client App directly using Azure Cosmos DB and for security it uses Azure Identity for token exchange.

[2021-04-22 04:44] david-stanford commented on #2779
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/414433/>414433</a>

[2021-04-22 19:57] markmassad opened #2780 "Several Security and Compliance Blueprints Link is dead"
[Enter feedback here]

Several Security and Compliance Blueprints link goes to a broken page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fe47949-15a1-6073-0ac7-91a072ee4ff5
* Version Independent ID: f670a787-e68f-1216-8194-1472510c4525
* Content: [Governance, risk, and compliance in Azure - Azure Architecture Cent

[2021-04-22 19:57] david-stanford commented on #2780
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/414813/>414813</a>

[2021-04-23 00:16] BryanTrach-MSFT commented on #2780
@markmassad Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-23 14:25] ckittel commented on #2776
Fixed now, thanks!

[2021-04-23 17:25] arashaga opened #2782 "Code examples and Sample Solution template"
Code examples and Sample Solution template would be very helpful to extend this to other areas besides power and energy forecasting.

[2021-04-23 17:25] david-stanford commented on #2782
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/415428/>415428</a>

[2021-04-26 16:03] RMITBLOG opened #2783 "Confirm if MbPS should read MBps"
[Enter feedback here]

Hi Microsoft team.

Under the following section of the document https://docs.microsoft.com/en-us/azure/architecture/example-scenario/wvd/windows-virtual-desktop-fslogix?source=docs#performance-requirements

_**"For network bandwidth, depending on the type of utilization it is recommended to plan between 5 and 30 MbPS per user."**_

Should MbPS read MBps

It's causing confusi

[2021-04-26 16:03] david-stanford commented on #2783
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/416619/>416619</a>

[2021-04-26 16:34] santhoshbomma9 opened #2784 "Consolidation across other pages"
https://docs.microsoft.com/en-us/azure/cloud-adoption-framework/ready/considerations/data-options#identify-data-services-requirements
https://docs.microsoft.com/en-us/azure/architecture/guide/technology-choices/data-store-decision-tree

Should we make this two refer the same thing, I see go things in each we can be merged into one.

---
#### Document Details

⚠ *Do not edit this section. It is req

[2021-04-26 16:35] david-stanford commented on #2784
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/416641/>416641</a>

[2021-04-26 16:42] santhoshbomma9 commented on #2784
Great, thank you!

[2021-04-27 00:45] AliManouchehri opened #2785 "Download a Visio file of this architecture points to wrong visio file"
[Enter feedback here]

Hi,

I would like to inform you that when you click on the download of the visio file for express route page (Extend an on-premises network using ExpressRoute), you get a wrong diagram, the one for Extend an on-premises network using VPN.

https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/hybrid-networking/vpn

---
#### Document Details

⚠ *Do not e

[2021-04-27 00:46] david-stanford commented on #2785
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/416941/>416941</a>

[2021-04-27 05:07] BhargaviAnnadevara-MSFT commented on #2785
@AliManouchehri The downloaded file actually contains 3 Visio diagrams: VPN, ExpressRoute and ER with VPN fallback, as in the screenshot below:

![image](https://user-images.githubusercontent.com/44050820/116188087-63dd6300-a744-11eb-91fd-cf1f29d2f936.png)

Please let us know if you see different.

[2021-04-27 06:52] pjainan opened #2786 "What about backend Database decomposition?"
After applying the Strangler pattern and decomposing the monolith bounding context to microservices, it is still shown that they are still accessing the same database source. Please suggest what is the reason? Also, how to decompose database for individual domain microservice.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-04-27 06:53] david-stanford commented on #2786
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/417024/>417024</a>

[2021-04-27 07:43] p-bojkowski opened #2787 "Pictures are TOO small!!!"
Could you PLEASE post the images in all articles so that you can also zoom?
Smaller always goes lately ;)
Pictures are TOO small!!! :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8c28146-b2a9-f734-f0f6-b1227296d7a3
* Version Independent ID: 709b2d47-6f11-88d9-6197-f0c5ca18af64
* Content: [Mining equipment monitorin

[2021-04-27 07:43] david-stanford commented on #2787
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/417046/>417046</a>

[2021-04-27 07:56] FranklyFrivolous commented on #2777
Just curious if MS is going to link up with this guy.
His stencil range is updated by scrips routinely, grabs the SVG from Azure icons then generates the icons.

[https://github.com/David-Summers/Azure-Design](url)

Scales, anchor points, and vision index searching work for his stencils.

[2021-04-27 12:12] bhlaban opened #2788 "Azure Security Center not labeled in diagram"
Azure Security Center is depicted in diagram and referenced in text, but it is not labeled like all the other icons.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fcaeba82-a634-d73a-77fd-a07258be2c17
* Version Independent ID: 4ba78d8a-60c9-9df8-1d2c-0a375a094acb
* Content: [DevSecOps in Azure - Azure Solution Ideas](h

[2021-04-27 12:13] david-stanford commented on #2788
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/417120/>417120</a>

[2021-04-28 07:16] BhargaviAnnadevara-MSFT commented on #2785
@AliManouchehri Any further update here?

[2021-04-28 15:39] monikamac opened #2789 "Incorrect link for the ExpressRoute Visio"
[The download Visio link download a different image than the showed on the page, it is currently downloading the hybrid one, not the express route one]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61c1b093-200e-8d59-0e6e-98f510dca5f6
* Version Independent ID: db6fcf0f-1a88-b216-4c08-a83c4128b4fa
* Content: [Extend an

[2021-04-28 15:39] david-stanford commented on #2789
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/417798/>417798</a>

[2021-04-28 17:16] JasRobe commented on #2782
@arashaga Could you help share which article specifically you are referring to with this issue?

[2021-04-28 17:22] JasRobe commented on #2784
Reopening this bug until the content has been updated to reflect the suggestion

[2021-04-28 17:33] JasRobe commented on #2789
@monikamac the visio file that is linked has multiple tabs, you can find the architecture you are looking for on one of the other tabs  (the visio file itself has a default tab set).

Does that address your issue?

[2021-04-28 17:33] BhargaviAnnadevara-MSFT commented on #2789
@monikamac The downloaded file actually contains 3 Visio diagrams: VPN, ExpressRoute and ER with VPN fallback, as in the screenshot below:

![image](https://user-images.githubusercontent.com/44050820/116188087-63dd6300-a744-11eb-91fd-cf1f29d2f936.png)

Please let us know if you see different.

[2021-04-29 14:21] tekgnu opened #2793 "Link for OpenFoam is missing (https://simulation.azure.com/casestudies/Team-182-ABB-UC-Final.pdf)"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7cf67b7-8d94-d7a2-97ef-1387e252109c
* Version Independent ID: 0d3a72a7-6600-5682-6be1-6c333192bbd6
* Content: [High Performance Computing (HPC) on Azure - Azure Architecture Center](https://docs.microsoft.com/en-us/azure/architecture/topics/high-perf

[2021-04-29 14:21] david-stanford commented on #2793
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/418418/>418418</a>

[2021-04-29 15:40] clintonwford opened #2794 "Updated Azure Databricks icon"
Hi, could you help me update the Azure Databricks icon on [this diagram](https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/data/images/stream-processing-databricks.png) on the [Stream Processing with Azure Databricks](https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/data/stream-processing-databricks) architecture with this new SVG file: https://

[2021-04-29 15:40] david-stanford commented on #2794
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/418451/>418451</a>

[2021-04-29 15:46] clintonwford opened #2795 "Updated Azure Databricks icon"
Hi, could you help me update the Azure Databricks icon on [this diagram](https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/ai/_images/recommenders-architecture.png) on the [Build a Real-time Recommendation API on Azure](https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/ai/real-time-recommendation) architecture with this new SVG file: https://driv

[2021-04-29 15:46] david-stanford commented on #2795
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/418454/>418454</a>

[2021-04-29 16:05] monikamac commented on #2789
Thanks for the fast response. I see the tabs.

Best
Monika

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: BhargaviAnnadevara-MSFT ***@***.***>
Sent: Wednesday, April 28, 2021 10:33:56 AM
To: MicrosoftDocs/architecture-center ***@***.***>
Cc: monikamac ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/architecture-center] Incorrect link for the

[2021-04-29 19:12] BhargaviAnnadevara-MSFT commented on #2789
@monikamac Thanks for the confirmation. We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-04-29 19:12] #2789 closed

[2021-04-29 19:14] BhargaviAnnadevara-MSFT commented on #2785
@AliManouchehri We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-04-29 19:14] #2785 closed

[2021-04-30 00:48] AliManouchehri commented on #2785
My apologies for writing a late response.  Yes, the problem was between the chair and keyboard.  I noticed the separate tabs, so all is good.

[2021-04-30 02:48] BhargaviAnnadevara-MSFT commented on #2785
@AliManouchehri Thanks for the confirmation.

[2021-04-30 13:57] dineshspatelms opened #2796 "DevOps for Azure Synapse Serverless Pool"
It would be great if you can add page for Synapse Serverless Pool DevOps.

Warm Regards,
Dinesh Patel

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f10895e-4e1d-1cdd-2d57-32880e0cc45a
* Version Independent ID: 3518d0a5-ffd1-dfa7-6d6b-de2a9ef170d6
* Content: [Analytics end-to-end with Azure Synapse - Azure Example Sce

[2021-04-30 13:58] david-stanford commented on #2796
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/418944/>418944</a>

[2021-05-01 09:58] Hofls opened #2797 "Diagram contains "Web Front End" instead of "Back End""
Logical diagram of Web-Queue-Worker contains "Web Front End" block. I think it should be "Back End" instead.

Reasoning:
Let's say i have React on Frontend, Golang on Backend.
According to the diagram i should open connection to Database directly from Frontend(React). Doesn't sound good to me.
At the same time, connection to DB from Backend(Golang) is perfectly OK.

---
#### Document Details

⚠ *D

[2021-05-01 09:59] david-stanford commented on #2797
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/419301/>419301</a>

[2021-05-01 16:02] SaurabhSharma-MSFT commented on #2797
@Hofls Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2021-05-02 07:55] Peter-B- opened #2798 "Missing icon: App Service Web Jobs"
Hello,

I think the Icon for the App Service Web Job is missing in your collection.

Kind regards
Peter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6624d44c-f9f6-02f8-2c67-0f0637fed62e
* Version Independent ID: 9346a8ff-bab5-be2c-9dc1-d546fda1efa9
* Content: [Azure Icons - Azure Architecture Center](https://docs.mic

[2021-05-02 07:56] david-stanford commented on #2798
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/419486/>419486</a>

[2021-05-02 10:28] Hofls commented on #2797
Maybe diagram uses some alternative definition for "Front end", where it means "Server-side"?
But i am unable to find it. No matter where i look, i am finding only following definition:
Front end - client-side, UI/UX, Web-browser (HTML, CSS, JS, WebAssembly), etc

[2021-05-02 10:36] lopezleandro03 opened #2799 "No reference to the Architecture Diagram visio file"
Other architecture diagrams allow downloading the visio file, this way the customer can make the required adjustements to reflect its own architecture.

Can this be added?

Thanks.

[2021-05-02 10:36] david-stanford commented on #2799
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/419509/>419509</a>

[2021-05-02 11:12] dazfuller opened #2800 "Not updated fully"
This page which used to include Azure Data Factory and Azure Databricks is still referencing Azure Databricks despite being updated to use Synapse for everything.

Also, the flow no longer makes sense as the connectivity from Power BI to Synapse Analytics Spark Pools doesn't exist, instead needing to use SQL pools. In that respect the 5th data flow should be removed or clarified.

---
#### Documen

[2021-05-02 11:12] david-stanford commented on #2800
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/419519/>419519</a>

[2021-05-03 17:13] julieMSFT commented on #2800
Hi @dazfuller, thank you for contacting Microsoft and bring this to our attention. The fix is in process and should be visible later today. I will go ahead with closing this issue. The @notification mechanism continues to work even after an item is closed, in case further communication is needed. We hope to hear from you again.

[2021-05-03 17:17] julieMSFT commented on #2800
#please-close

[2021-05-03 17:17] #2800 closed

[2021-05-03 22:59] LindsayDChristian commented on #1683
Hello,
Is there any information to answer @athosfolk's inquiry?

I am also searching on how to Connect RStudio's version control to an Azure DevOps repository.

[2021-05-04 09:41] dooleydo opened #2801 "We recommend you do not assign operations masters roles to the domain controllers deployed in Azure."
Is there any rationale to support the statement "We recommend you do not assign operations masters roles to the domain controllers deployed in Azure."?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65f26361-0def-4ae9-e28a-8a8d4f97b87f
* Version Independent ID: ef55eb02-6543-88ad-4f89-5a553848bc67
* Content: [Deploy AD

[2021-05-04 09:41] david-stanford commented on #2801
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/420767/>420767</a>

[2021-05-04 11:46] amasse3 opened #2802 "AD FS Monitoring should include Azure AD Connect Health for AD FS"
The AD FS Monitoring section references SCOM Management Pack. Azure AD Connect Health for AD FS is newer and a better choice for monitoring the AD FS service.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e67f48d5-1891-05be-e74f-d4003e9f8bea
* Version Independent ID: 5ac877a7-dce1-ca0a-4487-d0336a351581
* Content: [Ex

[2021-05-04 11:47] david-stanford commented on #2802
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/420812/>420812</a>

[2021-05-04 14:00] Petri-X opened #2803 "Is the Azure Load Balancer pinned or not..?"
Hi,
On your text you are saying:
"_...Because a zone-redundant load balancer is not pinned to a specific zone..._"
But when looking for the picture above of this, I'm understanding that LB is pinned to Zone 2. Even the arrows might give other indication.

If that is not the idea, then should you have similar grey box than Azure Application Gateway have:
![image](https://user-images.githubuserconte

[2021-05-04 14:00] david-stanford commented on #2803
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/420844/>420844</a>

[2021-05-04 18:00] clintonwford opened #2804 "Updated Azure Databricks icon"
Hi, could you help me update the Azure Databricks icon on [this diagram](https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/ai/_images/batch-scoring-spark.png) on the [Batch scoring of Spark models on Azure Databricks](https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/ai/batch-scoring-databricks) architecture with this new SVG file: https://drive.

[2021-05-04 18:00] david-stanford commented on #2804
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/420974/>420974</a>

[2021-05-04 18:14] pisees commented on #2746
I was referring to this article David: https://docs.microsoft.com/en-us/azure/architecture/data-guide/big-data/batch-processing

[2021-05-05 17:09] AnalyticJeremy commented on #1683
I am not familiar with the version control functionality in the RStudio products.  However, I found that they posted an article that might be helpful:
https://support.rstudio.com/hc/en-us/articles/360045105794-How-to-setup-Git-backed-content-deployment-from-a-private-repository-in-RStudio-Connect

Azure DevOps uses Azure AD for user credentials.  Many third-party services don't support this.  Ther

[2021-05-05 17:25] JasRobe commented on #2799
@lopezleandro03 is this a general request for all architecture diagrams, or is there a specific diagram you are looking at?

[2021-05-05 18:35] EdPrice-MSFT commented on #2796
Thank you for the feedback!

[2021-05-06 05:22] LindsayDChristian commented on #1683
Thank you @AnalyticJeremy - those links are helpful for deploying apps. The functionality I was hoping DevOps would have is a similar simple version control as follows:

**Initial Setup**
1. Assuming the use of Windows PC, Git for Windows is required. [_is there a similar program used for DevOps e.g. SubVersion?_]
2. In RStudio. Go to Tools > Global Options… > Git/SVN. Then specify “Git executable

[2021-05-06 08:39] PixelRobots opened #2807 "Incorrect information."
You have a section that reads as:

Azure Load Balancer. An Azure Load Balancer is created when the NGINX ingress controller is deployed. The load balancer routes internet traffic to the ingress.

This is not true. An Azure Load Balancer is created when the AKS cluster is created. The NGINX Ingress will use it, but it will not create it.

---
#### Document Details

⚠ *Do not edit this section. It i

[2021-05-06 08:39] david-stanford commented on #2807
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/421884/>421884</a>

[2021-05-06 19:15] xbillyj opened #2808 "Broken nav link "Secure access to IoT apps with Azure AD""
Left nav broken link: Secure access to IoT apps with Azure AD
Used to point to this page (found on web archive): https://web.archive.org/web/20200825221210/https://docs.microsoft.com/en-us/azure/architecture/example-scenario/iot-aad/iot-aad

Please fix link (to original source on docs.microsoft.com obviously not web archive).

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this s

[2021-05-06 19:15] david-stanford commented on #2808
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/422162/>422162</a>

[2021-05-06 19:17] xbillyj commented on #2808
Adding interested parties for broken nav link.

From: David Stanford ***@***.***>
Sent: Thursday, May 6, 2021 12:16 PM
To: MicrosoftDocs/architecture-center ***@***.***>
Cc: Billy Jack ***@***.***>; Author ***@***.***>
Subject: Re: [MicrosoftDocs/architecture-center] Broken nav link "Secure access to IoT apps with Azure AD" (#2808)

Thanks for reporting - this issue is under review. This is a Micr

[2021-05-06 20:52] AnalyticJeremy commented on #1683
Thank you for the additional details, @LindsayDChristian.  I think I have some good news for you!

[Azure DevOps uses Git](https://docs.microsoft.com/en-us/azure/devops/user-guide/code-with-git?view=azure-devops) for its source control repositories.  So the RStudio instructions you posted will generally work the same.  You will still need to install Git for Windows on your PC (as described in your

[2021-05-06 23:11] JasRobe commented on #2768
closing as there has been no response.

[2021-05-06 23:11] #2768 closed

[2021-05-07 00:31] njray commented on #2795
Send updated version to Clinton to OK. Will attach when approved. Thanks!

[2021-05-07 18:42] EdPrice-MSFT commented on #2808
I'll get this one. Thanks!

[2021-05-10 08:13] gianlucadardia opened #2810 "Data Lake Store Reference not really clear"
In the command line tools table "others", is not really clear "Copy to Data Lake Store" and "Copy from Data Lake Store" to what is referred.
AzCopy is set to "Copy from Data Lake Store" -> "NO"

what does it means? you cannot read data from where? Data Lake Store is referred to third part Data Lake Store? someone could think that has not capabilities to copy from Azure Data Lake Storage

---
####

[2021-05-10 08:14] david-stanford commented on #2810
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/423691/>423691</a>

[2021-05-10 23:03] njray commented on #2795
![recommenders-architecture](https://user-images.githubusercontent.com/26173493/117734700-d7518c80-b1a8-11eb-9269-612c3f8103bf.png)
Confirmed with requestor that the new image (attached) is good to go. Let me know if you need FTE approval. and I'll loop in the right folks.

[2021-05-11 16:17] jonwbstr opened #2813 "Windows Defender has been renamed"
If there is some other massive project to update all the places using the legacy name ignore this.

Current:

Proposed:

There is at least one other reference to Windows Defender in this article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6386653c-9f82-1ea7-8f29-377be4e5e3b7
* Version Independent ID: a5db2b47-afaf-

[2021-05-11 16:17] david-stanford commented on #2813
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/424598/>424598</a>

[2021-05-11 16:44] neilpeterson commented on #2522
@DeanGross thanks for the feedback. We have several initiatives underway to help make AAC content more discoverable. In addition to table of contents updates (we have alphabetized per your suggestion), we have also just released a new AAC browser which include search and filtering capabilities.

https://docs.microsoft.com/en-us/azure/architecture/browse/

Closing now, feel free to re-open if you h

[2021-05-11 16:44] #2522 closed

[2021-05-11 23:48] JamesTran-MSFT commented on #2813
@jonwbstr
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-12 17:34] neilpeterson commented on #2794
Looks like a dupe of https://github.com/MicrosoftDocs/architecture-center/issues/2795. Closing here.

[2021-05-12 17:38] clintonwford commented on #2794
This is a very similar issue as #2795, but for a different architecture.

[2021-05-12 17:42] neilpeterson commented on #2794
Thanks @clintonwford taking a closer look.

[2021-05-15 02:23] #2441 closed

[2021-05-17 15:12] jaweekes opened #2819 "Duplicated sentences"
One sentence has been duplicated.
The Windows N-tier application on Azure with SQL Server reference architecture uses DDoS Protection Standard because this option:

Uses adaptive tuning, based on the application's network traffic patterns, to detect threats.
Guarantees 100% SLA.
Can be cost effective. For example, during a DDoS attack, the first set of attacks cause the provisioned resources to sc

[2021-05-17 15:12] david-stanford commented on #2819
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/427545/>427545</a>

[2021-05-17 15:44] nikolaarnaudov opened #2820 "Is there a set of dark mode icons ?"
[Enter feedback here]
I couldn't find a dark mode set of icons on the official page, link only shows one set. Is there a specific link?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6624d44c-f9f6-02f8-2c67-0f0637fed62e
* Version Independent ID: 9346a8ff-bab5-be2c-9dc1-d546fda1efa9
* Content: [Azure Icons - Azure Archi

[2021-05-17 15:44] david-stanford commented on #2820
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/427577/>427577</a>

[2021-05-17 16:20] mlcooper opened #2821 "Accessing Object Property through a Parameter as the property name"
I have read through this page a few times, but I am not sure that an important and powerful piece of functionality about accessing `Object` properties is discussed.

I was looking to pass in a parameter to an ARM template to specify the `key` in the `key:value` pair in my object parameter.  I found that this is documented [on this page](https://stackoverflow.com/a/56469523).

Specifically the synt

[2021-05-17 16:20] david-stanford commented on #2821
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/427600/>427600</a>

[2021-05-17 17:09] ChaitanyaNaykodi-MSFT commented on #2807
Hello @PixelRobots, we have made the changes in the doc. We will now proceed to close this issue out, Please let us know if you have any further concerns.

[2021-05-17 17:09] #2807 closed

[2021-05-17 19:25] dgcaron opened #2822 "not sure if i am violating any terms by creating a structurizr theme with the icons"
Hi,

i am in the process of creating a theme for a tool called structurizr and I would like to use the icons provided in the theme. However, I am not sure if I am violating any rules by doing so. can you tell me if I am or not. if I am, I will take the repo down.

i have included a readme in the repo with the proper attribution and included the terms in the repo too.
links:
https://structurizr.com

[2021-05-17 19:25] david-stanford commented on #2822
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/427714/>427714</a>

[2021-05-17 23:46] manish-karn opened #2823 "how to handle message from service bus queue via apim"
I don't know if there any solution of it, but here is my problem.

Working solution
1) I can push the queue from my application by ServiceBusClient and ServiceBusMessage
2) I can read the message via ServiceBusProcessor

but problems begin, if I want put service bus behind APIM, how can I use ServiceBusProcessor? please help me if there any work-around.

---
#### Document Details

⚠ *Do not edit t

[2021-05-17 23:46] david-stanford commented on #2823
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/428100/>428100</a>

[2021-05-18 00:29] NavtejSaini-MSFT commented on #2819
@david-stanford Thank you for providing this information. @jaweekes Once the internal item is completed the changes will be applicable. For now we are going to close this feedback. Let us know if you need any further help.

[2021-05-18 00:38] NavtejSaini-MSFT commented on #2820
@david-stanford Thank you for confirming and providing this information. @nikolaarnaudov Thank you for the feedback. Once the bug is reviewed and action is taken the issue will be resolved.

[2021-05-18 13:24] sakaldeepyadav opened #2824 "Azure firewall private IP mismatch"
Diagram under title 'Azure Firewall only' says private IP of firewall is **192.168.100.4** but in content (bullet point 2) says IP is **192.168.100.7**. It's a typo error and the same error is throughout the whole page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb4e04dc-fc84-e958-89a8-e144ed5564b0
* Version Indepe

[2021-05-18 13:24] david-stanford commented on #2824
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/428366/>428366</a>

[2021-05-18 13:32] erjosito commented on #2824
Hey @sakaldeepyadav , it is not a typo. As the document says:
"The IP address 192.168.100.7 is one of the instances the Azure Firewall service deploys under the covers, here with the front-end IP address 192.168.100.4"

[2021-05-18 15:13] dhammeberg-di opened #2825 "Visio download link opens a PNG"
Visio download link opens a PNG.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ca9b2be-df1b-e3e8-4380-88a622f33706
* Version Independent ID: 49df4ff5-fc53-427c-7fd0-6b5caf917837
* Content: [COVID-19 Safe Solutions with IoT Edge - Azure Solution Ideas](https://docs.microsoft.com/en-us/azure/architecture/solution-ideas

[2021-05-18 15:13] david-stanford commented on #2825
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/428416/>428416</a>

[2021-05-18 17:04] simonbrowndotje commented on #2822
Perhaps a duplicate of #2251?

[2021-05-19 01:17] EdPrice-MSFT commented on #2443
This article has been updated: https://docs.microsoft.com/en-us/azure/architecture/solution-ideas/articles/enterprise-data-warehouse

Thank you!

[2021-05-19 01:17] #2443 closed

[2021-05-19 09:47] abymsft opened #2826 "Need details"
In the scenario covered for [this architecture](https://docs.microsoft.com/en-us/azure/architecture/solution-ideas/articles/digital-media-video), would you please add/share more details on **how the mezzanine files are getting uploaded to blob storage**?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd6efdd9-5b74-3186

[2021-05-19 09:48] david-stanford commented on #2826
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/429033/>429033</a>

[2021-05-19 17:07] JasRobe commented on #2377
@kudlatiger did you get resolution on this issue? I see that it is reasonably old.

[2021-05-19 17:09] JasRobe commented on #2820
There is not currently, I believe the icons should have transparent backgrounds, but there is not a dedicated set for darkmode.

[2021-05-19 17:09] #2820 closed

[2021-05-21 14:05] vmagelo commented on #2012
I'm recasting the article to just deal with deployment to AKS. @lostmygithubaccount is correct.

[2021-05-21 16:17] radhakrishnang commented on #2741
Can you give additional detailed pointers / links

[2021-05-21 16:39] JasRobe commented on #2822
Thank you for identifying the duplicate. I'll close this issue.  Good luck with your project!

[2021-05-21 16:39] #2822 closed

[2021-05-21 17:20] JasRobe commented on #2377
closing due to no repsonse.

[2021-05-21 17:20] #2377 closed

[2021-05-24 07:41] michelcaradec opened #2828 "Excalidraw Library for Cloud Design Patterns"
Just to let you known that I created an [Excalidraw library](https://libraries.excalidraw.com/?sort=default#michelcaradec-cloud-design-patterns) inspired by these pages: <https://libraries.excalidraw.com/?sort=default#michelcaradec-cloud-design-patterns>.

Excellent documentation by the way!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2021-05-24 07:42] david-stanford commented on #2828
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/431038/>431038</a>

[2021-05-25 08:40] euchungmsft opened #2830 "Broken link"
[Enter feedback here]

"Deploy LUIS resources using the Bot Framework LUIS CLI commands" link's broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46d80256-a174-3573-dc4b-2e20c0fb51b5
* Version Independent ID: 2ab0fffe-0a23-5d87-5a16-eb89cdeadb6b
* Content: [Build a chatbot for hotel booking - Azure Architecture Cen

[2021-05-25 08:40] david-stanford commented on #2830
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/431675/>431675</a>

[2021-05-25 08:49] willam-gregoire commented on #2824
The ApplicationGW has the same IP as the Firewall?

[2021-05-25 09:42] sakaldeepyadav commented on #2824
@erjosito I also saw that after raising the issue. As it is at the end of the topic so it looks like a typo error initially.

[2021-05-25 09:42] #2824 closed

[2021-05-26 05:50] cr1315 opened #2832 "Better to have h3 included in the right-side TOC"
#### feature request
Especially when reading `Technology choices for a message broker` section, I just thought it would be much better if h3 was also included in the right-side TOC.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4503ec57-36ef-8040-b6de-5b5a1fea1590
* Version Independent ID: 509de364-6faf-e11e-41e0-c2f6

[2021-05-26 05:51] david-stanford commented on #2832
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/432292/>432292</a>

[2021-05-26 17:08] JasRobe commented on #2828
Very cool work.  Thank you!

[2021-05-26 17:08] #2828 closed

[2021-05-26 17:08] nickmorgy opened #2833 "Pricing - VMs need updating"
I realise that the pricing is only to provide a rough guide, but we really should not still be proposing D_v2 or E_v3 VMs for SAP.  The D/Ea_v4 and D/Ed_v4 offer much better price performance and we should anyway promote new VM types, not ones that were superceded back in 2018.  We also now have M_v2 which again offers better performance.  Essentually all the VMs are obsolete.

---
#### Document D

[2021-05-26 17:09] david-stanford commented on #2833
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/432548/>432548</a>

[2021-05-27 01:02] Rick-Anderson opened #2834 "No links to testing tools"
The next button is even worse, testing tools, but doesn't list any testing tools.
https://docs.microsoft.com/en-us/learn/modules/load-test-web-app-azure-devop doesn't work as the tool has been retired for a long time.

I've used Apache JMeter years ago, but some docs on load testing would help.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2021-05-27 01:02] david-stanford commented on #2834
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/432777/>432777</a>

[2021-05-27 04:27] liz551 opened #2835 "hi"
hi

[2021-05-27 04:27] david-stanford commented on #2835
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/432823/>432823</a>

[2021-05-27 05:33] MayankBargali-MSFT commented on #2835
@liz551 Can you please provide more information if you have any feedback on any of the documents or this was the test issue created.

[2021-05-27 06:52] Shivahide opened #2836 "medical"

[2021-05-27 06:52] david-stanford commented on #2836
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/432865/>432865</a>

[2021-05-27 12:33] MayankBargali-MSFT commented on #2836
@Shivahide Can you provide more information on what document you are following and the issue that you have observed.

[2021-05-27 19:58] jitandrasngh opened #2837 "SAP On Azure Reference Architecture : Standard Load Balancer missing in DR region."
[Enter feedback here]
In general, we always have a Standard Load Balancer in the DR region for the DB node. On the reference architecture, Standard Load Balancers for (A)SCS, Web-Dispatcher & DB is missing as Standard Load Balancer cannot be replicated to DR using ASR.

Many thanks
Jitendra Singh

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2021-05-27 19:58] david-stanford commented on #2837
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/433277/>433277</a>

[2021-05-28 06:57] DataOx opened #2838 "IOT section relation to lamda and kappa architecture"
[Enter feedback here]

Please provide more details how the IOT section work with kappa and lamda architecture. When and how to represent them in the IOT scenarios?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 953d7d0d-651f-a566-1d28-6946c824e1ae
* Version Independent ID: 8f5b4264-dcc9-ad28-36fe-45463d15f52a
* Content

[2021-05-28 06:57] david-stanford commented on #2838
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/433513/>433513</a>

[2021-05-28 20:13] #2384 closed

[2021-05-29 19:02] karlgots opened #2839 "Group Policies not applicable for Linux VM's"
Currently, the page recommends to "Use Group Policy settings on the VM to enable automatic system updates."

Group Policy settings are a feature of Windows, and as such not available for Linux. I would suggest to remove the specific suggestion, and to provide recommended auto-patching instructions for the supported Linux distributions.

---
#### Document Details

⚠ *Do not edit this section. It is

[2021-05-29 19:03] david-stanford commented on #2839
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/434017/>434017</a>

[2021-05-30 20:52] Emmanuel-Eze opened #2841 "Feedback for Predictive Maintenance"
I would like to see an article that shows more information on implementation details, pricing guidance, or code examples

[2021-05-30 20:53] david-stanford commented on #2841
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/434244/>434244</a>

[2021-05-31 04:03] MayankBargali-MSFT commented on #2835
@liz551 As there was no response. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-05-31 04:03] #2835 closed

[2021-05-31 04:03] MayankBargali-MSFT commented on #2836
@Shivahide As there was no response. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-05-31 04:03] #2836 closed

[2021-06-01 07:24] DuHuynh12 opened #2842 "The pre/post script in architect image doesn't work like that"
[Enter feedback here]
Following the below document, the pre-script / post-script runs on Azure context, not locally.
https://docs.microsoft.com/en-us/azure/automation/update-management/pre-post-scripts

The architect images show that it runs on on-pre / Azure VM make misleading.
there is a walk-around to able run pre/postscript on on-pre / Azure VM that uses pre/post-script to trigger another user

[2021-06-01 07:24] david-stanford commented on #2842
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/434707/>434707</a>

[2021-06-01 13:30] mmkmur opened #2843 "Enchancement request"
[Enter feedback here]

Could you please provider direction on having this script without hybrid worker node for Windows and Linux ( For Cases where the systems that need Forensic remain in Azure itself.)
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7b130b0-a3fd-3fd7-900f-7bc900e23ef2
* Version Independent ID: 63bbdf4

[2021-06-01 13:31] david-stanford commented on #2843
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/434827/>434827</a>

[2021-06-02 04:07] tkane1azure opened #2844 "Could you expand video-on-demand pricing guidance?"
Could you expand video-on-demand pricing guidance for comparison with AWS?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd6efdd9-5b74-3186-a8f9-ac482f1215f2
* Version Independent ID: e262bd4f-11f1-ab1c-ffb1-61361287464c
* Content: [Video-on-demand digital media - Azure Solution Ideas](https://docs.microsoft.com/en-us

[2021-06-02 04:07] david-stanford commented on #2844
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/435234/>435234</a>

[2021-06-02 17:18] JasRobe commented on #2841
@Emmanuel-Eze  could you be more specific with your request?

[2021-06-02 17:24] JasRobe commented on #2844
Is there a specific example you are referring to on this?

[2021-06-02 19:48] jocontr commented on #2139
@vinodmelvinanir here is an interesting article for reference https://www.automationworld.com/factory/iiot/article/21132891/is-the-purdue-model-still-relevant

In terms of an existing architectural pattern, we do not currently have one that reflect such model.

[2021-06-02 23:17] nashahz opened #2845 "Typo"
[Enter feedback here]

"Synapse Mana private endpoints" link is misspelled, needs to be Synapse Manged Private endpoints
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6cce4daf-bd8d-bd82-54a0-17e905a1c150
* Version Independent ID: 0dbc5354-031f-2d79-99da-68f9719e89d4
* Content: [Big data analytics with enterprise-grade

[2021-06-02 23:18] david-stanford commented on #2845
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/435864/>435864</a>

[2021-06-03 11:25] ciufudean opened #2847 ""Azure Cosmos DB SQL API" is listed as a reference for section "Document Databases""
You may want to reconsider and link to a document-oriented API instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e40cb85c-ee53-7b49-0622-bed8ebedea81
* Version Independent ID: 896e0838-dfd1-c442-414d-ad9ea6dc8f7d
* Content: [Understand data store models - Azure Application Architecture Guide](https://docs.microso

[2021-06-03 11:25] david-stanford commented on #2847
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/436087/>436087</a>

[2021-06-03 12:20] EdPrice-MSFT commented on #2838
UPDATE: The IoT Architecture Council is discussing this topic. Thank you!

You can find our content at http://aka.ms/IoTArchitecture

[2021-06-03 12:29] simonesavi commented on #2843
@mmkmur you can execute the code within a Virtual machine with this configuration:

- VM must be hosted in the same subnet that grants access to the Storage account
- The VM must have a managed identity to which must be given grants to access the target VM's subscription

Inside this VM you can run the code without the 'if' at line 57

[2021-06-03 13:50] BhargaviAnnadevara-MSFT commented on #2845
@nashahz Thanks for bringing this to our attention. I have submitted a PR to fix the issue that's in review.

[2021-06-03 13:53] BhargaviAnnadevara-MSFT commented on #2845
@nashahz We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-06-03 13:53] #2845 closed

[2021-06-03 18:31] jocontr commented on #2247
Hi @martinokeefe,

I would consider that neither approach is wrong. I believe the intent of the author was to meticulously walk through each step and describe the process in detail.

[2021-06-03 18:31] #2247 closed

[2021-06-03 18:42] neilpeterson commented on #2793
Thanks for the issue, a fix should publish shortly.

[2021-06-03 18:42] #2793 closed

[2021-06-03 18:44] neilpeterson commented on #2813
Thanks for the issue, a fix will publish shortly.

[2021-06-03 18:44] #2813 closed

[2021-06-03 18:45] jocontr commented on #2259
Thank you @sheshmantha , point taken. My team will make sure to add the note.

[2021-06-03 18:46] neilpeterson commented on #2839
Thanks for the issue, a fix should publish shortly.

[2021-06-03 18:46] #2839 closed

[2021-06-03 18:50] neilpeterson commented on #2475
It looks like this has been resolved.

[2021-06-03 18:50] #2475 closed

[2021-06-03 20:35] jocontr commented on #2333
Hi @bijuthan , I would like to refer you to the following guidance:
https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/containers/aks-start-here
https://docs.microsoft.com/en-us/azure/cloud-adoption-framework/
https://docs.microsoft.com/en-us/azure/cloud-adoption-framework/migrate/

[2021-06-03 20:35] #2333 closed

[2021-06-03 20:44] #2367 closed

[2021-06-04 00:01] jocontr commented on #2481
Hi @anshuman-nath, apologies for the confusion. After reading the passage I can see how it could lack context.

I am guessing the intend of the author was within the context of rending static content on the compute (server) tier. That could be translated to many forms of output. In the end the point the author is trying to convey is the use of caching for these binary outputs that may be static in

[2021-06-04 00:01] #2481 closed

[2021-06-04 10:51] Rvvhub opened #2848 "Antivirus exclusions not needed/recommended for Windows Defender"
Hi there,

the antivirus exclusions on this page includes several executable files (*.exe and *.sys): these exclusions are not needed (and against recommendations) in a native Windows client with Windows Defender.

WD has built-in logic to deal with 1st party executables.

Ruud

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-06-04 10:51] david-stanford commented on #2848
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/436611/>436611</a>

[2021-06-04 14:49] JasRobe commented on #2719
Are you accepting the terms with the checkbox and then using the 'downlad SVG icons' button?  or are you using some context menu to 'save target as'?   You should be clicking on the button.   Otherwise, perhaps try using a different browser.  I was unable to reproduce your issue just now.

[2021-06-04 14:49] #2719 closed

[2021-06-04 14:56] JasRobe commented on #2710
Thank you for pointing this out, I'll ensure it is updated in the next release.

[2021-06-05 13:03] algattik opened #2849 "Stream analytics can also be used within Synapse"
Stream analytics can also be used within Synapse
https://docs.microsoft.com/en-us/azure/synapse-analytics/sql-data-warehouse/sql-data-warehouse-integrate-azure-stream-analytics

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 957618b3-8d25-49c4-950c-0c044d68f443
* Version Independent ID: 2ab67665-066b-fb14-9763-a12693b19

[2021-06-05 13:04] david-stanford commented on #2849
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/437156/>437156</a>

[2021-06-07 16:37] jjadta opened #2851 "ADT icon in architecture diagram"
Super small nit, but the architecture diagram is using an old icon for ADT.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 768f747a-0066-ede4-9373-5fa54ceb80cd
* Version Independent ID: c4d828a3-962e-2a44-7751-f871cd34eea0
* Content: [Facilities management powered by mixed reality and IoT - Azure Solution Ideas](https:

[2021-06-07 16:37] david-stanford commented on #2851
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/437851/>437851</a>

[2021-06-07 18:44] dstinebaugh opened #2852 "Need these in an easy to import format"
I should not have to add each icon manuall, then rename into a new stencil set in Visio. Azure and Visio have both been around long enough that these should:
A. Already be an icon set in Visio nativly instead of having to download the zip file
B. At least have a stencil set available to ease the import of the hundreds of new icons into Visio.

Having to manually add and rename each icon is less th

[2021-06-07 18:44] david-stanford commented on #2852
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/437992/>437992</a>

[2021-06-08 08:43] ezYakaEagle442 opened #2853 "AWS AppMesh equivalent of OSM+Dapr"
Service Fabric Mesh sound old, MSstrategy is now around Dapr+Open Service Mesh

Please update the docs accordingly

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0ef54ba-28f9-bf3d-214d-d15ff2595a55
* Version Independent ID: 2c9fabc5-0288-ce98-a906-0dcc720f0c7f
* Content: [Comparing AWS and Azure compute services - Azu

[2021-06-08 08:44] david-stanford commented on #2853
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/438342/>438342</a>

[2021-06-08 14:33] thoaingan opened #2855 "Please add Azure Spring Cloud to this decision tree diagram"
Please add Azure Spring Cloud to this decision tree diagram.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 510808e8-db5d-6b07-9a04-6edb743a2dfc
* Version Independent ID: 20d098aa-ef31-cb26-d677-765cfc9a7164
* Content: [Choosing an Azure compute service - Azure Architecture Center](https://docs.microsoft.com/en-us/azur

[2021-06-08 14:34] david-stanford commented on #2855
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/438453/>438453</a>

[2021-06-09 01:29] ChaitanyaNaykodi-MSFT commented on #2853
Hello @ezYakaEagle442,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-06-09 13:38] k110 opened #2859 "Patterns categorization issue ?"
[Regarding [Patterns catalog](https://docs.microsoft.com/en-us/azure/architecture/patterns/#catalog-of-patterns), it seems that 2 patterns are missing in the page "Operational Excellence" : Geodes and Materialized View]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f922c02-5f01-a733-7553-8ef7d70bf78e
* Version Indepe

[2021-06-09 13:38] david-stanford commented on #2859
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/438958/>438958</a>

[2021-06-09 13:52] JGezels opened #2860 "Icon in Architecure schema"
Hi

Just wondering, shouldn't the first load balancer (public facing behind traffic manager, with public IP) not be tagged as ELB (external) instead of ILB (internal)

regards

Jan

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2442849c-9e87-56b2-dffd-5c8089e8132c
* Version Independent ID: 828da465-186b-f819-9575-ee51e

[2021-06-09 13:52] david-stanford commented on #2860
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/438966/>438966</a>

[2021-06-09 16:14] JasRobe commented on #2844
Close due to no response.

[2021-06-09 16:14] #2844 closed

[2021-06-09 16:14] JasRobe commented on #2841
close due to no reply.

[2021-06-09 16:14] #2841 closed

[2021-06-09 16:52] helderpinto opened #2862 "PowerShell script fails because not recreating spoke peers and falls short for multi-subscription scenarios"
The PowerShell script for adding IP address spaces has two problems:

1. It removes the hub>spoke peering only and relies on resetting the spoke>hub peering state for the whole logic to function. However, after having made several tests, this approach does not work, because resetting the spoke>hub peering does not update the remote peering address space on the spoke side. A less optimized but much

[2021-06-09 16:52] david-stanford commented on #2862
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/439054/>439054</a>

[2021-06-10 11:57] Predictive-JT opened #2863 "Optimize Marketing with Machine Learning"
Hi there,

I'm interested in the solution of Optimize Marketing with Machine Learning (https://docs.microsoft.com/en-us/azure/architecture/solution-ideas/articles/optimize-marketing-with-machine-learning). It would be very helpful if you could me give more insides of this solution.

Kind regards,

Jerom

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2021-06-10 11:57] david-stanford commented on #2863
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/439419/>439419</a>

[2021-06-10 15:43] mike-urnun-msft commented on #2863
Of course, @Predictive-JT! Since this channel is for driving improvements towards Azure Architecture Center docs, could you make a post on [MS Q&A channel](https://docs.microsoft.com/en-us/answers/index.html) for your question?

[2021-06-11 17:02] freespambox4eva opened #2867 "Enterprise Dataware Strategy"
Hi,

Can you highlight a detailed strategy for creating an Enterprise Data Warehouse on Azure?

What could be a reference architecture for the same?

Regards,

[2021-06-11 17:03] david-stanford commented on #2867
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/439977/>439977</a>

[2021-06-12 21:23] epomatti opened #2868 "Subnet icon is missing"
Can't find subnet icon...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6624d44c-f9f6-02f8-2c67-0f0637fed62e
* Version Independent ID: 9346a8ff-bab5-be2c-9dc1-d546fda1efa9
* Content: [Azure Icons - Azure Architecture Center](https://docs.microsoft.com/en-us/azure/architecture/icons/)
* Content Source: [docs/icons/inde

[2021-06-12 21:24] david-stanford commented on #2868
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/440335/>440335</a>

[2021-06-13 16:57] mike-urnun-msft commented on #2868
Hi @epomatti - Thank you for sharing your feedback! Since this channel is for driving improvements towards MS Docs, could you provide us with a specific URL of the MS Doc that your feedback is most applicable to? That way, we're able to connect you with the right team that is best suited to address your feedback.

[2021-06-14 01:45] epomatti commented on #2868
@mike-urnun-msft updated question, don't know why it was missing.

[2021-06-14 15:54] daveRendon opened #2870 "URL - Access denied - under the scalability considerations section"
[Enter feedback here]
The URL under the scalability considerations section is not publicly available:

"see Azure AD: Under the hood of our geo-redundant, highly available, distributed cloud directory." the URL redirects to: https://techcommunity.microsoft.com/t5/enterprise-mobility-security/bg-p/enterprisemobilityandsecurity

Error: "You do not have sufficient privileges for this resource or its

[2021-06-14 15:54] david-stanford commented on #2870
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/440805/>440805</a>

[2021-06-14 17:57] mbibby1 commented on #2862
As per @helderpinto comments. The script isn't fit for purpose.

Produces error: Add-AzVirtualNetworkPeering : Cannot create or update peering /subscriptions/..../providers/Microsoft.Network/virtualNetworks/vnet-hub-0001/virtualNetworkPeerings/peer-spoke-002 because address space of its parent virtual network /subscriptions/....../Microsoft.Network/virtualNetworks/vnet-hub-0001 changed since remot

[2021-06-14 22:58] helderpinto commented on #2862
I am adding here a working script that has been tested with several scenarios:

[code]

[2021-06-15 12:56] discodandy opened #2871 "Translation for this page is missing"
This page is not translated in any language. Only the original English text is available.

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: fbbf8259-fef9-b02b-0b56-e24f95e04c6a
* Version Independent ID: 3d639f35-e1cd-caba-e8ba-4e778ad523b4
* Content: [Azure Automation State Configuration -

[2021-06-15 12:56] david-stanford commented on #2871
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/441437/>441437</a>

[2021-06-15 14:33] ckittel commented on #2871
@JasonCard -- IIRC, you own the loc content for `architecture-center` -- can you check in on this articles translation status?

[2021-06-15 14:35] ckittel commented on #2870
Until we get the article updated, here is a link to the post: <https://techcommunity.microsoft.com/t5/azure-active-directory-identity/azure-ad-under-the-hood-of-our-geo-redundant-highly-available/ba-p/243762>

[2021-06-15 14:42] #2870 closed

[2021-06-15 16:08] daveRendon commented on #2870
Thank you @david-stanford @ckittel and reading the comments on the article looks like the blog post is also available as an MS doc - https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/active-directory-architecture

[2021-06-15 19:44] JasonCard commented on #2871
Adding @SunnyDeng who is current loc owner for architecture-center.
@ckittel please reassign to @SunnyDeng.

[2021-06-16 02:39] SunnyDeng commented on #2871
This file is in loc pipeline queue, the current ETA is July.

[2021-06-17 11:40] TestUser0811 opened #2872 "Mentioning of Azure API Management is missing in this page"
Why "Azure API Management" not included in this page?

Azure Application Gateway & Azure API Management are inter changeable though they are difference Azure Load balancing offering.

Some documentation about when to choose what between Azure Application Gateway & Azure API Management would be helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2021-06-17 11:41] david-stanford commented on #2872
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/442680/>442680</a>

[2021-06-17 14:49] bd-robert-dean opened #2873 "A command line (app) SignalR Client"
I would like to see the example as a non web UI client.  I have been working for months to get a command line app that is the SignalR Client using Azure SignalR Service (ASRS). I have found nothing on step by step to scale with the ASRS. MS docs says to scale by adding App Service, by other documentation says that ASRS will scale for you. If adding App Services to Azure is needed then clients will

[2021-06-17 14:49] david-stanford commented on #2873
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/442761/>442761</a>

[2021-06-18 08:57] Kundan9 opened #2876 "Bursting from AKS with ACI"
I'd like to see you expand this article with more information, implementation details, pricing guidance, or code examples

-------------------------------------

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01f8f943-7688-65e6-26c9-5d682a225306
* Version Independent ID: 18d298ba-be2b-bc4a-abac-5ea5a94fadca
* Content: [Burs

[2021-06-18 08:57] david-stanford commented on #2876
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/443236/>443236</a>

[2021-06-18 13:29] AjayKumar-MSFT commented on #2876
@Kundan9, Thanks for leveraging Azure docs feedback channel to raise this question. Could you please share the Azure documentation for which this feedback is applicable to?

[2021-06-18 16:10] rp-msft opened #2877 "External traffic points like app gateway and LB in the hub segment"
[A lot of solutions use hub and spoke model. Within this concept, the public IPs that are receiving traffic from internet or private IPs receiving traffic from corporate network act as the Azure subscription hub ingress/egress points .While the Azure AKS App Gw documentation for brownfiled covers show to have App gw in a separate VNET and resource group, however same is not clear for Loadbalancers

[2021-06-18 16:10] david-stanford commented on #2877
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/443413/>443413</a>

[2021-06-18 17:17] mattruma opened #2878 "Change from "Can be contained?" to "Can be containerized?""
On the Choose a candidate service diagram, I think it should say "Can be containerized?" instead of "Can be contained?"

![image](https://user-images.githubusercontent.com/188079/122596055-5606d880-d037-11eb-9638-fa8441344525.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 510808e8-db5d-6b07-9a04-6edb743a2dfc
* Ver

[2021-06-18 17:17] david-stanford commented on #2878
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/443468/>443468</a>