[2019-08-30 04:20] KetanChawda-MSFT commented on #1748
@alvipeo Thank you for your feedback! We will review and provide an update as appropriate.

[2019-08-30 04:23] KetanChawda-MSFT commented on #1748
@doodlemania2 any thoughts here?

[2019-08-30 04:45] #1741 closed

[2019-08-30 08:47] knssub opened #1749 "Visio Files"
hi, The article is one of the best-written article in the Azure documentation. Very comprehensive. It will be very helpful if you could provide us with the Visio files. It takes humongous time to replicate this in the Visio :-)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82d8a578-f9f1-53af-64d0-808f1fde6c9c
* Versio

[2019-08-30 14:18] KetanChawda-MSFT commented on #1749
@knssub Thanks for the kudos and sharing your feedback and thoughts on this matter. Surely, we will take this as a opportunity and see if that is feasible. For few of the architecture it is available. See this [document](https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/hybrid-networking/vpn).

You can download the Azure Cloud and AI Symbol / Icon Set - SVG from [here](ht

[2019-08-30 14:18] #1749 closed

[2019-08-30 20:41] osartavi opened #1751 "Implementing an NSG for DMZ ("Public DMZ out")"
Hi,
I am part of CSS and I would like you to consider the possibility of adding a clarification in the document. The diagram in our documentation shows that an NSG could/should be deployed for a trusted DMZ subnet handling outgoing internet traffic (as it is the case for "Public DMZ out")

![Capture](https://user-images.githubusercontent.com/47437304/64050289-c972e980-cb34-11e9-88ef-5cf2fc1dd779.J

[2019-08-31 04:17] KetanChawda-MSFT commented on #1751
@osartavi Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2019-09-01 16:36] ptuton opened #1753 "Minor typo in subnet config"
Subnet config reads "SQLMI-DS-EUS2 (10.235.0.0.25)" where it should read "SQLMI-DS-EUS2 (10.235.0.0/25)" - note the use of "/".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 524015bb-49a9-3291-a9b8-001908ebb3ec
* Version Independent ID: adab2d2a-d5cd-2b4c-cbef-ce8b88bf767c
* Content: [Rehost an on-premises app by migr

[2019-09-01 17:07] osartavi commented on #1751
Hi @KetanChawda-MSFT

Thank you for your reply. Please find the reference for the main document below:
https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/dmz/secure-vnet-dmz

[2019-09-01 17:28] KetanChawda-MSFT commented on #1753
@ptuton Thank you for your feedback! We will review and provide an update as appropriate.

[2019-09-01 17:33] #1753 closed

[2019-09-01 17:33] KetanChawda-MSFT commented on #1753
@ptuton Thank you for pointing this out. I have created a PR to fix this typo.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-01 22:51] ptuton opened #1754 "Should 'date' be 'data'?"
Should the following sentence, "Optimizes replication date by using caching, compression, and encryption", read, "Optimizes replication data by using caching, compression, and encryption" ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 524015bb-49a9-3291-a9b8-001908ebb3ec
* Version Independent ID: adab2d2a-d5cd-2b4c-c

[2019-09-01 22:52] ptuton commented on #1754
Additionally for "Sends replication date to Azure Storage."

[2019-09-01 23:26] ptuton opened #1755 "Multiple references to OSTICKETMYSQL that shouldn't exist"
There are multiple references to OSTICKETMYSQL in the VM migration section that shouldn't exist because the OSTICKETMYSQL VM isn't being migrated as it's data is being imported into the Azure Database for MySQL offering. This includes screen-shots and incorrect references to "two VMs". It could be confusing to those who don't understand the process correctly...

---
#### Document Details

⚠ *Do no

[2019-09-02 02:59] DixitArora-MSFT commented on #1754
@ptuton Thanks for your feedback. We will review and update as appropriate.

[2019-09-02 03:00] DixitArora-MSFT commented on #1755
@ptuton Thanks for your feedback. We will review and update as appropriate.

[2019-09-02 12:11] mkiernan opened #1756 "ANF needs mentioning here"
It seems rather odd that Azure NetApp Files (ANF) is not mentioned in this page at all, particularly since it's being used very commonly in Azure HPC deployments now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7cf67b7-8d94-d7a2-97ef-1387e252109c
* Version Independent ID: 0d3a72a7-6600-5682-6be1-6c333192bbd6
* Cont

[2019-09-02 19:29] MicahMcKittrick-MSFT commented on #1756
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-09-03 06:43] steveculshaw opened #1757 "Difference in resource type naming prefix or suffix"
This document recommends resource type prefixes, yet another page (https://docs.microsoft.com/en-us/azure/architecture/best-practices/naming-conventions#naming-rules-and-restrictions) has the resource types as suffixes

Consistency would be nice  :-)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fe077f3-402e-b5f8-5f7

[2019-09-03 06:45] steveculshaw opened #1758 "Difference in resource type naming prefix or suffix"
This document shows resource types as suffixes, yet another page (https://docs.microsoft.com/en-us/azure/architecture/cloud-adoption/ready/considerations/name-and-tag#recommended-resource-type-prefixes) has the resource types as prefixes

Consistency would be nice :-)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e54

[2019-09-03 07:36] theheatDK opened #1759 "Azure ADDS vis ADDS server?"
Hi,
The diagram is displaying two VMs running ADDS. Are any particular reason for not using the AADDS PaaS instead? I would assume that if the PaaS service is working it would be the natural first choice :-)
Regards Peter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87139748-938e-638e-de1f-94f8becfe1da
* Version Inde

[2019-09-03 08:53] KetanChawda-MSFT commented on #1757
@steveculshaw Thank you for your feedback! We will review and provide an update as appropriate.

[2019-09-03 09:02] DixitArora-MSFT commented on #1759
Hi @theheatDK Thanks for your feedback. We will review and update as appropriate.

[2019-09-03 10:47] KetanChawda-MSFT commented on #1758
@steveculshaw Thank you for your feedback! Closing this issue as duplicate of https://github.com/MicrosoftDocs/architecture-center/issues/1757

[2019-09-03 10:47] #1758 closed

[2019-09-03 10:58] johnnycardy commented on #1711
Example code can be found within the TailSpin [sample project](https://github.com/Azure-Samples/guidance-identity-management-for-multitenant-apps/blob/master/src/Tailspin.Surveys.Web/Security/AuthenticationContextExtensions.cs).
For better or worse, it abstracts away the JWT token specifics, using the `Microsoft.IdentityModel.Clients.ActiveDirectory` assembly.

[2019-09-03 15:23] theheatDK opened #1764 "Virtual Network Peering Name?"
Hi,
It would be helpful with a standard for Virtual Network Peering Names. Any plans? :-)
Regards Peter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e540bb6-9f72-0529-28ea-ae82bc869835
* Version Independent ID: 24e71392-985b-59fb-1552-46395b169612
* Content: [Naming conventions for Azure resources - Best practices f

[2019-09-03 15:49] doodlemania2 commented on #1748
This is okay to close as disabling 1.0 and 1.1 should come out in just a few weeks.

[2019-09-03 15:49] #1748 closed

[2019-09-03 16:05] tjsullivan1 opened #1765 "Physical Machine Assessments"
Hello,

What can be done for the assessment of physical machines? As far as I know, Azure Migrate does not yet have support for physical assessments, and a tool like the Microsoft Assessment Planning Toolkit could be used, but I think a recommendation should be added to this document or [this document](https://docs.microsoft.com/en-us/azure/architecture/cloud-adoption/decision-guides/migrate-decis

[2019-09-03 19:27] MySelfSivaKrishna opened #1766 "Azure Data Lake Storage doesn't have a valid alternative"
Can you provide valid alternative for azure data lake storage in aws environment?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30d02f16-9621-d204-4132-8ce8db79b0af
* Version Independent ID: 65b4385b-79f0-d842-d4a1-5d013615f9b1
* Content: [AWS to Azure services comparison - Azure Architecture Center](https://docs.micr

[2019-09-04 03:06] DixitArora-MSFT commented on #1765
Hi @tjsullivan1 Thanks for your feedback. We will review and update as appropriate.

[2019-09-04 03:50] MicahMcKittrick-MSFT commented on #1764
Thanks for the question! We are investigating and will update you shortly.

[2019-09-04 03:51] MicahMcKittrick-MSFT commented on #1766
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-04 03:53] chadsowald commented on #1711
@johnnycardy and @DixitArora-MSFT, thank you.  I really wanted specifics around the JWT token contents, not just C# code.  That wasn't the point, but thank you nonetheless.  I found someone else who had figured it out, so they could do client cert auth in PHP:

https://github.com/thephpleague/oauth2-client/issues/713#issuecomment-522747495

Please take a look at their comment and consider enhancin

[2019-09-04 09:22] #1754 closed

[2019-09-04 09:24] KetanChawda-MSFT commented on #1754
@ptuton Thanks you for pointing this out! I have created a PR to correct the typo's you mentioned. The changes will be reflected in next 24hrs.

[2019-09-04 09:24] KetanChawda-MSFT commented on #1754
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-04 10:36] DixitArora-MSFT commented on #1759
@theheatDK The architecture shows how to extend Active Directory services from your on-premises data center to Azure. It basically facilitate management of assets moved to Azure from your on-premises network that depend on ADDS. Please let me know if I misunderstood the question.

[2019-09-04 18:37] qluo88 opened #1767 "AKS supports autoscaling - please correct document"
The statement of AKS doe not support autoscaling need to updated. Please see AKS document on autoscaling.  https://docs.microsoft.com/en-us/azure/aks/cluster-autoscaler

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: adbd9d8a-e443-aeab-cdf1-1c9c8858746c
* Version Independent ID: 5a0980f5-b246-0865-6f06-aa875f87a5ce
* Co

[2019-09-05 02:55] mike-urnun-msft commented on #1767
Hi @qluo88 - Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-09-05 07:53] DixitArora-MSFT commented on #1759
@theheatDK Just following up again in case missed the previous communication.

[2019-09-05 09:40] knssub opened #1768 "Excellent Article - Blurred / Unclear Images"
Excellent article, very crisp and super useful guidance. However, the images are not clear, could be due to the font used and also the image quality. Could you please upload better images?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36e200d2-2d51-4a8a-d8ef-4c03890c42d0
* Version Independent ID: 12a83d63-c2cb-91ad-a3

[2019-09-05 12:51] eyast opened #1769 "Diagram mentions rebranded product"
Hi - the diagram shows "OMS" but I think this was rebranded

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bdc23836-c10c-5c47-818b-42c53916b269
* Version Independent ID: b5ef4736-1df9-e3d9-eafb-7782cc0d5fea
* Content: [Best practices for enterprises moving to Azure - Microsoft Cloud Adoption Framework for Azure](https:

[2019-09-05 14:09] VeryKross opened #1770 "Usability improvement"
This is a great resource that I think could be improved if each of the decision endpoints (blue boxes) were also links to more information, perhaps the info landing page for each of those services (or maybe something more contextual for someone making this sort of decision). For many people, seeing that the decision tree suggests "Container Instances" is good … but leads to the question of "what's

[2019-09-05 14:34] krusejan opened #1771 "Linguistic Analysis API"
This Cognitive Service does not exist (anymore), please update the documentation accordingly

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8a51dd9-65b7-5039-06d0-d096ad51d0bb
* Version Independent ID: 9c2c99ed-8d17-7865-e680-2107b7f0ebf1
* Content: [Choosing a natural language processing technology](https://docs.micr

[2019-09-05 15:47] DixitArora-MSFT commented on #1771
Hi @krusejan Thanks for your feedback. We will review and update as appropriate.

[2019-09-05 15:49] DixitArora-MSFT commented on #1768
Hi @knssub Thanks for your feedback. We will review and update as appropriate.

[2019-09-05 16:22] MikeWasson commented on #1770
Thanks - this is a great suggestion, but unfortunately the Microsoft docs platform doesn't support image maps or clickable SVG files. That said, it would be possible to add a "further resources" section.

[2019-09-05 16:25] MikeWasson commented on #1767
@qluo88 Thanks. Cluster autoscale is currently in preview so autoscale support is provided "as-is" and "as available"

[2019-09-05 16:27] mike-urnun-msft commented on #1769
Hi @eyast - Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-09-05 16:43] VeryKross commented on #1770
Thanks for the quick feedback. Would it be possible to have a “More Info” link right below the SVG graphic? That would still keep the link in context. 

    	Get Outlook for iOS

On Thu, Sep 5, 2019 at 12:22 PM -0400, "Mike Wasson" <notifications@github.com> wrote:

Thanks - this is a great suggestion, but unfortunately the Microsoft docs platform doesn't support image maps or clickable SVG files.

[2019-09-05 16:54] doodlemania2 commented on #1747
Thank you! We've taken this item to our backlog and hope to have some changes to include additional capabilities soon.

[2019-09-05 16:54] #1747 closed

[2019-09-05 16:55] doodlemania2 commented on #1759
Agreed - there should be additional docs that talk about how to leverage (and when) AADDS instead of AADS, but this particular article is focused on the hybrid approach. I think we can close this one out as a request to have a decision guide on when to choose one over the other. Copied to internal backlog!

[2019-09-05 16:55] #1759 closed

[2019-09-05 16:57] doodlemania2 commented on #1764
Added to our list for updates which are in flight! Thanks so much @theheatDK for the suggestion. Update coming soon we hope!

[2019-09-05 16:57] #1764 closed

[2019-09-05 16:59] doodlemania2 commented on #1767
Yeah, we'd certainly update that once it goes to GA. Thanks for the note!

[2019-09-05 16:59] #1767 closed

[2019-09-05 17:00] doodlemania2 commented on #1766
We're currently working on this doc and have added it to the list of things to update. We hope to have changes out soon. Stay tuned!

[2019-09-05 17:00] #1766 closed

[2019-09-05 17:26] theheatDK commented on #1759
Thanks @DixitArora-MSFT @doodlemania2
I was confused since for me hybrid does not necessary mean that you install ADDS on VMs in Azure. Extending you on-premise ADDS by syncing it to an AADDS should be just as fine, and “equally” hybrid.
Looking forward to the decision guide :-)
Regards Peter

[2019-09-05 19:03] doodlemania2 commented on #1759
That's a great point - we'll make sure to clarify that in an upcoming DG!

[2019-09-06 05:11] DixitArora-MSFT commented on #1765
@tjsullivan1 Azure Migrate Server Assessment: You can use the Server Assessment tool to assess on-premises VMware VMs and Hyper-V VMs, for migration to Azure. So Azure migrate does have the capability.

For more information, follow this https://docs.microsoft.com/en-us/azure/migrate/migrate-services-overview

[2019-09-06 10:04] lukepuplett commented on #1635
My contract was renewed (unexpected) but I've been working on this. In the spirit of early feedback I have a gist https://gist.github.com/lukepuplett/42f95171ff090de0c0971e9c4c69e532

APIs are super important, as much as a GUI, and the article is API _design_ so I'm discussing much more of the "design" side of things, and then you can see my thoughts become more sketchy as it goes down. Once this

[2019-09-06 13:44] tjsullivan1 commented on #1765
@DixitArora-MSFT VMs != physical machines. I'm suggesting an addition for assessing bare metal. I believe that Movere (new MSFT acquisition) might be able to do this, so perhaps that should be the recommendation?

To clarify, on the page that you listed, you can see that the Azure Migrate Server Migration tool can work with physical (i.e., bare metal) machines. Server assessment does not currently

[2019-09-06 13:48] DixitArora-MSFT commented on #1765
@tjsullivan1 My bad I missed that. I have assigned this to content author and update as appropriate.

[2019-09-06 17:53] elliottnichols opened #1773 "Wrong Visio file link"
The web-app multi-region for HA Visio download link is directed to the wrong diagram. It links to the basic web-app file instead of the one displayed on the doc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0c0c2a8-94a0-67ef-602a-6013bc7aa403
* Version Independent ID: 27705eeb-7853-bd5d-58ac-a07bd6a8a79d
* Content:

[2019-09-06 23:23] MikeWasson commented on #1773
The Visio has several pages, this architecture is on the page labeled 'Multi-region'

[2019-09-09 04:27] DixitArora-MSFT commented on #1771
@krusejan We still have Azure Cognitive Services. The catalog of services within Azure Cognitive Services can be categorized into five main pillars - Vision, Speech, Language, Web Search, and Decision.
More detail can be found here https://docs.microsoft.com/en-us/azure/cognitive-services/welcome

Please let me know if I misunderstood the question. So for now I will proceed with closure of this an

[2019-09-09 04:27] #1771 closed

[2019-09-09 13:55] #1773 closed

[2019-09-10 13:56] BrianBlanchard commented on #1700
Closing due to lack of response. Will reopen, if a reply comes back from @eyast

[2019-09-10 13:56] #1700 closed

[2019-09-10 13:58] BrianBlanchard commented on #1755
Adding to backlog as part of the Migrate V2 update

[2019-09-11 18:56] doodlemania2 commented on #1756
We've taken this item to our internal backlog for further research and will update as necessary!

[2019-09-11 18:56] #1756 closed

[2019-09-11 18:56] doodlemania2 commented on #1757
We've taken this item to our internal backlog for further research and will update as necessary!

[2019-09-11 18:56] #1757 closed

[2019-09-11 18:58] doodlemania2 commented on #1751
We've added this request to our existing work on refining this document and hope to post an update soon!

[2019-09-11 18:58] #1751 closed

[2019-09-11 18:59] doodlemania2 commented on #1743
Fixed!

[2019-09-11 18:59] #1743 closed

[2019-09-11 19:01] doodlemania2 commented on #1709
We've taken this item to our internal backlog for further research and will update as necessary!

[2019-09-11 19:01] #1709 closed

[2019-09-11 19:03] doodlemania2 commented on #1746
We've taken this item to our internal backlog for further research and will update as necessary!

[2019-09-11 19:03] #1746 closed

[2019-09-11 19:29] jagtp opened #1777 "Diagram"
Who is the consumer of service discovery?
How the diagram is showing any possible service to service communication?

This diagram is taken as it is by some readers and anything missing or represented not precisely in this document will lead to incorrect concept building in the mind of readers.
Please make this diagram little more mature and perfect.

---
#### Document Details

⚠ *Do not edit this

[2019-09-11 19:43] doodlemania2 commented on #1635
Thank you so much @lukepuplett for taking the time to work with us on your thoughts. Feel free to follow up additionally offline as discussed. We're going to close for now as we don't have an exact action we can take other than continuing to research. Cheers!

[2019-09-11 19:43] #1635 closed

[2019-09-12 01:49] JeffreyFudge opened #1778 "Mismatch between Architecture Guide and Navigation Pane"
Within the Azure Architecture Guide under "Technology Choices", the two items listed are "choosing a compute service" and "choosing a data store".   However, in the navigation pane under "Technology Choices", the two items listed are "choosing a compute service" and "choosing a load balancing service".

Thus each section (navigation and the main page) is missing one of the three technology choices

[2019-09-12 02:51] DixitArora-MSFT commented on #1777
Hi @jagtp Thanks for your feedback. We will review and update as appropriate.

[2019-09-12 05:02] KetanChawda-MSFT commented on #1778
@JeffreyFudge Thank you for your feedback! We will review and provide an update as appropriate.

[2019-09-12 14:05] JeffreyFudge opened #1779 "Mismatch between Content Page and Navigation Pane"
The "Pillars of Software Quality" have some inconsistencies between the navigation pane (4 pillars) and the content pane (5 pillars).  It appears that there are actually 6 uniquely named quality pillars.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 111d7b49-94b6-abd9-c21a-fb0bace59114
* Version Independent ID: 5d9aa2

[2019-09-16 01:03] eyast opened #1782 "Typo"
the text reads "Console can get both a discount, and prioritized capacity."  I believe it should refers to "Contoso", not Console

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80c99f2c-3d30-6c23-7559-de463464e52a
* Version Independent ID: bc59e60a-7a1d-b31a-a173-8fb1dbde0a61
* Content: [Deploy a migration infrastructu

[2019-09-16 02:44] DixitArora-MSFT commented on #1782
Hi @eyast Thanks for your feedback. We will review and update as appropriate.

[2019-09-16 05:12] KetanChawda-MSFT commented on #1778
@MikeWasson Could you please take a look at this ?

[2019-09-16 05:30] DixitArora-MSFT commented on #1782
@eyast PR has been created for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-16 05:30] #1782 closed

[2019-09-17 02:36] v-hakob opened #1783 "Please update the information in "Use Azure Backup to create cross region backups that are application consistent""
According to the backup team, with the azure backup service, users can only restore VM’s/Disks to the same region as the backed up VM. So even though they may be using geo-replicated storage, they cannot leverage that to initiate a restore in the partner region.
It contradicts the information in this document. Could you please update accordingly? Thank you.

---
#### Document Details

⚠ *Do not ed

[2019-09-17 04:01] KetanChawda-MSFT commented on #1783
@v-hakob Thank you for your feedback! We will review and provide an update as appropriate.

[2019-09-19 09:08] piazzaandrea opened #1786 "aka.ms links broken"
3 of the 4 links at the paragraph level are broken, they are using aka.ms short URLs which do not resolve
Page: https://docs.microsoft.com/en-us/azure/architecture/vdc/
Broken links:

- Azure Virtual Datacenter: Concepts
- Azure Virtual Datacenter: Lift and Shift Guide
- Azure Virtual Datacenter: Presentation Deck

[2019-09-19 09:13] PramodValavala-MSFT commented on #1786
@piazzaandrea Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2019-09-19 13:53] alvipeo commented on #1748
so, any updates on this?

good, you closed it...

[2019-09-19 14:20] doodlemania2 commented on #1748
I'm hearing any day now @alvipeo :)

[2019-09-19 21:03] eriksw opened #1787 "Needs high-level overview of how permissions are granted to VMs (EC2 Instance Role equivalent)"
Coming from AWS, I'm used to creating a role, attaching specific policies to that role, and then attaching that role to VM instances I create so that software running on those VMs has the desired access.

This page could benefit from a brief description of what the equivalent moving parts are in Azure's security model. I clicked on "Getting started with Microsoft Azure security" and that took me t

[2019-09-20 02:51] DixitArora-MSFT commented on #1787
Hi @eriksw Thanks for reaching out. We will review and update as appropriate.

[2019-09-20 02:57] asbates commented on #1683
I am in the same boat so I second this.

But can I add an additional request? It would be nice to have some documentation geared towards IT/software personnel. As in, what is different about R packages vs. other programming languages? For example, vignettes and/or data are often included in R packages (not sure if this is true for other languages). Essentially, something to bridge the gap between

[2019-09-23 02:53] DixitArora-MSFT commented on #1787
@eriksw Role-based access control (RBAC) is a system that provides fine-grained access management of Azure resources. Using RBAC, you can segregate duties within your team and grant only the amount of access to users that they need to perform their jobs.

Here are some examples of what you can do with RBAC:

- Allow one user to manage virtual machines in a subscription and another user to manage v

[2019-09-23 17:02] softwarecraft opened #1790 "VSDX file download for diagram"
Please provide a VSDX file download for the SVG diagram as you do for the other 3 reference architectures for web apps, https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/#web-applications.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df354e21-f263-30a9-1a5c-1460f2bf16a9
* Version Ind

[2019-09-23 19:23] AnalyticJeremy commented on #1683
@brshallo This item is still in the backlog.  In the meantime, it might help to check out this timely blog post from @revodavid
https://blog.revolutionanalytics.com/2019/09/devops-and-r.html

[2019-09-23 19:25] AnalyticJeremy commented on #1683
@asbates Can you elaborate a bit on your request?  Are you looking for general information on how R packages work?  Or are you looking for information specific to how R packages can be included in a DevOps pipeline?

[2019-09-23 19:38] #1686 closed

[2019-09-23 20:40] eriksw commented on #1787
@DixitArora-MSFT No part of my question concerned granting access to users. My question/concern was about granting RBAC permissions _to VMs_ (not people! not users!) so that _software running on that VM_ has the desired access.

I know _now_ that the rough equivalent to an "Instance Role" ("Instance Profile" technically, but nobody uses that term) in AWS is a "user-assigned managed identity" in Az

[2019-09-23 22:48] mike-urnun-msft commented on #1790
Hi @softwarecraft - Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-09-24 02:34] asbates commented on #1683
@AnalyticJeremy I'm looking for information specific to R packages in a DevOps pipeline. Essentially, what @brshallo is looking for: building R packages including running tests and building documentation + vignettes.

In addition to that I was hoping to have a quick summary of how to set this up, what sort of system setup is required, etc., but geared towards IT personnel. I think generally, IT ma

[2019-09-24 15:02] nickmoss99 opened #1791 "Operate vs. Manage"
This may sound like splitting hairs, but I believe it is important: On this page, you introduce the "Manage" section, but refer to the 5 Operational Disciplines.  The current organization is:
- Operate
   -- Govern (includes 5 Governance Disciplines)
   -- Organize
   -- Manage (includes 5 Operations Disciplines)

Wouldn't it make more sense as:
- Manage
   -- Govern (includes 5 Governance Discipl

[2019-09-24 15:18] BrianBlanchard commented on #1791
@nickmoss99 Great feedback.
This has been a strong debate internal to the CAF LT.
I'm going to close this thread but pull you into the internal conversation. I'd like to get additional feedback & ask you to review some of the new guidance we are pulling together for Ignite. It might address your feedback.

[2019-09-24 15:18] #1791 closed

[2019-09-24 15:20] nickmoss99 commented on #1791
Awesome!

@Fouad Rachkidi<mailto:Fouad.Rachkidi@microsoft.com> and I are building out an MCS engagement based on the 5 Governance Disciplines, and would like to focus on Operations next.

-Nick

From: Brian Blanchard <notifications@github.com>
Sent: Tuesday, September 24, 2019 11:18 AM
To: MicrosoftDocs/architecture-center <architecture-center@noreply.github.com>
Cc: Nick Mossing <nickmoss@microso

[2019-09-25 07:45] rickpeters opened #1793 "Wrong visio diagram referenced"
The visio file of the diagram referenced is not for this architecture but for the normal hub-spoke?

regards,
Rick

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 104eba32-c77e-b013-e161-ff616d16a0f7
* Version Independent ID: 3bc27d0a-ef32-f5f6-4c85-fe8e2e45155e
* Content: [Hub-spoke network topology in Azure - Azure Re

[2019-09-25 14:17] PramodValavala-MSFT commented on #1793
@rickpeters Thanks for the feedback! Though the name of the file seems wrong, looks like its the right file for this doc but the link in the [base hub spoke doc](https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/hybrid-networking/hub-spoke) points to the same visio file which is incorrect.

[2019-09-25 14:24] rickpeters commented on #1793
@PramodValavala-MSFT that could be, however the visio I get shows the toplogy for normal hub-spoke and not the version with shared services (https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/hybrid-networking/shared-services)

[2019-09-25 14:37] PramodValavala-MSFT commented on #1793
@rickpeters I took another look and turned out both the diagrams are in the same file. You should tabs at the bottom for each.

![image](https://user-images.githubusercontent.com/43602528/65611241-2183fb00-dfd0-11e9-8e5d-2dc1425bbbbc.png)

[2019-09-25 15:33] doodlemania2 commented on #1787
This is excellent feedback, thank you so much @eriksw  - we've taken this to our internal backlog and updates will be forthcoming. You'll see a note posted to this issue when that update lands. We'll close it here for now.

[2019-09-25 15:33] #1787 closed

[2019-09-25 21:34] #1627 closed

[2019-09-26 12:41] snake-net opened #1797 "Role of Azure Load Balancer"
Could you please elaborate what is the role and benefits of the Azure Load Balancer in that scenario? As far as I know, it is also possible to expose Ingress Controller directly to consumers. Why is it recommended to have LB in front of it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5e2e444-d6b9-962e-56d4-8d1f3508

[2019-09-26 17:15] PramodValavala-MSFT commented on #1793
@rickpeters Just following up here... Hope my previous comment clears things up.

[2019-09-26 17:19] rickpeters commented on #1793
Yes it did. I tried to import the file in draw.io which doesn’t have support for this. Since I don’t have Visio I have to find another program to extract the second tab. Thanks for clearing this up

[2019-09-26 17:19] #1793 closed

[2019-09-26 17:27] athosfolk commented on #1683
My requirement is similar but simpler. I would just like to Connect RStudio version control to an Azure Devops repository.

[2019-09-26 17:37] PramodValavala-MSFT commented on #1797
@snake-net An ingress controller (like nginx-ingress) still runs on the cluster as a daemonset, so there is an instance running on each node. Now, as your cluster scales, you would have multiple nodes through which you can access the ingress endpoint running on your cluster.

And instead of loading all ingress traffic through one node, an Azure Load Balancer would help route traffic equally among

[2019-09-27 07:13] snake-net commented on #1797
That is clear now. Thank you!

[2019-09-27 09:22] PramodValavala-MSFT commented on #1797
@snake-net Glad that we could help!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-27 09:22] #1797 closed

[2019-09-27 20:05] #1768 closed

[2019-10-01 01:50] sammcj opened #1800 "Formatting: Missing or incorrect space character"
Section: Cloud Service

- Currently reads: `Web or worker roles are unexpectedlybeing shut down`
- Should read: `Web or worker roles are unexpectedly being shut down`

It looks like the character between the words `unexpectedly` and `being` is not a standard space character, giving the illusion there is a space between the words in the markdown source, however when the page is rentered the words a

[2019-10-01 02:39] DixitArora-MSFT commented on #1800
Hi @sammcj Thanks for your feedback. We will review and update as appropriate.

[2019-10-03 04:39] #1800 closed

[2019-10-03 04:40] DixitArora-MSFT commented on #1800
@sammcj PR has been created for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-03 09:51] pwasilewski-netcode opened #1801 "ProductsCommandHandler implementation"
Hello,
ProductsCommandHandler implements more than one ICommandHandler&lt;T&gt;, that breaks "Single responsibility rule" from SOLID.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c0ec92e-c237-f3a6-1835-f2078486dcb3
* Version Independent ID: f597c9a2-f18f-3722-57f9-acd535472b0b
* Content: [Command and Query Responsib

[2019-10-04 00:15] dcbrown16 opened #1802 "Host name vs computer name"
(I would make an edit but the Edit link is returning a 404)
The "host name" referred to in the note here appears to be what is referred to as "computer name" in the Portal and at the link below.
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/overview#naming

If possible I would like to standardize by changing this doc to use "computer name".

---
#### Document Details

⚠ *Do not e

[2019-10-04 03:56] KetanChawda-MSFT commented on #1802
@dcbrown16 Thank you for your feedback! We will review and provide an update as appropriate.

[2019-10-04 03:56] KetanChawda-MSFT commented on #1801
@pwasilewski-netcode Thanks for the feedback! I have assigned the issue to the content author @MikeWasson  to evaluate and update as appropriate.

[2019-10-04 13:20] benc-uk opened #1803 "AKS supports auto-scaling"
Both the Horizontal Pod Autoscaler and the Cluster Autoscaler are supported in AKS
https://docs.microsoft.com/en-us/azure/aks/cluster-autoscaler

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: adbd9d8a-e443-aeab-cdf1-1c9c8858746c
* Version Independent ID: 5a0980f5-b246-0865-6f06-aa875f87a5ce
* Content: [Criteria for cho

[2019-10-04 14:17] KetanChawda-MSFT commented on #1803
@benc-uk Thank you for your feedback! We will review and provide an update as appropriate.

[2019-10-04 14:18] KetanChawda-MSFT commented on #1803
@MikeWasson  Any thoughts here?

[2019-10-04 17:12] MikeWasson commented on #1801
I think the "single responsibility" in this case is "handling commands related to product inventory" - you could further decompose it, but then you'd need an additional mechanism to dispatch the messages to the right handler. In fact ProductsCommandHandler could just be a dispatcher that invokes other code modules.

[2019-10-04 17:23] MikeWasson commented on #1803
Yes - I'll update the doc. Thanks for opening this issue, @benc-uk 😺

[2019-10-04 17:29] #1803 closed

[2019-10-05 06:49] pwasilewski-netcode commented on #1801
I realised that there is no command dispatcher so it's ok to simplify the case in that way.
In the other hand i think that a point of view depends on scale of responsibility, class that add product to the inventory shouldn't be able to rate the product. Besides I guess that inventory has own repository.
According to Uncle Bob "There should be never more than one reason for a class to change." and

[2019-10-05 06:49] #1801 closed

[2019-10-05 16:48] MikeWasson commented on #1777
@jagtp I agree the diagram is confusing.  The intention was that services call to service discovery to get logical addresses of other services, and the management layer is used to publish service endpoints for service discovery.

On revisiting this, we decided that it's not really helpful to show service discovery, as it's just one consideration out of many in microservices (and not even mentioned

[2019-10-05 16:56] MikeWasson commented on #1712
It's a made-up scenario for illustration, so it could be anything really. That said ... I agree it's hard to picture why this particular API would return 400. Something like 403 (not authorized) might be a better example.

[2019-10-06 09:29] #1777 closed

[2019-10-06 20:28] helizabethwhite commented on #1748
@doodlemania2 has this been released yet?

[2019-10-07 07:52] jmertens1 opened #1805 "link is not working"
https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/training-with-deep-learning/tensorboard/tensorboard.ipynb

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 650239f8-0c0f-aeca-a8ff-f74a03b15e61
* Version Independent ID: 3bbf5d1a-0be8-e8a9-318b-71dfcdc336bf
* Content: [Distributed training o

[2019-10-07 08:00] msalvaris commented on #1805
Thanks for reporting. Will look into it.

[2019-10-07 08:53] KetanChawda-MSFT commented on #1802
@MikeWasson Any thought here ?

[2019-10-07 09:19] alvipeo commented on #1748
I believe it's any hour now :))

[2019-10-07 16:40] a-amalaa commented on #1786
I think this was mistakenly assigned to me.

From: Mike Wasson <notifications@github.com>
Sent: October 7, 2019 6:31 PM
To: MicrosoftDocs/architecture-center <architecture-center@noreply.github.com>
Cc: Amr Alaa El-Din (IBS) <a-amalaa@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [MicrosoftDocs/architecture-center] aka.ms links broken (#1786)

Assigned #1786<https://nam06.safelin

[2019-10-07 16:47] MikeWasson commented on #1786
@a-amalaa Yeah, sorry - fat fingered it 😺 Please ignore

[2019-10-07 18:59] doodlemania2 commented on #1748
This is available now via API: https://docs.microsoft.com/en-us/rest/api/frontdoorservice/frontdoor/frontendendpoints/enablehttps#minimumtlsversion
Portal support TBD

[2019-10-09 04:02] jagtp commented on #1777
Hi
Some times we intentionally create confusion because we are not sure and
confident what is right and what is not.
If you are out of that dilemma and sure that what is precise please correct
the diagram and help all those who will refer to it considering it as a
final truth.
There is no harm accepting an area of improvement and correcting it. We
improve by correcting things. Please don't hesitat

[2019-10-10 00:49] MikeWasson commented on #1712
Closing this issue - let me know if you had any other questions - thx!

[2019-10-10 00:49] #1712 closed

[2019-10-10 02:32] ashbham opened #1806 "The visio should show the SPA app also serverless"
Would it be possible to change the visio diagram here - https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/serverless/web-app so that the SPA web app is also depicted as Serverless. That way the end to end architecture would be Serverless and Azure native.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2019-10-10 05:03] KetanChawda-MSFT commented on #1806
@ashbham Thank you for your feedback! We will review and provide an update as appropriate.

[2019-10-10 05:03] KetanChawda-MSFT commented on #1806
@MikeWasson any thoughts ?

[2019-10-10 12:38] sy-huss opened #1807 "What happened to the Azure Data lake?"
The Azure Data Lake as an Analytical Data Store was mentioned in the Overview section, yet it has been omitted here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e643be6d-22a2-2b91-c370-edf83d694efe
* Version Independent ID: 770f2e51-9c53-e5ca-1107-9577369b15a6
* Content: [Choosing an analytical data store](https://d

[2019-10-10 15:32] DixitArora-MSFT commented on #1805
@msalvaris Any updates on this ?

[2019-10-10 15:33] DixitArora-MSFT commented on #1807
Hi @sy-huss  Thanks for your feedback. We will review and update as appropriate.

[2019-10-10 16:22] MikeWasson commented on #1806
Hi @ashbham - The SPA app is serverless, because it pulls static files from CDN. There's no server-side rendering. Do you have a suggestion for how to make that more clear in the diagram?

[2019-10-11 16:42] DixitArora-MSFT commented on #1807
@sy-huss It is mentioned in the Batch Processing https://docs.microsoft.com/en-us/azure/architecture/data-guide/technology-choices/batch-processing

[2019-10-12 20:11] MithunChopda opened #1809 "Is Service Bus a relevant option for real-time ingestion?"
Service Bus acts as Message Broker and can be used to ingest messages. Is there a reason why it has not been considered as an alternative in the comparison matrix?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc25fa01-4939-49b8-2e56-fb2cd8f0ccb1
* Version Independent ID: c4815a00-938c-7f7b-67a5-c16a78871b4a
* Content

[2019-10-13 03:44] PramodValavala-MSFT commented on #1809
@MithunChopda Service Bus is designed to be a reliable message broker especially useful in [enterprise](https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/enterprise-integration/queues-events) and [event-driven](https://docs.microsoft.com/en-us/azure/architecture/guide/architecture-styles/event-driven) architectures.

[This table](https://docs.microsoft.com/en-in/azure/eve

[2019-10-13 04:29] MithunChopda commented on #1809
Thank you for your response @PramodValavala
I had read this comparison earlier. My point was this article talks about "Message Ingestion". EventHubs by design are aimed at ingesting Events though they can be used for other scenarios. Whereas Service Bus being aimed at Message ingestion, it has been left out in this article.

[2019-10-13 10:15] lmqferreira commented on #1529
The inconsistency is still there. "Create the ExpressRoute virtual network gateway connection and the VPN virtual network gateway connection in the same VNet with a Gateway object already in place. They will both share the same subnet named GatewaySubnet." is inconsistent with the diagram.

[2019-10-13 13:30] bytemech commented on #1809
I had the exact same thought when reading this article. In implementation scenarios I've seen more Service Buses than Event Hubs for no other reason than they are designed to be a reliable message service.

[2019-10-14 04:23] KetanChawda-MSFT commented on #1806
@ashbham Did you get a chance to look the last post ?

[2019-10-14 08:43] DixitArora-MSFT commented on #1807
@sy-huss For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-14 08:43] #1807 closed

[2019-10-14 12:33] PramodValavala-MSFT commented on #1809
@MithunChopda @bytemech The Message Ingestion discussed in this document is for massive scales of data ingestion ranging in the 100K to millions of events. This is especially needed in scenarios involving IOT devices.

Service Bus has lots of additional features which are great for enterprise integration scenarios but when you need to ingest large volumes of data, services like Azure Events Hubs a

[2019-10-14 21:22] chriseshleman commented on #1683
@athosfolk 's comment is headed in the right direction IMHO

[2019-10-14 21:26] suterma opened #1812 "Nice"
Nice overview!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87bde15d-d343-b84d-b77f-55b8e3f12638
* Version Independent ID: 9d35a3eb-707b-47f6-68bc-3f22fee4c78c
* Content: [Time series data](https://docs.microsoft.com/en-us/azure/architecture/data-guide/scenarios/time-series#feedback)
* Content Source: [docs/data-guid

[2019-10-15 02:56] DixitArora-MSFT commented on #1812
Hi @suterma Thanks for your feedback. Just checking if you have any question or query related to this article/doc ?

[2019-10-15 03:48] ebrucucen opened #1814 "KeyVault does not accept numbers as first character"
KeyVault section does not include the restriction it can't handle number as first character in name.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ddc35bf-00d9-67c8-bf6a-ade5ebea07ca
* Version Independent ID: 7324a1e6-7010-c620-145b-3d8027709545
* Content: [Naming rules and restrictions for Azure resources](https://d

[2019-10-15 05:21] PramodValavala-MSFT commented on #1814
@ebrucucen Thanks for catching that! We have worked up a PR to update the doc accordingly.

[2019-10-15 05:23] #1814 closed

[2019-10-15 06:56] suterma commented on #1812
No, its all fine!Sent with my PhoneAm 15.10.2019 04:56 schrieb DixitArora-MSFT <notifications@github.com>:Hi @suterma Thanks for your feedback. Just checking if you have any question or query related to this article/doc ?

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or unsubscribe.

[2019-10-15 08:50] KetanChawda-MSFT commented on #1806
@ashbham Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-15 08:50] #1806 closed

[2019-10-15 13:57] PramodValavala-MSFT commented on #1809
@MithunChopda @bytemech Just following up here... Hope my previous comment clears things up.

[2019-10-16 07:07] DixitArora-MSFT commented on #1812
Hi @suterma So for now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-16 07:07] #1812 closed

[2019-10-16 13:39] PramodValavala-MSFT commented on #1809
@MithunChopda @bytemech Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-16 13:39] #1809 closed

[2019-10-17 20:06] danmyhre opened #1817 "Missing details about having multiple subscriptions / vnets"
MSFT still positions subscriptions to be one of the scale units and even recommends it down at the application or business group level (e.g. https://azure.microsoft.com/en-us/blog/organizing-subscriptions-and-resource-groups-within-the-enterprise/).  This structure then forces you into having many virtual networks.  Please add more realistic examples of how you would structure a network architectu

[2019-10-18 01:37] PramodValavala-MSFT commented on #1817
@danmyhre For connectivity between VNETs, [VNET Peering](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-peering-overview) is the feature that links them together.

This is mentioned in the [Azure Enterprise Scaffold doc](https://docs.microsoft.com/en-us/azure/cloud-adoption-framework/reference/azure-scaffold) (under [Core Network](https://docs.microsoft.com/en-us/azure/clou

[2019-10-18 16:24] danmyhre commented on #1817
Right, so what I suggesting is that more realistic large enterprise examples be added to the detailed network topology design documentation.  That is is what is missing.  Get into the details about remote gateways, transit networks, UDRs, etc, etc

[2019-10-20 11:14] PramodValavala-MSFT commented on #1817
@danmyhre Thanks for the feedback! We are assigning this issue to the content author for further review.

[2019-10-21 13:07] MithunChopda commented on #1809
Thank you @PramodValavala-MSFT for the follow up and closing this.
I got the sense it was about scale. It would be great if the article clarifies this aspect probably using a Note section. Thanks again.

[2019-10-21 21:41] CeciAc opened #1819 "Asp.NET core does support WS-Fed support"
Hi team,
I moved this fom here: https://github.com/MicrosoftDocs/architecture-center.sv-se/issues/2
The contibutor refers to the original documentation

@AndersAbel commented on 9 Nov 2018

    ASP.NET Core does not include out-of-the-box support for WS-Federation.

It does now, through the Microsoft.AspNetCore.Authentication.WsFederation package.

---
#### Document Details

⚠ *Do not edit this se

[2019-10-22 05:32] KetanChawda-MSFT commented on #1819
@CeciAc / @AndersAbel Thank you for your feedback! We will review and provide an update as appropriate.

[2019-10-22 11:18] #1819 closed

[2019-10-22 11:20] KetanChawda-MSFT commented on #1819
@CeciAc / @AndersAbel Created a PR which will remove that note from the doc. Thank for pointing this out.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-22 20:44] PingPongSet opened #1821 "2 Azure function apps reading from one Azure Service bus queue"
Based on statement below on this article, is it ok to use 2 Azure function apps reading from one Azure Service bus queue?

"
Be careful if you apply autoscaling to services that are listening for requests on the queue. This can result in increased contention for any resources that these services share and diminish the effectiveness of using the queue to level the load.
"

---
#### Document Details

[2019-10-23 04:25] KetanChawda-MSFT commented on #1821
@PingPongSet Thank you for your question! We will review and provide an update as appropriate.

[2019-10-23 16:32] MikeWasson commented on #1821
@PingPongSet  You wouldn't want two *different* function apps reading from the same queue, because you couldn't predict which app would get which messages. You can have different *instances* of the same function app read from a queue. Using the consumption plan, the platform handles that for you. In the App Service plan, you pick the instant count.

[2019-10-24 01:21] PingPongSet opened #1823 "choreography with message queues"
Can anyone elaborate on the below? I thought resiliency is robust when message queue is used. Why does below say "less robus"?
"On the other hand, for choreography, the role is distributed amongst all services and resiliency becomes less robust."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f568e9ac-4d16-5076-4863-5e

[2019-10-24 04:59] PramodValavala-MSFT commented on #1823
@PingPongSet I believe while that is true for message queues generally, in the case of choreography, failures at one service could break the complete workflow.

As the following paragraph in the docs mention, each service has to be responsible for resiliency of the workflow as a while which could be hard to implement.

Like in the [example](https://docs.microsoft.com/en-us/azure/architecture/patte

[2019-10-25 07:53] KetanChawda-MSFT commented on #1821
@PingPongSet Checking in to see if the above post helped answering your question.

[2019-10-27 13:28] PingPongSet opened #1826 "Downloadable PDF Document"
A great resource for Azure architecture here. Is it possible to download the document in pdf like other Azure doc sites?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cade8ea3-b02f-6c92-b7b1-8f37a5c9d701
* Version Independent ID: c0bde50c-5e28-5ff2-1507-5a8711ae3022
* Content: [Azure Application Architecture Guide](ht

[2019-10-27 16:41] PingPongSet opened #1827 "Azure Services for Management Service Discovery"
Is there Azure Services available for Management Service Discovery mentioned here?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78a7e7bd-23f3-a39f-9015-b77f14bb43e5
* Version Independent ID: 0ac34e7e-315f-2452-bf0a-74e9b1068c38
* Content: [Microservices architecture style - Azure Application Architecture Guide](https

[2019-10-27 16:42] PingPongSet opened #1828 "Characteristics of SOA"
Will it be better to list characteristics of SOA here too as a comparsion?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78a7e7bd-23f3-a39f-9015-b77f14bb43e5
* Version Independent ID: 0ac34e7e-315f-2452-bf0a-74e9b1068c38
* Content: [Microservices architecture style - Azure Application Architecture Guide](https://docs.

[2019-10-28 04:22] TravisCragg-MSFT commented on #1828
@PingPongSet Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-10-28 04:33] TravisCragg-MSFT commented on #1826
@PingPongSet Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-10-28 04:36] TravisCragg-MSFT commented on #1827
@PingPongSet Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-10-28 10:46] joslat opened #1829 "Security Best Practices questions - is it already secure as proposed or we need more security assets in place?"
This components are already secure due to the fact of having HTTPS (SSL enforced) and AD authentication? or would it be convenient to add a subnet with NSG on the non visible to internet assets (resource group, SQL azure, etc...)? and would a App Gateway with WAF or Azure Frontdoor be convenient to add security?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2019-10-28 11:50] ChiragMishra-MSFT commented on #1829
@joslat Thanks for reaching out. We are currently investigating into the issue and will update you shortly.

[2019-10-28 12:21] PramodValavala-MSFT commented on #1823
@PingPongSet Just following up here... Hope my previous comment clears things up.

[2019-10-28 14:06] joslat commented on #1829
Hi Chirag, thanks for responding. My question does not report any "issue". I am just asking how much secure is this "reference implementation" with just SSL and Azure AD authentication.

[2019-10-29 01:05] PingPongSet commented on #1823
@PageWriter-MSFT  Thanks for your comment. I agree it is less robut.

Another question is that on the solution below, how does it achieve choreography when pub/sub is used?

https://docs.microsoft.com/en-us/azure/architecture/patterns/choreography#solution

[2019-10-29 02:39] kiwibayer commented on #660
can we please include the guidance from:
https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-ha-ports-overview

[2019-10-29 04:10] KetanChawda-MSFT commented on #1821
@PingPongSet Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-29 04:10] #1821 closed

[2019-10-29 10:53] dzoech opened #1830 "Readiness and liveness probes considerations"
"Sometimes readiness probes are used to check dependent services. For example, if a pod has a dependency on a database, the *liveness probe* might check the database connection. [...]"

Didn't you mean to write "readiness probe" in the second sentence?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5e2e444-d6b9-962e-5

[2019-10-29 10:57] PingPongSet commented on #1821
@MikeWasson

Should what you said be included on the article to make it clear?

However, different function apps could read the same queue without issue.

[2019-10-29 11:05] KetanChawda-MSFT commented on #1830
@dzoech Thank you for your feedback! We will review and provide an update as appropriate.

[2019-10-29 16:54] MikeWasson commented on #1830
@dzoech That's correct - thanks! 😺

[2019-10-29 16:57] #1830 closed

[2019-10-29 21:11] AntipodeYarns opened #1831 "Partitioned Indexes"
There's another index-related tweak you can do if you have tables with relatively sparse alternate keys. If you create separate indexes with included columns for the most commonly hit data that explicitly exclude the null alternate key rows from the covering index using an index predicate, you can give the query optimizer more information to use the best index for the query. This pattern is partic

[2019-10-30 04:19] KetanChawda-MSFT commented on #1831
@AntipodeYarns Thank you for providing your suggestion. This will definitely help other in the community.

Since there is no doc update required at the moment, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-30 04:19] #1831 closed

[2019-10-30 11:13] PramodValavala-MSFT commented on #1823
@PingPongSet The pub/sub is used for message delivery. The services would subscribe for specific messages and send the response via another message to the same queue or a different queue.

The [example](https://docs.microsoft.com/en-us/azure/architecture/patterns/choreography#example) uses Event Grid for the pub/sub. [Service Bus Topics](https://docs.microsoft.com/en-us/azure/service-bus-messaging

[2019-10-30 11:14] #1823 closed

[2019-10-30 12:44] PramodValavala-MSFT commented on #1829
@joslat Web Apps deployed to Azure App Service are already heavily secured since most of the underlying services like VMs, Storage, Network, etc. are abstracted and list in this doc do mention security you can add at the application level. Also, the [app service security doc](https://docs.microsoft.com/en-us/azure/app-service/overview-security) has more ways to further secure your app.

As for pro

[2019-10-31 12:37] tonio-lora opened #1832 "Isn't Dynamic Data Masking also supported on Azure SQL DW?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e643be6d-22a2-2b91-c370-edf83d694efe
* Version Independent ID: 770f2e51-9c53-e5ca-1107-9577369b15a6
* Content: [Choosing an analytical data store](https://docs.microsoft.com/en-us/azure/architecture/data-guide/technology-choices/analytical-data-stores

[2019-10-31 14:48] PramodValavala-MSFT commented on #1829
@joslat Just following up here... Hope my previous comment helps.

Since there is no doc update required here, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-31 14:48] #1829 closed

[2019-11-01 03:13] ChiragMishra-MSFT commented on #1832
@tonio-lora Can you please help us understand what's the exact issue you are facing ?

[2019-11-01 13:40] tonio-lora commented on #1832
Hi,
Sorry for the lack of details on the original ticket. I was wondering if we should update the cell on the second column / last row of the [security capabilities matrix](https://github.com/microsoftdocs/architecture-center/blob/master/docs/data-guide/technology-choices/analytical-data-stores.md#security-capabilities) from No to Yes to reflect the fact that [Azure SQL Data warehouse does support

[2019-11-01 20:23] vairakkumar-vairaperumal opened #1834 "This page has invalid page link"
For recommendations on developing resource naming conventions for your organization, see Ready: Recommended naming and tagging conventions.

https://docs.microsoft.com/en-us/azure/architecture/cloud-adoption/ready/considerations/name-and-tag

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ddc35bf-00d9-67c8-bf6a-ade5ebe

[2019-11-02 08:56] ehsf973 opened #1835 "please update the PS command with Az module !"
please update the PS command with Az module !

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fec640d8-1064-c083-4313-5e8c23fbc2cf
* Version Independent ID: 5f7c63ca-7ab2-9129-4c34-191286e67af1
* Content: [Connect an on-premises network to Azure - Azure Reference Architectures](https://docs.microsoft.com/en-us/azure/arc

[2019-11-02 12:58] PramodValavala-MSFT commented on #1834
@vairakkumar-vairaperumal Thanks for catching that! We will review and update the doc accordingly.

[2019-11-02 12:58] PramodValavala-MSFT commented on #1835
@ehsf973 Thanks for the feedback! We will review and update accordingly.

[2019-11-03 17:04] KalyanChanumolu-MSFT commented on #1832
@tonio-lora Thank you for pointing this out.
I have submitted a PR to update the document.

[2019-11-04 05:06] PramodValavala-MSFT commented on #1834
@vairakkumar-vairaperumal We have worked up a PR to update the link. Here is [the updated link](https://docs.microsoft.com/en-us/azure/cloud-adoption-framework/ready/azure-best-practices/naming-and-tagging) for reference.

The doc update should reflect in a couple of hours.

[2019-11-04 05:06] #1834 closed

[2019-11-04 14:32] VishwajitG opened #1838 "[spelled-out version] IDP stands for Identity Provider"
IDP stands for Identity Provider on line #8.
(The first time you use an abbreviation in the text, present both the spelled-out version and the short form)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5d00031-82e8-a8ee-0a66-e9b84231e837
* Version Independent ID: 9a9da08f-83e2-c493-61af-c4b5316c6f8e
* Content: [Work w

[2019-11-04 15:57] PramodValavala-MSFT commented on #1838
@VishwajitG Thanks for the feedback! We will review and update accordingly.

[2019-11-04 16:23] PramodValavala-MSFT commented on #1838
@VishwajitG Thanks for the feedback! We have worked up a PR to address this. The same should reflect in a couple of hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-04 16:23] #1838 closed

[2019-11-05 09:48] KalyanChanumolu-MSFT commented on #1832
@tonio-lora The PR is merged now. We will proceed to close this issue.
In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update.
We love taking contributions from the community.

[2019-11-05 09:48] #1832 closed

[2019-11-05 11:05] tsubasaxZZZ opened #1840 ""Automate deployments." is appear twice"
"Automate deployments." is appear twice at Release.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab2bdcdc-80e6-c47a-dae6-0f1bc44b765b
* Version Independent ID: aec4e510-ca48-54ba-beda-82e6ac06bf11
* Content: [DevOps checklist - Azure Design Review Framework](https://docs.microsoft.com/en-us/azure/architecture/checkli

[2019-11-05 11:35] PramodValavala-MSFT commented on #1840
@tsubasaxZZZ I believe the text in **bold** is meant to signify the heading for that paragraph and the following text is its description.

[2019-11-05 11:43] tsubasaxZZZ commented on #1840
@PramodValavala-MSFT My comment is appear **twice**. So I suggest "Rollforwardable" second one.

[2019-11-05 14:17] PramodValavala-MSFT commented on #1840
@tsubasaxZZZ Sorry about that. Missed that earlier.

We are assigning this issue to the content author for further review and to update the doc accordingly.

[2019-11-05 14:20] #1835 closed

[2019-11-05 14:20] PramodValavala-MSFT commented on #1835
@ehsf973 We have worked up a PR to update the docs.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-05 17:28] #1840 closed

[2019-11-05 17:31] alindgren opened #1841 "What is IDP?"
I am guessing Identity Provider.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5df2491-1abe-0211-efbf-c1fb384862e9
* Version Independent ID: f7f0d2cf-3f4f-44dc-54aa-cd59221264d2
* Content: [Secure a backend web API in a multitenant application](https://docs.microsoft.com/en-us/azure/architecture/multitenant-identity/

[2019-11-05 18:20] MikeWasson commented on #1841
Yep. I'll change this to spell out on first mention. Thanks!

[2019-11-05 18:22] #1841 closed

[2019-11-06 10:26] ksgopal4 opened #1842 "Microsoft.Graph library retry guidance"
Is retry logic built into Microsoft.Graph library, couldn't find any information on this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8194899c-dee2-70ac-422a-edc06e779f7c
* Version Independent ID: cafc7418-404c-5908-3037-dba7f452087b
* Content: [Retry guidance for Azure services - Best practices for cloud applicatio

[2019-11-06 11:22] KetanChawda-MSFT commented on #1842
@ksgopal4  Thank you for your feedback! We will review and provide an update as appropriate.

[2019-11-06 14:31] WindyCityCassie opened #1843 "Visio file download is incorrect"
This is using the same visio file as one of the other hybrid network pages, and shows Azure stack on the left and is missing the VPN gateway + Expressroute shapes as shown in the actual image at the top of the page.  Download needs to be corrected.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fec640d8-1064-c083-4313-

[2019-11-06 17:22] sanjayntms opened #1844 "Icon error in the diagram"
Pl correct icon of products in the above architecture

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac160993-f333-03d1-ee24-394adedbb830
* Version Independent ID: a9be7642-9bea-b561-7a30-0b152b93285f
* Content: [Securely managed web applications - Azure Example Scenarios](https://docs.microsoft.com/en-us/azure/archite

[2019-11-07 05:17] PramodValavala-MSFT commented on #1843
@WindyCityCassie The visio diagrams for all 3 hybrid networking docs (VPN, ExpressRoute, ExpressRoute with VPN failover) are present in the same visio file in separate tabs.

![image](https://user-images.githubusercontent.com/43602528/68362041-e5ee5c00-014b-11ea-8ebd-1e075444b9fb.png)

[2019-11-07 05:19] PramodValavala-MSFT commented on #1844
@sanjayntms Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2019-11-07 16:54] mobibob opened #1845 "Provide guidance for Bot framework generate/token API"
Using it in a middleware server that hides the SECRET and other security, however, during a team test, the middleware invokes back-to-back requests for a token too quickly and then gets put in the penalty box.  Need a way to design around such that the end-consumer of the token does not get blocked.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2019-11-07 21:21] mjtpena opened #1846 "Azure Synapse"
Hi Team, The SQL Data Warehouse should be Azure Synapse.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c337b22b-b387-5eea-9b16-656885eae759
* Version Independent ID: 6c1ad9b6-fdf4-f23a-20dc-118f262d0a8c
* Content: [Automated enterprise business intelligence (BI) - Azure Reference Architectures](https://docs.microsoft.

[2019-11-07 23:16] ashokmagadum opened #1847 "Big data processing - Azure Databricks"
Hi,

I observed that 'Azure Databricks' equivalent service in AWS is mentioned as 'EMR'.

Nonetheless, I urge its 'AWS Glue' which is appropriate service.

![Screen Shot 2019-11-08 at 10 13 28 am](https://user-images.githubusercontent.com/35385853/68435871-94f46b80-0210-11ea-9d3b-656e867397d4.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2019-11-08 03:56] KetanChawda-MSFT commented on #1847
@ashokmagadum Thank you for your feedback! We will review and provide an update as appropriate.

[2019-11-08 03:57] KetanChawda-MSFT commented on #1846
@mjtpena Thank you for your feedback! We will review and provide an update as appropriate.

[2019-11-08 03:58] KetanChawda-MSFT commented on #1845
@mobibob Thank you for your feedback! We will review and provide an update as appropriate.

[2019-11-08 05:29] PramodValavala-MSFT commented on #1843
@WindyCityCassie Just following up here... Hope my previous comment clears things up.

[2019-11-08 06:33] KetanChawda-MSFT commented on #1842
@darrelmiller can you please provide your thoughts here .

[2019-11-09 13:40] AdrianEmmott opened #1848 "ICommandHandler"
Hi there, thanks for this article on CQRS, very interesting.

I'm trying this out in VSCode on a Chromebook but cannot add the namespace Microsoft.VisualStudio.Commanding via NuGet (to use ICommandHandler) - does anyone know how to add that namespace into VSCode?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c0ec92e-

[2019-11-09 19:21] YutongTie-MSFT commented on #1848
@AdrianEmmott
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-11-11 04:30] PramodValavala-MSFT commented on #1843
@WindyCityCassie Hope my previous comment clears things up.

Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-11 04:30] #1843 closed

[2019-11-11 11:15] Jandev opened #1849 "Event Bridge & Event Grid"
The AWS equivalent now states it's SQS, which was the best equivalent AWS had to offer a couple of months ago.
However, with the recent release of Amazon EventBridge (https://aws.amazon.com/eventbridge/) I think this new service fits as a better equivalent.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30d02f16-9621-d

[2019-11-11 13:23] PramodValavala-MSFT commented on #1849
@Jandev Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2019-11-12 10:47] olavt opened #1850 "Why no mentioning of Azure Data Explorer?"
Why isn't Azure Data Explorer mentioned as a viable alternative for storing time-series data? https://azure.microsoft.com/en-us/services/data-explorer/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87bde15d-d343-b84d-b77f-55b8e3f12638
* Version Independent ID: 9d35a3eb-707b-47f6-68bc-3f22fee4c78c
* Content: [Time seri

[2019-11-12 10:50] DixitArora-MSFT commented on #1850
Hi @olavt Thanks for your feedback. We will review and update as appropriate.

[2019-11-12 12:27] dohughes-msft opened #1851 "Update for revision 4 HLI?"
Hi, would it be possible to update this page and diagram for revision 4 of HANA large instances?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 297fe58b-8232-9b2a-c92e-9f7f94ec3e4e
* Version Independent ID: 3da45f17-e475-f23e-c77f-465933ed02f4
* Content: [Run SAP HANA on Azure Large Instances - Azure Reference Architec

[2019-11-12 12:51] PramodValavala-MSFT commented on #1851
@dohughes-msft Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2019-11-13 01:14] fawohlsc opened #1852 "Error while establishing connectivity between spokes"
Establishing a connectivity between spokes via `Test-NetConnection 10.2.0.36 -CommonTCPPort RDP` results in issue `error: building block for parameter 'Template' was not found.`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87139748-938e-638e-de1f-94f8becfe1da
* Version Independent ID: b96371e6-defb-3e70-792a-2c0cfdc2

[2019-11-13 05:59] KetanChawda-MSFT commented on #1852
@fawohlsc Thank you for your question! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2019-11-13 18:03] fawohlsc commented on #1852
Hey @KetanChawda-MSFT - here you go and thanks for the quick reply: https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/hybrid-networking/shared-services

[2019-11-14 09:20] ozanabuse opened #1853 "SQL Data Warehouse supports Dynamic data masking"
SQL Data Warehouse supports Dynamic data masking	: https://docs.microsoft.com/en-us/azure/sql-database/sql-database-dynamic-data-masking-get-started#set-up-dynamic-data-masking-for-your-database-using-powershell-cmdlets

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bba35cbb-4160-0b5d-6829-103b25ad6ce9
* Version Indepe

[2019-11-14 11:11] DixitArora-MSFT commented on #1853
Hi @ozanabuse Thanks for your feedback. We will review and update as appropriate.

[2019-11-14 11:17] #1853 closed

[2019-11-14 11:18] DixitArora-MSFT commented on #1853
@ozanabuse PR has been created for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-14 15:25] stateofthearb opened #1854 "Awesome post! Very helpful to understand Azure Vnet design with Hub and spoke,"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 104eba32-c77e-b013-e161-ff616d16a0f7
* Version Independent ID: 3bc27d0a-ef32-f5f6-4c85-fe8e2e45155e
* Content: [Hub-spoke network topology in Azure - Azure Reference Architectures](https://docs.microsoft.com/en-us/azure/architecture/reference-architec

[2019-11-14 16:47] PramodValavala-MSFT commented on #1854
@stateofthearb Thanks for the feedback! Glad that you liked it. 😄

[2019-11-14 16:47] #1854 closed

[2019-11-14 18:03] serpent5 opened #1855 "Partitioning Azure table storage should be a H2"
The "Partitioning Azure table storage" header comes out as a h3, but I think it should be a h2 to match the others.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef578ecf-7b41-cac8-ba5d-2e132c337b1e
* Version Independent ID: f325ab09-f55d-42ce-5892-a116d4958d6c
* Content: [Data partitioning strategies - Best practices

[2019-11-15 02:59] DixitArora-MSFT commented on #1855
Hi @serpent5 Thanks for your feedback. We will review and update as appropriate.

[2019-11-15 04:47] martinmthomas opened #1856 "What is the difference between ProductsCommandHandler (CQRS) and ProductRepository (traditional arch)?"
Hi,
Thanks for writing this article on CQRS. I am trying to understand how the implementation looks like and I was going through the examples. The sample repository code provided in the example look very similar to how normally one would write a repo except for the naming convention. For example, I think the repository given below is same as `ProductsCommandHandler` and probably one difference wou

[2019-11-15 05:25] #1855 closed

[2019-11-15 05:25] DixitArora-MSFT commented on #1855
@serpent5 PR has been created for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-15 07:26] KetanChawda-MSFT commented on #1856
@martinmthomas Thank you for your question! We will review and provide an update as appropriate.

[2019-11-15 15:36] KetanChawda-MSFT commented on #1856
@MikeWasson any thoughts here?

[2019-11-17 22:22] iamalexmang opened #1857 "Pricing estimates no longer work."
Neither of the pricing estimates work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8866b26b-b0e7-494e-48cf-491db44b3aeb
* Version Independent ID: bd1d10ff-39db-a6cb-1a63-805e19159561
* Content: [Image classification for insurance claims - Azure Example Scenarios](https://docs.microsoft.com/en-us/azure/architecture/e

[2019-11-18 02:55] DixitArora-MSFT commented on #1857
Hi @amang2205 Thanks for your feedback. We will review and update as appropriate.

[2019-11-18 11:03] ivanignatiev opened #1858 "DMZ on the edge between Spoke and Hub"
Hello,

I did not found this scenario anywhere in the documentation.

How to design the network correctly or configure the routing table correctly, to organise DMZ between Hub and Spoke?

![Hub-Spoke-DMZ](https://user-images.githubusercontent.com/1072103/69046605-af40fd00-09f9-11ea-8d31-8415a138dd4b.png)

As I understood if I add 10.0.0.0/16 -> 10.0.1.1, it will replace Peering route and break con

[2019-11-18 15:54] DixitArora-MSFT commented on #1858
Hi @ivanignatiev Thanks for reaching out. We will review and update as appropriate.

[2019-11-19 13:22] tfurstms opened #1859 "Great content for business continuity planning (last updated in 2016)"
(1) This article is a key resource in region-wide business continuity planning. This may be the only document that focuses specifically on a region-wide outage scenario.  Since so many new capabilities are continually added to Azure, can this article be updated to cover new services, new best practices, etc. The publish date lists that the last update was in 2016 - if that is accurate an overall r

[2019-11-19 21:42] Alberto-Vega-MSFT commented on #1859
@tfurstms Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-11-20 08:29] msrini-MSFT commented on #1858
@ivanignatiev , If you are applying an UDR on the Spoke VNET, then you need to isolate the Virtual Appliance subnet and add rules. That is you need to route traffic 10.0.x.0/24 next hop as 10.0.1.1(NVA).

Let me know if you have any further questions.

[2019-11-20 19:58] #1846 closed

[2019-11-20 21:19] doodlemania2 commented on #1859
Thank you for this great feedback! We are currently working on updating this document as I type. We hope to have updated guidance early in the new year that addresses these exact comments. Thanks so much. Will close for now.

[2019-11-20 21:19] #1859 closed

[2019-11-21 05:00] msrini-MSFT commented on #1858
@ivanignatiev , Do you have any update on this issue?

[2019-11-21 19:23] frfriel opened #1860 "Custom Image scale set limits"
...have been increased to 600 now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: adbd9d8a-e443-aeab-cdf1-1c9c8858746c
* Version Independent ID: 5a0980f5-b246-0865-6f06-aa875f87a5ce
* Content: [Criteria for choosing an Azure compute service - Azure Application Architecture Guide](https://docs.microsoft.com/en-us/azure/

[2019-11-21 20:17] mike-urnun-msft commented on #1860
@frfriel Thank you for your feedback! We will review and update as appropriate.

[2019-11-22 00:36] DixitArora-MSFT commented on #1858
@ivanignatiev Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-22 00:36] #1858 closed

[2019-11-22 16:43] Sharonfun101 opened #1861 "A few inaccuracies noted on this service comparsion page"
I noticed a couple of inaccuracies on this service comparison:

1. AWS Glue is AWS fully- managed service utilizing Apache Spark framework not EMR. EMR is IaaS offering. As a result, this comparison should be between Glue and HDsight
   - This is in the context comparison below:
EMR | HDInsight | Managed Hadoop service. Deploy and manage Hadoop clusters in Azure.

2. Sagemaker does not do drag and

[2019-11-22 21:42] mike-urnun-msft commented on #1861
Hi @Sharonfun101 - Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-11-24 12:36] siepkes opened #1862 "Netflix Hystrix is EOL"
Netflix Hystrix is end of life. They recommend Resilience4J ( https://github.com/resilience4j/resilience4j ) as an alternative in their readme: https://github.com/Netflix/Hystrix/blob/master/README.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4699b7a-fc21-817e-5a37-aa17b55f47a2
* Version Independent ID: 23efcd5d-

[2019-11-24 16:03] AjayKumar-MSFT commented on #1862
@siepkes, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2019-11-24 16:55] ac9999 commented on #1826
Yes, definitely would like a PDF version of this to download on iPad or mobile.

[2019-11-25 09:52] PramodValavala-MSFT commented on #1862
@siepkes Thanks for the feedback! We have assigned this issue to the content author for further review and to update the doc accordingly.

[2019-11-25 10:09] r3dr4gon opened #1865 "Blob vs Data lake"
I was wondering why do we prefer blob storage here instead of a data lake (cold)? or even why do we prefer cosmos db over data lake (hot)?

Is there any reason to use data lake at all?
because when i look on the numbers (and i might missed somthing) azure data lake cost as much as a blob storage those days. as for cosmos vs data lake i'm having a bit more trouble to compare them.

---
#### Documen

[2019-11-25 20:38] behramkhan opened #1866 "Missing information"
1. This sentence just does not finish

"As part of the ETL process, create an additional column that "

The paragraph just ends after 'that'!

2. The sql queries do not relate to each other when they should .

The SQL query after this sentence.
"The following T-SQL query creates a temporary table that associates each invoice with the correct City Key from the City dimension table."
Deals with the

[2019-11-26 02:25] PramodValavala-MSFT commented on #1865
@r3dr4gon Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2019-11-26 02:27] PramodValavala-MSFT commented on #1866
@behramkhan Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2019-11-27 10:00] DixitArora-MSFT commented on #1860
@frfriel PR has been created for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-27 10:02] #1860 closed

[2019-11-28 20:04] vasuPrasad commented on #1826
You can access directly from here:
https://download.microsoft.com/download/2/D/2/2D29C8A8-A758-4152-A204-2BE86548F995/Cloud_Application_Architecture_Guide_EN_US.pdf

[2019-11-29 06:53] ryaniam opened #1867 "Incorrect Hyperlink"
'Security Operations' appears to be linking to the 'Identity and access management' page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55000863-6c61-319b-7d0d-5366c403e5e2
* Version Independent ID: 7bb9bb22-f939-6176-236f-79399b6ab2b4
* Content: [Overview of the security pillar](https://docs.microsoft.com/en-us/azure

[2019-11-29 09:29] DixitArora-MSFT commented on #1867
@ryaniam Thanks for your feedback. We will review and update as appropriate.

[2019-11-29 12:39] Jarnstrom opened #1868 "auto action mail - add variables to subject"
is requesting that the subject in auto generated mail contains: resourcename, alert rule and ticketID. Similar to the resolved alert mail which is
Alert Resolved for entity: "resourcename", Alert Rule 'Alert rule name', Ticket: '11111'

In the short run maybe default subject would be similar to the above and can be overruled while creating the auto action and in the long run there is a set of vari

[2019-11-29 17:50] div78641 commented on #1722
What "further research" is necessary? Either you have the code available or you don't.

It is disappointing that the example is not fully baked.

[2019-11-29 19:33] mike-urnun-msft commented on #1868
Hi @Jarnstrom - Thank you for your feedback. Since this channel is more for driving improvements towards MS Docs, could you provide us with a URL of the documentation that your feedback is most applicable to? That way, we're able to locate the right team that's better suited to address your feedback.

[2019-11-29 20:05] #1868 closed

[2019-12-02 09:41] Kamil-Zakiev opened #1869 ""might" or "might not"?"
Hello!
I have a doubt about a phrase in this paragraph:
"If the client code runs in a web browser, the browser might need to support cross-origin resource sharing (CORS) to enable code that executes within the web browser to access data in a different domain from the one that served the page. Some older browsers and some data stores don't support CORS, and code that runs in these browsers **might

[2019-12-02 15:02] AshokPeddakotla-MSFT commented on #1869
@Kamil-Zakiev Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-02 19:16] nikhillotia opened #1870 "script fails."
When I try run the below command
azbb -s <subscription_id> -g ra-onprem-sp2016-rg -l <location> -p onprem.json --deploy
I get this error

azbb -s "xxxxxx-xxxxx-xxxxx-xxxx-xxxxxx" -g onprem-vnet-rg -l eastus -p .\shared-services-stack.json --deploy

  error: error executing az
  message:
  status: null
  arguments: vm list-skus --resource-type virtualMachines --zone false --subscription 6xxxxx-xxxx

[2019-12-03 02:08] AshokPeddakotla-MSFT commented on #1870
@nikhillotia  Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2019-12-03 04:17] nikhillotia commented on #1870
Please find docment link:
https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/sharepoint/
Facing issue during deployment steps  in first command.

azbb -s <subscription_id> -g ra-onprem-sp2016-rg -l <location> -p onprem.json --deploy

[2019-12-03 06:50] PramodValavala-MSFT commented on #1870
@nikhillotia Looks like the error has been [reported already](https://github.com/mspnp/template-building-blocks/issues/418), which you have found as well.

Also, there is [a PR](https://github.com/mspnp/template-building-blocks/pull/420) open to address this as well. @MikeWasson Could we get someone assigned for this PR?

As a workaround before the PR is merged, if you'd like, you could try the fo

[2019-12-03 06:50] #1870 closed

[2019-12-04 00:15] dcbrown16 opened #1871 "Web app vs Web app name"
There are two separate lines for "Web app" and "Web app name". To add further confusion, the minimum according to the Portal is 2, which doesn't match either of the values (error: "The name must be at least 2 characters"). My understanding is that the name given to a web app must be globally unique.
Can someone review those two lines and make sure they are up to date?

---
#### Document Details

⚠

[2019-12-04 00:22] dcbrown16 commented on #1871
Example from Web App docs:
"In the following example, replace <app_name> with a globally unique app name (valid characters are a-z, 0-9, and -). "
https://docs.microsoft.com/en-us/azure/app-service/app-service-web-get-started-php#create-a-web-app

[2019-12-04 03:41] DixitArora-MSFT commented on #1871
Hi @dcbrown16 Thanks for your feedback. We will review and update as appropriate.

[2019-12-04 09:09] #1869 closed

[2019-12-04 09:09] PramodValavala-MSFT commented on #1869
@Kamil-Zakiev Thanks for catching that! We have worked up a PR to address this. Once merged, the change will reflect in a couple of hours.

[2019-12-05 09:11] #1871 closed

[2019-12-05 09:12] DixitArora-MSFT commented on #1871
@dcbrown16 PR has been created for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-05 13:29] ajurcevic opened #1873 "AWS AppSync comparison"
Hi team, love your work on this comparison list.

Curious to know if Azure would have anything that compares with the AWS AppSync solution?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30d02f16-9621-d204-4132-8ce8db79b0af
* Version Independent ID: 65b4385b-79f0-d842-d4a1-5d013615f9b1
* Content: [AWS to Azure services

[2019-12-05 15:29] DixitArora-MSFT commented on #1873
Hi @ajurcevic Thanks for your feedback. We will review and update as appropriate.

[2019-12-05 17:40] mdi-db opened #1874 "Example of VM name confusing"
In the intro text of the article, it says "For example, the name of a virtual machine (VM) maps to a DNS name, so the VM name must be unique throughout Azure. But the name of a VM is scoped to the resource group in which it resides."

Although I think I understand what the author is getting at with this sentence based on my understanding of DNS labels needing to be globally unique, it is confusing

[2019-12-06 00:19] TravisCragg-MSFT opened #1875 "Networking -> NSG rule incorrect"
NSG Rules have a scope of the parent NSG, and not the RG. This came from https://github.com/MicrosoftDocs/azure-docs/issues/44144

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ddc35bf-00d9-67c8-bf6a-ade5ebea07ca
* Version Independent ID: 7324a1e6-7010-c620-145b-3d8027709545
* Content: [Naming rules and restrictions f

[2019-12-06 02:52] DixitArora-MSFT commented on #1874
@mdi-db Thanks for your feedback. We will review and update as appropriate.

[2019-12-06 05:21] #1874 closed

[2019-12-06 05:22] DixitArora-MSFT commented on #1874
@mdi-db PR has been created for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-06 06:11] DixitArora-MSFT commented on #1873
@ajurcevic There is already work in progress for this. This has been discussed [here](https://dev.to/kayis/comment/a4g3) as well. So for now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-06 06:11] #1873 closed

[2019-12-06 08:42] AshokPeddakotla-MSFT commented on #1875
@MikeWasson Please check this and update the doc as appropriate.

[2019-12-06 14:53] kjbanaszczyk opened #1876 "Creating release/<microservice>/v* pipeline does not trigger fullCI"
In documentation is written "Creation of this branch triggers a full CI build", but as trigger 'path' is set we need to commit and push some change to this branch for it to trigger full CI build.

Expected behaviour:
* creating branch should trigger full CI build

Actual behaviour:
* creating branch does not trigger full CI build, we need to commit some change to microservice directory for it to t

[2019-12-06 22:52] MicahMcKittrick-MSFT commented on #1876
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-12-06 22:52] BittahCriminal opened #1877 "Remove reference to Message Analyzer"
Since the product was retired on November 2019, It makes sense to remove links to that product.  See below for retirement reference.

https://docs.microsoft.com/en-us/message-analyzer/microsoft-message-analyzer-operating-guide

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74bb4b25-ebe2-264d-047d-3f651c52a9c5
* Version

[2019-12-06 23:26] CeciAc opened #1878 "Status of QUIC and HTTP/3"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/architecture-center.de-de/issues/6

@git001 commented 2 hours ago — with docs.microsoft.com
Do you plan to offer also QUIC & HTTP/3 in your loadbalancers?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 936c85d9-c953-2def-c399-77cbda32b24d
* Version Indep

[2019-12-07 12:50] DixitArora-MSFT commented on #1878
Hi @CeciAc Thanks for reaching out. We will review and update as appropriate.

[2019-12-07 12:51] DixitArora-MSFT commented on #1877
Hi @BittahCriminal Thanks for your feedback. We will review and update as appropriate.

[2019-12-09 13:47] mreinli opened #1879 "Lower vs. higher routing priority"
There is a mistake in the Front Door routing section: "Set the backend pool with different priority values, 1 for the active region and 2 or lower for the standby or passive region." It should be 2 or higher. According to https://docs.microsoft.com/en-us/azure/frontdoor/front-door-routing-methods#priority lower means higher priority.

---
#### Document Details

⚠ *Do not edit this section. It is r

[2019-12-09 22:16] MarileeTurscak-MSFT commented on #1879
@mreinli
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-09 22:19] MarileeTurscak-MSFT commented on #1879
Thanks. I made a pull request to add this. CC: @MikeWasson

https://github.com/MicrosoftDocs/architecture-center/pull/1880

(I was only able to make a public PR since I don't have access to this repo.)

[2019-12-09 22:19] #1879 closed

[2019-12-10 07:59] #1877 closed

[2019-12-10 08:00] DixitArora-MSFT commented on #1877
@BittahCriminal PR has been created for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-11 02:36] MikeWasson commented on #1875
See MicrosoftDocs/architecture-center-pr#786

[2019-12-11 02:38] #1875 closed

[2019-12-13 21:37] StingyJack opened #1883 "Are there any performance related benchmarks available?"
And where does cosmosDB fit into this list?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc525ce2-d021-8e7a-2a88-10b84a2a37e6
* Version Independent ID: 53450f8d-f877-a903-2101-e4265ef6ec75
* Content: [Choosing a search data store](https://docs.microsoft.com/en-us/azure/architecture/data-guide/technology-choices/searc

[2019-12-13 23:23] MarileeTurscak-MSFT commented on #1883
@StingyJack
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-14 14:23] JawadJaber opened #1884 "Pricing demonstrated are monthly or daily?"
The pricing example given here, is it per month or on daily basis?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36cc3d81-d33a-bc9b-ab91-d7c4c8e26a95
* Version Independent ID: d3ce3924-f004-a61a-867c-b81fae8cf5f9
* Content: [Sharing location in real time using low-cost serverless Azure services - Azure Example Scenari

[2019-12-14 15:33] ManojReddy-MSFT commented on #1884
@JawadJaber We are looking into this and will get back to you shortly.

[2019-12-14 15:35] talhanaveed commented on #1884
Hi,

The price mentioned is monthly for production grade load.

[2019-12-15 07:55] takekazuomi commented on #1842
The following document says "Wait the number of seconds specified in the Retry-After header". However, not all resources support "Retry-After" header. Do you have guidance for unsupported resources?

https://docs.microsoft.com/en-us/graph/throttling#best-practices-to-handle-throttling

[2019-12-16 05:31] StingyJack commented on #1883
Thanks, I realize that any benchmarks are going to be generally subjective, but the performance of getting data in and out is just as important as the other features when selecting a data store.

I'm just looking for "ballpark" or generalizations with some detail. For a totally made up example; "Storing 100K Json documents that average about 500 bytes in a text field in a standard table in Azure S

[2019-12-16 08:18] PramodValavala-MSFT commented on #1884
@talhanaveed Thanks!

@JawadJaber Hope that clears things up. We will work up a PR to update the doc for more clarity.

[2019-12-17 15:55] sy-huss opened #1885 "Download documentation for offline"
It used to be possible to download this document for offline usage. Now it is not possible.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4699b7a-fc21-817e-5a37-aa17b55f47a2
* Version Independent ID: 23efcd5d-11a5-c46f-a73e-5cc638591bcd
* Content: [Bulkhead pattern - Cloud Design Patterns](https://docs.microsoft.com/

[2019-12-18 01:58] codingyoga opened #1886 "Add comparison details about Regions, Azure geographies, Availability Zone and Region pairs"
Hi Team,
It will be informative if we have comparison details about Azure regions, Azure geographies, Availability Zone and Region pairs with AWS regions, Availability Zone and Local Zone.
Thanks,
Manasa

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30d02f16-9621-d204-4132-8ce8db79b0af
* Version Independent ID: 65b438

[2019-12-18 03:11] DixitArora-MSFT commented on #1886
Hi @codingyoga Thanks for your feedback. We will review and update as appropriate.

[2019-12-18 03:13] DixitArora-MSFT commented on #1885
Hi @sy-huss Thanks for your feedback. We will review and update as appropriate.

[2019-12-18 06:28] DixitArora-MSFT commented on #1886
@codingyoga For Azure regions, Azure geographies, Availability Zone information , you need to go to specific service and will easily get the information. I agree with your idea  of having this here only but it might be a lot of information on one page and might add confusion to some of the users.

[2019-12-18 06:35] codingyoga commented on #1886
Thanks a lot for the response.
Region pairs concept is not available in AWS So I thought it is good idea
to write a table difference between AWS and Azure regions, geographies etc.
If it is too much information, I agree with you.

On Wed, 18 Dec 2019 at 11:58 AM, DixitArora-MSFT <notifications@github.com>
wrote:

[2019-12-18 07:50] DixitArora-MSFT commented on #1886
@codingyoga Thanks for the response. I will work with content team and see if this can be accommodated.  If there are no further questions, Shall we proceed with closure of this ?

[2019-12-18 08:07] PramodValavala-MSFT commented on #1884
@JawadJaber We have worked up a PR to address this, which once merged will take a couple of hours to reflect.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-18 08:07] #1884 closed

[2019-12-18 08:20] codingyoga commented on #1886
@DixitArora-MSFT Sure will close it. Thanks.

[2019-12-18 08:20] #1886 closed

[2019-12-18 11:45] vbrinza opened #1887 "documentation folder missing in git repo"
Was the docs/framework/devops/iac.md removed from git?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5490ef64-9b6d-59be-1e9b-a2b2d10388b2
* Version Independent ID: 4e37976c-47f3-1481-b312-e7be38f93e07
* Content: [Infrastructure Deployment](https://docs.microsoft.com/en-us/azure/architecture/framework/devops/iac#feedba

[2019-12-18 18:22] partha-sarathi-sarkar opened #1888 "Azure Devops CI/CD For Aks"
I have been going through the docs of CI/CD for AKS using azure pipeline.

There are certain docs for CI/CD but those are based on yaml file.

I have successfully deployed to AKS from Azure CI/CD with Azure devops classic editor pipeline.

I didn't get any docs regarding CI/CD using classic editor. So I am Prepared some docs for the Pipeline process . Is there any changes for approval if i Send a

[2019-12-18 20:50] kumar-dhanagopal opened #1889 "Typo: "Anomoly""
This feedback isn't about the article. It's for the parent node of the article. The node has a typo: "Anomoly". It should be "Anomaly".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2a5d359-b35d-f8c1-480e-ea9aff4255b5
* Version Independent ID: 971a1042-d297-7cda-2961-3f5b1b422a9b
* Content: [Anomaly Detector Process

[2019-12-18 21:00] absilver808 opened #1890 "Does each new service have its own database?"
I think this article and its pictures could clarify whether or not each new service gets its own database, and syncs its data back to the monolith. Or perhaps if the new service starts pointing at the monolith's database and eventually migrates to its own?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab3d720e-441b-16

[2019-12-18 22:25] MarileeTurscak-MSFT commented on #1887
@vbrinza
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-18 22:26] MarileeTurscak-MSFT commented on #1888
@partha-sarathi-sarkar to clarify, are you hoping to make pull requests to existing docs? Can you please link those docs here?

The guide for contributing is here: https://docs.microsoft.com/en-us/contribute/#quick-edits-to-existing-documents

[2019-12-18 22:28] MarileeTurscak-MSFT commented on #1889
@kumar-dhanagopal thanks for this! I don't have access to edit the headers so I'm assigning this to the content author to look into.

[2019-12-18 22:39] MarileeTurscak-MSFT commented on #1890
@absilver808
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-19 10:17] PramodValavala-MSFT commented on #1890
@absilver808 While the migration journey described in this doc ends up in a scenario with a single data source (which is still OK in different cases), each service could still have their own data source, especially in cases where different kinds of persistence capabilities are required. For example, RDBMS vs NoSQL.

You can read more about [data considerations](https://docs.microsoft.com/en-us/azu

[2019-12-19 12:27] mikepfeiffer opened #1891 "Azure Front Door doesn't support Web Sockets"
Hello team,

Can we call out in this load balancing decision tree (or somewhere else in this doc) that Azure Front Door does not currently support web sockets?

AFD doesn't support Web Sockets:
https://github.com/MicrosoftDocs/azure-docs/issues/29971#issuecomment-486935231

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-12-19 14:13] absilver808 commented on #1890
Thanks for the timely response! So then would it be an anti-pattern to begin the migration by starting new services on the same schema/tables as the monolith?

[2019-12-19 14:57] PramodValavala-MSFT commented on #1890
@absilver808 Yes. Ideally, each service should have its own schema/tables and places where the monolith would have to interact with this service, you should have glue code as described in the last section of this doc.

[2019-12-19 16:37] DixitArora-MSFT commented on #1891
Hi @mikepfeiffer Thanks for your feedback. We will review and update as appropriate.

[2019-12-20 03:13] DixitArora-MSFT commented on #1887
@vbrinza I have assigned this to content author for further review and update as appropriate.

[2019-12-20 09:15] PramodValavala-MSFT commented on #1888
@partha-sarathi-sarkar Just following up here... Feel free to take a look at the contributing guide shared and create the PR. Once the PR is created, the assigned reviewer would help you further by providing feedback and walk you through in getting the doc merged.

[2019-12-20 15:59] PramodValavala-MSFT commented on #1890
@absilver808 Just following up here... Hope my previous comments clears things up.

[2019-12-21 18:18] asears opened #1892 "Suggestion - Add Key Vault"
Could call out Key Vault in the solution architecture / provide separate security / network logical implementation details.

"Ingest" should probably read "Orchestrate" as ADF can trigger Azure Synapse Analytics stored procedures, Databricks notebooks and jobs as part of the workflow.

Clicking on the contributor link in the heading brings 404 error on Github.
https://github.com/microsoftdocs/arch

[2019-12-21 20:53] wiewioor opened #1893 "Missing reference"
There is a missing link to [Sharding pattern]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51bec992-bf19-01e4-107d-d70a83febceb
* Version Independent ID: 072c2533-b725-26a6-f294-82f825cd0fbd
* Content: [Data partitioning guidance - Best practices for cloud applications](https://docs.microsoft.com/en-us/azure/architec

[2019-12-21 21:55] MarileeTurscak-MSFT commented on #1892
@asears
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-21 22:04] MarileeTurscak-MSFT commented on #1893
@wiewioor
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-23 08:52] PramodValavala-MSFT commented on #1888
@partha-sarathi-sarkar Hope you were able to work up a PR from the links shared.

Since there is no doc related feedback to address here, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-23 08:52] #1888 closed

[2019-12-23 08:52] PramodValavala-MSFT commented on #1890
@absilver808 Hope my previous comments clears things up.

Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-23 08:52] #1890 closed

[2019-12-23 15:48] sanjayntms opened #1894 "Low-priority VMs"
Use Azure Spot VM

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca4aca20-be78-ed61-145d-563fb3ff6d13
* Version Independent ID: c3f02005-d0e7-d756-04b5-655ecd84b1e8
* Content: [Modeling your cloud costs](https://docs.microsoft.com/en-us/azure/architecture/framework/cost/modeling)
* Content Source: [docs/framework/cost/

[2019-12-23 20:31] MarileeTurscak-MSFT commented on #1894
@sanjayntms thanks for your feedback! Can you please clarify your ask?

[2019-12-23 23:07] MarileeTurscak-MSFT commented on #1892
@asears you are right that it gives a 404. I'm assigning this to the content author, @adamboeglin , to look into.

[2019-12-24 09:24] DixitArora-MSFT commented on #1893
@wiewioor PR has been created for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-24 09:24] #1893 closed

[2019-12-24 10:04] sanjayntms commented on #1894
Pl add Azure spot VMs in the articleyours sincerely,Sanjay DubeyNTMS Training Institute
Whatsapp - 9702553000 
Web Site: ntmsworld.com

NTMS on Facebook

    On Tuesday, 24 December, 2019, 02:01:54 am IST, Marilee Turscak - MSFT <notifications@github.com> wrote:

@sanjayntms thanks for your feedback! Can you please clarify your ask?

—
You are receiving this because you were mentioned.
Reply to th

[2019-12-26 13:23] rafik8 opened #1895 "Numbers on list are wrong"
Steps on the diagram are from 1 to 8 but the numbered list is wrong: 1-1-1-2-1-2-1-2-1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc547e3a-5433-08eb-9bc2-c0a44e4280a5
* Version Independent ID: 3ab8ba71-f5c5-dcb4-c1be-cde8b61cda34
* Content: [Secure DevOps for AKS - Azure Solution Ideas](https://docs.microsoft.com/e

[2019-12-26 23:56] slynickel opened #1896 "Numerous Missing Resources"
This page appears to be missing a number of resource naming restrictions. Cross referencing the list on this page with https://docs.microsoft.com/en-us/azure/cloud-adoption-framework/ready/azure-best-practices/naming-and-tagging#sample-naming-convention shows a number of missing resources. I've provided some below but it's not exhaustive. If this isn't going to be centralized place for recommendat

[2019-12-27 02:23] SnehaAgrawal-MSFT commented on #1895
@rafik8 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-27 02:58] SnehaAgrawal-MSFT commented on #1896
@slynickel Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-27 11:49] Coldpawz opened #1897 "Page contains AzureRM powershell commands"
Hi, after reading the page, I noticed AzureRM commands listed at the bottom, under 'Deploy the solution'. Could these please be updated to the Az commands?

MT!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84bcf722-abb3-69b8-8073-15ae4a6890de
* Version Independent ID: 7b2010c6-696d-de66-8e56-8ac5d3e54526
* Content: [

[2019-12-27 14:40] PramodValavala-MSFT commented on #1897
@Coldpawz Thanks for the feedback! We will review and update accordingly.

[2019-12-29 07:01] gdprtcl opened #1899 "Mismatch in Architecture Diagram and Data Flow Steps."
I observe that the Data Flow is not following the Architecture Diagram as shown. The numbering seems to be off.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ed7b54c-fe6b-4331-f6d4-1e369ebad0c1
* Version Independent ID: 70f614a9-153c-3a7e-107c-526ba68adad6
* Content: [Supply Chain Track and Trace - Azure Solution Ide

[2019-12-29 17:11] SnehaAgrawal-MSFT commented on #1899
@gdprtcl Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-30 00:28] ARIT2018 opened #1900 "Incorrect DB store mentioned"
Per the illustration, member record is created in Cosmos DB which is incorrectly referred as SQL Database in the clause "The solution creates a record of the member in SQL Database". Obviously SQL Database != Cosmos DB. So either update the diagram or correct the clause. Also renumber the points after 2. to begin with 3. rather than 1. to correspond with highlighted numbers in the illustration.

-

[2019-12-30 03:27] DixitArora-MSFT commented on #1900
Hi @ARIT2018 Thanks for your feedback. We will review and update as appropriate

[2019-12-30 10:44] PramodValavala-MSFT commented on #1897
@Coldpawz We have worked up a PR to address this. Once merged, the change should reflect in a couple of hours.

[2019-12-30 10:45] #1897 closed

[2020-01-01 18:08] danmyhre opened #1901 "Missing entries for General types"
Please add rows under the general types section for
- Subscription
- Management Group

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ddc35bf-00d9-67c8-bf6a-ade5ebea07ca
* Version Independent ID: 7324a1e6-7010-c620-145b-3d8027709545
* Content: [Naming rules and restrictions for Azure resources](https://docs.microsoft.c

[2020-01-01 19:58] himanshusinha-msft commented on #1901
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-01-03 07:28] mraswinc opened #1902 "Software Quality vs Great Azure Architecture Pillars?"
In Microsoft Docs - there are 5 pillars of great software quality. However, in Microsoft Learn (https://docs.microsoft.com/en-us/learn/modules/pillars-of-a-great-azure-architecture/) - the definition is slightly different, it is 4 pillars of Great Azure Architecture instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2020-01-03 08:56] PramodValavala-MSFT commented on #1902
@mraswinc The concepts discussed I believe are the same, whether they are applied on Azure or not. We are assigning this issue to the content author for further review.

[2020-01-03 18:05] adamboeglin commented on #1889
Resolved

[2020-01-03 18:05] #1889 closed

[2020-01-03 20:29] derhoppe opened #1904 "Function App Length issue"
deploying a function app with more than 24 characters via portal throws a 400 "Bad Request" error with no further details. Seems to us like the length might be an issue

Length for funtion app names is stated in the document with 1-60 characters. For us, 24 characters did work, 60 did not.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-01-03 20:47] mike-urnun-msft commented on #1904
@derhoppe Thank you for your feedback! We will review and update as appropriate.

[2020-01-04 03:29] mike-urnun-msft commented on #1901
@danmyhre Thanks for helping us drive improvements towards MS Docs! I've submitted a PR that adds the details for the two types. Once reviewed and merged, the changes should be live shortly thereafter.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-01-04 03:29] #1901 closed

[2020-01-06 21:25] absheik commented on #1904
AB#160166 - Thanks for reporting - this issue is under review

[2020-01-06 21:30] absheik commented on #1902
AB#160173 - Thanks for reporting - this issue is under review

[2020-01-06 21:32] absheik commented on #1900
AB#160174 - Thanks for reporting - this issue is under review

[2020-01-06 21:38] absheik commented on #1899
AB#160175 - Thanks for reporting - this issue is under review

[2020-01-06 21:44] absheik commented on #1896
AB#160181 - Thanks for reporting - this issue is under review

[2020-01-06 21:47] absheik commented on #1895
AB#160187 - Thanks for reporting - this issue is under review

[2020-01-06 21:49] absheik commented on #1894
AB#160189 - Thanks for reporting - this issue is under review

[2020-01-06 21:52] absheik commented on #1892
AB#160191 - Thanks for reporting - this issue is under review

[2020-01-06 21:54] absheik commented on #1891
AB#160195 - Thanks for reporting - this issue is under review

[2020-01-06 22:02] absheik commented on #1887
AB#160198 - Thanks for reporting - this issue is under review

[2020-01-06 22:04] absheik commented on #1885
AB#160200 - Thanks for reporting - this issue is under review

[2020-01-06 22:05] absheik commented on #1883
AB#160202 - Thanks for reporting - this issue is under review

[2020-01-06 22:07] absheik commented on #1878
AB#160203 - Thanks for reporting - this issue is under review

[2020-01-06 22:10] absheik commented on #1876
AB#160206 - Thanks for reporting - this issue is under review

[2020-01-06 22:16] absheik commented on #1867
AB#160208 - Thanks for reporting - this issue is under review

[2020-01-06 22:17] absheik commented on #1866
AB#160209 - Thanks for reporting - this issue is under review

[2020-01-06 22:19] absheik commented on #1865
AB#160211 - Thanks for reporting - this issue is under review

[2020-01-06 22:24] absheik commented on #1862
AB#160212 - Thanks for reporting - this issue is under review

[2020-01-06 22:25] doodlemania2 commented on #1904
We have an update coming for this section in the coming weeks. Closing for now! Thanks for reporting.

[2020-01-06 22:25] #1904 closed

[2020-01-06 22:26] absheik commented on #1861
AB#160214 - Thanks for reporting - this issue is under review

[2020-01-06 22:27] absheik commented on #1857
AB#160216 - Thanks for reporting - this issue is under review

[2020-01-06 22:29] absheik commented on #1856
AB#160217 - Thanks for reporting - this issue is under review

[2020-01-06 22:30] StingyJack commented on #1883
@absheik  - That link is 401

[2020-01-06 22:31] absheik commented on #1852
AB#160219 - Thanks for reporting - this issue is under review

[2020-01-06 22:32] absheik commented on #1851
AB#160220 - Thanks for reporting - this issue is under review

[2020-01-06 22:34] absheik commented on #1850
AB#160222 - Thanks for reporting - this issue is under review

[2020-01-06 22:43] absheik commented on #1849
AB#160228 - Thanks for reporting - this issue is under review

[2020-01-06 22:46] absheik commented on #1848
AB#160231 - Thanks for reporting - this issue is under review

[2020-01-06 22:48] absheik commented on #1847
AB#160232 - Thanks for reporting - this issue is under review

[2020-01-06 22:49] absheik commented on #1845
AB#160233 - Thanks for reporting - this issue is under review

[2020-01-06 22:50] absheik commented on #1844
AB#160235 - Thanks for reporting - this issue is under review

[2020-01-06 22:51] absheik commented on #1842
AB#160236 - Thanks for reporting - this issue is under review

[2020-01-06 22:53] absheik commented on #1828
AB#160238 - Thanks for reporting - this issue is under review

[2020-01-06 22:54] absheik commented on #1827
AB#160239 - Thanks for reporting - this issue is under review

[2020-01-06 22:57] absheik commented on #1826
AB#160200 - Thanks for reporting - this issue is under review

[2020-01-06 22:59] absheik commented on #1817
AB#160241 - Thanks for reporting - this issue is under review

[2020-01-06 23:01] absheik commented on #1805
AB#160242 - Thanks for reporting - this issue is under review

[2020-01-06 23:02] absheik commented on #1802
AB#160244 - Thanks for reporting - this issue is under review

[2020-01-06 23:04] absheik commented on #1790
AB#160245 - Thanks for reporting - this issue is under review

[2020-01-06 23:14] absheik commented on #1786
AB#160248 - Thanks for reporting - this issue is under review

[2020-01-06 23:15] absheik commented on #1783
AB#160254 - Thanks for reporting - this issue is under review

[2020-01-06 23:16] absheik commented on #1779
AB#160255 - Thanks for reporting - this issue is under review

[2020-01-06 23:18] absheik commented on #1778
AB#160255 - Thanks for reporting - this issue is under review

[2020-01-06 23:19] absheik commented on #1770
AB#160256 - Thanks for reporting - this issue is under review

[2020-01-06 23:20] absheik commented on #1744
AB#160257 - Thanks for reporting - this issue is under review

[2020-01-06 23:21] absheik commented on #1711
AB#160259 - Thanks for reporting - this issue is under review

[2020-01-06 23:23] absheik commented on #1685
AB#160260 - Thanks for reporting - this issue is under review

[2020-01-06 23:24] absheik commented on #1683
AB#160263 - Thanks for reporting - this issue is under review

[2020-01-06 23:25] absheik commented on #1673
AB#160264 - Thanks for reporting - this issue is under review

[2020-01-06 23:27] absheik commented on #660
AB#160265 - Thanks for reporting - this issue is under review

[2020-01-07 06:50] Prince269090 opened #1907 "Not able to download visio file"
I should be able to able to download the visio file which i was able to do previously. please provide suggestions on how to download the vsd file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0a5d586-36db-1258-a949-04084fa331e6
* Version Independent ID: 5615a84e-21d7-6a9c-6c2a-37bba2b9d5d8
* Content: [Information Ch

[2020-01-07 09:14] ketan-chawda-msft commented on #1907
@Prince269090 Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-07 10:25] HockeyJustin commented on #1891
Having just tried front door and found it [doesn't work with SignalR](https://github.com/MicrosoftDocs/azure-docs/issues/29971) service, I'd like to +1 this. SignalR is a critical component for us (and many others), so we can't use front door at the moment.

[2020-01-07 17:31] MikeWasson commented on #1783
GRS is the recommend option (see [here](https://docs.microsoft.com/en-us/azure/backup/backup-overview#why-use-azure-backup)). GRS storage becomes available if Microsoft initiates a failover.

[2020-01-07 18:47] MikeWasson commented on #1802
I don't see the phrase "computer name" in the linked article. (It might have changed since you opened the issue back in October)

Portal uses the phrase "guest host name" which is what this doc is referring to:

![portal](https://user-images.githubusercontent.com/3992422/71920141-fc5c6800-313a-11ea-8095-0e108886f6db.png)

[2020-01-07 18:47] MikeWasson commented on #1802
Closing because I think there's no inconsistency here.

[2020-01-07 18:47] #1802 closed

[2020-01-07 18:58] MikeWasson commented on #1827
Management would be something like Kubernetes for orchestration. Same thing for service discovery.

[2020-01-07 18:58] #1827 closed

[2020-01-07 22:11] panjevic opened #1908 "Provide more details"
Seems like a great use case. Would love to see solution accelerator or at least code examples

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 041da9ff-57a4-916d-ae12-8b1e4fe77d44
* Version Independent ID: a56ac57e-3796-559f-261f-76061e0e4810
* Content: [Blockchain Workflow Application - Azure Solution Ideas](https://doc

[2020-01-07 23:10] dcbrown16 commented on #1802
@MikeWasson it does seem to have been removed from the particular doc I linked but I guess the Portal is also inconsistent.
Here's a FAQ entry using "computer name".
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/faq#are-there-any-computer-name-requirements
Here's where it says "Computer name" in the Portal.
![image](https://user-images.githubusercontent.com/34466884/71936836-6dae

[2020-01-08 03:28] DixitArora-MSFT commented on #1908
Hi @panjevic Thanks for your feedback. We will review and update as appropriate.

[2020-01-08 10:32] Saby007 opened #1910 "Redundant or Duplicate"
Redundant means "not or no longer needed or useful; superfluous.".
I think in this context it should be repetitive or duplicate but not redundant.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64a14304-4ef8-dc1b-b92d-b021fc169710
* Version Independent ID: 33ad8550-7676-2b43-f6cc-a9eb3d3f2093
* Content: [Make all thing

[2020-01-08 11:07] Saby007 opened #1911 "Always have backup for your critical resources"
Depend on the project we should always design backup for our critical resources. The resources will vary from project to project.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64a14304-4ef8-dc1b-b92d-b021fc169710
* Version Independent ID: 33ad8550-7676-2b43-f6cc-a9eb3d3f2093
* Content: [Make all things redundant - Azu

[2020-01-08 11:24] DixitArora-MSFT commented on #1910
Hi @Saby007 Thanks for your feedback. We will review and update as appropriate.

[2020-01-08 11:26] DixitArora-MSFT commented on #1911
Hi @Saby007 Thanks for reaching out. Could you please let us know the exact ask for this feedback.

[2020-01-08 11:31] Saby007 commented on #1911
Hi, What I feel the identification of critical components in any design is very important. Once we identify it we should always look for options to make it highly available. Hence I feel this should be part of the design principles.

[2020-01-09 04:06] MikeWasson commented on #1779
Fixed, update will be published tomorrow.

[2020-01-09 04:06] #1779 closed

[2020-01-09 06:38] DixitArora-MSFT commented on #1911
@Saby007 Yes, I do agree that we should always have the the back up for any critical resources . Ideally it should be a part of good practice not the part of any specific design principle.

[2020-01-09 06:38] #1911 closed

[2020-01-09 09:29] FedorRomanov opened #1912 "using Materialized View with microservies is problematic"
It is worth mentioning that Materialized View(DB feature) could used in monolitic application only, i.e. when whole set of data(Order, OrderItem, and Customer tables) are located in single DB.
With mictoservices approach, there would be at least 2 services:
 * Order Service encapsulating Order and OrderItem tables
 * Customer Service encapsulating Customer table
Order Service and Customer Service

[2020-01-09 11:28] ketan-chawda-msft commented on #1912
@FedorRomanov Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-09 16:56] BrianBlanchard commented on #1896
This issues is actively being addressed in the CAF repo.

[2020-01-10 14:15] stevep0000 opened #1913 "Missing word"
As you continue to peel away the monolith, eventually there will come the point in which it no longer needs to exist, the microservices have been successfully extracted from the monolith. At this point, the anti-corruption layer (glue code) can be safely xxxxxx.

Probably should be "removed".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2020-01-10 15:43] DixitArora-MSFT commented on #1913
Hi @stevep0000 Thanks for your feedback. We will review and update as appropriate.

[2020-01-10 17:30] MikeWasson commented on #1913
Good catch, thanks! 😺

[2020-01-10 17:32] #1913 closed

[2020-01-11 21:03] wmpauli opened #1914 "Training Time and Cost"
Do you have any benchmarks on how long it would take to train various ResNets and the cost would be?

I'm looking for info comparable to this: https://dawn.cs.stanford.edu/benchmark/

E.g. Time taken to train an image classification model to a top-5 validation accuracy of 93% or greater on ImageNet.

Thank you!

[2020-01-12 02:36] DixitArora-MSFT commented on #1914
Hi @wmpauli Thank you for reaching out Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-01-12 12:30] Alghurairproperties opened #1915 "More details required"
Could you pls send us more details

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ca97a7c-e27f-7565-29cb-73897ed6e16f
* Version Independent ID: 7f7eac20-58ae-21fc-7551-df13aa20c545
* Content: [Hybrid Identity - Azure Solution Ideas](https://docs.microsoft.com/en-us/azure/architecture/solution-ideas/articles/hybrid-ide

[2020-01-12 12:50] DixitArora-MSFT commented on #1915
Hi @Alghurairproperties Thanks for your feedback. Could you please let us know the details for which you are looking for more information.

[2020-01-12 12:53] Alghurairproperties commented on #1915
Hello,

We are hosting Dynamics within our tenant and would like to extend this application to a lot more external AD domains(recently acquired companies), such that they could use the Hybrid Identity solution using Federated services to authenticate. Wondering If you may have any reference architectures for the same.

Best Regards

Abdulla Ansar
Technical Infrastructure Architect

  T  +971 4 202

[2020-01-12 18:04] wmpauli commented on #1914
Hi @DixitArora-MSFT , thanks for your response. I was referring to this [page](https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/ai/training-deep-learning).

[2020-01-12 18:04] #1914 closed

[2020-01-13 04:59] satrijotomo opened #1916 "ASK cluster"
I think there is a typo here: "This option requires CNI networking to be enabled when you configure the ASK cluster...". Isn't it AKS cluster instead?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5e2e444-d6b9-962e-56d4-8d1f3508ba9e
* Version Independent ID: 061ea6aa-353b-a98d-cbf6-639209a5fd1b
* Content: [Microservi

[2020-01-13 05:02] DixitArora-MSFT commented on #1915
@Alghurairproperties Just checking if you have gone through this and see if that helps.

https://docs.microsoft.com/en-us/azure/active-directory/develop/setup-multi-tenant-app

[2020-01-13 05:52] ketan-chawda-msft commented on #1916
@satrijotomo https://godoc.org/github.com/Azure/azure-sdk-for-go/services/eventgrid/2018-01-01/eventgrid#KeyVaultCertificateNearExpiryEventData

[2020-01-13 05:52] ketan-chawda-msft commented on #1916
Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-13 05:53] ketan-chawda-msft commented on #1916
@satrijotomo Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-13 13:16] DebabrataHowlee opened #1917 "Can this page be updated with corresponding Azure service of below AWS services"
Amazon   Elasticsearch Service
Amazon Kinesis
Amazon S3 Glacier   Deep Archive
Amazon Simple Email Service
AWS CloudTrail
AWS Cost Explorer
AWS Data Transfer
AWS Elemental MediaConvert
Amazon Simple Queue   Service
Amazon Simple Queue Service
AWS X-Ray
AWS Data Pipeline

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30

[2020-01-13 14:42] ketan-chawda-msft commented on #1917
@DebabrataHowlee Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-01-13 17:12] CeciAc opened #1919 "Retail inventory management"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/architecture-center.zh-cn/issues/77

@richfox commented yesterday — with docs.microsoft.com
how to realize a small inventory control system with azure, do u have a code sample?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d11b63e-15f8-5a33-5ab6-eeaf1f

[2020-01-13 23:52] slynickel commented on #1896
To clarify, is the CAF some internal thing?

[2020-01-14 00:19] MikeWasson commented on #1778
Moved "choosing a data store" back to that node in TOC.

[2020-01-14 00:19] #1778 closed

[2020-01-14 02:20] KrishnaG-MSFT commented on #1919
@CeciAc Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2020-01-14 02:59] DixitArora-MSFT commented on #1915
@Alghurairproperties Just following up again in case missed the previous communication.

[2020-01-14 03:01] Alghurairproperties commented on #1915
Thanks,

It works well

Best Regards

Abdulla Ansar
Technical Architect
Al Ghurair Investment

Abdulla Ansar
Technical Infrastructure Architect

  T  +971 4 2029777
  M   +971 50 4536771
 www.al-ghurair.com
 | D +971 4 2029716
 | F +971 4 2942664
The information contained in this communication is intended solely for the use of the individual, or entity to whom it is addressed to, and others author

[2020-01-14 03:42] DebabrataHowlee commented on #1917
Hey @ketan-chawda-msft, I should have mentioned that earlier, my bad. Here is it
https://docs.microsoft.com/en-us/azure/architecture/aws-professional/services

[2020-01-14 05:01] ketan-chawda-msft commented on #1917
@DebabrataHowlee I am glad that you found the relevant document.

Since there is no doc update required at the moment, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-14 05:06] ketan-chawda-msft commented on #1916
@satrijotomo Thank you for pointing this out!

I have created a PR to fix the typo. The changes will be available to the document in next 24-48 hrs.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-14 05:06] #1916 closed

[2020-01-14 11:46] DebabrataHowlee commented on #1917
Do you mean there are no corresponding services available in Azure for these AWS services now?

[2020-01-14 11:53] ketan-chawda-msft commented on #1917
Apologies, I got confused with your comment.

I have reopened the issue and assigned it to the author to provide update as appropriate.

[2020-01-14 11:56] ketan-chawda-msft commented on #1917
Most of the service is already mentioned in the document https://docs.microsoft.com/en-us/azure/architecture/aws-professional/services

Let us know which specific services are missing from this document.

[2020-01-14 11:57] ketan-chawda-msft commented on #1917
@DebabrataHowlee Most of the service are already mentioned in the document https://docs.microsoft.com/en-us/azure/architecture/aws-professional/services

Let us know which specific services are missing from this document.

[2020-01-14 12:25] DebabrataHowlee commented on #1917
Basically, I didn't find Azure services corresponding below AWS services:

AWS CloudTrail
AWS Cost Explorer
AWS Data Transfer
AWS Elemental MediaConvert

[2020-01-14 18:05] elliot-labs opened #1920 "Visio link is wrong"
The link to the Visio doc at teh top of the page appears to go to the Identity Architectures ref arch rather than this ref arch.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65f26361-0def-4ae9-e28a-8a8d4f97b87f
* Version Independent ID: ef55eb02-6543-88ad-4f89-5a553848bc67
* Content: [Extend your on-premises Active D

[2020-01-14 18:06] elliot-labs opened #1921 "Visio Link is Wrong"
The link to the Visio doc at the top of the page appears to go to the Identity Architectures ref arch rather than this ref arch.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b605d93-ab34-f8f0-2c64-d38fc5b0ab51
* Version Independent ID: 6e418fbb-e9f8-fa03-ef0e-ab6940ab62ce
* Content: [Create an AD DS resource forest

[2020-01-14 18:13] elliot-labs commented on #1921
The wrong Visio file is specifically from:
https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/identity/adfs

[2020-01-14 18:13] elliot-labs commented on #1920
The wrong Visio file is specifically from:
https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/identity/adfs

[2020-01-14 18:40] ketan-chawda-msft commented on #1921
@elliot-labs Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-14 18:41] ketan-chawda-msft commented on #1920
@elliot-labs Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-14 18:55] elliot-labs opened #1922 "Visio Link is Wrong"
The link to the Visio doc at the top of the page goes to the wrong Ref Arch.

The wrong Visio file is specifically from:
https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/identity/adfs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9383c21-9143-1559-c1a8-e6f6dc830159
* Version Independent ID:

[2020-01-14 19:50] jmanukonda opened #1923 "Questions on Strategy, Governance & Operating Model."
Hello,

Do you have any documentation, or reference material or help for the questions below, as we plan on our Architecture design for chat bots?

1). The above picture shows the Azure Active directory validation at message level. How & where does the control exist for having the users authorize/ authenticate one time during the session active, and where do we control the duration of a session le

[2020-01-15 02:22] KrishnaG-MSFT commented on #1922
@elliot-labs Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-15 02:24] KrishnaG-MSFT commented on #1923
@jmanukonda Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-15 06:08] praneetnadkar opened #1924 "AWS AppSync equivalent for Azure"
Missing the AWS AppSync service from AWS and its respective equivalent in Azure. May be some more services would be there which are in AWS and not in Azure

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30d02f16-9621-d204-4132-8ce8db79b0af
* Version Independent ID: 65b4385b-79f0-d842-d4a1-5d013615f9b1
* Content: [AWS t

[2020-01-15 06:19] KrishnaG-MSFT commented on #1924
@praneetnadkar Thanks for your feedback! We will review and provide an update as appropriate.

[2020-01-15 06:46] DixitArora-MSFT commented on #1915
@Alghurairproperties So for now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-15 06:46] #1915 closed

[2020-01-15 06:56] ketan-chawda-msft commented on #1921
@elliot-labs The visio link is correct. The downloaded vsdx file contains all the reference architectures. You need to switch the tabs in the bottom of your visio file as shown below:

![image](https://user-images.githubusercontent.com/59500871/72411939-1da00280-3792-11ea-9443-4102f681483c.png)

Since there is no doc update required at the moment, we will now proceed to close this thread. If there

[2020-01-15 06:56] #1921 closed

[2020-01-15 06:57] ketan-chawda-msft commented on #1920
@elliot-labs The visio link is correct. The downloaded vsdx file contains all the reference architectures. You need to switch the tabs in the bottom of your visio file as shown below:

![image](https://user-images.githubusercontent.com/59500871/72411939-1da00280-3792-11ea-9443-4102f681483c.png)

Since there is no doc update required at the moment, we will now proceed to close this thread. If there

[2020-01-15 06:57] #1920 closed

[2020-01-15 06:58] ketan-chawda-msft commented on #1922
@elliot-labs The visio link is correct. The downloaded vsdx file contains all the reference architectures. You need to switch the tabs in the bottom of your visio file as shown below:

![image](https://user-images.githubusercontent.com/59500871/72411939-1da00280-3792-11ea-9443-4102f681483c.png)

Since there is no doc update required at the moment, we will now proceed to close this thread. If there

[2020-01-15 06:58] #1922 closed

[2020-01-15 07:23] Alghurairproperties commented on #1915
Thanks Dixit

Best Regards

Abdulla Ansar
Technical Infrastructure Architect

  T  +971 4 2029777
  M   +971 50 4536771
 www.al-ghurair.com
 | D +971 4 2029716
 | F +971 4 2942664
The information contained in this communication is intended solely for the use of the individual, or entity to whom it is addressed to, and others authorized to receive it. If you are not the intended recipient, any copy

[2020-01-15 09:02] new-kirte opened #1925 "Comparison of availability terms"
Please add comparison of AWS and Azure availability terms (region, AZ, availability set, etc)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30d02f16-9621-d204-4132-8ce8db79b0af
* Version Independent ID: 65b4385b-79f0-d842-d4a1-5d013615f9b1
* Content: [AWS to Azure services comparison - Azure Architecture Center](https

[2020-01-15 09:45] adrydez opened #1926 "Corrupted lilnks"
All "Next Steps links" don't work
Byez

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2afdbbba-ae07-bdf4-fa21-65955f1623d1
* Version Independent ID: 189aa6c3-a454-66c1-7346-d0fe53235c25
* Content: [Live streaming digital media - Azure Solution Ideas](https://docs.microsoft.com/en-us/azure/architecture/solution-ideas/ar

[2020-01-15 10:14] KrishnaG-MSFT commented on #1926
@adrydez Thanks for the feedback.
Assigning @adamboeglin for visibility, review and document enhancement consideration.

[2020-01-15 10:16] KrishnaG-MSFT commented on #1925
@new-kirte Thanks for your comment. We will review and get back to you shortly with an update.

[2020-01-15 14:02] managedcoder opened #1927 "Reference architecture needs to be updated to include VA Template"
This reference architecture needs to be updated to include a discussion of the [Virtual Assistant Template](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-virtual-assistant-introduction?view=azure-bot-service-4.0) and needs to include links to the Virtual Assistant doc and repo.  The Virtual Assistant implements all the key aspects of this referece architecture via a simple Visual

[2020-01-15 15:11] elliot-labs commented on #1922
Good catch, this was my first time using Visio. I didn't see the tabs.
Thank you for the fast response :)

[2020-01-15 15:12] elliot-labs commented on #1921
Good catch, this was my first time using Visio. I didn't see the tabs.
Thank you for the fast response :)

[2020-01-15 15:12] elliot-labs commented on #1920
Good catch, this was my first time using Visio. I didn't see the tabs.
Thank you for the fast response :)

[2020-01-15 18:35] MikeWasson commented on #1925
Hi @new-kirte, take a look at this doc, I think it answers what you're asking:

https://docs.microsoft.com/azure/architecture/aws-professional/#regions-and-zones-high-availability

[2020-01-15 20:24] juanand opened #1930 "azbb broken?"
Trying this out, azbb -s &lt;subscription_id&gt; -g onprem-vnet-rg -l &lt;location&gt; -p shared-services-stack.json --deploy trows:
error: error executing az
  message:
  status: null
  arguments: vm list-skus --resource-type virtualMachines --zone false --subscription &lt;id&gt;

However, running az with "arguments:" param works fine.

---
#### Document Details

⚠ *Do not edit this section. It i

[2020-01-15 22:28] juanand commented on #1930
Using az cli 2.0.80, node 12.14.1x64. Fails same way in two distinct computers.

[2020-01-16 03:10] DixitArora-MSFT commented on #1930
Hi @juanand Thanks for reaching out. We will review and update as appropriate.

[2020-01-16 03:11] DixitArora-MSFT commented on #1927
Hi @managedcoder Thanks for your feedback. We will review and update as appropriate.

[2020-01-16 08:27] DixitArora-MSFT commented on #1930
@MikeWasson Any inputs in this ?

[2020-01-16 12:47] andyturn31 opened #1932 "Visio file download is different to the diagram"
Hi
The first diagram in this article has a link to download a visio file.  Problem is the file which gets downloaded is different to the image shown in the diagram.
Could this be changed?
Thanks
:-)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61c1b093-200e-8d59-0e6e-98f510dca5f6
* Version Independent ID: db6fcf0f-1a

[2020-01-16 16:48] achimismaili opened #1933 "Boken links"
It seems, the last five links under "Next steps" are all broken.
Maybe this is the right one for the REDIS article (?): https://docs.microsoft.com/en-us/azure/azure-cache-for-redis/cache-web-app-howto

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 900b3b20-5693-1beb-0b4b-161548a7d14f
* Version Independent ID: 94d5daef-

[2020-01-16 17:08] nikhilsinghmsft opened #1934 "Data Flow Description for point 6 should be related to AAS on top of Synapse"
the Data flow for point 6 description is : Run ad hoc queries directly on data within Azure Databricks.
Its should be related to Azure Analysis Service  on top of Synapse

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b68d40f-4b98-396b-f4c3-b8650fc4633f
* Version Independent ID: 26b362d7-b46a-fa03-c2aa-48b581b67bf0
*

[2020-01-16 17:12] ketan-chawda-msft commented on #1932
@andyturn31 Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-16 17:12] ketan-chawda-msft commented on #1933
@achimismaili Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-16 17:13] ketan-chawda-msft commented on #1934
@nikhilsinghmsft Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-16 19:00] ketan-chawda-msft commented on #1917
@MikeWasson can you comment here?

[2020-01-16 19:00] ketan-chawda-msft commented on #1923
@MikeWasson any thoughts here?

[2020-01-16 19:02] ketan-chawda-msft commented on #1925
@new-kirte did you get a chance to take a look at the document link provided in the last post?

[2020-01-16 19:05] ketan-chawda-msft commented on #1932
@andyturn31 The visio link is correct. The downloaded vsdx file contains all the reference architectures. You need to switch the tabs in the bottom of your visio file as shown below:

![image](https://user-images.githubusercontent.com/59500871/72554693-3529d900-38c1-11ea-9767-e9045991ddad.png)

Since there is no doc update required at the moment, we will now proceed to close this thread. If there

[2020-01-16 19:05] #1932 closed

[2020-01-17 04:08] rasinghb opened #1935 "Azure SQL"
Why is there no reference to Azure SQL in the reference architectures? Can't we use Azure SQL that has inherent high-availability, is a managed service that needs no AlwaysON configuration management?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be033e7f-d78f-f63f-c9b5-f08130315704
* Version Independent ID: d66f5650-

[2020-01-17 04:40] PramodValavala-MSFT commented on #1935
@rasinghb There is indeed a reference to Azure SQL in the form of a note under the [architecture sub-section](https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/n-tier/multi-region-sql-server#architecture).

![image](https://user-images.githubusercontent.com/43602528/72584761-54e8ed80-3911-11ea-85fa-67891f82af09.png)

With Azure SQL, you could refer to its docs for how [Hi

[2020-01-17 07:59] andyturn31 commented on #1932
Thanks for pointing this out lol.
:-)

[2020-01-17 17:21] #1933 closed

[2020-01-17 17:22] ketan-chawda-msft commented on #1933
@achimismaili  Thanks for reporting this issue. I have created a PR to fix the broken links which will be available to the document in next 24-48 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-17 17:24] david-stanford commented on #1887
Hi, this file is still there.  If you are seeing an issue please let me know.

[2020-01-17 17:24] #1887 closed

[2020-01-17 17:24] ketan-chawda-msft commented on #1934
@MikeWasson can you please share your thoughts here?

[2020-01-18 17:36] xmontero commented on #1856
@martinmthomas In fact the command handler is not a repository. It uses a repository.

The command handler is meant to "process the actual commands, if suitable". In the example the `ProductsCommandHandler` class receives a `IRepository<Product>` in its constructor.

Say the user is going to rate product 5555 to 4 stars.

- The user sees an interface. Let's say a web page (could be a local .exe pr

[2020-01-20 03:59] ketan-chawda-msft commented on #1925
@new-kirte Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-20 04:00] #1925 closed

[2020-01-20 05:08] PramodValavala-MSFT commented on #1935
@rasinghb Just following up here... Hope my previous comment clears things up.

Since there is no doc update required here, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-20 05:08] #1935 closed

[2020-01-20 06:28] azmathasan92 opened #1936 "Some GitHub URL is not Found"
Here is the URL:
https://docs.microsoft.com/en-us/azure/architecture/databricks-monitoring/application-logs

All the example GITHUB link is not found please update it soon.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f728cb2-b203-6b2f-4e3c-9d0e1be2516f
* Version Independent ID: 9ed58ead-f4d0-d9d0-01fe-82b11be235a7

[2020-01-20 07:08] PramodValavala-MSFT commented on #1936
@azmathasan92 Thanks for catching that! We will work up a PR to address this, which once merged, should reflect in a couple of hours.

[2020-01-20 08:05] #1936 closed

[2020-01-20 09:09] arthurhams opened #1937 "Swap numbers"
Hi, please swap bullet 7 and 8 in the Data Flow as they are currently incorrect

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4aaadeb-76bf-55bf-0d25-92e50a05145a
* Version Independent ID: 476a24c1-7109-cb35-0a4e-31b5320b4906
* Content: [Custom Mobile Workforce App - Azure Solution Ideas](https://docs.microsoft.com/en

[2020-01-20 09:49] PramodValavala-MSFT commented on #1937
@arthurhams Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2020-01-20 11:43] cdanieloliveira opened #1938 "Misconception about Identity Synchronization"
The architecture itself is just amazing and it shows how migration plans should be. However, I see some misconception about Id synchronization because Active Directory why it's not and should be not one of the candidates to replatform to Azure Active Directory.

I understand that the picture represents synchronization maybe through Azure AD Connect but still does not show how does an enterprise gr

[2020-01-20 11:47] MohitVerma-MSFT commented on #1938
Hello @cdanieloliveira ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-21 07:49] TapanSharma21 commented on #1912
Hi FedorRomanov ,

In case of Microservices, the answer will be Domain Service Aggregation pattern.

You will have the separate data-stores for Domain Services.

Then there will be one data store for Aggregation Service which gets the data from all the Domain  services and updates it's data-store. (To Ensure loose coupling it be event based)

In this pattern, Domain Services data-store needs to be

[2020-01-21 14:52] provanguard commented on #1891
Apart from SignalR, please list other supported protocols and technologies in the decision tree. I am particularly interested in WCF. What choices do I have when some of the clients use WCF to communicate with some of the micro services behind the gateway/load balancer?

[2020-01-21 15:11] AgileXRM opened #1939 "Most "Next Steps" links are broken"
Most "Next Steps" links are broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 115fe9d4-6876-b76b-c194-6dbe760f0131
* Version Independent ID: bd2dbb27-a069-8609-5421-33d223df06eb
* Content: [Dev-Test deployment for testing IaaS solutions - Azure Solution Ideas](https://docs.microsoft.com/en-us/azure/architecture/sol

[2020-01-21 15:13] ketan-chawda-msft commented on #1939
@AgileXRM Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-21 20:39] samleung314 opened #1941 "Question about part 6 of Data Flow"
For the diagram, can clarity be provided about the role of "SQL structured" icon in the architecture? Is it a separate discrete component that Azure Search interacts with? Or is it part of the greater Azure Search Service?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0a5d586-36db-1258-a949-04084fa331e6
* Version Ind

[2020-01-21 21:15] DeanGross opened #1942 "Duplicate page titles"
There are 2 pages in the Solutions Ideas section with the exact same title "Medical Data Storage Solutions". Please change one of them to minimize confusion

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f5f1109-6e79-d75f-44a6-c573e214e351
* Version Independent ID: a63bdc30-afca-f42a-591b-2c4c2abfc025
* Content: [Medi

[2020-01-21 23:00] davecatt opened #1943 "DSVM on CentOS is available in the Azure image gallery."
The page still states DSVM is not supported on CentOS but the gallery seems to offer this.  In Azure, create a virtual machine and browse the marketplace images.  Search data science and the CentOS DSVM is shown.

https://azuremarketplace.microsoft.com/en-us/marketplace/apps/microsoft-ads.linux-data-science-vm?tab=Overview

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-01-22 03:38] LucianFrango opened #1944 ""In the web tier subnet, all traffic (0.0.0.0/0) is sent to the Azure Firewall." is incorrect"
Hi, this statement is incorrect in that this simply overrides the system route default route for "0.0.0.0/0 > Virtual Appliance > [firewall IP]". Since there is no route for the address space of the VNet itself to point to Azure firewall, web tier instances are able to communicate directly to each other, not via Azure Firewall.

[2020-01-22 09:00] DixitArora-MSFT commented on #1942
Hi @DeanGross Thanks for your feedback. We will review and update as appropriate.

[2020-01-22 09:01] DixitArora-MSFT commented on #1944
Hi @LucianFrango Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-01-22 09:04] DixitArora-MSFT commented on #1943
Hi @davecatt Thanks for your feedback. We will review and update as appropriate.

[2020-01-22 09:10] PramodValavala-MSFT commented on #1941
@Thanks for the feedback! We will review and update accordingly.

[2020-01-22 09:18] PramodValavala-MSFT commented on #1941
@samleung314 Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2020-01-22 15:47] ehsf973 opened #1945 "do not use << or >> in the PS commands line"
do not use &lt;&lt;or &gt;&gt; in the PowerShell examples. thoses characters are not recognized by the ISE PowerShell 5.x editor and the copy paste options now  requires  some corrections before executing directly the shell .ps1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61c1b093-200e-8d59-0e6e-98f510dca5f6
* Versi

[2020-01-22 17:34] PramodValavala-MSFT commented on #1945
@ehsf973 I believe the intention here is that they are placeholders for the user to replace before running. But I guess making them variables instead would be better.

@MikeWasson Thoughts?

[2020-01-22 18:48] absheik commented on #1876
this is expected behavior.  Triggering a CI build on branch create is not optimal.

[2020-01-22 18:48] #1876 closed

[2020-01-22 18:49] doodlemania2 commented on #1878
It is Microsoft policy that we don't publicly comment on roadmap items outside our announcements page located on Azure.com. In the event you are blocked, please contact your Microsoft Account Team for more information.

[2020-01-22 18:49] #1878 closed

[2020-01-22 21:34] LucianFrango commented on #1944
Hi, sorry about that, here's the article - https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/dmz/secure-vnet-dmz#feedback

[2020-01-23 06:36] #1939 closed

[2020-01-23 06:36] ketan-chawda-msft commented on #1939
@AgileXRM Thanks for reporting this issue. I have created a PR to fix the broken links which will be available to the document in next 24-48 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-23 08:51] azmathasan92 opened #1946 "mspnp / spark-monitoring Is not working properly"
The library which you have shared is not working properly mspnp/spark-monitoring please rectify it.
---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f728cb2-b203-6b2f-4e3c-9d0e1be2516f
* Version Independent ID: 9ed58ead-f4d0-d9d0-01fe-82b11be235a7
* Content: [Send Azure Databricks application logs to Azure Monitor](https

[2020-01-23 09:05] kjbanaszczyk commented on #1876
I believe there is need to amend documentation, because it is misleading

[2020-01-23 10:42] RudyCo commented on #1361
Fully agree with @aaronse! This is a real world example of https://wiki.c2.com/?ProblemsWithDocumentation.
For instance, in the Azure Functions doc, Microsoft strongly advises to use them instead of WebJobs for the most common scenarii. There is no "single source of truth" and this leads to create ambiguity.

[2020-01-23 12:43] MohitVerma-MSFT commented on #1946
Hello @azmathasan92 ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-23 12:55] DixitArora-MSFT commented on #1943
@davecatt PR has been created for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-23 12:55] #1943 closed

[2020-01-23 13:17] olileger opened #1947 "Something is missing"
Hello
I think something is missing here. You're introducing Cost Modeling and then jump straight into solutions to leverage such as Low Priority VMs and so on.
I think you should not be so exhaustive and move these solutions elsewhere.

I'm expecting from here to get guidelines to do cost modeling at a high level and not finding solutions answering to how to optimize so from my view point everythi

[2020-01-23 16:07] PramodValavala-MSFT commented on #1947
@olileger Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2020-01-23 23:45] #1844 closed

[2020-01-24 07:56] learnigility commented on #1856
As @xmontero mentioned, ProductsCommandHandler and ProductRepository has only "has" relation. ProductsCommandHandler acts as interface between ProductApi/Controller and ProductRepository. This implementation helps keep commands together separate from Queries. In traditional approach, we directly use repository from controller keeping executing commands and Queries together hence no need of any oth

[2020-01-24 11:43] rolgran opened #1950 "Update on maximum bandwidth"
Is not the maximum bandwidth 10 Gbps when using VpnGw5?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59c72e16-a607-68cc-4d47-7e6f16b546c1
* Version Independent ID: 897309eb-6e9b-1f5c-714b-b12c91e9091d
* Content: [Solutions for connecting an on-premises network to Azure - Azure Reference Architectures](https://docs.mi

[2020-01-24 12:01] MohitVerma-MSFT commented on #1950
Hello @rolgran ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-24 17:01] JerryNixon opened #1952 "Invalid syntax in example."
The example shows the syntax `for (;;)` which is clearly invalid.
I think we somehow trimmed out the content like `for (var i = 1; i &lt;= 5; i++)` or something like it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 497c1436-d32c-1fb5-3209-22058fece4b2
* Version Independent ID: 4818d7be-c866-39bc-f2c3-d7af59d2cd4e
* C

[2020-01-24 17:05] #1952 closed

[2020-01-24 20:21] EdwinGomes opened #1953 "Issue with diagram"
Hi, the diagram does not appear to render correctly.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba39518b-4b1f-f0df-e1c1-bfcc1f586dc9
* Version Independent ID: 7c0dfce9-73a6-7a64-5439-5ff07d6eb686
* Content: [Training and procedural guidance powered by mixed reality - Azure Solution Ideas](https://docs.microsoft.com

[2020-01-25 01:51] PramodValavala-MSFT commented on #1953
@EdwinGomes Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2020-01-25 04:01] TravisCragg-MSFT commented on #1952
@JerryNixon I see you closed this issue, please let me know if you need any further assistance and we will re-open and continue.

[2020-01-26 03:04] SamiHouri opened #1954 "Visio Diagram"
please can we have the visio Diagram of the same architect?

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac160993-f333-03d1-ee24-394adedbb830
* Version Independent ID: a9be7642-9bea-b561-7a30-0b152b93285f
* Content: [Securely managed web applications - Azure Example Scenarios](https://docs.microsoft.com/en

[2020-01-26 04:12] MohitVerma-MSFT commented on #1954
Hello @SamiHouri ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-27 04:25] PramodValavala-MSFT commented on #1945
@ehsf973 Since many of the docs here use similar placeholders, we are assigning this issue to the content author for further review.

[2020-01-27 09:03] #1944 closed

[2020-01-27 09:04] DixitArora-MSFT commented on #1944
@LucianFrango  PR has been created for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-27 09:35] ketan-chawda-msft commented on #1950
@rolgran Thanks for reporting this issue. I have created a PR to update the document. The updates will be available to the document in next 24-48 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-27 09:35] #1950 closed

[2020-01-27 16:16] steveharrington1 opened #1955 "Web App vs Web App name?"
https://docs.microsoft.com/en-us/azure/architecture/best-practices/resource-naming#web

For these rules, what's the difference between a "Web App" and a "Web App name"?

In my subscription the names for Web Apps seem to be restricted by the conditions of the "Web App" rules (60 characters, globally unique.) So what is the "Web App name" referring to?

---
#### Document Details

⚠ *Do not edit this

[2020-01-27 16:20] steveharrington1 commented on #1955
I see this is already a question that was closed with an "update coming" two months ago. But this wasn't actually answered. Can someone clarify?

[2020-01-27 16:58] DixitArora-MSFT commented on #1955
Hi @steveharrington1 Thanks for reaching out. We will review and update as appropriate.

[2020-01-28 20:55] haokanga opened #1957 "All the links in the Next Steps sections show 404"
https://docs.microsoft.com/en-us/api/Redirect/documentation/articles/traffic-manager-configure-failover-routing-method/
https://docs.microsoft.com/en-us/api/Redirect/documentation/articles/site-recovery-components/
https://docs.microsoft.com/en-us/api/Redirect/documentation/articles/site-recovery-network-design/
https://docs.microsoft.com/en-us/api/Redirect/documentation/articles/storage-introduct

[2020-01-29 03:16] DixitArora-MSFT commented on #1957
Hi @haokanga Thanks for your feedback. We will review and update as appropriate.

[2020-01-29 12:46] binhnguyenfr opened #1958 "absence of Azure Application Insights"
Should we include  AWS CloudWatch to compare  with Azure Application Insights ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30d02f16-9621-d204-4132-8ce8db79b0af
* Version Independent ID: 65b4385b-79f0-d842-d4a1-5d013615f9b1
* Content: [AWS to Azure services comparison - Azure Architecture Center](https://docs.micros

[2020-01-29 16:01] DixitArora-MSFT commented on #1958
Hi @binhnguyenfr Thanks for your feedback. We will review and update as appropriate.

[2020-01-29 16:28] AshleyRutlandSCC opened #1959 "DMZ Between Azure and Internet"
There used to be a 2nd version of this that showed DMZ between Azure and Internet and Azure and On-premise, it would be good to see that design back and updated

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74bb4b25-ebe2-264d-047d-3f651c52a9c5
* Version Independent ID: aed6ebef-6157-9608-3f85-0807c7fdf61d
* Content: [

[2020-01-29 16:31] AshleyRutlandSCC opened #1960 "DMZs ?"
It would be good to see this with DMZ's for Internet Traffic INbound/Outbound using shared Firewall Appliances along with connectivity from On-Premise as an untrusted site so showing Public and Private DMZ's

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87139748-938e-638e-de1f-94f8becfe1da
* Version Independent ID: b9

[2020-01-29 20:31] MikeWasson commented on #1959
The previous version used a separate set of firewall appliances to create separate DMZs. With Azure Firewall, all traffic gets routed through the Firewall instance, so there's no substantive difference between Internet and hybrid on-premises, except for the routing rules.

[2020-01-29 21:02] david-stanford opened #1963 "Test"
Testing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 111d7b49-94b6-abd9-c21a-fb0bace59114
* Version Independent ID: 5d9aa212-cbb2-803c-2ea9-6da76c7a9394
* Content: [Azure Architecture Framework - Azure Architecture Framework introduction](https://docs.microsoft.com/en-us/azure/architecture/framework/#feedback)
* Cont

[2020-01-29 21:04] #1963 closed

[2020-01-29 23:25] SydneyUniLibrary-Jim opened #1964 "gitflow-branch-workflow.md copied from Atlassian without attribution"
The content in architecture-center/docs/framework/devops/gitflow-branch-workflow.md is copied from https://www.atlassian.com/git/tutorials/comparing-workflows/gitflow-workflow.

The original content is licensed under the [Creative Commons Attribution 2.5 Australia License](http://creativecommons.org/licenses/by/2.5/au/).

While the license means copying the original content is allowed, you must:
-

[2020-01-30 03:26] DixitArora-MSFT commented on #1960
Hi @AshleyRutlandSCC Thanks for your feedback. We will review and update as appropriate.

[2020-01-30 04:24] PramodValavala-MSFT commented on #1964
@SydneyUniLibrary-Jim Thanks for bringing this up! We have assigned this issue to the content author for further review.

[2020-01-30 08:38] DixitArora-MSFT commented on #1954
@SamiHouri Follow [this](https://docs.microsoft.com/en-us/azure/architecture/example-scenario/apps/fully-managed-secure-apps#architecture) which discuss about this. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-30 08:38] #1954 closed

[2020-01-30 09:09] DixitArora-MSFT commented on #1960
@AshleyRutlandSCC Referring [Issue ](https://github.com/MicrosoftDocs/architecture-center/issues/1959) The previous version used a separate set of firewall appliances to create separate DMZs. With Azure Firewall, all traffic gets routed through the Firewall instance, so there's no substantive difference between Internet and hybrid on-premises, except for the routing rules.

[2020-01-30 09:14] DixitArora-MSFT commented on #1958
@binhnguyenfr Thanks for the idea and suggestion. Will create the internal work item for this. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-30 09:14] #1958 closed

[2020-01-30 09:53] binhnguyenfr commented on #1958
thank you. happy to contribute on your architecture documentation for the Azure community.

[2020-01-30 15:06] olileger commented on #1947
Thanks Pramod.
I think it's important at least to set the goal of cost modeling.
Something like "Cloud cost modeling is about mapping the cloud resources to the organizational structure to clearly identify where the cloud services are deployed and how they are governed." would be of a great help at the beginning of the article.
My 2 cents
Feel free to loop me in internal thread if needed, I'd be h

[2020-01-30 15:17] akaimal opened #1965 "Visio Diagrams"
[Enter feedback here]
Please can you share the visio files for these diagrams. thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31e15f1b-74fe-f944-2cef-2202c7771e72
* Version Independent ID: 4dfbb446-d568-ff0e-be2b-ea0484f33fb5
* Content: [Data Streaming scenario - Azure Solution Ideas](https://docs.microsoft.com

[2020-01-30 15:18] olileger opened #1966 "Goals of the Cost Monitoring activities is missing"
Hello
The article is going straight to the point on solutions but is missing introducing what is the purpose of Cost Monitoring.
I suggest the following definition: "Cost monitoring is about establishing controls and business processes for reviewing your cloud spend to avoid any misuse and take advantage of new opportunities through flexibility provided by the cloud."
Feel free to loop me in inter

[2020-01-30 15:24] DixitArora-MSFT commented on #1966
Hi @olileger Thanks for your feedback. We will review and update as appropriate.

[2020-01-30 15:32] olileger opened #1967 "Goal is missing"
Hello
This article didn't describe what is the goal of "Optimizing cloud costs".
I'd suggest the following definition: "Cloud cost optimization is about using the right Azure services with the right size and the right set of features regarding the needs either technical or business thus avoiding overkilled configuration."
Feel free to loop me in internal thread if needed, I'd be happy to contribut

[2020-01-30 15:38] olileger opened #1968 "Cloud costs optimization solutions"
This article is talking about Microsoft tools and Azure services that may help to optimize the costs.
Some options within the Cost Modeling article could also be applied here such as Low priority VM, Azure Spot Instance and either the newly Azure Dedicated Host could be leveraged in a cost optimization scenario.
Among other things I was also thinking about:
- scaling (up/down, in/out)
- auto-shutd

[2020-01-30 15:48] olileger opened #1969 "Goal is missing"
Hello
Here again the goal is missing.
I suggest: "Provisioning cloud resources to optimize cost is about deploying a set of rules and mechanism to restrict the possible options for your teams to deploy cloud services to only validated types and sizes."
Olivier

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d286b30-383

[2020-01-30 16:02] PramodValavala-MSFT commented on #1969
@olileger Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2020-01-30 16:03] PramodValavala-MSFT commented on #1968
@olileger Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2020-01-30 16:03] PramodValavala-MSFT commented on #1967
@olileger Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2020-01-30 16:10] PramodValavala-MSFT commented on #1965
@akaimal I believe the diagram here is an SVG. We have assigned this issue to the content author to review and update accordingly.

[2020-01-31 02:42] kevinlpeterson opened #1970 "Next Steps Links Broken"
404

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 018a7aef-3117-17c5-8693-7455cefa54d3
* Version Independent ID: a6c4e7a0-3cfa-1c4c-bc48-6281c870b035
* Content: [Enterprise-scale disaster recovery - Azure Solution Ideas](https://docs.microsoft.com/en-us/azure/architecture/solution-ideas/articles/disaster-recovery-ente

[2020-01-31 04:46] PramodValavala-MSFT commented on #1970
@kevinlpeterson Thanks for the feedback! We will work up a PR to address this, which once merged should reflect in a couple of hours.

[2020-01-31 09:03] DixitArora-MSFT commented on #1959
@AshleyRutlandSCC For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-31 09:03] #1959 closed

[2020-01-31 09:03] DixitArora-MSFT commented on #1960
@AshleyRutlandSCC For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-31 09:03] #1960 closed

[2020-01-31 14:58] steveharrington1 commented on #1955
@DixitArora-MSFT From poking around in the Azure portal, it appears that the name of App Service Plans seems seem to follow the rules for "Web App name" in that they are required to be unique within resource groups. However, they are limited to 40 characters, not 24 as listed in the doc for "Web App name". I do not see a entry for App Service Plans in the doc, nor do I see any names that are limit

[2020-01-31 20:53] rvahaver opened #1971 "Next Steps Links Broken"
All of the next steps links generate 401s.  Please fix.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a058a401-d8c8-e58a-23c1-d35990e4ab6f
* Version Independent ID: 4acb1715-c7ab-9c60-a55f-ceb09c223755
* Content: [Back up on-premises applications and data to cloud - Azure Solution Ideas](https://docs.microsoft.com/en-

[2020-02-01 02:28] DixitArora-MSFT commented on #1971
Hi @rvahaver Thanks for your feedback. We will review and update as appropriate.

[2020-02-01 14:05] SamiHouri commented on #1954
The request was closed before getting an answer!

[2020-02-01 14:08] SamiHouri commented on #1954
Hello @MohitVerma-MSFT can you please let me know if the visio diagram is available

[2020-02-03 03:21] DixitArora-MSFT commented on #1954
@SamiHouri Do let me know if are expecting something different.

![image](https://user-images.githubusercontent.com/46984568/73623244-4c5b1b80-4662-11ea-8e03-b5def60369ef.png)

[2020-02-03 08:22] DixitArora-MSFT commented on #1966
@olileger PR has been created for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-03 08:23] #1966 closed

[2020-02-04 11:34] DixitArora-MSFT commented on #1971
@rvahaver PR has been created for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-04 11:35] #1971 closed

[2020-02-04 13:48] prak2419 commented on #1930
Has this been fixed?

[2020-02-04 18:10] #1970 closed

[2020-02-04 21:07] SGGIRBS opened #1974 "Wrong reference architecture"
The folder mentioned in this line...
"Navigate to the **/dmz/secure-vnet-dmz** folder of the reference architectures GitHub repository."

Seems to be incorrect and should be /dmz/secure-vnet-hybrid which matches the actual architecture referenced.
https://github.com/mspnp/reference-architectures/tree/master/dmz/secure-vnet-hybrid

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2020-02-04 21:35] TheGitHubBro commented on #1786
Issue resolved.

[2020-02-04 21:35] #1786 closed

[2020-02-05 01:19] PramodValavala-MSFT commented on #1974
@SGGIRBS Thanks for the feedback! We will review and update accordingly.

[2020-02-05 14:09] DebabrataHowlee commented on #1917
any update on this ?

[2020-02-06 07:26] SamiHouri commented on #1954
@DixitArora-MSFT Hi Dear, I am expecting the same but visio version if possible.

thank you

[2020-02-06 19:31] JRhodes95 opened #1976 "More detail would be great!"
We saw one of the CosmosDB Product Managers use a similar architecture at a recent meetup and it looked great, I'm struggling to find more code on it, so a well done example could be helpful!

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25c5d5cf-09ea-ed8f-11d3-b8c8e8a8c2b9
* Version Independent ID: 5050d13f-4976-58a2

[2020-02-06 19:35] JasRobe commented on #1976
We have a full IoT reference architecture that might help: https://docs.microsoft.com/en-gb/azure/architecture/reference-architectures/iot/

there is code supporting that linked at the bottom (in github)
directly here: https://github.com/mspnp/iot-guidance

[2020-02-07 06:26] dcbrown16 commented on #1596
@MikeWasson - I still don't see these docs on the Databricks side, am I missing something?
The only logging approach I found was the diagnostic settings info, buried under Administration. It would be nice to have a higher hierarchy level for Monitoring covering both of these concepts.
https://docs.microsoft.com/en-us/azure/databricks/administration-guide/account-settings/azure-diagnostic-logs

[2020-02-07 14:32] manknewl opened #1977 "LightSail"
AWS LightSail seem to be missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30d02f16-9621-d204-4132-8ce8db79b0af
* Version Independent ID: 65b4385b-79f0-d842-d4a1-5d013615f9b1
* Content: [AWS to Azure services comparison - Azure Architecture Center](https://docs.microsoft.com/en-us/azure/architecture/aws-professio

[2020-02-07 15:05] DixitArora-MSFT commented on #1977
Hi @manknewl Thanks for your feedback. We will review and update as appropriate.

[2020-02-07 17:45] #1937 closed

[2020-02-07 18:42] absheik commented on #1967
Internal Microsoft DevOps Bug AB#169335

[2020-02-07 18:52] absheik commented on #1974
Internal Microsoft DevOps Bug AB#171794

[2020-02-07 18:57] absheik commented on #1977
Internal Microsoft DevOps bug AB#172919

[2020-02-08 22:00] crgarcia12 commented on #1891
https://docs.microsoft.com/en-us/azure/frontdoor/front-door-faq#when-should-we-deploy-an-application-gateway-behind-front-door

<i>
What protocols does Azure Front Door Service support?
Azure Front Door Service supports HTTP, HTTPS and HTTP/2.
</i>

[2020-02-09 02:17] sumitsengupta opened #1979 "Add AWS data exchange/ Azure data share under"
AWS data exchange ( https://aws.amazon.com/data-exchange/ ) is similar to our Azure data share ( https://azure.microsoft.com/en-us/services/data-share/) and is not on the list ( as of Feb 8, 2020 ).

[2020-02-09 02:38] rukhsarahmad-gep opened #1980 "Reload Configuration-There is scope to improve the external configuration store pattern."
There is scope to improve the external configuration design pattern.

We can design applications in such a way that when an application deploys or restart, load configuration from external storage, and keep in a local cache and application subscribe to the Redis channel (Redis pub/sub framework). now if any configuration change then publishes a message to all subscribers, and the application will

[2020-02-09 08:16] niceysj opened #1981 "AWS CloudTrail seem to be missing."
AWS CloudTrail seem to be missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30d02f16-9621-d204-4132-8ce8db79b0af
* Version Independent ID: 65b4385b-79f0-d842-d4a1-5d013615f9b1
* Content: [AWS to Azure services comparison - Azure Architecture Center](https://docs.microsoft.com/en-us/azure/architecture/aws-professi

[2020-02-09 19:22] mrmarten opened #1982 "Very interesting"
Please expand this one with some clear examples! This can lead to huge increase of business value!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c16d9ca-f2e2-5f3a-7c01-9187c7b1f02b
* Version Independent ID: 0ad9169e-20ce-4370-17bb-615ae64db0e9
* Content: [Demand Forecasting + Price Optimization - Azure Solution Ideas

[2020-02-09 22:09] aws-scripting-guy opened #1983 "Valid for Service Principal / Managed identity as a member of AAD Security Group?"
"If the customer has Azure AD Premium, the admin can assign a security group to a role, and members of the group will inherit the app role. This is a convenient way to manage roles, because the group owner doesn't need to be an AD admin."

Can you please confirm if the above is valid also for scenario when:
1. Application role is assigned to an AAD Security Group
2. Service Principal or Managed Id

[2020-02-10 03:24] DixitArora-MSFT commented on #1981
Hi @niceysj Thanks for your feedback. We will review and update as appropriate.

[2020-02-10 03:24] DixitArora-MSFT commented on #1982
Hi @mrmarten Thanks for your feedback. We will review and update as appropriate.

[2020-02-10 03:25] DixitArora-MSFT commented on #1980
Hi @rukhsarahmad-gep Thanks for your feedback. We will review and update as appropriate.

[2020-02-10 03:27] DixitArora-MSFT commented on #1979
Hi @sumitsengupta Thanks for your feedback. We will review and update as appropriate.

[2020-02-10 04:34] SliderCO-007 opened #1984 "Serverless apps using CosmosDB"
I would like to see code examples in JAVA of this architecture. In addition, I would appreciate examples using the Quarkus framework which is much faster on a cold start than typical JAVA and Spring.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 779b0c0e-591b-2a38-5076-1c3c046e662c
* Version Independent ID: d681f23c-1

[2020-02-10 06:10] PramodValavala-MSFT commented on #1984
@SliderCO-007 Azure Functions supports CosmosDB through bindings which are covered in the [respective binding doc](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-cosmosdb-v2?tabs=java) which you can refer to.

While I believe there isn't sample with Quarkus, there is a [Java SDK for CosmosDB](https://github.com/Azure/azure-cosmosdb-java/) built around [RxJava](https://gi

[2020-02-10 06:22] DixitArora-MSFT commented on #1976
@JRhodes95  For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-10 06:22] #1976 closed

[2020-02-10 06:23] DixitArora-MSFT commented on #1977
@manknewl There is already an internal work item for this. So for now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-10 06:23] #1977 closed

[2020-02-10 06:24] DixitArora-MSFT commented on #1981
@niceysj Duplicate of this https://github.com/MicrosoftDocs/architecture-center/issues/1977

There is already an internal work item for this. So for now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-10 06:24] #1981 closed

[2020-02-10 07:31] PramodValavala-MSFT commented on #1983
@aws-scripting-guy Thanks for the feedback! We will review and update accordingly.

[2020-02-10 09:17] PramodValavala-MSFT commented on #1983
@aws-scripting-guy

**Yes, but as mentioned, only with Azure AD Premium**

**Yes. Doesn't require AAD Premium**

**Yes. Doesn't require AAD Premium**

[2020-02-10 12:47] aws-scripting-guy commented on #1983
Does that mean that what happens after the request on the IdP backend is an evaluation of

- group membership
- for each of the group, evaluation of any appRole assignment for the target application

So far I am not able to pass beyond the error below
[code]
Application Y is a member of AD Security Group, which has assigned role for application X. When I assign application Y directly to an appRole

[2020-02-11 05:14] #1974 closed

[2020-02-11 06:08] DixitArora-MSFT commented on #1982
@mrmarten Thanks for the idea and suggestion. Will create the internal work item for this. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-11 06:08] #1982 closed

[2020-02-11 06:09] DixitArora-MSFT commented on #1979
@sumitsengupta Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-02-11 06:13] DixitArora-MSFT commented on #1980
@rukhsarahmad-gep Since this channel is for driving improvements towards MS Docs, could you provide the details of specific section in the documentation that your feedback is applicable to?

[2020-02-11 06:54] rukhsarahmad-gep commented on #1980
Hi Dixit,

Please refer below PPT. let me know if you need further information.
[cid:image001.png@01D5E0D6.20FB9740]

[cid:image002.jpg@01D5E0D6.20FECB90]<https://www.gep.com/>
Rukhsar Ahmad
(O): +1 732 382 6565, 5120 | (M): +91 981 907 6079
rukhsar.ahmad@gep.com<mailto:rukhsar.ahmad@gep.com>

From: DixitArora-MSFT <notifications@github.com>
Sent: Tuesday, February 11, 2020 11:43 AM
To: MicrosoftD

[2020-02-11 07:07] rukhsarahmad-gep commented on #1980
@DixitArora-MSFT I am suggesting to change approach at the application level to load configuration. load configuration on application deployment/restart and use Redis pub/sub-framework, to reload configuration again, on publishing Redis message to all subscribers (applications).
1. Application Deployment/Restart- load configuration and keep in the process.
2. Applications will subscribe to Redis C

[2020-02-11 07:13] hmahajanHM opened #1985 "Azure equivalent for AWS ParallelCluster"
Please suggest

[2020-02-11 08:35] DixitArora-MSFT commented on #1985
Hi @hmahajanHM Thanks for reaching out. We will review and update as appropriate.

[2020-02-11 16:33] PramodValavala-MSFT commented on #1984
@SliderCO-007 Just following up here... Hope my previous comment clears things up.

[2020-02-11 16:36] AngelValdes opened #1986 "Implementation details"
It would be great if we get a detail step by step implementation details on how to do this. Specially updated with the newest options of technologies, data stores, etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ac60d9e-b851-afa6-beeb-74cdaa2a9146
* Version Independent ID: e300615f-1b32-df63-bc89-54b3b17dced5
* Co

[2020-02-12 03:32] ketan-chawda-msft commented on #1986
@AngelValdes Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-12 04:57] DebabrataHowlee commented on #1917
@ketan-chawda-msft or @MikeWasson can you please provide some update on this.

[2020-02-12 05:00] sombanerjee commented on #1826
Any updates? There used to be a PDF link earlier, which seems to be missing.

[2020-02-12 14:44] DixitArora-MSFT commented on #1979
@sumitsengupta Just following up again in case missed the previous communication.

[2020-02-12 18:11] david-stanford commented on #1964
Thanks for this; we are removing the content over the next day (I've submitted the change, just waiting for it to publish)

[2020-02-12 18:11] #1964 closed

[2020-02-12 18:14] absheik commented on #1985
Internal Microsoft DevOps AB#174216

[2020-02-12 20:55] david-stanford commented on #1673
Thank you for this feedback, I've cleaned up the article and it will be updated in the next publish.

[2020-02-12 20:55] #1673 closed

[2020-02-12 23:36] absheik commented on #1842
closing as all up transient fault guidance is covered in https://docs.microsoft.com/en-us/azure/architecture/best-practices/transient-faults

[2020-02-12 23:36] #1842 closed

[2020-02-13 04:18] DixitArora-MSFT commented on #1979
@sumitsengupta Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-13 04:18] #1979 closed

[2020-02-13 05:29] PramodValavala-MSFT commented on #1984
@SliderCO-007 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-13 05:29] #1984 closed

[2020-02-13 05:59] takekazuomi commented on #1842
@absheik

The linked document is general guidance and does not include service-specific retry handling.
It is necessary to describe retry handling in Microsoft Graph as shown in the following document.

https://docs.microsoft.com/en-us/azure/architecture/best-practices/retry-service-specific

[2020-02-14 08:27] absheik opened #1987 "Testing GitHub Issue to DevOps Bug automation"

[2020-02-14 08:27] absheik commented on #1987
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#175658

[2020-02-14 18:16] MikeWasson commented on #1770
@VeryKross Hey - based on this feedback (and others) we consolidated several articles into one, and this article now includes links to overviews for all of the compute services mentioned. Hopefully this helps!

[2020-02-16 15:47] vit100 commented on #1711
According to https://tools.ietf.org/html/rfc7523, POST request doesn't include client_id in POST parameters.

Sample probably should be fixed - removed client_id

[2020-02-17 03:23] DixitArora-MSFT commented on #1985
@hmahajanHM There is already an internal work item for this. So for now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-17 03:23] #1985 closed

[2020-02-18 08:19] PramodValavala-MSFT commented on #1983
@aws-scripting-guy Looks like the role inheritance doesn't apply to service principals when they are part of a security group. I will check with the team to confirm if this is the expected behavior.

[2020-02-19 06:41] ashitabh commented on #1934
Spark connnector for PowerBI works for PowerBI desktop only. Can we publish this to app.powerbi.com ( powerbi online) without using PowerBI Gateway ?

[2020-02-19 07:36] keithkambanje opened #1988 "Medical Data Storage Solutions"
I would like to have a full detailed architecture about the above.

I want to build a solution for my local hospital

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f5f1109-6e79-d75f-44a6-c573e214e351
* Version Independent ID: a63bdc30-afca-f42a-591b-2c4c2abfc025
* Content: [Medical Data Storage Solutions - Azure Solut

[2020-02-19 07:36] absheik commented on #1988
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#177470

[2020-02-19 07:46] keithkambanje opened #1989 "Medical data Storage Solutions"
Hi, I would like to build a solution for my local hospital.

I need more detailed information about the solution.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60bc3179-b32b-66c7-40c0-1d5313a4db99
* Version Independent ID: 999cec7f-39f6-f0c2-fd58-56ae4b94bd95
* Content: [Medical Data Storage Solutions - Azure Solution

[2020-02-19 07:46] absheik commented on #1989
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#177473

[2020-02-19 18:03] absheik commented on #1987
testing complete

[2020-02-19 18:03] #1987 closed

[2020-02-19 18:07] absheik commented on #1989
duplicate of https://github.com/MicrosoftDocs/architecture-center/issues/1988

[2020-02-19 18:07] #1989 closed

[2020-02-20 05:13] chilleregeravi opened #1990 "Name of Visual Studio Team Services not changed to Azure DevOps"
Name from VSTS has not been changed to Azure DevOps in the architecture diagram

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20546dde-32a4-9fa5-899e-eb6e60f5cbf9
* Version Independent ID: 55a03d85-415e-4b93-1082-fbbf92712801
* Content: [Hybrid CI/CD - Azure Solution Ideas](https://docs.microsoft.com/en-us/azure/archi

[2020-02-20 05:13] absheik commented on #1990
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#178078

[2020-02-20 05:51] DixitArora-MSFT commented on #1988
@keithkambanje There is already an internal work item created for this. So for now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-20 05:51] #1988 closed

[2020-02-21 07:55] DixitArora-MSFT commented on #1990
@chilleregeravi There is already an internal work item created for this. So for now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-21 07:55] #1990 closed

[2020-02-21 14:45] psignoret commented on #1983
@aws-scripting-guy @PramodValavala-MSFT I can confirm that this is expected. Service principals do not inherit app role assignments through groups, they can only be assigned app roles directly.

[2020-02-22 10:22] ZhenoSan opened #1991 "Kafka Streams API"
Kafka Streams API should also be present here for comparison. https://docs.microsoft.com/en-us/azure/hdinsight/kafka/apache-kafka-streams-api

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 957618b3-8d25-49c4-950c-0c044d68f443
* Version Independent ID: 2ab67665-066b-fb14-9763-a12693b19bec
* Content: [Choosing a stream p

[2020-02-22 10:22] absheik commented on #1991
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#179108

[2020-02-23 15:13] rahulsahay19 opened #1993 "Interesting architecture"
[Enter feedback here]

Interesting architecture. But it will be more resourceful or helpful if you can provide backing solution for the same. Blog probably will be a good idea.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f6e327d-b280-a35c-2588-87a19ac2a4ba
* Version Independent ID: fa9b0713-771f-4792-979a-2f7a4f4445

[2020-02-23 15:13] absheik commented on #1993
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#179296

[2020-02-24 17:38] MikeWasson commented on #1993
@rahulsahay19 Have you seen [this article](https://docs.microsoft.com/azure/architecture/reference-architectures/microservices/aks)? It covers this type of architecture in more depth.