[2022-07-27 15:00] andrewrondeau-optirtc opened #3544 ""Migrate an Azure Cloud Services application to Azure Service Fabric" appears to contradict itself"
"Migrate an Azure Cloud Services application to Azure Service Fabric" has some rather confusing statements. These statements appear to contract each other:

Under https://docs.microsoft.com/en-us/azure/architecture/service-fabric/migrate-from-cloud-services#deploying-the-application

Then, a few paragraphs later, under https://docs.microsoft.com/en-us/azure/architecture/service-fabric/migrate-from

[2022-07-27 16:40] MarileeTurscak-MSFT commented on #3544
@andrewrondeau-optirtc
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-27 22:58] Marusyk commented on #3438
I think the image is correct. It should return 302 (Found) and redirect to the resource

[2022-07-27 23:00] Marusyk commented on #3228
The issue can be closed

[2022-07-27 23:05] Marusyk commented on #3301
The issue has fixed and can be closed

[2022-07-27 23:06] Marusyk commented on #3300
Can be closed

[2022-07-28 08:56] Katzmann1983 commented on #3199
Yes

[2022-07-29 15:17] DavidPaf commented on #3522
Thank you.
Hope it is in progress.

[2022-07-29 16:04] DavidPaf commented on #2142
Any progress for this in 2022?

Hope there will be Django and Reactjs example.

[2022-07-31 15:27] sasi-patha opened #3546 "Custom Entity Recognition and Decision support alerts"
Requirements put forth by business analysts / teams:
1. Extract fields like Title, Parties, Effective Date, Start Date, End Date, Duration, Total Cost, Signatories - which i think could be achieved with combination of Form Recognizer & custom entity extraction.
2. Analyze the extracted  fields , relationships, dependencies between master service agreements, amendment contracts. And finally alert o

[2022-07-31 18:57] mike-urnun-msft commented on #3546
Hello @sasi-patha - Thank you for your feedback. Since this channel is more for driving improvements towards MS Docs, could you make a new post for your question on [MS Q&A channel](https://docs.microsoft.com/en-us/answers/index.html) instead? That way, we’re able to make sure your questions are answered by the right product team & SMEs.

We will now proceed to close this thread. If there are furt

[2022-07-31 18:57] #3546 closed

[2022-08-01 12:19] cassiot opened #3548 "Cross correlated blog post Id starts from 2"
The Use tags to cross-correlate cached items section has a code example that starts the `blogKey = 1`, but there is a `blogKey++ `before it is cached for the first time, making it start from 2.

Later there are examples that use the key "blog:posts:1:tags", the will never exist.

[code]

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2022-08-01 12:36] MayankBargali-MSFT commented on #3548
@cassiot Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-08-02 00:30] bastyuchenko opened #3550 "Update Service Bus retry settings"
Currently, Service Bus retry best practice contains an example for packages
Microsoft.Azure.ServiceBus
WindowsAzure.ServiceBus

Please change it to a new recommended package Azure.Messaging.ServiceBus

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8194899c-dee2-70ac-422a-edc06e779f7c
* Version Independent ID: cafc7418-

[2022-08-02 09:29] Givary commented on #3550
@bastyuchenko Thank you for your feedback. We will investigate and update the thread further.

[2022-08-02 16:59] scgbear opened #3551 "Linked to old Microsoft REST API Guidelines"
The link on this page to the Microsoft REST API Guidelines takes you to the master branch of the repo, which hasn't been updated in 5 years.

Should look into updating the link to point to the vNext branch of the repo: https://github.com/microsoft/api-guidelines/blob/vNext/Guidelines.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2022-08-03 00:24] KranthiPakala-MSFT commented on #3551
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-08-03 02:03] sysbtera opened #3553 "[VM extensions] and [Azure Automation] are not same funtions about [AWS Cloud Formation]."
[VM extensions] and [Azure Automation] are not same funtions about [AWS Cloud Formation].
[AWS Cloud Formation] is recovery tool for AWS setting.
Therefore,[VM extensions] and [Azure Automation] mistook.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30d02f16-9621-d204-4132-8ce8db79b0af
* Version Independent ID: 65b438

[2022-08-03 03:17] mcollier opened #3554 "Incorrect datetime parsing"
I think the KQL queries showing parsing of the "Trigger Details" message with a datetime value may be incorrect.  The format of the message may have changed.

The example below shows the format I'm observing:
`Trigger Details: PartionId: 59, Offset: 124580099912-124580204288, EnqueueTimeUtc: 2022-08-02T11:10:19.4440000+00:00-2022-08-02T11:10:24.5380000+00:00, SequenceNumber: 122953-122972, Count:

[2022-08-03 10:24] MayankBargali-MSFT commented on #3553
@sysbtera Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-08-03 10:25] MayankBargali-MSFT commented on #3554
@mcollier Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-08-06 07:38] EdPrice-MSFT commented on #3521
We have this whitepaper: https://azure.microsoft.com/en-us/resources/deploy-agisoft-photoscan-on-azure-with-azere-vfxt-for-azure-or-beegfs/

But I think the typo was on "BeeGFS", not the link. I'll change that. Thanks!

[2022-08-06 07:41] EdPrice-MSFT commented on #3521
PR: https://github.com/MicrosoftDocs/architecture-center-pr/pull/7627

[2022-08-07 01:12] jgwinner commented on #1891
Agreed, gaping hole. Also, it's not in the decision tree, or not obvious.

[2022-08-08 04:44] Grassyhopper commented on #2915
I dont think this issue is fixed I am seeing the same as the above

[2022-08-08 10:04] colingiles opened #3563 "Across forest authentication to domain joined storage Accounts in your article "Multiple forests deployment"
Hi Tom

I have been reading your article "https://docs.microsoft.com/en-us/azure/architecture/example-scenario/wvd/multi-forest-azure-managed" this morning which is very interesting, can you explain more detail on the storage account setup? I believe you can only join it to one forest, how does the authentication flow for CompanyA.com and CompanyB.com work for users access?

Thanks,

Colin Giles

[2022-08-08 11:35] MayankBargali-MSFT commented on #3563
@colingiles Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-08-08 12:11] DeanGross opened #3564 "Updated article titles - visible codes"
The updated article tiles display some codes from GitHub, this is not helpful and does not look good. It would be nice if those could be hidden.

Also, I notice that many of the pages are not showing the date they were updated. Most of the other Docs pages do show that information, which is very helpful. Please fix the publishing process so that the Update Date for the well architected framework p

[2022-08-08 20:25] mike-urnun-msft commented on #3564
Thank you for your feedback! We will review and update as appropriate.

[2022-08-09 01:18] brink668 commented on #2915
Hi! Which ASR rule is hitting / blocking .js files?

I am having similar issues but from Outlook.exe with addins that load .js files as well.

see my post here:
https://techcommunity.microsoft.com/t5/microsoft-defender-for-endpoint/asr-behavior-changes-blocking-under-user-context-now/m-p/3589618

[2022-08-09 08:59] clibreroacevedo commented on #3338
@MayankBargali-MSFT @LucianFrango Hi,

do you know if there is any update on the case? I am interested and I don't know how to do it, I have the same problem that @LucianFrango

[2022-08-09 22:31] ivanthewebber opened #3565 "Suggestion: Apache Flink"
I think it would be great if there was a tutorial or documentation on how to deploy Apache Flink over Kubernetes on Microsoft Azure.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 633a5861-7d2d-34af-90a4-55fde85061a2
* Version Independent ID: 633a5861-7d2d-34af-90a4-55fde85061a2
* Content: [Apache scenarios on

[2022-08-10 04:08] medran3 opened #3566 "Architecture Diagram - Interface Publishing"
Hi,
In your diagram you show that interfaces are published on the Dev Portal from external Web Services and from LogicApps.
I believe that LogicApps interfaces would be published from the API Gateway as this is where the interface for the Developer to consume sits as well as the required information e.g. Security, SLAs, etc.

Regards,
Marc

---
#### Document Details

⚠ *Do not edit this section. I

[2022-08-10 10:44] Sandeg-MSFT commented on #3565
@ivanthewebber

Thank you for bringing this to our notice. We will investigate this further and will get back to you.

[2022-08-10 16:14] mike-urnun-msft commented on #3566
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-08-11 13:32] dj51ngh opened #3574 "Unusable icons"
[Enter feedback here]
azure icons are pretty unusable : why not make them available in easier to use formats such as ppt ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6624d44c-f9f6-02f8-2c67-0f0637fed62e
* Version Independent ID: 9346a8ff-bab5-be2c-9dc1-d546fda1efa9
* Content: [Azure icons - Azure Architecture Cente

[2022-08-11 15:58] Grace-MacJones-MSFT commented on #3574
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-08-12 17:37] m-soltani opened #3575 "`Terraform` should not be stated explicitly"
Hey Team,
my feedback relates to the chapter `Key design strategies` -> `Reliable and repeatable deployments`:

I find this pretty awful stating `Terraform` as Infrastructure as Code Technology for a "reference" as if other technologies like
 `ARM-Templates` or `Bicep` can't achieve the same :). One should concentrate more on the concept itself and less about `IaC` tool set.

Bests

---
#### Docum

[2022-08-13 18:56] Grace-MacJones-MSFT commented on #3575
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-08-14 13:06] alpeles opened #3578 "Cosmos DB - not a data store for Analytics workloads"
Hello
This architecture might be a bit confusing , since Cosmos DB is not designed to be a database for Analytics workloads.
There should be some other DB instead, such as ADX, Synapse Dedicated SQL or Azure SQL Hyperscale
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42385d9e-bf16-c83f-4cc4-bc78

[2022-08-14 22:21] Grace-MacJones-MSFT commented on #3578
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-08-15 15:30] guter1 opened #3579 "The behavior of this command has been altered by the following extension: aks-preview"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3af2f117-85b5-b53e-b9b8-58c43a0aac71
* Version Independent ID: 0640e0e2-04d8-e056-78e8-977bb7a559dc
* Content: [AKS triage container registry connectivity - Azure Architecture Center](https://docs.microsoft.com/en-us/azure/architecture/operator-guides

[2022-08-15 16:35] himanshusinha-msft commented on #3579
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2022-08-15 17:38] jpocloud commented on #3239
@max-bowden -
Each microservice CI pipeline will be a unique pipeline and has path filters to specify code specifically for that microservice (example: /src/shipping/delivery/). This would be something like the "Delivery App CI" pipeline.

Then, there would be a unique release pipeline created for each microservice CI pipeline, such as "Delivery Release Pipeline". The pipeline would be configured

[2022-08-16 17:46] CalCof commented on #3575
Thanks for sharing this feedback and your opinion.

This reference does not assert or imply that first-party technologies cannot be used to accomplish the same outcome, it merely makes a specific technology selection. I will, however, inject some additional language clarification to prevent any further confusion that the same cannot be accomplished with first-party technologies.

The goal of this

[2022-08-16 20:14] m-soltani commented on #3575
Thanks for the clarification. Either of these two helps more:
* Stating that this "reference" implementation used by many customers which preferred _Terraform_ as the IaC toolset. This avoids any possible misunderstandings for readers.
* As you've said, additional language clarifications that this "reference" implementation uses _Terraform_ but is not limited to it.

[2022-08-17 05:44] raindropami opened #3581 "Pricing guidance on Purview"
Hi there

I have a customer who is looking at implementing Purview and needs to put budget and will appreciate receiving guidance on how to price for Purview.

Thanks
Ami

[2022-08-17 06:52] RohitMungi-MSFT commented on #3581
@raindropami This repo is primarily used to address issues related to azure services documentation. If you are following any document related to azure services could you please post the link as it would be easier for us to tag the issue and redirect to the correct team.

If you have any query regarding any service, then you could post the same on [MS Q&A forum](https://docs.microsoft.com/en-us/ans

[2022-08-18 11:53] tahazayed opened #3584 "A sample project for the cloud design patterns"
Would you please provide a code sample that includes all the cloud design patterns?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64e99886-d5c7-ca7c-6943-ee31cfc39902
* Version Independent ID: 04021af5-10a9-b600-5f44-354d0c0e50c9
* Content: [Ambassador pattern - Azure Architecture Center](https://docs.microsoft.com/en

[2022-08-19 00:00] mike-urnun-msft commented on #3584
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-08-19 10:25] boitcex opened #3585 "Scalable cloud load testing pipeline with JMeter"
Hi team,
I am looking for such a solution.
Do you have detailed instructions on how to implement it?

[2022-08-24 03:29] iSatishYadav opened #3588 "Add a hyperlink to WebAuthn in Azure Active Directory IDaaS in security operations page"
Add a hyperlink to WebAuthn in following page:
[Azure Active Directory IDaaS in security operations](https://docs.microsoft.com/en-us/azure/architecture/example-scenario/aadsec/azure-ad-security) -> Architectue -> Components -> Credential management ->  Passwordless authentication

So readers can know more about WebAuthn.

Current:

Proposed:

_This is my first issue here, please ignore any rookie

[2022-08-24 04:34] MayankBargali-MSFT commented on #3588
@iSatishYadav Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-08-24 08:08] flacidsnake opened #3589 "Update to use Azure Machine Learning"
Please, update this article and the templates to not use non-deprecated resources like Machine Learning Studio classic.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42f5f6b4-e65b-eacd-10e4-a72c44375d96
* Version Independent ID: e39819f6-d71e-c586-7a16-a5cd4ae28ca3
* Content: [Demand forecasting for shipping and distr

[2022-08-24 08:48] faxg opened #3590 "GitHub vulnerability management - Markdown link broken"
Broken Markdown - should be a link, but displays verbatim
`[Vulnerability management][GitHub vulnerability management]
`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3e82337-21f1-4c3c-0a71-2436a96cf9ad
* Version Independent ID: 9fee3170-fd8b-dcb5-3bed-6858880f9337
* Content: [DevSecOps with GitHub Security - Azure A

[2022-08-24 08:59] #3585 closed

[2022-08-24 09:14] #3581 closed

[2022-08-24 15:37] s4parke opened #3592 "Add Visio download link to architecture diagrams"
Most pages appear to have a link to "Download Visio file of this architecture", although several are missing the diagram download link. The ability to customize these diagrams for transformation plans is a game changer.

Many thanks for the excellent work on these guides.

Steps to reproduce
1. First, go to the [Implement a hybrid network](https://docs.microsoft.com/en-us/azure/architecture/refere

[2022-08-24 19:03] mike-urnun-msft commented on #3589
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-08-24 19:05] mumurug-MSFT commented on #3592
@s4parke Thanks for the feedback. I have assigned the issue to author, and we will review and update as appropriate.

[2022-08-24 19:08] mike-urnun-msft commented on #3590
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-08-25 07:21] wernerzirkel opened #3593 "Using log files instead of streaming sensor values"
[Enter feedback here]
In many cases you will not be able to use streaming mode for sensor values directly but you would need to extract sensor data from logfiles first. In this case it is possible to send the logfiles and start Azure Functions via Event Grid to extract sensor values. The values may be sent to Kusto for prediction.

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2022-08-25 19:28] mike-urnun-msft commented on #3593
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-08-28 20:08] janitairfan opened #3597 "Visio diagram download link is not working. on download it just opens the blank page."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec53963c-4c95-f6e7-90e0-d1e827df50b0
* Version Independent ID: 81cb35e8-e65d-41b7-f53d-5ddada2b6301
* Content: [Scalable web application - Azure Reference Architectures](https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/app-s

[2022-08-29 06:20] SwathiDhanwada-MSFT commented on #3597
@janitairfan Thanks for your feedback. I have tested the download link from Edge. Its working as expected. Can you please try to access from different browser and check if you are still facing the issue?

[2022-08-29 09:32] kamilzzz opened #3599 "Azure Firewall with Application Gateway - hub & spoke, application gateway placement"
When considering filtering traffic with Application Gateway and Azure Firewall with hub & spoke topology, documentation mentions Application Gateways are often managed by application teams hence deployed in spoke virtual networks:

However, the diagram shows Application Gateway deployed in Hub virtual network (alongside with Azure Firewall subnet and GatewaySubnet):
![image](https://user-images.gi

[2022-08-29 12:11] janitairfan commented on #3597
@SwathiDhanwada-MSFT If I click on the download file link it says the file is downloaded and I can see the file in the downloads folder too. but when I click on the visio file its opening a blank edge page. I have tested it on the chrome and edge both same results I get.

[2022-08-29 16:29] SatishBoddu-MSFT commented on #3599
I have assigned the issue to the content author for further review.

[2022-08-29 21:09] carmodyquinnms opened #3602 "Incorrect information on auto upgrade status"
Hi
Please fix the last 2 bullets on the page to show that auto upgrade for clusters and node images are fully GA now.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43da9bdf-a3d3-a65b-b555-60dcc5ac2c55
* Version Independent ID: 9913c705-aeb7-e154-4fdf-164ff1e7ff99
* Content: [AKS Day-2 - Patch and upgrade guidance - Azu

[2022-08-30 04:27] SwathiDhanwada-MSFT commented on #3602
@carmodyquinnms Thanks for your comment. We will review the issue and get back to you shortly.

[2022-08-30 16:45] ckittel commented on #3602
This update was made by @PixelRobots & @rishabhsaha and should be going live today yet - unless the publication process gets hung up for some reason (in that case it will be tomorrow). Thanks @carmodyquinnms.

[2022-08-30 16:45] #3602 closed

[2022-08-31 14:19] maryarras commented on #2915
We have been experiencing this issue, as well. We did not see that setting a filter prevented the rule from firing, though we did not try this specific set of filters. We are currently having to run in Audit mode on this ASR rule, as well.

[2022-08-31 20:01] nelroosevelt opened #3604 "Route All Setting can be Enabled or Disabled"
Route All Setting can be set to Enabled or Disabled.

To make DNS resolve the hostname to the SQL Database's private IP address, [enable the Route All setting on the web app's VNet integration](https://docs.microsoft.com/en-us/azure/app-service/web-sites-integrate-with-vnet#application-routing).
https://docs.microsoft.com/en-us/azure/architecture/example-scenario/private-web-app/private-web-app#dn

[2022-09-01 08:07] MayankBargali-MSFT commented on #3604
@nelroosevelt Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-09-01 11:59] SwathiDhanwada-MSFT commented on #3597
@janitairfan Can you please if you are able to view attached visio file ? Kindly unzip the file and access it.
[app-service-reference-architectures-scalable-webapp.zip](https://github.com/MicrosoftDocs/architecture-center/files/9469557/app-service-reference-architectures-scalable-webapp.zip)

[2022-09-01 15:55] janitairfan commented on #3597
thanks for your help.

[2022-09-01 15:55] #3597 closed

[2022-09-01 17:01] atombravo opened #3606 "Private Endpoint and NSGs"
(https://docs.microsoft.com/en-us/azure/architecture/guide/networking/private-link-hub-spoke-network#networking)
On this section, the following is misleading:

see https://docs.microsoft.com/en-us/azure/private-link/disable-private-endpoint-network-policy?tabs=network-policy-portal

By default NSGs do NOT apply to subnets with private endpoints (it may still be a public preview feature? https://az

[2022-09-02 05:16] SwathiDhanwada-MSFT commented on #3606
@atombravo Thanks for your comment. We will review the issue and get back to you shortly.

[2022-09-02 07:19] jangelfdez commented on #3606
Hi! NSG for Private Endpoints is already GA. You can use it in production environments if needed. Here are the details: https://azure.microsoft.com/en-us/updates/general-availability-of-network-security-groups-support-for-private-endpoints/

[2022-09-02 15:25] RKCS125 opened #3607 "Azure DevOps and Power Platform"
I am considering using Azure DevOps and Power Platform to custom develop 3 modules, one of them being Case Management.

The modules should be scalable.
Integrations between different modules.
Each module should contain distinct user groups with some overlap across modules
Integrate with external systems.

What other tools would I need?
How do I estimate the level of effort?
What else am I missing?

[2022-09-02 22:35] QuetzalcoatlRosso opened #3608 "real-time API for ML applications?"
Following this article, are there suggested articles or recommendations for connecting existing machine-learned models to an API that can be called for predictions in near-real-time? E.g. a process whereby a client can send data to the API and get back a prediction response from an existing ML model with sub-second latency?

Connecting this article with near-real time ML applications could be a go

[2022-09-02 23:54] SatishBoddu-MSFT commented on #3607
Hello @RKCS125,

Thanks for reaching out to us.

Could you please submit a question on [**Microsoft Q&A**](https://docs.microsoft.com/en-us/answers/index.html) forum and we will address it asap?

My apologies, the scope of Github issues is limited to the queries related with the document bugs or tutorial enhancements or product issues\blockers, so we would like to request you to submit Q&A forum q

[2022-09-02 23:54] #3607 closed

[2022-09-03 00:29] SatishBoddu-MSFT commented on #3608
@QuetzalcoatlRosso
I have assigned the issue to the content SME for further review.

[2022-09-03 12:16] jelledruyts commented on #3604
@nelroosevelt thanks for flagging this! The "Route All" setting used to be required to get DNS working but apparently App Service now proactively uses the DNS service of the VNet as the documentation you linked to calls out. So that's great! I've updated the article (as well as the [sibling multi-region version](https://docs.microsoft.com/azure/architecture/example-scenario/sql-failover/app-servic

[2022-09-04 16:57] vigouredelaruse opened #3610 "dox improvement to show firewall skus on decision tree"
the document referenced is in the search space for 'decision tree + firewall' - however the decision tree in this document does not have nodes for firewall skus

the fact is that the load balancing decision is a cross cutting concern that impacts traffic flow and therefore firewall deployments - how many, and where, for what purpose

this suggestion is a way to decrease search time for
- people lo

[2022-09-05 00:34] SatishBoddu-MSFT commented on #3610
@vigouredelaruse
I have assigned the issue to the content SME for further review.

[2022-09-05 07:32] NielsFilter opened #3611 "Architecture flow diagram not correct"
Looking at the architecture flow diagram, I have a few comments on things that don't look correct (see screenshot image)

1. Typo. "loud" should be "cloud"
2. "Build New" needs to connect up with containerized. The diagram, shows containerization only relevant for "Migrations" which isn't correct
3. This is not an error, but not great advice IMHO. ACI should be replaced with Container Apps. This d

[2022-09-05 07:44] mingdaoy opened #3612 "typo"
[Enter feedback here]
**Customers** rely on certain partitions and the order of the events they contain.

Should it be "**Consumers**"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b605814-334f-8c2c-165d-050788d5636a
* Version Independent ID: 1b678e8e-4d7a-715c-1faf-96870e134a85
* Content: [Partitioning in Event Hub

[2022-09-05 12:12] YashikaTyagi-MSFT commented on #3611
@NielsFilter
Thanks for your feedback! We have assigned the issue to author and he will update as appropriate.

[2022-09-05 12:13] YashikaTyagi-MSFT commented on #3612
@mingdaoy
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-05 13:23] algattik opened #3613 "Missing product links"
The page should include links to Azure Load Testing and Azure Chaos Studio product doc pages

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ded56014-b7da-2acd-6b38-e71611a50200
* Version Independent ID: ded56014-b7da-2acd-6b38-e71611a50200
* Content: [Continuous validation with Azure Load Testing and Azure Chaos Studio

[2022-09-05 13:31] algattik opened #3614 "Pricing not available"
The sentence "The pricing for CluedIn is open and transparent. You can see the pricing on their [website](https://www.cluedin.com/)." does not seem to be correct. Pricing is not indicated on the website.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 278e83ef-9b90-cb2d-9ff6-0dd8f5ff1b87
* Version Independent ID: 7e63fe

[2022-09-05 16:09] YashikaTyagi-MSFT commented on #3614
@algattik
Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-09-05 18:37] JakubProchazka opened #3615 "subnet for VPN gateway"
New recommendation for GatewaySubnet is address range of /26 instead /27.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 104eba32-c77e-b013-e161-ff616d16a0f7
* Version Independent ID: 3bc27d0a-ef32-f5f6-4c85-fe8e2e45155e
* Content: [Hub-spoke network topology in Azure - Azure Architecture Center](

[2022-09-06 04:31] YashikaTyagi-MSFT commented on #3615
@JakubProchazka
Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-09-06 06:51] MayankBargali-MSFT commented on #3612
@mingdaoy Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2022-09-06 08:18] MayankBargali-MSFT commented on #3612
@mingdaoy Hope the above helps and clears things up. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-09-06 08:18] #3612 closed

[2022-09-06 08:45] kasimrehman opened #3617 "Confusion between billing zones and availability zones"
[Enter feedback here]

Quote: "Data transfers across availability zones of a region are not free. If your workload is multi-region or there are transfers across billing zones, then expect additional bandwidth cost. For more information, see [Traffic across billing zones and regions](https://docs.microsoft.com/en-us/azure/architecture/framework/cost/design-regions?branch=master#traffic-across-billi

[2022-09-06 13:32] Zimmergren commented on #2381
#please-close
Resolved in this merged PR: https://github.com/MicrosoftDocs/architecture-center-pr/pull/6454

[2022-09-06 13:56] garyciampa opened #3618 "Azure Decision Tree - "loud optimized" .. should be "cloud optimized""
Hey folks,

looking at the doc, I think the decision title for one line is incorrect .. Start -> Migrate -> "loud optimized" I think should be "Cloud Optimized"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 510808e8-db5d-6b07-9a04-6edb743a2dfc
* Version Independent ID: 20d098aa-ef31-cb26-d677-765cfc9a7164
* Content: [

[2022-09-06 15:05] mumurug-MSFT commented on #3618
@garyciampa Thanks for the feedback. We will review and update as appropriate.

[2022-09-06 15:49] #2500 closed

[2022-09-06 22:09] kasimrehman commented on #3617
Also, data transfer between availability zones is currently free with plans to change this in the future. This should be documented accurately here.

[2022-09-07 11:10] Darryl-G opened #3622 "SAP Router for SAP Note Download - no longer applies"
Hello,

Please check SAP note 3010412 - "SAP Support Backbone - Configuration Overview, Responsibilities and Troubleshooting".
SAP note download into SAP Netweaver ABAP has not required the SAP Router since January 2020.

Thanks

Darryl

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fdf95a78-b354-11c7-de36-2bc0787c930c

[2022-09-07 11:26] Darryl-G opened #3623 "SAP Router - SNC example"
Hello,

The SAP Router architecture example is specific to the use of SNC.
There is another scenario that does not seem to be well covered, using an IPSEC VPN.
SAP require 2x fixed public IP addresses (one for the VPN and one for the SAP Router VM).

Is it possible you can provide some architecture examples using IPSEC VPN for the SAP Router connection?

Thanks

Darryl

---
#### Document Details

[2022-09-07 13:04] shailwx opened #3624 "Missing link to the diagram"
The article is missing a link to download the diagram in Visio or PowerPoint
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 600321a5-3245-b82b-1fe7-76f9406d83b2
* Version Independent ID: 440ab4ea-39d4-bbcc-b54f-8d46b70fec44
* Content: [Integrate IBM mainframe and midrange message queues with Azure

[2022-09-07 16:01] msftrobiro commented on #3623
Hello Darryl,

You are right, only the SNC way is described. I have added a brief clarification about this and not covering IPSEC in this document, in PR [3625](https://github.com/MicrosoftDocs/architecture-center/pull/3625).

Until now, in the Azure space I nor colleagues I know of, have come up with the request to use IPSEC SAProuter.
Other than working on network layer 3 instead of 7 (SNC) and

[2022-09-07 16:03] msftrobiro commented on #3622
Thank you for raising this Darryl. Absolutely agree and it was an oversight to keep that superfluous sentence about note download. Appreciate your raising this and PR on the way to correct this very soon. Will update once PR is live.

[2022-09-07 16:27] YashikaTyagi-MSFT commented on #3624
@shailwx
Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-09-07 16:30] Darryl-G commented on #3623
Thanks Robert.
I'll be sending you an email in the morning. 😉

All the best

Darryl

On Wed, 7 Sep 2022, 17:02 Robert Biro, ***@***.***> wrote:

[2022-09-08 08:55] kamilzzz opened #3626 "Clarification about App Service free managed certificate with original host name preservation"
In the **Implementation guidance for common Azure services** section we're told the recommendation is to preserve the original host name in the call between the reverse proxy and the back-end application server:
![image](https://user-images.githubusercontent.com/32141632/189078190-dc823709-972e-45b1-b713-a40e3ef3c228.png)

End-to-end TLS encryption is often required and is also recommended (especi

[2022-09-08 13:57] Zimmergren commented on #2584
#please-close

The original issue no longer exists, and the content has already been updated. Thanks.

[2022-09-08 13:57] #2584 closed

[2022-09-08 14:42] mumurug-MSFT commented on #3626
@kamilzzz Thanks for the feedback. We will review and update as appropriate.

[2022-09-08 15:13] cchapin2020 opened #3628 "Please add link to download Visio file"
[Enter feedback here]
The Visio diagram that is on this page does not have a link to download the file. The same issue is on
https://docs.microsoft.com/en-us/azure/architecture/solution-ideas/articles/dev-test-paas
https://docs.microsoft.com/en-us/azure/architecture/solution-ideas/articles/dev-test-microservice

The other pages in the Azure solution architecture that these pages are in have Visio

[2022-09-08 16:13] YashikaTyagi-MSFT commented on #3628
@cchapin2020
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-11 17:28] mweel1 commented on #1891
Come on Microsoft.  Web Sockets are as standard today as HTTP services.

[2022-09-11 21:17] omerzubair opened #3632 "How can we use privateendpoint web app as backend of App Gateway + Firewall"
Hi MS,

I wish to use your scenario "Application Gateway before Firewall".
This will help us achieve requirement of TLS/IDPS/DDos by using Az firewall after the App Gateway.
however instead of using the IaaS VM i wish to use my private end pointed Web apps/Function Apps.

Reason is that all my PaaS resources (WebApp,FunctionApp, KV, Storage etc) are in my internal network with no public endpoint e

[2022-09-12 03:38] Givary commented on #3632
@omerzubair Thank you for your feedback . We will investigate and update the thread.

[2022-09-12 07:01] jelledruyts commented on #3626
@kamilzzz thanks a lot for flagging this, you make a really good point (unfortunately)! This seems to be a limitation of the free certificates which don't allow domain validation using TXT records for example. I am following this up with the App Service team internally to see if we can remove that limitation somehow. In the meantime, if you absolutely require end-to-end TLS then the only alternati

[2022-09-12 14:07] mumurug-MSFT commented on #3626
@jelledruyts Thank you for updating the article.

 @kamilzzz We will proceed to close this thread and feel free to reach out if any further questions. Thanks again.

[2022-09-12 14:07] #3626 closed

[2022-09-12 18:34] mumurug-MSFT commented on #3604
@nelroosevelt We are closing this thread and feel free to reach out for any questions. Thanks again.

[2022-09-12 18:34] #3604 closed

[2022-09-12 19:26] skabou commented on #2499
https://docs.microsoft.com/en-us/azure/machine-learning/v1/how-to-deploy-azure-kubernetes-service?tabs=python#deploy-to-aks

If additional help is needed, please re-open with additional details.

[2022-09-12 19:26] #2499 closed

[2022-09-12 19:36] skabou commented on #2612
It appears this was addressed some time ago.  If help is still needed, please feel free to re-open with additional details.

[2022-09-12 19:36] #2612 closed

[2022-09-12 19:46] skabou commented on #2687
It appears this was addressed some time ago.  If help is still needed, please feel free to re-open with additional details.

[2022-09-12 19:46] #2687 closed

[2022-09-12 20:13] skabou commented on #2847
It appears this was addressed some time ago.  If help is still needed, please feel free to re-open with additional details.

[2022-09-12 20:13] #2847 closed

[2022-09-13 09:35] BiplabGH opened #3633 "Mixed Reality (VR) in warehouse management"
Every Warehouse goes through lots of manual operations which includes organising racks, commodity pick up, voice controls etc. while these manual works are either done by human or robots in some case, but what if human are expensive and rarely available due to multiple factors, or the skill set is niche and needs huge effort for training people.

It would be great if we can have training component

[2022-09-13 10:23] rotorr opened #3634 "Loud optimized to Load optimized"
On top/left of the decision tree, where it states "loud optimized", should this be load or workload optimized? Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 510808e8-db5d-6b07-9a04-6edb743a2dfc
* Version Independent ID: 20d098aa-ef31-cb26-d677-765cfc9a7164
* Content: [Choose an Azure compute service - Azure Ar

[2022-09-13 13:41] ckittel commented on #3634
Thanks for raising this. Looks like we had someone else detect this as well, so closing as a dup of #3618.  In their case "Cloud Optimized" instead of "(work)load optimized" -- which is probably what the author meant.

[2022-09-13 13:41] #3634 closed

[2022-09-13 13:50] ckittel commented on #3615
Hey there @JakubProchazka.  Our guidance for _GatewaySubnet_ is currently following the guidance of the ER/VPN Gateway docs at https://docs.microsoft.com/azure/vpn-gateway/vpn-gateway-about-vpn-gateway-settings#gwsub, which lists a recommended range of `/27` or larger.  Do you have a link that talks about the `/26` recommendation you mentioned so that we can cross-check?

[2022-09-13 13:57] ckittel commented on #3575
@CalCof -- do you (or someone on your team) plan on getting the PR opened for this, or has this hit the backlog for a content dev in C+E Skilling?

[2022-09-13 13:58] #3507 closed

[2022-09-13 13:59] ckittel commented on #3611
I know there is more in here than just the typo, but wanted to cross-link an issue that also identified the typo #3618

[2022-09-13 14:04] ckittel commented on #3617
@kasimrehman - Please see the FAQ on what Availability Zone data charges exist today.  https://azure.microsoft.com/pricing/details/bandwidth/#faq - which does include ingress and egress between availability zones in the same virtual network.  There are billing (charge) boundaries, and availability zones represents one of those boundaries for specific flows.

[2022-09-13 15:56] scaravacap opened #3635 "AWS ECS Fargate equivalent should be Azure Container Apps"
Hello team,

I've been doing some research regarding serverless Container as a Service (CaaS) options. Is true that Azure Container Instances is a CaaS, however it does not have the scalability that AWS ECS has.

So, I would say that is not accurate to mention that AWS ECS = Azure Container Instances, because ACI is not escalable.

I suggest to edit this: https://docs.microsoft.com/en-us/azure/arc

[2022-09-13 16:39] AjayBathini-MSFT commented on #3633
@BiplabGH
It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!!

[2022-09-13 18:33] matthansen0 opened #3636 "Link to Visio Diagram Broken"
The link to the Visio diagram download is broken.

![image](https://user-images.githubusercontent.com/23407342/189982596-9cdab9af-7fb6-433c-bcf9-c7a7932c6130.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 363ebddf-0348-98e1-fd24-0eef444d383a
* Version Independent ID: e7da7820-925f-2092-c1a4-7a66db3f000d
* Content:

[2022-09-13 19:53] mumurug-MSFT commented on #3636
@matthansen0 Thanks for your feedback. We have made the changes and it will be published soon after it is merged.

[2022-09-13 20:04] mumurug-MSFT commented on #3636
The link to the visio diagram works now. Sorry for the inconvenience caused. We will proceed to close this thread. Feel free to reach out if any questions.

[2022-09-13 20:04] #3636 closed

[2022-09-13 23:55] omerzubair commented on #3632
Hi @Givary , i was able to work with private endpoint + vnet injected web apps as backend of the app gateway.
You can close this ticket. However it would be great to have a scenario documented to have PaaS as backend in Ms Docs. thanks

[2022-09-14 06:57] AjayBathini-MSFT commented on #3633
@BiplabGH
Thanks for your contribution. Please add your ideas in below link, so our production team can review it and update the same.
[Ideas · Community (azure.com)](https://feedback.azure.com/d365community)

[2022-09-14 06:57] #3633 closed

[2022-09-14 09:47] alexor-ms opened #3641 "Misleading with link for Azure Stack Hub"
In the section Scalability is a link https://docs.microsoft.com/en-us/azure/architecture/hybrid/hybrid-containers#scalability for deploy Functions or App Services to Azure Stack Hub. This is really misleading, because Azure Stack Hub are completely incompatible with Azure Arc. Therefore, I would suggest to replace it with AKS on-prem e.g. on AsHCI https://docs.microsoft.com/en-us/azure-stack/aks-h

[2022-09-14 10:39] johkrec opened #3642 "AKS only for Migrate - !?"
[Enter feedback here]

Hi,

I am wondering why in the flow chart for selecting a candidate compute service, AKS can only be reached in the path for Migration.

Why not also in the path for Build New?

Thanks
Johannes

PS: There is a typo:  'loud' optimized, I guess this should be load optimized.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2022-09-14 11:28] JakubProchazka commented on #3615
Hey there @ckittel
I probably mistaken it with bastion subnet, where the new recommendation apply. I am sorry.

[2022-09-14 11:28] #3615 closed

[2022-09-14 13:13] quentinb305 opened #3643 "PowerShell script to be changed"
The PowerShell script must be changed at https://docs.microsoft.com/en-us/azure/architecture/networking/prefixes/add-ip-space-peered-vnet#add-the-ip-address-range

1. foreach loop must be added to run Remove-AzVirtualNetworkPeering on all peerings:

_foreach ($hubPeering in $hubPeerings) {
    Remove-AzVirtualNetworkPeering -VirtualNetworkName $vnethubname -ResourceGroupName $rgname -name $hubPeer

[2022-09-14 13:16] #3643 closed

[2022-09-14 13:53] mumurug-MSFT commented on #3641
@alexor-ms Thanks for your feedback. We will review and update as appropriate.

[2022-09-14 14:14] mumurug-MSFT commented on #3642
@johkrec Thanks for your feedback. We already have this similar question open in #3611 (related to Containerized Apps) and the author will review and update as appropriate.

Typo is duplicate of #3618 and should be "Cloud Optimized". We made the changes, and it will be published soon.

I will proceed to close this thread and feel free to reach out for any further questions.

[2022-09-14 17:22] mohijazi opened #3645 "Wrong IP value for the default DNS server used by spoke VNET"
In the WorkFlow part for the private DNS resolver section, we have these lines :
"All Azure spoke virtual networks use the default Azure DNS server at the IP address 192.63.129.16. All spoke networks are peered with the hub virtual network."

The IP address 192.63.129.16 is not the Azure default DNS, this may confuse the client, we may need to replace this lime with the Azure default DNS "168.63.1

[2022-09-14 22:39] mumurug-MSFT commented on #3645
@mohijazi Thanks for the feedback. We will review and update as appropriate.

[2022-09-15 17:51] JKirsch1 commented on #3645
I've contacted the article contributor and will resolve this issue as soon as he advises me about this edit.

[2022-09-15 19:48] JanetCThomas commented on #2808
It looks like this has been fixed.  Closing the issue. Thanks!

[2022-09-15 19:48] #2808 closed

[2022-09-15 19:57] hallihan commented on #2370
@Marhoon - the article has had several updates since you reported this. Please open a new feedback item if there are still specific items missing that you would like to see.

[2022-09-15 19:57] #2370 closed

[2022-09-15 20:05] skabou commented on #2471
It appears this was resolved in early 2021, please re-open with additional details if help is still needed.

[2022-09-15 20:05] #2471 closed

[2022-09-15 20:08] hallihan commented on #2380
@MilfordSound - Azure Databricks and Key Vault icons are now included.

[2022-09-15 20:08] #2380 closed

[2022-09-15 20:14] skabou commented on #2436
It's unclear from this problem description which article this applies to, please re-open with additional details if help is still needed.

[2022-09-15 20:14] #2436 closed

[2022-09-15 20:17] skabou commented on #2403
It's unclear from this problem description which article this applies to, please re-open with additional details if help is still needed.

[2022-09-15 20:17] #2403 closed

[2022-09-15 20:17] hallihan commented on #2390
@cnadler-MSFT - This content has been [relocated](https://docs.microsoft.com/azure/architecture/framework/security/design-network-segmentation) and it appears all links are functional now.

[2022-09-15 20:17] #2390 closed

[2022-09-15 20:19] #2479 closed

[2022-09-15 20:36] hallihan commented on #2397
@JimMoyle - the article has had many updates since you originally reported this, and I see mentions of multiple sessions and using a container per host pool.  If there are other specific suggestions, feel free to re-open with more detail, or submit a new feedback item.

[2022-09-15 20:36] #2397 closed

[2022-09-15 20:42] hallihan commented on #2401
Edits were previously made to address Teams folder exclusions in this section: https://docs.microsoft.com/en-us/azure/architecture/example-scenario/wvd/windows-virtual-desktop-fslogix#teams-exclusions

[2022-09-15 20:42] #2401 closed

[2022-09-15 20:51] hallihan commented on #2487
I believe this links have been cleaned up in previous edits.

[2022-09-15 20:51] #2487 closed

[2022-09-15 21:03] hallihan commented on #2509
The graphic with the typo was removed during other edits on the article.

[2022-09-15 21:03] #2509 closed

[2022-09-15 21:27] jocontr commented on #2266
@PadhuKudi do not sell the guidance that is being provided, nor co-develop with customers. I would recommend reaching out to your local Microsoft consulting partners for direct support. Good luck.

[2022-09-15 21:27] #2266 closed

[2022-09-15 21:54] jocontr commented on #2288
Closing issue after @Mike-Crowley reply.

[2022-09-15 21:54] #2288 closed

[2022-09-16 00:59] ChaitanyaNaykodi-MSFT commented on #3606
Hello @atombravo
As mentioned above by @jangelfdez the NSG feature for Private endpoints is now GA. Since we did not determine any documentation update here, we will now proceed to close this issue out. Thank you!

[2022-09-16 00:59] #3606 closed

[2022-09-16 13:40] skabou commented on #2852
It's unclear from this problem description which article this applies to, please re-open with additional details if help is still needed.

[2022-09-16 13:40] #2852 closed

[2022-09-16 13:51] skabou commented on #2833
It appears this has been addressed.  Please re-open with additional details if help is still needed.

[2022-09-16 13:51] #2833 closed

[2022-09-16 13:53] #2849 closed

[2022-09-16 14:24] hallihan commented on #2526
This appears to have been addressed in 0f144d4 and 00e43ba, please open a new feedback request with specifics if more clarification is needed.

[2022-09-16 14:24] #2526 closed

[2022-09-16 14:40] hallihan commented on #2533
This looks to have been addressed in updates to the article.

[2022-09-16 14:40] #2533 closed

[2022-09-16 16:11] jocontr commented on #2810
As stated today, the guidance shows the various capabilities and limitation of these tools given the different scenarios. Thank you.

[2022-09-16 16:11] #2810 closed

[2022-09-16 16:13] jocontr commented on #2823
@manish-karn each architecture and situation is unique. If you need support, please feel free to work with one of our local partners. Thank you

[2022-09-16 16:13] #2823 closed

[2022-09-16 16:17] jocontr commented on #2832
@cr1315 could you elaborate? Thank you.

[2022-09-16 16:31] jocontr commented on #2757
Diagram has already been updated. Thank you.

[2022-09-16 16:31] #2757 closed

[2022-09-16 16:34] jocontr commented on #2759
Thank you

[2022-09-16 16:34] #2759 closed

[2022-09-16 16:38] jocontr commented on #2762
Diagram has been updated. Thank you.

[2022-09-16 16:38] #2762 closed

[2022-09-16 19:57] hallihan commented on #2546
This article currently describes only the behavior of the linux agent, I would defer any feedback on that behavior to https://github.com/Azure/azure-linux-extensions - Current versions of the agent do default to `/mnt/resource` and this can be configured with the `ResourceDisk.MountPoint` [config value](https://docs.microsoft.com/azure/virtual-machines/extensions/agent-linux#configuration). I reca

[2022-09-16 19:57] #2546 closed

[2022-09-16 20:30] hallihan commented on #2595
I think this documentation addresses your question: https://docs.microsoft.com/azure/architecture/microservices/model/microservice-boundaries

[2022-09-16 20:30] #2595 closed

[2022-09-16 20:34] hallihan commented on #2600
This was added with previous updates.

[2022-09-16 20:34] #2600 closed

[2022-09-16 20:36] hallihan commented on #2680
Article has had many updates since this issue was reported.

[2022-09-16 20:36] #2680 closed

[2022-09-16 20:37] hallihan commented on #2703
No details provided, please re-open with specifics if there is still an issue.

[2022-09-16 20:37] #2703 closed

[2022-09-16 20:47] #3645 closed

[2022-09-16 20:48] ckittel commented on #3645
Thank you for reporting this @mohijazi -- I've just made the update and it will go live later on Monday.

[2022-09-16 20:50] ckittel commented on #3632
@erjosito -- any thoughts on mentioning private endpoints a bit more in this venerable article?  I'm going to close, but wanted to give you an opportunity to consider it for the backlog.

[2022-09-16 20:50] #3632 closed

[2022-09-17 09:04] erjosito commented on #3632
Thanks @ckittel ! Not a bad idea, I can add a short section with a link to the page where we describe gow to firewall traffic to private endpoints

[2022-09-19 17:39] stephen-sumner commented on #3618
Tagging @seanli1988 for awareness

[2022-09-19 17:53] EdPrice-MSFT commented on #3538
Thanks, Sarah! As this gets drafted into a PR, we'll work out the text descriptions for these updates to the corresponding table.

[2022-09-19 18:26] nealsullivan opened #3652 "Adding Azure/Branded components to Lamda/Kappa architectures"
It would be amazing to see actual architecture components showing how/where different azure services would plug and play in the lambda/kappa worlds.

For instance showing event hubs plus ASA as your stream-processing and how that might interact with ADLSGen2 file-storage/reference data for a 'real time' + 'everybody else' analytics/reporting scenario.

---
#### Document Details

⚠ *Do not edit thi

[2022-09-19 19:05] RobBagby commented on #2259
@sheshmantha - It seems to me that the following paragraph gets across the point that the same entity will have different features/attributes in different contexts:
_If we tried to create a single model for both of these subsystems, it would be unnecessarily complex. It would also become harder for the model to evolve over time, because any changes will need to satisfy multiple teams working on se

[2022-09-19 19:05] #2259 closed

[2022-09-19 19:19] stephen-sumner commented on #2699
Created this PR: https://github.com/MicrosoftDocs/architecture-center-pr/pull/8137

[2022-09-19 21:38] stephen-sumner commented on #3618
I pushed a PR fix: [AAC - compute decision tree by stephen-sumner · Pull Request #8135 · MicrosoftDocs/architecture-center-pr (github.com)](https://github.com/MicrosoftDocs/architecture-center-pr/pull/8135)

[2022-09-19 21:39] #3618 closed

[2022-09-19 22:31] mumurug-MSFT commented on #3652
@nealsullivan Thanks for your feedback. We will review and update as appropriate.

[2022-09-20 10:02] saminnes opened #3657 "Image Gallery Regional BCDR"
I'd like clarification on availability of Compute Galleries in the event of regional failure.
According to this page _"You should store images in the Azure Compute Gallery and configure multiple image replicas in both the primary and the secondary locations."_

however in this article https://learn.microsoft.com/en-us/azure/virtual-machines/azure-compute-gallery
it states "_1 The Azure Compute Gal

[2022-09-20 13:30] Yippee-Ki-el commented on #2915
Did anyone get any further with this? we are hitting the exact same issue and dont really want to put the offending rule in Audit mode

[2022-09-20 15:31] mumurug-MSFT commented on #3657
@saminnes Thanks for your feedback. We will review and update as appropriate.

[2022-09-20 17:38] #2699 closed

[2022-09-20 23:00] randolive opened #3659 "Non Azure AD joined device"
We are running across a scenario in which a device can access our host pool despite not being Azure AD joined or registered. Meaning, a user can subscribe to an AVD without their device being in the tenant and subsequently log into the virtual desktop session. Additionally, the device does not have the PKU2U registry key specified. Has support for this feature been changed to support the scenario

[2022-09-21 05:00] RamanathanChinnappan-MSFT commented on #3659
@randolive

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-21 12:19] Zimmergren commented on #2428
This is an old issue that's been mitigated already.
#please-close

[2022-09-22 16:10] skabou commented on #2688
It appears this has been addressed.  Please re-open with additional details if help is still needed.

[2022-09-22 16:10] #2688 closed

[2022-09-22 18:23] igorpag commented on #3657
Working on this, will update as soon as possible.
Regards.

[2022-09-22 18:41] sadukie commented on #3538
Closing as this is now live.

[2022-09-22 18:41] #3538 closed

[2022-09-22 19:52] RobBagby commented on #2602
Thanks for the suggestion. While Azure queue storage is an async option, the section in question is listing message brokers. I am closing this request. If you think I did this in error, please open a request.

[2022-09-22 19:52] #2602 closed

[2022-09-22 19:54] jocontr commented on #2770
Could you please provide more details? As stated today, the information is correct. Thank you

[2022-09-22 19:54] #2770 closed

[2022-09-22 19:58] RobBagby commented on #2619
This issue was resolved.

[2022-09-22 19:58] #2619 closed

[2022-09-22 19:59] jocontr commented on #2775
Solution ideas has been updated.

[2022-09-22 19:59] #2775 closed

[2022-09-22 20:00] skabou commented on #2676
It appears this has been addressed.  Please re-open with additional details if help is still needed.

[2022-09-22 20:00] #2676 closed

[2022-09-23 10:56] Zimmergren commented on #2382
This article has been deprecated. A more favorable article exist here: https://learn.microsoft.com/azure/architecture/reference-architectures/app-service-web-app/scalable-web-app

#please-close

[2022-09-23 10:56] #2382 closed

[2022-09-23 10:57] Zimmergren commented on #3480
This article has been deprecated. A more favorable article exists here: https://learn.microsoft.com/azure/architecture/reference-architectures/app-service-web-app/scalable-web-app

#please-close

[2022-09-23 10:57] #3480 closed

[2022-09-23 16:37] igorpag commented on #3657
Hi @saminnes,
You are absolutely right, the Azure Compute Gallery is not a global resource, then it is recommended to have at least a secondary gallery in the secondary region.
Once you have created in the primary region a Gallery, a VM Image Definition and a VM Image Version, you should create the same three objects also in the secondary region.
When creating the VM Image Version, there is the po

[2022-09-23 16:38] igorpag commented on #3657
@mumurug-MSFT I willsubmit a PR with the required modification as soon as possible.
Thanks.

[2022-09-23 17:48] mumurug-MSFT commented on #3657
@saminnes We have made the changes and it will be published soon after the merge. Thanks again for the feedback and proceeding to close the thread. Feel free to reach out for any questions.

[2022-09-23 17:48] #3657 closed

[2022-09-23 22:13] picklesrein commented on #2546
I'm still seeing this behavior on the latest RHEL images and the others listed below:

- RedHat.RHEL-82gen2-20220923115411
- RedHat.RHEL-7-LVM-20220923135607
- RedHat.RHEL-8-LVM-20220923145501
- procomputers.centos-7-lvm-centos-7-lvm-20220923152836

They're also ignoring my cloud-init code so I'm doing something wrong there. But after creating fresh images I can confirm that the ephemeral resource

[2022-09-23 22:33] RobBagby commented on #2739
This issue has been resolved. Please re-open the issue if you believe it was closed in error.

[2022-09-23 22:33] #2739 closed

[2022-09-25 13:55] Miteshc1 opened #3665 "Pricing Estimate link does not work"
The pricing sample does not load

Looks like link to estimate no longer works.
https://azure.microsoft.com/en-us/pricing/calculator/?shared-estimate=b798fb70c53e4dd19fdeacea4db78276

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 0e4f4c7c-f268-b75b-2486-5c4418e5b24e
* Version Independent ID: 5d28faa1-20bc-1727-05ab-0b1

[2022-09-26 04:37] SaibabaBalapur-MSFT commented on #3665
@Miteshc1
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-26 07:28] jugi92 opened #3666 "Analytics Compute is missing"
Analytics Compute Services such as Synapse Spark Pools and Databricks are unfortunately not considered in the decision tree, even though they are very valid targets for some very huge compute workloads. I would suggest to include them in the tree or mentioned that this is thought for OLTP kind of compute only.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.micros

[2022-09-26 09:20] SaibabaBalapur-MSFT commented on #3666
@jugi92
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-26 15:43] picklesrein commented on #2546
Yes, I'm familiar with how to contact the vendor. It seemed like you believed this issue was resolved and no longer present in the latest images and you asked for details. :shrug:

[2022-09-26 20:30] mattdot opened #3667 "Dataverse should be included as a data store option"
Dataverse should be included as a data store option

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: e40cb85c-ee53-7b49-0622-bed8ebedea81
* Version Independent ID: 896e0838-dfd1-c442-414d-ad9ea6dc8f7d
* Content: [Understand data store models - Azure Application Architecture Guide](https://learn.microsoft.com/en-us/azure

[2022-09-26 21:06] mike-urnun-msft commented on #3667
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-09-27 09:07] Umeshpaikk commented on #1891
Any update on this ask ?

[2022-09-27 14:16] ckittel commented on #2859
Thank you for your suggestion, @k110

We've included [Geodes](https://learn.microsoft.com/azure/architecture/patterns/geodes#when-to-use-this-pattern) in the Azure Well-Architected Framework's _Reliability_ patterns list for both [Availability](https://learn.microsoft.com/azure/architecture/framework/resiliency/reliability-patterns#availability) and [High availability](https://learn.microsoft.com/

[2022-09-27 14:16] #2859 closed

[2022-09-27 14:48] hallihan commented on #2546
The comment thread in this issue sheds some light on the different behaviors: https://github.com/Azure/WALinuxAgent/issues/1971

Appreciate the pointers to the specific images. It appears that it's still correct for the documentation to say "mounted at /mnt/resource or /mnt" since the mount point may be determined by cloud-init, or by waagent, depending on the image.

[2022-09-27 15:00] #2803 closed

[2022-09-27 15:54] jocontr commented on #2776
Thumbnail is present as of this date. Thanks for reporting the issue.

[2022-09-27 15:54] #2776 closed

[2022-09-27 15:58] jocontr commented on #2778
Thanks for reporting this issue. It has been corrected.

[2022-09-27 15:58] #2778 closed

[2022-09-27 16:48] jocontr commented on #2782
Request will be considered. Thank you

[2022-09-27 16:48] #2782 closed

[2022-09-27 16:52] jocontr commented on #2787
Zoom functionality feature is present on the lower right corner of the image. Thank you

[2022-09-27 16:52] #2787 closed

[2022-09-27 16:56] jocontr commented on #2795
Updated as shown above. Thank you.

[2022-09-27 16:56] #2795 closed

[2022-09-27 17:30] ckittel commented on #2697
Thanks @jnimander, I've moved this observation to the WAF backlog @ MicrosoftDocs/well-architected#45

[2022-09-27 17:30] #2697 closed

[2022-09-27 19:54] ckittel commented on #2744
The article has been updated to incorporate feedback like the items identified here, including Azure Functions for event driven work, and the "full-fledged orchestration" leading you to the same destination.  This chart of course has no context to your situation, outside of what it provides, so it can only be coarse grained, "it depends" can't make itself present here -- even though it often does.

[2022-09-27 19:54] #2744 closed

[2022-09-27 21:13] ckittel commented on #2689
You are correct, when you cannot single thread the processor, this doesn't eliminate concurrency issues.

Matter of fact, this is called out in the article:

Your example is another situation of this. These solutions often do have remediation/reconciliation processes that need to happen to address situations like this.  If it's in a critical path, and this behavior would do more harm than good, yo

[2022-09-27 21:13] #2689 closed

[2022-09-27 22:35] jocontr commented on #2799
Fixed, Thank you

[2022-09-27 22:35] #2799 closed

[2022-09-27 22:38] jocontr commented on #2801
Thank you.

[2022-09-27 22:38] #2801 closed

[2022-09-27 22:40] jocontr commented on #2832
Thank you

[2022-09-27 22:40] #2832 closed

[2022-09-28 00:27] BryanLa commented on #2438
@Paul-Dempsey - apologies for the long delay on this issue, and thank you for raising this.

I was not able to repro the code analysis warning (which I'm assuming is the [CA2000](https://learn.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca2000) warning), when using HttpClient with a class-level static field (as illustrated in this pattern). Also, there seems to be a [general cons

[2022-09-28 00:27] #2438 closed

[2022-09-28 13:58] FierceMuppet opened #3672 "Additional step needed for this to work"
I used this guide and tried several times, and it did not work.  After troubleshooting for quite a while, I ended up having to link the private DNS to the Vnet after I set up the private link.  Please update the guide.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 7499b146-3340-d7d1-6c5f-3ed508b773cb
* Version Indepe

[2022-09-28 14:13] Zimmergren commented on #2316
The latest edition of this guide covers options for using both internet-facing workloads and non-web workloads, including a relevant decision tree as a starting point. Further, the relevant links cover the use cases of each of these services, and there are now a great section with reference architecture examples.

#please-close

[2022-09-28 14:13] #2316 closed

[2022-09-28 14:53] jelledruyts commented on #3672
Hi @FierceMuppet, thanks for reaching out. How did you create the private endpoint exactly? If you use the Azure Portal following the instructions in the guide, then the private DNS zone gets linked to the VNet automatically and no extra step should be necessary (I just checked again to be absolutely sure). If you are using the Portal and that's not happening for you then it sounds like an issue w

[2022-09-28 16:43] FierceMuppet commented on #3672
No, I followed the steps EXACTLY. I even had a Senior Network Engineer from Microsoft look at it with me.  The problem was not creating the private endpoint nor associating the app service to the subnet.  The app service was finding the SQL Server.  The name resolver was still resolving to the external IP Address. I had to go to the private DNS – privatelink.database.windows.net and add the virtua

[2022-09-28 17:04] jelledruyts commented on #3672
Ok thanks for confirming what you've done. As I said, this is definitely not the expected behavior and I've tried it again today to be sure and did not have that problem. If you can reproduce it I would suggest to open a support case! Now unless this turns out to be a general problem that is affecting many people I don't think updating the article to include steps a customer _shouldn't_ have to do

[2022-09-28 18:08] FierceMuppet commented on #3672
I could reproduce several times.  I have done my due diligence and made you aware of this.  No need to open a ticket on my end as I can configure it to work on my end.

On your end was the private dns linked to your vnet when you performed this?

From: Jelle Druyts ***@***.***>
Sent: Wednesday, September 28, 2022 10:04 AM
To: MicrosoftDocs/architecture-center ***@***.***>
Cc: FierceMuppet ***@***.

[2022-09-28 18:19] jelledruyts commented on #3672
That's right, I created the private endpoint for SQL and the private DNS zone was automatically linked to the VNet.

[2022-09-28 18:26] FierceMuppet commented on #3672
Hmm.  That is the issue.  Did you do this from scratch? Permissions possibly?  My role is Contributor.  Have you tried with a user with that role and not owner or admin?

From: Jelle Druyts ***@***.***>
Sent: Wednesday, September 28, 2022 11:20 AM
To: MicrosoftDocs/architecture-center ***@***.***>
Cc: FierceMuppet ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/architecture-center]

[2022-09-28 19:46] BryanLa commented on #2794
@clintonwford - our apologies for the long delay, and thank you for the contribution.

This work is complete and will republish around 3pm Pacific today.

#please-close

[2022-09-28 19:46] #2794 closed

[2022-09-28 23:15] BryanLa commented on #2450
@mimergel - apologies for the long delay on a response, and thanks for reporting this..

This is likely irrelevant for you now, but just for closure, the article has gone through several iterations since this issue was filed. I searched commit history and could not find any occurrences of the specific `loadbalancer.json` file you referenced. Also, it appears that the **Deployment** section has bee

[2022-09-28 23:15] #2450 closed

[2022-09-29 12:45] FierceMuppet commented on #3672
OK, take care.  I am going to script this out with PowerShell for future deployment and I will see if it has the same issue.

From: Jelle Druyts ***@***.***>
Sent: Thursday, September 29, 2022 5:31 AM
To: MicrosoftDocs/architecture-center ***@***.***>
Cc: FierceMuppet ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/architecture-center] Additional step needed for this to work (Issue

[2022-09-29 14:29] Klaas- commented on #2546
The Red Hat Azure images are built and maintained by Microsoft, not Red Hat

[2022-09-29 14:32] Klaas- commented on #2546
Yeah, that discussion has been ongoing since MS switched the defaults from /mnt/resource to /mnt, but the decision is final I was told :)

[2022-09-29 15:30] umurugesan1234 opened #3674 "HA documents for web application explains about VM and not about app service?"
Refer below paragraphs - explains about VM and not app service or web app

There are several general approaches to achieve high availability across regions:

Active/Passive with hot standby: traffic goes to one region, while the other waits on hot standby. Hot standby means the **VM**s in the secondary region are allocated and running at all times.

Active/Passive with cold standby: traffic goes t

[2022-09-29 15:46] BryanLa commented on #2826
@abymsft - apologies for the long delay, and thanks for your contribution.

The diagram has been updated and will republish around 10am Pacific today.

#please-close

[2022-09-29 15:46] #2826 closed

[2022-09-29 15:46] 17kumarrupesh opened #3675 "To migrate an Oracle database to an Azure... 3rd point "Figure out how to archive business continuity and disaster recovery requirements.".. Should it not be "Achieve" instead of "Archive""
To migrate an Oracle database to an Azure... 3rd point "Figure out how to archive business continuity and disaster recovery requirements.".. Should it not be "Achieve" instead of "Archive"

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: b0676437-a746-19de-2df2-7919004a14f0
* Version Independent ID: 35cfce4b-fc76-f140-0

[2022-09-29 15:53] Zimmergren commented on #2851
The files are updated to reflect the latest ADT icons.
#please-close

[2022-09-29 15:53] #2851 closed

[2022-09-29 16:17] SaibabaBalapur-MSFT commented on #3674
@umurugesan1234
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-29 16:20] SaibabaBalapur-MSFT commented on #3675
@17kumarrupesh
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-29 17:30] BryanLa commented on #2408
@steinrr - apologies for the long delay, and thanks for your contribution.

The diagram has been updated and will republish today.

#please-close

[2022-09-29 17:30] #2408 closed

[2022-09-30 06:57] torumakabe opened #3678 "Impossible recommendation "Use automatic failover but manual failback""
The following recommendation is impossible.

[code]

Traffic Manager does not have manual failback feature or config, so when the primary region or endpoint is online again, Traffic Manager route traffic automatically to the primary. In other words, Traffic Manager always do automatic failback.

Could you please confirm if my understanding is correct and if this recommendation is valid? Thanks in

[2022-09-30 11:59] rubenaster opened #3679 "Pipelines don't trigger automatically on branch create with path includes"
Thanks for this very detailed article, it's exactly the information I needed!

Regarding the path includes in the YAML file: it seems like a pipeline doesn't trigger a run in Azure DevOps when you create a branch and use path includes. This is especially disappointing when you create a release-branch and want to automatically run a pipeline that does the full deployment.

Are you aware of that lim

[2022-09-30 13:48] mumurug-MSFT commented on #3679
@rubenaster Thanks for the feedback. We will review and update as appropriate.

[2022-09-30 13:59] mumurug-MSFT commented on #3678
@torumakabe Thanks for reaching out and sharing the feedback. We have assigned this to author for review and will update as appropriate.

[2022-09-30 14:56] austinmccollum opened #3680 "Is there a replacement for the free Anomali Limo TAXII 2.0 feed?"
Anomali's free Limo TAXII 2.0 feed went end of life 8/14/2022. Their site indicates there will be a new version, but no estimate for when it will be available. Is there an alternative we can use in the meantime?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 7bb40dd7-0e77-0f95-8070-95978cd4a90c
* Version Independent I

[2022-09-30 17:11] SaibabaBalapur-MSFT commented on #3680
@austinmccollum
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-30 18:00] ckittel commented on #2581
No, sorry, these are schema identifiers and are not URLs.  They looks like URLs, but they are technically URIs and schemas do not need to resolve to a network location.  They are defined by the schema owner.  You can find the common schema ids at <https://learn.microsoft.com/azure/active-directory/develop/reference-saml-tokens>.  Please set your tooling to make an exception on these.

[2022-09-30 18:00] #2581 closed

[2022-09-30 19:47] ckittel commented on #2783
Talked it over with PG, and the number of variables that go into this range do not warrant having specificity (could cause more harm than good.)  We've updated the guidance (should go live by Tuesday), to change how that recommendation was presented.  Also, we're hoping to refresh this article, completely, by the end of the calendar year.  Thanks.  Have a great weekend.

[2022-09-30 19:47] #2783 closed

[2022-09-30 20:03] ckittel commented on #3680
@hallihan - FYI, this is being addressed by Content Strategy across the whole platform, in conjunction with @austinmccollum and his team.  This isn't the only place on learn impacted by this change.  So this will be addressed as part of a larger work item to address across the platform.

[2022-09-30 22:09] #3680 closed

[2022-09-30 22:10] ckittel commented on #3680
I worked with @austinmccollum on a "warning message" while this issue is being addressed at a broader level, as to hopefully warn and deflect any customers running into the same thing.

Thanks @austinmccollum!

[2022-10-03 10:53] Zimmergren commented on #2492
A previous version of this article was using the array as opposed to an instance of a peering. It has since been corrected.

#please-close

[2022-10-03 10:53] #2492 closed

[2022-10-03 13:19] #2910 closed

[2022-10-03 20:39] darena-patrick commented on #1891
Greetings, looking for updates as well

[2022-10-04 12:57] DeanGross opened #3683 "Updated articles - organization"
It would be helpful if the listing of updated articles was grouped/sorted/categorized to make it easier to look for articles of interest. The current presentation is quite random which makes it hard to find updated articles that are relevant to our interests.
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 0dd7bc22-da10

[2022-10-04 14:24] mumurug-MSFT commented on #3683
@DeanGross Thanks for your feedback. We will review and update as appropriate.

[2022-10-05 15:46] shahdevangp opened #3685 "Replace Timeseries Insights with Azure Data Explorer in the decision tree"
Microsoft has announced the retirement of Timeseries Insights. All TSI customers have been encouraged to migrate to Azure Data Explorer. Our documents and decision tree should also reflect this.

https://learn.microsoft.com/en-us/azure/time-series-insights/how-to-tsi-gen2-migration

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linkin

[2022-10-05 17:12] eponerine opened #3687 "Update the "release notes" and remove references to old ZIP filenames"
There are at least 2 additional updates since January 2021:

![image](https://user-images.githubusercontent.com/503974/194120523-616f873e-376c-4434-9d5f-7e9090c5ab37.png)

Can someone please update the page itself to give the updates since January 2021??

It also does not make sense to refer to the filename if it is updated behind-the-scenes without additional context. Either update the page with

[2022-10-06 01:48] mike-urnun-msft commented on #3685
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-10-06 01:49] mike-urnun-msft commented on #3687
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-10-06 20:16] ckittel commented on #3675
Thank you @17kumarrupesh.  This typo will be fixed with the next publication.  This should be by end of business on Monday.

[2022-10-06 20:16] #3675 closed

[2022-10-06 20:32] ckittel commented on #3678
Hey there @torumakabe, you are correct in your assessment.  As this is written, it's highly misleading.  The only way you could prevent the failback would be to imperatively update the Traffic Manager profile to disable the primary endpoint, as part of the secondary endpoint starting to receive traffic.  Which, while possible, is not documented here in such a way or implied.  As you are an FTE, wo

[2022-10-06 20:49] JanetCThomas commented on #2737
You can browse for specific architecture visio diagrams here:  https://learn.microsoft.com/en-us/azure/architecture/browse/

[2022-10-06 20:49] #2737 closed

[2022-10-06 23:17] #2712 closed

[2022-10-07 20:46] MarcosMMartinez opened #3691 "DevOps section has malformed links"
![image](https://user-images.githubusercontent.com/29489962/194649857-fa5710b0-a36a-47cb-b77f-084f79d91939.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: c5e2e444-d6b9-962e-56d4-8d1f3508ba9e
* Version Independent ID: 061ea6aa-353b-a98d-cbf6-639209a5fd1b
* Content: [Microservices architecture on AKS - Azure Archit

[2022-10-07 21:07] MarcosMMartinez opened #3692 "Subnets are redundant"
![image](https://user-images.githubusercontent.com/29489962/194652508-625e8ac6-b4da-4902-96f2-8c1cc25e739c.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 46723a24-75ac-f6e2-c172-d3827ca0b7d6
* Version Independent ID: c975744e-e594-5667-14b3-c38824bbe24c
* Content: [Baseline architecture for an AKS cluster - Azure

[2022-10-07 21:12] MarcosMMartinez opened #3693 "Networking considerations need to take into account different network plugins/requirements for podIPs"
This section would need to take into account the kubenet network plugin option for pod IPs and the new network plugin set to replace Azure CNI which would remove the requirement to assign 1st-class IPs to pods. These points are also more relevant considering that the AppGW is not leveraged by the AGIC since there's a Traefik ingress controller.

![image](https://user-images.githubusercontent.com/2

[2022-10-07 22:18] MarcosMMartinez opened #3694 "Ambiguous statement when comparing Azure CNI to Kubenet"
This language sounds ambiguous. What are we implying here? Generally speaking, it's easier to deploy larger number of pods in a cluster leveraging the kubenet networkPlugin. We may want to be more specific here?

![image](https://user-images.githubusercontent.com/29489962/194670184-2810a96c-5f9e-4cac-82bd-4e455abbac9c.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2022-10-08 03:19] ManoharLakkoju-MSFT commented on #3691
@MarcosMMartinez
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-08 03:20] ManoharLakkoju-MSFT commented on #3692
@MarcosMMartinez
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-08 03:22] ManoharLakkoju-MSFT commented on #3693
@MarcosMMartinez
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-08 03:23] ManoharLakkoju-MSFT commented on #3694
@MarcosMMartinez
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-09 05:10] mathewjamesn opened #3695 "Spelling mistake in Title"
Hi - The title of the Page is shown as "Queue-Based Load Leveling pattern".

I believe the correct spelling for "Leveling" is "Levelling". Looks like one "L" is missing.

Thanks!
-Mathew James

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: e0b2b229-0cae-3ba9-180c-5aab1a5a4897
* Version Independe

[2022-10-09 14:55] ManoharLakkoju-MSFT commented on #3695
@mathewjamesn
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-10 03:25] MayankBargali-MSFT commented on #3695
@mathewjamesn Thanks for reaching out. Both Levelling (British English) and Leveling (American English) are correct and there is a preference.

As we don't see any doc improvement, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-10-10 03:25] #3695 closed

[2022-10-10 03:35] mathewjamesn commented on #3695
oh ok. Sure. Thanks!

On Mon, Oct 10, 2022 at 8:55 AM MayankBargali-MSFT ***@***.***>
wrote:

[2022-10-10 05:46] VikasPullagura-MSFT commented on #3691
@EdPrice-MSFT
Can you please check and add your comments on this doc update request as applicable.

[2022-10-10 11:12] sgowardipe opened #3696 "Tank Level, Tank Level Monitoring, Tank Level Analysis | Oil and Gas | Sotaog"
Why is there a need for a smart solution for the process of tank level monitoring and analysis?
When handling large volumes of fluids, refineries, chemical plants, and bulk liquid storage terminal operators must know precisely how much product is in any given tank. When products change hands or move in or out of tanks, the monetary values and safety risks can be enormous. Despite this, the devices

[2022-10-10 17:25] Naveenommi-MSFT commented on #3696
@sgowardipe
Thanks for your feedback! We will investigate and update as appropriate.
It would be great if you could add a link to the documentation information you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!

[2022-10-10 17:48] EdPrice-MSFT commented on #2743
This is being updated. Thanks.

[2022-10-11 09:03] Osshaikh opened #3699 "Conflicting statement on patching AKS nodes"
[As per current document security pacthes doesnt get automaticlly applied to nodes by default , in similar document its mentioned that each evening linux node in AKS get sec pacthes vai distro security update and that behaviour is automatically configured as nodes deployed to AKS cluster.

Refernce doc links: https://learn.microsoft.com/en-us/azure/aks/concepts-security#linux-nodes]

---
#### Docu

[2022-10-11 13:45] Naveenommi-MSFT commented on #3699
@Osshaikh
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-11 16:36] olavt opened #3700 "Containerized workloads are not only for lift and shift"
I think the decision tree is seriously flawed.

Cloud optimized applications are often containerized and will run on Kubernetes or Container Apps. I think the decision tree needs to be revised in order to better reflect reality.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 510808e8-db5d-6b07-9a04-6edb743a2dfc
* Vers

[2022-10-11 17:35] Naveenommi-MSFT commented on #3700
@olavt
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-11 22:23] sebas3552 commented on #1891
Another developer here waiting for MS to support Web Sockets on AFD.

[2022-10-11 22:35] BryanLa commented on #2480
@larryclaman - our apologies for the long delay on this, and thanks for this contribution.

The diagram has been updated and will republish tomorrow morning, Pacific time.

#please-close

[2022-10-11 22:35] #2480 closed

[2022-10-11 23:56] BryanLa commented on #2549
@DavidTaig - our apologies for the long delay in responding to this, and thanks for your contribution.

The article has been revised and will republish tomorrow morning, Pacific time.

#please-close

[2022-10-11 23:56] #2549 closed

[2022-10-12 06:08] Lucifer12598 opened #3701 "Requesting you to upload a vlog on this topic"
[Enter feedback here]
Hello!
Can you please upload a working vlog or blog on this architecture so we can learn more about this process? if possible

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 05053264-ed30-daa5-ac88-8d7d3798b9b0
* Version Independent ID: 242e667d-f98e-74f9-70b6-8247f4dc221e
* Content: [DevOps in a

[2022-10-12 12:58] mumurug-MSFT commented on #3701
@Lucifer12598 Thanks for your feedback. We will review and update as appropriate.

[2022-10-12 13:22] #3678 closed

[2022-10-12 13:24] joshuadmatthews commented on #1891
The silence here from Microsoft is concerning. At least tell us you aren't implementing it if you aren't implementing it.

[2022-10-12 13:43] darena-patrick commented on #1891
Maybe someone at MS Ignite can ask the product team?

On Wed, Oct 12, 2022 at 7:24 AM Joshua Matthews ***@***.***>
wrote:

[2022-10-12 21:56] sfclimbers opened #3708 "Mislabeled arrow in sample architecture diagarm?"
In the sample architecture diagram from an anonymous customer, it would appear that the final green arrow exiting the bottom of the left side should be labeled "Masked production data" as opposed to the current "Unmasked production data".

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: f64651d0-1885-248b-0d8c-6773f4b6a

[2022-10-13 05:55] Naveenommi-MSFT commented on #3708
@sfclimbers
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-13 08:27] Zimmergren commented on #2740
Hi. Unfortunately, we don't have any pre-configured containers for this setup. However, I would recommend checking out the public marketplace that includes container images for Magento: https://azuremarketplace.microsoft.com/en-US/marketplace/apps?search=magento

#please-close

[2022-10-13 08:27] #2740 closed

[2022-10-13 20:50] jocontr commented on #2871
Translation completed. Thank you.

[2022-10-13 20:50] #2871 closed

[2022-10-14 07:47] Naveenommi-MSFT commented on #3696
@sgowardipe

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-14 07:47] #3696 closed

[2022-10-14 15:29] #3691 closed

[2022-10-14 16:06] EdPrice-MSFT commented on #3700
Hi @olavt - We're checking into this. Thanks!

[2022-10-14 20:41] stephen-sumner commented on #3700
This has been updated and PR merged.

[2022-10-14 20:41] #3700 closed

[2022-10-14 22:34] ejhenry opened #3713 "Benefit to this approach vs Azure Monitor"
Is there a particular scenario this guidance seeks to address? If so, that would be good to call out.

It's not clear what the benefit to this approach is compared to using existing Azure Monitor capabilities. For example, with the introduction of workspace-based App Insights resources, the assertion that 'consolidating multiple applications into a single workspace is a challenge' seems a bit out

[2022-10-14 22:34] vmachacek opened #3714 "The template is 404"
the link for auto deploy is 404
https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/umbraco-cms-webapp-redis-cache/azuredeploy.json

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 6a2bfab3-1734-dc0d-74c1-319da054d591
* Version Independent ID: 46b135ba-49ef-7bc2-66cd-066959fca7e7
* Content: [Scalab

[2022-10-15 01:37] jlperez01 opened #3715 "SRE acronym"
The acronym SRE is used a number of times in the article, but nowhere in the page is the acronym defined.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 3c9cfb32-2013-f31e-0209-d5194afc8d9e
* Version Independent ID: 9cabc767-9799-abcd-6ccd-11f164c30877
* Content: [Architecture of an AKS regulated cluster for PCI-DSS 3

[2022-10-15 03:35] Naveenommi-MSFT commented on #3715
@jiacfan
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-15 03:40] Naveenommi-MSFT commented on #3713
@ejhenry
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-15 03:46] Naveenommi-MSFT commented on #3714
@vmachacek
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-17 05:24] MughundhanRaveendran-MSFT commented on #3714
@vmachacek , I have reviewed the links in this doc : https://learn.microsoft.com/en-us/azure/architecture/solution-ideas/articles/medium-umbraco-web-app and I dont see the broken link that you have mentioned. Could you please point me to the exact section in the above mentioned documentation? Thanks

[2022-10-17 05:53] Zimmergren commented on #2665
Great tip. The latest version of this article talks about Azure Data Box Gateway, too. Thanks for bringing this up.

#please-close

[2022-10-17 05:53] #2665 closed

[2022-10-17 07:30] shyamsundarb-arch opened #3719 "Grammatical error in Related resources section"
![image](https://user-images.githubusercontent.com/6845982/196115127-d125a7c2-6b55-476b-8ec8-a83275d2b497.png)
There is a grammatical error in the highlighted sentence, which makes the description unclear.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 2d510272-fa5f-07f9-8b06-fb88d45d2464
* Version Independent ID: 578

[2022-10-17 07:33] yemrea commented on #3713
Thank you, Eric for raising this point. It looks like we may need to update the content as it is confusing people. The content is given in the article is completely refresh. These are solutions to two different problems.

In this article, we are proposing a solution for custom logging. If you use custom logging in application insights, logs are placed into different tables. See https://learn.micro

[2022-10-17 08:07] JananiRamesh-MSFT commented on #3719
@shyamsundarb-arch Thanks for your feedback, we will review and update appropriately

[2022-10-17 20:27] #3713 closed

[2022-10-18 05:26] MughundhanRaveendran-MSFT commented on #3714
@vmachacek , Did you get a chance to look into my previous comment? Please let me know

[2022-10-18 05:43] ee99ee commented on #1891
+1 for this

[2022-10-18 06:03] dfendit commented on #1891
still no redemption ... I will ask the product team and circle back to this thread

[2022-10-18 16:15] alexwiley opened #3725 "Business Central SaaS database architecture for reporting"
Hello, I'm a MCP that has spent a large amount of time going through Learn resources, but haven't been able to get a complete confirmation on if my understanding of the architecture and request flow for reporting is correct. In my example below I'm focused on day to day business activity and access, omitting things like backups and fail safe duplicates which wouldn't be normally accessed.

Am I co

[2022-10-18 16:22] AjayBathini-MSFT commented on #3725
@alexwiley
It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!!

[2022-10-18 20:29] alexwiley commented on #3725
Definitely.
[The article which led me here](https://learn.microsoft.com/en-us/azure/architecture/solution-ideas/articles/business-central).

- Can we assume this is what happens when a US Microsoft user or Partner creates a new BC instance?

- Also, in the section for Cost Optimization it states "It's important to note that the partner doesn't need a virtual machine for each customer. It can signi

[2022-10-18 20:30] lgodmer opened #3726 "Does enabling Auto-Upgrade for the node-image channel also automatically disable unattended-upgrade on Ubuntu nodes?"
The Auto-Upgrade release channel for node-image upgrades is a great feature to be combined with planned maintenance scheduling to control image upgrades in a safe and timely manner. In order for this to be effective however, Azure Ubuntu image users need to also disable the default behavior of unattended-upgrades. Otherwise unattended-upgrades will continue to run outside the planned maintenance w

[2022-10-18 20:35] mumurug-MSFT commented on #3726
@lgodmer Thanks for the feedback. We will review and update as appropriate.

[2022-10-18 22:08] vmachacek commented on #3714
![image](https://user-images.githubusercontent.com/2987885/196554226-21318fe8-c045-48bb-bfdb-53a0514f096a.png)
here

[2022-10-19 04:12] MughundhanRaveendran-MSFT commented on #3714
Yes. I can see the that the template is not available. I am assigning it to author to fix this

![image](https://user-images.githubusercontent.com/56299140/196595885-186aacae-34ef-4305-945b-eed07767d585.png)

[2022-10-19 08:07] Escoto opened #3727 "API Manager"
Is it possible to update this document to include API Manager?

I found this article coming from [this post](https://learn.microsoft.com/en-us/answers/questions/35787/what-is-difference-between-api-gateway-provided-by.html) where [Pramod Valavala Microsoft Employee](https://learn.microsoft.com/en-us/users/pramodvalavala-msft/) does a great job comparing these services and, I was hoping to get more

[2022-10-19 09:08] AjayBathini-MSFT commented on #3725
@alexwiley
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

[2022-10-19 09:08] AjayBathini-MSFT commented on #3725
@altotovi
Can you please check and add your comments on this request as applicable.

[2022-10-19 09:12] altotovi commented on #3725
BC SaaS architecture is completely deployed and supported by Microsoft. This example is if you want to build your own BC on cloud environment, but not SaaS.

Regards,

Aleksandar Totovic

________________________________
From: AlexSocyl ***@***.***>
Sent: Wednesday, October 19, 2022 11:06
To: MicrosoftDocs/architecture-center ***@***.***>
Cc: Aleksandar Totovic ***@***.***>; Mention ***@***.***>
S

[2022-10-19 09:32] Gaibusha opened #3728 "building solutions for high availabityusing availability zones"
very useful

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: f815c98d-c54b-a6cb-b77b-27c9fa99b3a3
* Version Independent ID: f78699f2-a847-f5cc-54bb-2730faf0b755
* Content: [Build solutions with availability zones - Azure Architecture Center](https://learn.microsoft.com/en-us/azure/architecture/high-availability/building

[2022-10-19 10:29] MughundhanRaveendran-MSFT commented on #3728
@Gaibusha , Thanks for the feedback

[2022-10-19 10:29] #3728 closed

[2022-10-19 12:46] mumurug-MSFT commented on #3727
@Escoto Thanks for the feedback. We will review and update as appropriate.

[2022-10-19 14:20] alexwiley commented on #3725
Thanks @altotovi , is there another resource somewhere for the SaaS architecture, or is that another thread/team? I'm trying to explain to upgrade customers how they can query and monitor their BC database; i.e. size of the replica database, can SQL queries be run against it, etc. I appreciate the guidance.

[2022-10-19 14:59] altotovi commented on #3725
Administration of Business Central Online - Business Central | Microsoft Learn<https://learn.microsoft.com/en-us/dynamics365/business-central/dev-itpro/administration/tenant-administration>

Regards,

Aleksandar Totovic

________________________________
From: AlexSocyl ***@***.***>
Sent: Wednesday, October 19, 2022 16:20
To: MicrosoftDocs/architecture-center ***@***.***>
Cc: Aleksandar Totovic ***

[2022-10-19 15:17] kumarallamraju opened #3729 "Replace Windows Virtual Desktop with Azure Virtual Desktop"
[Enter feedback here]

There are still some references to WVD.
Replace Windows Virtual Desktop with Azure Virtual Desktop
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: f26be54d-0f67-5098-7839-98f5bb064188
* Version Independent ID: 187fa3ce-ade9-1b07-2af3-c874ec3d0aac
* Content: [Azure Virtual Desktop for the enterpris

[2022-10-19 15:56] YashikaTyagi-MSFT commented on #3729
@kumarallamraju
Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-10-20 01:02] gball14 commented on #1891
The team is actively working on enabling to websockets on Azure Front Door. Currently, we are tracking for tentative ETA of March 2023.

[2022-10-20 14:09] alexwiley commented on #3725
Thanks, I did read through at one point in my search. So is it then safe to assume based on all the resources here, I can tell customers with MS managed BC SaaS:
- It is not possible to perform a SQL query/report on the environment
- The replica database is a managed MS service, which goes towards their data usage, but it is not controlled or monitored by the customer or the partner, and is not ac

[2022-10-20 18:57] jocontr commented on #2872
@TestUser0811 what aspect of Azure API Management would you consider relevant within the topic of load balancing?

[2022-10-20 19:13] jocontr commented on #2888
Sample code provided.

[2022-10-20 19:13] #2888 closed

[2022-10-20 19:15] #2890 closed

[2022-10-20 20:09] skabou commented on #3431
It appears this has already been addressed.  Please re-open with additional details if this is not the case.

[2022-10-20 20:09] #3431 closed

[2022-10-20 20:12] skabou commented on #3462
It appears this was addressed awhile ago.  Please re-open with additional details if there is still an issue.

[2022-10-20 20:12] #3462 closed

[2022-10-20 20:15] paweenatongbai commented on #3708
@EdPrice-MSFT , this article is from https://dev.azure.com/ceapex/pnp/_workitems/edit/652041
The feedback for the diagram to change from 'unmasked' to 'masked' seems valid. Who should I confirm with?
There is no source file for this png, but maybe I can edit the png directly after the change is confirmed. Thanks!

![image](https://user-images.githubusercontent.com/97064168/197048535-06b16c1e-73b3-

[2022-10-20 22:24] EdPrice-MSFT commented on #3719
@shyamsundarb-arch

The changes are live now. Please review.

https://learn.microsoft.com/en-us/azure/architecture/patterns/event-sourcing

[2022-10-21 18:36] zissbilloutlook opened #3730 "Unclear phrasing"
"Federated authentication provides a standards-based solution to the issue of trusting identities across diverse domains, and can support single sign-on. _It's becoming more common across all types of applications, especially cloud-hosted applications, because it supports single sign-on without requiring a direct network connection to identity providers._ "

Italicized sentence is desperately uncl

[2022-10-21 18:48] zissbilloutlook opened #3731 "Contextually ambiguous use of pronoun."
"If there's more than one identity provider configured for the STS, **_it_** must detect which identity provider the user should be redirected to for authentication. "

What is "it"?  The STS, the first point of contact within the Federated Identity implementation, some other thing?

I strongly suggest that you hire professional editors to clarify your writing and strip off unneeded verbiage.  You

[2022-10-21 19:07] zissbilloutlook opened #3732 "Horrid writing"
"Applications expose their functionality to clients by accepting and processing requests. In cloud-hosted scenarios, applications expose endpoints clients connect to, and typically include the code to handle the requests from clients. **This code** performs authentication and validation, some or all request processing, and is likely to access storage and other services on behalf of the client."

T

[2022-10-21 19:23] zissbilloutlook opened #3733 ""trusted hosts""
Why on earth are you introducing the phrase "trusted hosts" in this context?  Bad writing.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 428e4625-191f-a050-ec58-60fd2dddff86
* Version Independent ID: 3a4e385e-5761-3633-1ddf-46e1878b420d
* Content: [Gatekeeper pattern - Azure Architecture Center

[2022-10-21 19:28] zissbilloutlook opened #3734 "wordiness"
"Adding the extra layer to the application to implement the gatekeeper pattern will likely impact performance due to the additional processing and network communication required."

No.

This additional Gatekeeper layer between the client and protected service will diminish performance.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsof

[2022-10-22 04:04] YashikaTyagi-MSFT commented on #3730
@zissbilloutlook
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-22 04:05] YashikaTyagi-MSFT commented on #3733
@zissbilloutlook
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-22 04:06] YashikaTyagi-MSFT commented on #3734
@zissbilloutlook
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-22 04:07] YashikaTyagi-MSFT commented on #3732
@zissbilloutlook
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-22 04:08] YashikaTyagi-MSFT commented on #3731
@zissbilloutlook
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-22 04:39] Xebus-Systems opened #3735 "Question in contributing to the Architecture Center"
Hi All,

just wanted to confirm the best way to contribute to the Azure Architecture Center, and the best way to get started

Is there any documentation anywhere or is it a simple case of creating a pull request and summiting my content that way

Regards
Bill

[2022-10-22 15:26] YashikaTyagi-MSFT commented on #3735
@Xebus-Systems
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-25 07:32] YashikaTyagi-MSFT commented on #3735
@Xebus-Systems
it is also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:

Navigate to the page of interest
Select the "Edit" button at the top right of the page
Select the "Pencil" icon on the right
Modify the text within the text

[2022-10-25 07:52] RoshithReddyThavva opened #3737 "Building Solutions for High Availability Using Availability Zones"
Very useful

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: f815c98d-c54b-a6cb-b77b-27c9fa99b3a3
* Version Independent ID: f78699f2-a847-f5cc-54bb-2730faf0b755
* Content: [Build solutions with availability zones - Azure Architecture Center](https://learn.microsoft.com/en-us/azure/architecture/high-availability/building

[2022-10-25 13:16] mumurug-MSFT commented on #3737
@RoshithReddyThavva Thanks for your feedback. We are glad that this doc is very helpful. We will proceed to close this thread and feel free to reach out to us for any questions.

 @EdPrice-MSFT

[2022-10-25 13:16] #3737 closed

[2022-10-25 19:53] ckittel commented on #2646
Thank you for bringing this up as a point of clarification we can make.  I've went ahead and added the definition of what is meant by that to the text below the flow chart.  Good point on the ambiguity that previous had.  This change should be live in about 24 hours.

[2022-10-25 19:53] #2646 closed

[2022-10-25 21:18] ckittel commented on #3714
Thanks for pointing this out @vmachacek.  I've pushed an update to the link that should be live within about 24 hours.  The new link is <https://portal.azure.com/#create/Microsoft.Template/uri/https%3A%2F%2Fraw.githubusercontent.com%2FAzure%2Fazure-quickstart-templates%2Fmaster%2Fapplication-workloads%2Fumbraco%2Fumbraco-cms-webapp-redis-cache%2Fazuredeploy.json> so you don't need to wait any long

[2022-10-25 21:22] ckittel commented on #3692
The name of those subnets is dictated by the services that are deployed into them.  Personally, I don't like the names of them either, but those delegated subnets must be named that for their respective deployments to work.  If you're speaking of something else, please clarify.  The Azure Bastion service cannot co-exist with the Azure Firewall service in the same subnet, so they must be separated.

[2022-10-26 01:40] MarcosMMartinez commented on #3692
I'm referring to the subnet addresses. They're the same.

[2022-10-26 01:50] ckittel commented on #3692
Oh, yes! I see that now (I missed the obvious there). We'll get it fixed up.

[2022-10-26 12:09] shyamsundarb-arch commented on #3719
Done.

[2022-10-26 12:09] #3719 closed

[2022-10-26 13:25] ckittel commented on #3692
I've pushed an update to fix the typo, @MarcosMMartinez.  The change should be live within 30 hours.  The `BastionSubnet` will be showing `10.200.0.128/26`, as per the reference implementation.  Thanks for pointing out this mistake and clarifying my confusion at what was _redundant_.

[2022-10-26 13:25] #3692 closed

[2022-10-26 15:48] ckittel commented on #3233
Thanks @fabragaMS for doing that last year.  Closing this down.

[2022-10-26 15:48] #3233 closed

[2022-10-26 15:51] ckittel commented on #3216
Confirmed this was fixed in the linked whitepaper, thank you @ykuijs for fixing this last year.

[2022-10-26 15:51] #3216 closed

[2022-10-26 15:56] ckittel commented on #3199
Thanks @Katzmann1983, when this article was recently refreshed, we completely recreated the image and no longer have this image anymore.

[2022-10-26 15:56] #3199 closed

[2022-10-26 20:38] idakir opened #3739 "Azure Firewall dosn't support HTTP/S protocols"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: d2c472ec-9be4-6e0e-eac6-0236e2e1044a
* Version Independent ID: d2c472ec-9be4-6e0e-eac6-0236e2e1044a
* Content: [Network-hardened web app - Azure Example Scenarios](https://learn.microsoft.com/en-us/azure/architecture/example-scenario/security/hardene

[2022-10-27 03:52] AjayBathini-MSFT commented on #3739
@idakir
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-27 05:57] idakir opened #3740 "The Front Door + Azure Load balancer doesn’t support HTTP/S protocol"
In the flowchart, the option of Azure Front Door + Azure Load Balancer is wrong , the Azure load balancer doesn’t support HTTP/S protocol

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 936c85d9-c953-2def-c399-77cbda32b24d
* Version Independent ID: 9173c834-2c40-9169-b13b-6273759a2c8a
* Content: [Load-balancing options

[2022-10-27 06:06] idakir commented on #3740
Azure Load Balancer is layer 4 support only TCP/UDP protocol

[2022-10-27 12:48] hallihan commented on #3467
I ran this past our translation team and there is not much we can address given this article is machine translated, since the issue is in an side comment that is not core to the understanding presented in the article.  Additionally, it appears that the concept being presented - "stemming" may be a bit hard to translate into languages that do not have as many tense variations for verbs as are seen

[2022-10-27 15:59] timwarner-msft commented on #3739
Hi @idakir. It sounds like I need to update the Azure Firewall FAQ today! Sure Azure Firewall can handle and decrypt inbound HTTPS traffic.

Besides Web Application Firewall (WAF), Azure Firewall Premium supports Transport Layer Security (TLS) offload and deep packet inspection. See: [Azure Firewall premium features](https://learn.microsoft.com/en-us/azure/firewall/premium-features).

Thanks so mu

[2022-10-27 15:59] timwarner-msft commented on #3739
Hi @idakir. It sounds like I need to update the Azure Firewall FAQ today! Besides Web Application Firewall (WAF), Azure Firewall Premium supports Transport Layer Security (TLS) offload and deep packet inspection. See: [A](https://learn.microsoft.com/en-us/azure/firewall/premium-features

[2022-10-27 16:00] timwarner-msft commented on #3739
#please-close

[2022-10-27 19:35] idakir commented on #3739
Hi Tim Warner
In this case you will update the Azure Firewall FAQ ?
Thanks

________________________________
De : Tim Warner [MSFT] ***@***.***>
Envoyé : jeudi 27 octobre 2022 17:59
À : MicrosoftDocs/architecture-center ***@***.***>
Cc : DAKIR ***@***.***>; Mention ***@***.***>
Objet : Re: [MicrosoftDocs/architecture-center] Azure Firewall dosn't support HTTP/S protocols (Issue #3739)

Hi @idakir<

[2022-10-27 19:44] v-fearam commented on #2753
Hi @thommck
Sorry for the delay.

Azure Front Door is able to do Load Balancing and apply Web Application Firewall. It is possible to go directly to a set of app services and it would work. However, that solution is not as secure as the architecture which is proposed. Front Door is a global resource which is not able to be part of a Vnet.

Each region is inside a Virtual Network, and the traffic i

[2022-10-27 19:46] idakir commented on #3739
Hi,
What was mentionned in the provided link, is that TLS inspection is supported for only Outbound traffic, the Inbound TLS inspection is supported only for the Application Gateway, please check the below screenshot.

[cid:6dea8f60-e24d-43f9-a0c0-1e48203f1456]

[cid:b3bb886b-b1ca-4694-92b0-07210012e452]
________________________________
De : Tim Warner [MSFT] ***@***.***>
Envoyé : jeudi 27 octobre

[2022-10-27 19:48] hallihan commented on #2753
#please-close

[2022-10-27 19:48] #2753 closed

[2022-10-27 20:29] RobBagby commented on #3511
@andyjballgit - I am unable to find the reference to "an implicit firewall update that is run afterwards" in the article. Can you please let us know the lines that are causing an issue?

[2022-10-27 20:34] hallihan commented on #3579
@guter1 Can you provide more details?  Is this causing an issue or error, if so please provide specifics.

[2022-10-27 20:40] hallihan commented on #3251
Container apps was added over the summer, thanks for the feedback!

[2022-10-27 20:40] #3251 closed

[2022-10-27 20:44] hallihan commented on #3257
@amberz and @M2MFG - are further updates needed here, or have the edits from back in March addressed the outstanding issues?

[2022-10-27 20:47] M2MFG commented on #3257
All outstanding issues have been resolved, thanks.

[2022-10-27 21:05] hallihan commented on #3260
The diagram and Visio download should now be in sync.

[2022-10-27 21:05] #3260 closed

[2022-10-27 22:44] aihorko opened #3741 "incorrect "tradeoff" example"
On page https://learn.microsoft.com/en-us/azure/architecture/reliability/architect there's a phrase:
"there's a tradeoff between greater redundancy and reliability versus higher costs and complexity."
Tradeoff is used for opposites (thus the word versus), but opposites from this example "greater redundancy and reliability" and "higher costs and complexity" are not opposites, but vice versa - "grea

[2022-10-27 23:35] mike-urnun-msft commented on #3741
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-10-28 00:05] EdPrice-MSFT commented on #3708
@nabhishek - Can you help verify this is the right change?

[2022-10-28 07:39] #2695 closed

[2022-10-28 13:19] hallihan commented on #3257
Thanks for confirming.
#please-close

[2022-10-28 13:19] #3257 closed

[2022-10-28 13:40] v-fearam commented on #2710
Hi @epomatti
Sorry for the delay.

I have just downloaded the icons, at this point in time , I found the Service Bus Icon (Azure_Public_Service_Icons\Icons\integration\10836-icon-service-Service-Bus.svg) and the icon is the same that it is used for Service Bus on Azure Portal.
I think the original bug is solved.

I will close the ticket, but feel free to re-open if additional clarification is need

[2022-10-28 13:41] v-fearam commented on #2710
#please-close

[2022-10-28 13:41] #2710 closed

[2022-10-28 22:49] lokuas15 opened #3751 "Matriz de cosechas"
Como se podria hacer una matriz de cosechas en sql server?

[2022-10-29 04:56] AjayBathini-MSFT commented on #3751
@lokuas15
Could you please elaborate you query.
And also, it would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!!

[2022-10-31 13:48] MainaAwudu opened #3753 "HELLO WOLD"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 064087b4-3a9c-21a1-04e6-af522f587157
* Version Independent ID: 1d2dd6fd-4dcd-5d6e-a148-4edadbff9bf4
* Content: [Serverless functions architecture design - Azure Architecture Center](https://learn.microsoft.com/en-us/azure/architecture/serverless-ques

[2022-10-31 14:03] mumurug-MSFT commented on #3753
@MainaAwudu Thanks for reaching out. The feedback description is missing, and title doesn't provide any info on the issue. We are proceeding to close this thread but feel free to add a comment or reopen the issue with description .

[2022-10-31 14:03] #3753 closed

[2022-10-31 16:00] v-fearam commented on #2797
Hi @Hofls

Sorry for the delay.

Sorry for the confusion.

Anyway, the last paragraph in the first section has an explanation:

 __The front end might consist of a web API. On the client side, the web API can be consumed by a single-page application that makes AJAX calls, or by a native client application.__

 It is web, uses http protocol, and it is the front end of a set of components behind sce

[2022-10-31 16:00] v-fearam commented on #2797
#please-close

[2022-10-31 16:00] #2797 closed

[2022-10-31 22:13] BryanLa commented on #2729
@Kalaivin  - our apologies for the delay in responding, and thanks for reporting this.

I researched this and it appears that the image file was incorrect. This has since been corrected, along with a freshness review of the architecture and article content.

#please-close

[2022-10-31 22:13] #2729 closed

[2022-10-31 23:47] BryanLa commented on #3542
@measin - our apologies for the delay on this, and thank you for your contribution.

Looking at the VPN Gateway doc referred to in this reference architecture, the [Gateway SKUs by tunnel, connection, and throughput table](https://learn.microsoft.com/azure/vpn-gateway/vpn-gateway-about-vpngateways#benchmark) indicates that the aggregate throughput is 10Gbps, specifically for the 'VpnGw5AZ' SKU. I'

[2022-10-31 23:47] #3542 closed

[2022-11-01 09:55] Zimmergren commented on #2271
In reviewing the latest version of this article, the links have been updated.
The relevant links now point to an updated Microsoft Learn module with a lot more relevant information.

#please-close

[2022-11-01 09:55] #2271 closed

[2022-11-02 04:04] AjayBathini-MSFT commented on #3751
@lokuas15
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-02 04:04] #3751 closed

[2022-11-02 07:58] Zimmergren commented on #2631
After a review, there's been quite some changes to this content since it was originally reported, and the deployable assets are pointing to more up to date resources now. I'll open an internal ticket to ensure they update any remaining broken links to these templates across the repositories.

#please-close

[2022-11-02 07:58] #2631 closed

[2022-11-02 18:52] michaelhui8 opened #3759 "What devops pipeline task represents extractor workflow, are there any specific details on how this process is achieved?"
What devops pipeline task represents extractor workflow, are there any specific details on how this process is achieved?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 6fe11cd6-407f-3dd5-ba44-6a3a51e32943
* Version Independent ID: 6fe11cd6-407f-3dd5-ba44-6a3a51e32943
* Content: [Automated API deployments using APIOps

[2022-11-02 18:59] rishabhsaha commented on #3759
Hi - a E2E implementation of this pattern can be found here. Have you taken a look at this?

https://azure.github.io/apiops/

[2022-11-02 21:32] ckittel commented on #3511
Any Azure Firewall that is references an IP Group will end up essentially getting an HTTP PUT against it to refresh the rules that involve that IP Group.  Think of it this way, an IP Group is a "list of IPs" and Azure Firewall only knows about the IPs, not the group itself (meaning the IPs are "copied into the rules" instead of being referenced from the rules).  So a change to an IP group requires

[2022-11-03 04:15] Naveenommi-MSFT commented on #3759
@michaelhui8
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-03 08:53] sayedimac opened #3764 "Exposing external API's to internal consumers"
I am a technical trainer with the ESI program and I always talk through two use cases with regards to APIM.

The one, which is what this architecture is about, is publishing internal API's for external consumption.
The other, is protecting and wrapping external API's for internal consumption.
For example, if your org is using the Twitter API, you might not want to give the Twitter keys for the Twi

[2022-11-03 13:23] mumurug-MSFT commented on #3764
@sayedimac Thanks for the feedback. Assigning to author to review and update.

[2022-11-03 14:36] johnwildes opened #3765 "Azure File Sync / Use Case"
Specifically regarding this paragraph below.  Is the use case an EITHER / OR scenario.  Either I use direct mount OR I use Azure File Sync and cache the azure files?

For example, I have Azure Virtual Desktop environment, in Azure on same VNET as azure files account.  I can direct mount this from within Azure with no problem.  If I have an on prem set of workers, and I put an azure file sync in th

[2022-11-03 20:21] skabou commented on #3410
It is unclear where the issue is.  Please re-open with additional details if help is still needed.

[2022-11-03 20:21] #3410 closed

[2022-11-03 20:27] hallihan commented on #3312
This should be addressed in the latest updates to the article.

[2022-11-03 20:27] #3312 closed

[2022-11-03 20:28] skabou commented on #3423
@gerrit68 The architecture is on page 2 of the Visio file.

[2022-11-03 20:29] hallihan commented on #3331
It's not clear what the problem or suggestion is for the article.  Feel free to open another issue with more details if help is still needed.

[2022-11-03 20:29] #3331 closed

[2022-11-03 20:38] hallihan commented on #3371
This should have been addressed with the update in May, please open another feedback item if more changes are needed.

[2022-11-03 20:38] #3371 closed

[2022-11-03 20:40] skabou commented on #2957
It is unclear what the issue is.  If assistance is still needed, please open with additional details.

[2022-11-03 20:40] #2957 closed

[2022-11-03 20:43] #3015 closed

[2022-11-03 20:47] skabou commented on #3117
It appears this has been addressed.  Please re-open with additional details if assistance is still needed.

[2022-11-03 20:47] #3117 closed

[2022-11-03 20:50] skabou commented on #3182
It appears the Visio diagram is available.  If assistance is still needed, please re-open with additional details.

[2022-11-03 20:50] #3182 closed

[2022-11-03 20:50] hallihan commented on #3337
@WilliamAntonRohm - did you ever find out what was going on here?  Is the issue resolved?

[2022-11-03 20:54] RobBagby commented on #3365
@khaliddermoumi - I am going to close this issue, as the flow chart was updated to address your issue. Your point about App Services having limitations, it is true. This is meant to be a high-level decision tree that does not take into account all cases.

[2022-11-03 20:54] #3365 closed

[2022-11-03 20:57] hallihan commented on #3281
This is reflected in the latest version of the article.

[2022-11-03 20:57] #3281 closed

[2022-11-03 20:58] skabou commented on #2943
It is unclear what article this is referring to.  If assistance is still needed, please re-open with additional details.

[2022-11-03 20:58] #2943 closed

[2022-11-04 14:31] v-fearam commented on #2760
Hi @cbgermany

Sorry for the delay.

In the article I found:

* [VM Recommendations sections]([https://learn.microsoft.com/azure/architecture/reference-architectures/identity/adds-extend-domain#vm-recommendations](https://learn.microsoft.com/en-us/azure/architecture/reference-architectures/identity/adds-extend-domain#vm-recommendations)) said “Deploy at least two VMs running AD DS as domain contro

[2022-11-04 14:31] #2760 closed

[2022-11-05 21:53] abhinav-jain09 opened #3766 "Please give me java example"
[Enter feedback here]
The example for this page is only for .Net do you have example for Java as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 6fea460c-4fac-723f-8df4-9d0811855a68
* Version Independent ID: 4be364ca-aee7-7b49-13e1-3a94408ed7b9
* Content: [Asynchronous Request-Reply pattern - Azure Architecture C

[2022-11-05 22:37] codeputer opened #3767 "Gateway in front of APIM - why - what capability that Gateway has that APIM does not?"
What is the purpose of the gateway in front of the APIM? I feel if its there to address a business reason than that should be stated in
why that reason caused the gateway to be in front. Otherwise, I would give this diagram as two alternatives - one with the gateway, the other without and why both may be used for different purposes.

My understanding is that APIM has policies to apply when traffic

[2022-11-06 03:33] RamanathanChinnappan-MSFT commented on #3766
@abhinav-jain09
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-06 03:35] RamanathanChinnappan-MSFT commented on #3767
@codeputer

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-06 23:53] nsrinivasan80 opened #3768 "Just tell me step-by-step how to install anaconda on a windows VM"
Just tell me step-by-step how to install anaconda on a windows VM, including how to set up a Windows VM!!

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 678f3299-1ff9-8a31-a434-be16f33f90ef
* Version Independent ID: 18de51b9-9bdc-da60-1e2f-383c79b08e54
* Content: [Run a Windows VM on Azure - Azure Reference Architectu

[2022-11-07 03:06] SaibabaBalapur-MSFT commented on #3768
@nsrinivasan80

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-07 14:08] DeanGross opened #3769 "What about Security Monitoring?"
There is no mention of security event monitoring. Please add some content about how Microsoft Sentinel should be used to monitor AKS.
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 47583913-d1e3-7169-8a91-ac90281d4091
* Version Independent ID: 47583913-d1e3-7169-8a91-ac90281d4091
* Content: [Kubernetes monitoring and l

[2022-11-07 17:38] Naveenommi-MSFT commented on #3769
@DeanGross

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-07 18:25] Zimmergren commented on #2767
We reviewed this article, which is targeting Azure Data Lake Storage Gen1. We've made updates to reflect this and make sure it's clearer in the article. The article doesn't cover Azure Data Lake Storage Gen2 currently.

#please-close

[2022-11-07 18:25] #2767 closed

[2022-11-07 18:41] #3262 closed

[2022-11-07 18:47] #3593 closed

[2022-11-07 18:47] #3215 closed

[2022-11-08 06:41] MayankBargali-MSFT commented on #3768
@nsrinivasan80 MicrosoftDocs Github issue is mainly related to the document issue. I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/) for how to and troubleshooting queries.

Once you post your issue on forums, it will have visibility across the community which is a better sui

[2022-11-08 06:41] #3768 closed

[2022-11-08 09:18] erjosito commented on #3262
Thanks for catching that @lbimsft !

[2022-11-08 09:20] eavanvalkenburg opened #3773 "Azure Notebooks no longer exist..."
[Enter feedback here]
This page mentions Azure Notebooks which is no longer available, but instead spread throughout vscode, AML and Github.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 97abbeb4-6c20-4dfd-8a3f-3b448919679c
* Version Independent ID: d979d82d-2e80-5a1e-7928-7f8154ed34f3
* Content: [Choose a data analy

[2022-11-08 11:58] v-fearam commented on #3306
#please-close

[2022-11-08 11:58] #3306 closed

[2022-11-08 14:21] mumurug-MSFT commented on #3773
@eavanvalkenburg Thanks for the feedback. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-11-08 15:11] Zimmergren commented on #2903
We've recently reviewed this, and the AZTK portion of this article was removed. Thank you for reporting it.
#please-close

[2022-11-08 15:11] #2903 closed

[2022-11-08 15:17] RobBagby commented on #2728
This was closed with the following PR: https://github.com/MicrosoftDocs/architecture-center-pr/pull/8779.

[2022-11-08 15:17] #2728 closed

[2022-11-08 15:19] RobBagby commented on #2735
This bug was closed with PR: https://github.com/MicrosoftDocs/architecture-center-pr/pull/8766.

[2022-11-08 15:19] #2735 closed

[2022-11-08 15:36] #3550 closed

[2022-11-08 15:44] TimShererWithAquent commented on #2764
Paragraph added.

[2022-11-08 15:44] #2764 closed

[2022-11-08 15:46] TimShererWithAquent commented on #3085
Title changed.

[2022-11-08 15:46] #3085 closed

[2022-11-08 15:48] TimShererWithAquent commented on #2591
Changes made, including visio version and thumbnail.

[2022-11-08 15:48] #2591 closed

[2022-11-08 15:49] TimShererWithAquent commented on #2758
Revisions made.

[2022-11-08 15:49] #2758 closed

[2022-11-08 15:49] TimShererWithAquent commented on #2748
Removed link.

[2022-11-08 15:49] #2748 closed

[2022-11-08 15:52] TimShererWithAquent commented on #2743
The author may have had something in mind for the awards, but this seems to be a distraction. Removed the reference to awards.

[2022-11-08 15:52] #2743 closed

[2022-11-08 15:53] #2742 closed

[2022-11-08 15:55] TimShererWithAquent commented on #2853
Updates made for this article.

[2022-11-08 15:55] #2853 closed

[2022-11-08 16:58] RobBagby commented on #2298
@dmhelm - I am closing this issue, as it appears to have been resolved. Please feel free to re-open if you believe I closed this in error.

[2022-11-08 16:58] #2298 closed

[2022-11-08 16:59] vunvulear opened #3774 "Application Gateway hub/spoke"
What is the motivation for having the App Gateway in the Spoke and not in the Hub? Shouldn't we have all traffic direct to Hub and from there to the Spoke?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 3c9cfb32-2013-f31e-0209-d5194afc8d9e
* Version Independent ID: 9cabc767-9799-abcd-6ccd-11f164c30877
* Content: [Arch

[2022-11-08 22:31] #3283 closed

[2022-11-09 03:50] Naveenommi-MSFT commented on #3774
@vunvulear

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-09 07:40] ciufudean opened #3775 "This page is not linked to an entry in the TOC on the left hand side"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: f14bdf5c-81b0-76df-4c61-3b4eca2435ae
* Version Independent ID: 433531d0-bedf-ce5c-a747-ce1d6b6bea5f
* Content: [Resiliency checklist for services - Azure Architecture Center](https://learn.microsoft.com/en-us/azure/architecture/checklist/resiliency-p

[2022-11-09 07:41] ciufudean opened #3776 "This page is not linked to an entry in the TOC on the left hand side"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 7045e916-4244-f7fa-c147-fb4a0ddc15f6
* Version Independent ID: 78e0c541-b257-f253-e1ca-e9ea7c8e7a76
* Content: [Architecting for resiliency and availability - Azure Architecture Center](https://learn.microsoft.com/en-us/azure/architecture/reliability

[2022-11-09 13:52] mumurug-MSFT commented on #3776
@ciufudean Thanks for the feedback. We will review and update as appropriate.

[2022-11-09 13:52] mumurug-MSFT commented on #3775
@ciufudean Thanks for the feedback. We will review and update as appropriate.

[2022-11-09 14:41] v-fearam commented on #3317
Hi @brbish,

Sorry for the delay.

In the [Defender script](https://learn.microsoft.com/azure/architecture/example-scenario/wvd/windows-virtual-desktop-fslogix#add-exclusions-for-microsoft-defender-for-cloud-by-using-powershell), I can see the \share as a variable.

[code]

I think it has changed since you created the ticket.

I will close the ticket, but feel free to re-open if additional clarifi

[2022-11-09 14:42] v-fearam commented on #3317
#please-close

[2022-11-09 14:42] #3317 closed

[2022-11-09 14:43] v-fearam commented on #3375
Hi @fnicollier,

Sorry for the delay.

I didn't see a specific mention of Time Series Insight as an alternative for Time Series inside the text.
I saw a link to Time Series Insight on “Recommended Content” section, and if you follow the [link](https://learn.microsoft.com/en-us/azure/time-series-insights/time-series-insights-overview?source=recommendations) a note about the deprecation is on the to

[2022-11-09 14:44] #3375 closed

[2022-11-09 18:12] skabou commented on #3291
It is unclear how to assist.  If assistance is still needed, please open with additional details.

[2022-11-09 18:12] #3291 closed

[2022-11-09 23:19] #3423 closed

[2022-11-10 00:49] BryanLa commented on #3234
@infratex  - thanks for your contribution and our apologies for the delayed response.

The Visio diagram and related image files have been fixed. This will republish around 10am Pacific tomorrow.

#please-close

[2022-11-10 00:49] #3234 closed

[2022-11-10 08:44] sm00823749 opened #3777 "Please share the VISIO file for this azure architecture"
[Enter feedback here]

Hi Team , Please share the VISIO file for this azure architecture.

Thanks and Regards,
 Shibnath Mukherjee

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 14acf440-88ed-186c-a3ab-5309bf7e363c
* Version Independent ID: d32e5eb7-5011-dc40-e978-c6bc9f6363a5
* Content: [DevTest and DevOps for micros

[2022-11-10 15:44] #2725 closed

[2022-11-10 16:45] hallihan commented on #2713
The change to address this was merged, #please-close

[2022-11-10 16:45] #2713 closed

[2022-11-10 17:27] jocontr commented on #2872
Please feel free to reopen the issue and provide additional context. Thank you

[2022-11-10 17:27] #2872 closed

[2022-11-10 20:31] hallihan commented on #3579
Please report a new feedback item with more detail if help is still needed. #please-close

[2022-11-10 20:31] #3579 closed

[2022-11-10 21:01] hallihan commented on #3256
This issue duplicates #3396, we're working on an update under that issue. #please-close

[2022-11-10 21:01] #3256 closed

[2022-11-10 21:15] hallihan commented on #3275
This was addressed in #3278, #please-close

[2022-11-10 21:15] #3275 closed

[2022-11-10 21:19] hallihan commented on #3297
I believe the edits in 32c3885743130735ec94b24345a9861be09b3836 address this, please add more details if this is not the case. #please-close

[2022-11-10 21:19] #3297 closed

[2022-11-10 21:22] hallihan commented on #3301
#please-close

[2022-11-10 21:22] #3301 closed

[2022-11-10 21:27] hallihan commented on #3246
This duplicates #3396 and we're working on an update to address it. Follow that issue for additional details. #please-close

[2022-11-10 21:27] #3246 closed

[2022-11-10 21:33] RobBagby commented on #3320
@shashankspole  - I am closing this item. Please reopen if you believe I closed this in error.

[2022-11-10 21:33] #3320 closed

[2022-11-10 21:45] hallihan commented on #3208
This was addressed in previous updates. #please-close

[2022-11-10 21:45] #3208 closed

[2022-11-10 21:48] hallihan commented on #3192
This was addressed in a previous update. #please-close

[2022-11-10 21:48] #3192 closed

[2022-11-10 21:50] hallihan commented on #3195
Azure NetApp Files was added in the storage section in previous updates, #please-close

[2022-11-10 21:50] #3195 closed

[2022-11-10 22:58] SharmainePopov opened #3778 "Virtual Network Info Is Outdated and Useless"
Hi the Virtual Network section links to docs from 2016 for CLASSIC vnet CREATION. What is required are docs for Resource Manager vNet deployment that show how to export/import vNet configuration. Additionally, vNets  have related components - eg route tables and user defined routes, vNet peering, private endpoints, DNS configs. The situation for those needs to be documented as well.  There also ne

[2022-11-11 04:13] SaibabaBalapur-MSFT commented on #3778
@SharmainePopov
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-11 10:57] praveenpb27 opened #3779 "Architecture diagram: wrong visio file for MDM integration pipeline"
Wrong visio file is getting downloaded for the Architecture diagram of MDM integration pipeline in the link https://learn.microsoft.com/en-us/azure/architecture/reference-architectures/data/profisee-master-data-management-data-factory
Even though the Visio diagram is linked, when downloaded it is not this diagram that is getting downloaded. Could you please upload the correct diagram for this sect

[2022-11-11 15:37] SaibabaBalapur-MSFT commented on #3779
@praveenpb27
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-11 15:52] RobBagby commented on #3409
We have renamed the above. Thanks.

[2022-11-11 15:52] #3409 closed

[2022-11-11 16:11] #3434 closed

[2022-11-11 22:22] RobBagby commented on #3418
Hi @pioardi - In reviewing this issue, it appears that Azure Front Door is included in the document and diagram. Please let me know if there is still an issue.

[2022-11-13 17:56] moises77filipe opened #3781 "Dados"
Sensacional!
[Insira comentários aqui]

---
#### Detalhes do documento

⚠ *Não edite esta seção. É necessário para a vinculação de problema do learn.microsoft.com ➟ GitHub.*

* ID: fcb3c6d7-aa3e-9a76-181b-d0963ac685b9
* Version Independent ID: da9c883b-93bf-8864-015a-a7b10a6fcb5f
* Content: [ETL (extrair, transformar e carregar) - Azure Architecture Center](https://learn.microsoft.com/pt-br/azure/

[2022-11-14 00:02] marcomws opened #3782 "Angular App to show icons"
Hello,

I've created a simple app to show all icons at once. Please take a look:
github repo: https://github.com/marcomws/Azure-Architecture-Icons

It can be much more powerful if I can get icons by an API.
I'm planning to implement a search feature in my app.

I'd love to hear from you about this application.

Best Regards,
Marco Sedhom

---
#### Document Details

⚠ *Do not edit this section. It

[2022-11-14 03:17] ManoharLakkoju-MSFT commented on #3781
@moises77filipe
Thanks for your feedback! We will investigate and update as appropriate.

It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!

[2022-11-14 03:21] ManoharLakkoju-MSFT commented on #3782
@marcomws
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-14 04:21] MayankBargali-MSFT commented on #3782
@marcomws Thanks for reaching out. MicrosoftDocs Github issue is mainly related to the document issue. I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/) for any how to or troubleshooting questions.

Once you post your issue on forums, it will have visibility across the commun

[2022-11-14 04:21] #3782 closed

[2022-11-14 07:28] janewar commented on #3623
how saprouter http connection

[2022-11-14 09:38] Zimmergren commented on #2798
In the latest release of the Azure icons pack, there is an icon named `10846-icon-service-Web-Jobs.svg`, which is used for Web Jobs.

#please-close

[2022-11-14 11:54] Zimmergren commented on #2777
The current version of the Azure icons pack contains eighteen updated Intune icons.
If you believe there are more missing icons, please create a new ticket and specify more details about the required icons. Thanks!

#please-close

[2022-11-14 11:54] #2777 closed

[2022-11-14 12:27] Zimmergren commented on #2804
The Databricks icon is updated both in the article and the original Visio file, and will roll out shortly.
#please-close

[2022-11-14 12:27] #2804 closed

[2022-11-14 18:31] v-fearam commented on #3396
#please-close

[2022-11-14 18:31] #3396 closed

[2022-11-15 11:59] pioardi commented on #3418
Hi @RobBagby  thanks for your reply. Yes it is included but if you see the diagram but I am talking about this particular case :

- An http/https application
- Is NOT public facing, and should not be exposed publicly
- Need global load balancing

Which load balancing solution should I use in that case ? Cause looks like Azure Front Door still expose your application publicly. Should I use a privat

[2022-11-15 13:43] HendrikTilleman opened #3785 "Copy/paste error in Visio"
The architecture Visio contains 2 SharePoint VMs in the source site, while the failover site only has 1 SharePoint VM but has an additional DNS server which is not visualized on-prem.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 018a7aef-3117-17c5-8693-7455cefa54d3
* Version Independent ID: a6c4e7a0-3cfa-1c4c-bc48-6

[2022-11-15 14:37] ManoharLakkoju-MSFT commented on #3785
@HendrikTilleman
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-16 09:13] jayendranarumugam opened #3786 "Images are blurry and not clear enough"
The Images provided in the [doc](https://learn.microsoft.com/en-us/azure/architecture/example-scenario/teams/securing-bot-teams-channel) are blurry we cannot even zoom and see it through clearly . Especially
[securing-bot-image-011.png](https://github.com/MicrosoftDocs/architecture-center/blob/main/docs/example-scenario/teams/media/securing-bot-image-011.png)
[securing-bot-image-010.png](https://g

[2022-11-16 14:26] mumurug-MSFT commented on #3786
@jayendranarumugam Thanks for the feedback and sorry for the experience. We have assigned this issue to doc author, and we will review and update as appropriate.

[2022-11-17 19:02] RobBagby commented on #3511
I am still unable to find any reference to the question: "Ensure all updates to the IP Groups and policies have an implicit firewall update that is run afterwards." in the article. I am going to close the bug. @andyjballgit - please feel free to open another issue if you feel I closed this in error.

[2022-11-17 19:02] #3511 closed

[2022-11-18 15:11] blodgettb opened #3793 "Why move old records from Cosmos DB to Data Lake?"
You wrote, "The records don't need to stay in Azure Cosmos DB indefinitely. Older deliveries can be archived — say, after a month."
Please elaborate on why one would move old records from Cosmos DB to Data Lake. Is Data Lake storage less expensive? Is analysis less expensive in Data Lake? Does Data Lake have features lacking or less convenient in Cosmos DB?

---
#### Document Details

⚠ *Do not ed

[2022-11-18 16:19] ManoharLakkoju-MSFT commented on #3793
@blodgettb
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-18 19:51] cowhitley opened #3794 "Page makes no mention of minimum Disk bandwidth requirements from SAS"
Per SAS documentation, they recommend at least 150 MBPS bandwidth https://communities.sas.com/t5/Administration-and-Deployment/Best-Practices-for-Using-Microsoft-Azure-with-SAS/m-p/676833#M19680

Our documentation makes no mention of this requirement which can only be achieved with using Premium P20 disks or greater.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn

[2022-11-19 00:45] BryanLa commented on #3535
@kenjmartinii - our apologies for the long delay, and thanks very much for your contribution.

Your suggestions have been incorporated. The article will republish by around 10am Pacific on 11/21.

#please-close

[2022-11-19 00:45] #3535 closed

[2022-11-19 05:14] ManoharLakkoju-MSFT commented on #3794
@cowhitley
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-21 00:15] wenms1 opened #3795 "Private endpoints wording"
"There's no added cost for App Service regional VNet Integration in a supported pricing tier of Standard or higher. But Private Endpoints for Web Apps is supported only on Elastic Premium, Premium V2, and Premium V3 plans."

I think it supports all plans now. Is it?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 5253a

[2022-11-21 05:38] YashikaTyagi-MSFT commented on #3795
@wenms1
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-21 08:37] eavanvalkenburg commented on #3773
Just noticed this is a duplicate of #3172 which was raised a year ago, please fix!

[2022-11-21 09:26] ansingha commented on #3795
**This should be updated:**
_"There's no added cost for App Service regional VNet Integration in a supported pricing tier of Standard or higher. But Private Endpoints for Web Apps is supported only on Elastic Premium, Premium V2, and Premium V3 plans."_

**to the following:**
"There's no added cost of App Service regional VNet Integration feature:
- In a supported pricing tier of these App Service

[2022-11-21 16:41] ridelane opened #3796 "Message for Keith Hill"
Hello Keith - I am trying to reach someone in the Azure percept and live analytics team. SiMa.ai is interested in exploring opportunities to participate in the certified hardware ecosystem. I did send a note to Moe Tanabian but haven't heard back. Perhaps his email box is quite full or he is in a different role? Would you be open to a brief conversation with us. We are an ML SoC (system on chip) i

[2022-11-21 22:53] mike-urnun-msft commented on #3796
Hello @ridelane - Thanks for reaching out and sharing this feedback. Since this repo is more for driving improvements toward our documentation for the Azure Architecture center, the issues opened here won't have an escalation path that would lead to a direct connection with the product group folks. Instead, please consider making a new post on [the MS Q&A channel](https://learn.microsoft.com/en-us

[2022-11-21 22:53] #3796 closed

[2022-11-21 23:47] fernandofilevine opened #3797 "Front door rewrites the HttpContext.Current.Request.Url arbitrarily"
We have two separate App Services that receive traffic from a Front Door. One app service has a *.domain.net wildcard custom domain attached, and the other app service has a specific standalone-host.domain.net custom domain attached.

When traffic is served to the wildcard app service, the HttpContext.Current.Request.Url header in .NET returns some specifichost.domain.net.

When traffic is served

[2022-11-22 04:45] Naveenommi-MSFT commented on #3797
@fernandofilevine
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-22 20:04] fernandofilevine commented on #3797
One addendum: Both instances are running the same code

[2022-11-23 01:12] huangyingting opened #3798 "https://aka.ms/tryworkbench is not valid"
The link in below is not valid anymore, when access it, it gives 404
Deploy this scenario
[Deploy to Azure](https://aka.ms/tryworkbench)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 9ed7b54c-fe6b-4331-f6d4-1e369ebad0c1
* Version Independent ID: 70f614a9-153c-3a7e-107c-526ba68adad6
* Content: [Supply chain track and

[2022-11-25 06:25] microsoft-github-policy-service[bot] opened #3800 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-11-29 16:44] #3785 closed

[2022-11-29 16:47] RobBagby commented on #3775
Fixed issue.

[2022-11-29 16:47] #3775 closed

[2022-11-29 16:53] RobBagby commented on #3617
Closed with pull request: https://github.com/MicrosoftDocs/architecture-center-pr/pull/8926

[2022-11-29 16:53] #3617 closed

[2022-11-29 18:35] #3800 closed

[2022-11-30 09:00] MikeWedderburn-Clarke opened #3803 "Cluster set is not supported in Stack HCI"
Please remove the reference to 'cluster set' as this is not supported by Stack HCI. We have had clarification from PG that they do not support cluster set with Stack HCI and they have removed those references from the Stack HCI docs but it still exists in this one.

See the internal thread 'Does "Deploy a cluster set"  support  AS HCI ' in 'hcitalk' for reference.

---
#### Document Details

⚠ *Do

[2022-11-30 11:57] ezYakaEagle442 opened #3804 "Azure Nov. 2022 icon is not up to date, are missing : ASA, ACA, ARO, Fleet"
[https://arch-center.azureedge.net/icons/Azure_Public_Service_Icons_V10.zip](https://arch-center.azureedge.net/icons/Azure_Public_Service_Icons_V10.zip) Nov. 2022 is not up to date :

- compute/10370-icon-service-Azure-Spring-Cloud.svg should be renamed Azure Spring Apps, see [https://github.com/MicrosoftDocs/azure-docs/issues/95119](https://github.com/MicrosoftDocs/azure-docs/issues/95119)

- Azu

[2022-11-30 14:34] walezbee opened #3805 "My computer screen is dim"
I tried to open one of the icons. This turned my computer system to screenshot mode. The screen is dim and I can't work efficiently.

Kindly assist.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 6624d44c-f9f6-02f8-2c67-0f0637fed62e
* Version Independent ID: 9346a8ff-bab5-be2c-9dc1-d546fda1efa9
* Content: [Azure icons

[2022-11-30 17:05] SaibabaBalapur-MSFT commented on #3804
@ezYakaEagle442
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-30 17:07] SaibabaBalapur-MSFT commented on #3805
@walezbee
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-30 22:00] tobm opened #3807 "Article has no date :/"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 510808e8-db5d-6b07-9a04-6edb743a2dfc
* Version Independent ID: 20d098aa-ef31-cb26-d677-765cfc9a7164
* Content: [Choose an Azure compute service - Azure Architecture Center](https://learn.microsoft.com/en-us/azure/architecture/guide/technology-choices

[2022-11-30 22:39] kinseymd opened #3808 "Stub out and save Azure Pricing Calculator estimates for all reference architectures and link to article"
I would love to have a sample Azure Pricing Calculator estimate available for each of the reference architectures. I love the Architecture Center and it's my first place to start when designing for a workload. Having even a starting point where I can tweak the settings for each would be a big timesaver. Just stub out a default entry for every resource on the reference architecture diagram.

---
##

[2022-11-30 23:03] EdPrice-MSFT commented on #3803
@MikeWedderburn-Clarke - Please review.

https://github.com/MicrosoftDocs/architecture-center-pr/pull/9089/files

FYI @ckittel @josevarela