[2020-07-21 11:32] absheik commented on #2247
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#271029

[2020-07-21 11:55] melzayet opened #2248 "Secure the network flow - How will this work"
In the secure network flow diagram, it depicts outside initiated traffic in green and cluster initiated traffic in orange: https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/containers/aks/secure-baseline-aks#secure-the-network-flow

I don't see the green traffic request/response will work as in the diagram

The dotted green return traffic should go through Azure Firewall

[2020-07-21 11:55] absheik commented on #2248
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#271079

[2020-07-21 16:33] kaseyshah opened #2249 "Where can I find Visio stencils for these new Azure icons?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6624d44c-f9f6-02f8-2c67-0f0637fed62e
* Version Independent ID: 9346a8ff-bab5-be2c-9dc1-d546fda1efa9
* Content: [Azure Icons - Azure Architecture Center](https://docs.microsoft.com/en-us/azure/architecture/icons/)
* Content Source: [docs/icons/index.md

[2020-07-21 16:33] absheik commented on #2249
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#271254

[2020-07-21 19:59] JohnVisioMVP opened #2250 "Azure Shapes"
Thank you for making them available as SVG shapes. It makes it easier to convert them to Visio shapes. Other MS products have produced "Visio shapes", but they are just bitmaps. They should have had their "shapes" reviewed by the Visio team. Visio shapes are more than just clipart they have smarts and can retain data. I hope some one takes the next step and creates Visio shapes with the extras.

-

[2020-07-21 19:59] absheik commented on #2250
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#271372

[2020-07-22 05:24] PramodValavala-MSFT commented on #2249
@absheik Do we have an official visio stencil for these icons? There does seem to be a [community maintained](https://github.com/sandroasp/Microsoft-Integration-and-Azure-Stencils-Pack-for-Visio) one.

@kaseyshah You should still be able to use the [official SVG Icons](https://www.microsoft.com/en-in/download/details.aspx?id=41937) in your visio drawings.

[2020-07-22 06:37] BhargaviAnnadevara-MSFT commented on #2250
@JohnVisioMVP Thanks for the feedback. I have assigned the issue to the content author to evaluate this further.

[2020-07-22 08:06] simonbrowndotje opened #2251 "Terms and conditions disallow use of Azure icons in diagramming tools?"
Hi, I'd like to publish an Azure theme for [Structurizr](https://structurizr.com) (a software architecture diagramming tool), but the (new?) terms and conditions seem to disallow this. Specifically (emphasis mine):

Structurizr themes are publicly accessible on the Internet, for example: https://structurizr.com/help/theme?url=https://raw.githubusercontent.com/structurizr/themes/master/microsoft-az

[2020-07-22 08:06] absheik commented on #2251
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#271838

[2020-07-22 09:58] BhargaviAnnadevara-MSFT commented on #2251
@simonbrowndotje Thanks for the question. Looping in @adamboeglin to provide inputs on this.

[2020-07-22 13:47] ckittel commented on #2248
Thank you for reaching out @melzayet.  The two traffic flows are from distinct origins.  The top (green if you can see the colors) flow is HTTP traffic destined for your cluster's workloads (the web app/api, etc) running on nodes in the cluster. the HTTP response for those requests will egress back out to the WAF and to the client.

The bottom (orange-ish) flow is traffic that originated in the su

[2020-07-22 13:58] ckittel commented on #2246
@huangyingting - thank you for the interest, it's super easy! As a MSFT employee, please go to [our contribution page](https://review.docs.microsoft.com/en-us/help/contribute/architecture-center#aac-field-contributions).  If you have any questions, you can ping me directly on the process, and I can get you going.

[2020-07-22 13:58] #2246 closed

[2020-07-22 13:59] PramodValavala-MSFT commented on #2248
@ckittel Thanks for sharing insights on this! I am assigning this issue to you.

[2020-07-22 14:18] melzayet commented on #2248
@ckittel thank you very much for the detailed and informative reply. I think my confusion came from the asymmetric issue but you clarified very well. Thanks again for taking the time

[2020-07-22 14:18] #2248 closed

[2020-07-22 15:10] clintonwford opened #2252 "Updated Diagram with new Azure Databricks Logo"
Hi, could you help me update the Databricks logo on the architecture diagram shown on the [advanced analytics on big data](https://docs.microsoft.com/en-us/azure/architecture/solution-ideas/articles/advanced-analytics-on-big-data)? I have created an [updated architecture diagram image](https://drive.google.com/file/d/1a9Nyj2vv2DwZalmGOYR4zLMTxsq1cHph/), using the [new Databricks icon](https://driv

[2020-07-22 15:10] absheik commented on #2252
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#271996

[2020-07-22 16:10] ckittel commented on #2245
Thank you Kelvin for the suggestion.  I've opened a PR up for this internally.  Once it gets through review, I'll update this ticket accordingly.

[2020-07-23 10:02] Mahesh-MSFT opened #2255 "Broken Link: Failure Mode Analysis Samples"
Failure mode samples link is broken. Can it be updated?

Also, failure mode analysis samples on Azure seems to have SEO problem. It's not easy to find the samples.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4acf791-5dbe-8b1a-2746-9174afef080c
* Version Independent ID: ff3b6772-a869-e0ef-dc00-09d709c6521f
* Content

[2020-07-23 10:02] absheik commented on #2255
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#272604

[2020-07-23 10:46] peppekerstens commented on #2249
@PramodValavala-MSFT the official SVG icons download fails.. 404 error

[2020-07-23 12:03] PramodValavala-MSFT commented on #2249
@peppekerstens @kaseyshah Looks like there is a version of them available at the bottom of [this doc](https://docs.microsoft.com/en-us/azure/architecture/icons/) as well which works.

[2020-07-23 15:43] #2245 closed

[2020-07-23 15:44] ckittel commented on #2245
The change was made and should be published within the next 24 hours.  Thank you.

[2020-07-23 19:42] pisees opened #2257 "Link to Failure Mode Analysis sample is not working"
Link to Failure Mode Analysis sample is not working

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4acf791-5dbe-8b1a-2746-9174afef080c
* Version Independent ID: ff3b6772-a869-e0ef-dc00-09d709c6521f
* Content: [Designing resilient Azure applications - Azure Architecture Center](https://docs.microsoft.com/en-us/azure/ar

[2020-07-23 19:42] absheik commented on #2257
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#272920

[2020-07-24 02:24] NavtejSaini-MSFT commented on #2257
@pisees We are checking this and will get back to you.

[2020-07-24 12:33] mjeromeleonardGH opened #2258 "Link to AKS SLA is broken"
The link to AKS SLA is broken : https://docs.microsoft.com/azure.microsoft.com/support/legal/sla/kubernetes-service/v1_1/

[2020-07-24 12:33] absheik commented on #2258
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#273280

[2020-07-24 13:10] #2258 closed

[2020-07-24 13:12] ckittel commented on #2258
Thank you for the report.  This has been fixed and will be included in the next content publish.

[2020-07-24 13:15] ckittel commented on #2257
Related: #2255

[2020-07-24 15:13] sheshmantha opened #2259 "Bounded Context"
I think it is important to call out that an entity can represent itself differently to different Bounded Context.  For example, the entity Drone will expose different details for Drone Management than for Drone Booking.

The article tries to do that but the nuance of, "an entity representing itself differently for different contexts" is missed - hence suggesting that it be called out explicitly.

[2020-07-24 15:13] absheik commented on #2259
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#273359

[2020-07-26 12:01] simonbrowndotje commented on #2251
I see that the terms and conditions have changed. Thank you, that's much appreciated. I've created a theme for Structurizr, which you can see at https://structurizr.com/help/theme?url=https://static.structurizr.com/themes/microsoft-azure-2020.07.13/theme.json

Structurizr users will use the styles in their architecture diagrams, and Structurizr doesn't permit icons to be cropped, flipped, rotated,

[2020-07-26 13:48] davidjgraph commented on #2251
@simonbrowndotje If they are not in the license you don't break the license by not following them. You may just annoy someone so that the license is changed 8-)

My concern is around:

"...permits [licensee] to use these icons in architectural diagrams...about Azure to illustrate the specific function or relationship involving Azure services or products."

"You may copy, distribute, and display th

[2020-07-26 19:21] adamboeglin commented on #2251
@davidjgraph, could you reach out to me via email?  adam.boeglin@microsoft.com

I'd love to discuss this (and better partnerships with diagrams.net) with you directly.  We absolutely want to make these icons available to those who need them wherever they create diagrams.

[2020-07-27 04:58] PramodValavala-MSFT commented on #2257
@pisees This has now been fixed.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-27 04:58] #2257 closed

[2020-07-27 04:58] PramodValavala-MSFT commented on #2255
@Mahesh-MSFT  This has now been fixed.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-27 04:58] #2255 closed

[2020-07-28 08:46] nitinkhandelwal26 opened #2261 "Q: What are the considerations in choosing Traefik ingress controller"
[Enter feedback here]
Can you please elaborate here in more details what is the design decision on choosing :
Use Traefik as the Kubernetes ingress controller.

Where we have other ingress controllers like AGIC, NGIX, and HAProxy, etc, Any special consideration or benefit in choosing Traefik here?
One more thing if we use AGIC then do we need to use App Gateway in front of that?

---
#### Document

[2020-07-28 08:46] absheik commented on #2261
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#275118

[2020-07-28 17:12] #2251 closed

[2020-07-28 17:21] adamboeglin commented on #2251
We've updated the terms to remove the language requiring these icons be used in Azure diagrams.

@davidjgraph, let me know if this hasn't address all your concerns.

[2020-07-28 17:21] adamboeglin commented on #2251
We really appreciate all the feedback and engagement from the community on this!

[2020-07-28 17:50] davidjgraph commented on #2251
Perfect, thanks for your quick response.

[2020-07-28 20:21] mydiemho opened #2262 ""Azure Well-Architected Framework" link is broken"
The link referenced in the first paragraph is broken https://docs.microsoft.com/en-us/azure/architecture/framework/index.md

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46723a24-75ac-f6e2-c172-d3827ca0b7d6
* Version Independent ID: c975744e-e594-5667-14b3-c38824bbe24c
* Content: [Baseline architecture for an A

[2020-07-28 20:21] absheik commented on #2262
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#

[2020-07-29 07:04] keerthiprakashr opened #2265 "Architecture Diagram and data flow steps in textual descriptions are not matching!"
Architecture Diagram and data flow steps in textual descriptions are not matching!
example: The description explains two service buses outbox and inbox, but the diagram shows only one.

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ed7b54c-fe6b-4331-f6d4-1e369ebad0c1
* Version Independent ID: 70f614a9-153c-3a7e-107c-526ba

[2020-07-29 07:04] absheik commented on #2265
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#275944

[2020-07-29 13:55] PadhuKudi opened #2266 "Implementation FAQ Chatbot with data champion model"
Hi Team ,

We would need your support in implementing  "FAQ Chatbot with data champion model" architecture for one of our client , could you please let me know pricing for architecture model ? what is an "Data champion" model , any document on data champion model would be helpful

With regards ,
Padmanabhan Kudiarasu

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2020-07-29 13:55] absheik commented on #2266
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#276151

[2020-07-29 14:35] assilabdulrahim opened #2267 "Small correction"
[Enter feedback here]
In the diagram , it shows BC2 instead of B2C.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8c8a5bf-e3a5-3e47-51d9-a15364f8e38b
* Version Independent ID: 419a15fd-abf6-31de-f64b-627cc4466650
* Content: [Commerce Chatbot - Azure Solution Ideas](https://docs.microsoft.com/en-us/azure/architecture/

[2020-07-29 14:35] absheik commented on #2267
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#276174

[2020-07-29 14:41] Vallentyne opened #2268 "Microservices arch link is broken in the "browse all" page"
The browse all arch page (https://docs.microsoft.com/en-us/azure/architecture/browse/) has a broken link for the Microservices architecture page.

Link is this:  https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/microservices/aks

it should be:  https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/containers/aks-microservices/aks-microservices

[2020-07-29 14:41] absheik commented on #2268
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#

[2020-07-29 14:58] moazmirza opened #2269 "Repo not found when deploying"
I am trying to deploy this Dev/Test for SAP template but it gives this error when Review+Create: Can you please confirm if the github repo link is still valid. Thanks!

 "message": "Multiple error occurred: BadRequest,BadRequest. Please see details.",
    "details": [
      {
        "code": "InvalidContentLink",
        "message": "Unable to download deployment content from 'https://raw.githubuse

[2020-07-29 14:58] absheik commented on #2269
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#276189

[2020-07-29 14:58] #2262 closed

[2020-07-29 15:10] BhargaviAnnadevara-MSFT commented on #2262
@mydiemho Thank you for catching that error in the docs! I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

[2020-07-29 15:44] #2239 closed

[2020-07-29 15:48] #2236 closed

[2020-07-29 15:58] absheik commented on #2269
@moazmirza , please check whether you have access to https://github.com/mspnp/solution-architectures/tree/master/apps/sap-2tier

[2020-07-29 16:03] absheik commented on #2267
thanks you for creating the issue @assilabdulrahim.  The above pr when merged will fix it.

[2020-07-29 16:30] RoozbehBandpey opened #2270 "Architectural details"
Hi,

I would love to know more about the architectural details of **Streaming using HDInsight**

- Code samples
- nonfunctional requirements
- functional requirements

Thanks & regards

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e96622a-0a60-2763-cf7a-1f4d45fa8091
* Version Independent ID: 6b1a5bc8-b0a3-d94e-c1ce-7

[2020-07-29 16:31] absheik commented on #2270
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#276292

[2020-07-29 23:52] moazmirza commented on #2269
Yes I can open this github page.

On Wed, Jul 29, 2020 at 10:58 AM absheik <notifications@github.com> wrote:

[2020-07-29 23:53] moazmirza commented on #2269
I am getting this error when i click on Deploy to Azure on this page:
[image: image.png]

On Wed, Jul 29, 2020 at 10:58 AM absheik <notifications@github.com> wrote:

[2020-07-30 13:17] stephenhauck opened #2271 "How about contextual / content specific links or an example ?"
So you have a link in the "Components" section
_Xamarin: Create mobile apps for iOS and Android using C# and Azure SDKs._

The issue is it takes you to the Xamarin front page ...
How about linking me to information about each step ...

I have been doing mobile and building WebAPI backends fora long time and getting mobile to work with Azure is a PITA.

---
#### Document Details

⚠ *Do not edit thi

[2020-07-30 13:17] absheik commented on #2271
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#276973

[2020-07-30 14:17] techarchconsulting opened #2272 "AKS - Implementation details Request"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f6e327d-b280-a35c-2588-87a19ac2a4ba
* Version Independent ID: fa9b0713-771f-4792-979a-2f7a4f4445a2
* Content: [Microservices with AKS - Azure Solution Ideas](https://docs.microsoft.com/en-us/azure/architecture/solution-ideas/articles/microservices-wi

[2020-07-30 14:17] absheik commented on #2272
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#276989

[2020-07-30 14:21] techarchconsulting commented on #2272
Hi,

I would love to know more about the architectural details of AKS

Code samples (.NET C# or Node JS)
Implementation guide
Pricing guidelines

Thanks & regards

[2020-07-30 20:44] michaelcretzman opened #2275 "PNG icons would be helpful"
PNGs would be really useful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6624d44c-f9f6-02f8-2c67-0f0637fed62e
* Version Independent ID: 9346a8ff-bab5-be2c-9dc1-d546fda1efa9
* Content: [Azure Icons - Azure Architecture Center](https://docs.microsoft.com/en-us/azure/architecture/icons/)
* Content Source: [docs/icons/i

[2020-07-30 20:45] absheik commented on #2275
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#277259

[2020-07-31 07:34] AjayKumar-MSFT commented on #2275
@michaelcretzman, That's a good feedback! Thanks for taking time to share your valuable feedback. Your suggestions has been shared with the content owner for further review.

[2020-07-31 07:53] AjayKumar-MSFT commented on #2272
@techarchconsulting, Thanks for leveraging Azure docs feedback channel to share your valuable feedback.

Please checkout '[Kubernetes cluster architecture](https://docs.microsoft.com/azure/aks/concepts-clusters-workloads#kubernetes-cluster-architecture)' - This article introduces the core Kubernetes infrastructure components such as the control plane, nodes, and node pools. Workload resources such

[2020-07-31 22:05] dsk-2015 commented on #1851
@dohughes-msft , Hi Donovan, the article already mentions the revision 4 in the "Architecture" section. It is generally not advisable to add revisions/version information in the architecture diagram.

[2020-08-03 12:19] nitinkhandelwal26 opened #2282 "Can you please provide one implementation sample for this."
[Enter feedback here]
Can you please provide one implementation sample for this architecture.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc547e3a-5433-08eb-9bc2-c0a44e4280a5
* Version Independent ID: 3ab8ba71-f5c5-dcb4-c1be-cde8b61cda34
* Content: [Secure DevOps for AKS - Azure Solution Ideas](https://docs.microsof

[2020-08-03 12:20] absheik commented on #2282
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#278902

[2020-08-04 06:26] PramodValavala-MSFT commented on #2268
@absheik Looks like the links here are generated from the folder structure. Assigning this to you for further review.

[2020-08-04 06:46] PramodValavala-MSFT commented on #2269
@absheik Looks like the shared templates are no longer available in the linked quickstarts location. I have raised a PR to fix this by using the shared templates present in the same repo as `azuredeploy.json`.

@moazmirza Could you check if the below works?

[![Deploy to Azure](https://azuredeploy.net/deploybutton.png)](https://portal.azure.com/#create/Microsoft.Template/uri/https%3A%2F%2Fraw.gith

[2020-08-04 13:25] jmadhanraj opened #2283 "Language corrections/ suggestions"
[Enter feedback here]

In the first paragraph under "Reliability", the last line reads as "Availability is can your users get to your workload when they need to.". The phrase "Availability is" and the following words can be rephrased.

In the first paragraph under "Data sovereignty and encryption", the opening line read as "Make sure that your data remains in the correct geopolitical zone when usi

[2020-08-04 13:25] absheik commented on #2283
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#279715

[2020-08-04 14:09] #2269 closed

[2020-08-04 14:12] ckittel commented on #2269
Thanks for the report @moazmirza  and the PR @PramodValavala-MSFT.  The defaultValue for those file locations are now looking accurate.  Note, the URL still won't render in the browser, and that's okay, as raw.githubusercontent.com doesn't do directory browsing.  If there is still any more issues around this, feel free to reopen the issue.

Have a great day

[2020-08-04 20:58] #2267 closed

[2020-08-05 01:45] moazmirza commented on #2269
Thanks. I will check

Regards,
Moaz

[2020-08-05 02:01] colin-small opened #2288 "Manageability Considerations"
Please clarify in the Manageability Considerations section if restarting the vm via the portal is okay to do. Many people are confused including myself if it is just shutdown via the portal that is dangerous or shutdowns and restarts.

Also, will Windows Server 2012 and higher "self heal"  if the vm is deallocated? What actions need to be taken in the event of vm deallocation with respect to the d

[2020-08-05 02:01] absheik commented on #2288
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#280157

[2020-08-05 02:11] marcusturewicz opened #2289 "Consider adding Pulumi to infrastructure deployment"
[Pulumi](https://www.pulumi.com) is another tool for infrastructure deployment. It is Infrastructure as Software rather than IaC, with a hybrid imperative/declarative style, where you can deploy infrastructure using many programming languages.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5490ef64-9b6d-59be-1e9b-a2b2d

[2020-08-05 02:11] absheik commented on #2289
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#280160

[2020-08-05 07:14] MerelyPerfect opened #2290 "Azure Sentinel Icons"
I cannot find any azure sentinel icons in the Icon sets.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6624d44c-f9f6-02f8-2c67-0f0637fed62e
* Version Independent ID: 9346a8ff-bab5-be2c-9dc1-d546fda1efa9
* Content: [Azure Icons - Azure Architecture Center](https://docs.microsoft.com/en-us/azure/architecture/icons/)
* C

[2020-08-05 07:14] absheik commented on #2290
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#280299

[2020-08-05 07:24] BhargaviAnnadevara-MSFT commented on #2290
@MerelyPerfect Thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-08-05 14:55] ckittel commented on #2261
Hey there @nitinkhandelwal26, thanks for the question.

Since kubernetes doesn't provide an ingress controller for you, this is one of many places where you have a choice on what to bring to satisfy your business needs.  You're right to call out the popular options such as you did.

Each option offers their own pros/cons.  In this reference architecture we wanted to show bringing an open source so

[2020-08-05 16:16] ckittel commented on #2289
Pulumi is certainly gathering attention, great call out @marcusturewicz.  Based on our team's existing backlog, we might not get to this request for a while.  If you wish to contribute via a PR to make a suggestion of what that content would look like, it'll likely make its way through the system much faster than waiting for this to be prioritized on our backlog.

You can find the [contributor gui

[2020-08-05 23:36] tejinderrai opened #2292 "Governance"
Hello,

Could you please advise why governance is not a pillar in the Well Architected Framework? Without having governance guidance as an overarching pillar, any effort on designing, implementing and maintaining/supporting a well architected framework can negatively affect a solution.

Thank you

Tejinder

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2020-08-05 23:36] absheik commented on #2292
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#280809

[2020-08-05 23:40] ChaitanyaNaykodi-MSFT commented on #2283
@jmadhanraj, Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-08-05 23:54] marcusturewicz commented on #2289
Sounds good @ckittel. I'll send through a PR soon 👍

[2020-08-06 08:27] MepMS opened #2294 "Offline installer"
[Enter feedback here]
Please can you give more insights on the offline installer?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9deb5142-8bb3-bfec-1775-bbb7f49364ed
* Version Independent ID: c1de3271-22f4-d472-f4ba-697e398c1dfa
* Content: [AI at the Edge with Azure Stack - disconnected - Azure Solution Ideas](h

[2020-08-06 08:27] absheik commented on #2294
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#280954

[2020-08-06 10:41] edwiles opened #2295 "Diagram typo?"
Minor issue - in the diagram at the top of this page, I believe the box label "Azure DevOps release gate" should be "Azure DevOps release pipeline". Other than that, great diagram. Thanks a lot.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c64e76ff-1388-ed4d-4c8b-92bb4419cc61
* Version Independent ID: 3cdec53f-38ba-c0

[2020-08-06 10:41] absheik commented on #2295
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#280997

[2020-08-06 12:23] oyara opened #2296 "Mistake in AzureBastionSubnet IP address"
The IP address in AzureBastionSubnet is not correct (10.0.0.254.0/27). Should be 10.0.254.0/27
[dmz-reference-architectures.zip](https://github.com/MicrosoftDocs/architecture-center/files/5034747/dmz-reference-architectures.zip)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74bb4b25-ebe2-264d-047d-3f651c52a9c5
* Versi

[2020-08-06 12:24] absheik commented on #2296
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#281019

[2020-08-06 19:28] #2289 closed

[2020-08-06 20:42] dmhelm opened #2298 "Update Note in ASR section about PPG Support"
[Enter feedback here]
Says ASR doesn't support PPG when the ASR support matrix states that it does.
https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-support-matrix
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1fff09dc-014d-d685-881e-dc7d1ef353ff
* Version Independent ID: ca3d7830-d394-d280-dd35-1974

[2020-08-06 20:43] absheik commented on #2298
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#281284

[2020-08-07 08:36] guojianwei001 commented on #1722
When do you finish "further research"?

[2020-08-07 18:01] lukaszkrkpl opened #2299 "Link to visio file is not working"
[Enter feedback here]

the visio file is not accessible
Download a Visio file of this architecture.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3d6aeb8-ec6a-4d27-2d10-1b404de450b7
* Version Independent ID: 65b165e4-a2e4-7f57-19eb-884fce7bf880
* Content: [Build an enterprise-grade conversational bot - Azure Architect

[2020-08-07 18:01] absheik commented on #2299
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#281757

[2020-08-07 18:02] #2299 closed

[2020-08-07 18:02] lukaszkrkpl commented on #2299
d

[2020-08-10 04:23] kyle30312 opened #2300 "Possible typo: "application stamp"?"
"You can think of them as systems that load balance between **application stamps**, ..."

What is an application stamp? Should this perhaps read "application stacks"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 936c85d9-c953-2def-c399-77cbda32b24d
* Version Independent ID: 9173c834-2c40-9169-b13b-6273759a2c8a
* Cont

[2020-08-10 04:23] absheik commented on #2300
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#

[2020-08-10 04:36] PramodValavala-MSFT commented on #2300
@kyle30312 I believe "application stamps" is in reference to the [deployment stamps pattern](https://docs.microsoft.com/en-us/azure/architecture/patterns/deployment-stamp).

@absheik @doodlemania2 Could you please clarify?

[2020-08-10 05:44] kyle30312 commented on #2300
Thank you for the clarification, @PramodValavala-MSFT -- that helps.

I found related information online by searching "azure stamp".
And I noticed a similar question from last year: https://github.com/MicrosoftDocs/azure-docs/issues/34306

[2020-08-10 05:44] #2300 closed

[2020-08-10 08:13] RoozbehBandpey opened #2301 "Details"
I would love to know more about the architectural details of **Extract, transform, and load (ETL) using HDInsight**

* Code samples
* nonfunctional requirements
* functional requirements

Thanks & regards

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f35186e5-f0c5-8a9a-f2a6-ee53c80facfc
* Versio

[2020-08-10 08:13] absheik commented on #2301
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#282601

[2020-08-10 13:32] ckittel commented on #1722
Hey there @guojianwei001, @div78641, and @IjsConsulting,

We do not have an implementation of this at this time; the article is stand alone. The code illustrated can be used as part of your implementation of this cloud pattern.  I'm sure this isn't the news you were looking for; however, not all is lost. One of our awesome apps consultants, @mleziva, has taken this exact article and put together a

[2020-08-10 14:33] guojianwei001 commented on #1722
Hey @ckittel,
Cool! Thanks so much for your information. I didn't expect a reply that time. I had to search it everywhere, finnally I got one [java version](https://github.com/satishnaidu/CloudDesignPatterns/tree/master/src/main/java/com/sample/patterns/circuitbreaker)
I believe your reply will help more people. If possible, could we add the full code sample link at the bottom of [this article](ht

[2020-08-10 14:46] alucao opened #2302 "Azure storage examples using legacy version"
Hi,

In the section Azure Storage, the examples provided apply to the legacy version 11 of Azure Storage library.
Is it possible to provide examples for the latest version (v12)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8194899c-dee2-70ac-422a-edc06e779f7c
* Version Independent ID: cafc7418-404c-5908-3037-dba7f45

[2020-08-10 14:46] absheik commented on #2302
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#282719

[2020-08-10 16:47] ckittel commented on #2272
Thank you @AjayKumar-MSFT - great resources - I'm going to close this topic for now.

[2020-08-10 16:47] #2272 closed

[2020-08-10 16:51] #2261 closed

[2020-08-10 17:34] paisleypark opened #2303 "Visio Stencils are also needed with SVG version."
Please include something that can be used by native Microsoft tools.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6624d44c-f9f6-02f8-2c67-0f0637fed62e
* Version Independent ID: 9346a8ff-bab5-be2c-9dc1-d546fda1efa9
* Content: [Azure Icons - Azure Architecture Center](https://docs.microsoft.com/en-us/azure/architecture

[2020-08-10 17:34] absheik commented on #2303
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#282882

[2020-08-10 18:49] ckittel commented on #2303
For sure, we are tracking that at this open issue #2249.  Feel free to follow along with that one, and we'll close this one as a duplicate.  Thanks!

[2020-08-10 18:49] #2303 closed

[2020-08-10 21:31] tom-schultz opened #2304 "Typo on data share."
[Enter feedback here]
Text | Suggested
"A simple and safe service for sharing big. data" | "A simple and safe service for sharing big data."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30d02f16-9621-d204-4132-8ce8db79b0af
* Version Independent ID: 65b4385b-79f0-d842-d4a1-5d013615f9b1
* Content: [AWS to Azure service

[2020-08-10 21:31] absheik commented on #2304
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#283006

[2020-08-11 04:23] amitlalaawaz opened #2306 "Spelling on region 2 is incorrect!!"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 297fe58b-8232-9b2a-c92e-9f7f94ec3e4e
* Version Independent ID: 3da45f17-e475-f23e-c77f-465933ed02f4
* Content: [Run SAP HANA on Azure (Large Instances) - Azure Reference Architectures](https://docs.microsoft.com/en-us/azure/architecture/reference-arch

[2020-08-11 04:23] absheik commented on #2306
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#283136

[2020-08-11 06:14] PramodValavala-MSFT commented on #2306
@amitlalaawaz Thanks for catching that! We have worked up a PR to fix this, which once merged should reflect in a couple of hours.

[2020-08-11 16:17] #2304 closed

[2020-08-11 16:20] BhargaviAnnadevara-MSFT commented on #2304
@tom-schultz Thank you for catching that error in the docs! I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

[2020-08-12 01:20] PingPongSet opened #2309 "Code sample for Blockchain examples"
I would like to see code sample for the three Blockchain examples.

There is an editting issue with point 1 repeated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ed7b54c-fe6b-4331-f6d4-1e369ebad0c1
* Version Independent ID: 70f614a9-153c-3a7e-107c-526ba68adad6
* Content: [Supply Chain Track and Trace - Azure Soluti

[2020-08-12 01:20] absheik commented on #2309
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#283670

[2020-08-12 03:17] tom-schultz opened #2310 "Syntax for link to service or URL showing up in doc"
`Paired regions
To protect an application against a regional outage, you can deploy the application across multiple regions, using [Azure Traffic Manager][traffic-manager]`

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d42fd9ae-205d-042a-4d38-4ca356e27d17
* Version Independent ID: 694c671b-430e-

[2020-08-12 03:18] absheik commented on #2310
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#283697

[2020-08-12 03:40] tom-schultz opened #2311 "Blob storage should be block storage"
"Durable data storage for Azure VMs is provided by data disks residing in blob storage."

should be:

"Durable data storage for Azure VMs is provided by data disks residing in **block** storage."

If you click on the data disks link, it says "Azure managed disks are **block-level storage volumes**"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2020-08-12 03:40] absheik commented on #2311
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#283704

[2020-08-12 04:15] #2311 closed

[2020-08-12 04:16] tom-schultz commented on #2311
Woops, looks like I'm wrong here. Turns out that Azure block storage is backed by... blob storage.

[2020-08-12 09:30] sp4rc opened #2312 "UseOpenIdConnectAuthentication() is obsolete"
The use of `UseOpenIdConnectAuthentication()` is obsolete. Instead `AddAuthentication()`, etc. should be used and reflected in this document.

https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.builder.openidconnectappbuilderextensions.useopenidconnectauthentication?view=aspnetcore-2.2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-08-12 09:30] absheik commented on #2312
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#283982

[2020-08-12 14:47] #2310 closed

[2020-08-12 16:05] BhargaviAnnadevara-MSFT commented on #2310
@tom-schultz Thank you for catching that error in the docs! I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

[2020-08-12 20:44] sumisamm opened #2313 "Need imementation steps"
I would like to know implementation steps for this architecture thanks you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e74d52e1-beaa-6f00-e0b6-2bbdd00cf830
* Version Independent ID: 94ad0a2e-1eac-eac8-11d8-c3b80f7ca6db
* Content: [Application integration using Event Grid - Azure Solution Ideas](https://docs.microso

[2020-08-12 20:44] absheik commented on #2313
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#284348

[2020-08-13 07:14] #2306 closed

[2020-08-14 06:25] PramodValavala-MSFT commented on #2312
@sp4rc Thanks for catching that! We have worked up a PR to address this, which once merged should reflect in a couple of hours.

[2020-08-14 15:02] #2312 closed

[2020-08-14 15:13] jlorich opened #2315 "Missing icons"
The IoT Icon set is woefully incomplete.

At a minimum the following services are missing:

- IoT Hub
- IoT DPS
- IoT Edge
- Azure Sphere
- Azure RTOS
- Azure Digital Twins
- Azure Time Series Insights

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6624d44c-f9f6-02f8-2c67-0f0637fed62e
* Version Independent ID: 9346a8ff

[2020-08-14 15:13] absheik commented on #2315
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#285476

[2020-08-15 17:35] RonnieQuan opened #2316 "Examples for non-web workloads and internet facing"
I have a little bit hard time to understand non-web workloads.

Do you have use case or example application for non-web workloads and internet facing?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 936c85d9-c953-2def-c399-77cbda32b24d
* Version Independent ID: 9173c834-2c40-9169-b13b-6273759a2c8a

[2020-08-15 17:36] absheik commented on #2316
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#285905

[2020-08-18 13:26] jaspecla opened #2320 "Wrong tense of word "increases" in "Limits" Section"
https://docs.microsoft.com/en-us/azure/architecture/framework/devops/app-design#limits

The sentence that reads, "Some limits are a hard maximum, while others are a soft limit that can be increases upon request..." should read "Some limits are a hard maximum, while others are a soft limit that can be increased upon request..."

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-08-18 13:26] absheik commented on #2320
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#

[2020-08-18 13:27] mthoger opened #2321 "wrong information in the diagram for the UDR of the express route"
[thats not the way UDR in the Express route subnet works, its not where the traffic is orginating from but the destination, the the route is decided on.

So if you have peerings to the network, those adderes spaces with have to be added to the routetable, to overwrite the route propagation of the peerings.

]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2020-08-18 13:27] absheik commented on #2321
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#287167

[2020-08-18 16:38] #2320 closed

[2020-08-18 16:39] BhargaviAnnadevara-MSFT commented on #2320
@jaspecla Thank you for catching that error in the docs. I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

[2020-08-18 19:53] absheik commented on #2295
@edwiles, the text refers to Gating a process stop through Azure DevOps, the diagram also refers to a Manual release gate.  IN that context this labeling makes sense.  Please let me know your thoughts. Will close the issue after we hear form you.

[2020-08-19 03:16] chunliu opened #2324 "Add Azure Functions as another hosting environment"
Azure Functions should be a good option to host background jobs as well. It should be added as another hosting environment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50a65e47-b024-0c7c-0ee9-21ff095abafd
* Version Independent ID: a764689a-168d-dcef-a297-c47f84ea2d12
* Content: [Background jobs guidance - Best pract

[2020-08-19 03:16] absheik commented on #2324
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#287607

[2020-08-19 04:41] kyleburnsdev opened #2325 "Potentially misleading item in decision tree graphic"
In `architecture-center/docs/guide/images/compute-decision-tree.svg`, the path followed for new applications requiring orchestration leads to a decision between AKS and Service Fabric. The branch to Service Fabric is predicated on "Needs .NET integration..." and the reader could take this to include .NET Core in addition to the .NET Framework which was intended. This should be updated for clarity.

[2020-08-19 04:41] absheik commented on #2325
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#287622

[2020-08-19 09:41] edwiles commented on #2295
Thanks for the reply. I still suggest it should be "pipeline", because there are 3 pipelines as described in the page text (underneath the MLOps Pipeline heading) which correspond to the 3 shaded areas in the diagram. Two of them are correctly labelled pipeline. The Manual release gate is only one part of the pipeline, not the whole thing.

[2020-08-19 16:29] franklesniak opened #2326 "Add Date Last Updated"
To this page, can you add the date that the SVG pack was last updated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6624d44c-f9f6-02f8-2c67-0f0637fed62e
* Version Independent ID: 9346a8ff-bab5-be2c-9dc1-d546fda1efa9
* Content: [Azure Icons - Azure Architecture Center](https://docs.microsoft.com/en-us/azure/architectu

[2020-08-19 16:29] absheik commented on #2326
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#288099

[2020-08-19 16:40] absheik commented on #2325
@kyleburnsdev thanks for calling that out. Will fix it by saying "Needs .NET Framework integration"

[2020-08-19 16:44] kyleburnsdev commented on #2325
That should help avoid the confusion. Thanks for the quick response

[2020-08-19 17:11] ckittel commented on #2228
@JasonCard has this de version been through the process yet?

[2020-08-19 17:13] ckittel commented on #2240
Indeed, we'll update the graphic to be reflect this better.  Thank you @salowenh

[2020-08-19 17:31] #2325 closed

[2020-08-19 17:36] absheik commented on #2295
@edwiles agree with your perspective. thanks for the clarification.  Will update the diagram to change Azure DevOps release gate to pipeline.

[2020-08-19 17:53] absheik commented on #2282
@nitinkhandelwal26, please refer to https://docs.microsoft.com/en-us/azure/devops/pipelines/ecosystems/kubernetes/aks-template?view=azure-devops

[2020-08-19 17:53] #2282 closed

[2020-08-19 17:53] JasonCard commented on #2228
@ckittel Linguistic review has been completed, but the translation fixes have not yet been implemented. I'm currently following up on the progress and will update when completed.

[2020-08-19 17:58] #2240 closed

[2020-08-19 18:55] ckittel commented on #2240
This will be released with the next content publish.  Thank you for your contribution!

[2020-08-19 19:05] #2295 closed

[2020-08-19 20:30] #2302 closed

[2020-08-20 15:35] ckittel commented on #2268
The link works now, we had a broken URL redirect that was since fixed.  Thank you @Vallentyne .

[2020-08-20 15:35] #2268 closed

[2020-08-20 20:03] SvenAelterman opened #2329 "Key Vault icon missing"
The icon for Key Vault appears to be missing from V1.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6624d44c-f9f6-02f8-2c67-0f0637fed62e
* Version Independent ID: 9346a8ff-bab5-be2c-9dc1-d546fda1efa9
* Content: [Azure Icons - Azure Architecture Center](https://docs.microsoft.com/en-us/azure/architecture/icons/)
* Cont

[2020-08-20 20:04] absheik commented on #2329
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#288819

[2020-08-20 20:12] JasonCard commented on #2228
Sorry, the implementation had to be put on hold as the process had changed. Then we had to restart the implementation today since there was update to the English source content and localized files were synced yesterday. The translation fixes should be published by Mon 8/24.

[2020-08-21 23:30] puneetsaha opened #2332 "Awesome!"
[Enter feedback here]

This  is great use case! Any detailing would be much appreciated! Especially on selection of each of the tools ,their pros and cons.And any issues or anti-pattern to watch for.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2a5d359-b35d-f8c1-480e-ea9aff4255b5
* Version Independent ID: 971a1042-d2

[2020-08-23 15:51] bijuthan opened #2333 "Lift and shift to containers with AKS"
Hi Team,

Would love it if you can provide complete detailed steps to achieve Lift and shift to containers with AKS.

Best Regards,
Biju Thankappan

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce6b1bb0-6374-bc0f-fa77-fc9e7a8cbc7a
* Version Independent ID: a4b68beb-1369-19ed-36ca-9198c37ac05b
* Content: [Lift and shif

[2020-08-24 06:54] BenMartinBaur opened #2334 "Content feedback: Update the solution with Windows Virtual Desktop as RDP solution"
Hi Team,
I would recommend to update design with Windows Virtual Desktop as preferred remote desktop / access solution and remove the Apache Guacamole part.

Best regards
Ben
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06e1dc54-d828-b7ee-9d32-7d43b83966a9
* Version Independent ID: 4be88949-4cba-8269-fd78-2cd19884d603

[2020-08-24 06:54] absheik commented on #2334
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#289933

[2020-08-25 01:28] JasonCard commented on #2228
@ckittel @clemensv German translation fixes from linguistic review was completed and is now published [live](https://docs.microsoft.com/de-de/azure/architecture/patterns/claim-check). Thank you again for your feedback!

[2020-08-25 04:24] jinder79 opened #2337 "Logic app"
Where does Logic App fits in the compute services decision diagram? Please confirm. Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 510808e8-db5d-6b07-9a04-6edb743a2dfc
* Version Independent ID: 20d098aa-ef31-cb26-d677-765cfc9a7164
* Content: [Choosing an Azure compute service - Azure Architecture Center](https:/

[2020-08-25 04:24] absheik commented on #2337
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#290642

[2020-08-25 08:58] t2kx opened #2339 "list of missing icons in the new icon pack location"
this list could contain doubles but maybe merge with other issues   ( #2290 ,  #2315 ) (@absheik just an idea)
- Machine Learning
- Genomics
- Azure API for FHIR
- Bonsai
- Databricks
- PowerBi Embedded
- Spring Cloud
- Container Instance
- Database Migration Service
- SQL Server Registries
- Application Change Analysis
- Resource Explorer
- AAD B2C
- AAD Privileged Identity Managememt
- AAD Condi

[2020-08-25 08:58] absheik commented on #2339
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#290845

[2020-08-25 09:04] PramodValavala-MSFT commented on #2337
@jinder79 Logic Apps is primarily a workflow orchestration SaaS service that can be used in many ways. For one, it could act as a serverless compute option for simpler business workflows instead of functions.

We have assigned this issue to the content author for further review.

[2020-08-25 15:25] ckittel commented on #2290
@MerelyPerfect -- thanks to @t2kx -- we are going to try to track them all in one issue.  Closing.

Follow @ #2339

[2020-08-25 15:25] #2290 closed

[2020-08-25 15:25] ckittel commented on #2315
@jlorich -- thanks to @t2kx -- we are going to try to track them all in one issue.  Closing.

Follow @ #2339

[2020-08-25 15:25] #2315 closed

[2020-08-25 15:26] ckittel commented on #2329
@SvenAelterman  -- thanks to @t2kx -- we are going to try to track them all in one issue.  Closing.

Follow @ #2339

[2020-08-25 15:26] #2329 closed

[2020-08-25 15:35] t2kx commented on #2339
added content from the IoT issue immediately into these comments

[2020-08-25 15:56] msdotnetclr opened #2340 ""Azure Load Balancer is a layer 5 load balancer" is incorrect"
The web page says "Azure Load Balancer is a layer 5 load balancer", while it actually should be at OSI Layer 4. The language directly contradicts the statements at https://docs.microsoft.com/azure/load-balancer/load-balancer-standard-overview.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b8e780c-8b2b-f579-d380-a33cb

[2020-08-25 15:57] absheik commented on #2340
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#

[2020-08-26 01:46] karpikpl opened #2341 "Azure functions - hybrid connectivity"
As far as I know - ASE is no longer required to provide hybrid connectivity to azure functions, since there's private link, right?

![image](https://user-images.githubusercontent.com/3539908/91245838-6fdbd580-e71c-11ea-8b85-7ec0f8caedb3.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 510808e8-db5d-6b07-9a04-6edb743

[2020-08-26 01:46] absheik commented on #2341
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#291262

[2020-08-26 02:24] romulobrandino opened #2342 "Broke links "What's new in the Azure Architecture Center""
The links for Architecture in **"What's new"** are broke, 404 - Page not found.

Example:

https://docs.microsoft.com/en-us/azure/architecture/changelog#new-articles

[2020-08-26 02:25] absheik commented on #2342
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#

[2020-08-26 03:57] PramodValavala-MSFT commented on #2340
@msdotnetclr Thanks for catching that! We have worked up a PR to address this, which once merged, should reflect in a couple of hours.

[2020-08-26 04:10] PramodValavala-MSFT commented on #2342
@romulobrandino Thanks for catching that! We have assigned this issue to the content author to review and update accordingly.

@absheik Looks like this file is generated. Could you please take a look at how we can fix this?

[2020-08-26 04:10] #2340 closed

[2020-08-26 08:04] MartinDBakerCDW opened #2343 "Azure Table Storage missing"
Surely Azure Table Storage is an example of Key/value storage? It's missing...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e40cb85c-ee53-7b49-0622-bed8ebedea81
* Version Independent ID: 896e0838-dfd1-c442-414d-ad9ea6dc8f7d
* Content: [Understand data store models - Azure Application Architecture Guide](https://docs.

[2020-08-26 08:05] absheik commented on #2343
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#291546

[2020-08-26 09:21] PramodValavala-MSFT commented on #2341
@karpikpl Private Link allows for one to access PaaS services securely via a private endpoint from within a VNET. For this, Functions would have to be either deployed within a VNET (ASE) or leverage [VNET Integration](https://docs.microsoft.com/en-us/azure/app-service/web-sites-integrate-with-vnet) available to App Service Plans and the Functions Premium Tier.

[2020-08-26 11:04] karpikpl commented on #2341
Right, that was my point - the documentation is outdated, since with premium plan, either ASE or private link can be used.

Should I make a PR with a fix?

[2020-08-26 11:29] PramodValavala-MSFT commented on #2341
@karpikpl Thanks! Please feel free to create a PR for it. Here is the [contributing guide](https://docs.microsoft.com/en-us/contribute/) to help.

[2020-08-26 16:07] Cairn23 opened #2344 "Naming conventions of Icons"
We are doing some work with ARM templates and attempting to use the latest Icon sets.
The problem we are seeing is there is no consistence way in which the icons are named which can map to templates or schemas.
Please could it be considered .
 e.g Template schemas refer to Virtual scale sets as 'virtualMachineScaleSets', but the icon is buried in the Compute directory called "10034-icon-service-VM

[2020-08-26 16:07] absheik commented on #2344
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#291888

[2020-08-26 18:13] jyjohnson opened #2354 "aws-professional/services > Shared Files is missing AWS FSx"
Please add FSx for Windows and FSx Lustre (Linux).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30d02f16-9621-d204-4132-8ce8db79b0af
* Version Independent ID: 65b4385b-79f0-d842-d4a1-5d013615f9b1
* Content: [AWS to Azure services comparison - Azure Architecture Center](https://docs.microsoft.com/en-us/azure/architect

[2020-08-26 18:13] absheik commented on #2354
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#292000

[2020-08-27 02:48] PramodValavala-MSFT commented on #2354
@jyjohnson Could you please share the doc that you are referring to here?

[2020-08-27 02:55] jyjohnson commented on #2354
This Azure page - https://docs.microsoft.com/en-us/azure/architecture/aws-professional/services#storage

Should have these two AWS services:

FSx for windows: https://docs.aws.amazon.com/fsx/latest/WindowsGuide/what-is.html
FSx for linux: https://docs.aws.amazon.com/fsx/latest/LustreGuide/what-is.html

[2020-08-27 04:55] PramodValavala-MSFT commented on #2354
@jyjohnson Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2020-08-28 13:32] ckittel commented on #2343
Thank you @MartinDBakerCDW - we have this change stagged internally and will send it through the review process and update here with any status changes.

[2020-08-30 17:41] granmaester opened #2359 "Unnecessary network usage in this pattern?"
I wanted to understand this flow (quoted from the doc):

Why not just update the cache with the latest data rather than invalidating it? The next time, a call to the data store is not required. A network call can be saved

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67f58625-4e97-1fc6-197b-8b25341f5a4f
* Version Inde

[2020-08-30 17:41] absheik commented on #2359
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#293667

[2020-08-31 01:21] sharpboy2008 opened #2360 "Aug's link is not accessible"
[Enter feedback here]
all Aug's link is not accessible
here is one sample
https://docs.microsoft.com/en-us/azure/architecture_architecture-center-pr/docs/solution-ideas/articles/custom-business-processes

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0dd7bc22-da10-1d3b-ba22-7d5e374be441
* Version Independent ID: 9f466c

[2020-08-31 01:21] absheik commented on #2360
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#293774

[2020-08-31 05:01] PramodValavala-MSFT commented on #2359
@granmaester The first paragraph of the solution is for systems which provide read-through and write-through/write-behind operations, in which the extra network call isn't required.

The statements following that are for systems that do not provide these functionalities and describe what the application would have to do for similar results.

[2020-08-31 05:35] granmaester commented on #2359
@PramodValavala-MSFT I see, the distinction was not obvious.

[2020-08-31 05:35] #2359 closed

[2020-09-03 08:54] cyberjacob commented on #2360
This is affecting all links on the changelog page, appears to have been caused by 3c14132

[2020-09-03 08:57] cyberjacob commented on #2360
Actually, would suggest closing this as a duplicate of #2342

[2020-09-03 08:57] cyberjacob commented on #2342
This is affecting all links on the changelog page, appears to have been caused by 3c14132

[2020-09-03 13:13] atulghadge opened #2366 "Loan Credit Risk Solution"
Hi, I'm Atul and I'd love to check out the complete solution for the loan credit risk solution on Azure and then try and run it in Azure as well. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed6476ec-ceb9-cb1a-92dd-5dbe50b729a0
* Version Independent ID: 0081a02f-b8d0-0945-51e7-a9a53c47f66d
* Content: [Loan Cr

[2020-09-03 13:13] absheik commented on #2366
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#296031

[2020-09-04 13:57] harkinj opened #2367 "Layer is not necessarily a separate service/tier"
Hi,
Nice article.
the article seems to assume the anti-corruption layer will be implemented as a separate out of process  tier/service.
It doesn't necesessarily have to be and the issues mentioned such as latency/scalability may then disappear.
John

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50b204d4-aa9e-127b-5d80

[2020-09-04 13:57] absheik commented on #2367
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#296596

[2020-09-04 17:53] himanshusinha-msft commented on #2367
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-09-04 18:08] ChaitanyaNaykodi-MSFT commented on #2366
Hello @atulghadge,  Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-09-04 18:50] justPaulo opened #2368 "Bash shell script in "Create Dashboard" section doesn't work as expected"
[Output is: sed: 1: "/workspace/c\   \t\t\t" ...": extra characters after \ at the end of c command]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e17f2434-814c-4ebc-c05d-501566aa3c0f
* Version Independent ID: 6cf80861-2ab6-0c28-8a68-4f641491a61a
* Content: [Use dashboards to visualize Azure Databricks metrics - Azure

[2020-09-04 18:51] absheik commented on #2368
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#

[2020-09-04 18:52] justPaulo commented on #2368
You're welcome, it looks like a simple sed syntax error. I tried to manually perform the sed intent replacing the environment variables but didn't work as expected.

[2020-09-05 04:44] vishnuvg1984 opened #2369 "The Next Steps Section is looping towards same page"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78a7e7bd-23f3-a39f-9015-b77f14bb43e5
* Version Independent ID: 0ac34e7e-315f-2452-bf0a-74e9b1068c38
* Content: [Microservices architecture style - Azure Application Architecture Guide](https://docs.microsoft.com/en-us/azure/architecture/guide/architec

[2020-09-05 04:44] absheik commented on #2369
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#296985

[2020-09-08 12:15] Marhoon opened #2370 "Expand Solution"
[Enter feedback here]
I would like to see expand this article with more information (implementation details, pricing guidance, code examples, etc)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8cfcc112-0a30-557c-bf69-738c45b325d8
* Version Independent ID: 9385c916-ec7c-2f12-390b-80d136a16cb7
* Content: [Dynamics Busin

[2020-09-08 12:15] absheik commented on #2370
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#298150

[2020-09-08 16:46] abhirockzz opened #2371 "The link to the MS Ignite session does not work"
The doc links to this session - https://myignite.techcommunity.microsoft.com/sessions/81060?source=sessions but it's not available

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09011510-4353-7237-6d31-e6451449d03f
* Version Independent ID: ac4f2053-f2a0-985a-1111-a44293192663
* Content: [Big data analytics with Azure

[2020-09-08 16:46] absheik commented on #2371
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#298264

[2020-09-09 04:16] PramodValavala-MSFT commented on #2371
@abhirockzz Thanks for catching that! Looks like the older sessions aren't available anymore but it's still available on [YouTube](https://www.youtube.com/watch?v=K9FYqprpzRE&t=1230&ab_channel=MicrosoftIgnite).

@absheik @orspod Would it be OK to update the link to point to YouTube instead?

[2020-09-09 06:29] orspod commented on #2371
@PramodValavala-MSFT - please update the link. Thanks all for your help.

[2020-09-09 06:29] niranjanlogin opened #2372 "Security & Privacy"
[Security & Privacy Framework for an organisation gets motivated by Security Standards, Practices and Frameworks.

In my opinion; instead of going ahead we are going backward in Security & Privacy area. If you look at the journey so far as following…

875+ Controls (Information Security, Cyber Security, Cloud Security, Privacy)
135+ Regulatory
130+ Technology Components
2600+ OEM Products
35+ Spec

[2020-09-09 06:29] absheik commented on #2372
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#298714

[2020-09-09 06:50] niranjanlogin opened #2373 "Security & Privacy"
[The possible business drivers for Security & Privacy can be as per following:

Sl. No. | Business Driver
-- | --
BD 1 | Protecting the Reputation of the Organization, ensuring that it is perceived as competent in its sector.
BD 2 | Providing support to claims made by the Organization about the competence to carry out its intended functions
BD 3 | Protecting the Trust that exists in Business Relat

[2020-09-09 06:50] absheik commented on #2373
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#298735

[2020-09-09 07:21] PramodValavala-MSFT commented on #2371
@orspod Thanks! Glad to help.

@abhirockzz We have worked up a PR to fix the link with the one I've shared earlier. Once merged, the change should reflect in a couple of hours.

[2020-09-09 07:27] #2371 closed

[2020-09-09 07:33] PramodValavala-MSFT commented on #2372
@niranjanlogin Thanks for the feedback! More intelligent systems are indeed the future and today we do have intelligence backed into [Azure Security Center](https://docs.microsoft.com/en-us/azure/security-center/security-center-intro), which is only going to get better.

[Security Alerts](https://docs.microsoft.com/en-us/azure/security-center/security-center-alerts-overview) and [Adaptive Applicat

[2020-09-09 13:01] PeterSmallbone opened #2374 "WVD Resources and Relationships Article"
Hello - I thought that the following article might be good to incorporate into this documentation: https://github.com/PeterSmallbone/WVD/wiki/WVD-(Windows-Virtual-Desktop)-Resources-and-Relationships

Thanks!
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f26be54d-0f67-5098-7839-98f5bb064188
* Version Independent ID: 18

[2020-09-09 13:02] absheik commented on #2374
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#298839

[2020-09-09 14:31] PeterSmallbone opened #2375 "Validation host pool"
This article is great! Have you thought of including a validation host pool as part of the architecture, as per https://docs.microsoft.com/en-us/azure/virtual-desktop/create-validation-host-pool

Thanks!
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f26be54d-0f67-5098-7839-98f5bb064188
* Version Independent ID: 187fa3c

[2020-09-09 14:31] absheik commented on #2375
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#298869

[2020-09-09 15:23] rwaal opened #2376 "Incorrect sentence: "Availability is can your users get to your workload when they need to.""
The following sentence, in the [Reliability chapter](https://docs.microsoft.com/en-us/azure/architecture/framework/#reliability), is not right: `"Availability is can your users get to your workload when they need to."`. Not sure what the author is trying to say there.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 111d

[2020-09-09 15:23] absheik commented on #2376
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#

[2020-09-09 17:08] ckittel commented on #2360
Closing due to dup identified #2342

[2020-09-09 17:08] #2360 closed

[2020-09-09 17:12] ckittel commented on #2342
Thank you all for bringing this to our attention.  The links have been corrected.

[2020-09-09 17:12] #2342 closed

[2020-09-09 17:15] ckittel commented on #2369
While they look the same, but buttom is different.  There does appear to be quite a bit of duplicate, but they do talk about different lens for the same general topic.  Took me a while to realize that as well 👍  I'm going to close, but if you feel there needs to be something else here, please do let us know.

[2020-09-09 17:15] #2369 closed

[2020-09-09 17:25] absheik commented on #2339
@t2kx, thanks for the list of Icons requested.  We recently published **Azure_Public_Service_Icons_V2** that contains some of Icons you were requesting like KeyVault etc.
We are continually reviewing these requests and updating our SVG files as these Icons are finalized for public release.

[2020-09-09 17:27] #2341 closed

[2020-09-09 17:27] ckittel commented on #2341
@karpikpl -- this has been fixed and the updated text will be deployed within the next 24 hours.  Thank you for your contribution.

[2020-09-09 17:33] ckittel commented on #2368
@justPaulo -- since the fix for this will be in mspnp/spark-monitoring repo, I've opened up a mirror of this ticket in that repo.  I'll close it here.

See & follow @ mspnp/spark-monitoring#108

[2020-09-09 17:33] #2368 closed

[2020-09-09 17:34] ckittel commented on #2228
@clemensv -- how does it look now?  We okay to close?

[2020-09-09 17:35] hallihan commented on #2366
Hi @atulghadge , thanks for your feedback.  We're tracking the expansion of this article on our backlog.

[2020-09-09 17:35] #2366 closed

[2020-09-09 19:14] ChaitanyaNaykodi-MSFT commented on #2367
Hello @harkinj, sorry for the delay in my response. We have assigned this issue to the author to review further and take the next course of action.

[2020-09-10 14:16] PramodValavala-MSFT commented on #2372
@niranjanlogin I hope me previous comment helps. This repo is primarily to address doc related feedback. So, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please feel free to share your feedback about having more intelligent security systems [here](ht

[2020-09-10 14:16] #2372 closed

[2020-09-10 16:53] kudlatiger opened #2377 "How to do custom routing?"
[What if I want to have custom routing instead of load balancer routing?]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b8e780c-8b2b-f579-d380-a33cb76f0e82
* Version Independent ID: e666a3fc-cb2e-30a8-c4ab-b8db700e05cb
* Content: [IaaS: Web application with relational database - Azure Architecture Center](https://doc

[2020-09-10 16:54] absheik commented on #2377
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#299612

[2020-09-10 18:49] #2376 closed

[2020-09-10 19:45] ckittel commented on #2377
@kudlatiger thanks for the question; can you say more about your situation?

I'll take a stab at your question, but I might be off the mark here without the added context.  Let me know.

Thought 1:
Azure Application Gateway can perform layer-7-based traffic routing needs, of course if the destination of that decision in AAG is Azure Load Balancer, you're simply routing to a uniform set of services

[2020-09-10 22:11] kristianjaeger opened #2378 "Please expand the article "Machine Learning model training with AKS" with more details"
Please expand this article with moreinformation (implementation details, pricing guidance, code examples, etc),
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c04a7e7b-ebe4-b967-3cd1-fab859a9a43f
* Version Independent ID: 3368462d-475c-2a21-07db-c23b557c5144
* Content: [Machine Learning model trai

[2020-09-10 22:11] absheik commented on #2378
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#

[2020-09-11 17:31] yashesvi opened #2379 "What about Azure reservations and Azure hybrid benefits to save costs? That should be mentioned on these docs....?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff40c714-9fda-c2ac-0a3c-63c246a9b773
* Version Independent ID: 6d3e4e6e-3a65-c181-7d45-90a59013e756
* Content: [Principles of cost optimization - Azure Architecture Center](https://docs.microsoft.com/en-us/azure/architecture/framework/cost/overview)
*

[2020-09-11 17:31] absheik commented on #2379
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#300814

[2020-09-11 21:21] MilfordSound opened #2380 "Data Bricks and Key Vault Stencils Missing?"
I don't see "Data Bricks" or "Key Vault" stencils in this collection.

Any plans on adding them?

Thanks,

Sean

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6624d44c-f9f6-02f8-2c67-0f0637fed62e
* Version Independent ID: 9346a8ff-bab5-be2c-9dc1-d546fda1efa9
* Content: [Azure Icons - Azure Architecture Center](https://

[2020-09-12 04:18] kudlatiger commented on #2377
Thanks @ckittel . Let me add a real-time use case.

I have a database which has mapping as shown below

  Customer ID            App Gateway IP      Region
  ----------------------------------------------------
   1 to 100               10.0.0.1                      West US
   100 to 200           10.0.0.2                      West US
   201                      10.0.0.3                      West

[2020-09-14 14:49] alwell-kevin opened #2381 "devsecops-in-github missing reference to Token Scanning"
The documentation on https://docs.microsoft.com/en-us/azure/architecture/solution-ideas/articles/devsecops-in-github is missing a reference to GitHub Advanced Security [native Token Scanning](https://docs.github.com/en/github/administering-a-repository/about-secret-scanning) capability.

It would also be great if we could segment the capabilities that are relevant to GitHub Open Source, GitHub Ent

[2020-09-14 14:50] absheik commented on #2381
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#301792

[2020-09-14 17:39] AlbozDroid opened #2382 "The "more scalable" architecture seem incomplete."
Hello, the following documentation seems incomplete to me.

How do we scale the Database to multiple regions? Read/Write to more than one region.

Redis is just one piece of the puzzle for the web session.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0086ec3a-1c25-966d-da07-7cf4258e187f
* Version Independent ID: f96d

[2020-09-14 17:40] absheik commented on #2382
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#

[2020-09-14 20:51] zojovano opened #2384 "Broken links in Well Architected Framework - Security"
Broken links in the main navigation menu of https://docs.microsoft.com/en-us/azure/architecture/framework/:
- Well Architected Framework -> Security -> Tradeoffs (the link points to https://docs.microsoft.com/en-us/ )
- Well Architected Framework -> Security -> Checklist (the link points to https://docs.microsoft.com/en-us/ )
(as of 14th of Sept, 22:48H CET)

Edited: Added doc metadata info

---
#

[2020-09-14 20:51] absheik commented on #2384
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#302031

[2020-09-14 21:01] zojovano commented on #2384
I discovered few more broken links: Well Architected Framework -> Security -> Test -> Penetration Testing (and all links below "Test")

[2020-09-15 05:51] The-Violinist opened #2385 "Typo"
The second section of this page has the word "dingle" where I assume it is meant "single".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee907a51-a7f2-16b6-7c61-e5b09f14229f
* Version Independent ID: 4725a038-dcf1-efee-bc9e-86d3322d52d0
* Content: [Security with identity and access management (IAM) in Azure - Azure Ar

[2020-09-15 05:51] absheik commented on #2385
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#302235

[2020-09-15 11:35] dhawallseth opened #2387 "Keys Icon is corrupted or missing"
Azure_Public_Service_Icons_V2.zip\Azure_Public_Service_Icons\Security\00787-icon-service-Keys.svg is corrupted or missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6624d44c-f9f6-02f8-2c67-0f0637fed62e
* Version Independent ID: 9346a8ff-bab5-be2c-9dc1-d546fda1efa9
* Content: [Azure Icons - Azure Architecture Cente

[2020-09-15 11:35] absheik commented on #2387
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#302367

[2020-09-15 12:20] PramodValavala-MSFT commented on #2385
@The-Violinist Thanks for catching that! We have worked up a PR to address this, which once merged should reflect in a couple of hours.

[2020-09-15 12:25] #2385 closed

[2020-09-15 17:03] bfontana6 opened #2388 "How is SignalR used"
I would love to see more about the SignalR implementation details

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3bee659-9929-c4e8-3f4c-de328edcab1c
* Version Independent ID: 7747dfe6-f1df-d54a-e703-128d0bad2697
* Content: [Instant Broadcasting on Serverless Architecture - Azure Solution Ideas](https://docs.microsoft.

[2020-09-15 17:03] absheik commented on #2388
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#302494

[2020-09-15 17:17] cnadler-MSFT opened #2389 "Reverse admin sync guidance"
Recommending reversing the guidance regarding separating on-prem and cloud-only accounts.  The guidance is to avoid synching cloud-only accounts to on-prem vs the recommendation should be avoid synching on-prem admins to cloud-only.  As stated, AAD Connect has a default rule that won't sync an admin account (admincount = 1 I believe), but another poor practice I've seen is a customer has an additi

[2020-09-15 17:18] absheik commented on #2389
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#302498

[2020-09-16 04:39] cnadler-MSFT opened #2390 "Azure virtual network subnets link appears to be incorrect"
Resolves to https://almbok.com/office365/microsoft_cloud_it_architecture_resources which has nothing to do with the topic.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f78e284-fb28-8ac2-0ce6-590b48c74a45
* Version Independent ID: 3baed527-6023-bc26-d3f9-9fda0a43925e
* Content: [Network security and containment in Az

[2020-09-16 04:39] absheik commented on #2390
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#302792

[2020-09-16 08:31] torarve opened #2391 "Change name to Strangler Fig Application"
Martin Fowler has changed the name to Strangler Fig Application to avoid the violent connotation. From his own revision comment:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b580bcd-bba9-0799-6f9f-4b0e2ae9739f
* Version Independent ID: 6603e60e-ad3b-9aec-0633-eed88c218561
* Content: [Strangler pattern - Cloud Design

[2020-09-16 08:32] absheik commented on #2391
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#302971

[2020-09-16 09:28] NNITarchitectureQHS opened #2392 "Icons too small"
All icons seem to be 18x18 px. in default rendering size. This makes them less usable when used from Windows Explorer. Using PowerToys SVG thumbnail and SVG previewer function in Windows Explorer the icons appears very blurry when Explorer is set to show the content of the directory as medium or larger icons ... the blurry-nes makes it very hard to find the right icon.

The previous CNE_Symbols di

[2020-09-16 09:28] absheik commented on #2392
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#302992

[2020-09-16 15:15] absheik commented on #2392
@NNITarchitectureQHS, your request to consider removing the canvas size from the files or make it considerably larger e.g. 96x96 or even bigger is being reviewed.  We will try to incorporate it in an upcoming release.  Thanks for your feedback.

[2020-09-16 15:15] #2392 closed

[2020-09-16 15:20] timwebster9 opened #2394 "Visio download is wrong diagram"
If you download the visio diagram, it is not the one with shared services, but rather the one without from this page: https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/hybrid-networking/hub-spoke

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87139748-938e-638e-de1f-94f8becfe1da
* Version Inde

[2020-09-16 15:20] absheik commented on #2384
@zojovano, thanks for creating issue.  There appears to be a a difference in the version of TOC and the content.  We will try and fix it ASAP.

[2020-09-16 15:20] absheik commented on #2394
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#303109

[2020-09-16 15:27] absheik commented on #2387
@dhawallseth, thank you for creating the issue.  I am able to open it in Inkscape, however I am unable to import in to Visio, we will track this bug internally and fix it in the next iteration.

[2020-09-16 15:27] #2387 closed

[2020-09-16 15:29] absheik commented on #2339
closing this issue as we are doing an all up review of Icons based on all the issues opened on the topic so far.

[2020-09-16 15:29] #2339 closed

[2020-09-16 15:33] absheik commented on #2344
@Cairn23, thank you for reporting the issue.  We did not intend for these Icons to be used in ARM template automation.  However this a good scenario that you have called out.  We will take this in to our backlog.

[2020-09-16 15:33] #2344 closed

[2020-09-16 15:36] absheik commented on #2275
@michaelcretzman, we have PNG icons in our backlog.  I am reviewing all open icon issues to summarize for our next quarter plan.

[2020-09-16 15:36] #2275 closed

[2020-09-16 15:39] absheik commented on #2249
Visio Stencils are available for the Web version of Visio.
Blog post written by @Shefali Birla:
https://techcommunity.microsoft.com/t5/visio-blog/visually-represent-your-azure-architecture-using-the-latest/ba-p/1634509

[2020-09-16 15:39] #2249 closed

[2020-09-16 15:42] #2242 closed

[2020-09-16 17:05] #2252 closed

[2020-09-16 17:12] absheik commented on #2379
@yashesvi, thanks for creating the issue.  We are trying to differentiate the Principles for Cost Optimization and the actual tasks and opportunities to accomplish those principles.    If you look at Design, Provision, Monitor, optimize and tradeoff's section in the TOC, you will see the discussion on when to use what.

[2020-09-16 17:12] #2379 closed

[2020-09-16 17:17] absheik commented on #2378
@kristianjaeger,thanks for creating the issue, we have added this request to our backlog as a data point for prioritizing Solution Ideas articles to expand on.

[2020-09-16 17:17] #2378 closed

[2020-09-16 17:20] absheik commented on #2394
@timwebster9, please note that the diagram you are interested in is in the Share Services folder.  There are three tabs in the Downloaded visio file.

[2020-09-16 17:20] #2394 closed

[2020-09-16 17:28] absheik commented on #2332
@puneetsaha, thanks for creating issue.  We will take your interest in anomaly detection as a user voice input to our prioritization signal for expanding on these Solution ideas.

[2020-09-16 17:28] #2332 closed

[2020-09-16 17:33] hallihan commented on #2301
@RoozbehBandpey Thanks for your feedback on this Solution Idea.  We're tracking this on our backlog for possible expansion.  Please also check out the following related topics in the HDInsight docs:
https://docs.microsoft.com/en-us/azure/hdinsight/hadoop/apache-hadoop-etl-at-scale
https://docs.microsoft.com/en-us/azure/hdinsight/hadoop/apache-hadoop-using-apache-hive-as-an-etl-tool

[2020-09-16 17:33] #2301 closed

[2020-09-16 17:41] hallihan commented on #2313
@sumisamm Thanks for your feedback.  We're tracking all feedback for expansion of Solution Ideas on our backlog.  Please also check out this sample that shows how to publish events to Event Grid:
https://docs.microsoft.com/en-us/samples/azure-samples/event-grid-dotnet-publish-consume-events/event-grid-dotnet-publish-consume-events/

[2020-09-16 17:41] #2313 closed

[2020-09-16 17:41] absheik commented on #2292
@tejinderrai, thank you for creating the issue.  Excellent question.  We cover Governance extensively as a step in the Microsoft Azure Cloud Adoption Framework - [Govern](https://docs.microsoft.com/en-us/azure/cloud-adoption-framework/govern/).
Our objective is to get the customer setup for Governance at an organization level.  A workload that will be assessed and improved using the Azure Well Arc

[2020-09-16 17:41] #2292 closed

[2020-09-16 17:48] hallihan commented on #2326
Thanks @franklesniak this is a great suggestion, we're adding an item to our backlog to address this.

[2020-09-16 18:13] neilpeterson commented on #2384
Thanks @zojovano, it appears that this content was not quite complete. We are removing the TOC entries for now. This should be complete by end of day.

[2020-09-16 18:26] absheik commented on #2294
@MepMS, offline refers to not represented in the diagram, or discussed by the article.  Poor choice of a word.  I will update the content.

[2020-09-16 18:36] #2294 closed

[2020-09-16 19:38] #2296 closed

[2020-09-16 22:01] cloudmelon opened #2395 "Clarification AD DS replication ( bidirectional sync )"
Quite interesting reading through the architecture : https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/identity/adds-extend-domain#deploy-the-solution

I am in particular interested in the AD DS replication and bi-directional sync part, however need more clarifications on this part, the following aren't enough to let readers get proper understanding on the topic.

Azure G

[2020-09-16 22:01] absheik commented on #2395
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#303326

[2020-09-16 22:41] kristianjaeger commented on #2378
Thanks, @absheik !

[2020-09-17 01:50] Kevdome3000 opened #2396 "Finance management apps using Azure Database for MySQL solution"
I am very much interested in seeing implementation details, pricing guidance, code examples, as well as guidance on the best services to use within the Azure Eco System for this type of product.

Specifically for providing a user with real-time analytics, forecasts, and benchmarks against their peers regarding their spending behaviors.

This would be based on a data store of their historical trans

[2020-09-17 01:51] absheik commented on #2396
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#303387

[2020-09-17 15:19] zojovano commented on #2384
thanks for the update

[2020-09-17 16:23] Karishma-Tiwari-MSFT commented on #2395
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-09-17 16:44] JimMoyle opened #2397 "FSLogix single disk"
I think it's much more appropriate to to recommend two containers than one as using one container means you miss out on several features.

This also drives the advice below to only have one session, this misses out on a great deal of scenarios.

The docs should not be so prescriptive.

Jim
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2020-09-17 16:44] absheik commented on #2397
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#303646

[2020-09-17 20:16] ingd opened #2398 "Update this documentation to Az module"
Hello guys,

This documentation should be updated to az module. :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61c1b093-200e-8d59-0e6e-98f510dca5f6
* Version Independent ID: db6fcf0f-1a88-b216-4c08-a83c4128b4fa
* Content: [Extend an on-premises network using ExpressRoute - Azure Architecture Center](https://docs.mic

[2020-09-17 20:16] absheik commented on #2398
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#303933

[2020-09-17 20:26] abdale opened #2399 "Installation instructions"
I was redirected to this page from [here](https://www.microsoft.com/en-us/download/details.aspx?id=41937), where it said under "install instructions" that you will find installation instructions on this page. But this page doesn't have any installation instructions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6624d4

[2020-09-17 20:26] absheik commented on #2399
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#303942

[2020-09-18 03:59] PramodValavala-MSFT commented on #2399
@abdale the icons are now general-purpose SVG icons which you could copy/paste or drag/drop anywhere. No instructions needed compared to a Visio Stencil like before.

[2020-09-18 13:37] abdale commented on #2399
Understood. That's what I ended up doing as well. Perhaps the [initial page](https://www.microsoft.com/en-us/download/details.aspx?id=41937) which points to this page by saying "Go to https://docs.microsoft.com/en-us/azure/architecture/icons/ and follow the instructions there.
" should be updated, but I understand that's not a docs page.

Thanks!

[2020-09-18 13:37] #2399 closed

[2020-09-18 18:49] NebV opened #2401 "Exclusions"
Please provide more information on what folders to exclude and include as part of the redirections.xml.  You specifically say not to exclude %appdata%\Microsoft\Teams, but what folders can we exclude? It contradicts what I've found in the following article which excludes several folders within %appdata%\Microsoft\Teams.  Our FSLogix profile folders are getting very large (10-20 GB) and we need to

[2020-09-18 18:49] absheik commented on #2401
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#304570

[2020-09-19 00:52] bigdatamoore opened #2402 "Typo in doc"
There is a typo here:

“Access to the Azure Database workspace is controlled using the administrator console.“

Should be:

“Access to the Azure Databricks workspace is controlled using the administrator console.“

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42385d9e-bf16-c83f-4cc4-bc7819b7c72a
* Version Independent

[2020-09-19 00:52] absheik commented on #2402
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#304672

[2020-09-19 13:06] mmitul1979 opened #2403 "Traffic Manager vs Front Door"
why can't we use the front door service instead of the traffic manager?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2442849c-9e87-56b2-dffd-5c8089e8132c
* Version Independent ID: 828da465-186b-f819-9575-ee51e8c83306
* Content: [Multi-tier web application built for HA/DR - Azure Example Scenarios](https://docs.micros

[2020-09-19 13:07] absheik commented on #2403
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#304760

[2020-09-19 13:15] mmitul1979 commented on #2403
![Capture](https://user-images.githubusercontent.com/60380205/93668096-0f844d80-faa8-11ea-9a32-921788eb01fb.PNG)
Here is my proposed architecture for the asp.net website with HA and DR.

[2020-09-19 17:20] AjayKumar-MSFT commented on #2402
@bigdatamoore, That's a good catch! Thanks for taking time to share your feedback on this. We will fix this shortly.

[2020-09-21 02:58] SokoloffMaxim opened #2404 "Attach the original visio diagram to this page"
Hi, can we have the original visio diagram attached to this page ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f491d2a8-2895-9075-29f2-fde88888b6b6
* Version Independent ID: d59e120b-9968-9212-571b-99345aa8fa83
* Content: [Multiple forests with AD DS, Azure AD, and Azure AD DS - Azure Example Scenarios](https://docs

[2020-09-21 02:59] absheik commented on #2404
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#305263

[2020-09-21 09:12] SokoloffMaxim opened #2405 "Diagram is confusing"
Hi there, diagram is confusing. Especially , when it comes to azure files/net app files.
It is no clear which subscription they belog to ? Dedicated spoke? HUB? WVD Spoke? Or both?
Can you please make it clear and place those azure files/net app files within a subscription boundaries..
Secondly , is that conceptually correct to place a Virtual Desktop subnet in the hub vnet?
According to CAF /ente

[2020-09-21 09:12] absheik commented on #2405
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#305396

[2020-09-21 15:54] bacmodung opened #2406 "hihi"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08d24b72-655e-f9fe-1861-acc1c160f485
* Version Independent ID: afeb6a58-7064-33f7-5532-65c2f2aa6fde
* Content: [IoT Connected Platform for COVID-19 detection and prevention - Azure Solution Ideas](https://docs.microsoft.com/en-us/azure/architecture/so

[2020-09-21 15:55] absheik commented on #2406
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#305627

[2020-09-21 21:51] ckittel commented on #2406
@bacmodung I'm going to close this issue.  If you have more content to add, please go ahead and open a new issue.  Thanks.

[2020-09-21 21:51] #2406 closed

[2020-09-22 04:48] steinrr opened #2408 "Naming error in drawing and Visio file"
There might be some errors in both the online drawing and the Visio file.

Because the workload in the "Disconnected Subscription" is called "Workload 2", it might seem that:

* Should the public IP address in the "Disconnected Subscription" be "Wkld 2 public IP address" and not "Wkld 1 public IP address"?
* Should the Azure Bastion name in the "Disconnected Subscription" be "Wkld 2 Azure Bastion"

[2020-09-22 04:48] absheik commented on #2408
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#305951

[2020-09-22 12:29] #2343 closed

[2020-09-22 12:31] ckittel commented on #2343
This change has been made and is scheduled to go out sometime in the next 24 hours.  Thanks.

[2020-09-22 15:42] clintonwford opened #2409 "Updated Diagram with new Azure Databricks Logo"
Hi, could you help me update the Azure Databricks logo on the [Real Time Analytics on Big Data Architecture](https://docs.microsoft.com/en-us/azure/architecture/solution-ideas/articles/real-time-analytics) reference architecture diagram? I have created an [updated architecture diagram image](https://drive.google.com/file/d/1ij7lT4BKzMrOit3MlyGH7ySA1J6yWoL_/), using the [new Databricks icon](https:

[2020-09-22 15:42] absheik commented on #2409
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#306393

[2020-09-23 16:22] #2265 closed

[2020-09-23 17:11] parasparekh opened #2412 "Oracle database migration overview"
In the Migration decision tree I don't see the option to migrate Oracle databases to SQL Server Azure VM. Is this option for migration not recommended for customers ? I have a customer who is looking to migrate the Oracle databases for their Deltek Costpoint and Kronos (ERP systems), so I was thinking if SQL on Azure VM is a potential migration path for them but I don't see it in the decision tree

[2020-09-23 17:12] absheik commented on #2412
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#308176

[2020-09-23 17:19] parasparekh commented on #2412
Is there a timeline of when the documentation will get updated ?

[2020-09-24 04:20] abhijeetdalal opened #2413 "How is this asynchronous?!"
I am not able to understand how this is asynchronous? From the example diagram it clearly sends a response status on the first call! The status check call is for post processing!
I may be completely wrong on understanding the complete picture, but are we saying server side asynchronous operation makes client server asynchronous?!

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2020-09-24 04:20] absheik commented on #2413
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#308693

[2020-09-24 10:48] PramodValavala-MSFT commented on #2413
@abhijeetdalal While a response is returned immediately, it is not the final response expected from the initial call. The immediate response contains additional information on how to monitor the state of the actual request while it is being processed behind the scenes.

Normally, the original call would have to wait for processing to complete having to keep the underlying TCP connection open, whic

[2020-09-24 11:14] WillEastbury commented on #2413
I'd concur with Pramod's comment. The overall request reply pattern is asynchronously processed in line with the description.

The initial response is simply an acknowledgement that the request has been recieved, but not yet processed.

[2020-09-24 14:57] VitalyMCT opened #2414 "Reference to "availability""
I think this sentence was intended to say "availability set".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c00d25f-b981-29e3-bd64-865fda0b0d33
* Version Independent ID: 36bcc6f0-0fa4-df9c-cff5-4fdfb3460432
* Content: [Windows N-tier application on Azure - Azure Architecture Center](https://docs.microsoft.com/en-us/a

[2020-09-24 14:57] absheik commented on #2414
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#

[2020-09-25 15:53] #2414 closed

[2020-09-25 22:24] reecebradley opened #2415 "Access Token Management"
Recently, a new NuGet package has entered the space of dealing with this problem of caching tokens. I think this could be part of the solution of the problems stated here.
[IdentityModel.AspNetCore](https://github.com/IdentityModel/IdentityModel.AspNetCore)
Its weird no library like this is in the MS arsenal but hey, IdentityModel is pretty well known at this point. Maybe this will help the next g

[2020-09-25 22:24] absheik commented on #2415
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#310529

[2020-09-28 05:22] BhargaviAnnadevara-MSFT commented on #2414
@VitalyMCT Thank you for catching that error in the docs! We have updated the docs to reflect the same.

[2020-09-28 14:23] ashithraj opened #2416 "expand data cache to cover api response caching with cosmos and SQL databases"
Please expand data cache architecture and design to cover API response caching, Caching data from cosmos and Azure SQL databases.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8147492d-6f95-4d66-830c-022d63835610
* Version Independent ID: 5cf7b942-0bfa-bb7d-d824-b157e60840df
* Content: [Data cache - Azure Solution Ide

[2020-09-28 14:24] absheik commented on #2416
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#311959

[2020-09-28 16:49] pcgeekus opened #2417 "Missing Azure Equivalent to Macie on AWS"
Document is Missing Azure Equivalent to Macie on AWS

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30d02f16-9621-d204-4132-8ce8db79b0af
* Version Independent ID: 65b4385b-79f0-d842-d4a1-5d013615f9b1
* Content: [AWS to Azure services comparison - Azure Architecture Center](https://docs.microsoft.com/en-us/azure/archite

[2020-09-28 16:49] absheik commented on #2417
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#312085

[2020-09-28 20:14] aschechter88 opened #2418 "Template validation ignores conditional deployment, complains about array-out-of-bounds"
I am trying to conditionally deploy a block of resources based on an array in a parameter that has a default value of `[]`. My resource condition is `[not(empty(parameters('myArray'))]`. I keep getting `property array index out of bounds` errors during validation, except that...the array is supposed to be empty and the entire block should be skipped.

Is the validator sophisticated enough to do th

[2020-09-28 20:14] absheik commented on #2418
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#312284

[2020-09-30 13:41] USMA56795 opened #2420 "Can you provide a Visio stencil set for download?"
The SVG icons are great, but have to be inserted one at a time into Visio to use them.  Could you provide a Visio stencil file with these icons for use in the desktop client?

Ideally Visio would have the ability to bulk import SVGs to create stencil files.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6624d44c-f9f6-0

[2020-09-30 13:41] absheik commented on #2420
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#313893

[2020-10-02 09:03] vkumargit17 opened #2423 "Spelling correction needed"
Under the **Alternatives** section, first bullet point has 'considrered' misspelled and needs updating to 'considered'
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f10895e-4e1d-1cdd-2d57-32880e0cc45a
* Version Independent ID: 3518d0a5-ffd1-dfa7-6d6b-de2a9ef170d6
* Content: [Azure data platform end-to-end - Az

[2020-10-02 09:03] absheik commented on #2423
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#314961

[2020-10-05 03:15] PramodValavala-MSFT commented on #2413
@abhijeetdalal Just following up here... Hope our previous comments clear things up.

Since there is no doc update required here, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-10-05 03:15] #2413 closed

[2020-10-06 08:05] msandbu opened #2426 "NetApp Files on Azure"
can you please update this section here for Azure NetApp Files Currently, up to 1000 IP connections per active VNet are possible. This also includes VNET Peerings as well. To VNET + Peered VNETs (1000 IP's in total)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6386653c-9f82-1ea7-8f29-377be4e5e3b7
* Version Independen

[2020-10-06 08:05] absheik commented on #2426
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#317375

[2020-10-06 12:14] cathrinew opened #2428 "References "Redgate Data Platform Studio" which is no longer available"
The note under [Data Pipeline](https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/data/enterprise-bi-synapse#data-pipeline) references Redgate Data Platform Studio, which is [no longer available](https://www.red-gate.com/blog/database-development/loading-data-into-sql-data-warehouse).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2020-10-06 12:15] absheik commented on #2428
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#

[2020-10-07 19:07] JayWitt opened #2435 "App Gateway flow is incorrect"
I have been able to prove that the App Gateway (v2) doesn't use the front end IP address of the App Gateway as the source IP when communicating to the backend pool. It rather is using the IP address of the nodes. The document should be updated to reflect this. I have a note out of the PG to confirm if this is indeed the case but this is how it worked within my test environment.

As an example, my

[2020-10-07 19:07] absheik commented on #2435
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#318636

[2020-10-07 19:55] dr-riz opened #2436 "suitable store for storing large datasets of CSV files that also support parallel operations?"
What might be a suitable store for storing large datasets of CSV files that also support parallel operations?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5ac957c-9568-b3f0-d79e-72a36439bee9
* Version Independent ID: e89413dd-8815-3d38-d7f0-6a6d0268db1e
* Content: [Processing CSV and JSON files - Azure Architecture

[2020-10-07 19:55] absheik commented on #2436
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#318658

[2020-10-08 14:01] superman-lopez opened #2437 "Reference guide or hint on how to use Rolemanager with Azure AD for Application Roles"
The article lists 3 options on how to manage app roles.  2 of which are managed on the domain, rather than in the application.  For enterprise applications the developer would likely prefer the roles within the application rather than on its tenants domains.  The last paragraph (_Roles using an application role manager_) hints at using Rolemanager for this purpose, but no explanation is provided o

[2020-10-08 14:01] absheik commented on #2437
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#319126

[2020-10-08 16:13] absheik commented on #2423
https://github.com/MicrosoftDocs/architecture-center-pr/pull/1870 Fixes this.  @vkumargit17 thanks for creating the issue.

[2020-10-08 16:13] #2423 closed

[2020-10-08 18:51] absheik commented on #2402
Fixed

[2020-10-08 18:51] #2402 closed

[2020-10-09 19:34] Paul-Dempsey opened #2438 "Guidance on managing code analysis that flags static usage pattern"
This article describes a static usage pattern for HttpClient, which is an object that implements IDisposable.
This pattern will be flagged by Code Analysis because it doesn't call IDisposable::Dispose.

This documentation should have a note about managing the code analysis rules that are creating flags for this recommended usage pattern, Many people attempting to follow best engineering practices

[2020-10-09 19:34] absheik commented on #2438
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#319841

[2020-10-09 20:02] parasparekh commented on #2412
hello Abdul, just checking to see if there is an ETA on updated documentation.

[2020-10-10 08:36] sivaraman27 opened #2439 "Need scalable e-commerce web app implementation details, pricing guidance and code examples using Azure serverless"
Need scalable e-commerce web app implementation details, pricing guidance and code examples using Azure serverless

[2020-10-10 08:36] absheik commented on #2439
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#320045

[2020-10-10 09:23] AnuragSharma-MSFT commented on #2438
@Paul-Dempsey Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-10 17:17] erjosito commented on #2435
Hey @JayWitt Thanks for your feedback! However you wouldnt have had to check with the PG, that is what the document is saying. "The IP address 192.168.100.7 is one of the instances the Azure Firewall service deploys under the covers, here with the front-end IP address 192.168.100.4. These individual instances are normally invisible to the Azure administrator, but noticing the difference is useful

[2020-10-10 22:59] MartinJaffer-MSFT commented on #2439
@sivaraman27 issues raised here are generally for documentation feedback.  Is there a document this is in reference to?

[2020-10-12 13:00] JayWitt commented on #2435
There wasn't so much an error but I realize now how I got confused. Since there isn't a way for the customer to know what IPs are being used, they have to assign the whole subnet range to the NSG rule in order to allow the traffic to flow. I am going to mark this closed. Thanks.

[2020-10-12 13:00] #2435 closed

[2020-10-12 14:59] softcraftsman opened #2440 "Spoke-to-Spoke"
There is a lot of confusion around the fact that vnets are non-transitive. This statement about the VPN gateway adds to the confusion. I think it would best if it was expanded to explain how the VPN gateway will advertise the spoke vnets and route between them.

"You can also use a VPN gateway to route traffic between spokes, although this will have impacts in terms of latency and throughput. Also

[2020-10-12 14:59] absheik commented on #2440
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#320647

[2020-10-12 20:37] Ma3yTa opened #2441 "any alternative of Amazon Cloud Map?"
https://aws.amazon.com/blogs/opensource/aws-cloud-map-service-discovery-serverless-applications/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30d02f16-9621-d204-4132-8ce8db79b0af
* Version Independent ID: 65b4385b-79f0-d842-d4a1-5d013615f9b1
* Content: [AWS to Azure services comparison - Azure Architecture Center](ht

[2020-10-12 20:38] absheik commented on #2441
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#320888

[2020-10-13 06:14] PramodValavala-MSFT commented on #2439
@sivaraman27 Just following up here to see if there is a specific doc that you are referring to?

[2020-10-14 10:23] PramodValavala-MSFT commented on #2439
@sivaraman27 Since we have not heard back from you, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-10-14 10:23] #2439 closed

[2020-10-14 23:03] ediazrod opened #2442 "Visio File"
Will be great have visio file of this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f26be54d-0f67-5098-7839-98f5bb064188
* Version Independent ID: 187fa3ce-ade9-1b07-2af3-c874ec3d0aac
* Content: [Windows Virtual Desktop for the enterprise - Azure Example Scenarios](https://docs.microsoft.com/en-us/azure/architecture/

[2020-10-14 23:04] absheik commented on #2442
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#322398

[2020-10-15 12:42] robertwood62 opened #2443 "Azure Synapse Analytics is mislabeled. This should be Azure Synapse DW."
I'm not sure the diagram shown on the page reflects the actual product features and capabilities correctly.  For a start, Azure Synapse Analytics seems to be in the "model and serve" zone, but I think that should be shown as Azure Synapse DW (not Analytics).  The diagram also shows Data Bricks and Data Factory which are now part of Azure Analytics.  So That seems to be wrong also.  Why would you h

[2020-10-15 12:43] absheik commented on #2443
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#322643

[2020-10-15 15:17] herkyjerky opened #2444 "HDInsight has got autoscale since this article was published"
Looks like the text and matrix are outdated when it comes to autoscale features being available for the different technology.  since it's over a year old, there might be more inaccuracies.  here's the info for autoscale on HDI.

https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-autoscale-clusters

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2020-10-15 15:17] absheik commented on #2444
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#322708

[2020-10-19 13:51] chrispont opened #2447 "Visio file does not match pictured architecture"
When I download the visio file, the architecture is very different to what's displayed and does not contain a multi-region setup.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0c0c2a8-94a0-67ef-602a-6013bc7aa403
* Version Independent ID: 27705eeb-7853-bd5d-58ac-a07bd6a8a79d
* Content: [Highly available multi-region w

[2020-10-19 13:51] absheik commented on #2447
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#324153

[2020-10-20 19:47] djrdba opened #2448 "Workload Heavy writes, moderate reads for OLTP?"
I used to be a DBA and the normally the ratio of READS to WRITES ratio for any database is the other way i.e. typically 7 or more times reads I/O than write I/O
In your typically OLTP system a write will only be to put the details in once, however the record will be queried several times, even when going through the same screens. Not to mention over the years that data will exist.

Are you sure th

[2020-10-20 19:47] absheik commented on #2448
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#325033

[2020-10-21 08:40] lodivanelswijk opened #2449 "Error in Key icon in SVG icon set"
The `xlink` namespace declaration is missing in the `<svg>` element in the file 00787-icon-service-Keys.svg in the Azure icon set. This leads to rendering and import failures, e.g. Google Chrome displays the error _'Namespace prefix xlink for href on linearGradient is not defined' and Microsoft Visio shows an error dialog with the message _'Import of image file failed'_.

---
#### Document Details

[2020-10-21 08:40] absheik commented on #2449
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#325417

[2020-10-21 09:54] mimergel opened #2450 ""Deploy on Azure" template for SAP production workloads using an Oracle Database on Azure not working"
Hi,

the linked deployment on the documentation page
https://docs.microsoft.com/en-us/azure/architecture/example-scenario/apps/sap-production
doesn't work. The deployment leads to the following error:

"message": "Bereitstellungsinhalt kann nicht von \"https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/sap-3-tier-marketplace-image-md//shared/loadbalancer.json\" heruntergelad

[2020-10-21 09:55] absheik commented on #2450
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#

[2020-10-21 17:29] absheik commented on #2388
@bfontana6 , https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-concept-internals

[2020-10-21 17:29] #2388 closed

[2020-10-21 17:36] absheik commented on #2447
@chrispont , please look for the Multi-region TAB in the bottom of the Visio file.
This file contains the diagrams for three different scenarios.

[2020-10-21 17:36] #2447 closed

[2020-10-22 12:15] absheik opened #2451 "Porche EBC"
testing Issue automation

[2020-10-22 12:15] absheik commented on #2451
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#326051

[2020-10-22 12:19] #2451 closed

[2020-10-22 19:50] samyperis opened #2452 "Incorrect Visio diagram"
The Visio diagram referenced for download is incorrect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0c0c2a8-94a0-67ef-602a-6013bc7aa403
* Version Independent ID: 27705eeb-7853-bd5d-58ac-a07bd6a8a79d
* Content: [Highly available multi-region web application - Azure Architecture Center](https://docs.microsoft.com/en-

[2020-10-22 19:51] absheik commented on #2452
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#326243

[2020-10-22 19:52] #2452 closed

[2020-10-22 19:53] samyperis commented on #2452
Sorry, I overlooked the diagrams... my bad

[2020-10-23 13:20] c84170ms opened #2453 "Visio is not valid"
[Enter feedback here]
Hi Team,

The reference architecture visio diagram doesnt contain anything. Please upload valid one.

https://archcenter.blob.core.windows.net/cdn/azure-stack-vm-dr.vsdx

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7004da9f-5b68-9962-2bfb-628e66052c9e
* Version Independent ID: c2e11625-cc3a-2fe0

[2020-10-23 13:20] absheik commented on #2453
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#326646

[2020-10-23 18:48] absheik commented on #2418
@aschechter88 , please let us know which article this is referring to.

[2020-10-23 20:48] aschechter88 commented on #2418
@absheik Not sure what you mean. It's not a documentation gap. I think I was having trouble with template validation not recognizing a conditional statement over an empty array, and getting array index errors during validation. The validation engine was trying to tell me "hey you're running copyIndex() or something over a blank array, that's invalid" -- except that the block in question wouldn't e

[2020-10-24 02:54] akarimin opened #2455 "Event Sourcing described well"
very useful pattern

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d510272-fa5f-07f9-8b06-fb88d45d2464
* Version Independent ID: 578a488f-89a7-92cc-779f-b4906f6d731a
* Content: [Event Sourcing pattern - Cloud Design Patterns](https://docs.microsoft.com/en-us/azure/architecture/patterns/event-sourcing)
* Content Source

[2020-10-24 02:55] absheik commented on #2455
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#326963

[2020-10-24 02:56] #2455 closed

[2020-10-27 04:58] rkokomo opened #2458 "Could not select "Download Button" even though selected checkbox for "agree to the above terms""
[Enter feedback here]
I could not select "Download SVG icons" button even though selected "I agree to the above terms". I found, if locale is "ja-jp", URL is "https://docs.microsoft.com/ja-jp/azure/architecture/icons/", there are this issue. If locale is "en-us", URL is "https://docs.microsoft.com/en-us/azure/architecture/icons/" , there are no this issue.

---
#### Document Details

⚠ *Do not edi

[2020-10-27 04:58] absheik commented on #2458
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#

[2020-10-27 05:06] rkokomo commented on #2458
Thank you for your information. I'll close this issue.

[2020-10-27 05:06] #2458 closed

[2020-10-27 14:51] FranNev opened #2460 "Inconsistency?"
Hello,

Maybe I'm getting it wrong, but I feel there is a slight inconsistency in the beginning of this page.

"Many of these operational tasks can and should be automated. Using scripting technologies and related solutions, you can shift effort from manually performing operational tasks towards building automation for these tasks. **In doing so, you achieve so much**, including:

    **Increase t

[2020-10-27 14:51] absheik commented on #2460
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#328089

[2020-10-27 15:05] FranNev opened #2461 "Azure Functions"
Hello,

"**Azure Functions** allows you to run code without managing the underlying infrastructure on where the code is run. **Azure functions** provide a cost-effective, scalable, and event-driven platform for building applications and running operational tasks. **Azure functions** support running code written in C#, Java, JavaScript, Python, and PowerShell."

"Azure Functions" is sometimes writt

[2020-10-27 15:05] absheik commented on #2461
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#328098

[2020-10-27 16:01] neilpeterson commented on #2461
@FranNev thanks for opening this issue. You are correct the casing is not accurate and has been according to our style guide. Updates will be published later today.

[code]

In regards to your query, the instance Azure function is referring to the Azure service.

[2020-10-27 16:06] neilpeterson commented on #2461
PR has been merged, I will close this now. @FranNev if you need anythign else or want to re-open for any reason, feel free to do so.

![image](https://user-images.githubusercontent.com/7844635/97328811-9fe64880-1833-11eb-83d8-394067b2f514.png)

[2020-10-27 16:06] #2461 closed

[2020-10-27 16:20] neilpeterson commented on #2460
Thanks for this on @FranNev. Yep, this is confusing / wrong. I've updated:

Increase time to perform an action > Reduce time to perform an action.

This has been merged and shoul publish later today.

![image](https://user-images.githubusercontent.com/7844635/97330460-7fb78900-1835-11eb-9867-8148f519b538.png)

Thanks again for opening these issue, really appreciate you taking the time to do so.

[2020-10-27 16:31] FranNev commented on #2460
You're welcome @neilpeterson :)
I also noticed typos ("Daster start" => "Faster start", "Dunctions run" => "Functions run").

Also, this instruction seems unclear: "To configure scale-out operations for these services, while in the Azure portal, select the service, and then the Scaling or scale-out under the resource settings." As "scale-out" is a scaling type (with "scale-up"), it is strange to h

[2020-10-27 16:37] neilpeterson commented on #2460
Thanks. I will look at these items soon.

[2020-10-27 17:29] ChaitanyaNaykodi-MSFT commented on #2438
Hello @Paul-Dempsey, sorry for the delay in my response, we have assigned this issue to the author to review further and take the next course of action.
@dragon119, sorry for the delay.

[2020-10-27 17:47] FranNev opened #2462 "Unclear wording"
Hello,

"**Automation is the solution to reducing toil. By reducing it**, engineers can eliminate future toil and concentrate on innovating and automating business solutions."

If the wording "By reducing it" applies to "Automation", the clause is not logic: Automation should be developed, increased, so engineers can eliminate future toil.

Best regards,
François
---
#### Document Details

⚠ *Do n

[2020-10-27 17:47] absheik commented on #2462
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#328182

[2020-10-27 18:33] FranNev opened #2463 "Typo"
Hello, I think there is a typo here: "To see a Microsoft Incite video" => Should be: "To see a Microsoft Ignite video".

Best regards,
François

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 745e0224-7dde-67aa-eeb7-6a11a58cdf83
* Version Independent ID: 9258af0c-411c-210f-6efa-fd63e0c75f88
* Content: [Automation overvi

[2020-10-27 18:33] absheik commented on #2463
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#328218

[2020-10-27 21:47] neilpeterson commented on #2462
Thanks a bunch for taking the time to open this issue. Agreed on the wording, this has been updated and should publish later today or tomorrow.

[2020-10-27 21:47] #2462 closed

[2020-10-27 21:50] neilpeterson commented on #2460
The second set of updates have gone in, thanks again.

[2020-10-27 21:50] #2460 closed

[2020-10-27 21:59] neilpeterson commented on #2463
Thanks, this has been update and will publish today or tomorrow.

[2020-10-27 21:59] #2463 closed

[2020-10-28 09:49] steveculshaw opened #2464 "Is this up-to-date, as GitHub response says the code base is in sustain?"
Is this page up-to-date, as GitHub response says the code base is in sustain?
i.e. at  https://github.com/MicrosoftDocs/architecture-center/issues/2084#issuecomment-617326234

*@josem0287 Please don't use AZBB. The code base is in sustain and no further development is scheduled. *

It would be good to have at least an indication that it's no longer being developed

---
#### Document details

⚠ *Do

[2020-10-28 09:50] absheik commented on #2464
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#328757

[2020-10-28 13:02] mbellinasoUS opened #2465 "Link to Azure ML Experimentation Service seems to be pointing to wrong destination"
[Enter feedback here]
The link for "Learn more about Azure Machine Learning Experimentation Service" is pointing to an article about virtual network isolation and privacy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 947848c1-c1a3-4241-4ce0-e8743d539d17
* Version Independent ID: f0c88a85-6601-0361-9bd0-d80092582d0b
*

[2020-10-28 13:02] absheik commented on #2465
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#328811

[2020-10-28 13:51] SvenAelterman opened #2466 "Downloadable PNG and VSDX"
Please provide a downloadable PNG and VSDX file for this architecture.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f26be54d-0f67-5098-7839-98f5bb064188
* Version Independent ID: 187fa3ce-ade9-1b07-2af3-c874ec3d0aac
* Content: [Windows Virtual Desktop for the enterprise - Azure Example Scenarios](https://docs.microso

[2020-10-28 13:51] absheik commented on #2466
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#328838

[2020-10-28 16:31] #2465 closed

[2020-10-28 18:40] SvenAelterman opened #2467 "Missing icons"
Reporting additional missing icons:

- Private Endpoint
- Azure Container Registry

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6624d44c-f9f6-02f8-2c67-0f0637fed62e
* Version Independent ID: 9346a8ff-bab5-be2c-9dc1-d546fda1efa9
* Content: [Azure Icons - Azure Architecture Center](https://docs.microsoft.com/en-us/azur

[2020-10-28 18:41] absheik commented on #2467
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#329013

[2020-10-28 19:45] doodlemania2 commented on #2412
@parasparekh - we've got this in flight now

[2020-10-28 19:50] doodlemania2 commented on #2405
@christiaanbrinkhoff - could you take a look at this?

[2020-10-28 19:51] doodlemania2 commented on #2466
@christiaanbrinkhoff - can you take a look at this one?

[2020-10-28 19:55] amberz commented on #2412
parasparekh, in the decision tree, there is a option is for Azure VM, we didn't specific to point out to SQL Server VM. For sure, you would go SQL Server VM. Meanwhile, I want to share my thoughts, if customer can accept to do heterogeneous migration from Oracle Database to SQL, we normally suggest customer to to SQL DB/MI given that's platform as service offering, customer is no need to maintain

[2020-10-28 20:00] #2412 closed

[2020-10-28 21:23] NaomiOooo commented on #2442
Duplicate of #2466

[2020-10-28 21:23] #2442 closed

[2020-10-28 23:21] #2228 closed

[2020-10-28 23:22] JasRobe commented on #2237
https://docs.microsoft.com/en-us/azure/architecture/guide/technology-choices/data-store-decision-tree

[2020-10-28 23:23] #2237 closed

[2020-10-28 23:23] JasRobe commented on #2238
https://docs.microsoft.com/en-us/azure/architecture/guide/technology-choices/messaging

[2020-10-28 23:23] #2238 closed

[2020-10-29 06:54] yoichinak opened #2468 "Duplicate commerce chatbots"
2 Commerce chatbots appear in [Browse all Architecture](https://docs.microsoft.com/en-us/azure/architecture/browse/) . Both `Chatbot for hotel reservations` and `Commerce Chatbot` refer to `../../includes/cards/commerce-chatbot.md`.

[2020-10-29 06:55] absheik commented on #2468
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#329248

[2020-10-29 09:27] chinabilljin opened #2469 "Is any live demo available for this solution idea? from billjin@microsoft.com"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 041da9ff-57a4-916d-ae12-8b1e4fe77d44
* Version Independent ID: a56ac57e-3796-559f-261f-76061e0e4810
* Content: [Blockchain Workflow Application - Azure Solution Ideas](https://docs.microsoft.com/en-us/azure/architecture/solution-ideas/articles/blockch

[2020-10-29 09:27] absheik commented on #2469
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#329287

[2020-10-29 15:17] doodlemania2 commented on #2466
Fixed in next publish. Thanks!

[2020-10-29 15:17] #2466 closed

[2020-10-29 15:24] doodlemania2 commented on #2417
Thank you for the question. We don't have anything to add on the article regarding equivalence to AWS Macie at this time.

[2020-10-29 15:24] #2417 closed

[2020-10-29 22:51] jocontr commented on #2415
Thank your for your feedback. We will address this as a request to update our guidance. Thank you.

[2020-10-29 22:51] #2415 closed

[2020-10-29 23:12] jocontr commented on #2436
hi @dr-riz ; could you describe the parallel operations you are interested in pursuing?

[2020-10-29 23:29] jocontr commented on #2448
In the context of transactional operations; the article aims to identify certain IO behaviors. The context you are referring to where high reads occurs may be better described here: https://docs.microsoft.com/en-us/azure/architecture/data-guide/relational-data/online-analytical-processing

[2020-10-29 23:29] #2448 closed

[2020-10-30 19:11] RyanTBerry opened #2470 "Link to the Komatsu Story is no longer valid at the bottom of this page"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5c2b717-8cbb-8794-3a5c-3086e76f1717
* Version Independent ID: 6d6ea7d8-05ec-7903-1df5-6d3fc248a123
* Content: [IoT and data analytics - Azure Architecture Center](https://docs.microsoft.com/en-us/azure/architecture/example-scenario/data/big-data-with

[2020-10-30 19:12] absheik commented on #2470
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#330113

[2020-10-31 17:55] db0mz opened #2471 "This command is implicitly deprecated because command group 'group deployment' is deprecated and will be removed in a future release. Use 'deployment group' instead."
C:\Users\dbomgardner\Nexus Technologies Inc\Azure RM Templates\ntier-windows>azbb -s 80314534-8a20-4ecc-988a-f7ea09a45070 -g DanB -l westus2 -p n-tier-windows.json --deploy

  parameters written to C:\Users\dbomgardner\Nexus Technologies Inc\Azure RM Templates\ntier-windows\n-tier-windows-output-01.json

  parameters written to C:\Users\dbomgardner\Nexus Technologies Inc\Azure RM Templates\ntier-w

[2020-11-01 00:29] ChaitanyaNaykodi-MSFT commented on #2471
Hello @db0mz, Thank for reaching out. Can you please let me know the exact document where you found the issue mentioned above?

[2020-11-02 19:44] genarotre opened #2473 "No mention of Azure Logic Apps"
[Enter feedback here]
I didn't saw any mention of Azure Logic Apps a an option either to migrate o implement a new service. it is consider inside one of the other options?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 510808e8-db5d-6b07-9a04-6edb743a2dfc
* Version Independent ID: 20d098aa-ef31-cb26-d677-765cfc9a7164
*

[2020-11-02 19:44] absheik commented on #2473
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#330952

[2020-11-02 23:15] db0mz commented on #2471
This was script output from the command associated with the n-tier-windows deployment using azbb
azbb -s 80314534-8a20-4ecc-988a-f7ea09a45070 -g DanB -l westus2 -p **n-tier-windows.json** --deploy

[2020-11-02 23:16] db0mz commented on #2471
I'm trying to deploy the architecture here using the "Deploy this architecture"
https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/n-tier/n-tier-sql-server#deploy-the-solution

[2020-11-02 23:20] ChaitanyaNaykodi-MSFT commented on #2471
Thank you @db0mz . We have assigned this issue to the author to review further and take the next course of action.

[2020-11-02 23:41] db0mz commented on #2471
Many thanks!

[2020-11-03 08:49] gchatira opened #2474 "Business Central on Azure Implementation Details"
Good day Team Microsoft

I would love to get Dynamics Business Central on Azure implementation details with a good reference architecture too.
There seem to be a big demand for this solution here in Africa.
Will really appreciate your feedback.

Regards,

[2020-11-03 08:49] absheik commented on #2474
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#331229

[2020-11-03 19:12] v-aangie commented on #2437
@david-stanford — Possible articles with a solution for Azure AD as the identity provider for managing app roles on the tenant domains (not the app). Link to this?[https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-add-app-roles-in-azure-ad-apps] OR  https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-app-manifest#common-issues [Common issues](https://docs.

[2020-11-03 19:12] #2437 closed

[2020-11-03 19:14] v-aangie commented on #2437
@david-stanford — Possible articles with a solution for Azure AD as the identity provider for managing app roles on the tenant domains (not the app). Link to this? https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-add-app-roles-in-azure-ad-apps OR  https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-app-manifest#common-issues

[2020-11-03 19:25] TheAnnette opened #2475 "No link"
![image](https://user-images.githubusercontent.com/73908760/98031383-4e792300-1e0a-11eb-863c-fbda1a936407.png)

No link where is says click Here

[2020-11-03 19:25] absheik commented on #2475
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#331449

[2020-11-04 00:16] SvenAelterman commented on #2467
@absheik @doodlemania2  A few more:

- Shared Image Gallery
- Windows Virtual Desktop related:
    - Host pool
    - Application group
    - Workspace

[2020-11-04 00:33] BryanTrach-MSFT commented on #2475
@TheAnnette Thank you for your question. Can you please share with us the URL of the doc that you are having issues with?

Please note that we scope issues on this repro to feedback related to the docs. If you have a product question, please post it on Microsoft Q&A or Stack Overflow. Thank you for your understanding.

[2020-11-04 01:37] nvinod-net opened #2477 "Unable to view the three sample cost profiles"
Unable to view the three sample cost profiles. The pricing calculator loads an empty view.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5978df0f-98f5-f365-1912-48fc8c27566e
* Version Independent ID: 4f2b4216-1cc7-a267-eee4-d7716ce5ed03
* Content: [CI/CD pipeline for container-based workloads - Azure Example Scenarios

[2020-11-04 01:37] absheik commented on #2477
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#331608

[2020-11-04 04:54] DavidTaig opened #2478 "Warning changing FlipFlopProfileDirectoryName during Production required"
https://docs.microsoft.com/en-us/azure/architecture/example-scenario/wvd/windows-virtual-desktop-fslogix#best-practice-settings-for-enterprises
If you add **FlipFlopProfileDirectoryName** when in Production, it will create new profiles for all users, just not new users. Caused a SevA for one of our customers, as Users had a new profile instead of the original profile when login

---
#### Document

[2020-11-04 04:54] absheik commented on #2478
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#331758

[2020-11-04 09:40] DavidTaig opened #2479 "What AntiVirus exclusions correct. This Page or from MS Unified ticket 120102023002528?"
https://docs.microsoft.com/en-us/azure/architecture/example-scenario/wvd/windows-virtual-desktop-fslogix#antivirus-exclusions
What AntiVirus exclusions correct. This Page or from MS Unified ticket 120102023002528 below?

Exclude files:
•	%ProgramFiles%\FSLogix\Apps\frxdrv.sys
•	%ProgramFiles%\FSLogix\Apps\frxdrvvt.sys
•	%ProgramFiles%\FSLogix\Apps\frxccd.sys
•	%Windir%\TEMP\*.VHD(x)
•	%ProgramData

[2020-11-04 09:40] absheik commented on #2479
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#331950

[2020-11-04 09:44] TheAnnette commented on #2475
https://docs.microsoft.com/en-us/azure/architecture/solution-ideas/articles/predicting-length-of-stay-in-hospitals

From: Bryan Trach <notifications@github.com>
Sent: 04 November 2020 00:33
To: MicrosoftDocs/architecture-center <architecture-center@noreply.github.com>
Cc: Annette Garner <angarner@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/architecture-center]

[2020-11-04 13:50] larryclaman opened #2480 "Seems like the labels on the LB's are reversed"
Looking at the diagram on this page, it seems like the lb labels are reversed.
The "front" LB is labeled ILB, while the LBs in the tiers behind it are labeled "LB".
My understanding is that in Azure, we typically call la LB with a public IP a "Load Balancer", while a LB with a private IP is called an "Internal Load Balancer" or "ILB".   See:  https://docs.microsoft.com/en-us/azure/load-balancer/co

[2020-11-04 13:50] absheik commented on #2480
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#332004

[2020-11-04 15:15] anshuman-nath opened #2481 "Render Cycle of a payload"
[Enter feedback here]
Under "Caching" subsection, there's a statement which goes "Every render cycle of a payload will consume Compute & Memory". What is meant by Render Cycle of a payload ? Can you point me to any resource where I can read more on this concept ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8826a1c7-

[2020-11-04 15:15] absheik commented on #2481
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#332033

[2020-11-04 18:31] absheik commented on #2449
@lodivanelswijk, https://github.com/MicrosoftDocs/architecture-center-pr/pull/1999 will fix the image you have referred to.  Please wait for the pr to merge.

[2020-11-04 18:31] #2449 closed

[2020-11-05 12:37] msimecek opened #2482 "Typo "Identify provider" should be "Identity provider""
In the **Use Identity based storage access controls** section there's probably a typo in the sentence beginning:

It should be:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c34c47f2-1c90-5001-e848-6ac4ae9e33e6
* Version Independent ID: 4e9b11df-48b4-5eac-7bce-bb70ec91e384
* Content: [Storage, data, and encryption in

[2020-11-05 12:37] absheik commented on #2482
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#

[2020-11-05 14:00] #2482 closed

[2020-11-05 14:00] BhargaviAnnadevara-MSFT commented on #2482
@msimecek Thank you for catching that error in the docs. I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

[2020-11-05 20:19] doodlemania2 commented on #2405
@christiaanbrinkhoff -- double checking here sir.

[2020-11-06 17:12] absheik commented on #2467
a new zip file with additional Icons have been published through https://github.com/MicrosoftDocs/architecture-center-pr/pull/1999/

[2020-11-06 17:12] #2467 closed

[2020-11-06 17:17] absheik commented on #2250
Visio shapes are in the roadmap.  We are working with the Visio team.  No timeline to mention here though.  A new zip file with additional Icons have been published through https://github.com/MicrosoftDocs/architecture-center-pr/pull/1999/

[2020-11-06 17:17] #2250 closed

[2020-11-06 17:27] absheik commented on #2420
Visio stencils are on the roadmap.  Currently available for Visio Web as announced here.  https://techcommunity.microsoft.com/t5/visio-blog/visually-represent-your-azure-architecture-using-the-latest/ba-p/1634509.

A new version of the Zip file with SVG also published today.  https://docs.microsoft.com/en-us/azure/architecture/icons/

[2020-11-06 17:27] #2420 closed

[2020-11-06 21:30] JohnVisioMVP commented on #2250
The link is broken - 404
John…
From: absheik <notifications@github.com>
Sent: Friday, November 6, 2020 12:18 PM
To: MicrosoftDocs/architecture-center <architecture-center@noreply.github.com>
Cc: JohnVisioMVP <jmVisioMVP@live.ca>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/architecture-center] Azure Shapes (#2250)

Visio shapes are in the roadmap. We are working with the Visio

[2020-11-07 14:57] db0mz commented on #2471
so is there a way to track if this gets resolved?

[2020-11-09 08:42] meshayesh opened #2484 "Links need to be updated"
Hi Team, the links at the end of the article needs to be updated as it is giving me 404.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd6efdd9-5b74-3186-a8f9-ac482f1215f2
* Version Independent ID: e262bd4f-11f1-ab1c-ffb1-61361287464c
* Content: [Video-on-demand digital media - Azure Solution Ideas](https://docs.micro

[2020-11-09 08:43] absheik commented on #2484
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#333890

[2020-11-09 17:59] StingyJack opened #2485 "Can't automatically generate code?"
This would be more correct to say "CQRS and Entity Framework are not comparable, but CQRS can be implemented atop the things that Entity framework generates". It's also possible (and preferred) to use code generation to generate entities and some related CQRS code from only a database table with proper keys defined and skip EF entirely.

_(Sorry for the multiple edits, was reaching for the apostro

[2020-11-09 17:59] absheik commented on #2485
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#334120

[2020-11-09 18:07] StingyJack commented on #2485
@absheik  - I had to edit it a bit in case you need to transfer any of the updated text.

That link you posted is a 401.

[2020-11-09 20:53] neilpeterson commented on #2484
@meshayesh thanks for submitting this issue. These links have been updated and will publish later today.

[2020-11-09 20:53] #2484 closed

[2020-11-10 06:12] guruvonline opened #2486 "Missing icon for Azure Databricks"
Hi,
the example architecture diagram shows, Azure Databricks . But when I download all icons, i don't see icon for Azure databricks.

[2020-11-10 06:12] absheik commented on #2486
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#334503

[2020-11-10 08:11] RicardoNiepel opened #2487 "Outdated security pillar pages?"
Multiple links on this page link to pages which are not in the main navbar on the left side:
* https://docs.microsoft.com/en-us/azure/architecture/framework/security/role-of-security
* https://docs.microsoft.com/en-us/azure/architecture/framework/security/architecture-type
etc.

It is unclear if these pages are outdated or the navbar items are just missing.

---
#### Document Details

⚠ *Do not ed

[2020-11-10 08:11] absheik commented on #2487
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#334545

[2020-11-10 20:46] Leonardo-Ferreira opened #2488 "Can you expand on data flow item 8?"
I would like to know with more details how/if can Databricks output data to a CosmosDB that uses mongo API. Its the item number 8 on the architecture

Thank in advance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b4bb287-fa40-af1d-0af9-e8bc30cfb33e
* Version Independent ID: 12ab4c06-2e95-bb73-f62a-2d1eb79bc735
* Co

[2020-11-10 20:47] absheik commented on #2488
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#334859

[2020-11-10 20:51] josevarela commented on #2453
@c84170ms Thanks for reporting this issue. I uploaded a new file to the CDN and confirmed that it works properly.

[2020-11-10 20:51] #2453 closed

[2020-11-11 18:09] absheik opened #2489 "testing fixes for not assigning to Abdul"
test

[2020-11-11 18:09] absheik commented on #2489
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#335337

[2020-11-11 18:11] absheik commented on #2489
test completed

[2020-11-11 18:11] #2489 closed

[2020-11-11 20:49] EdPrice-MSFT commented on #2488
In progress.

[2020-11-11 20:52] EdPrice-MSFT commented on #2479
The list from the Hybrid Guide...

Exclude files:

ProgramFiles%\FSLogix\Apps\frxdrv.sys
%ProgramFiles%\FSLogix\Apps\frxdrvvt.sys
%ProgramFiles%\FSLogix\Apps\frxccd.sys
%TEMP%*.VHD
%TEMP%*.VHDX
%Windir%\TEMP*.VHD
%Windir%\TEMP*.VHDX
\\storageaccount.file.core.windows.net\share**.VHD
\\storageaccount.file.core.windows.net\share**.VHDX

Exclude processes:

%ProgramFiles%\FSLogix\Apps\frxccd.exe
%Pro

[2020-11-12 00:21] DeanGross opened #2491 "Inconsistent presentation of content"
This discussion of hybrid identity for azure stack is not consistent with the other identity architecture writeups. It would good if address security and all of the other topics that are mentioned in the other architectures

[2020-11-12 00:21] absheik commented on #2491
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#335505

[2020-11-12 20:52] EdPrice-MSFT commented on #2469
This is in progress.

[2020-11-13 11:23] ian-barlow opened #2492 "Sample code incorrect"
$hubPeerings = Get-AzVirtualNetworkPeering -ResourceGroupName $HubVNetRGName -VirtualNetworkName $HubVNetName

Generates an array but the following cmdlet requires a single input for -name parameter

Remove-AzVirtualNetworkPeering -VirtualNetworkName $HubVNetName -ResourceGroupName $HubVNetRGName -name $hubPeerings.Name -Force

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this

[2020-11-13 11:23] absheik commented on #2492
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#336181

[2020-11-13 17:50] neilpeterson opened #2493 "ARM Template Deployment Fails"
Assign to neilpeterson / nepeters.

Issue:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84bcf722-abb3-69b8-8073-15ae4a6890de
* Version Independent ID: 7b2010c6-696d-de66-8e56-8ac5d3e54526
* Content: [Basic web application - Azure Reference Architectures](https://docs.microsoft.com/en-us/azure/architecture/ref

[2020-11-13 17:50] absheik commented on #2493
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#336316

[2020-11-14 11:32] pbuzulan opened #2495 "No Nest Step section in Data considerations page"
Hi,

Next Step section is missing in [Data Consideration page](https://docs.microsoft.com/en-us/azure/architecture/microservices/design/data-considerations)
It should be connected to the next page which is [Design patterns for microservices](https://docs.microsoft.com/en-us/azure/architecture/microservices/design/patterns)

Basically the follow lines are missing in the first document:

[code]
It m

[2020-11-14 11:32] absheik commented on #2495
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#336588

[2020-11-16 05:34] khanzzirfan opened #2496 "Visio images is old not same as what show on this page"
[Enter feedback here]
Downloaded the visio image, but it not the same one as shown on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0c0c2a8-94a0-67ef-602a-6013bc7aa403
* Version Independent ID: 27705eeb-7853-bd5d-58ac-a07bd6a8a79d
* Content: [Highly available multi-region web application - Azure Architectu

[2020-11-16 05:34] absheik commented on #2496
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#336971

[2020-11-16 19:02] squassina opened #2497 "Document IoT pattern for Business Integration"
This document is pretty complete, but my team and I were looking deeper into this subject and we noticed that it covers generic patterns for IoT, but no mention to business integration. Does it make sense to add it here?

Integration to Field Service (Dynamics 365) could be a pattern to be described here.

We have created some internal documentation that could be included here with these informati

[2020-11-16 19:03] absheik commented on #2497
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#337286

[2020-11-16 20:16] squassina opened #2498 "IoT in Field Services"
This document is great! It would be very useful it there is a similar document with samples regarding Field Service.

Some example scenarios on Field services may be created taking this documentation as reference and also the example scenarios in [this link](https://docs.microsoft.com/en-us/azure/architecture/example-scenario/iot/introduction-to-solutions).

Does it make sense?

---
#### Document

[2020-11-16 20:16] absheik commented on #2498
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#337329

[2020-11-17 03:08] samuda2019 opened #2499 "Machine Learning model training with AKS"
Please provide code sample for this architecture.
https://docs.microsoft.com/en-us/azure/architecture/solution-ideas/articles/machine-learning-with-aks

[2020-11-17 03:09] absheik commented on #2499
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#337472

[2020-11-17 07:26] SumanthMarigowda-MSFT commented on #2497
@squassina Thanks for the question! We are investigating and will update you shortly.

[2020-11-17 07:29] SumanthMarigowda-MSFT commented on #2498
@squassina Thanks for the question! We are investigating and will update you shortly.

[2020-11-17 14:00] crichthammer opened #2500 "Minor typo in "context and problem" section"
Hi,

I just wanted to make you aware of a minor typo (or editing mistake) in the "context and problem" section. In the last sentence of the first paragraph, it says: "... and is likely to **accesses** storage and other services on behalf of the client."

However, it should be "... is likely to **access** storage ..."

Cheers
Christian

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-11-17 14:01] absheik commented on #2500
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#

[2020-11-17 14:27] SumanthMarigowda-MSFT commented on #2499
@samuda2019 Thanks for the question! We are investigating and will update you shortly.

[2020-11-17 15:18] fmigacz commented on #2381
Working on it today!

[2020-11-18 00:03] fmigacz commented on #2381
Rejected! No access! No access to Private repo 😪

[2020-11-18 10:08] KottosAdmin opened #2504 "Request for more detailed information"
The links for further information at the end of the article ( https://docs.microsoft.com/en-us/azure/architecture/solution-ideas/articles/medium-umbraco-web-app ) lead to 404 Page Not found errors.  It would be nice if complete documentation was available.

[2020-11-18 10:08] absheik commented on #2504
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#338187

[2020-11-18 22:55] sameer-kumar opened #2506 "Azure WebApp private database connectivity"
While looking for solution of my use case, I was brought into this page [here](https://docs.microsoft.com/en-us/azure/architecture/example-scenario/private-web-app/private-web-app).
However this is not exactly I have designed my architecture. I'm looking for accessing Azure SQL PaaS from Azure WebApp via Managed Identity and Private EndPoint but couldn't find any documentation or guidance.

I have

[2020-11-18 23:18] absheik commented on #2506
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#338573

[2020-11-19 07:49] jelledruyts commented on #2506
Hi @sameer-kumar, whether or not you are using a managed identity should have nothing to do with the error that you are seeing, as at this point you're still trying to _connect to SQL_ and not yet _authenticate_. The error message clearly calls out that you are coming in to SQL over its public IP address, not the private endpoint. So this looks like a networking problem which is indeed the core of

[2020-11-19 07:50] EdPrice-MSFT commented on #2498
Great feedback. Thank you!

[2020-11-19 08:19] EdPrice-MSFT commented on #2504
Thank you. We're identifying the newer articles.

[2020-11-19 08:22] EdPrice-MSFT commented on #2499
Thank you for the feedback!

[2020-11-19 21:14] sameer-kumar commented on #2506
@jelledruyts After I tried all the steps as suggested in your [link](https://docs.microsoft.com/en-us/azure/architecture/example-scenario/private-web-app/private-web-app#deploy-this-scenario), my web app itself is not accessible now.
To troubleshoot I used kudu console from webapp and tried to execute below commands which fails (no response):
[code]

[2020-11-19 22:46] sameer-kumar commented on #2506
@jelledruyts I can confirm that when I followed the same steps in Windows App Service instead of Linux, it works like a charm. So looks like Linux is not fully baked yet.

[2020-11-20 07:53] jelledruyts commented on #2506
I have this running with Linux as well so can definitely confirm it should work. Next to possibly opening a support ticket, I would suggest to follow the exact same steps once more with a Linux app and for example use my [InspectorGadget](https://github.com/jelledruyts/InspectorGadget) container image which allows you to do DNS lookups, SQL connections, HTTP requests etc for easy troubleshooting.

[2020-11-20 08:25] GeorgScholz opened #2509 "Typo"
In the picture, it is written "IDistrubutedTokenCache" instead of "IDistributedTokenCache".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab204a8d-c451-ef99-6610-139a0dee61ac
* Version Independent ID: 23a69ae2-70bc-aab5-bbe1-e9699d57558b
* Content: [Cache access tokens in a multitenant application - Azure Architecture

[2020-11-20 08:26] absheik commented on #2509
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#

[2020-11-20 15:03] SumanthMarigowda-MSFT commented on #2509
@GeorgScholz Thanks for your question. We are checking on this and will respond to you soon.

[2020-11-20 19:49] sameer-kumar commented on #2506
@jelledruyts when I tried your image then SQL connection screen works after VNet integration. Strange! I'm thinking what is different in my web app which doesn't work in Linux after Vnet integration? I'm clueless here.

[2020-11-20 23:32] sameer-kumar commented on #2506
@jelledruyts this is what I can see from logs:

[2020-11-21 07:53] jelledruyts commented on #2506
Good to hear it works with the InspectorGadget image. I'd definitely suggest to open a support ticket then (e.g. via the Portal), as the scenario is certainly supported, but looks like your app may be having an issue.

[2020-11-22 10:52] saifch79 opened #2513 "Like to see more material on azure modern data warehouse"
Like to see more material on azure modern data warehouse

[2020-11-22 10:52] absheik commented on #2513
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#340012

[2020-11-22 20:27] Marusyk opened #2514 "Wrong link to Microsoft Azure IoT Reference Architecture (PDF)"
Next steps section: Wrong link to Microsoft Azure IoT Reference Architecture (PDF)

It should be https://download.microsoft.com/download/A/4/D/A4DAD253-BC21-41D3-B9D9-87D2AE6F0719/Microsoft_Azure_IoT_Reference_Architecture.pdf

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf328b1f-6bc5-dff2-619f-82b95030c3cf
* Version

[2020-11-22 20:28] absheik commented on #2514
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#340146

[2020-11-23 11:44] AwdotiaRomanowna opened #2515 "Add JavaScript to General capabilities table for PostgreSQL"
Capability matrix -> General capabilities
There is also plv8 - PL/JavaScript (v8) trusted procedural language
which is an extension for Azure Database for PostgreSQL

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af4555db-76bc-15c1-6b17-ddf5be651b70
* Version Independent ID: 3ec33db3-f67d-6786-aeb3-9737896088bf
* Conte

[2020-11-23 11:44] absheik commented on #2515
Thanks for reporting - this issue is under review.  This is a Microsoft Internal DevOps Bug ID AB#340513

[2020-11-23 16:24] sameer-kumar commented on #2506
Got it. Thank you for your support.

[2020-11-24 04:51] dhananjaya-senanayake commented on #1891
@absheik , any ETA on having Web Socket Support for Azure Front Door ? https://feedback.azure.com/forums/217313-networking/suggestions/37346371-support-websocket-connections-on-azure-front-door

[2020-11-24 09:05] michwii opened #2516 "Visio stencil format ?"
Hi MS,

Could you please organize your icons into Visio Stencil format ?
As an Architect using Visio, it's easier to import stencil rather than SVG icons.

Thank you :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6624d44c-f9f6-02f8-2c67-0f0637fed62e
* Version Independent ID: 9346a8ff-bab5-be2c-9dc1-d546fda1efa9
* Co

[2020-11-24 11:39] MayankBargali-MSFT commented on #2516
@michwii Thank you for your feedback! We will review and update as appropriate.

[2020-11-25 18:24] JasRobe commented on #2506
@jelledruyts thank you for your engagement here.   and @sameer-kumar thank you for reaching out.

[2020-11-25 18:24] #2506 closed

[2020-11-25 18:25] JasRobe commented on #2513
We have taken this feedback into our backlog. thank you.

[2020-11-25 18:25] #2513 closed

[2020-11-26 06:49] anisayari opened #2517 "Missing Icon for Azure Machine Learning"
Hello, There is no icon for Azure Machine Learning ( https://azure.microsoft.com/en-us/services/machine-learning/ ). Thank you :-)

[2020-11-26 15:16] MonikaReddy-MSFT commented on #2517
@anisayari -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-11-27 04:56] ithurley opened #2518 "Information incorrect on trusts"
"It is possible to create a two-way trust if cloud users also require access to on-premises resources."

It is not possible to create this kind of trust in Azure ADDS, please correct this information.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b605d93-ab34-f8f0-2c64-d38fc5b0ab51
* Version Independent ID: 6e418fbb-

[2020-11-27 17:30] krish-gh commented on #2518
@ithurley Thanks! We will have a look on it.

[2020-11-30 09:43] kmkelly2015 opened #2519 "App Service Global Vnet Peering"
Is there a plan to enhance App Service VNet integration to utilise global vnet peering?
So that app services can access SQL Databases via private endpoints in different regions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7499b146-3340-d7d1-6c5f-3ed508b773cb
* Version Independent ID: 61b10612-1136-3840-c7c1-804e63b2

[2020-11-30 10:42] jelledruyts commented on #2519
@kmkelly2015 yes global peering support is planned, but even without it you can connect to a SQL Database (or other dependency) in another region by publishing the private endpoint of the database in one region into the VNet of the other region where the app is deployed. You have to take care of properly setting up DNS for that to work correctly, but definitely possible.

[2020-11-30 17:39] scotttcawley opened #2520 "Correction on Diagram"
The reference diagram at the top has 2 workloads. The top one in the disconnected subscription is workload 2, the private endpoint, bastion, and public ip for that workload is labelled “wkld1” instead of “wkld2”

https://docs.microsoft.com/en-us/azure/architecture/hybrid/hybrid-dns-infra

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2020-11-30 19:55] #2519 closed

[2020-11-30 19:56] MarileeTurscak-MSFT commented on #2520
@scotttcawley
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-01 16:44] DeanGross opened #2522 "Order of pages in left side navigation"
The pages under the Architecture heading are not displayed in any meaningful order which makes it hard to scan the page titles. It would be helpful if these were displayed alphabetically
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dce3b9c5-ef05-1ff3-a6fe-052f48a9b471
* Version Independent ID: f6d3e8e8-37c5-43e6-6185-

[2020-12-01 18:46] kmkelly2015 commented on #2519
@jelledruyts thanks for the tip, I have got that working.

[2020-12-01 22:57] neilpeterson commented on #2493
Fixed with this PR - https://github.com/mspnp/reference-architectures/pull/371

[2020-12-01 22:57] #2493 closed

[2020-12-01 23:52] MarileeTurscak-MSFT commented on #2522
@DeanGross
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-02 04:26] DavidTaig commented on #2478
Please provide an update. Thanks

[2020-12-02 04:26] DavidTaig commented on #2479
Please provide an update. Thanks

[2020-12-02 18:50] EdPrice-MSFT commented on #2498
Working with @squassina and team to create the missing content.

[2020-12-02 18:50] #2498 closed

[2020-12-02 21:13] wilbug1git1 opened #2526 "Root Management Group Doc Conflict"
The following guidance conflicts with the Enterprise Scale Landing Zone guidance [here](https://docs.microsoft.com/en-us/azure/cloud-adoption-framework/ready/enterprise-scale/management-group-and-subscription-organization)

The recommended approach is to use these management groups:

- Root management group for enterprise-wide resources.
Use the root management group to include identities that hav

[2020-12-03 11:55] MayankBargali-MSFT commented on #2526
@wilbug1git1 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-12-03 14:30] v-karbovnichy opened #2528 "Cannot find a general "Azure" icon"
It would be very handy to have a general "Azure" (the blue A symbol) icon in the download pack.
For people doing multi-cloud-provider architectures.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6624d44c-f9f6-02f8-2c67-0f0637fed62e
* Version Independent ID: 9346a8ff-bab5-be2c-9dc1-d546fda1efa9
* Content: [Azure Icons

[2020-12-04 04:20] MayankBargali-MSFT commented on #2528
@v-karbovnichy Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-12-04 09:49] steveculshaw opened #2529 "Useful resource ... BUT too limited"
[Enter feedback here]

The icons are a useful resource, and sorely needed for our Azure architecture designs

BUT it would be much better if they were provided as one or more Visio stencils, rather than individual SVG files

And the shapes should have consistent formatting, label positions, etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-12-04 14:22] MayankBargali-MSFT commented on #2529
@steveculshaw  Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-12-05 20:55] whomanGHA opened #2530 "App service Plan scale limits out of date"
Under Scalability - App Service shows a scale limit value of 20 instances but Premium SKUs now support up to 30 instances.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 510808e8-db5d-6b07-9a04-6edb743a2dfc
* Version Independent ID: 20d098aa-ef31-cb26-d677-765cfc9a7164
* Content: [Choosing an Azure compute service - Az

[2020-12-06 10:43] MayankBargali-MSFT commented on #2530
@whomanGHA Thank you for your feedback! We will review and update as appropriate.

[2020-12-07 20:20] magrande commented on #2518
@ithurley @shashishailaj  Thank you. There is a correction already applied. It's going to be live soon.

[2020-12-08 09:48] cloudvaughan opened #2531 "Consider Renaming the pattern"
Hi
The original author of the pattern has renamed the pattern. Please see the notes at the bottom of his post that you reference: https://martinfowler.com/bliki/StranglerFigApplication.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b580bcd-bba9-0799-6f9f-4b0e2ae9739f
* Version Independent ID: 6603e60e-ad3b-9aec-0

[2020-12-08 13:40] AjayKumar-MSFT commented on #2531
@cloudvaughan, Thanks for bringing this to our attention! We are taking a look into this and will get back to you soon.

[2020-12-08 16:41] DavidTaig opened #2532 "Missing % at the start of ProgramFiles%\FSLogix\Apps\frxdrv.sys"
Please update https://docs.microsoft.com/en-us/azure/architecture/example-scenario/wvd/windows-virtual-desktop-fslogix#antivirus-exclusions

Exclude files:
ProgramFiles%\FSLogix\Apps\frxdrv.sys

to

Exclude files:
**%**ProgramFiles%\FSLogix\Apps\frxdrv.sys

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6386653c-9f82-1e

[2020-12-08 16:49] DavidTaig opened #2533 "Teams exclusions - .txt files ??"
Please provide the https://docs.microsoft.com/en-us/azure/architecture/example-scenario/wvd/windows-virtual-desktop-fslogix#teams-exclusions in the format of https://docs.microsoft.com/en-us/fslogix/manage-profile-content-cncpt#structure-of-redirectionsxml-file

Saying .txt files is very vague!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-12-08 23:50] MarileeTurscak-MSFT commented on #2532
@DavidTaig
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-08 23:52] MarileeTurscak-MSFT commented on #2532
Thank you! I made a pull request to add that https://github.com/MicrosoftDocs/architecture-center-pr/pull/2137

[2020-12-08 23:52] #2532 closed

[2020-12-08 23:55] MarileeTurscak-MSFT commented on #2533
@DavidTaig
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-09 05:38] neilpeterson commented on #2522
Thanks @DeanGross, yep good feedback, I agree. Ill look into it.

[2020-12-09 12:58] christiaanbrinkhoff commented on #2533
Approved. Please remove the .txt files under the Teams exclusions section.

[2020-12-09 13:00] christiaanbrinkhoff commented on #2479
Please include the following items in the list.

Exclude files:

- %ProgramFiles%\FSLogix\Apps\frxdrv.sys
- %ProgramFiles%\FSLogix\Apps\frxdrvvt.sys
- %ProgramFiles%\FSLogix\Apps\frxccd.sys
- %TEMP%.VHD
- %TEMP%.VHDX
- %Windir%\TEMP*.VHD
- %Windir%\TEMP*.VHDX
- \\storageaccount.file.core.windows.net\share**.VHD
- \\storageaccount.file.core.windows.net\share**.VHDX

Exclude processes:

- %ProgramFi

[2020-12-09 18:11] doodlemania2 commented on #2533
Can you send us a PR on this @christiaanbrinkhoff ?

[2020-12-09 18:42] JasRobe commented on #2529
I believe they are available as stencils on visio web, but I'll take your request as additional input.  Thank you.

[2020-12-09 18:42] #2529 closed

[2020-12-10 02:01] gvnshtn opened #2534 "onprem.json not exist"
Looks like the script is looking for onprem.json in /identity-reference-architectures rather than under /identity-reference-architectures/adds-forest

<img width="842" alt="notexist" src="https://user-images.githubusercontent.com/8502046/101711472-84559b00-3a8b-11eb-887e-7c35662124b0.png">

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-12-10 02:15] gvnshtn commented on #2534
My bad, running from incorrect folder.

[2020-12-10 02:15] #2534 closed

[2020-12-10 05:49] AjayKumar-MSFT commented on #2534
gvnshtn, Thanks for leveraging Azure docs feedback channel to raise this question and sharing an update, Glad that you were able to figure out the issue, Appreciate the follow-up,

[2020-12-10 07:49] Michel-as opened #2535 "wrong flow in https://azure.microsoft.com/en-us/topic/kubernetes-vs-docker/"
in https://azure.microsoft.com/en-us/topic/kubernetes-vs-docker/ Kubernetes and Docker solution architectures in production, first example. Point **7** and **8** should be switched, they are right in the documentation, but wrong in the mentioned site

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f6e327d-b280-a35c-258

[2020-12-10 08:55] jochenz opened #2536 "Anti-corruption layer pattern expressed in terms of services"
I'm surprised to see the anti-corruption layer expressed as a physical service between other services. The pattern really has nothing to do with physical deployments. When I host multiple bounded contexts in a single process, I still want anti-corruption layers between these contexts.

**Then, a lot of the mentioned downsides, like latency, do not apply.**

Feels like devs are getting wrong-footed

[2020-12-10 11:17] thecpshah opened #2537 "Missing Icons"
I cannot find cions for Machine Learning, Databricks.

Can you please provide a complete set of icons.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6624d44c-f9f6-02f8-2c67-0f0637fed62e
* Version Independent ID: 9346a8ff-bab5-be2c-9dc1-d546fda1efa9
* Content: [Azure Icons - Azure Architecture Center](https://docs.micr

[2020-12-10 13:27] AjayKumar-MSFT commented on #2535
@Michel-as, Thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2020-12-10 13:34] AjayKumar-MSFT commented on #2536
@jochenz, Thanks for the feedback! Your feedback has been shared with the content owner for further review.

[2020-12-10 13:36] AjayKumar-MSFT commented on #2537
@thecpshah, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-12-11 04:04] ithurley commented on #2518
Hi Mariano,

Thanks for correcting that page, it looks much better, but please be aware that the highlights are not possible with AADDS;

Create an AD DS resource forest in Azure - Azure Reference Architectures | Microsoft Docs<https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/identity/adds-forest>

[cid:image001.png@01D6CF48.24183710]

Regards,

Ian Thurley
Specialist, v

[2020-12-11 17:00] neilpeterson commented on #2283
This has been fixed and will publish today. Thanks for submitting the issue.

[2020-12-11 17:00] #2283 closed

[2020-12-11 17:33] neilpeterson commented on #2391
@torarve thanks for bringing this up, good call. I've updated all references and also the URL to the doc (with redirect). These should publish today.

[2020-12-11 17:33] #2391 closed

[2020-12-12 04:46] AjayKumar-MSFT commented on #2452
samyperis, No worries. Thanks for leveraging Azure docs feedback channel to raise this question. Much appreciate your feedback!

[2020-12-13 16:08] dynamodhiraj opened #2539 "Performance and latency attributes needed"
[Enter feedback here]
Needs more detailed explain action on the performance and latency criteria for each of the storage.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4931350d-0c12-00b2-64a8-112f67aba3f2
* Version Independent ID: eed89d06-7676-30e1-b801-2f67a09856f0
* Content: [Choosing a data storage technology - Az

[2020-12-13 16:08] dynamodhiraj commented on #2539
Needs more detailed explain action on the performance and latency criteria for each of the storage

[2020-12-13 19:00] MarileeTurscak-MSFT commented on #2539
@dynamodhiraj
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-13 21:31] ckittel commented on #2404
Visio file has been attached.  Thank you for bringing that to our attention.

[2020-12-13 21:31] #2404 closed

[2020-12-14 14:07] PramodValavala-MSFT commented on #2535
@Michel-as Thanks for catching that! I'm believe the content for the page you've shared is separate to this repo but nonetheless, I have assigned this issue to the content author to review and update accordingly.

[2020-12-14 14:16] PramodValavala-MSFT commented on #2531
@cloudvaughan Looks like this has been addressed in #2391. So, closing this in favor of that.

@neilpeterson Could you share any details for when this might be published?

[2020-12-14 14:16] #2531 closed

[2020-12-14 18:57] DeanGross opened #2540 "Out of date reference"
The Security Considerations section has  link that points to a page that is no longer being maintained. Can this be updated?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65f26361-0def-4ae9-e28a-8a8d4f97b87f
* Version Independent ID: ef55eb02-6543-88ad-4f89-5a553848bc67
* Content: [Deploy AD DS in an Azure virtual netw

[2020-12-14 19:49] neilpeterson commented on #2531
It has been published and is available now.

[2020-12-14 22:10] MarileeTurscak-MSFT commented on #2540
@DeanGross
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-15 05:19] ndriyo opened #2542 "Missing Azure Repos"
Where is Azure Repos in this picture?
Does it mean that we have to have different accounts other than Azure DevOps account (another Github account) if we would like to implement DevSecOps?

Will it be the direction in the future from Microsoft?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fcaeba82-a634-d73a-77fd-a072

[2020-12-15 14:42] HarshitaSingh-MSFT commented on #2542
Hello @ndriyo , thanks for the question! We are taking a look into this and will get back to you soon.

[2020-12-16 03:49] jasonhorner opened #2543 "Support for Visio Stencils"
it would be helpful to provide guidance for people who are looking for visio stencils directly on this page .  there is text about it in the FAQ however it is buried in the download...

and also provide this email contact:

If you can’t find an icon, please email CnESymbols@microsoft.com.

also might be helpful to provide the old Visio icons until the new ones are available to replace them

---
##

[2020-12-16 06:04] HarshitaSingh-MSFT commented on #2543
Hello @jasonhorner , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2020-12-16 09:51] oliversmuc opened #2544 "404 German IoT Architecture Pages"
This German page is not reachable from it's index, due to the ".yml" ending in the URL.

https://docs.microsoft.com/de-de/azure/architecture/

![image](https://user-images.githubusercontent.com/33893603/102331989-cd29ba00-3f8b-11eb-9b76-8bef87d0dce0.png)

Best

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel e

[2020-12-16 12:20] msrini-MSFT opened #2545 "This flow doesn't looks correct"
![image](https://user-images.githubusercontent.com/47132998/102347812-f4ea4380-3fc6-11eb-83b6-f44c50a14a2a.png)

The center decision has "Do you have non-web App" and for yes, "Do you have web Apps" which doesn't make sense. correct this doc to provide more clarity.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb4e04d

[2020-12-16 15:03] HarshitaSingh-MSFT commented on #2544
Hello @oliversmuc , thanks for the question! We are taking a look into this and will get back to you soon.

[2020-12-16 15:08] HarshitaSingh-MSFT commented on #2545
Hello @msrini-MSFT , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2020-12-16 17:05] picklesrein opened #2546 "why mount directly to /mnt instead of /mnt/resource?"
What was the impetus for this change? What technical expert signed off on mounting the temp disk directly to /mnt?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8af3a0e6-6629-3044-4bdc-4f73a6f77861
* Version Independent ID: a93c0dc1-678d-2319-d850-ca3dca213b74
* Content: [Run a Linux VM on Azure - Azure Reference Arch

[2020-12-16 18:14] JasRobe commented on #2539
Thank you for the feedback, The product specific documentation is the most accurate place to find that information.

[2020-12-16 18:14] #2539 closed

[2020-12-16 18:56] neilpeterson commented on #2544
@oliversmuc thanks for raising this issue. We have just migrated to a new architecture browser and it looks like there is an issue here with localized content for de-de. We are looking into the issue and will report back once resolved.

[2020-12-17 00:11] dsk-2015 commented on #2426
@msandbu  Thanks for your feedback. It has been incorporated in the article since some time, so closing this issue.

[2020-12-17 00:11] #2426 closed

[2020-12-17 00:12] dsk-2015 commented on #2495
Thanks for point this out, the article is updated now. Closing this issue.

[2020-12-17 00:12] #2495 closed

[2020-12-17 01:30] femsulu commented on #2546
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-12-17 01:59] dsk-2015 commented on #2337
@jinder79 Thank you for your question. Logic Apps is a serverless workflow service, whereas Azure Functions is serverless compute. For this reason, the compute decision tree will not include Logic Apps. See this comparison for more information: https://docs.microsoft.com/en-us/azure/azure-functions/functions-compare-logic-apps-ms-flow-webjobs#compare-azure-functions-and-azure-logic-apps

I have ad

[2020-12-17 01:59] #2337 closed

[2020-12-17 09:39] DJPaulo opened #2548 "Predictive maintenance - implementation details for new services"
Please could you update the design in the architecture documentation [here](https://docs.microsoft.com/en-gb/azure/architecture/solution-ideas/articles/predictive-maintenance) to include new services like Time Series Insights, Anomaly Detector, and Metrics Advisor?
It would be very useful to see exactly where these would fit into a predictive maintenance scenario.
Thanks

[2020-12-17 15:36] erjosito commented on #2545
Where is the confusion? The diagram is trying to make the point that if the customer has a combination of web and non-web apps the setup might be different to only web-apps or only non-web apps.

[2020-12-17 18:22] neilpeterson commented on #2544
Thanks again for raising this issue @oliversmuc, we have identified an issue with our automated localization process and have escalated. I will update once fixed.

[2020-12-17 19:40] neilpeterson commented on #2544
@oliversmuc this should now be fixed. Looks good to me and I will close this issue. If you need anything else or find any other issue please let us know.

Thanks again.

[2020-12-17 19:40] #2544 closed

[2020-12-17 19:47] femsulu commented on #2548
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-12-18 13:17] PramodValavala-MSFT commented on #2545
@msrini-MSFT I hope Jose's comment clears things up

[2020-12-18 13:29] DavidTaig commented on #2533
.txt files has been removed from https://docs.microsoft.com/en-us/azure/architecture/example-scenario/wvd/windows-virtual-desktop-fslogix#teams-exclusions Thanks :)

[2020-12-18 13:34] DavidTaig opened #2549 "Teams exclusions - Format for redirections.xml"
Please provide the https://docs.microsoft.com/en-us/azure/architecture/example-scenario/wvd/windows-virtual-desktop-fslogix#teams-exclusions in the format of https://docs.microsoft.com/en-us/fslogix/manage-profile-content-cncpt#structure-of-redirectionsxml-file

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6386653c-9f

[2020-12-18 14:09] DavidTaig opened #2550 "Teams exclusions - Foward slash and backslash in section"
In the section https://docs.microsoft.com/en-us/azure/architecture/example-scenario/wvd/windows-virtual-desktop-fslogix#teams-exclusions using Foward slash and backslash

%appdata%/Microsoft/Teams
%appdata%\Microsoft\Teams\meeting-addin\Cache

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6386653c-9f82-1ea7-8f29-377be4

[2020-12-18 14:31] DavidTaig commented on #2549
From:

Media-stack folder
meeting-addin\Cache (%appdata%\Microsoft\Teams\meeting-addin\Cache)

to:
Media-stack folder - <Exclude Copy="0">AppData\Roaming\Microsoft\Teams\media-stack\</Exclude>
meeting-addin\Cache folder - <Exclude Copy="0">AppData\Roaming\Microsoft\Teams\meeting-addin\Cache\</Exclude>

Many examples leave out the slash after the last folder name, however not clear this is correct

[2020-12-18 14:37] DavidTaig commented on #2549
![2549](https://user-images.githubusercontent.com/38142528/102626185-983f8200-419a-11eb-986d-4f2d6be2cc48.PNG)

When submitting the above, it strip off most content, see picture, which is correct

[2020-12-18 15:43] DavidTaig opened #2551 "Add addition Teams exclusions ?"
Should these exclusions be added to the Teams section
https://docs.microsoft.com/en-us/azure/architecture/example-scenario/wvd/windows-virtual-desktop-fslogix#teams-exclusions

<Exclude Copy="0">AppData\Roaming\Microsoft\Teams\Service Worker\</Exclude>
from: https://techcommunity.microsoft.com/t5/fslogix-blog/teams-setup-rapidly-grows-my-profile-disk/ba-p/1539064

<Exclude Copy="0">AppData\Roaming

[2020-12-18 15:44] DavidTaig commented on #2551
![2551](https://user-images.githubusercontent.com/38142528/102633071-09cffe00-41a4-11eb-8603-d331a8d6fced.PNG)

When submitting the above, it strip off most content, see picture, which is correct

[2020-12-18 15:52] msrini-MSFT commented on #2545
@erjosito , I understand that customer can have web or non-web App, but my question is the flow diagram has a center decision box where "Do you have non-web App ?" question is asked and then if yes, there is an another decision box which asks "Do you have web App?" which I feel is a conflict.

[2020-12-18 16:09] FMauroy opened #2552 "Invalid MFA credentials"
Great doc, thank you very much!

But what can we do when the negotiation works properly between AAD and AWS (per the test feature in AAD SSO) but AWS replies with the following error?

![image](https://user-images.githubusercontent.com/1107417/102635250-5b9c6800-4153-11eb-8650-b11d8d6e3c63.png)

Is the issue in AWS (as I expect) or in AAD? Is there a way to get more info on this error?

Thanks a l

[2020-12-18 18:50] shashishailaj commented on #2518
@ithurley . Thank you for your patience. We are closing this issue now.

[2020-12-18 18:50] #2518 closed

[2020-12-19 00:04] femsulu commented on #2549
Thanks for the Comment. We are actively investigating and will get back to you soon.

[2020-12-19 00:14] femsulu commented on #2550
Thanks for the Comment. We are actively investigating and will get back to you soon.

[2020-12-19 03:14] femsulu commented on #2551
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-12-19 03:19] femsulu commented on #2552
@FMauroy Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2020-12-19 04:08] ithurley commented on #2518
No problem, thank you. I see the page still has incorrect information regarding the ability to create two way trusts. I think maybe you are saying you are working on a correction? That would be great, because our customers are coming to us, asking for two way trusts to AADDS only to find it’s not possible, and then move to AWS, where it is.

This is a problem for Microsoft and is causing you to lo

[2020-12-19 12:39] hyoshioka0128 opened #2554 "Typo "Azure function apps"→"Azure Function Apps""
Typo "Azure function apps"→"Azure Function Apps"

https://docs.microsoft.com/en-us/azure/architecture/hybrid/azure-functions-hybrid
![azure-functions-hybrid](https://user-images.githubusercontent.com/40815708/102689590-99c48500-4242-11eb-8746-df015bca45dd.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 229cb7ce-81f

[2020-12-19 19:50] HarshitaSingh-MSFT commented on #2554
Hello @hyoshioka0128 , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2020-12-19 23:16] cecnaud opened #2555 "blob event grid function"

[2020-12-20 02:55] femsulu commented on #2555
Hello @cecnaud  - can you please clarify your question? Would also be great if you share the link to the Azure documentation related to your question.

[2020-12-20 06:22] fab2903 opened #2556 "Deploy Solution not working"
The link to Github to deploy the solution is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49d69a9c-86d9-c2bf-de02-ae2dc851a086
* Version Independent ID: a17ffde4-5e77-2749-05c9-b5ec7340b7bf
* Content: [Extend an on-premises network using VPN - Azure Architecture Center](https://docs.microsoft.com/en-us/azure/

[2020-12-20 18:52] #2556 closed

[2020-12-20 18:53] BhargaviAnnadevara-MSFT commented on #2556
@fab2903 Thank you for catching that error in the docs. I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

[2020-12-21 04:56] PramodValavala-MSFT commented on #2545
@msrini-MSFT I believe the confusion is due to the lack of arrows in the diagram. Flowcharts are conventionally always meant to be read from `left -> right` and/or `top -> bottom`.

@erjosito Could you share your thoughts? Would it be possible to update the image to include arrows to make the intended flow clearer?

[2020-12-21 06:58] neilpeterson commented on #2556
@fab2903 thanks for opening this issue. We recently migrated to a new 'browser' for the AAC content which required significant file refactoring, a few links were inadvertently updated incorrectly.

@BhargaviAnnadevara-MSFT thanks for addressing this one. Prior to seeing this issue, I had also submitted this PR to fix many similar across the repo:

https://github.com/MicrosoftDocs/architecture-cent

[2020-12-21 07:23] erjosito commented on #2545
@PramodValavala-MSFT Ah good point, yes it seems @msrini-MSFT is reading the diagram in the wrong direction (correct @msrini-MSFT ?). I will see if I can add some arrow points.

[2020-12-21 07:28] msrini-MSFT commented on #2545
@PramodValavala-MSFT , @erjosito . Even if I read it from left to right.

1. Do you have a web-App ? - Yes
2. Do you have a non-web App ? This seems irrelevant as I already choose that I have a Web-App.

I understand the flow but it would be nice, if it can be revisited to provide more clarity.

[2020-12-21 07:58] erjosito commented on #2545
How would you ask the questions to cover the 3 possible cases?
* Customer has only web apps
* Customer has only nonweb apps
* Customer has a combination of web and nonweb apps

[2020-12-21 08:16] msrini-MSFT commented on #2545
I would say, the second box should have the question "Do you have combination of web and non-web app".

[2020-12-21 09:49] PramodValavala-MSFT commented on #2545
@msrini-MSFT the second query does imply a combination of both if answered **yes** (since the first was already answered **yes**) as its the same flow chart and context. I suppose the query could be more elaborate like you've suggested as it really won't alter the intent here.

@erjosito Thoughts?

[2020-12-21 16:25] erjosito commented on #2545
Yes, I guess the decision chart could spell it out more clearly. I wanted to revisit this chart anyhow, I will have a look on how to make it clearer

[2020-12-21 18:05] shashishailaj commented on #2552
@FMauroy The screen which you have mentioned is from AWS and seems that AWS is not allowing the access. I am assuming that you have followed the article to enable Azure AD based SSO for AWS access. In this case , I would first check whether the Azure AD sign in was completed properly or not . You can check the Azure AD signin logs using https://docs.microsoft.com/en-us/azure/active-directory/condi

[2020-12-21 18:35] HarshitaSingh-MSFT commented on #2554
@hyoshioka0128 , assigning this to author to work on these changes.

[2020-12-21 20:01] jocontr commented on #2409
@clintonwford ; thanks for the update. Could you provide the SVG file instead? Also if you have a high-res image of the new logo I will make sure that other diagrams are updated as well. Thank you

[2020-12-21 20:05] jocontr commented on #2418
@aschechter88 could you provide more context? Azure service, etc.? This bug likely belongs to the service documentation or product; but we would like to not close it and aim to help in any way we can. Thank you

[2020-12-22 05:46] PramodValavala-MSFT commented on #2545
@erjosito Thanks! I'm assigning this issue to you to update and close as required.

[2020-12-22 20:18] #2464 closed

[2020-12-23 09:34] JayaChatterjee-MSFT commented on #2552
@FMauroy Following up to understand whether you got a chance to review our previous comment.

[2020-12-23 18:25] jocontr commented on #2548
Thank you @DJPaulo, I have captured this as an architecture request for my team.

[2020-12-23 18:25] #2548 closed

[2020-12-23 18:34] jocontr commented on #2555
@cecnaud ; please provide more information for the issue to be addressed. Thank you.

[2020-12-23 18:34] #2555 closed

[2020-12-26 11:53] JayaChatterjee-MSFT commented on #2552
@FMauroy Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-12-26 11:53] #2552 closed

[2020-12-28 19:21] raisaurabh777 opened #2558 "AKS + ACI Solution"
Please expand this article with code, templates, and more explanation. It looks like this solution can be a possible candidate for many AKS deployments in various environments.

[2020-12-28 19:23] raisaurabh777 opened #2559 "AKS + ACI Solution"
Please provide more explanation, code samples, templates of this solution. AKS + ACI looks promising. May be suitable for various use cases.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01f8f943-7688-65e6-26c9-5d682a225306
* Version Independent ID: 18d298ba-be2b-bc4a-abac-5ea5a94fadca
* Content: [Bursting from AKS wi

[2020-12-28 19:25] #2558 closed

[2020-12-28 19:25] raisaurabh777 commented on #2558
Created a duplicate by mistake.

[2020-12-29 12:45] AshokPeddakotla-MSFT commented on #2559
@raisaurabh777 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-12-29 18:21] jocontr commented on #2418
@aschechter88 closing until further info is available. Feel free to reopen / file a new issue with more details. Thank you.

[2020-12-29 18:21] #2418 closed

[2020-12-31 12:58] PRASADA1207 opened #2560 "The Architecture Diagram representation"
[Enter feedback here]
The Architecture diagram can be represented  in much better way  I feel.
If I want to contribute in better architecture diagram representation how can I achieve that please advise .

Thanks and regards,
Avijit Prasad
Assc Consultant
MS

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ca9b2be-df1b-e

[2021-01-01 02:44] mike-urnun-msft commented on #2560
@PRASADA1207 Thank you for your feedback! We have assigned this issue to the content author to review further and take the next course of action. For your reference, the contribution guide is located at the following URL: https://review.docs.microsoft.com/en-us/help/contribute/?branch=master

[2021-01-01 08:38] twentyonegrams commented on #2367
More a question than feedback, throughout the article it has mentioned semantics and it is a major guidance on when the anti-corruption-layer pattern should or shouldn't be used. However, what exactly semantic means here? When I google online the definition of semantic in computer science is the study of meaning in programming languages. For instance two variables could be of the same type but the

[2021-01-03 10:10] NeuralMX commented on #2382
Agreed. I'm looking at various options and best practices to build a scalable and possibly totally serverless Azure website, and looking ad the docs I found this doc that looks pretty useless. Too basic, no explanation, no in-depth analysis. The "Scalable web application" doc mentions Azure Cache for Redis cache too, for the same reasons of this doc. So what's the purpose of this one?

[2021-01-03 23:05] malindasuhash opened #2561 "Text update"
This statement "Stateless apps that are configured for autoscaling are more cost effective **that** stateful apps", shouldn't that replaced with "_than_"?

[2021-01-04 03:12] AjayKumar-MSFT commented on #2561
@malindasuhash, Thanks for leveraging Azure docs feedback channel to raise this question. Could you please share the Azure documentation for which this feedback is applicable to?

[2021-01-04 03:21] AjayKumar-MSFT commented on #2558
raisaurabh777, No worries. Thanks for leveraging Azure docs feedback channel. Appreciate the update on this.

[2021-01-04 05:16] neilpeterson commented on #2561
Thanks for catching this @malindasuhash. I've submitted the updated which should publish tomorrow morning PST.

[2021-01-04 05:16] #2561 closed

[2021-01-04 07:02] ravisha22 opened #2562 "Change title to Reference Architecture or Create a new article for it!"
A number of my customers are looking for reference architecture and this article is the closest to it (https://docs.microsoft.com/en-us/azure/architecture/example-scenario/wvd/windows-virtual-desktop ) Can the title of this article be changed to reference arch. or have a new article written for it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2021-01-04 16:02] KranthiPakala-MSFT commented on #2562
@ravisha22  Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2021-01-04 16:23] absheik commented on #2560
taking offline

[2021-01-04 16:23] #2560 closed

[2021-01-04 16:37] absheik commented on #2554
will be fixed when this pr is merged.
https://github.com/MicrosoftDocs/architecture-center-pr/pull/2239

[2021-01-04 16:58] #2554 closed

[2021-01-04 21:37] absheik commented on #2562
@ravisha22, please review https://docs.microsoft.com/en-us/azure/cloud-adoption-framework/scenarios/wvd/
This is the current published detailed WVD content that is close to a Reference Architecture.  Our team is working on an RA that includes deployment scripts and configurations for different scale and enterprise needs.

The article you point to does not have all the pieces in place to be elevate

[2021-01-04 21:37] #2562 closed

[2021-01-04 22:54] neilpeterson opened #2563 "sync test"

[2021-01-04 22:57] #2563 closed

[2021-01-04 22:58] neilpeterson opened #2564 "sync test 002"

[2021-01-04 22:58] #2564 closed

[2021-01-04 23:04] neilpeterson opened #2565 "sync test 003"

[2021-01-04 23:05] #2565 closed

[2021-01-04 23:17] neilpeterson opened #2566 "sync test 004"

[2021-01-04 23:18] #2566 closed

[2021-01-04 23:19] neilpeterson opened #2567 "sync test 005"

[2021-01-04 23:23] neilpeterson opened #2568 "sync test 006"

[2021-01-04 23:29] #2567 closed

[2021-01-04 23:29] #2568 closed

[2021-01-04 23:30] neilpeterson opened #2569 "sync test 007"

[2021-01-04 23:31] #2569 closed

[2021-01-04 23:33] neilpeterson opened #2570 "sync test 008"

[2021-01-04 23:35] #2570 closed

[2021-01-04 23:45] neilpeterson opened #2571 "sync 001"