[2019-03-08 00:39] #1236 closed

[2019-03-08 05:38] KetanChawda-MSFT commented on #1332
@mathewspjacob Since there is no doc update required at the moment, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-08 05:38] #1332 closed

[2019-03-08 11:03] jtuliani opened #1342 "Key/Value vs Object storage"
Key/Value and Object storage are extremely similar, potentially the same.
It would be good if the doc could draw out the similarities and differences. They should be discussed together. A person looking for a key/value store, based strictly on this doc, wouldn't consider blob storage, and that's just not right.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2019-03-08 17:38] CeciAc opened #1343 "Please adjust width of table"
@KeiroKamioka0000 commented on [Sun Feb 24 2019](https://github.com/mspnp/architecture-center.ja-jp/issues/32)

https://docs.microsoft.com/ja-jp/azure/architecture/best-practices/naming-conventions#naming-rules-and-restrictions

As you may notice, please consider to edit the width of table,
It really hard to read.

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリン

[2019-03-08 17:38] CeciAc commented on #1343
Hi team,
I'm moving this one here as per @ishasahni1 comment above
this is not a loc issue

[2019-03-08 21:13] mike-urnun-msft commented on #1342
Hi @jtuliani Thank you for your feedback! We will review and update as appropriate.

[2019-03-08 21:14] mike-urnun-msft commented on #1343
Hi @CeciAc Thank you for your feedback! We will review and update as appropriate.

[2019-03-10 04:16] PatMyron commented on #1203
@MikeWasson It looks like this problem could be more widespread than those two images: https://github.com/mspnp/architecture-center/pull/1328

I wrote a script using [ImageMagick](https://imagemagick.org/script/identify.php) to help find all of the images with transparent backgrounds:

[code]

[code]

Hope this helps you guys identify all of the potential image legibility problems in dark mode!

[2019-03-10 10:16] matakeda1 opened #1345 "About Command line tools (Other:)"
In the following link of "Command line tools (Other:)", is this document has been updated by the newest information?
https://docs.microsoft.com/en-us/azure/architecture/data-guide/scenarios/data-transfer#command-line-tools

And what is the "Optimized for big data"? Azure Data Lake Storage Gen2?
And what is the "Data Lake Store"? Azure Data Lake Storage Gen1?

Please check them. Thanks, Masaki.

--

[2019-03-11 05:25] KetanChawda-MSFT commented on #1345
@matakeda1 Thank you for reporting this issue! We will investigate and make any necessary changes.

[2019-03-12 10:22] PramodValavala-MSFT commented on #1342
@jtuliani I believe the `storing and retrieving large binary objects` phrase in the object storage description is a sufficient difference right?

@MikeWasson Thoughts?

[2019-03-12 10:42] jtuliani commented on #1342
@PramodValavala-MSFT I really don't think that covers it. Under Key-Value, it says only SOME key-value stores impose a size limit on the value. And at https://docs.microsoft.com/en-us/azure/architecture/guide/technology-choices/data-store-comparison#keyvalue-stores it says the 'data size tends to be large'.

[2019-03-12 13:06] jtuliani opened #1346 "Data Explorer"
Where does https://azure.microsoft.com/en-us/services/data-explorer/ fit in? Surely it should be mentioned?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6a2dd11-b2f0-7821-a877-fc09af4ac967
* Version Independent ID: f7537dfd-5472-f0d2-d344-db85fd65bf71
* Content: [Choose the right data store - Azure Application Archi

[2019-03-12 15:39] VictorioBerra opened #1348 "Can we get a row for Azure App Services App in "Naming rules and restrictions""
I think it should ride along with Function App. I would really like to see the Suggested Pattern and Example for an Azure App Services App, and or an Azure App Services Plan (serverfarm).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e540bb6-9f72-0529-28ea-ae82bc869835
* Version Independent ID: 24e71392-985b-59fb-155

[2019-03-12 16:35] Powerhelmsman commented on #1343
@mike-urnun-msft Please assign it to @sudeepku. He is managing Docs GitHub issue now.

[2019-03-12 17:24] PramodValavala-MSFT commented on #1342
@jtuliani That's true. I guess based on the examples - the Key/Value data store is implying in-memory use cases i.e., Redis use cases & object data store is implying blob storage. They are indeed similar to a degree but vary in their implementation and use cases mostly.

I will be assigning this issue to the content author for further review and to update the doc accordingly.

[2019-03-12 19:46] sudeepku commented on #1343
@CeciAc, I  examined the issue in details. The scroll bar appearing in some of the tables on this page https://docs.microsoft.com/ja-jp/azure/architecture/best-practices/naming-conventions#naming-rules-and-restrictions is primarily because of  (a) number of columns in the table (b)  a natural text expansion upon translation for some languages. With our UI design we try to minimize the readability

[2019-03-12 19:46] #1343 closed

[2019-03-12 20:10] mike-urnun-msft commented on #1346
Hi @jtuliani Thank you for your feedback! We will review and update as appropriate.

[2019-03-12 20:11] mike-urnun-msft commented on #1348
Hi @VictorioBerra Thank you for your feedback! We will review and update as appropriate.

[2019-03-12 21:21] anas2204 opened #1350 "Property names outdated"
https://docs.microsoft.com/en-us/azure/architecture/best-practices/retry-service-specific#policy-configuration-3
The property names for "RetryExponential" class seem to have changed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8194899c-dee2-70ac-422a-edc06e779f7c
* Version Independent ID: cafc7418-404c-5908-3037-dba7

[2019-03-13 01:18] mike-urnun-msft commented on #1350
Hi @anas2204 Thank you for your feedback! We will review and update as appropriate.

[2019-03-13 12:20] jtuliani opened #1352 "Comparison of HPC services needed"
As a person new to the area, I need a comparison of HPC Pack, Azure Batch, and CycleCloud. Existing overviews of all 3 say basically the same thing: "helps you easily build and manage HPC clusters yada yada yada".

We need an overview that explains what they are, what the differences are, why 3 different options exist, and how you'd choose between them.

---
#### Document details

⚠ *Do not edit t

[2019-03-13 14:49] FernandoHidalgoSWBI opened #1353 "Slowly Changing Dimension join by SK, not by natural key"
According to Kimball best practices the fact table and the dimension table should join by a Surrogates key. The example shown in this page, and the use of Temporal Tables for SCD Type 2 seems to miss this point.
Wondering if I am missing something or MS has missed/ignore this point.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2019-03-13 17:50] mike-urnun-msft commented on #1352
Hi @jtuliani Thank you for your feedback! We will review and update as appropriate.

[2019-03-13 17:52] mike-urnun-msft commented on #1353
Hi @FernandoHidalgoSWBI Thank you for your feedback! We will review and update as appropriate.

[2019-03-13 18:15] dmarlow opened #1354 "Service Bus clarity"
Can someone explain how Time Buffer is used. It's not very clear.

Also, in the example for background, it has this:

Attempt 1: Delay ~1 sec.
Attempt 2: Delay ~3 sec.
Attempt 3: Delay ~6 msec.
Attempt 4: Delay ~13 msec.

is msec a typo here? If not, how is that computed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-03-14 03:02] mike-urnun-msft commented on #1354
Hi @dmarlow Thank you for your feedback! We will review and update as appropriate.

[2019-03-14 07:16] DixitArora-MSFT commented on #1350
@anas2204  Are you referring to the properties mentioned in this doc [https://docs.azure.cn/en-us/dotnet/api/microsoft.azure.servicebus.retryexponential?view=azure-dotnet#properties](https://docs.azure.cn/en-us/dotnet/api/microsoft.azure.servicebus.retryexponential?view=azure-dotnet#properties). Could you elaborate more on your ask.

[2019-03-14 16:35] anas2204 commented on #1350
Ah, I meant the properties used in the constructor in this example - https://docs.microsoft.com/en-us/azure/architecture/best-practices/retry-service-specific#examples-1

[2019-03-15 07:18] PramodValavala-MSFT commented on #1354
@dmarlow This property seems to have been renamed to [TerminationTimeBuffer](https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicebus.retryexponential.terminationtimebuffer?view=azure-dotnet#Microsoft_ServiceBus_RetryExponential_TerminationTimeBuffer) now and this property now dictates the maximum time for an operation.
Also, note that this property seems to be available only for [.NET Ful

[2019-03-15 09:02] DixitArora-MSFT commented on #1350
@anas2204  There seems to be some change in the properties. So assigned this to content author to review and update as appropriate.

[2019-03-18 03:00] mike-urnun-msft commented on #1346
@jtuliani Should fall under Data Analytics so i've submitted a PR: MicrosoftDocs/architecture-center#1359

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-18 03:00] #1346 closed

[2019-03-18 03:50] mike-urnun-msft commented on #1348
@VictorioBerra I've added a row for WebApp in this PR: MicrosoftDocs/architecture-center#1360

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-18 03:50] #1348 closed

[2019-03-18 09:29] aaronse opened #1361 "Please update to reference Azure Functions"
Thank you for this doc, has lots of good general info regarding implementing background processing.

Please update to reference Azure Functions.  Please also update to replace references for depreciated Azure Scheduler to instead reference Scheduled Azure Functions and/or Azure Logic Apps Scheduler.

Thanks!

aaronse

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2019-03-18 16:36] mike-urnun-msft commented on #1361
Hi @aaronse Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-03-18 16:58] ntmsstudents opened #1362 "Error submitting the deployment request."
Error submitting the deployment request.
Additional details from the underlying API that might be helpful: The template deployment 'Microsoft.Template' is not valid according to the validation procedure. The tracking id is '7236b657-9bf1-4461-b016-9cb3bd37c03b'. See inner errors for details. Please see https://aka.ms/arm-deploy for usage details.

---
#### Document details

⚠ *Do not edit this sec

[2019-03-19 02:53] mike-urnun-msft commented on #1362
Hi @ntmsstudents Thank you for reporting this issue! We will review and make any necessary changes.

[2019-03-19 07:14] love2dishtech opened #1363 "Autoscaling documentation not complete"
Autoscaling documentation and pointers to specific detailed sections are available for Service Fabric, VM Scale Sets, App Services, Azure Functions, Cloud Service etc However, additional information for Azure Kubernetes Service, Azure Container Service and Azure Container Instances should be added.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2019-03-19 09:38] jtuliani commented on #1346
Super thank you

[2019-03-19 14:44] KetanChawda-MSFT commented on #1363
@love2dishtech Thanks for your feedback. We will review this and update as appropriate.

[2019-03-20 04:19] Mike-Crowley opened #1366 "dead link"
the link to  Guidelines for Deploying Windows Server Active Directory on Azure Virtual Machines. is dead. it probably means to reference wherever this went: https://github.com/toddkitta/azure-content/blob/master/articles/active-directory/active-directory-deploying-ws-ad-guidelines.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2019-03-20 07:29] mattquinn opened #1367 "Missing elements in Composite SLA calculation formula for HA scenario"
[Enter feedback here]
The Composite SLA Calculator formulae look to be incorrect. I'm sure the intent is correct - that composing 2x 99.95% SLAs in a HA environment raises the SLA, but if you follow the formula given it shows a reduction in the SLA rather than an increase.

The Formula in question:

The combined SLA for two regions = (1 − (0.9995 ^ 2)) = 99.999975%

If you raise 0.9995 to the powe

[2019-03-20 07:48] mattquinn commented on #1367
Managed to make the update myself as a Pull Request (my first ever, so hopefully I got it right :D)

[2019-03-20 07:48] #1367 closed

[2019-03-20 16:17] mike-urnun-msft commented on #1366
Hi @Mike-Crowley Thank you for reporting this issue! We will review and make any necessary changes.

[2019-03-22 09:57] zoekdestep opened #1373 "Link page not found"
AML Studio link (first under AML Studio heading) gives a 404 - Page not found

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0bdc71b-0a54-4cc4-1b79-f60e274e9a51
* Version Independent ID: 1783570c-3545-71c8-72d3-d5657f77c070
* Content: [Choosing a machine learning technology](https://docs.microsoft.com/en-us/azure/arch

[2019-03-22 17:30] mike-urnun-msft commented on #1373
Hi @zoekdestep Thank you for your feedback! We will review and update as appropriate.

[2019-03-23 06:14] wang-kangkang opened #1374 "how to change the value of a variable when debug python in visual studio?"
when i use visual studio 2019, if i debug a c++ program, i can change the value of variable; but if i debug a python program, changing the value of variable will throw an error:SyntaxError('invalid syntax',
how to change the value of a variable when debug python in visual studio?

[2019-03-23 17:36] mike-urnun-msft commented on #1374
Hi @wang-kangkang Since this channel is for driving improvements towards MS Docs, was there a specific doc that you were following?

[2019-03-24 02:59] averkinderen opened #1375 "Typo in the last paragraph"
There is typo in the last paragraph: it's governance not goverance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31205281-634d-58aa-d6f5-832502786a49
* Version Independent ID: aa764653-fc4d-0afe-b5da-b7773f3c35b9
* Content: [CAF: What is cloud resource governance? - Microsoft Cloud Adoption Framework for Azure](https

[2019-03-24 07:18] mike-urnun-msft commented on #1375
Hi @averkinderen Thank you for reporting this issue! We will review and make any necessary changes.

[2019-03-25 20:00] mike-urnun-msft commented on #1366
Closing as duplicate of #1319

[2019-03-25 20:00] #1366 closed

[2019-03-25 20:28] mike-urnun-msft commented on #1375
Hi @averkinderen Thanks again for reporting these typos! I have gone ahead and corrected them; the changes should be live as soon as the PR is approved and merged. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-25 20:28] #1375 closed

[2019-03-25 20:30] mike-urnun-msft commented on #1374
@wang-kangkang Just following up on the previous comment above, let us know if there was a specific MS Doc that your feedback is applicable to, otherwise, we'll proceed to close this issue.

[2019-03-25 20:45] mike-urnun-msft commented on #1373
Hi @zoekdestep Thanks again for reporting this issue! We have gone ahead and corrected the link; the changes should be live after the PR is approved and merged. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-25 20:45] #1373 closed

[2019-03-26 02:25] wang-kangkang commented on #1374
I found this function can be realize in another toolbar:tools->python->debug interaction(调试交互).
I really didn't read all  the documents, but I can channel the value in c++ program in immediate window, so I infer this window can change the value in python, but it doesn't work. I think it's a design flaw.

[2019-03-26 02:25] #1374 closed

[2019-03-26 03:33] mike-urnun-msft commented on #1362
@ntmsstudents I've created a PR that fixes this issue: https://github.com/mspnp/solution-architectures/pull/6

In meantime, please refer to this comment on workaround: https://github.com/mspnp/solution-architectures/issues/5#issuecomment-473444558

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discus

[2019-03-26 03:33] #1362 closed

[2019-03-26 15:09] DriezL opened #1379 "namespace of OperationTransientException"
What's the namespace of OperationTransientException? Is this correct? Is it OperationCanceledException?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 497c1436-d32c-1fb5-3209-22058fece4b2
* Version Independent ID: 4818d7be-c866-39bc-f2c3-d7af59d2cd4e
* Content: [Retry pattern - Cloud Design Patter

[2019-03-26 16:42] mike-urnun-msft commented on #1379
Hi @DriezL Thank you for your feedback! We will review and update as appropriate.

[2019-03-26 19:21] JazzyWagdaddy opened #1380 "Visio diagram doesn't match"
The Visio diagram that you download is similar to but doesn't match the diagram in the picture.  The Visio diagram you download is more complex.  Please have the graphic and Visio diagram match.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65f26361-0def-4ae9-e28a-8a8d4f97b87f
* Version Independent ID: ef55eb02-6543-8

[2019-03-27 05:17] mike-urnun-msft commented on #1380
Hi @JazzyWagdaddy Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-03-27 05:32] MikeWasson commented on #1380
@JazzyWagdaddy The Visio download has all 4 identity-related reference architectures. The one for "Extend AD DS to Azure" is on the tab named "AD DS"

[2019-03-27 12:26] MCKRUZ opened #1381 "Can you"
Include the visio file for the diagram above?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3d6aeb8-ec6a-4d27-2d10-1b404de450b7
* Version Independent ID: 65b165e4-a2e4-7f57-19eb-884fce7bf880
* Content: [Build an enterprise-grade conversational bot](https://docs.microsoft.com/en-us/azure/architecture/reference-archite

[2019-03-27 12:29] woutervanranst opened #1382 "Add Management Groups"
Suggestion to add the Management Groups layer to this page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b49c17e1-43a8-3103-f2c9-e95e4620bb75
* Version Independent ID: 2f9cbc64-0f9e-ff5b-c5fa-ffe091e53b81
* Content: [CAF: Resource access management in Azure - Microsoft Cloud Adoption Framework for Azure](https://docs.

[2019-03-27 17:29] mike-urnun-msft commented on #1381
Hi @MCKRUZ Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-03-27 17:29] mike-urnun-msft commented on #1382
Hi @woutervanranst Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-03-28 17:52] adamboeglin commented on #1352
Thanks for the feedback!  I've added it to UserVoice to continue the discussion and prioritize it on our roadmap: https://azure-architecture.uservoice.com/forums/918625/suggestions/37226701

[2019-03-28 17:52] #1352 closed

[2019-03-29 14:32] roalexan commented on #1381
Yes, I'll track it down.

[2019-03-29 14:49] CeciAc opened #1387 "Overcoming VNet peering limits - Mention that NVAs are required"
Hi team,
I'm moving this from here: https://github.com/MicrosoftDocs/architecture-center.de-de/issues/3
The user is making a suggestion on the original documentation

@marcelkmfst commented:
Hi,

under Overcoming VNet peering limits, the Spoke-Hub-Hub model is mentioned. I strongly recommend that you mention that NVAs for Routing are required deployed in the Spoke-Hub as transient routing is not s

[2019-03-29 18:30] mike-urnun-msft commented on #1387
Hi @CeciAc Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-03-31 12:57] DivyeshTikmani opened #1390 "Link to Data Consistency Primer"
Do we have updated link to Data Consistency Primer - on this page. Currently its directing to :
https://msdn.microsoft.com/library/dn589800.aspx

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8e6978f-1eb7-78ca-d785-441aef93cb38
* Version Independent ID: ade4b845-ce0d-f1e3-d1d0-b531318d9857
* Content: [Compensating Tra

[2019-03-31 18:28] mike-urnun-msft commented on #1390
Hi @DivyeshTikmani Thank you for reporting this issue! We will review and make any necessary changes.

[2019-04-04 01:07] LeeSchuenemeyer opened #1395 "Typo on best-practice-explained"
"loging" needs to be updated to "logging".

[2019-04-04 05:10] v-maroge opened #1398 "Request to add API Management to this page"
[Enter feedback here]

Hi,

It would be great if you can add APIM naming rules and restrictions to this page.
thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e540bb6-9f72-0529-28ea-ae82bc869835
* Version Independent ID: 24e71392-985b-59fb-1552-46395b169612
* Content: [Naming conventions for Azure resources - Be

[2019-04-04 17:38] MikeWasson commented on #1395
Fixed by #1397

[2019-04-04 17:38] #1395 closed

[2019-04-04 17:39] #1380 closed

[2019-04-04 19:45] mike-urnun-msft commented on #1398
Hi @v-maroge Thank you for your feedback! We will review and update as appropriate.

[2019-04-04 21:59] mike-urnun-msft commented on #1390
Hey @DivyeshTikmani Could you elaborate on your feedback and clarify what was wrong with the existing links?

[2019-04-05 02:57] DivyeshTikmani commented on #1390
Hi,

There is nothing wrong as such. Page to which ot redirected said that its
an older version and so was just checking if we had a new link for it.

Regards,
Divyesh

On Fri, 5 Apr 2019, 03:29 Mike Urnun, <notifications@github.com> wrote:

[2019-04-05 03:20] dragon119 commented on #1390
It's not updated yet but is in our backlog.

[2019-04-05 13:04] Lbaralageen opened #1401 "This is an example why I hate MSDN"
20 pages of water and no even single example how to write and use.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4ffec9b-27ef-0f8c-5fcf-58347950feaf
* Version Independent ID: 8dadd327-8781-e1ef-e2b3-f75f416524e6
* Content: [Materialized View pattern - Cloud Design Patterns](https://docs.microsoft.com/en-us/azure/arch

[2019-04-06 18:03] mike-urnun-msft commented on #1401
Hi @Lbaralageen Thank you for your feedback! We will review and update as appropriate.

[2019-04-06 22:31] dragon119 commented on #1401
@Lbaralageen, this pattern doesn't require 'code'. It just pre-populate a table for a complex query to make it faster.

[2019-04-08 15:24] danielestevez opened #1404 "New Unicode characters allowed for naming Virtual Machines?"
From the latest blog update for the portal (https://azure.microsoft.com/en-gb/blog/microsoft-azure-portal-april-update/#Use%20of%20non-ASCII%20characters%20for%20virtual%20machine%20names)

However this is not updated in this documentation for the virtual machine resource in Compute. Which are those new Unicode characters allowed? Are they the same as in resource group (Regex pattern: `^[-\w\._\(\

[2019-04-09 05:26] nslindtner opened #1407 "Sample code should be upgraded to newer core version (is now on core 1)"
As noted in header

---
#### Dokumentoplysninger

⚠ *Undlad at redigere denne sektion. Det er påkrævet til docs.microsoft.com ➟ GitHub-problemlinkning.*

* ID: a441af2b-1092-2165-917d-33adf9862d24
* Version Independent ID: c945159a-67e0-7c38-823f-58a58b322650
* Content: [Identity management for multitenant applications](https://docs.microsoft.com/da-dk/azure/architecture/multitenant-identity/#feed

[2019-04-09 16:11] mike-urnun-msft commented on #1404
Hi @danielestevez Thank you for your feedback! We will review and update as appropriate.

[2019-04-09 16:12] mike-urnun-msft commented on #1407
Hi @nslindtner Thank you for your feedback! We will review and update as appropriate.

[2019-04-09 17:28] #884 closed

[2019-04-09 21:35] mike-urnun-msft commented on #1401
Hi @Lbaralageen We will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-04-09 21:35] #1401 closed

[2019-04-09 23:39] MikeWasson commented on #1407
Thanks @nslindtner. Closing as a dup of https://github.com/mspnp/multitenant-saas-guidance/issues/104

[2019-04-09 23:39] #1407 closed

[2019-04-10 05:27] clazarr opened #1408 "Traefik does not support routing to partitioned (stateful) services"
In the API Gateway section where it discusses using Traefik as a gateway to services in a Service Fabric cluster or in advanced scenarios for interservice routing within the cluster, it should be noted that Traefik, unlike Azure API Management, does not have functionality to resolve the partition of a service that a request should be routed to for stateful services with &gt; 1 partition. More back

[2019-04-10 06:45] KetanChawda-MSFT commented on #1408
@clazarr Thank you for your feedback! We will review and provide an update as appropriate.

[2019-04-10 20:06] mike-urnun-msft commented on #1398
Hi @v-maroge Thanks again for helping us drive improvements towards MS Docs! We have made a change and added a row under [General table](https://docs.microsoft.com/en-us/azure/architecture/best-practices/naming-conventions#general) for naming convention for APIM service name.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we wi

[2019-04-10 20:06] #1398 closed

[2019-04-10 20:44] mike-urnun-msft commented on #1404
@danielestevez Blog post that you have referenced above appears discuss this change as part of Portal update, and not necessarily a platform update.

@telmosampaio @MikeWasson thoughts?

[2019-04-10 20:46] danielestevez commented on #1404
It does talk about Portal. Fact is now you can use Unicode characters to deploy VMs through portal and i don't know which characters are valid now
I haven't tried this through CLI though

[2019-04-11 00:11] #882 closed

[2019-04-11 01:41] DMoonesinghe opened #1412 "Traffic Flow from Spok1 to SPoke2"
In the diagram below spoke-connectivity, you have NVA.  With each Spoke1 & Spok2 each has a UDR to send traffic to the other VNet.

If VNet Peering doesn't allow transitive traffic.  How does this traffic flow from Spok1 to Spoke 2.  Is it through the internet?  That is not communicated in this document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-04-11 02:43] #1390 closed

[2019-04-11 04:19] mike-urnun-msft commented on #1412
Hi @DMoonesinghe Thank you for your feedback! We will review and update as appropriate.

[2019-04-12 21:58] ricardoserradas opened #1416 "Provide guidance for generating certificate data for other platforms"
Hi,

It would be good to have guidance on how to generate certificate data for other platforms such as MacOS and Linux [here](https://docs.microsoft.com/en-us/azure/architecture/multitenant-identity/key-vault#set-up-a-client-certificate).

Also, it would be nice to explain this script step by step if you want community to generate guidance for these platforms. I don't know, for example, what is re

[2019-04-13 00:18] ricardoserradas opened #1417 "Fix some parameter issues on Setup-KeyVault.ps1"
Hi,

I was following [this guidance](https://docs.microsoft.com/en-us/azure/architecture/multitenant-identity/key-vault) and I could not use the script [scripts/Setup-KeyVault.ps1](scripts/Setup-KeyVault.ps1) because of two reasons:

- We need the `ResourceGroupName` to run the command below:

[code]

- For people who have multiple Azure Subscriptions, we need to select it right after we logged in

[2019-04-13 18:55] mike-urnun-msft commented on #1416
Hi @ricardoserradas Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-04-13 19:00] mike-urnun-msft commented on #1417
@ricardoserradas Great! Thanks for your contribution & helping us drive improvements towards MS Docs!

[2019-04-15 18:15] mike-urnun-msft commented on #1417
We will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-04-15 18:15] #1417 closed

[2019-04-16 15:46] montereyharris opened #1459 "Azure Standard Loadbalancer Architecture Not included"
Azure Standard Loadbalancer Architecture Not included as an option even though it is the consensus best practice for current gen NVAs in Azure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9bab6a90-43a3-3d83-d680-26683a3d833d
* Version Independent ID: f8eea094-d297-93e6-06ac-7652d059734f
* Content: [Deploy highly ava

[2019-04-16 21:13] raunakjhawar opened #1461 "Public peering update on documentation"
Given public peering is no longer an active offering in Azure for new installations and has been merged with Microsoft Peering, the documentation still call out 6 /30 subnets instead of 4 /30 or even relaxed 4 /23 subnets.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61c1b093-200e-8d59-0e6e-98f510dca5f6
* Version Ind

[2019-04-17 00:55] mike-urnun-msft commented on #1459
@montereyharris Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-04-17 00:56] mike-urnun-msft commented on #1461
Hi @raunakjhawar Thanks for your feedback! Could you provide us with the URL of the specific documentation that your feedback is applicable to?

[2019-04-17 05:48] raunakjhawar commented on #1461
HI Mike, I have found one reference here -[https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/hybrid-networking/expressroute]( https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/hybrid-networking/expressroute) Look for text which comtains 6 /30 subnet.

[2019-04-17 08:50] cbfrank opened #1489 "TokenCache is changed to sealed"
In latest version of ADAL library, TokenCache is changed to sealed while this document still uses inheritance to support distributed cache

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab204a8d-c451-ef99-6610-139a0dee61ac
* Version Independent ID: 23a69ae2-70bc-aab5-bbe1-e9699d57558b
* Content: [Cache access tokens in

[2019-04-17 16:03] ricardoserradas opened #1491 "Add anchor links to help go back and forth on the article"
As it might be useful to go back and forth while reading the article, it would be nice to add anchor links to intermediate headers to help us navigate through it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5df2491-1abe-0211-efbf-c1fb384862e9
* Version Independent ID: f7f0d2cf-3f4f-44dc-54aa-cd59221264d2
* Content:

[2019-04-17 16:26] mike-urnun-msft commented on #1489
Hi @cbfrank Thank you for your feedback! We will review and update as appropriate.

[2019-04-17 16:28] ricardoserradas opened #1492 "The article does not show how to retrieve Secrets from Key Vault"
The article does not finish showing how to retrieve some value from the Azure Key Vault using C#.

I would expect this article to show the app connecting to the Database using the connection string directly from Azure Key Vault, for example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5df2491-1abe-0211-efbf-c1fb384

[2019-04-17 16:28] mike-urnun-msft commented on #1491
Hi @ricardoserradas Thank you for your feedback! We will review and update as appropriate.

[2019-04-17 17:14] ricardoserradas commented on #1492
A good article that we could use as an example or reference it:

https://www.humankode.com/asp-net-core/how-to-store-secrets-in-azure-key-vault-using-net-core

[2019-04-17 19:25] eshudnow opened #1493 "Ports for AD"
Article mentions, "The Active Directory subnet NSG requires rules to permit incoming traffic from on-premises."  The article should be updated to mention that rules are required to permit outbound traffic to on-premises as well.  The ports need to be bi-directional, not one way.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-04-17 19:29] ElanShudnow opened #1494 "System State Backup"
I would mention in the Manageability Section that it is recommended to use Azure MARS Backups installed within each Domain Controller to back up System State.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65f26361-0def-4ae9-e28a-8a8d4f97b87f
* Version Independent ID: ef55eb02-6543-88ad-4f89-5a553848bc67
* Content: [Ex

[2019-04-18 02:40] DixitArora-MSFT commented on #1492
@ricardoserradas Thanks for the feedback. I have assigned this to content author to review and update as appropriate.

[2019-04-18 02:48] ricardoserradas commented on #1492
Cool, thanks!

I'm also working on a general DevOps guidance on GitHub and I worked on creating some samples for .NET Core + KeyVault to cover some security stuff that you could leverage, if you want:

https://github.com/ricardoserradas/feat-flag-sample/blob/master/docs/01-key-vault.md

[2019-04-18 10:48] PramodValavala-MSFT commented on #1493
@eshudnow Thanks for the feedback! We will investigate and get back to you.

[2019-04-18 10:52] DixitArora-MSFT commented on #1494
@eshudnow Thank you for your feedback! We will review and provide an update as appropriate.

[2019-04-19 18:14] ElanShudnow opened #1515 "Availability Sets? Why not Availability Zones?"
The page mentions, "Deploy at least two VMs running AD DS as domain controllers and add them to an availability set."  May make sense to talk a bit about Availability Zones.  Are they not recommended for Domain Controllers?  My guess is they are preferred over Availability Sets but the article hasn't been updated in a long time.

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2019-04-19 21:17] mike-urnun-msft commented on #1515
Hi @eshudnow Thank you for your feedback! We will review and update as appropriate.

[2019-04-20 20:32] salavala opened #1518 "Need to update based on ADLS Gen2 Functionality"
Page needs to be updated based on the ADLS Gen2 functionality. It actually offers GRS. Incorrectly stated.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4931350d-0c12-00b2-64a8-112f67aba3f2
* Version Independent ID: eed89d06-7676-30e1-b801-2f67a09856f0
* Content: [Choosing a data storage technology](https://docs.micros

[2019-04-21 04:23] mike-urnun-msft commented on #1518
@salavala Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-04-22 09:40] PramodValavala-MSFT commented on #1494
@eshudnow I believe Azure MARS Backup would indeed be the ideal candidate but will leave it to the content author to review and update this information.

[2019-04-22 09:44] PramodValavala-MSFT commented on #1493
@eshudnow Thanks for catching this! I have a raised a PR to include this information.

[2019-04-22 13:19] jtuliani opened #1521 "EA required for cost management?"
Says an EA is required to use Azure Cost Management. However, it is actually now available for PAYG as well (in Preview). https://azure.microsoft.com/en-gb/blog/azure-cost-management-now-general-availability-for-enterprise-agreements-and-more/

However, it's not available for CSP and some other subscription types.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2019-04-23 02:42] DixitArora-MSFT commented on #1521
Hi @jtuliani Thank you for your feedback! We will review and update as appropriate.

[2019-04-23 08:25] AlexandreJean opened #1523 "Link ANEO down"
hello,
The link to the customer story Aneo is not available.
Regards

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7cf67b7-8d94-d7a2-97ef-1387e252109c
* Version Independent ID: 0d3a72a7-6600-5682-6be1-6c333192bbd6
* Content: [High Performance Computing (HPC) on Azure](https://docs.microsoft.com/en-us/azure/architectu

[2019-04-23 09:28] DixitArora-MSFT commented on #1523
Hi @AlexandreJean Thank you for your feedback! We will review and update as appropriate.

[2019-04-23 10:58] Heloiseboanerges opened #1524 "Unable to deploy solution using templates or the portal, only valid when used powersell"
Hi,
I've tried to deploy the solution, but was only able to complete the deployment using poweshell, https://docs.microsoft.com/en-us/azure/expressroute/expressroute-howto-coexist-resource-manager
When using the portal the error "another gateway exists..." appeared.
It seems the restrictions were removed, but the error persists.

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2019-04-23 21:14] mike-urnun-msft commented on #1524
Hi @Heloiseboanerges Thank you for reporting this issue! We will review and make any necessary changes.

[2019-04-24 08:37] DixitArora-MSFT commented on #1521
@jtuliani I have assigned this to content author to review and update as appropriate.

[2019-04-24 14:40] PramodValavala-MSFT commented on #1493
@eshudnow Thanks for contributing to MS Docs!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-24 14:40] #1493 closed

[2019-04-24 20:04] ahpstar opened #1527 "Underscore character is not working in VM names"
I have a support case where the customer has underscore in VM names (xxx_xx_xxx), and he is getting a validation error.  I have reproduced the same error in my subscription. The documentation states that underscore is supported as long as not used at the beginning or end on VM names.  Is underscore character supported in VM naming convention?

---
#### Document Details

⚠ *Do not edit this section

[2019-04-25 02:35] DixitArora-MSFT commented on #1527
Hi @ahpstar Thank you for your feedback! We will review and update as appropriate.

[2019-04-25 06:28] DixitArora-MSFT commented on #1527
@ahpstar In the documentation under compute, Underscore is not mentioned under Virtual Machines.
Follow this and let me know if any questions. https://docs.microsoft.com/en-us/azure/architecture/best-practices/naming-conventions#compute

[2019-04-25 10:15] sangling opened #1529 "Multiple Gateways on one vNet"
The doc states: "Create the ExpressRoute virtual network gateway and the VPN virtual network gateway in the same VNet. This means that they should share the same subnet named GatewaySubnet." However, when trying to deploy a second gateway I get the error "A virtual network can't be associated with more than one gateway."

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2019-04-25 12:51] ahpstar commented on #1527
Hello DixitArora-MSFT,

Thank you for replying back and confirming it for the customer.

I will relay to the customer that _ is not a valid character for compute.

When reading the document from the link you sent (which is also the one I read prior to sending you a question), it states the following under naming rules and restrictions.

[cid:e6a62401-61a8-40cb-bee1-705168eae7bf]

It sounds as thou

[2019-04-25 18:04] sangling commented on #1529
The confusion here seems to be that the Expressoute and VPN virtual network gateways are two connections on the same gateway. Ref: https://docs.microsoft.com/en-us/azure/expressroute/expressroute-howto-coexist-resource-manager

[2019-04-25 18:17] mike-urnun-msft commented on #1529
Hi @sangling Thank you for your feedback! We will review and update as appropriate.

[2019-04-26 02:58] stvngao opened #1531 "Is CQRS an architecture style, or just an architecture pattern?"
This page mentions CQRS is an architecture style. But [another page](https://docs.microsoft.com/en-us/dotnet/standard/microservices-architecture/microservice-ddd-cqrs-patterns/eshoponcontainers-cqrs-ddd-microservice) says it is not an arch style, just a pattern.

I agree that is just a pattern. My understanding CQRS is normally applied within several microservices, and CQRS normally doesn't decide

[2019-04-26 08:29] KetanChawda-MSFT commented on #1531
@stvngao Yes, Your understanding is correct. CQRS is an architectural pattern.

@MikeWasson any thoughts here?

[2019-04-26 21:06] BrianBlanchard commented on #1521
This will be addressed in our next release, in a few days. Thanks for flagging this discrepancy.

[2019-04-26 21:06] #1521 closed

[2019-04-26 21:08] #922 closed

[2019-04-29 02:28] DixitArora-MSFT commented on #1527
@ahpstar For now will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-29 02:28] #1527 closed

[2019-04-29 02:46] murugsl opened #1532 "Excellent Document"
Nicely laid out and just enough details. Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8080bec2-ff05-badc-ffb7-194922d03ce2
* Version Independent ID: cb2aa366-a5b6-b0dc-0e2f-84376ba7b7f3
* Content: [Design reliable Azure applications](https://docs.microsoft.com/en-us/azure/architecture/reliability/#feedback)

[2019-04-29 04:00] KetanChawda-MSFT commented on #1532
@murugsl Thank you so much for the positive feedback! I will let @MikeWasson know that he knocked it out of the park with this documentation.

We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-04-29 04:00] #1532 closed

[2019-04-29 05:22] KetanChawda-MSFT commented on #1531
@stvngao  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-29 05:22] #1531 closed

[2019-04-29 12:33] ahpstar commented on #1527
Hello,

Thank you for the assistance again. Sure, it can be closed.
Just a  quick question though.
As mentioned in the previous email, it seems the document is not clear or at least inconsistent in regard to underscore use when it comes to naming VMs.
The following section in the document seems to state that underscore is supported when it is not used at the beginning or at the end of VM naming.
U

[2019-04-30 05:53] ashishmundrajll opened #1533 "Multi-Region Deployment - If user base is in Asia and US"
We have equal amount of users in Asia and US, and if we select HongKong as Primary Region, then will it be slower Performance for users in USA to access our sites?

I am looking for a Pattern which supports both cross-region availability and disaster recovery. Azure SQL is the backend but its secondary replica is read-only.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2019-04-30 07:59] KetanChawda-MSFT commented on #1533
@ashishmundrajll Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2019-04-30 08:09] ashishmundrajll commented on #1533
Here it is - https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/app-service-web-app/multi-region
In this deployment there will be a latency which users from US will face if Primary Region is HK. If Azure SQL can support Multi-master (master - master replication), this may work.

AWS has some multi-master feature but I only glanced over it, not sure if that is relevant.

[2019-04-30 13:56] isamllr opened #1534 "HDInsight left out in documentation"
If Databricks is listed here, HDInsight should be represented as well

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0bdc71b-0a54-4cc4-1b79-f60e274e9a51
* Version Independent ID: 1783570c-3545-71c8-72d3-d5657f77c070
* Content: [Choosing a machine learning technology](https://docs.microsoft.com/en-us/azure/architecture

[2019-05-01 04:17] mike-urnun-msft commented on #1534
Hi @isamllr Thank you for your feedback! We will review and update as appropriate.

[2019-05-02 03:52] KetanChawda-MSFT commented on #1533
@ashishmundrajll This reference architecture focuses on active/passive with hot standby, using Traffic Manager for failover. You can configure Traffic Manager as with the geographic traffic routing method to direct traffic to specific endpoints based on the geographic location where the requests originate.

Since there is no doc update required at the moment, we will now proceed to close this thre

[2019-05-02 03:52] #1533 closed

[2019-05-02 13:51] mattonmicrosoft opened #1537 "Data Gateway"
Why is there no mention of the on-premises data gateway in this architecture? My thinking is this is a key piece of the architecture and allows cloud-based systems to be integrated with on-premises systems.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 287bb9a4-a404-f75b-9bf5-ebd445245938
* Version Independent ID: 31d

[2019-05-02 21:35] mike-urnun-msft commented on #1537
Hi @mattonmicrosoft Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-05-05 17:40] d83194 commented on #1382
I agree, adding in a mention of Management Group would be welcomed. Is there an ETA on this? Cheers

[2019-05-06 17:30] AErmie opened #1542 "Update architecture to use VNet Peering"
This document should be updated to remove the recommendation to use VPN Gateways between VNets, to rather use VNet Peering.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be033e7f-d78f-f63f-c9b5-f08130315704
* Version Independent ID: d66f5650-fffb-79a6-ee59-40eaad06cd4f
* Content: [Multi-region N-tier application for h

[2019-05-07 00:05] mike-urnun-msft commented on #1542
Hi @AErmie  Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-05-07 14:10] CharmanderJieniJieni opened #1544 "Why do we need to enable forward traffic on spoke vnet of peering"
In the peering section, it is said Configure all VNet peering connections to allow forwarded traffic.
What is the purpose of enabling this in the spoke side?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 104eba32-c77e-b013-e161-ff616d16a0f7
* Version Independent ID: 3bc27d0a-ef32-f5f6-4c85-fe8e2e45155e
* Content: [Imp

[2019-05-07 19:42] mike-urnun-msft commented on #1544
Hi @Charmendar Thank you for your feedback! We will review and update as appropriate.

[2019-05-08 17:44] MikeWasson commented on #982
Closing as I don't think there is a direct comparison

[2019-05-08 17:44] #982 closed

[2019-05-08 18:28] mike-urnun-msft commented on #1546
@samsmithnz Glad to hear that this documentation was helpful :)

[2019-05-08 18:28] #1546 closed

[2019-05-08 20:02] snpdev opened #1547 "Grammar bug"
The first sentence on the page reads "This reference architectures shows a microservices application..."

The word "architectures" should be singular, not plural.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5e2e444-d6b9-962e-56d4-8d1f3508ba9e
* Version Independent ID: 061ea6aa-353b-a98d-cbf6-639209a5fd1b
* Content:

[2019-05-08 20:08] samsmithnz opened #1546 "We need more documentation with flowcharts like this. An excellent resource!"
This is an excellent resource!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 510808e8-db5d-6b07-9a04-6edb743a2dfc
* Version Independent ID: 20d098aa-ef31-cb26-d677-765cfc9a7164
* Content: [Decision tree for Azure compute services - Azure Application Architecture Guide](https://docs.microsoft.com/en-us/azure/architectu

[2019-05-08 21:12] revodavid opened #1548 "Azure Notebooks"
Would be good to include a reference to Azure Notebooks on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0bdc71b-0a54-4cc4-1b79-f60e274e9a51
* Version Independent ID: 1783570c-3545-71c8-72d3-d5657f77c070
* Content: [Choosing a machine learning technology](https://docs.microsoft.com/en-us/azure/architecture

[2019-05-08 23:29] KeiroKamioka0000 opened #1549 "Please consider to add Japanese document for this"
Please

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: e9383c21-9143-1559-c1a8-e6f6dc830159
* Version Independent ID: 37c6c659-a6bc-633e-2b3f-337deb01c215
* Content: [Integrate on-premises AD domains with Azure AD - Azure Reference Architectures](https://docs.microsoft.com/ja-jp/azure/architecture/reference-architectures/identity/azure-ad)
* Content S

[2019-05-09 03:30] KetanChawda-MSFT commented on #1547
@snpdev Thank you for your feedback! We will review and provide an update as appropriate.

[2019-05-09 03:32] KetanChawda-MSFT commented on #1548
@revodavid Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-09 03:54] KetanChawda-MSFT commented on #1549
@KeiroKamioka0000 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-09 05:22] #1547 closed

[2019-05-09 05:23] KetanChawda-MSFT commented on #1547
@snpdev  The doc has been updated with correct grammar. Thank for pointing that out.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-09 18:35] bluPhy opened #1550 "Names on the Marketplace category are swapped"
In the Marketplace category the marketplace names as swapped, it should be:
AWS service -&gt; AWS Marketplace
Azure service -&gt; Azure Marketplace

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30d02f16-9621-d204-4132-8ce8db79b0af
* Version Independent ID: 65b4385b-79f0-d842-d4a1-5d013615f9b1
* Content: [AWS to Azure

[2019-05-09 21:26] JohnRusk commented on #1345
Hi @KetanChawda-MSFT. I'm on the AzCopy V10 team, and was just about to log an issue about this when I saw that one was already logged. I'm not sure whether "optimized for big data" means "can transfer large data volumes" or " can transfer data to data lake".  In any case, AzCopy v10 can transfer large data volumes AND can transfer to Azure Data Lake Gen 2. So I think it should be shown as Optimiz

[2019-05-10 05:28] PramodValavala-MSFT commented on #1550
@bluPhy Thanks for catching that! We have worked up a PR to fix that which should reflect in a couple of hours.

[2019-05-10 06:15] #1550 closed

[2019-05-11 16:57] manknewl opened #1551 "Marketplace"
Columns are in the wrong order.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30d02f16-9621-d204-4132-8ce8db79b0af
* Version Independent ID: 65b4385b-79f0-d842-d4a1-5d013615f9b1
* Content: [AWS to Azure services comparison - Azure Architecture Center](https://docs.microsoft.com/en-us/azure/architecture/aws-professiona

[2019-05-12 06:41] mike-urnun-msft commented on #1551
@manknewl Thank you for your feedback! We will review and update as appropriate.

[2019-05-12 08:54] mike-urnun-msft commented on #1534
@isamllr HDInsights appears to have been mentioned in [this section](https://docs.microsoft.com/en-us/azure/architecture/data-guide/technology-choices/data-science-and-machine-learning?toc=%2Fen-us%2Fazure%2Fmachine-learning%2Ftoc.json&bc=%2Fen-us%2Fazure%2Fbread%2Ftoc.json#microsoft-machine-learning-server) and part of the same recommendation; as such, we've made a minor update in that sentence t

[2019-05-12 08:58] #1534 closed

[2019-05-13 13:30] MS-Stamp opened #1552 "Minor change"
"These evolutions happen across three disciplines:" - the bullet points and diagram show four disciplines rather than three.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5801b908-175f-2d5a-39fa-cedaf040cfd4
* Version Independent ID: acba8c9f-9026-94c0-64f2-27a610f616c9
* Content: [Large enterprise governance journey

[2019-05-13 14:05] KetanChawda-MSFT commented on #1552
@MS-Stamp Thank you for your feedback! We will review and provide an update as appropriate.

[2019-05-13 19:57] colinweiner opened #1554 "AzureUSGovernment Subscription"
Stepping through deploying the solution on US Gov and after I set az cli to AuzreUSGovernment and run the azbb command to Deploy the simulated on-premises datacenter, I get a:

_**Switched**_ active cloud to 'AzureCloud'

For some reason, the template is reverting back to AzureCloud and not allowing me to deploy in Azure Gov.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-05-13 23:06] mike-urnun-msft commented on #1554
Hi @colinweiner Thank you for your feedback! We will review and update as appropriate.

[2019-05-14 03:54] KetanChawda-MSFT commented on #1552
@MS-Stamp Thank you for pointing it out. I have created a PR to fix the doc as suggested. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-14 03:55] #1552 closed

[2019-05-14 07:38] joshmowork opened #1555 "Update to include C# in databricks & like for like pricing"
Databricks now supports C# https://github.com/dotnet/spark

Also is it possible to include a like for like pricing comparison for the different tools, this is a commonly raised point when choosing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 957618b3-8d25-49c4-950c-0c044d68f443
* Version Independent ID: 2ab67665-066b

[2019-05-14 10:30] PramodValavala-MSFT commented on #1555
@joshmowork Thanks for the feedback! We are assigning this issue to the content author for review.

[2019-05-14 20:56] ScoGroMSFT opened #1556 "Kafka Misspelled"
Kafka is misspelled in the sentence "Then it sends a notification message using Kakfa-enabled Event Hubs."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1970e0cd-53ae-02f6-479b-9ca386a5220e
* Version Independent ID: 8a81baa3-61c2-a8f6-540c-9a239583b8d6
* Content: [Claim-Check pattern - Cloud Design Patterns](https://d

[2019-05-14 22:10] mike-urnun-msft commented on #1556
@ScoGroMSFT  Thank you for your feedback! We will review and update as appropriate.

[2019-05-14 22:40] colinweiner commented on #1554
https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-nps-extension

Its the first diagram

[2019-05-15 09:26] dalejmarshall opened #1557 "Triggered Webjobs Deployment"
The doc states "If you want the job to respond to an event-driven trigger, you should configure it as Run continuously. The script or program is stored in the folder named site/wwwroot/app_data/jobs/continuous."

Is this correct? When I used the portal to create a Triggered type WebJob with a manual trigger it was placed in site/wwwroot/app_data/jobs/triggered

---
#### Document Details

⚠ *Do not

[2019-05-15 09:28] DixitArora-MSFT commented on #1557
@dalejmarshall Thanks for reaching out! We will investigate on this issue and get back to you soon.

[2019-05-16 07:01] DixitArora-MSFT commented on #1557
@dalejmarshall Folow this [doc ](https://docs.microsoft.com/en-us/azure/app-service/webjobs-create#webjob-types)for types of Webjobs.

Following are the location for the triggered and continous web job mentioned in the [doc ](https://docs.microsoft.com/en-us/azure/architecture/best-practices/background-jobs#azure-web-apps-and-webjobs)as well .

For triggered execution: site/wwwroot/app_data/jobs/t

[2019-05-16 13:12] gilherau opened #1558 "Why use grafana"
Can you elaborate on why we're recommending to use grafana to visualize the metrics? Azure Monitor has built-in visualizations capabilities using Power BI and the Kusto Query language. Is there something special about the DataBricks telemetry that makes it unreadable in KQL?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2019-05-16 15:49] mike-urnun-msft commented on #1558
Hi @gilherau Thank you for your feedback! We will review and update as appropriate.

[2019-05-18 16:08] DixitArora-MSFT commented on #1557
@dalejmarshall For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-18 16:08] #1557 closed

[2019-05-18 17:55] MikeWasson commented on #1551
I fixed this - thanks!

[2019-05-18 17:55] #1551 closed

[2019-05-18 22:24] manknewl commented on #1551
Thanks Mike. I’m actually at Microsoft in the ISV OCP team in Canada
Manuel

[2019-05-19 04:36] amitpatelupw commented on #1548
Okay

[2019-05-19 04:36] amitpatelupw commented on #1005
Sure

[2019-05-19 22:37] KeiroKamioka0000 opened #1559 "Please consider to add about naming conversations for Fire Wall"
Please consider to add the naming conversation for Azure Firewall's Network rule and application rule.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e540bb6-9f72-0529-28ea-ae82bc869835
* Version Independent ID: 24e71392-985b-59fb-1552-46395b169612
* Content: [Naming conventions for Azure resources - Best practices fo

[2019-05-20 04:16] chwonghk01 opened #1560 "What do you mean by real-time?"
It looks like the recommendation result is precomputed in batch and couldn't handle new users and new items to be recommended.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9353bd7c-c25d-5a4d-17cd-df6d8038d2a3
* Version Independent ID: 21434ad8-78fc-03e3-0bd1-03cc706627c7
* Content: [Build a Real-time Recommendation A

[2019-05-20 09:20] PramodValavala-MSFT commented on #1558
@gilherau I believe this doc accompanies the [library](https://github.com/mspnp/spark-monitoring) that enables sending log data from Azure Databricks to Azure Monitor.

I believe opening an [issue](https://github.com/mspnp/spark-monitoring/issues) on that repository would yield a more insightful discussion.

We are assigning this issue to the content author for further review.

[2019-05-20 12:20] jjindrich opened #1561 "Reference architecture"
Hi, It could be very useful to have a link to Azure Solutions, where is e.g. DR covered with https://azure.microsoft.com/en-us/solutions/architecture/disaster-recovery-enterprise-scale-dr/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8080bec2-ff05-badc-ffb7-194922d03ce2
* Version Independent ID: cb2aa366-a5b6-b0dc-0e

[2019-05-20 12:29] khaNuri opened #1562 "it doesn't need any lock mechanism when you load cache?"
as a sample
  // Avoid caching a null value.
    if (value != null)
.... update cache with long process forexample from SQL Server, and suppose it cost 3 secs.

Where it will be lock? Redis is a distrubuted cache. Many clients ask cache resource just same time. Every client try to update cache?

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-05-20 13:01] PramodValavala-MSFT commented on #1559
@KeiroKamioka0000 Thanks for the feedback! We will review and get back to you.

[2019-05-20 13:20] KetanChawda-MSFT commented on #1560
@chwonghk01 Thank you for your feedback! We will review and provide an update as appropriate.

[2019-05-20 13:22] KetanChawda-MSFT commented on #1562
@khaNuri Thank you for your feedback! We will review and provide an update as appropriate.

[2019-05-20 13:24] KetanChawda-MSFT commented on #1561
@jjindrich Thank you for your feedback! We will review and provide an update as appropriate.

[2019-05-21 01:57] KeiroKamioka0000 commented on #1559
![image](https://user-images.githubusercontent.com/37641695/58062917-19531500-7b31-11e9-9a54-fbba9ae6abb7.png)
As additional information, current portal does not mention about maximum number of fonts can be used.

[2019-05-21 04:30] KetanChawda-MSFT commented on #1559
@KeiroKamioka0000 Thank you for providing details. I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-21 10:39] manisto opened #1564 "IProductsDomain"
The IProductsDomain interface mentioned near the bottom of the page seems a bit detached from the rest of the page. Where is the interface supposed to be used? Who will be calling it, and where will it be implemented?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c0ec92e-c237-f3a6-1835-f2078486dcb3
* Version Independ

[2019-05-21 13:15] DixitArora-MSFT commented on #1564
@manisto Thanks for reaching out! We will investigate on this issue and get back to you soon.

[2019-05-22 01:33] sugarjig opened #1565 "Mention Front Door as an alternative to Traffic Manager?"
With the recent release of Front Door, would it make sense to mention it as an alternative to Traffic Manager? It seems to have all the necessary features to support this architecture, including routing, failover, and health probes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0c0c2a8-94a0-67ef-602a-6013bc7aa403
* V

[2019-05-22 02:29] DixitArora-MSFT commented on #1565
@sugarjig Thanks for reaching out! We will investigate on this issue and get back to you soon.

[2019-05-22 06:11] milespop commented on #939
Bump

[2019-05-23 05:51] DixitArora-MSFT commented on #1565
@sugarjig Could you let us know the documentation that you are referring . This will help us in tacking the changes.

[2019-05-23 05:53] DixitArora-MSFT commented on #1564
@manisto I have assigned this to content author to review and update as appropriate.

[2019-05-24 01:49] KeiroKamioka0000 commented on #1559
@MikeWasson
Hi, how this goes?
Can you confirm up limit are 80 or 64 words?
thanks.

[2019-05-24 02:42] DixitArora-MSFT commented on #1565
@sugarjig Just following up again in case missed the previous communication.

[2019-05-24 08:48] stridsbr opened #1566 "Azure AD P1 or P2"
in the note under roles using Azure AD App Roles it states:
"As noted earlier, customers with Azure AD Premium can also assign security groups to roles."
Does it require P1 or P2? Does it mean P1 when P2 isen't specifically mentioned because both are premium?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0184d69e-7219

[2019-05-24 09:30] DixitArora-MSFT commented on #1566
@stridsbr Thanks for reaching out! We will investigate on this issue and get back to you soon.

[2019-05-24 17:33] jurajlisiak opened #1567 "CloudTrail and Cloudwatch equivalents?"
Are these services going to be added?

[2019-05-24 19:04] MezeiJ opened #1568 "Script Fails"
When I attempt to run the below command  with the location etc set - any ideas appreciated
azbb -s &lt;subscription_id&gt; -g ra-onprem-sp2016-rg -l &lt;location&gt; -p onprem.json --deploy
I get this error
      "contentVersion": "1.0.0.0",
      "uri": "https://raw.githubusercontent.com/mspnp/template-building-blocks/v2.1.0/templates/buildingBlocks/virtualNetworks/virtualNetworks.json"
    },

[2019-05-25 02:21] DixitArora-MSFT commented on #1565
@sugarjig Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-25 02:21] #1565 closed

[2019-05-25 04:03] mike-urnun-msft commented on #1567
Hello @jurajlisiak Thank you for your feedback. Could you provide us with the URL of the documentation that your feedback is applicable to?

[2019-05-25 04:04] mike-urnun-msft commented on #1568
Hi @MezeiJ Thank you for your feedback! We will review and update as appropriate.

[2019-05-25 07:38] mike-urnun-msft commented on #1556
Hi @ScoGroMSFT Thanks reporting this to us and helping us drive improvements towards MS Docs. I've gone ahead and created a PR for this issue, and the change should reflect soon.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-05-25 07:38] #1556 closed

[2019-05-25 20:33] sugarjig commented on #1565
@DixitArora-MSFT I was referring to the new Azure Front Door service, documented at https://docs.microsoft.com/en-us/azure/frontdoor/front-door-overview.

[2019-05-26 22:29] PingPongSet opened #1569 "Availability of latest ebook version of Cloud_Application_Architecture_Guide"
The ebook from the link below is created 2017,
https://azure.microsoft.com/en-gb/campaigns/cloud-application-architecture-guide/

However, the web version from the link below is more recent and has updated content.
https://docs.microsoft.com/en-us/azure/architecture/guide/

Is the latest ebook version of it available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2019-05-27 03:47] KetanChawda-MSFT commented on #1569
@PingPongSet Thank you for your question. The links provided in the e-book, references to the Microsoft public documents which are updating time to time. The latest version of the e-book is not available yet. Looping in @MikeWasson to confirm.

[2019-05-27 06:52] 4416km opened #1570 "Better to remove "term=infrastructure" parameter in the url link of Developers"
https://docs.microsoft.com/en-us/azure/architecture/cloud-adoption/ready/technical-skills

There are some links to "Microsoft Learn" for various roles, Business users, Solution architects, etc.
I think it is better to remove "term=infrastructure" parameter for "Developers" link because it doesn't work in other languages.
For example, Japanese page is the following and the result of clicking "開発者"

[2019-05-27 09:27] DixitArora-MSFT commented on #1567
@jurajlisiak Just following up again in case missed the previous communication.

[2019-05-27 09:36] DixitArora-MSFT commented on #1566
@stridsbr It can be P1 or P2. Because both are premium so the feature is available in both.

[2019-05-27 11:11] jurajlisiak commented on #1567
https://docs.microsoft.com/en-us/azure/architecture/aws-professional/services

[2019-05-27 12:12] stridsbr commented on #1566
This is what it's displaying on the overview
![image](https://user-images.githubusercontent.com/2290125/58418119-2c149f00-8087-11e9-9300-bf851a6a8973.png)

And when I try to add securitygroups for a role I have this message:
![image](https://user-images.githubusercontent.com/2290125/58418178-5d8d6a80-8087-11e9-83bb-d893dcf53390.png)

Is there something that is blocking the usage of groups in the A

[2019-05-27 16:45] CeciAc opened #1571 "Kappa diagram has wrong labels?"
Hi team,
I'm moving this from here: https://github.com/MicrosoftDocs/architecture-center.de-de/issues/5
The user's comment is about a diagram which is the same for both en-us and localized versions.

@tconrady commented 10 hours ago
The Kappa diagram shows the 'Speed layer' contains the 'Master data' and the 'Long-term store' contains the 'Real-time views'. Shouldn't it be the other way around?

-

[2019-05-27 18:21] TangentDave opened #1572 "Service Fabric and AKS fork on decision tree decceptive"
By phrasing the last question as "Need .Net integration or Fully Support Microsoft Stack" with the Yes going to Service Fabric and the No going to AKS, does a major misrepresentation of .Net Core and AKS as a support managed service of Azure. The question implies the .Net Core and/or AKS are not Fully Supported. This question needs to be cleaned up significantly.

[2019-05-28 02:39] DixitArora-MSFT commented on #1570
@4416km Thanks for reaching out! We will investigate on this issue and get back to you soon.

[2019-05-28 02:40] DixitArora-MSFT commented on #1571
@CeciAc Thanks for reaching out! We will investigate on this issue and get back to you soon.

[2019-05-28 02:43] DixitArora-MSFT commented on #1572
Hello @TangentDave  Thank you for your feedback. Could you provide us with the URL of the documentation that your feedback is applicable to?

[2019-05-28 05:53] DixitArora-MSFT commented on #1567
@jurajlisiak [AzureMonitor](https://docs.microsoft.com/en-us/azure/azure-monitor/) \ [Log Analytics](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/log-faq) in Azure is pretty similar to Cloud trail/Cloud watch in AWS. For now will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion.

[2019-05-28 05:53] #1567 closed

[2019-05-28 06:43] DixitArora-MSFT commented on #1566
@stridsbr I have assigned this to content author to review and update as appropriate.

[2019-05-28 06:49] KetanChawda-MSFT commented on #1569
@MikeWasson Checking it , in case you missed last post. Can you please confirm on this.

[2019-05-28 07:00] OptionHenrik opened #1573 "Article needs to be updated - information is not up to date"
Please update article to accomodate Azure AD Domain Services. The section: "Integrate your on-premises domains with Azure AD" states challenges: "Identity services are limited to users and groups. There is no ability to authenticate service and computer accounts." ... this is no longer true as Azure AD Domain Services can authenticate services and computer accounts.

---
#### Document Details

⚠ *

[2019-05-28 10:31] shashishailaj commented on #1566
@stridsbr Could you please send us an email to azcommunity[at]microsoft[dot]com mentioning your tenant name and Azure subscription ID ? We have reached out to PG internally but they would need some information to proceed further. I checked the same with a tenant where I attached P1 license only and it was working . I was able to assign the groups. I am not sure what was wrong in your case but I di

[2019-05-28 10:55] stridsbr commented on #1566
Hi @shashishailaj ,

Thanks for youre help. I have asked someone in internal IT to looka at it and they can do this. So it's probably that my account isen't "trusted". They will look into it.

[2019-05-28 10:55] #1566 closed

[2019-05-28 20:11] mike-urnun-msft commented on #1573
@OptionHenrik Thank you for reporting this issue! We will review and make any necessary changes.

[2019-05-29 04:53] DixitArora-MSFT commented on #1570
@4416km  I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-30 03:42] KetanChawda-MSFT commented on #1573
@OptionHenrik I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-30 09:32] DixitArora-MSFT commented on #1572
@TangentDave Just following up again in case missed the previous communication.

[2019-05-30 09:34] DixitArora-MSFT commented on #1571
@CeciAc I have assigned this to content author to review and update as appropriate.

[2019-05-30 22:21] TravisCragg-MSFT commented on #1554
@colinweiner AZBB is for [Azure Building Blocks](http://azurepost.com/azure-building-blocks/). Azure Buildling Blocks defaults to Public Cloud, but you can specify the --Cloud parameter to use "AzureUSGovernment", so just specify the --cloud parameter.

[2019-05-31 08:17] DixitArora-MSFT commented on #1572
@TangentDave Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-31 08:17] #1572 closed

[2019-05-31 17:53] sbdoroff opened #1575 "Correction on Peering Types and IP type addresses required for Private Peering"
Hello,

I am requesting a quick correction on this documentation.

Under step 4 here (https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/hybrid-networking/expressroute#expressroute-circuit) it states:

Reserve two /30 subnets composed of valid public IP addresses for each type of peering you want to implement. These /30 subnets will be used to provide IP addresses for the

[2019-06-01 09:41] mike-urnun-msft commented on #1575
Hi @sbdoroff Thank you for your feedback! We will review and update as appropriate.

[2019-06-01 18:05] mike-urnun-msft commented on #1554
@colinweiner We will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-06-01 18:05] #1554 closed

[2019-06-05 08:00] MAGROULX opened #1583 "The heading "What is the virtual datacenter" is followed by "What is a virtual datacenter?"."
Are these headings / paragraphs duplicates?

https://docs.microsoft.com/en-us/azure/architecture/vdc/networking-virtual-datacenter#what-is-the-virtual-datacenter

https://docs.microsoft.com/en-us/azure/architecture/vdc/networking-virtual-datacenter#what-is-a-virtual-datacenter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-06-05 14:03] MTawfik86 opened #1584 "scalability capabilities table is not accurate"
Azure SQL database does support dynamic scalability and query scale out

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 560fb3dc-3a89-aa28-f4c1-564f7920f5ca
* Version Independent ID: b5255403-369f-9324-fb16-02526b24dba6
* Content: [Online analytical processing (OLAP)](https://docs.microsoft.com/en-us/azure/architecture/

[2019-06-05 19:45] mike-urnun-msft commented on #1583
Hi @MAGROULX Thank you for your feedback! We will review and update as appropriate.

[2019-06-05 19:52] mike-urnun-msft commented on #1584
Hi @MTawfik86 Thank you for your feedback! We will review and update as appropriate.

[2019-06-10 16:36] jlorich opened #1589 "Subscription groups?"
The first image in this document still references subscription groups months after the first issue was raised. This should be management groups as subscription groups are not a concept and this is confusing to customers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bdc23836-c10c-5c47-818b-42c53916b269
* Version Indep

[2019-06-11 00:33] mike-urnun-msft commented on #1589
Hi @jlorich Thank you for your feedback! We will review and update as appropriate.

[2019-06-11 01:36] KeiroKamioka0000 commented on #1549
Thanks! and Closed!

[2019-06-11 01:36] #1549 closed

[2019-06-11 18:33] #1523 closed

[2019-06-12 03:48] mikewiese opened #1591 "No mention of Event Grid"
Azure Event Grid has been around for a while. It would be nice if you could put up a comparison against the AWS equivalent if one exists

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30d02f16-9621-d204-4132-8ce8db79b0af
* Version Independent ID: 65b4385b-79f0-d842-d4a1-5d013615f9b1
* Content: [AWS to Azure services co

[2019-06-12 04:11] mike-urnun-msft commented on #1591
@mikewiese Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-06-12 08:19] heimohanninen opened #1592 "Well thought introduction & comment on Domain model - knowledge graph approach similarity"
Thanks for easy to read introduction. The process resambles knowledge graph design approach. In the knowledge graph approach, you focus is on business semantics "what is needed, what things means" - rather than what data data we have and where it is stored. That makes me think, that micro services approach would benefit from semantic data modeling and vice versa. As you design knowledge graph, you

[2019-06-12 13:02] rdendtler commented on #1589
New Art was recently created. Will work to get a PR issued and the graphic updated.  Thank you for the feedback

[2019-06-12 22:40] mike-urnun-msft commented on #1592
Hi @heimohanninen,

Thanks for the kudos and sharing your feedback and thoughts on this matter. Surely, it'll benefit others visiting thread.

We will now proceed to close this thread for now since this channel is more for fixing issues in the scope of the documentation and driving improvements towards it. If there are further questions regarding this matter, please reopen it and we will gladly co

[2019-06-12 22:40] #1592 closed

[2019-06-12 22:56] mike-urnun-msft commented on #860
Hi @vicperdana Glad to hear that you've located the solution. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-06-12 22:56] #860 closed

[2019-06-12 23:05] TravisCragg-MSFT commented on #1412
@DMoonesinghe You are correct, and [this is discussed in the peering section of the doc](https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/hybrid-networking/hub-spoke#vnet-peering).

Getting the 2 spokes to communicate via a NVA in the HUB VNET is also an option, and [it is discussed here](https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/hybrid-

[2019-06-12 23:47] carteixeira opened #1593 "Spoke connectivity is allowed using a VPN Gateway"
Considerations - Spoke connectivity options only mention the use of Azure Firewall or NVA, but you can also accomplish this using Virtual Network Gateway.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 104eba32-c77e-b013-e161-ff616d16a0f7
* Version Independent ID: 3bc27d0a-ef32-f5f6-4c85-fe8e2e45155e
* Content: [Implem

[2019-06-13 15:41] vmathur2004 opened #1594 "Discrepancy in text vs diagram for Azure Cosmos and SQL"
The diagram indicates (or it appears to indicate) that data replication for Azure Cosmos DB needs to be configured as a user responsibility. Where as the text indicates that in case of a regional outage on the primary region triggering the fail over for Azure Cosmos will enable the geo-replicated instance in write mode on the secondary region. I feel the diagram needs to be updated to reflect the

[2019-06-13 16:16] PramodValavala-MSFT commented on #1593
@carteixeira Thanks for the feedback! To confirm, do you suggest using Virtual Network Gateway to connect the spoke VNETs directly instead of having traffic go through the hub?

If so, I believe the doc aims to convey how connectivity could be achieved between spokes keeping the hub-spoke topology intact.

[2019-06-13 16:27] MikeWasson commented on #1593
Yes - the idea is to ensure that all traffic flows through the hub

[2019-06-13 17:24] carteixeira commented on #1593
Yes, I am referring to Spoke talking to Spoke via Hub Gateway (Spoke1 >> Hub Gateway >> Spoke2), using UDR in both Spokes pointing traffic to the Virtual Network Gateway. I was able to validate this.
Just wanted to add VPN Gateway as one of the options to accomplish this.

[2019-06-13 18:12] mike-urnun-msft commented on #1412
@DMoonesinghe We will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-06-13 18:12] #1412 closed

[2019-06-13 20:43] JannieSA opened #1595 "Azure Front Door Service"
Compared to AWS CloudFront, is Azure Front Door not also an Azure Service alongside Azure Content Delivery Network?

Great website thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30d02f16-9621-d204-4132-8ce8db79b0af
* Version Independent ID: 65b4385b-79f0-d842-d4a1-5d013615f9b1
* Content: [AWS to Azure services

[2019-06-13 22:55] mike-urnun-msft commented on #1594
Hi @vmathur2004 Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-06-13 22:56] mike-urnun-msft commented on #1595
Hi @JannieSA Thank you for your feedback! We will review and update as appropriate.

[2019-06-14 05:48] PramodValavala-MSFT commented on #1595
@JannieSA You are right! Thanks for catching that! We have raised a PR to include this.

[2019-06-14 10:08] isamllr opened #1596 "This documentation should be moved to https://docs.microsoft.com/en-us/azure/azure-databricks/"
This documentation should be moved to https://docs.microsoft.com/en-us/azure/azure-databricks/ - it's product specific and should not be part of general guidance / Data architectures

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3db4a7e-3958-b1dc-c1db-9761cf15f9cf
* Version Independent ID: 4d673510-6eae-464b-9d19-3d8

[2019-06-14 13:59] roberto-mardeni opened #1597 "Azure AWS Account Compare has wrong label"
The image at docs/aws-professional/images/azure-aws-account-compare.png shows "Account" around "Subscription" perhaps it should say "Account/Enrollment" to avoid confusion

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d100d43f-d48a-3d97-1aea-7a5409fdccc8
* Version Independent ID: 568dcd88-b93c-1d41-44d0-8643dd057a33
*

[2019-06-14 16:37] MikeWasson commented on #1571
Thanks - yes, the labels are switched. I will open a PR to fix this.

[2019-06-14 16:37] #1571 closed

[2019-06-14 16:40] MikeWasson commented on #1594
Thanks for the feedback. The diagram just shows the data replication path, not user responsibility. Would it be more clear if the label was "geo-replication"?

[2019-06-14 17:24] vmathur2004 commented on #1594
Geo-replication would be better - thanks

[2019-06-16 02:36] jlorich commented on #1589
Awesome! I can't wait to see it.  Thanks!

[2019-06-16 23:46] dcbrown16 opened #1598 "Tags are not exactly "alphanumeric" limited"
It may be difficult to confirm without involving localization, but can we change at least the tag naming restrictions from "alphanumeric" to "Unicode" or something else more appropriate? I have tested that Japanese characters, even fairly unusual ones that we previously saw didn't count as "words" for the RG naming conventions, work fine in tags.
I'm pretty sure that it's just the (single-byte) ve

[2019-06-17 04:27] KetanChawda-MSFT commented on #1598
@dcbrown16 Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-17 05:56] KetanChawda-MSFT commented on #1597
@roberto-mardeni Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-06-17 06:36] KetanChawda-MSFT commented on #1596
@isamllr Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-06-17 07:10] cmeeren opened #1599 "Grammar error"
The following sentences look like they have been "partially refactored, so to speak.

&gt; With each microservice responsible for its own data persistence. As a result, data consistency can be a challenge.

Perhaps it was meant to be this?

&gt; Each microservice is responsible for its own data persistence. As a result, data consistency can be a challenge.

---
#### Document Details

⚠ *Do not edi

[2019-06-17 08:44] KetanChawda-MSFT commented on #1599
@cmeeren Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-17 08:53] KetanChawda-MSFT commented on #1598
@dcbrown16 The following limitations apply to tags:

- Not all resource types support tags. To determine if you can apply a tag to a resource type, see [Tag support for Azure resources](https://docs.microsoft.com/en-us/azure/azure-resource-manager/tag-support).
- Each resource or resource group can have a maximum of 15 tag name/value pairs. This limitation applies only to tags directly applied to

[2019-06-17 09:57] PramodValavala-MSFT commented on #1593
@carteixeira Are you referring to have a multi-site VPN Gateway in the hub network connected to the spoke networks? In that case, this would require having VPN Gateways running in them as well I believe. And in azure this would be over kill considering VNET peering is much simpler (and cheaper).

But this is something that might help when trying to achieve a hub-spoke topology for a poly-cloud (wi

[2019-06-17 16:48] MikeWasson commented on #1596
Thanks for the feedback - I'll look into adding this to the Databricks product docs TOC

[2019-06-17 16:48] #1596 closed

[2019-06-17 16:53] MikeWasson commented on #1599
Thanks for pointing this out. I have submitted a fix.

[2019-06-17 16:53] #1599 closed

[2019-06-17 16:57] MikeWasson commented on #1598
@KetanChawda-MSFT Thanks - is there an existing doc that describes these rules?

[2019-06-17 17:29] MikeWasson commented on #1597
@roberto-mardeni Do you have a reference for "enrollment"? I can't find anything in the AWS documentation that uses that term. Their tutorials and [glossary](https://docs.aws.amazon.com/general/latest/gr/glos-chap.html#A) all use "account" as far as I can tell.

[2019-06-17 18:29] MikeWasson commented on #1594
Thanks - I have submitted an update.

[2019-06-17 18:29] #1594 closed

[2019-06-17 18:43] MikeWasson commented on #1591
@mikewiese Thanks - the closest comparison seems to be SNS, although the two services aren't identical. I'm adding an update to the doc.

[2019-06-17 18:43] #1591 closed

[2019-06-17 18:46] MikeWasson commented on #1589
Looks like the PR went live - https://docs.microsoft.com/en-us/azure/architecture/cloud-adoption/appendix/azure-scaffold#need-for-governance

[2019-06-17 18:46] #1589 closed

[2019-06-17 18:49] roberto-mardeni commented on #1597
@MikeWasson I mean it in the other direction, an AWS Account can be referred to as an "Account/Enrollment" on the Azure side. Recently I had an interaction with an Enterprise customer that used this page as reference and when we mentioned Enrollment he was confused, which is the case when Enterprise Agreements are in place.

[2019-06-17 19:15] carteixeira commented on #1593
No, I'm talking about using 1 VPN Gateway to route traffic between the spokes, just like when you have an NVA. See picture below:

![image](https://user-images.githubusercontent.com/20302679/59630152-44b62900-910a-11e9-847c-3afa4d4543cd.png)

[2019-06-17 19:33] MikeWasson commented on #1597
Ah, got it! thanks

[2019-06-17 20:05] MikeWasson commented on #1569
Yes, that's correct. Right now we have no plans to update the eBook.

[2019-06-17 20:05] #1569 closed

[2019-06-17 20:31] MikeWasson commented on #1597
@roberto-mardeni We are planning some documentation in Cloud Adoption Framework (CAF) that discusses subscriptions and accounts in more detail. We plan to revisit this AWS article once the CAF doc ships.

[2019-06-17 20:58] MikeWasson commented on #1564
@manisto Thanks for the feedback. Here's what I think is going on:  `ProductsCommandHandler`  should have an `IProductsDomain`, not an `IRepository<Product>` , which would be a generic repository and would not have methods like `RateProduct` as shown.

[2019-06-18 04:49] KetanChawda-MSFT commented on #1598
@MikeWasson Yes, [here](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-using-tags) is the doc.

[2019-06-18 05:04] dcbrown16 commented on #1598
@KetanChawda-MSFT yes I read that link, but my request still stands.
The link you provided doesn't say anything about a requirement that tags use strictly ALPHAnumeric characters, emphasis on alpha as in Roman letters vs Japanese, Chinese, or any of many other character sets. I'm asking that the page be revised to remove the wording "alphanumeric" and use a more precise descriptor that considers o

[2019-06-18 05:13] KetanChawda-MSFT commented on #1598
@MikeWasson Any thoughts here?

[2019-06-18 06:35] RobertoPrevato opened #1600 "Document another issue of using "groupMembershipClaims": "SecurityGroup""
Hi,
Please document another drawback of using "groupMembershipClaims": "SecurityGroup":
* as users belong to more groups, access tokens grow in size more and more
* a practical example of why this can be a problem, is when using Cookie sign in scheme + OpenID Connect challenge scheme in ASP.NET Core applications:
- * the cookie grows more and more in size
- * users that belong to many groups in AA

[2019-06-18 16:57] MikeWasson commented on #1555
@joshmowork Thanks, I'll adding dotnet support to the table. Pricing comparison is a lot trickier, for example Stream Analytics is charged by SUs, whereas Databricks is charged by a combination of VM time + database units (DUs)

[2019-06-18 16:58] #1555 closed

[2019-06-18 18:05] MikeWasson commented on #889
#sign-off

[2019-06-18 18:13] SychevIgor commented on #889
interesting. 5 people participating in this issue. to fix 1 symbol. it takes already 9 months.

[2019-06-18 18:38] doodlemania2 commented on #801
#pleaseclose

[2019-06-18 18:40] doodlemania2 commented on #801
#please-close

[2019-06-18 18:40] #801 closed

[2019-06-18 18:41] doodlemania2 commented on #889
#please-close per merge to live

[2019-06-18 18:41] #889 closed

[2019-06-18 18:48] doodlemania2 commented on #896
Merged to backlog #please-close

[2019-06-18 18:48] #896 closed

[2019-06-18 18:50] doodlemania2 commented on #864
Merged to backlog #please-close

[2019-06-18 18:50] #864 closed

[2019-06-18 18:52] doodlemania2 commented on #747
#please-close as guidance updated on product post GA. Will backlog to update example scenario.

[2019-06-18 18:52] #747 closed

[2019-06-18 18:59] doodlemania2 commented on #1515
As AZ's aren't yet available globally, our architecture has to fall back to most commonly available / repeatable pattern. That said, we've added this to our backlog to check and see if the AD team is ready for updated guidance on DS in AZs. Thanks so much! #please-close

[2019-06-18 18:59] #1515 closed

[2019-06-18 19:01] doodlemania2 commented on #660
Merging with backlog. #please-close

[2019-06-18 19:04] doodlemania2 commented on #686
Merging to backlog. Thank you all for the feedback. We'll get this updated soon. #please-close

[2019-06-18 19:04] #686 closed

[2019-06-18 19:06] doodlemania2 commented on #826
This is applicable to all versions of Windows. Great feedback though! #please-close

[2019-06-18 19:06] #826 closed

[2019-06-18 19:08] doodlemania2 commented on #846
@Mike-Ubezzi-MSFT -- did this get addressed by recent product announcements on hooking up CI-CD and therefore just needing to make some tuning to both the doc and the graphics?

[2019-06-18 19:14] MikeWasson commented on #900
I updated the doc awhile back but forgot to close this issue 😸

[2019-06-18 19:14] #900 closed

[2019-06-18 19:17] doodlemania2 commented on #914
Merging to backlog for possible future update! Thanks for this great feedback. #please-close

[2019-06-18 19:17] #914 closed

[2019-06-18 19:18] adrianwells commented on #826
@doodlemania2 might you add verbiage to help others in the future? It appears this is closed without adding wording.

[2019-06-18 19:21] doodlemania2 commented on #927
This has been added to our backlog. We hope to provide an update soon! #please-close

[2019-06-18 19:21] #927 closed

[2019-06-18 19:21] #1491 closed

[2019-06-18 19:45] #1542 closed

[2019-06-18 19:58] doodlemania2 commented on #826
@adrianwells oh yes most definitely - I've sent a note over to the AD team to confirm it holds for all versions and  includes specific language for 2019.

[2019-06-18 20:09] Mike-Ubezzi-MSFT commented on #846
@doodlemania2 Yes, I did finally see that the lower left of the interface allows for navigation to the desired settings:

![Screenshot (91)](https://user-images.githubusercontent.com/37126106/59716120-39c2cd80-91ca-11e9-8637-52e1e6184d3e.png)

[2019-06-18 20:10] Mike-Ubezzi-MSFT commented on #846
@doodlemania2 Different issue.

[2019-06-18 20:51] MikeWasson commented on #1558
Using the spark-monitoring library, the data lands in Log Analytics, so you can consume it via the portal dashboards, Kusto queries, etc. We provided a Grafana dashboard as an example.

[2019-06-18 20:51] #1558 closed

[2019-06-18 21:10] doodlemania2 commented on #959
@fmoserinnl did you get resolution on this item?

[2019-06-18 21:12] doodlemania2 commented on #959
The typo was corrected (https://github.com/MicrosoftDocs/architecture-center/pull/1233/commits/717dc2c4cf662faa6b876429fa5050f5eac1cb35). Going ahead with #please-close but OP can of course reply back if question still remains.

[2019-06-18 21:12] #959 closed

[2019-06-18 21:14] fmoserinnl commented on #959
Thanks

This was a while ago and we went with our assumptions back then and got things working.

Franz

From: Derek <notifications@github.com>
Sent: Tuesday, June 18, 2019 11:13 PM
To: MicrosoftDocs/architecture-center <architecture-center@noreply.github.com>
Cc: fmoserinnl <fmoser@fmoser.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/architecture-center] onprem.json protec

[2019-06-18 21:14] PRMerger9 commented on #959
Only Microsoft employees can manage issues via commenting in this repo.

[2019-06-18 21:20] doodlemania2 commented on #1045
This is accurate per Microsoft support: https://support.microsoft.com/en-us/help/909264/naming-conventions-in-active-directory-for-computers-domains-sites-and #please-close. Thanks so much for the question and apologies for the (extensive) delay in getting to this!

[2019-06-18 21:20] #1045 closed

[2019-06-18 21:22] doodlemania2 commented on #1124
@JipingWang are you referring to this newly released preview: https://azure.microsoft.com/en-us/updates/b2c-admin-roles-preview/

[2019-06-18 21:23] doodlemania2 commented on #959
thanks @fmoserinnl for letting us know!

[2019-06-18 21:26] doodlemania2 commented on #1162
Closed by https://github.com/MicrosoftDocs/architecture-center/commit/35d4a7104f810c9aec9591f62aa5c40f63c56078 #please-close

[2019-06-18 21:26] #1162 closed

[2019-06-18 21:28] doodlemania2 commented on #1153
@Justinha is correct on this. Gonna go ahead and #please-close but if you have additional questions, definitely let us know!

[2019-06-18 21:28] #1153 closed

[2019-06-19 01:17] doodlemania2 commented on #1195
Thanks for the feedback. We feel that Event Hubs is really more of an ingest mechanism, not really a good candidate for pub/sub style design patters. Please let us know if you have additional questions. #please-close

[2019-06-19 01:17] #1195 closed

[2019-06-19 01:18] mike-urnun-msft commented on #1600
Hi @RobertoPrevato
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-06-19 06:56] PramodValavala-MSFT commented on #1593
@carteixeira I've checked with my team internally and while using VPN gateway is possible there are some things to consider

- NVAs have extra security capabilities by defining policies and rules when compared to VPN gateways
- Using VPN results in latency and constrained throughput while NVA's can offer high throughput and performance instead

[2019-06-19 09:24] PingPongSet opened #1603 "data store for blobs or XML documents"
Below is quoted from the article.

Can you elaborate on this? Does it mean relational database cannot be used for blobs or XML documents ? or just BIG blobs or XML documents?
What datastore can be used for small/large blobs or XML documents ?

"A mismatch between the choice of data store and the type of data, such as large blobs or XML documents in a relational database."

https://docs.microsoft.c

[2019-06-19 12:29] jreynolds01 commented on #1560
@chwonghk01 You are correct. In this context, we mean real-time in terms of the latency of retrieving the recommendations for a user when they interact with the application that surfaces the recommendation. In this example, the recommendations would be updated in a batch process that would be scheduled according to the business problem. For a real-time scoring or real-time inferencing process we a

[2019-06-19 16:42] carteixeira commented on #1593
I understand the implications, NVA is going to be a better choice but with higher cost, I'm just saying that if this option is available, if should be mentioned in the documentation, especially for customers that do not need or have the ability to manage/maintain/pay for an NVA.
VPN GW is a lower cost / less maintenance option.

[2019-06-19 16:56] #1185 closed

[2019-06-19 17:01] MikeWasson commented on #1603
Most relational databases can store things like blobs and XML documents, and that may be fine for some workloads. But if you are storing a lot of very large blobs in an RDBMS it may create a bottleneck and then it's better to store these in a different data store, and then just keep a pointer to the blob in the relational data. As for which data store, you might use blob storage or a document data

[2019-06-19 17:15] MikeWasson commented on #1600
@RobertoPrevato Thanks for the feedback. According to [this doc](https://docs.microsoft.com/azure/active-directory/develop/access-tokens), Azure AD handles this case by including an "overage" claim after a certain limit. (I haven't personally tried this.)

[2019-06-19 18:32] #1598 closed

[2019-06-19 20:34] MikeWasson commented on #1560
@chwonghk01 I'll close this issue for now. Please re-open if you have any further questions.

[2019-06-19 20:34] #1560 closed

[2019-06-20 07:04] RobertoPrevato commented on #1600
Hi @MikeWasson, thanks for the heads up. I wasn't aware of the "overage" claim, however the problem I described above with iOS devices, happens way before the documented limit of _(150 for SAML, 200 for JWT)_.

The problem I experienced back in 2017, was described for example here:
* [Issue 830 reported in ASP.NET](https://github.com/aspnet/Security/issues/830)
* [This blog post, under "Safari iss

[2019-06-20 09:42] Tblanchin commented on #1387
"NVAs for Routing are required deployed in the Spoke-Hub as transient routing is not supported" => means Spoke-hub-hub topology is not supported ?
Is there an alternative solution ?

[2019-06-20 10:31] PramodValavala-MSFT commented on #1595
@JannieSA On further discussion, CDN functionality is just one feature that Azure Front Door provides. It is probably has more features similar to AWS Global Accelerator.

We are assigning this issue to the content author for further review.

[2019-06-20 16:42] MikeWasson commented on #1603
@PingPongSet I'll go ahead and close this issue unless you have further questions. Thanks!

[2019-06-20 16:42] #1603 closed

[2019-06-20 20:04] doodlemania2 commented on #1069
Merged in. Thank you! #please-close

[2019-06-20 20:04] #1069 closed

[2019-06-20 20:05] doodlemania2 commented on #1184
Merged in today. Thank you! #please-close

[2019-06-20 20:05] #1184 closed

[2019-06-20 20:05] doodlemania2 commented on #1595
Merged in today. Thank you! #please-close

[2019-06-20 20:05] #1003 closed

[2019-06-20 20:05] #1595 closed

[2019-06-20 20:28] doodlemania2 commented on #1180
Thank you for reporting. We're working to bring this content up to date and move it into our Architecture Center very soon!

[2019-06-20 20:28] #1180 closed

[2019-06-20 20:32] doodlemania2 commented on #1102
Hello there! These graphics are currently accurate, but can be refactored to be more clear. We've taken this into our internal backlog for review. May also apply to CAF. Thanks for raising this and apologies for the long delay here.

[2019-06-20 20:32] #1102 closed

[2019-06-20 20:54] JannieSA commented on #1595
Please validate? I am not sure if Azure Front Door Service compares to AWS SiteWise (IoT SiteWise)

[2019-06-20 21:07] doodlemania2 commented on #1595
agh - thank you @JannieSA this is fixed in https://github.com/MicrosoftDocs/architecture-center-pr/pull/218/

[2019-06-20 21:12] doodlemania2 commented on #1595
Merged - thanks again!

[2019-06-21 17:58] #1200 closed

[2019-06-22 15:16] PingPongSet opened #1606 "Serverless vs Container"
Please can you elaborate on why it is below?
"
It can be challenging to build a complex application using a serverless architecture.
"

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93139ee2-ff91-ee5e-a056-8d6b597a81f3
* Version Independent ID: 8b4436e0-094c-9602-2ead-43bb3b2f98f1
* Content: [Choosing an Azure compute

[2019-06-22 17:06] PingPongSet opened #1607 "Serverless Microservices and Service meshes"
Does a microservices using serverless need a Service meshes?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f259ccea-882e-9496-27cf-af8d13edaae4
* Version Independent ID: a7bab5c8-7227-e836-a721-0c54f94a2d8c
* Content: [Interservice communication in microservices](https://docs.microsoft.com/en-gb/azure/architecture/mic

[2019-06-22 18:21] PingPongSet opened #1608 "API communication vs in process communication"
Why do Scheduler Service and Drone Service communicate via API?

Are they located at different microservices?
https://docs.microsoft.com/en-gb/azure/architecture/microservices/design/api-design#mapping-rest-to-ddd-patterns

I thought both belong to Shipping bounded context (Shipping microservice).

https://docs.microsoft.com/en-gb/azure/architecture/microservices/model/domain-analysis#define-bound

[2019-06-22 21:14] SeaDude opened #1609 "Typo"
What is meant by this sentence? I believe it contains a typo:

Validate that on-premises security and traffic management mechanisms are treat connected cloud networks as untrusted.

Please address.
Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5801b908-175f-2d5a-39fa-cedaf040cfd4
* Version Independent ID: ac

[2019-06-22 21:36] PingPongSet opened #1610 "Multiple data store with Delivery history"
How does it work when both Cosmos DB and Azure Data Lake Store are used for query and data insertion?

For example, how to tell which store for query, and which store for data insertion?

Is there other challenges raised?

"Therefore, the Delivery History service also stores a subset of the historical data in Cosmos DB for quicker lookup."

https://docs.microsoft.com/en-gb/azure/architecture/micro

[2019-06-22 23:34] PingPongSet opened #1611 "Bounded Context, Microservice, Domain Services"
I am confused. Is each of these a separate microservice: Delivery, Package, Supervisor, Scheduler? based on below

"Delivery and Package are obvious candidates for microservices. The Scheduler and Supervisor coordinate the activities performed by other microservices, so it makes sense to implement these domain services as microservices."

Furthermore, is each of these rectangles on the diagram bel

[2019-06-23 16:51] MikeWasson commented on #1611
Hi @PingPongSet, I think [this section](https://docs.microsoft.com/en-gb/azure/architecture/microservices/model/microservice-boundaries#from-domain-model-to-microservices) of the article answers your question. Our guideline is to start with a bounded context and then consider whether you need to further divide into smaller services. Let me know if you have further questions.

[2019-06-23 16:54] MikeWasson commented on #1607
Service mess is more of a container orchestrator concept. This article doesn't really address serverless architectures -- we're hoping to provide more guidance on serverless microservices architectures in the future. In the meantime, I'll try to clarify this point in the article. Thanks!

[2019-06-24 05:10] KetanChawda-MSFT commented on #1609
@SeaDude Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-24 05:29] KetanChawda-MSFT commented on #1610
@PingPongSet Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-24 05:29] KetanChawda-MSFT commented on #1606
@PingPongSet Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-24 05:30] KetanChawda-MSFT commented on #1608
@PingPongSet Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-24 17:10] #1611 closed

[2019-06-24 17:12] MikeWasson commented on #1608
In this case Scheduler service and Drone service are separate microservices. This is related to your other question in #1611. Let me know if you have any other questions about this.

[2019-06-24 17:12] #1608 closed

[2019-06-24 17:17] praneetmsft opened #1613 "Need update for MLOpsPython ref architecture"
Hi Team, can someone update the repo with following changes?
https://github.com/MicrosoftDocs/architecture-center/pull/1612

[2019-06-24 17:37] #1606 closed

[2019-06-24 17:37] #1607 closed

[2019-06-24 19:11] #1613 closed

[2019-06-25 07:54] dreizehnutters opened #1614 "Configure Azure Databricks to send metrics to Azure Monitor Documentation is not complete"
Hi,
https://docs.microsoft.com/en-us/azure/architecture/databricks-monitoring/configure-cluster
I am trying to configure my spark Cluster to send log4j logs to azure 'Log Analytics workspace'. I noticed that the 'listern.sh' requires you to enter your LOG_ANALYTICS_WORKSPACE_ID and LOG_ANALYTICS_WORKSPACE_KEY (line 56,57)

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-06-25 09:37] dreizehnutters commented on #1614
if I add my credentials, the cluster wont initialize:

19/06/25 08:55:55 INFO StaticConf$: DB_HOME: /databricks
19/06/25 08:55:55 INFO DriverDaemon$: ========== driver starting up ==========
19/06/25 08:55:55 INFO DriverDaemon$: Java: Oracle Corporation 1.8.0_212
19/06/25 08:55:55 INFO DriverDaemon$: OS: Linux/amd64 4.15.0-1045-azure
19/06/25 08:55:55 INFO DriverDaemon$: CWD: /databricks/driver
19

[2019-06-25 13:24] atoakley commented on #1614
This line in the stack trace (Caused by: java.lang.ClassNotFoundException: org.apache.spark.listeners.UnifiedSparkListener) means that the unified listener is not on the classpath for the Spark cluster.  Have you built the supporting projects and copied them to DBFS so the init script can find them? The init script copies them into the correct location for Spark.

[2019-06-25 15:07] dreizehnutters commented on #1614
I copied the 3 .jar`s into /databricks/monitoring-staging via dbfs

[2019-06-25 16:35] a-zaf opened #1615 "Two trivial edits"
Greetings,

"Edit 1" :
Section "Web-Queue-Worker", second paragraph, sentence four:
"But with a complex domains, [...]"
&gt;&gt; should be either "with complex domains" or "with a complex domain"

"Edit 2" :
Section "Big Data, Big Compute", sentence two:
"[...] performing paralleling processing across the entire set [...]"
&gt;&gt; should be "parallel processing"

---
#### Document Details

⚠ *Do

[2019-06-25 21:03] atoakley commented on #1614
This means the init script is likely failing.  Are you on Windows?  If so, make sure you have saved the file with LF as a line teminator.  CRLF line endings will cause the script to fail in bash.

[2019-06-25 22:24] mike-urnun-msft commented on #1124
Hey @JipingWang We will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-06-25 22:24] #1124 closed

[2019-06-25 23:34] mike-urnun-msft commented on #1615
Hi @a-zaf Thanks for pointing these out and sharing your feedback! We'll review and update as appropriate.

[2019-06-26 06:55] dreizehnutters commented on #1614
I am on a Windows machine here.
I am now getting:
_Init Script Failure: Init script dbfs:/databricks/monitoring-staging/listeners.sh failed: Script exit status is non-zero_
and the cluster logs are all empty

[2019-06-27 20:21] doodlemania2 commented on #1382
Merged with CAF internal backlog! Thanks so much.

[2019-06-27 20:21] #1382 closed

[2019-06-27 20:39] #1345 closed

[2019-06-27 20:45] doodlemania2 commented on #1544
This is a great question! We do that so the peers can talk to each other by way of routing via the hub. Without it, the packets would drop as they attempted to exit the spoke destined for the hub and vice-versa. Let us know if that still doesn't explain it well and we can look at re-wording!

[2019-06-27 20:45] #1544 closed

[2019-06-27 20:48] doodlemania2 commented on #1387
This is accurate as a best practice. Spoke/Hub/Hub would add additional complexities that are not easy to troubleshoot if there's a routing problem with one of the NVAs. The Enterprise Pattern speaks to the use case of a single Hub region. If you are a multi-national with multiple Hubs, you would likely be leveraging a combination of Peering and ExpressRoute Premium at that point. Great questions.

[2019-06-27 20:48] #1387 closed

[2019-06-27 21:12] #1529 closed

[2019-06-27 21:14] doodlemania2 commented on #1609
Thank you for the typo find! Merged into internal CAF backlog.

[2019-06-27 21:14] #1609 closed

[2019-06-27 21:23] doodlemania2 commented on #1615
Thank you @a-zaf - we've got these staged! In the future, if you like, you are more than welcome to open a PR directly on docs when you find errors and we can get them patched up quick! :)

[2019-06-27 22:31] #1615 closed

[2019-06-28 17:46] derekschauland opened #1622 "KeyVault limitations"
Are there set naming limitations for KeyVault resources? There seems to be a 24 character limit on this resource type, but it is not called out anywhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e540bb6-9f72-0529-28ea-ae82bc869835
* Version Independent ID: 24e71392-985b-59fb-1552-46395b169612
* Content: [Naming

[2019-06-29 17:46] mike-urnun-msft commented on #1622
Hey @derekschauland Thank you for your feedback! We will review and update as appropriate.

[2019-07-01 12:33] StingyJack opened #1623 "How does this differ from a codebehind or C in MVCS?"
MVCS = Model View Controller Service, where the Service resides between the model and the controller to provide both a scaling point and orchestrator.
 .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 064550fc-3915-2d6f-5ed1-9ee8f022a418
* Version Independent ID: ae425b05-6281-325f-28b9-e0de00877589
* Content: [Backend

[2019-07-02 02:33] DixitArora-MSFT commented on #1623
Hi @StingyJack Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-02 03:36] dragon119 commented on #1623
@StingyJack , These two patterns address different problems. MVC is to decouple the presentation from the backend data while BFF is to provide most relevant API for each type of consumers (PC, mobile, etc.)

[2019-07-02 03:49] StingyJack commented on #1623
CodeBehinds specifically and Controllers (both ASP.net MVC and the standard kind) are layers of indirection used to serve a UI that will interact with services or data to provide the UI with what it needs.

Controllers _could_ be used to serve non UI clients as well.  Codebehinds are entirely specific to a UI. There is no mention of API on the page.

I dont see what makes this pattern any differen

[2019-07-02 18:26] doodlemania2 commented on #1559
We've confirmed with PG that the limitation on these is that it must be unique to your tenant, must begin with a letter or number, end with a letter number or underscore and may contain only letters, numbers, underscores, periods or hyphens. There is no length limit. Additionally, for fun, Unicode is now supported :)

[2019-07-02 18:26] #1559 closed

[2019-07-02 21:41] tedsmitt opened #1625 "AWS Systems Manager"
I would argue that AWS Systems Manager is a lot similar to Azure Automation. Granted it can be used to monitor compliance/remediate issues. However, it also has a large focus on automating repetitive tasks as well as patching and managing EC2 instances.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30d02f16-9621-d204-

[2019-07-03 03:13] DixitArora-MSFT commented on #1625
Hi @tedsmitt Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-03 06:00] DixitArora-MSFT commented on #1623
@StingyJack Just following up if there are any further questions.
@dragon119 Thanks for your inputs.

[2019-07-03 13:30] StingyJack commented on #1623
@dixitarora-msft - my original question/point has not been addressed.

This article is incomplete if it does not mention these other examples. If the intention is to not mention them, that would be disingenuous (to MSFT especially) and sillier than this patterns acronym.

[2019-07-03 13:58] dragon119 commented on #1623
@StingyJack, backends for frontends is actually a well-known pattern. If you search for that term, you'll see it.

[2019-07-03 21:39] doodlemania2 commented on #1282
Closing as this is being actively worked on in our internal backlog!

[2019-07-03 21:39] #1282 closed

[2019-07-03 21:42] doodlemania2 commented on #1319
Closed closed.

[2019-07-03 21:42] #1319 closed

[2019-07-03 21:47] doodlemania2 commented on #1381
@roalexan did this get found?

[2019-07-04 03:51] DixitArora-MSFT commented on #1623
@StingyJack I have assigned this to content author to review and update as appropriate.

[2019-07-04 05:22] laneyvb opened #1627 "Reading from Cosmos Db"
The architecture diagram at the top shows data flowing from cosmos via the hot path to stream analytics .   The example architecture and other documentation  only covers writing to Cosmos from IoTHub via functions.    I think that arrow should be removed from the diagram, if it's not a mistake and is possible info on how to read from Cosmos into stream analytics would be a useful addition.

---
##

[2019-07-04 09:17] KetanChawda-MSFT commented on #1627
@laneyvb Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-05 05:05] knssub opened #1628 "Article should be updated"
Very well written article. Thanks for the details shared. However, will be great to see this article updated with the below info which will be very useful for readers/users:
1. Provide VHD files for so that we could edit and reuse
2. Update terminology on OMS with new terminology
3. Provide guidance on what is required for a managed services team to operate for a different Azure subscription (Exam

[2019-07-05 13:11] DixitArora-MSFT commented on #1628
Hi @knssub Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-05 13:16] DixitArora-MSFT commented on #1625
@JasRobe Any inputs in this ?

[2019-07-05 15:13] reddyrajanala commented on #1379
I would recommend using Polly
https://github.com/App-vNext/Polly/wiki/Retry

[2019-07-05 15:15] reddyrajanala opened #1629 "Use Polly"
I highly recommend Polly
https://github.com/App-vNext/Polly/wiki

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 497c1436-d32c-1fb5-3209-22058fece4b2
* Version Independent ID: 4818d7be-c866-39bc-f2c3-d7af59d2cd4e
* Content: [Retry pattern - Cloud Design Patterns](https://docs.microsoft.com/en-us/azure/architecture/patte

[2019-07-05 20:15] doodlemania2 commented on #1625
This is an interesting, but not quite complete comparison. We'll close this for now, but if you think we're missing the mark, please definitely let us know and we'll be happy to rethink!

[2019-07-05 20:15] #1625 closed

[2019-07-05 20:51] doodlemania2 commented on #1628
Tagging @BrianBlanchard

[2019-07-05 20:56] doodlemania2 commented on #1494
We've got a pretty comprehensive update being worked on here and I've included this note in our backlog. Going to close for now but you should see some updates pretty soon!

[2019-07-05 20:56] #1494 closed

[2019-07-05 20:58] doodlemania2 commented on #1583
Corrected in recent update. Thank you for this!

[2019-07-05 20:58] #1583 closed

[2019-07-06 02:51] mike-urnun-msft commented on #1629
Hi @reddyrajanala - Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-07-06 19:27] mikepope opened #1630 "Capping issue with elements in "OLTP""
You're capping "Online Transaction Processing" two ways--using sentence capping in the title (perhaps part of an overall push for sentence-capping titles?), and using heading caps in the intro para. I only noticed this because we're trying to figure out what the appropriate capping is for this term. :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-07-07 02:22] DixitArora-MSFT commented on #1630
Hi @mikepope Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-07 18:14] swissgrammie opened #1631 "Add heirloom computing to the list of options"
Heirloom provides compiler and runtimes to migrate application code and data to the cloud, we are already a microsoft partner and have replatformed customer application to automatically integrate native cloud features such as dynamic horizontal scaling and serverless functions as a service. I would be happy to help you update your documents to reflect our capabilities.

[2019-07-08 01:47] mike-urnun-msft commented on #1631
@swissgrammie Thank you for sharing your feedback! Could you provide us with the URL of the specific documentation that your feedback is applicable to?

We would love for you to contribute towards MS Docs; you can start here and review the process: [Contribution Guide](https://review.docs.microsoft.com/en-us/help/contribute/?branch=master)

[2019-07-08 18:48] #1584 closed

[2019-07-08 18:53] doodlemania2 commented on #1264
Thank you for this idea! Closing for now but we've added this item to our internal backlog for possible inclusion in an upcoming release.

[2019-07-08 18:53] #1264 closed

[2019-07-08 18:57] doodlemania2 commented on #1265
Closing for now, but we've added this to our internal backlog for a future release of the solution. Great idea to bring them all together!

[2019-07-08 18:57] #1265 closed

[2019-07-08 20:30] doodlemania2 commented on #1597
Okay to close for now pending the CAF shipment.

[2019-07-08 20:30] #1597 closed

[2019-07-09 07:06] cengxiye opened #1632 "Correct wrong content"
Step 2: Manage hybrid identity
"In Connect to Azure AD, they specify the credentials for connecting to the Azure AD (in the form CONTOSO\admin or contoso.com\admin)."
It seems not right, the picture shows that the form should be xxxxxx@contosomigration.onmicrosoft.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80c9

[2019-07-09 07:54] KetanChawda-MSFT commented on #1632
@cengxiye Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-09 09:15] cengxiye opened #1633 "NSG and ASG"
Can experts also check the table of this chapter?
https://docs.microsoft.com/en-us/azure/architecture/cloud-adoption/migrate/azure-best-practices/contoso-migration-infrastructure#work-with-nsgs

It's not easy to understand where the NSG fits, and also the meaning of those rules, for example rule AllowWebToApp looks like allow FE tier to App tier, the source is APP1-FE, but the destination tier is

[2019-07-09 16:39] BrianBlanchard commented on #1632
Thanks for catching this error. The update will be pushed out in our next release.

[2019-07-09 16:39] #1632 closed

[2019-07-09 16:44] BrianBlanchard commented on #1633
Another great catch. The table has been updated & will go live in our next release. Thank you

[2019-07-09 16:44] #1633 closed

[2019-07-09 16:50] BrianBlanchard commented on #1628
Adding @tracsman for thoughts on this potential improvement.

[2019-07-09 17:01] BrianBlanchard commented on #1570
Thanks for the feedback. This appears to be a delay in translation of the learn modules. I'll confirm & update this issue accordingly.

The en-us version of the link shows the four modules we would expect to see related to this topic. https://docs.microsoft.com/en-us/learn/browse/?roles=developer&term=infrastructure

Regardless of the translation, our next release will now add a second link for de

[2019-07-10 00:44] cengxiye opened #1634 "Step2 Source server type is wrong"
For Source server type, Contoso selects SQL Server on Azure Virtual Machines.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99fa4eb8-fc61-25c9-1e8d-f52a0eac1381
* Version Independent ID: 7958b3aa-d184-5f73-7364-6f99913614a9
* Content: [Assess on-premises workloads for migration to Azure - Microsoft Cloud Adoption Fram

[2019-07-10 04:10] KetanChawda-MSFT commented on #1634
@cengxiye Thank you for your feedback! Can you please provide more details around this issue for better clarity.

[2019-07-10 04:18] KetanChawda-MSFT commented on #1634
@cengxiye Just realize what you are mentioning. I will create a PR to fix this. It should be "For Source server type, Contoso selects SQL Server and for Target server type, Contoso selects SQL Server on Azure Virtual Machines.

[2019-07-10 04:25] #1634 closed

[2019-07-10 04:26] KetanChawda-MSFT commented on #1634
@cengxiye Thank for the catch! We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-10 06:12] mike-urnun-msft commented on #1631
@swissgrammie Since we haven't heard back, we will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-07-10 06:12] #1631 closed

[2019-07-10 07:31] lukepuplett opened #1635 "Perpetuates some myths about REST"
I'm sorry to pick on this page, since I cannot remember ever seeing a good introduction to REST, but since its coming from Microsoft I think its important to pick on authority. I think it perpetuates some myths about REST and should instead start with HATEOAS and the state machine and then explain that to make this work requires the creation of rules around processing the JSON, XML or XHTML.

Cons

[2019-07-10 08:01] lukepuplett commented on #1635
It's not a terrible article, on the contrary but in general the HATEOAS information comes too late in the page, and there are some specific things that betray the author's understanding.

Under "Organise the API around resources"

This is a myth. If when I hit the green Comment button on this GitHub page, the URL to which it posts in the form control behind this page has a verb in it, do I care? N

[2019-07-10 16:43] taromielnaz opened #1636 "Deployment"
In the Architecture section, this sentence  "The application is deployed to each region", does it mean manually or automatically? If a web app changes a lot, do we have to apply the updates on all web apps in other regions? Or are they synced automatically?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0c0c2a8-94a0-6

[2019-07-10 18:06] OlivierJM opened #1637 "typo "mange" instead of "manage""
There is a typo under Architecture section
https://docs.microsoft.com/en-us/azure/architecture/example-scenario/apps/devops-dotnet-webapp#architecture

on the 7th point it is spelled  wrongly
7. Developers monitor and <del>mange</del> manage health, performance, and usage information.

[2019-07-10 19:36] taromielnaz commented on #1565
Yes, this is my question as well. They are so similar to each other

[2019-07-10 21:53] #1637 closed

[2019-07-11 04:18] PramodValavala-MSFT commented on #1635
@lukepuplett Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2019-07-11 05:32] PramodValavala-MSFT commented on #1636
@taromielnaz Thanks for the query! We will get back to you on this.

[2019-07-11 10:57] PramodValavala-MSFT commented on #1637
@OlivierJM Thanks for contributing to MS Docs!

[2019-07-11 16:32] lukepuplett commented on #1635
I've updated the README here which I hope will help "the penny drop" with regard to a REST API (as opposed to a CRUD-over-HTTP API)

https://github.com/lukepuplett/surfdude-csharp/blob/master/README.md

[2019-07-12 12:50] ctahok opened #1640 "Typo -"mange""
Developers monitor and mange health, performance, and usage information.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8865190-b9ac-ae5e-2590-30237ed43697
* Version Independent ID: 45d8bb8c-10f1-de72-6644-a20ba60a32af
* Content: [Design a CI/CD pipeline using Azure DevOps - Azure Example Scenarios](https://docs.micro

[2019-07-12 15:56] alex-frankel opened #1641 "Azure Building Blocks should not be used"
azbb is a dead project per my understanding. Can this be updated to use a different deployment method like ARM, CLI or PS?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 142dd377-b9db-b526-d4f2-51310cf6a926
* Version Independent ID: 954769a7-e6cf-ed89-e9cc-5c2e63f9890e
* Content: [Windows N-tier application with SQL Se

[2019-07-12 18:28] MikeWasson commented on #1630
@mikepope I can't think of any reason for this to be capitalized, as it's a general industry term not something like a brand name. FWIW Wikipedia [agrees](https://en.wikipedia.org/wiki/Online_transaction_processing) 😺

[2019-07-12 18:30] MikeWasson commented on #1640
Good catch, thanks! 😺

[2019-07-12 18:31] #1630 closed

[2019-07-12 18:32] #1640 closed

[2019-07-13 04:06] PramodValavala-MSFT commented on #1641
@alex-frankel Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2019-07-14 01:01] fawohlsc opened #1642 "Firewall rules do not allow SSH"
hub-firewall.json only allows RDP via 3389, but not SSH via port 22. Following checking connectivity via Linux VMs will fail in "Add connectivity between spokes" chapter.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 104eba32-c77e-b013-e161-ff616d16a0f7
* Version Independent ID: 3bc27d0a-ef32-f5f6-4c85-fe8e2e45155e
*

[2019-07-14 01:05] fawohlsc opened #1643 "Verify connectivity in chapter "Add connectivity between spokes" fails..."
... since Azure Firewall blocks ping 10.2.0.68

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 104eba32-c77e-b013-e161-ff616d16a0f7
* Version Independent ID: 3bc27d0a-ef32-f5f6-4c85-fe8e2e45155e
* Content: [Implement a hub-spoke network topology in Azure - Azure Reference Architectures](https://docs.microsoft.com/en-us/

[2019-07-14 04:35] PramodValavala-MSFT commented on #1642
@fawohlsc Thanks for the feedback! We will review and update accordingly.

[2019-07-14 04:35] PramodValavala-MSFT commented on #1643
@fawohlsc Thanks for the feedback! We will review and update accordingly.

[2019-07-15 04:01] PramodValavala-MSFT commented on #1636
@taromielnaz Yes. You would have to manually deploy them since they are all separate entities resources.

Ideally, you would want to setup [continuous deployment using git](https://docs.microsoft.com/en-us/azure/app-service/deploy-continuous-deployment) for production scenarios, which would take care of deployment to all regions.

As for creating the app service resources themselves, you could use

[2019-07-15 15:59] myaesubi opened #1647 "hub-spoke network topology with shared services in Azure -contoso.com not found"
Hi,
DSC installation part on VM extension install errors out as following complaining about "contoso.com" domain does not exist.

Deployment failed. Correlation ID: a7b453c9-081d-4a06-8789-c9a4e2d5e1b3. {
[code]

[2019-07-15 16:29] DixitArora-MSFT commented on #1647
Hi @myaesubi Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2019-07-15 17:25] taromielnaz commented on #1636
Thanks, @PramodValavala-MSFT. It can be closed now.

[2019-07-15 17:25] #1636 closed

[2019-07-15 18:12] adamboeglin opened #1649 ""Plan" button at the bottom links to Strategy page"
The "Plan" button at the bottom links to Strategy page.  This should probably link to the overview of the "Plan" section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 218b42ff-1cf2-c31c-1a1a-59625eb9e09e
* Version Independent ID: ab742d17-9eba-2daa-c4fc-50b17a1e0eba
* Content: [Getting started with a cloud migration

[2019-07-15 18:53] myaesubi commented on #1647
Hi @DixitArora-MSFT ,
Please find below:
https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/hybrid-networking/shared-services.

Thanks,
Mohammad

[2019-07-15 20:33] #1622 closed

[2019-07-16 03:49] KetanChawda-MSFT commented on #1649
@adamboeglin Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-16 18:08] Aishwaryadinde18 opened #1652 "Send application logs using Log4j is giving error"
Getting this error while running Log3j command:
import com.microsoft.pnp.logging.Log4jConfiguration
getClass.getResourceAsStream("{file name}/log4j.properties"){
      stream => {
        Log4jConfiguration.configure(stream)
      }
}
Internal error, sorry. Attach your notebook to a different cluster or restart the current cluster.
java.lang.RuntimeException: abort: DriverClient destroyed
	at com.

[2019-07-16 19:05] lichasu opened #1653 "Diagram captions are not visible in dark theme"
Hi team,

Please check the issue raised here: https://github.com/MicrosoftDocs/architecture-center.es-es/issues/39

Thanks!

[2019-07-17 04:00] X-Ultra opened #1654 "Microservices each service dos't have N-tier?"
Such as presentation, business logic, and data access?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f10a0039-c955-2af1-6b11-ff611a171740
* Version Independent ID: 12c1ecc1-7db6-2d4b-52f3-d4e99c4c5d44
* Content: [Architecture styles - Azure Application Architecture Guide](https://docs.microsoft.com/en-us/azure/archite

[2019-07-17 06:11] DixitArora-MSFT commented on #1653
Hi @lichasu Thank you for your feedback! We will review and update as appropriate.

[2019-07-17 08:42] DixitArora-MSFT commented on #1652
Hi @Aishwaryadinde18 Thank you for your feedback! We will review and update as appropriate.

[2019-07-17 09:03] PramodValavala-MSFT commented on #1654
@X-Ultra I believe there are many variations that would depend on how your micro-services are designed.

For example, the data layer could be part of a microservice as a [sidecar](https://docs.microsoft.com/en-us/azure/architecture/patterns/sidecar) if possible (database per service) or be a shared instance. You can read more about considerations to be made for data with microservices in [this doc

[2019-07-17 19:13] myaesubi opened #1655 "Azure Reference Architecture - Windows N-tier application on Azure with SQL Server- deployment error"
Hi,
I'm working through setup of n-tier app reference architecture at the following Docs address:

https://docs.microsoft.com/en-ca/azure/architecture/reference-architectures/n-tier/n-tier-sql-server

following through the steps of documentation and initiating the deployment after a series of resources are created it throws out an internal error on DSC which is not internal to the VM setup..

`Dep

[2019-07-17 19:54] fleed opened #1656 "Resources dependent on another resource with false condition"
What happens when a specific resource is not deployed (`condition`: `false`), but it is specified as dependency for other resources?
Example:

[code]

If `A` has its condition set to `false`, what will happen to the dependent resources (`B` and, indirectly, `C`)? will there be an error or will they simply not be deployed?

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-07-18 05:19] KetanChawda-MSFT commented on #1656
@fleed Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-18 05:21] KetanChawda-MSFT commented on #1655
@myaesubi Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-18 07:34] KetanChawda-MSFT commented on #1656
@fleed For B is A is necessary resource so all the child/dependent resource will fail too. Checkout [this](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-define-dependencies) document for resource dependency.

[2019-07-18 07:57] fleed commented on #1656
thank you @KetanChawda-MSFT . That means: I should take care of having consistent conditions, so that A and all dependent resources are "ignored", shouldn't I?

[2019-07-18 09:59] PramodValavala-MSFT commented on #1642
@fawohlsc Thanks for catching that! Looks like the templates were tailored for windows. For reference, the template would need to look something like in [this commit](https://github.com/PramodValavala-MSFT/reference-architectures/blob/58191fabb9312e684135a2b8a9e2452278972545/hybrid-networking/hub-spoke/hub-firewall.json).

We are assigning this issue to the content author for further review.

[2019-07-18 10:01] PramodValavala-MSFT commented on #1643
@fawohlsc You can add `ICMP` as a protocol in the firewall rules to get this to work. For reference, the template would need to look something like in [this commit](https://github.com/PramodValavala-MSFT/reference-architectures/blob/268ec03f1101054962b30d773024854e9c732ff3/hybrid-networking/hub-spoke/hub-firewall.json).

We are assigning this issue to the content author for further review.

[2019-07-18 15:28] KetanChawda-MSFT commented on #1649
@BrianBlanchard need your assistance here.

[2019-07-19 01:38] sheldoncxd opened #1659 "Storage File name conventions"
Per the doc, valid characters for Storage File name is Alphanumeric. But at least I can create a file which name contains hyphen and space. Could you please double check the name convention?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e540bb6-9f72-0529-28ea-ae82bc869835
* Version Independent ID: 24e71392-985b-59fb-

[2019-07-19 09:33] KetanChawda-MSFT commented on #1656
@fleed For a given resource, there can be other resources that must exist before the resource is deployed. For example, a SQL server must exist before attempting to deploy a SQL database. You define this relationship by marking one resource as dependent on the other resource. You define a dependency with the dependsOn element, or by using the reference function.

Resource Manager evaluates the dep

[2019-07-19 09:33] #1656 closed

[2019-07-19 10:01] KetanChawda-MSFT commented on #1659
@sheldoncxd Thank you for your feedback!

If you are talking about Storage File Share name, It can contain only lowercase letters, numbers, and hyphens, and must begin and end with a letter or a number. The name cannot contain two consecutive hyphens and File share names must be from 3 through 63 characters long.

I will create a PR to update the document.

[2019-07-19 10:16] #1659 closed

[2019-07-19 15:20] csmurthy opened #1661 "Log analytics workspace"
<snip>
Prerequisites

Configure your Azure Databricks cluster to use the monitoring library, as described in the GitHub readme.

Deploy the Azure Log Analytics workspace
<snip>

The prerequisites need log analytics workspace to be created and configured.
In this document under "Deploy the Azure Log Analytics workspace" section , there are steps to
deploy the Log Analytics workspace. Do we need two

[2019-07-19 16:57] atoakley commented on #1661
@csmurthy You only need a single Log Analytics workspace.  You could configure different clusters to go to different Log Analytics workspaces if you would like, but you technically only need one.  If you have already deployed your Log Analytics workspace, you will have to put the queries in manually, which is not ideal.

I think the easiest way to deploy this is to use the template on this page to

[2019-07-19 17:31] #1642 closed

[2019-07-19 17:33] PramodValavala-MSFT commented on #1642
@fawohlsc The templates have been fixed to include SSH ports.

[2019-07-19 17:36] #1643 closed

[2019-07-19 18:06] PramodValavala-MSFT commented on #1643
@fawohlsc The doc has been updated to use `nc` ([netcat](http://netcat.sourceforge.net/)) instead of `ping` removing the need to allow ICMP and simply utilize the SSH port itself to check for connectivity.

[2019-07-19 18:34] fawohlsc commented on #1643
THanks @PramodValavala-MSFT  :-)

[2019-07-19 18:35] fawohlsc commented on #1642
Thanks @PramodValavala-MSFT - good job :-)

[2019-07-20 03:48] csmurthy commented on #1661
Thanks Andrew. The documentation is little confusing because by the time someone reading this document  they might have already configured Log Analytics workspace.

[2019-07-20 03:48] #1661 closed

[2019-07-22 13:32] stevekmicrosoft opened #1663 "Rewrite Always-Once Semantics Reference"
"Always-Once Semantics" is a either a little used term or not documented anywhere (including the Azure architect exam study materials). I recommend explaining the intent of this term or removing the reference to "always-once semantics."
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f10a0039-c955-2af1-6b11-ff611a171740

[2019-07-23 02:45] mike-urnun-msft commented on #1663
Hi @stevekmicrosoft - Thanks for your feedback. Probably should have meant "At-least-once Semantics" @MikeWasson can confirm

[2019-07-23 14:47] stevekmicrosoft commented on #1663
I agree. I think the common terms are: at-most-once, at-least-once, and exactly-once

[2019-07-23 20:04] #1321 closed

[2019-07-24 00:21] MikeWasson commented on #1663
@stevekmicrosoft Yes - thanks for catching this. I'll clarify this sentence, I think the underlying issue is dealing with possible duplicate messages.

[2019-07-24 02:39] mike-urnun-msft commented on #1663
Hi @stevekmicrosoft - Since @MikeWasson has created a PR that addresses this issue, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-07-24 02:39] #1663 closed

[2019-07-24 02:59] #1575 closed

[2019-07-24 04:17] annathan opened #1667 "Establish a modern perimeter"
The hyperlinks don't direct anywhere. ie: https://docs.microsoft.com/en-us/azure/architecture/security/governance.md#enterprise-segmentation-strategy delivers a 404 response

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55000863-6c61-319b-7d0d-5366c403e5e2
* Version Independent ID: 7bb9bb22-f939-6176-236f-79399b6ab2b4

[2019-07-24 04:59] DixitArora-MSFT commented on #1667
Hi @annathan Thank you for your feedback! We will review and update as appropriate.

[2019-07-24 07:41] steve-hawkins opened #1668 "missing event hub resources"
There is no mention of naming restrictions around the Event Hub resources, Namespaces have to be globally unique for instance

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e540bb6-9f72-0529-28ea-ae82bc869835
* Version Independent ID: 24e71392-985b-59fb-1552-46395b169612
* Content: [Naming conventions for Azure resour

[2019-07-24 08:51] KetanChawda-MSFT commented on #1668
@steve-hawkins Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-24 14:29] Trey432 commented on #720
I'm still not seeing the correct Visio diagram when using the download link.

[2019-07-24 18:41] #1461 closed

[2019-07-24 19:18] MikeWasson commented on #720
@Trey432 - Are you looking at the "Shared Services" tab on the Visio? The file has two diagrams, hub-spoke and hub-spoke with shared services. (I just downloaded it and they look the same to me unless I'm missing something 😺 )

[2019-07-24 19:24] MikeWasson commented on #1655
@myaesubi Thanks, we're working on a fix for this.

[2019-07-24 19:25] MikeWasson commented on #1667
Thanks @annathan, these links have been corrected.

[2019-07-24 19:25] #1667 closed

[2019-07-24 20:30] #1668 closed

[2019-07-24 23:57] MikeWasson commented on #1655
We released an update to the deployment that should fix this issue.

[2019-07-24 23:57] #1655 closed

[2019-07-25 00:00] MikeWasson commented on #1641
@alex-frankel We're actually updating azbb and working on a refresh of this reference architecture.

[2019-07-25 00:00] #1641 closed

[2019-07-25 00:03] atoakley commented on #1652
Answered in mspnp/spark-monitoring#43

[2019-07-25 00:03] #1652 closed

[2019-07-25 02:28] cengxiye opened #1669 "About Set up autoscaling"
https://docs.microsoft.com/en-us/azure/architecture/cloud-adoption/migrate/azure-best-practices/contoso-migration-refactor-linux-app-service-mysql#set-up-autoscaling
3. They configure the same setting on APP-SRV-CUS to ensure that the same behavior applies if the app fails over to the secondary region. The only difference is that they set the instance limit to 1 since this is for failovers only.
#

[2019-07-25 02:31] DixitArora-MSFT commented on #1669
Hi @cengxiye Thank for reaching out. We will review and update as appropriate.

[2019-07-25 17:33] MikeWasson commented on #1635
Thanks for the feedback and discussion. This article is intended to balance pragmatism and theory - the title "API design" rather than "REST API design" was meant to hint at this.

I completely agree the definition of REST includes HATEOAS (I've read the dissertation too) but in practice a lot of web APIs are not fully RESTful, and I think that starting with HATEOAS as a minimum requirement can le

[2019-07-25 17:49] MikeWasson commented on #1623
I'll chime in...

I think this is conflating "controllers" as a specific programming construct in some frameworks (e.g. ASP.NET) with controllers in the MVC design pattern. In the original MVC pattern, the controller is specifically a link between the user and the system. It's true that you can use (ASP.NET) controllers to implement web APIs and therefore to implement the backends-for-frontends pa

[2019-07-25 17:53] MikeWasson commented on #1627
@laneyvb - Thanks, I agree this doesn't make much sense as shown. I think the arrow should be reversed, you can have Stream Analytics write to Cosmos DB as part of the hot/warm path.

[2019-07-25 17:56] MikeWasson commented on #1629
@reddyrajanala Thanks - I agree that generally you should not roll your own retry logic. The purpose of the code snippet is to demonstrate the pattern, but we should include some additional pointers to things like Polly and Resiliency4j. Also for Azure specifically, most of the client SDKs have built-in retry logic.

[2019-07-25 18:08] MikeWasson commented on #1610
@PingPongSet this is logic that would need to be built into the service.

[2019-07-25 18:09] #1629 closed

[2019-07-25 18:18] MikeWasson commented on #1379
@DriezL I think this came from the old Transient Fault Handling Application Block library. In general it will depend on your specific code base. And to @reddyrajanala 's point, it's generally better to use a general purpose retry library. The code in this article is meant to illustrate the pattern.

[2019-07-25 18:30] MikeWasson commented on #1600
@RobertoPrevato Thanks - I didn't forget this thread, I just haven't had time to revisit it. :smile_cat: I'm adding this consideration to the doc now.

[2019-07-25 18:32] #1600 closed

[2019-07-25 18:45] DriezL commented on #1379
Thanks @reddyrajanala , @MikeWasson

[2019-07-25 18:45] #1379 closed

[2019-07-25 18:49] MikeWasson commented on #1623
I'm going to go ahead and close this issue now. Hopefully this thread clarifies why BFF is a "real" pattern, unfortunate acronym aside 😸

[2019-07-25 18:49] #1623 closed

[2019-07-25 20:11] Trey432 commented on #720
Yeah, my mistake.  I didn't realize that there was another tab.  Thanks for the quick response!

[2019-07-25 20:13] #1610 closed

[2019-07-25 22:56] doodlemania2 commented on #1013
Should be fixed by issue corrected in early June 2019

[2019-07-25 22:56] #1013 closed

[2019-07-25 23:04] doodlemania2 commented on #1404
Updated doc on different channel. Should be all fixed!

[2019-07-25 23:04] #1404 closed

[2019-07-25 23:45] #1564 closed

[2019-07-26 18:14] MikeWasson commented on #1614
@dreizehnutters We had a mismatch between the doc and the [GitHub readme](https://github.com/mspnp/spark-monitoring/blob/master/README.md). I have removed the deployment instructions from this article and pointed to the readme, which is up-to-date. I'm going to close this doc issue now, but if you are still having deployment errors, please open an issue at https://github.com/mspnp/spark-monitoring

[2019-07-26 18:14] #1614 closed

[2019-07-26 18:18] MikeWasson commented on #1570
Closing this issue based on the discussion - The changed mentioned above is now live.

[2019-07-26 18:18] #1570 closed

[2019-07-26 19:26] MikeWasson commented on #1568
Looks like it's failing because your organization has an Azure Policy in place that forces HTTPS for storage accounts.  Here is a fix:

1. Create a directory somewhere on the machine that has AZBB installed.
1. Create a file named 'virtualMachineSettings.json'
1. Put the following JSON in it

[code]
1. Save the file
1. Add the following parameter to the azbb command: "-d <path_to_directory_from_st

[2019-07-27 19:30] DeanGross opened #1673 "Best Practices- missing links"
Some of the Identity Best Practices do not have links to the supporting documentation, please add them.

Actually, having the separate Implementing Identity Best Practices section with the links at the end of the document in a little bit confusing, it would be a little bit easier to follow the text if those links were included in the specific section, maybe as a link to Implementation Guidance/Ins

[2019-07-28 04:34] tao-sj opened #1674 "link from CQRS"
[Enter feedback here]

Good information. A minor comment in last section:

```For a comparison of CQRS with other architectural styles, see Architecture styles.```
There's no comparison of CQRS in "Architecture styles", maybe want to link to "https://docs.microsoft.com/en-us/azure/architecture/patterns/ " ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2019-07-28 16:27] mike-urnun-msft commented on #1673
Hi @DeanGross - Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-07-28 20:32] mike-urnun-msft commented on #1674
Hi @tao-sj - Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-07-29 08:43] DixitArora-MSFT commented on #1669
@cengxiye I have created the PR for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-29 08:43] #1669 closed

[2019-07-29 09:36] lukepuplett commented on #1635
Hi Mike, I take your points.

I think the reason why almost no REST API is actually RESTful, is because a) no one has ever seen a good example, and b) every tutorial perpetuates folklore because of (a).

I was one of those guys that used to think I was building REST APIs by having nounified URLs, single resources and collections, using verbs perfectly but all the while having no _useful_ links and

[2019-07-29 17:21] pessimism opened #1676 "Missing Log Analytics Workspaces"
These need to have globally unique names, see this related issue: https://github.com/MicrosoftDocs/azure-docs/issues/35143

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e540bb6-9f72-0529-28ea-ae82bc869835
* Version Independent ID: 24e71392-985b-59fb-1552-46395b169612
* Content: [Naming conventions for Azure resources

[2019-07-29 17:56] MikeWasson commented on #1674
@tao-sj - Thanks, we originally had CQRS as one of the styles but we demoted it 😸 ... as it's really more of a design pattern.

[2019-07-29 18:35] #1674 closed

[2019-07-29 18:46] MikeWasson commented on #1568
@MezeiJ Closing this issue now. Please re-open if you are still getting an error.

[2019-07-29 18:46] #1568 closed

[2019-07-29 18:48] MikeWasson commented on #1561
@jjindrich Thanks. We're looking at adding more DR guidance. The Azure solutions content is a bit too high level IMO.

[2019-07-29 18:48] #1561 closed

[2019-07-29 23:46] MikeWasson commented on #1492
@ricardoserradas Thanks for the feedback. I think the title of this article is misleading. It's not really about how to "use Azure Key Vault to protect application secrets". Rather, it's specifically about how the Tailspin reference implementation (described [here](https://docs.microsoft.com/azure/architecture/multitenant-identity/tailspin)) uses Key Vault. I will update the article so that the co

[2019-07-29 23:47] #1492 closed

[2019-07-30 01:19] MikeWasson commented on #1354
Finally getting to this. The confusion is there are actually two NuGet packages.

- [Microsoft.Azure.ServiceBus](https://www.nuget.org/packages/Microsoft.Azure.ServiceBus) is the newer package for .NET Standard.
-  [WindowsAzure.ServiceBus](https://www.nuget.org/packages/WindowsAzure.ServiceBus) is is the older .Net Framework package.

As mentioned, `TerminationTimeBuffer` (not `TimeBuffer`) only

[2019-07-30 01:25] #1354 closed

[2019-07-30 01:36] mike-urnun-msft commented on #1676
@pessimism Thank you for your feedback! We will review and update as appropriate.

[2019-07-30 18:50] MikeWasson commented on #1381
@doodlemania2 @roalexan - I have the file.

[2019-07-30 18:52] #1381 closed

[2019-07-30 20:15] MikeWasson commented on #1408
This issue is now called out in the doc - thanks.

[2019-07-30 20:15] #1408 closed

[2019-07-30 21:21] #1573 closed

[2019-07-31 04:13] AvanadeAndrej opened #1678 "Vnet peering transitivity is allowed"
Feature was released in April. I've done it in my labs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 104eba32-c77e-b013-e161-ff616d16a0f7
* Version Independent ID: 3bc27d0a-ef32-f5f6-4c85-fe8e2e45155e
* Content: [Implement a hub-spoke network topology in Azure - Azure Reference Architectures](https://docs.microsoft.co

[2019-07-31 05:43] hisasima opened #1679 "VNET Gateway, Connection and Local Network Gateway"
I wanted to check about naming rule of Networking resource which includes VNET Gateway, Connection and Local Network Gateway. But I could not find those resources in this page. I hope the limitations of those resources will be written in this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e540bb6-9f72-0529-28ea-

[2019-07-31 08:28] thara0402 opened #1680 "Azure Functions v2 instead of Web Jobs"
Background jobs
https://github.com/microsoftdocs/architecture-center/blob/master/docs/best-practices/background-jobs.md

I think this article should be updated to use Azure Functions v2 in the example.
As of today, Azure Functions v2(Durable Functions) is a recommended solution for Background jobs in Azure.

[2019-07-31 08:55] DixitArora-MSFT commented on #1680
Hi @thara0402  Thanks for reaching out. We are actively investigating and will get back to you shortly

[2019-07-31 08:59] DixitArora-MSFT commented on #1679
Hi @hisasima Thanks for the feedback. We will investigate and update as appropriate.

[2019-07-31 09:01] DixitArora-MSFT commented on #1678
@AvanadeAndrej Thanks for sharing your observation. Just following to check Is there any other questions you have related to this .

[2019-07-31 10:31] smoms opened #1681 "Is there no PDF available for Cloud Adoption Framework only?"
Is there no PDF available for Cloud Adoption Framework only?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 218b42ff-1cf2-c31c-1a1a-59625eb9e09e
* Version Independent ID: ab742d17-9eba-2daa-c4fc-50b17a1e0eba
* Content: [Getting started with a cloud migration journey - Microsoft Cloud Adoption Framework for Azure](https

[2019-07-31 11:54] AvanadeAndrej commented on #1678
Nope. Just letting you know your documentation is outdated as I've seen it work

Regards,

Andrej Rosic

Sr Consultant | Apps & Infrastructure
O: 312.373.5844
M: 773.396.7226

________________________________
From: DixitArora-MSFT <notifications@github.com>
Sent: Wednesday, July 31, 2019 4:01:25 AM
To: MicrosoftDocs/architecture-center <architecture-center@noreply.github.com>
Cc: Andrej N. Rosic <

[2019-07-31 14:38] ATLArcht opened #1682 "Incomplete sentence with unclear meaning"
bullet #1 under the Architecture section - last sentence:
"HDInsight Kafka stores streams of data in topics for a configurable of time."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ba22119-7386-e497-8167-e78646499095
* Version Independent ID: 19de5d38-cf6d-29d9-1411-4bab02f80468
* Content: [Ingestion and processing

[2019-07-31 15:15] brshallo opened #1683 "Information on using Azure Devops with R"
Would like to see some notes + guides specific to using Azure Devops + R.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2808e74b-c325-7b50-093a-b777473864b5
* Version Independent ID: e1f632cb-92ef-958e-5bf4-d250108e1c8d
* Content: [R developer's guide to Azure - R programming](https://docs.microsoft.com/en-us/azure/ar

[2019-07-31 16:54] RobsonKarls commented on #1562
I think you would have a lock in there if before fetching from redis you would check in a in memory cache if there is any data, but, here redis is the cache, i believe all the instances should have access to it.

[2019-07-31 17:11] stevekmicrosoft opened #1684 "Downloadable Guide vs. Web Guide"
The content in the downloadable Guide appears to have dated content. For example the downloadable guide  lists Azure Container Service as an available compute option (now deprecated). Conversely, the downloadable guide does not list Azure Kubernetes Service . Recommending syncing the guide or remove the download link. See  PDF page 48  (book page 38).

---
#### Document Details

⚠ *Do not edit thi

[2019-07-31 17:24] crmhh opened #1685 "Sync Admin Accounts"
Hi,
please provide more details for the section: Don’t synchronize on-premises admin accounts to cloud identity providers

Is your point to grant admin roles in AAD only to cloud-only accounts?

AFAIK the managemant of administrative rights in AD and AAD are separated and from the perspective of the AAD a domain admin is a "normal account". Where is the path for the privilege escalation?

And plea

[2019-07-31 17:56] doodlemania2 commented on #1681
unfortunately, that's not an option at this time, but it is something we are working on!

[2019-07-31 17:56] #1681 closed

[2019-07-31 18:53] #1682 closed

[2019-07-31 19:00] brianlala opened #1686 "Conflicting info re: AD DS support for SharePoint 2016?"
This article states that:

_SharePoint Server 2016 also supports using Azure Active Directory Domain Services. Azure AD Domain Services provides managed domain services, so that you don't need to deploy and manage domain controllers in Azure._

But then further down:

_The domain-level service accounts used to run SharePoint Server 2016 require Windows Server AD domain controllers for domain-join

[2019-07-31 19:40] MikeWasson commented on #1684
@stevekmicrosoft Are you referring to the e-book linked from [here](https://docs.microsoft.com/azure/architecture/guide)? I agree that's outdated. Currently we aren't planning an update to the e-book version. I'll remove the download link.

[2019-07-31 19:45] MikeWasson commented on #1680
Agree! Closing as a dup of #1361

[2019-07-31 19:45] #1680 closed

[2019-07-31 19:53] MikeWasson commented on #1350
@anas2204 Thanks - this code example uses the older [WindowsAzure.ServiceBus](https://www.nuget.org/packages/WindowsAzure.ServiceBus) package. I'll update the doc to show the newer [Microsoft.Azure.ServiceBus](https://www.nuget.org/packages/Microsoft.Azure.ServiceBus) package.

[2019-07-31 19:57] #1350 closed

[2019-07-31 20:17] MikeWasson commented on #1294
@algattik Thanks for the feedback, I agree the diagram is ambiguous. I'll add labels.

[2019-07-31 20:21] MikeWasson commented on #1653
This was resolved. For reference, this issue refers to the diagram in [this article](https://docs.microsoft.com/es-es/azure/architecture/example-scenario/apps/devops-dotnet-webapp)

[2019-07-31 20:21] #1653 closed

[2019-07-31 20:30] MikeWasson commented on #1327
@ezwiefel Thanks for the feedback. Looking at the diagram, I feel it's problematic in general because it implies a recommended architecture but doesn't refer to any specific ML reference architectures. In other words I don't feel it adds much to the article. I'm going to remove the image for now.

[2019-07-31 21:10] #1294 closed

[2019-07-31 21:11] #1684 closed

[2019-07-31 21:12] #1327 closed

[2019-07-31 22:01] mike-urnun-msft commented on #1683
Hi @brshallo - Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-07-31 22:02] mike-urnun-msft commented on #1685
Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-08-01 03:01] mike-urnun-msft commented on #1686
@brianlala Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-08-01 15:42] AnalyticJeremy commented on #1683
Hi, @brshallo. Can you elaborate a little bit on what you're looking for?

For example, do you have some R code that you would like to manage within Azure DevOps?  Do you have R models that you would like to deploy with CI/CD pipelines?

Or are you looking to control Azure DevOps with R?  Would you like to write an R script that calls the DevsOp API to kick off a new build?

[2019-08-01 17:13] brshallo commented on #1683
@AnalyticJeremy in the immediate term, we are moving some internally developed R packages to Azure Devops.   We would like to use Azure Devops to manage tests as well as documentation + vignette building for these packages.  (Our team is just getting access, and I expect in the long-term we will use Azure Devops for a much broader set of use cases).

I found some Azure Devops + R tutorials on @rob

[2019-08-04 10:57] DixitArora-MSFT commented on #1678
@AvanadeAndrej Thanks for the update. I will create the internal work item for this. For now I will proceed with closure of this and if there are any further questions, please tag me in your reply and we will reengage.

[2019-08-04 10:57] #1678 closed

[2019-08-05 14:06] theheatDK opened #1688 "Max lenght of the subscription name?"
Hi,
For most resources listed above, there is a min and max length for the name. But this is not stated for subscriptions. It would be nice if this was added :-)
Regards Peter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e540bb6-9f72-0529-28ea-ae82bc869835
* Version Independent ID: 24e71392-985b-59fb-1552-46395b1696

[2019-08-05 20:05] jasonbruno88 opened #1692 "Scalability Capabilities"
Page needs to be updated to reflect that Azure SQL Data Warehouse now supports in-memory query caching as per adaptive caching.

Supports in-memory caching of data: Yes for Azure SQL Data Warehouse

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6831bf64-b00f-b234-b16e-d1bd42ebb77b
* Version Independent ID: 43bb3955-7d3

[2019-08-06 07:23] mike-urnun-msft commented on #1688
Hi @theheatDK - Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-08-06 07:24] mike-urnun-msft commented on #1692
Hi @jasonbruno88 - Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-08-06 19:53] doodlemania2 commented on #1635
@lukepuplett would you be willing to offer a PR referencing this issue that adjusts the article based on this excellent discussion?

[2019-08-06 20:30] doodlemania2 commented on #1628
Thanks so much for this report. We've taken the feedback into the internal planning docs for an update to VDC soon!

[2019-08-06 20:30] #1628 closed

[2019-08-06 21:03] pstork commented on #1686
The original draft of this document was written before Azure VMs supported using Azure Active Directory Domain Services.  That's why the design includes AD domain controllers that are in a Trust relationship with on-premises AD servers. SharePoint does require domain-level service accounts, but at this point those can be provided either by an actual Domain or Azure AD Domain Services.  The first s

[2019-08-06 23:55] brianlala commented on #1686
Nice, and yeah I just basically confirmed this in my Azure lab. Might submit a PR shortly.

[2019-08-07 08:46] bergmeister commented on #1676
PR #35675 (which has already been approved) will have this fixed.

[2019-08-07 09:12] lukepuplett commented on #1635
Hey Derek, funny you ask! I wondered this myself. I looked yesterday at how to PR on GitHub, I think I have to fork it and... well anyway I'll figure it out. But yeah, I'll see what I can do.

[2019-08-07 10:54] arjenkrap opened #1693 "Cannot use guid's for storage account names"
As an suggestion for naming storage accounts the following sentence is used in this article:

`use a function to calculate a unique guid for naming storage accounts`

This is however not possible because Guid's in string form are 36 characters long (32 without dashes). The max length of storage account names is 24.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2019-08-07 12:07] KetanChawda-MSFT commented on #1693
@arjenkrap Thank you for your feedback! We will review and provide an update as appropriate.

[2019-08-07 15:08] #1676 closed

[2019-08-07 15:22] doodlemania2 commented on #1635
That's it Luke, just do a fork and edit there. Then, create a pull request from your fork and it will show up on our side as a pull request to master that we can review and then put in. In your pull request description, add these words: #closes and then URL to this issue (the whole thing) 👍

[2019-08-07 18:39] MikeWasson commented on #1635
I've been thinking more about this discussion thread - What I think might work is to move the discussion of HATEOAS forward in the doc, framed as: "Consider building HATEOAS into your API because it gives you such-and-such advantages" (e.g., easier versioning, decoupling client from hacking URLs). Because I think that most people are not doing this, but at least should consider it up front.

[2019-08-07 18:52] #1688 closed

[2019-08-07 19:21] theheatDK commented on #1688
Hi @doodlemania2,
You have closed this without any comments? Is there a min/max? Do you not want to share what they are?
Regards Peter

[2019-08-07 20:46] doodlemania2 commented on #1688
Hi @theheatDK - apologies for the confusion, your issue was closed as resolved as we pushed an update to the document this morning addressing it! It can take several hours to distribute the updated content worldwide. In the interim, the magic number is 1-64 alphanumeric except < > | and ;

[2019-08-07 21:30] lukepuplett commented on #1635
How about approach the common pragmatic approaches to web APIs, which in my opinion are;

- RPC-over-HTTP, which is like an Azure Function HTTP trigger, sending a message to make a remote machine do something.

- CRUD-over-HTTP, which is your garden-variety "REST" API with "designed" resource names, collections that are like tables and verbs that map to CRUD operations. These have a strong couplin

[2019-08-08 05:30] theheatDK commented on #1688
Ah perfect. Thank you @doodlemania2

[2019-08-08 07:39] AlexandreJean opened #1695 "Workload managers 2 references to the same workload"
Hello,

I can notice in the workload managers, Altair is presented 2 times with : the bullet "PBS pro" and the bullet "Altair", maybe it will be more explicit to change or remove the bullet Altair ?
As Altair is the owner of PBSpro.
Thanks,
Alex

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7cf67b7-8d94-d7a2-97ef-138

[2019-08-08 08:37] mrmanpreetsingh opened #1696 "Storage Container Name invalid characterset mentioned"
As per the doc the valid characterset for Storage Container name is [0-9, a-z, A-Z and -] but the casing allowed is lowercase. Even when we create container only lowercase is allowed therefore valid characters should be [0-9, a-z and -]. Can you please check if it is required to be corrected. Thanks.

Link: https://docs.microsoft.com/en-us/azure/architecture/best-practices/naming-conventions#stora

[2019-08-08 09:20] PramodValavala-MSFT commented on #1695
@AlexandreJean Thanks for the feedback!

I guess the intention was to differentiate between the [open-source PBS Pro](https://www.pbspro.org/) and [Altair PBS Professional](https://www.pbsworks.com/PBSProduct.aspx?n=Altair-PBS-Professional&c=Overview-and-Capabilities) which comes with commercial support.

@MikeWasson Could you confirm?

[2019-08-08 09:22] PramodValavala-MSFT commented on #1696
@mrmanpreetsingh Thanks for the feedback! We will review and update accordingly.

[2019-08-08 11:46] PramodValavala-MSFT commented on #1696
@mrmanpreetsingh Thanks for catching that! The same applies to [blob containers](https://docs.microsoft.com/en-us/rest/api/storageservices/naming-and-referencing-containers--blobs--and-metadata#container-names), [queues](https://docs.microsoft.com/en-us/rest/api/storageservices/naming-queues-and-metadata) and [file shares](https://docs.microsoft.com/en-us/rest/api/storageservices/naming-and-refere

[2019-08-08 11:53] #1696 closed

[2019-08-08 15:50] adamboeglin commented on #1695
Given that they're essentially the same product with different licensing models, I don't think they need to be called out separately.

[2019-08-08 16:21] Sam-SFO opened #1697 "Batch Cost"
I am assuming you pay for Batch only when you use. It is Not explicitly mentioned. Is that correct?
Is there any other fixed cost involved with Batch?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7cf67b7-8d94-d7a2-97ef-1387e252109c
* Version Independent ID: 0d3a72a7-6600-5682-6be1-6c333192bbd6
* Content: [High Perfo

[2019-08-08 17:59] AnalyticJeremy commented on #1683
Thank you for pointing out this gap in our documentation.  I will talk with some of our R developers and see if we can get this article in the pipeline.

[2019-08-09 02:28] apercova commented on #508
How can we achieve having role claim inside SAML Assertion on SSO configuration for an enterprise application?.
I configured my application as this docs stands but SAML Assertion does not have role claim.
I further considered adding a custom "AppRoles" claim mapping it to "user.assignedroles" source attribute but this source attribute is always empty so SAML Assertion is issued without "AppRoles"

[2019-08-09 04:45] #1693 closed

[2019-08-09 04:46] KetanChawda-MSFT commented on #1693
@arjenkrap Fix is been merged with the document and will be available soon. Thank you for catching this.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-09 06:20] PramodValavala-MSFT commented on #1695
@adamboeglin Thanks for chiming in!

@AlexandreJean We are assigning this issue to update the doc as required.

[2019-08-09 06:33] KetanChawda-MSFT commented on #1697
@Sam-SFO There’s no charge for Batch itself, only the underlying compute and other resources consumed to run your batch jobs, including applicable software license costs. For compute, Cloud Services, Linux Virtual Machines, or Windows Virtual Machines can be utilized by Batch. The standard rates for compute apply and can be viewed below and software licensing costs for batch graphics and rendering

[2019-08-12 00:32] eyast opened #1699 "Decisions regarding IaaS, PaaS, or hybrid are made during the assess phase to optimized control and execution."
This sentence is difficult to understand linguistically. Are you suggesting that these decisions are made to deliver optimized control and optimized execution.
Or are you referring that these decisions are made to optimize the control and execution of future phases? (i.e. is it a typo)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2019-08-12 03:10] eyast opened #1700 "Customer reference in the article"
A customer reference to Coverdell in the article could possibly be replaced by links to other (many) case studies on the official MS case study sites, where so many different organizations have reached their fiscal outcomes and met their strategy by using the Cloud. Although Coverdell's reference is a good one, the article doe snot point out that it's a reference, and new readers might have the pe

[2019-08-12 03:13] DixitArora-MSFT commented on #1699
Hi @eyast Thanks for reaching out. We will review and update as appropriate.

[2019-08-12 03:14] DixitArora-MSFT commented on #1700
Hi @eyast Thanks for reaching out. We will review and update as appropriate.

[2019-08-12 03:17] eyast opened #1701 "Fortune 500 quote"
the Fortune 500 quote might be revised? the list started in 1955, therefore would it be better to simply say:
As of 2015, only 57 companies were still in the Fortune 500 61 years  &lt;!&gt; after the first publication of the list  appeared in 1955 &lt;!&gt;?
In addition, the list of companies might not be necessarily related to agility and this could be a fallacy, since effectively Fortune tracks

[2019-08-12 03:20] eyast opened #1702 "Reference needed"
"Hosting datacenters around the world can consume more than 80 percent of an annual IT budget"
Could a reference be added to increase the credibility of the figure please? thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ce8b55e-8db7-a1c0-a0e8-7b3f93ad1553
* Version Independent ID: f9044c8e-8665-1f66-6ee5-6f2fd8f

[2019-08-12 03:25] eyast opened #1703 "DRBC"
I believe the accepted term is BCDR, where the mantra is to lead with Business Continuity first, then recovery from Disaster second

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: adfaf030-7934-c7fa-a30d-012567a679f5
* Version Independent ID: cf850417-6d1c-83f3-81c3-c01ad0bbd67e
* Content: [Examples of performance outco

[2019-08-12 04:15] KetanChawda-MSFT commented on #1703
@eyast Thank you for your feedback! We will review and provide an update as appropriate.

[2019-08-12 04:17] KetanChawda-MSFT commented on #1701
@eyast Thank you for your feedback! We will review and provide an update as appropriate.

[2019-08-12 04:18] KetanChawda-MSFT commented on #1702
@eyast Thank you for your feedback! We will review and provide an update as appropriate.

[2019-08-12 04:20] KetanChawda-MSFT commented on #1697
@Sam-SFO Checking in to see if the above post helped answering your question.

[2019-08-12 07:27] SychevIgor opened #1704 "Highlight that Helm in ACR is not GA yet."
Please, highlight that as of today - storing Helm Charts in Azure Container registry is still in preview.
https://docs.microsoft.com/en-us/azure/container-registry/container-registry-helm-repos
I would be very careful with preview features, because essentially - we can use it on our own risk and will not receive support from Microsoft if something goes wrong

---
#### Document Details

⚠ *Do not e

[2019-08-12 07:28] SychevIgor commented on #1704
![image](https://user-images.githubusercontent.com/578954/62850552-e06bac00-bceb-11e9-890a-43de90ba767d.png)

[2019-08-12 15:51] Sam-SFO commented on #1697
Yes, but the documentation should be made more precise.
    On Sunday, August 11, 2019, 11:20:10 PM CDT, KetanChawda-MSFT <notifications@github.com> wrote:

@Sam-SFO Checking in to see if the above post helped answering your question.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-08-12 16:24] DixitArora-MSFT commented on #1704
Hi @SychevIgor Thanks for reaching out. We will review and update as appropriate.

[2019-08-13 04:30] KetanChawda-MSFT commented on #1697
@Sam-SFO We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-13 04:30] #1697 closed

[2019-08-13 06:43] KetanChawda-MSFT commented on #1703
@BrianBlanchard / @MikeWasson  can you please confirm on this request.

[2019-08-14 08:50] lukepuplett commented on #1635
Hey - just to set some expectations, my contract ends Aug 30 so I'm delaying working on a revision to this document until I have a lot more time on my hands next month :)

[2019-08-14 19:44] doodlemania2 commented on #1051
Thank you so much - this item has been moved to our internal backlog for documentation refinement.

[2019-08-14 19:46] doodlemania2 commented on #1004
Thank you for submitting this. We've taken this item to our internal backlog for consideration!

[2019-08-14 19:46] #1004 closed

[2019-08-14 19:48] doodlemania2 commented on #846
Thank you for submitting this issue. We've taken this to our internal backlog for consideration.

[2019-08-14 19:48] #846 closed

[2019-08-14 21:17] taromielnaz opened #1709 "Comparison"
Could you put a comparison table for import/export service to Databox?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c6e037b-a226-62cf-6e2b-2af8783b7add
* Version Independent ID: c666597e-52ae-ee51-474a-c4dd3a63941b
* Content: [Choosing a data transfer technology](https://docs.microsoft.com/en-us/azure/architecture/d

[2019-08-15 00:32] #1695 closed

[2019-08-15 02:02] KetanChawda-MSFT commented on #1709
@taromielnaz Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-15 22:28] chadsowald opened #1711 "What is in the JWT token that is signed? Examples please!"
Hi.  This page is pretty nice, but lacks a fundamental detail, how does one build that JWT token that gets signed by the certificate?  What specifically is inside of it?  Assume someone is familiar with JWT tokens, but doesn't know what precise values should be put into one before signing and sending to Azure AD to be authenticated.  Please add 1 or more examples of the JWT tokens!  Thank you.

--

[2019-08-16 03:10] DixitArora-MSFT commented on #1711
Hi @chadsowald Thanks for reaching out. We will review and update as appropriate.

[2019-08-16 09:52] DixitArora-MSFT commented on #1704
@doodlemania2 Thanks for contributing to the doc improvement.
@SychevIgor PR has been created for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reo

[2019-08-16 09:52] #1704 closed

[2019-08-16 11:43] maulik-modi opened #1712 "Handling exceptions > Capture exceptions and return a meaningful response to clients > DeleteCustomer - 400 may not be right one?"
In Topic:Handling exceptions
Section:Capture exceptions and return a meaningful response to clients

Can you add an explanation of scenarios that could lead to BadRequest(Strings.CustomerNotDeleted)?

 // Remove the customer from the repository
        // The DeleteCustomer method returns true if the customer
        // was successfully deleted
        if (repository.DeleteCustomer(id))
        {

[2019-08-16 18:52] andresravinet opened #1713 "aka.ms short URL in excel template not working."
In the business outcome template, there's an aka.ms short URL (https://aka.ms/CloudAdoption/BusinessOutcomes) and it's not working.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d9004df-bad0-2610-6c64-7c56697e285e
* Version Independent ID: 74e9daed-bce4-694d-80b6-10ba226bda49
* Content: [What business outcomes are as

[2019-08-16 19:34] BrianBlanchard commented on #1713
Thanks for the feedback. This has been resolved.

[2019-08-16 19:34] #1713 closed

[2019-08-16 20:03] MikeWasson commented on #1712
That would depend on the implementation. The main point is to return an appropriate error code based on the type of failure.

[2019-08-17 14:07] theheatDK opened #1714 "Management Groups?"
Hi,
Any plans for adding a naming convention for Management Groups? :-)
Regards Peter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e540bb6-9f72-0529-28ea-ae82bc869835
* Version Independent ID: 24e71392-985b-59fb-1552-46395b169612
* Content: [Naming conventions for Azure resources - Best practices for cloud applicati

[2019-08-19 03:26] DixitArora-MSFT commented on #1714
Hi @theheatDK Thanks for reaching out. We will review and provide an update as appropriate.

[2019-08-19 08:01] knssub opened #1717 "Visio Files"
Hi, could you please make the Visio files available for the decision trees? we could customize it for our organization requirements.  Many Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7178605-13d2-69fc-e80d-884b18cd80f4
* Version Independent ID: 6f7c2419-3acd-0391-6a1e-80e11f0fb570
* Content: [Azure readines

[2019-08-19 16:34] mike-urnun-msft commented on #1717
@knssub Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-08-19 17:57] doodlemania2 commented on #1250
We've taken this item to our internal backlog for further research and will update as necessary!

[2019-08-19 17:57] #1250 closed

[2019-08-19 17:59] doodlemania2 commented on #1301
We've taken this item to our internal backlog for further research and will update as necessary!

[2019-08-19 17:59] #1301 closed

[2019-08-19 18:00] doodlemania2 commented on #1302
We've taken this item to our internal backlog for further research and will update as necessary!

[2019-08-19 18:00] #1302 closed

[2019-08-19 18:02] doodlemania2 commented on #1342
We've taken this item to our internal backlog for further research and will update as necessary!

[2019-08-19 18:02] #1342 closed

[2019-08-19 18:03] doodlemania2 commented on #1353
We've taken this item to our internal backlog for further research and will update as necessary!

[2019-08-19 18:03] #1353 closed

[2019-08-19 18:06] doodlemania2 commented on #1361
We've taken this item to our internal backlog for further research and will update as necessary!

[2019-08-19 18:06] #1361 closed

[2019-08-19 18:07] doodlemania2 commented on #1363
We've taken this item to our internal backlog for further research and will update as necessary!

[2019-08-19 18:07] #1363 closed

[2019-08-19 18:08] doodlemania2 commented on #1416
We've taken this item to our internal backlog for further research and will update as necessary!

[2019-08-19 18:08] #1416 closed

[2019-08-19 18:10] doodlemania2 commented on #1459
We've taken this item to our internal backlog for further research and will update as necessary!

[2019-08-19 18:10] #1459 closed

[2019-08-19 18:11] doodlemania2 commented on #1489
We've taken this item to our internal backlog for further research and will update as necessary!

[2019-08-19 18:11] #1489 closed

[2019-08-19 18:13] doodlemania2 commented on #1518
We've taken this item to our internal backlog for further research and will update as necessary!

[2019-08-19 18:13] #1518 closed

[2019-08-19 18:47] doodlemania2 commented on #1320
We've taken this item to our internal backlog for further research and will update as necessary!

[2019-08-19 18:47] #1320 closed

[2019-08-19 18:47] doodlemania2 commented on #1714
We've taken this item to our internal backlog for further research and will update as necessary!

[2019-08-19 18:47] #1714 closed

[2019-08-19 18:48] doodlemania2 commented on #1679
We've taken this item to our internal backlog for further research and will update as necessary!

[2019-08-19 18:48] #1679 closed

[2019-08-19 19:20] doodlemania2 commented on #1699
This is great feedback, thank you! We'll look to get this clarified in an upcoming sprint.

[2019-08-19 19:20] #1699 closed

[2019-08-19 19:22] doodlemania2 commented on #1700
@eyast, do you have additional examples from our case studies that you think would be good to highlight? URLs?

[2019-08-19 19:23] doodlemania2 commented on #1701
Thanks so much for this feedback! We'll look to clarify this in an upcoming sprint.

[2019-08-19 19:23] #1701 closed

[2019-08-19 19:24] doodlemania2 commented on #1703
Thanks so much for your feedback on this. We've made that change and hope to have it appear in an upcoming sprint.

[2019-08-19 19:24] #1703 closed

[2019-08-19 19:31] doodlemania2 commented on #1524
We've taken this item to our internal backlog for further research and will update as necessary!

[2019-08-19 19:31] #1524 closed

[2019-08-19 19:33] doodlemania2 commented on #1537
We've taken this item to our internal backlog for further research and will update as necessary!

[2019-08-19 19:33] #1537 closed

[2019-08-19 19:35] doodlemania2 commented on #1548
We've taken this item to our internal backlog for further research and will update as necessary!

[2019-08-19 19:35] #1548 closed

[2019-08-19 21:30] BrianBlanchard commented on #1717
Great suggestion. Adding to our backlog to find the best approach to sharing those visio files.

[2019-08-19 21:42] doodlemania2 commented on #1686
Pretty please @brianlala !!! We love PRs!

[2019-08-19 22:36] #1692 closed

[2019-08-20 09:22] steveculshaw opened #1721 "No details on various entities, e.g. Logic Apps"
The lists don't contain details on various entity types, e.g. Logic Apps, Integration Accounts, Integration Service Environments, On-Premise Data Gateways

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e540bb6-9f72-0529-28ea-ae82bc869835
* Version Independent ID: 24e71392-985b-59fb-1552-46395b169612
* Content: [Naming

[2019-08-20 10:20] IjsConsulting opened #1722 "Missing code examples: CircuitBreakerStateStoreFactory ..."
The code provided does cover the whole solution, I'd like to see either the code for CircuitBreakerStateStoreFactory and ICircuitBreakerStateStore concrete class implementation, or a link to get the full solution. Without this, the example above makes partial sense. Also the variable, OpenToHalfOpenWaitTime , hasn't been defined in the CircuitBreaker class .. are we to guess what this?

---
#### D

[2019-08-20 16:49] KetanChawda-MSFT commented on #1721
@steveculshaw Thank you for your feedback! We will review and provide an update as appropriate.

[2019-08-20 16:50] KetanChawda-MSFT commented on #1722
@IjsConsulting Thank you for your feedback! We will review and provide an update as appropriate.

[2019-08-20 17:23] doodlemania2 commented on #1647
We've taken this item to our internal backlog for further research and will update as necessary!

[2019-08-20 17:23] #1647 closed

[2019-08-20 17:27] doodlemania2 commented on #1722
We've taken this item to our internal backlog for further research and will update as necessary!

[2019-08-20 17:27] #1722 closed

[2019-08-20 17:29] doodlemania2 commented on #1721
We've taken this item to our internal backlog for further research and will update as necessary!

[2019-08-20 17:29] #1721 closed

[2019-08-20 17:32] doodlemania2 commented on #1562
We've taken this item to our internal backlog for further research and will update as necessary!

[2019-08-20 17:32] #1562 closed

[2019-08-20 17:34] doodlemania2 commented on #1593
We've taken this item to our internal backlog for further research and will update as necessary!

[2019-08-20 17:34] #1593 closed

[2019-08-20 20:18] Pxtl opened #1723 "I have to agree with the closed comment"
While the closed comment is rude, the lack of an example implementation is problematic.  I'm trying to implement this common pattern using SQL triggers right now and the lack of any information on the best way to do this is very disappointing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4ffec9b-27ef-0f8c-5fcf-58347

[2019-08-20 22:33] mike-urnun-msft commented on #1723
Hi @Pxtl - Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-08-21 16:20] doodlemania2 commented on #1723
Updating name

[2019-08-21 17:47] #1717 closed

[2019-08-21 17:48] BrianBlanchard commented on #1702
Added the backlog for Cloud Adoption Framework

[2019-08-21 17:48] #1702 closed

[2019-08-21 17:49] BrianBlanchard commented on #1700
Holding on reply from @eyast regarding additional examples prior to closing this issue.

[2019-08-21 17:54] #1649 closed

[2019-08-21 21:54] dragon119 commented on #1723
@Pxtl, I guess you're trying to create a materialized view for SQL DB, right?  This article has instructions to do it.  Let me know if it helps.
https://docs.microsoft.com/en-us/sql/t-sql/statements/create-materialized-view-as-select-transact-sql?view=azure-sqldw-latest

[2019-08-21 22:13] DeanCefola opened #1725 "Azure Migrate scale numbers are off"
Migrate at scale section in this document...here is a quick link
https://docs.microsoft.com/en-us/azure/architecture/cloud-adoption/migrate/azure-best-practices/contoso-migration-scale?lc=1033#migrate-at-scale

this doc shows the scale limits at 1500 VMs
The latest version of Azure Migrate increased these limits greatly
https://docs.microsoft.com/en-us/azure/migrate/scale-hyper-v-assessment#planni

[2019-08-22 00:24] DixitArora-MSFT commented on #1725
Hi @DeanCefola  Thanks for your feedback. We will review and update as appropriate.

[2019-08-22 01:14] larryms opened #1726 "Are the images accurate?"
The images on this page don't seem to flow logically with the associated text.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf238dff-1a18-aec1-3886-33c4afc84706
* Version Independent ID: 17596f12-b425-626f-c3f2-f00df75e6dc7
* Content: [Establish team structures - Microsoft Cloud Adoption Framework for Azure](https://

[2019-08-22 03:00] DixitArora-MSFT commented on #1726
Hi @larryms Thanks for your reaching out. We will review and update as appropriate.

[2019-08-22 21:04] doodlemania2 commented on #1726
Thanks for this feedback. We have an upcoming update to this section that should fix that up!

[2019-08-22 21:04] #1726 closed

[2019-08-22 21:52] #1725 closed

[2019-08-24 15:09] syndicatedshannon opened #1730 "Azure SQL resource naming considerations"
Notably missing from this document are the requirements/limitations for Azure SQL naming. Background on Azure SQL names is especially important for at least three reasons:
 - the currently unprotected issues uppercase letters cause (it is possible to create SQL Server with upper case, but then other Azure features will fail, including Pipeline tasks and AD Administrator assignment via portal)
 - t

[2019-08-25 00:34] g0pinath opened #1731 "Locking down the DB tier."
Can you please clarify if we can lock the DB down, similar to how the function app is locked down.
I know that its possible if the function app is inside an ASE and use SQL Managed instance and set the firewall settings to allow traffic from the ASE subnet, am looking for options for accomplishing this from the function app in consumption plan to a Managed instance SQL.

---
#### Document Details

[2019-08-25 17:41] mike-urnun-msft commented on #1731
Hi @g0pinath - Thank you for your feedback! Since this channel for driving improvements towards MS Docs, please share with us the URL of the specific MS Doc that your feedback is most applicable to.

[2019-08-25 17:43] mike-urnun-msft commented on #1730
Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-08-25 23:03] g0pinath commented on #1731
https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/serverless/web-app

[2019-08-26 04:13] ashishjain87 opened #1738 "Comprehensive"
I found this document to be comprehensive, beautifully written (with examples to clarify each point) and very useful. Great job.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad651d6a-f8d8-2050-e7a7-adbae7326112
* Version Independent ID: 4fddd724-cabd-8623-7692-857088c1dccb
* Content: [API design guidance - Best pract

[2019-08-26 04:26] KetanChawda-MSFT commented on #1738
@ashishjain87 Thanks for the kudos and sharing your feedback and thoughts on this matter. Surely, it'll benefit others visiting thread.

We will now proceed to close this thread for now since this channel is more for fixing issues in the scope of the documentation and driving improvements towards it. If there are further questions regarding this matter, please reopen it and we will gladly continue

[2019-08-26 04:26] #1738 closed

[2019-08-26 04:37] KetanChawda-MSFT commented on #1731
@g0pinath Can you please clarify what do you mean by locked down here? Do you mean to allow access to DB only from Function App or specific IP's ?

[2019-08-26 05:07] g0pinath commented on #1731
Lock the db to receive traffic only from function apps ip addrress.
Placing the function app inside ASE will solve this but will incur $1100 per
month.

On Mon, Aug 26, 2019, 12:37 AM KetanChawda-MSFT <notifications@github.com>
wrote:

[2019-08-26 06:58] nakazax opened #1739 "Why is not Azure RBAC associated with AWS IAM?"
I've checked the following RBAC overview document and founded examples of what we can do with RBAC.
https://docs.microsoft.com/ja-jp/azure/role-based-access-control/overview

I think the examples of the document are very similar to AWS IAM's feature.
Why is not Azure RBAC associated with AWS IAM?

Cf. Here is a part of overview documents of AWS IAM.
https://docs.aws.amazon.com/IAM/latest/UserGuide

[2019-08-26 08:15] DixitArora-MSFT commented on #1739
Hi @nakazax Thank you for your feedback! We will review and update as appropriate.

[2019-08-26 23:30] eyast opened #1741 "large scaler"
i might be mistaken, sorry - but the intro says "large scaler" when i think the intent was to say "larger scale"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cab154f6-58af-5834-ae23-9824b21541e0
* Version Independent ID: bb8941b3-59fd-fae3-0cbb-f8c0307de62e
* Content: [Batch scoring with R Models on Azure](https://do

[2019-08-27 02:34] DixitArora-MSFT commented on #1741
Hi @eyast Thank you for your feedback! We will review and update as appropriate.

[2019-08-27 04:53] KetanChawda-MSFT commented on #1731
@g0pinath Each function app has a set of available outbound IP addresses. Any outbound connection from a function, such as to a back-end database, uses one of the available outbound IP addresses as the origin IP address. You can't know beforehand which IP address a given connection will use. For this reason, your back-end service must open its firewall to all of the function app's outbound IP addr

[2019-08-27 07:26] g0pinath commented on #1731
Ok but this is not secure as we are opening up our db to all possible
outbound ip addresses rather than just the function app.

How do I just open the firewall port on the db to be accessed only from the
funcrtion app without ASE and this was mu original question.  I was aware
of the possible outbound Ip addresses feature.

On Tue, Aug 27, 2019, 12:53 AM KetanChawda-MSFT <notifications@github.com>

[2019-08-27 08:26] KetanChawda-MSFT commented on #1731
@g0pinath  This is the by design with consumption plan , You can consider Function app with App Service plan to get the specific outbound IP range to allow only function App access your DB or the ASE is the option which is costly.

Please check [this](https://docs.microsoft.com/en-us/azure/azure-functions/ip-addresses#dedicated-ip-addresses) document for details

Since there is no doc update requi

[2019-08-27 08:26] #1731 closed

[2019-08-27 10:21] DixitArora-MSFT commented on #1741
@eyast I have created the PR for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-27 12:16] phealy opened #1743 "Typo in flowchart - Azure "Font" Door"
There's a typo in the 3rd blue box from the bottom - the AKS path. It references Azure "Font" Door instead of Front Door.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 936c85d9-c953-2def-c399-77cbda32b24d
* Version Independent ID: 9173c834-2c40-9169-b13b-6273759a2c8a
* Content: [Overview of Azure load-balancing option

[2019-08-27 13:55] tessem opened #1744 "Disk metrics are 0.0"
Seems like any disk metric has value of zero (0). Is this a known issue, or may it be related to using datastorage version 2 ?
The following gives no records:
SparkMetric_CL | where  name_s  contains "filesystem"  | where value_d &gt; 0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f728cb2-b203-6b2f-4e3c-9d0e1be2516f

[2019-08-27 14:35] KetanChawda-MSFT commented on #1744
@tessem Thank you for your question! We will review and provide an update as appropriate.

[2019-08-27 14:36] KetanChawda-MSFT commented on #1743
@phealy Thank you for your feedback! We will review and provide an update as appropriate.

[2019-08-27 19:23] JonShelley opened #1746 "Consider adding the new HPC instances to this page (i.e. HB and HC)"
Looking at https://docs.microsoft.com/en-us/azure/architecture/topics/high-performance-computing#networking we refer to A8, A9, H16r, and H16mr. Should we include HB and HC in that section as well or should we remove reference to the old instances and replace it with a link to a page that shows all HPC instances that have InfiniBand connectivity.

---
#### Document Details

⚠ *Do not edit this sec

[2019-08-28 03:46] DixitArora-MSFT commented on #1746
Hi @JonShelley Thank you for your feedback! We will review and update as appropriate.

[2019-08-29 00:03] pbous123 opened #1747 "consider adding more missing services"
please consider adding missing services such as Azure Site Recovery, Log analytics, and network watcher in the Aws comparison https://docs.microsoft.com/en-us/azure/architecture/aws-professional/services

[2019-08-29 02:31] DixitArora-MSFT commented on #1747
Hi @pbous123 Thank you for your feedback! We will review and update as appropriate.

[2019-08-29 11:41] alvipeo opened #1748 "Your chart is misleading - with Front Door TLS 1.0 and 1.1 cannot be disabled"
So the only option is to use Traffic Manager. And disabling TLS 1.0 and 1.1 is PCI requirement. So for serious purposes Front Door is useless.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 936c85d9-c953-2def-c399-77cbda32b24d
* Version Independent ID: 9173c834-2c40-9169-b13b-6273759a2c8a
* Content: [Overview of Azure