[2021-12-07 04:06] GavinJin88 commented on #3205
my apologies, udr in vnet 1 and vnet2 are correct. but still image has to be tweaked.

Architecture image needs a little tweaks(line on vnet 1 and vnet 2 are supposed to be orage) and NVA VNet 1 address space was wrong, which is supposed to be 10.1.255.0/24

[2021-12-07 20:51] olileger opened #3206 "Add details/decision-tree for Single Storage Account vs Multiple Storage Account"
Currently working with an ISV and considering relying on Azure Storage Blob.
The first question that comes in mind was: "Should we use 1 storage account per customer or should we mutualize one storage for a pods of customer ? If we do so how to ensure the right level of performance for each customer of the pod ? And by the way what does that mean having several storage account instead of only one

[2021-12-07 20:52] david-stanford commented on #3206
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/529375/>529375</a>

[2021-12-08 12:08] youkhi-zz opened #3207 "AZ aligned subnet diagram could be confusing"
Hi Team,

From my knowledge, subnets are deployed across AZs but AZs are all aligned in each subnet in the diagram. I know that people will realize what it's trying to describe from the explanation, however, I think it can still confuse others who are new to Azure.
(Which just happened ;) )

Best,
Youkhi.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2021-12-08 12:08] david-stanford commented on #3207
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/529765/>529765</a>

[2021-12-08 14:12] ThomasPe commented on #2437
I just came across this since I was looking for the same explanations as the OP (which I assume is also the OP of this SO post: https://stackoverflow.com/questions/63882343/how-to-add-custom-claims-to-azure-ad-authenticated-user-in-asp-net-core-applicat?rq=1)
Specifially how the RoleManager class can be used in combination with users from Azure Active directory where Roles are stored in a separate

[2021-12-08 17:27] AzChrisMelendez opened #3208 "Multiple Virtual WAN Hubs per region"
Hey Team,

I sent some feedback for the Azure VWAN FAQ page yesterday regarding the same thing. It looks like some of this documentation needs to be updated now that it's possible to provision multiple VWAN hubs per region.

In the section **"Virtual WAN Hub"** it states _"There can only be one hub per Azure region."_

If you reference the VWAN FAQ page, there is a section that says you can have m

[2021-12-08 17:27] david-stanford commented on #3208
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/529873/>529873</a>

[2021-12-08 19:43] raunakjhawar opened #3209 "HTAP using cosmosdb and Synapse SQL pools"
We have been advocating HTAP using cosmosdb and Synapse SQL pools. Any reason why we have SQL databases in the data flow?

Moreover, cross access of data between SQL database and cosmos database is not straightforward wheras this can be done seamlessly using Synapse Ink for cosmosdb. Thoughts?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2021-12-08 19:44] david-stanford commented on #3209
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/529948/>529948</a>

[2021-12-09 17:10] KSchlobohm opened #3210 "Missing image"
The image for the logical diagram is not shown.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 495b2ac1-3a9c-d1db-2b46-bbfbd0a4b538
* Version Independent ID: 2f6008fa-9b45-6ce1-13b5-74f82550f715
* Content: [Web-Queue-Worker architecture style - Azure Application Architecture Guide](https://docs.microsoft.com/en-us/azur

[2021-12-09 17:11] david-stanford commented on #3210
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/530350/>530350</a>

[2021-12-10 00:28] KSchlobohm opened #3212 "Broken link for Performance efficiency"
Under the header of `Availability` the link for performance efficiency is listed as a broken link.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04d3a8e6-d525-cd5e-46b1-d28384fab8bc
* Version Independent ID: 442da3db-2ec4-9f0e-b485-459717c081d2
* Content: [E-commerce front end - Azure Example Scenarios](https:

[2021-12-10 00:29] david-stanford commented on #3212
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/530539/>530539</a>

[2021-12-10 00:31] qkmnguyen opened #3213 "qn-12-09-2021-issue-7"
qn-12-09-2021-issue-7

[2021-12-10 00:31] david-stanford commented on #3213
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/530540/>530540</a>

[2021-12-10 00:35] #3213 closed

[2021-12-10 04:21] AjayKumar-MSFT commented on #3210
@KSchlobohm, Thanks for taking time to share your valuable feedback!

The doc aims at outlining Web-Queue-Worker architecture with all the key requisite components with two images one for generic architecture and another specific on Azure App Service with other integrating components/services.
  'Web-Queue-Worker architecture style' and 'Web-Queue-Worker architecture that uses Azure App Service.'

[2021-12-10 12:42] AjayKumar-MSFT commented on #3213
@qkmnguyen, Thanks for leveraging Azure docs feedback channel to raise this question. Since you have closed the thread I presume the issue is resolved, if it's not the case or you need further assistance kindly just let us know.
-Please do share more details about your scenario/ask.

-As a side note, this channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting conten

[2021-12-10 13:21] arntdg commented on #3193
Please insert the attached revised architecture image in place of the existing architecture image in the current article
![sapbw4hanaupd](https://user-images.githubusercontent.com/86350177/145580347-9422f4af-95a4-4123-b134-5a3db7702807.png).

[2021-12-11 14:33] Johns-305 opened #3214 "How do I download the slide?"
All this is great, but a waste of time if we can't download the slide.

How? Where?  Why hide this?  This isn't that hard.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6d6e5f5-f0b9-e667-45bf-806d26e48d42
* Version Independent ID: a3fa06b2-e141-c35d-6a72-a12c1ad653c1
* Content: [Integrate data with Logic App and SQL

[2021-12-11 14:34] david-stanford commented on #3214
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/531155/>531155</a>

[2021-12-11 16:02] si-chan opened #3215 "Update benefits paragraph"
[Enter feedback here]
The benefits (paragraph 2) are not really explained well.
It's not obvious how a hub and spoke configuration can help save costs.
Subscription limits relate to subscriptions, not the network architecture, although having a segregated network architecture can enable segregation of vNets across multiple subscriptions, and thus help to avoid subscription limits.

---
#### Docume

[2021-12-11 16:03] david-stanford commented on #3215
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/531171/>531171</a>

[2021-12-11 18:48] RyanHill-MSFT commented on #3214
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-12-11 18:52] RyanHill-MSFT commented on #3215
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-12-12 15:27] ghost opened #3216 "Dead link to scripts"
There is a link on page 30 of **Managing Microsoft 365 in true DevOps style with Microsoft365Dsc and Azure DevOps** to [https://microsoft365dsc.com/Pages/Resources/Whitepapers/M365Automation.zip](https://microsoft365dsc.com/Pages/Resources/Whitepapers/M365Automation.zip) which now returns a 404.  It is not possible to complete the following steps in the solution without these files.

Thanks.
---
#

[2021-12-12 15:28] david-stanford commented on #3216
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/531359/>531359</a>

[2021-12-12 16:54] desmay commented on #3216
@danielfawcett1 Thanks for reporting working on getting whitepaper updated with new link location.

[2021-12-12 18:08] KhaledSamir opened #3217 "Got confused about when to use the saga pattern."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28115bf1-a411-eeff-28b2-1caabaecc2f0
* Version Independent ID: 27d63984-99a6-fd06-c67f-b6226042cee8
* Content: [Saga pattern - Azure Design Patterns](https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/saga/saga)
* Content Sour

[2021-12-12 18:08] david-stanford commented on #3217
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/531378/>531378</a>

[2021-12-12 22:11] DeanGross opened #3218 "Add numbers to diagram"
there is a numerical listing below the diagram, it would be helpful if the diagram showed the numbers so that the text descriptions could be more easily correlated.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2c472ec-9be4-6e0e-eac6-0236e2e1044a
* Version Independent ID: d2c472ec-9be4-6e0e-eac6-0236e2e1044a
* Content

[2021-12-12 22:12] david-stanford commented on #3218
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/531407/>531407</a>

[2021-12-12 23:29] DeanGross opened #3219 "Incomplete page"
There is not very much content on this page, it looks like the primary section of the page may not have been published.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86da7d5a-f642-2f32-df67-7bfb766afbb9
* Version Independent ID: 86da7d5a-f642-2f32-df67-7bfb766afbb9
* Content: [Service-specific guidance for a multitenan

[2021-12-12 23:29] david-stanford commented on #3219
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/531416/>531416</a>

[2021-12-12 23:31] johndowns commented on #3219
@DeanGross Thanks for your feedback. This is the overview page for a much larger set of documentation. Do you see the links in the table of contents (usually on the left)? These are all part of the guidance in this set.

![image](https://user-images.githubusercontent.com/5916377/145734071-6de4f8b9-bdde-44c7-8eaa-de6b5e82d276.png)

[2021-12-12 23:31] johndowns commented on #3219
@DeanGross Also, we have many more pages still to come in this section.

[2021-12-13 00:52] RyanHill-MSFT commented on #3216
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-13 00:54] RyanHill-MSFT commented on #3217
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-13 03:56] RyanHill-MSFT commented on #3218
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-13 04:00] RyanHill-MSFT commented on #3219
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-12-13 11:10] DeanGross commented on #3219
Yes, I see those. I think it would be helpful if the overview page listed out the services that we expect to learn about. It is currently so general that it does not let the reader know what to expect. The overview page should provide enough content so that the reader can determine if further time should be spent

[2021-12-13 18:05] DeanGross opened #3220 "Duplicate items"
One of the duplicate bullet items in the list should be removed:
Microsoft Defender for Cloud Security Recommendations
Microsoft Defender for Cloud Security Recommendations

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dce3b9c5-ef05-1ff3-a6fe-052f48a9b471
* Version Independent ID: f6d3e8e8-37c5-43e6-6185-58f8511dee7e

[2021-12-13 18:06] david-stanford commented on #3220
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/531771/>531771</a>

[2021-12-13 22:17] SatishBoddu-MSFT commented on #3220
Hello [@DeanGross](https://github.com/DeanGross)
I have assigned the issue to the content author for further review.

[2021-12-14 11:11] richorama opened #3222 "Enterprise integration using message broker and events"
Hi,

First  of all, thank you. These pages are a very useful reference, and I'm really pleased they exist!

In regards to this page:

https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/enterprise-integration/queues-events

I see that a Service Bus Queue feeds into Event Grid. I am curious if this is still the best advice?

I assume that Event Grid is used to trigger the lo

[2021-12-14 11:12] david-stanford commented on #3222
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/532121/>532121</a>

[2021-12-14 14:24] ltalirz opened #3224 "Management section - why not start with Azure Batch & Azure CycleCloud?"
The "Management" section of the "HPC on Azure" docs is currently ordered as follows:

 1. Do it yourself (discouraged, since complicated)
 1. Hybrid and cloud bursting (only relevant if you want to connect an existing hpc system to azure; likely not the first thing a new user will try to do(?))
 1. Marketplace solutions (good to include but should these be listed before the built-in ones?)
 1. Azu

[2021-12-14 14:25] david-stanford commented on #3224
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/532171/>532171</a>

[2021-12-14 15:15] bomagusi opened #3225 "Adding reference to Microsoft Defender for Cloud"
[Reference to Microsoft Defender for Cloud missing]

Hi Team,

in addition to Microsoft Defender for Cloud Apps, it would be of real value to add a reference to Microsoft Defender for Cloud (and potentially more information about its integration with AWS) to the "Cloud Platform Security (multi-cloud)" section.

Happy to discuss this further.

---
#### Document Details

⚠ *Do not edit this section.

[2021-12-14 15:15] david-stanford commented on #3225
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/532191/>532191</a>

[2021-12-14 15:40] shashishailaj commented on #3222
@richorama Thank you for your query . We will investigate and update the thread.

[2021-12-14 19:21] SatishBoddu-MSFT commented on #3224
Hello [@ltalirz](https://github.com/ltalirz)
I have assigned the issue to the content author for further review.

[2021-12-14 19:24] SatishBoddu-MSFT commented on #3224
Hello @mike-urnun-msft Could you please help in assigning this to doc author?

[2021-12-14 21:31] jbeuree opened #3228 "Bad link to the cosmosdb etcd api"
Page contains a link for "etcd API (preview)", which no longer exists. Looks like the etcd preview api was pulled/removed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e40cb85c-ee53-7b49-0622-bed8ebedea81
* Version Independent ID: 896e0838-dfd1-c442-414d-ad9ea6dc8f7d
* Content: [Understand data store models - Azure A

[2021-12-14 23:07] SatishBoddu-MSFT commented on #3228
Hello [@jbeuree](https://github.com/jbeuree)
I have assigned the issue to the content author for further review.

[2021-12-15 03:39] johndowns commented on #3219
Thanks, @DeanGross. We will be pushing some updates soon to try to make this clearer.

#please-close

[2021-12-15 03:39] #3219 closed

[2021-12-15 05:01] PramodValavala-MSFT commented on #3222
@richorama there are [differences between the different messaging services](https://docs.microsoft.com/en-us/azure/event-grid/compare-messaging-services?toc=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fazure%2Fservice-bus-messaging%2Ftoc.json&bc=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fazure%2Fbread%2Ftoc.json) available which is an informative read to consider for designs.

As for the polling asp

[2021-12-15 12:28] ltalirz commented on #3224
Thanks for looking into this!

I also think the Azure CycleCloud section should link to https://docs.microsoft.com/en-us/azure/cyclecloud
Plus, there are several tools around Azure CycleCloud that do not seem to be mentioned anywhere - neither here, nor in the Azure CycleCloud documentation:

 - [AzureHPC cli `azhpc`](https://github.com/Azure/azurehpc/) for simplifying cyclecloud setup
 - [Azure H

[2021-12-15 20:32] AjayKumar-MSFT commented on #3210
KSchlobohm,   Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply (share the requested details), and we will gladly continue the discussion.

[2021-12-15 20:32] #3210 closed

[2021-12-15 20:36] AjayKumar-MSFT commented on #3212
KSchlobohm, Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-12-15 21:58] falloutxAY opened #3229 "IoT scenario should use IoT Hub or IoT Central"
It is called out in the below that one of the use cases is IoT, instead of landing IoT telemetry to event hub, we should use IoT Hub or IoT central.
https://docs.microsoft.com/en-us/azure/architecture/solution-ideas/articles/real-time-analytics

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b4bb287-fa40-af1d-0af9-e8bc

[2021-12-15 21:59] david-stanford commented on #3229
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/532804/>532804</a>

[2021-12-15 22:03] KSchlobohm commented on #3210
Thanks @AjayKumar-MSFT I don't think this needed a new diagram but when I reported the issue the image for https://github.com/MicrosoftDocs/architecture-center/raw/main/docs/guide/architecture-styles/images/web-queue-worker-logical.svg was not rendering properly.

Looking at this again today it seems there wasn't a problem to fix.

[2021-12-16 02:07] SatishBoddu-MSFT commented on #3229
Hello @falloutxAY Thanks for the feedback.

I have assigned the issue to the content author for further review.

![image](https://user-images.githubusercontent.com/62923178/146294029-50749e20-aea5-49ef-b09b-39b8a6370d70.png)

[2021-12-16 05:01] AjayKumar-MSFT commented on #3210
KSchlobohm, Understood. Thanks for the follow-up and update.

[2021-12-17 00:57] #3220 closed

[2021-12-17 00:57] JasRobe commented on #3220
This has been addressed and is published live

[2021-12-17 14:00] dzejsien opened #3231 "Why not to use grpc for inter-pod communication"
Could you please comment, why grpc is not used for inter-pod communication?

[2021-12-17 14:01] david-stanford commented on #3231
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/533454/>533454</a>

[2021-12-17 14:03] #3231 closed

[2021-12-17 14:03] dzejsien commented on #3231
forgot about link, will fix

[2021-12-17 14:04] dzejsien opened #3232 "Why not to use grpc for inter-pod communication"
Could you please comment, why grpc is not used for inter-pod communication?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46723a24-75ac-f6e2-c172-d3827ca0b7d6
* Version Independent ID: c975744e-e594-5667-14b3-c38824bbe24c
* Content: [Baseline architecture for an AKS cluster - Azure Architecture Center](https://docs.mi

[2021-12-17 14:04] david-stanford commented on #3232
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/533455/>533455</a>

[2021-12-17 18:28] SatishBoddu-MSFT commented on #3232
[@dzejsien](https://github.com/dzejsien)
Our SME will review this issue and get back soon.

[2021-12-17 19:13] ravkirn opened #3233 "DataProducts link is not working"
[Enter feedback here]
When clicking the link for 'data product' mentioned in the line 'Establish a data product architecture', it opens up a page with '404- Content not found'.

![image](https://user-images.githubusercontent.com/96313557/146596031-acd64bc5-7c37-4f25-bad9-b9906a030dca.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2021-12-17 19:13] david-stanford commented on #3233
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/533579/>533579</a>

[2021-12-17 23:28] SatishBoddu-MSFT commented on #3233
@ravkirn
I have assigned the issue to the content author for further review.

https://docs.microsoft.com/en-us/azure/cloud-adoption-framework/scenarios/data-management/architectures/data-landing-zone-data-products

![image](https://user-images.githubusercontent.com/62923178/146618936-9cf5b9ac-79ae-48cb-97d3-d8eaf092d4dd.png)

[2021-12-20 00:31] fabragaMS commented on #3233
PR submitted.
https://github.com/MicrosoftDocs/architecture-center-pr/pull/4945

[2021-12-20 20:07] paakos commented on #3209
Hi David, apologizes this email went to junk folder  and I’ve just realized about it.
Let me check it and answer.

Regards

From: David Stanford ***@***.***>
Sent: Wednesday, December 8, 2021 20:44
To: MicrosoftDocs/architecture-center ***@***.***>
Cc: paakos ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/architecture-center] HTAP using cosmosdb and Synapse SQL pools (Issue #3209)

[2021-12-21 06:25] PramodValavala-MSFT commented on #3222
@richorama Just following up here... Hope my previous comment clears things up.

[2021-12-21 06:26] PramodValavala-MSFT commented on #3222
@richorama Hope my previous comment clears things up.

Since there is no doc update required here, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-12-21 06:26] #3222 closed

[2021-12-23 16:47] ykuijs commented on #3216
This has been fixed.

FYI: The correct link is https://aka.ms/M365DSCWhitepaper/Scripts

This issue can be closed now.

[2021-12-27 21:06] infratex opened #3234 "Visio Diagram Incorrectly Labelled "Azure Visual Desktop""
Visio diagram is referencing "Azure Visual Desktop" instead of "Azure Virtual Desktop"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 501f0332-8e54-1c06-4c47-128c88091862
* Version Independent ID: 501f0332-8e54-1c06-4c47-128c88091862
* Content: [Hybrid file share with disaster recovery for remote and local branch worke

[2021-12-27 21:06] david-stanford commented on #3234
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/536370/>536370</a>

[2021-12-29 09:02] TyagiAmitYahooMail commented on #2039
How do I now build this 'architecture-center' documentation for local use on localhost iis/apache?
Please update the package.json or provide the steps.

[2021-12-30 00:02] crisher0219 opened #3236 "Add Azure Container Apps to decision tree"
Although Container Apps is in Public Preview and likely should be noted as such, can it be added to the decision tree to give additional light to where it falls here?

[2021-12-30 00:02] david-stanford commented on #3236
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/537064/>537064</a>

[2021-12-30 01:21] blogero45 opened #3237 "Missing URL's"
The Visio document that I need is no longer listed in GitHub.
https://docs.microsoft.com/en-us/azure/architecture/browse/?products=azure&terms=Front%20Door

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af2806b1-1264-2775-4cce-083303e75b49
* Version Independent ID: 68218fb5-2335-183a-8469-9101a2d

[2021-12-30 01:21] david-stanford commented on #3237
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/537075/>537075</a>

[2022-01-02 20:44] max-bowden opened #3239 "The branching strategy does not allow independent microservice releases like the guide says it does"
**The issue**
Paraphrased, it says that once the release manager is ready a release/delivery/1.0.2 branch is created from main, deployed to QA environment, approved then deployed to prod. However assuming we are in a monorepo with, eg, 50 different microservices it's highly likely that other microservices have changed between the feature/8152 branch being merged and the creation of the release/del

[2022-01-02 20:44] david-stanford commented on #3239
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/537851/>537851</a>

[2022-01-03 16:56] blogero45 opened #3240 "Broken: Advanced Azure Kubernetes Service (AKS) microservices architecture"
GitHub logo A reference implementation of this architecture is available on GitHub.
https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/containers/aks-microservices/aks-microservices-advanced

Another URL to an architecture document, that i need, that is not there.  Where can I find the visio file?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this secti

[2022-01-03 16:56] david-stanford commented on #3240
Thanks for reporting - this issue is under review. This is a Microsoft Internal DevOps Bug ID # <a href=https://ceapex.visualstudio.com//pnp/_workitems/edit/538119/>538119</a>

[2022-01-05 15:12] CarlosJoseChaconChavarria opened #3243 "Global Accelerator - Front Door"
hi guys

I would say this comparison is not correct AWS Global Accelerator (GA) / Front Door since Global Accelerator as per documentation "lobal Accelerator is a good fit for non-HTTP use cases, such as gaming (UDP), IoT (MQTT), or Voice over IP, as well as for HTTP use cases that specifically require static IP addresses or deterministic, fast regional failover. "

and I've used AWS Cloud Front a

[2022-01-05 19:26] JohnMarlin-MSFT opened #3244 "Feedback or clarity"
As the previous PM owner for Storage Replica and the Stretched HCI scenario, in you section, **Use stretched clusters to implement automated disaster recovery for virtualized workloads and file shares hosted on Azure Stack HCI**, you state:

For planned or expected downtimes at the primary site, you can use Hyper-V Live Migration to seamlessly transition workloads to the other site, avoiding downt

[2022-01-06 01:04] SamaraSoucy-MSFT commented on #3243
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2022-01-06 07:32] SnehaAgrawal-MSFT commented on #3244
@JohnMarlin-MSFT Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-06 08:35] send2vinnie opened #3246 "Incorrect Use of HTTP Status Code in the documentation of Request-Reply Pattern"
The statement of the above paragraph seen in the document doesn't seem match the diagram on top of this paragraph. The diagram shows HTTP 200 whereas the statement says HTTP 202 with regarding to the access of the status endpoint.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6fea460c-4fac-723f-8df4-9d0811855a68
* Ver

[2022-01-06 09:22] WillEastbury commented on #3246
Hi @Send2Vinnie!

We're in the middle of a couple of customer tweaks to this document to make the pattern match our prescribed vnext API guidance (where the operation status is a valid and separate REST resource in itself).

The update will finally show that, the first response from the POST'ed resource should show 202, with a header pointing at the appropriate status operation resource, which whe

[2022-01-09 16:04] takondo opened #3249 "Remove frxccd.exe from antivirus exclusion recommendation as it does not exist"
Under [Antivirus exclusions] section, the docs recommends that users add an exclusion for "%ProgramFiles%\FSLogix\Apps\frxccd.exe". However, this file does not actually exist. The correct process is frxccds.exe, which is listed right below. As frxccd.exe is not a part of FSLogix I suggest we remove it from the docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2022-01-10 03:40] SnehaAgrawal-MSFT commented on #3249
@takondo Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-10 18:35] angelicafaber opened #3250 "GuardDuty equivalents should be updated"
The current GuardDuty equivalent lists ATP, which doesn't technically exist, the link points to Defender for Identity. But wouldn’t GuardDuty be more equivalent to Microsoft Sentinel and Defender for Cloud? The new Sentinel AWS connector analytics rules target equivalent GuardDuty findings.

Maybe better links would be Microsoft Defender for Endpoint in Microsoft Defender for Cloud to protect nati

[2022-01-10 18:43] cdanvergara opened #3251 "What about Azure Container Apps?"
This decision chart is great to summarize all the choices available for Compute.
However with Azure Container Apps in GA, it will interesting to see in which category it will be placed.
Would be great if it can be added here.

https://techcommunity.microsoft.com/t5/apps-on-azure-blog/introducing-azure-container-apps-a-serverless-container-service/ba-p/2867265#:~:text=%20Introducing%20Azure%20Conta

[2022-01-11 16:58] James-Hamil-MSFT commented on #3250
Hi, we are investigating your issue and will update you shortly.

Best,
James

[2022-01-11 16:59] James-Hamil-MSFT commented on #3251
Hi, we are investigating your issue and will update you shortly.

Best,
James

[2022-01-11 19:54] larryclaman opened #3253 "Guidance needs updating due to product deprecation"
I realize I'm nitpicking a little, but I would like to see this page updated to remove reference to DC/OS.

DC/OS has been end of life'd as of 10/31/21 per https://d2iq.com/products/dcos.

Perhaps replace it with a reference to Hashicorp Nomad?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93139ee2-ff91-ee5e-a056-8d6b

[2022-01-11 21:32] victoria-flashgrid opened #3254 "Update the FlashGrid product name to FlashGrid Cluster from the old name FlashGrid SkyCluster"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d57b80f-9d93-fc7f-bc6d-c96430a06bd5
* Version Independent ID: 471d2970-917e-dace-4d54-6df8208d3d91
* Content: [Oracle database migration: Lift and shift - Azure Example Scenarios](https://docs.microsoft.com/en-us/azure/architecture/example-scenario/o

[2022-01-12 06:55] MayankBargali-MSFT commented on #3251
@cdanvergara Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-12 11:21] shashishailaj commented on #3254
@victoria-flashgrid Thank you for catching this. We will engage with the content team to have a change request initiated for this.

[2022-01-12 11:36] shashishailaj commented on #3253
@larryclaman Thank you for catching this and letting us know. We will engage the content team to see how best they can update the information here.

[2022-01-12 16:12] cdanvergara commented on #3251
Sounds good, thanks for the update!

[2022-01-13 16:48] murthyla opened #3255 "Additional info under On-premises and hybrid considerations section"
AATP should be renamed to Microsoft Defender for Identity.

Include info about Azure App Proxy and Microsoft Defender for Cloud Apps integration - Use Microsoft Defender for Cloud Apps for real-time monitoring of on-prem application - https://docs.microsoft.com/en-us/azure/active-directory/app-proxy/application-proxy-integrate-with-microsoft-cloud-application-security

---
#### Document Details

⚠

[2022-01-13 19:21] ckittel commented on #3237
The _AKS baseline for multiregion clusters_ does not have a Visio artifact; only the architecture images included in the article are the only assets.  You also listed a link to a "Front Door" architecture search, so if you're looking for an architecture visio that appears to be missing that isn't related to the _AKS baseline for multiregion clusters_ article, please let us know what page specifica

[2022-01-13 19:26] ckittel commented on #3240
@blogero45 -- We're sorry, there is no visio artifact for this article.  The only assets are the images found in the article and in the GitHub repo.

@JasRobe -- FYI from a content strategy perspective, if there is any prioritization necessary around backfilling existing content with Visio.  At this point, we do not have the bandwidth to create them from scratch and maintain them.

[2022-01-13 19:32] ckittel commented on #3232
The "AKS baseline" reference architecture (and reference implementation) here is an _infrastructure_ architecture document; _application_ architecture (including protocol selection for service-to-service communication) is not addressed. Therefor the AKS baseline reference architecture does not take any opinions for or against gRPC.  Workloads that exist in your AKS cluster (based on the AKS Baseli

[2022-01-13 19:32] #3232 closed

[2022-01-14 02:00] James-Hamil-MSFT commented on #3255
Hi, we are investigating your issue and will update you shortly.

Best,
James

[2022-01-14 03:32] MayankBargali-MSFT commented on #3255
@murthyla Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-14 10:36] morten-nielsen opened #3256 "HTTP 202, wrong description"
There seems a small bug in the description of the sequence diagram

`For every successful call to the status endpoint, it returns HTTP 202.`

Should be
`For every successful call to the status endpoint, it returns HTTP 200.`

The mention of HTTP 202, continues in other text blocks as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2022-01-14 11:22] shashishailaj commented on #3256
@morten-nielsen Thank you for your feedback . We will check this with the content team and update on the same.

[2022-01-15 05:07] adanielov opened #3257 "update product name"
The page shows old product name "FlashGrid SkyCluster", which is now called "FlashGrid Cluster". Also, the references look confusing.

Please update the last paragraph in "Business continuity and disaster recovery" section to the following:

You can't use Oracle Real Application Cluster (RAC) by itself in Azure. If you use FlashGrid Cluster, then you can host RAC on Azure. Follow these links for m

[2022-01-15 11:44] shashishailaj commented on #3257
@adanielov Thank you for your feedback . We will investigate an update the thread.

[2022-01-15 15:28] OneBlueBird opened #3259 "Azure function in image is named as Azure Stack"
At point #6, the Azure function is named as Azure Stack. Can you rename to Azure function?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aff2e7d6-9d81-3745-1e2e-c4ce9d9565ca
* Version Independent ID: d9b29d19-4325-e4ff-b15b-51dace1c11af
* Content: [Tier applications and data for analytics - Azur

[2022-01-16 06:32] BryanTrach-MSFT commented on #3259
@OneBlueBird Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-17 06:10] PramodValavala-MSFT commented on #3256
@morten-nielsen Actually, I believe the `202` is the correct response here. The sequence diagram is in the wrong here.

While the backend processing is in progress, a `202` is what is expected since it signals the client to keep polling. When processing is complete, one of the following behaviors could be implemented

- Return a `200` response with the required response
- Return a `202` with a loc

[2022-01-17 08:12] morten-nielsen commented on #3256
You are right @PramodValavala-MSFT it looks like 202 can be used like that, here is part of the description from ietf.

_The representation sent with this response ought to describe the request's current status and point to (or embed) a status monitor that can provide the user with an estimate of when the request will be fulfilled._

[2022-01-17 09:53] LionelSlade opened #3260 "Visio Link does not exactly represent this Architecture diagram"
Visio Link does not exactly represent this Architecture diagram.  Please Update or refresh this to correct Visio diagram.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84bcf722-abb3-69b8-8073-15ae4a6890de
* Version Independent ID: 7b2010c6-696d-de66-8e56-8ac5d3e54526
* Content: [Basic web application - Azure Reference

[2022-01-17 09:56] PramodValavala-MSFT commented on #3260
@LionelSlade Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2022-01-17 10:11] WillEastbury commented on #3256
The response from the original resource should return a 202, and point to a status resource.

When polled the status resource should return a 200 OK, as the resource being polled represents the status resource. Hence the diagram should be updated.

The text was updated recently in a customer-led PR, but the diagram was not.

Sent from Outlook<http://aka.ms/weboutlook>
From: 9elsen ***@***.***>
Sen

[2022-01-17 19:40] Jennifer-CH opened #3261 "Availability Zones"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f815c98d-c54b-a6cb-b77b-27c9fa99b3a3
* Version Independent ID: f78699f2-a847-f5cc-54bb-2730faf0b755
* Content: [Build solutions with availability zones - High Availability](https://docs.microsoft.com/en-us/azure/architecture/high-availability/building

[2022-01-18 00:51] BryanTrach-MSFT commented on #3261
@Jennifer-CH There does not seem to be any question on your issue submission. Can you please update us with any feedback/question so we can assist you? We look forward to your response.

[2022-01-18 07:40] #3261 closed

[2022-01-19 12:08] lbimsft opened #3262 "typo error should be application subnet"
[Enter feedback here]
Hi Team,

it's a great doc. but there is a typo in the doc regarding to this sentence “Application Gateway subnet redirects the packets to Azure Firewall Premium.” it should be "Application subnet redirects the packets to Azure Firewall Premium". I see other example also have this typo. could you please help correct it?

Regards,
Vincent

---
#### Document Details

⚠ *Do not

[2022-01-19 12:38] shashishailaj commented on #3254
@victoria-flashgrid We have initiated a change request for the content team . Once they approve this , the change will be live.

Thank you.

[2022-01-19 12:38] #3254 closed

[2022-01-19 13:33] vipulsparsh commented on #3262
@lbimsft Thanks for reaching out. We will investigate and update the thread accordingly.

[2022-01-19 13:34] erjosito commented on #3262
Thanks for the feedback @lbimsft! I have just corrected the typo, hopefully it is better now (it will take some time for the PR to propagate to the docs).

[2022-01-19 15:19] luwangshell opened #3264 "MS Power Platform with GitHub"
Hi there!

From this article (https://docs.microsoft.com/en-us/azure/architecture/solution-ideas/articles/azure-devops-continuous-integration-for-power-platform), it seems MS is promoting managing MS Power apps lifecycle using Azure DevOps (Azure git repo, azure pipelines, etc.) Could you clarify or elaborate the position of Power Apps lifecycle with GitHub as well?

From organization point of vie

[2022-01-20 01:06] BryanTrach-MSFT commented on #3264
@luwangshell Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-20 16:29] dicolanl opened #3266 "Update needed"
This table needs updating
https://docs.microsoft.com/en-us/azure/architecture/aws-professional/services#miscellaneous

Workflow row - Logic Apps is closer to AWS Step Function
https://aws.amazon.com/step-functions/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30d02f16-9621-d204-4132-8ce8db79b0af
* Version Independent

[2022-01-20 17:04] PramodValavala-MSFT commented on #3266
@dicolanl Thanks for catching that! We have worked up a PR to address this, which once merged should reflect in a couple of hours.

[2022-01-20 17:08] #3266 closed

[2022-01-21 18:18] davesainmi opened #3267 "this sentence does not make sense..."
[Enter feedback here]
From this article: https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/dmz/nva-ha

This sentence does not make sense / is not understandable -
 Since HA Ports for inbound traffic every individual TCP/UDP port needs to be opened in a dedicated load-balancing rule.

You may have meant something like
Since HA ports control (or restrict) inbound traffic, e

[2022-01-21 18:49] SamaraSoucy-MSFT commented on #3267
Thanks for the feedback! We will review and get back to you shortly.

[2022-01-24 08:52] jorisaeles opened #3268 "Purview doesn't support Dynamics 365 as source"
[Enter feedback here]
The diagram on this docs page includes Dynamics 365 as a data source for Purview but its not mentioned a source on the Purview docs pages https://docs.microsoft.com/en-us/azure/purview/manage-data-sources

nor is it on the roadmap
https://microsoft.sharepoint.com/teams/ProjectBabylon/Shared%20Documents/Forms/AllItems.aspx?id=%2Fteams%2FProjectBabylon%2FShared%20Documents%2FGe

[2022-01-24 12:40] o-l-a-v opened #3269 "Add IPv6 into the comparison and decision tree"
Would be great if IPv6 could be added to the comparison here.

In Norway, public companies must support IPv6 by 1. january 2023.

* https://lovdata.no/dokument/SF/forskrift/2013-04-05-959/%C2%A712#%C2%A712

So I guess this question will come up a lot this year.

Front Door is the only real alternative here, for a public facing endpoint that supports IPv6?

* https://rkniyer999.medium.com/390a3d3e5

[2022-01-25 02:29] robvet opened #3270 "Think you mean, Premium, not Production"
In the following sentence, think your referring to Development or 'Premium' API Management tiers:

The private, internal deployment model allows API Management to connect to an existing virtual network, making it reachable from the inside of that network context. To enable this feature, deploy either the Development or Production API Management tiers.

---
#### Document Details

⚠ *Do not edit thi

[2022-01-25 03:07] PramodValavala-MSFT commented on #3268
@jorisaeles Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2022-01-25 03:08] PramodValavala-MSFT commented on #3269
@o-l-a-v Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2022-01-25 03:11] PramodValavala-MSFT commented on #3270
@robvet Thanks for catching that! We have worked up a PR to address this, which once merged should reflect in a couple of hours.

[2022-01-25 03:17] #3270 closed

[2022-01-25 19:56] M2MFG commented on #3257
Hi Amberz, I am now managing this issue on the FlashGrid side, pleased to e-meet you. Thanks for your help.
Do you have a target date in mind for when the documentation will be updated?
Best regards,
Matthias Miller matthias.miller@flashgrid.io

[2022-01-25 22:53] SamaraSoucy-MSFT commented on #3267
I've submitted a pull request to make the change. It will go live once it has been reviewed by the doc author.

[2022-01-25 22:53] #3267 closed

[2022-01-26 12:08] zeevtur opened #3272 "Big data analytics with enterprise-grade security using Azure Synapse"
Hi, can you send me the visio file of this architecture?

[2022-01-26 13:46] davesainmi commented on #3267
Thank Samara

From: Samara Soucy ***@***.***>
Sent: Tuesday, January 25, 2022 5:54 PM
To: MicrosoftDocs/architecture-center ***@***.***>
Cc: Dave Sawyer ***@***.***>; Author ***@***.***>
Subject: Re: [MicrosoftDocs/architecture-center] this sentence does not make sense... (Issue #3267)

I've submitted a pull request to make the change. It will go live once it has been reviewed by the doc author.

[2022-01-27 05:59] MayankBargali-MSFT commented on #3272
@zeevtur Can you share the document that you are referring to?

[2022-01-27 20:41] shikanem opened #3273 "Improvements on the Microsoft Docs - "Add IP address spaces to peered virtual networks""
[Enter feedback here]

The customer will and understand the risk/potential disruption and th eactions needed from the Docs to avoid any potential service down.
For the end users to better understand and leverage/apply the Docs to their operations, this part of below Docs should articulate:

1) changes of address space extension operation via VNet peering;
2) the necessary setting-up steps in the n

[2022-01-28 02:37] RyanHill-MSFT commented on #3273
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-28 14:20] ckittel commented on #3237
I'm going to close this out, but feel free to reopen if you can address the question above.  Thanks.

[2022-01-28 14:20] #3237 closed

[2022-01-28 15:34] blogero45 commented on #3237
Chad,

The point was to correct the broken URL’s in the articles. That was all.

[A picture containing text  Description automatically generated]
BRENT LOGERO
Digital Solutions Area Specialist
U.S. Enterprise Digital Sales
Mobile: 720.296.4670 | VOIP: ‪720.441.2128

            [Graphical user interface, text, chat or text message  Description automatically generated] <https://www.linkedin.com/in/

[2022-01-28 15:37] ckittel commented on #3237
Please let us know which article.  Your original post didn't make it clear.  And the title seemed to indicate a Vizio in specific was missing, but you provided a link to the architecture browser, and the github issue was pinned to an AKS article. We'll need more clarity on your ask.  Thank you.

[2022-01-28 16:11] halligas opened #3275 "Old product names in CA graphic"
Detailed Conditional Access graphic still refers to Azure ATP instead of Microsoft Defender for Identity and still calls Microsoft Defender for Cloud Apps MCAS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5034ddc5-077e-1541-9b3e-479d6e35dd76
* Version Independent ID: 5034ddc5-077e-1541-9b3e-479d6e35dd76
* Content: [

[2022-01-28 22:33] jesusher opened #3277 "Customer story reference no longer available"
Please update the customer story reference on the Next Steps section: Maritz Motivation Solutions customer story- https://customers.microsoft.com/story/maritz is no longer available on the Customer Stories site.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e4f4c7c-f268-b75b-2486-5c4418e5b24e
* Version Independent ID

[2022-01-29 07:11] AnuragSharma-MSFT commented on #3275
@halligas Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-01-29 09:50] ShaikMaheer-MSFT commented on #3277
@jesusher Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-02-01 11:24] tuckwelladev opened #3280 "Query of Architecture decision tree."
I have a query regarding one of the outcomes within the architecture decision tree below. The Statement of "Proximity Placement groups (PPG's) with optional availability sets (ASs) in availability zones (AZs)". How is it possible to use availability sets in availability zones? These availability options are mutually exclusive, and when deploying a VM or groups of VM's you choose either to deploy u

[2022-02-01 12:21] shcrouch commented on #3280
Hi Adam, yes you can do this today using PPG as the “anchor” for the AS and AZ, so you can effectively pin the PPG to a AZ and then use AS in the PPGs.

The process is covered here - Azure proximity placement groups for SAP applications - Azure Virtual Machines | Microsoft Docs<https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/sap/sap-proximity-placement-scenarios#combine-availabil

[2022-02-01 15:51] #3280 closed

[2022-02-01 18:32] shcrouch commented on #3280
Question answered and closed by OP

[2022-02-02 08:33] ezYakaEagle442 opened #3281 "Integrate AAD for the workload to be be updated with Azure AD Workload Identity"
Integrate Azure Active Directory for the workload section should be updated as Pod Identity V1 will not GA, should be updated with Azure AD Workload Identity which is the new name for Pod Identity V2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46723a24-75ac-f6e2-c172-d3827ca0b7d6
* Version Independent ID: c975744e-e

[2022-02-02 19:09] ckittel opened #3283 "Update diagram branding around Microsoft Sentinel and Microsoft Defender"
The copy on this page has been updated to reflect branding changes for Microsoft Defender, Microsoft Sentinel, etc.  But the diagram is not updated and uses "ASC" (Azure Security Center", etc.

Consider reviewing the related content, in addition to this specific article.

HT: @YuriDio @rayne-wiselman

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2022-02-02 19:10] ckittel opened #3284 "Update diagram to reflect Defender & Sentinel naming"
The copy on this page has been updated to reflect branding changes for Microsoft Defender, Microsoft Sentinel, etc.  But the diagram is not updated and uses "ASC" (Azure Security Center", etc.

Consider reviewing the related content, in addition to this specific article.

HT: @YuriDio @rayne-wiselman

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2022-02-02 19:19] ckittel opened #3285 "Update diagram to reflect proper naming"
The copy on this page has been updated to reflect branding changes for Microsoft Defender, Microsoft Sentinel, etc.  But the diagram is not updated and uses "ASC" (Azure Security Center), etc.

Consider reviewing the related content, in addition to this specific article.

HT: @YuriDio @rayne-wiselman

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2022-02-03 00:40] MartinJaffer-MSFT commented on #3281
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2022-02-03 10:35] joteromontes opened #3286 "Process to resize and Sync Peered VNET's"
We need a proper description for the process to resize one peered VNET and perform the sync action using the command: [Sync-AzVirtualNetworkPeering](https://docs.microsoft.com/en-us/powershell/module/az.network/sync-azvirtualnetworkpeering)

When you do this the remote side will show the old information of the Peered VNET that has been resized.

The importance of this feature lies in the capabilit

[2022-02-03 14:40] blaskoa opened #3287 "Link on page not working"
Hi, the link https://azure.microsoft.com/en-us/resources/videos/ignite-2018-run-a-serverless-kubernetes-cluster-by-bridging-aks-and-aci-through-the-virtual-kubelet/ contained on this page is dead. It redirects to https://azure.microsoft.com/en-us/resources/videos/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01f8f943

[2022-02-03 16:59] MartinJaffer-MSFT commented on #3284
Duplicate of #3283

[2022-02-03 16:59] #3284 closed

[2022-02-03 17:01] MartinJaffer-MSFT commented on #3285
Duplicate of #3283

[2022-02-03 22:23] ckittel commented on #3284
Yikes, sorry about the duplicates @MartinJaffer-MSFT  -- Github was throwing 500s when I was submitting them.  Apparently they all got queued up and submitted anyway. :(

[2022-02-04 04:03] ShaikMaheer-MSFT commented on #3286
@joteromontes Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-02-04 04:04] ShaikMaheer-MSFT commented on #3287
@blaskoa Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-02-04 18:02] stewartadam opened #3290 "Code samples for IoT Hub w/ third-party token servers not rendered correctly"
Code snippets appears to have underscores escaped and is written in all-caps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c61bdcd-d090-e908-11cc-6328c7a147aa
* Version Independent ID: 8f22b36e-33ac-9535-6658-c7059da6b856
* Content: [Azure IoT client SDK support for third-party token servers - Azure Architecture Cen

[2022-02-04 22:07] solei90l opened #3291 "7lowa lpage"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f02ce282-99fb-660f-5429-63464639425c
* Version Independent ID: f78d5883-88d5-091e-24b9-318aeea0f168
* Content: [AKS container CI/CD with Jenkins and Kubernetes - Azure Solution Ideas](https://docs.microsoft.com/en-us/azure/architecture/solution-ideas/

[2022-02-05 16:05] MartinJaffer-MSFT commented on #3290
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2022-02-05 16:07] MartinJaffer-MSFT commented on #3291
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2022-02-05 16:08] MartinJaffer-MSFT commented on #3291
@solei90l could you please provide some more information?  I'm not certain what you are trying to say by "7lowa lpage".

[2022-02-07 00:18] wmstjean opened #3292 "Please expand"
Great reference material, those of us in HIM would benefit greatly from more information, such as potential use cases, alternative services, implementation considerations, or pricing guidance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8be93cf-da00-d500-09fa-85388e8e9c4e
* Version Independent ID: abf64496-ef01-7b9

[2022-02-07 16:07] MartinJaffer-MSFT commented on #3292
Thank you for bringing this to our attention.  To better assist you, could you please identify which document this is in reference to?

[2022-02-07 18:15] M2MFG commented on #3257
Hi Amberz,

I hope all is well. Do you have an update on this task? Thanks for your help.

[2022-02-07 19:47] uthappa123 commented on #3287
Thanks. Updated. Created a pull request - https://github.com/MicrosoftDocs/architecture-center/pull/3293

[2022-02-08 05:21] datascience-dst opened #3294 "Components of a big data architecture"
In text accompanying the big data architecture diagram, I dont see an explanation for the machine learning box and it's two way links with batch processing and stream processing. Please provide!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 953d7d0d-651f-a566-1d28-6946c824e1ae
* Version Independent ID: 8f5b4264-dcc9-a

[2022-02-08 13:59] MWL88 opened #3295 "AVD component relationships are not clear"
I would like some clarification regarding the table listing the [Azure Virtual Desktop limitations](https://docs.microsoft.com/en-us/azure/architecture/example-scenario/wvd/windows-virtual-desktop#azure-virtual-desktop-limitations). This table is also presented on the [Subscription and service limits](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-servi

[2022-02-08 15:15] TomHickling commented on #3295
Both of these are correct because they are explaining something slightly different. In terms of the Limits document this is showing the actual limits per object based upon its parent object where the limitation applies. e.g., you could have 400 Host Pools per Workspace, if you wanted 500 you need a second Workspace. Whereas the "relationships" doc is showing the logical hierarchy that an Admin nee

[2022-02-08 17:49] MWL88 commented on #3295
Thank you for the clarification regarding the service limits and the AVD object hierarchy.

I was recently able to successfully deploy, via an ARM template, a Host Pool shared between multiple Workspaces.

I can confirm the ARM template now fails to deploy the second Workspace if the Workspace attempts to be associated with a Host Pool that is already assigned to another Workspace.

[2022-02-09 03:20] ram-msft commented on #3294
@datascience-dst Thanks for the feedback! We will review and update accordingly.

[2022-02-09 09:48] parthik19 opened #3296 "Async IO Mitigating risk of blocked threads"
The docs state `Eventually resources such as memory, connections, and threads could be exhausted, preventing other users from connecting to the system`. However, isn't this issue significantly mitigated assuming we're using async IO? I can't think how connections and threads could be "exhausted" if we're using async IO.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2022-02-09 14:31] ivratche opened #3297 "Public Preview of FSLogix profiles for Azure AD-joined VMs in Azure Virtual Desktop"
Looks like this article needs an udpate? https://techcommunity.microsoft.com/t5/azure-virtual-desktop-blog/announcing-public-preview-of-fslogix-profiles-for-azure-ad/ba-p/3019855

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96947883-d52b-1ed8-7db2-915f025060af
* Version Independent ID: 96947883-d52b-1ed8-7db2-915f025

[2022-02-09 16:18] trgabrie commented on #1891
@ShadowXVII any updates on this?

[2022-02-09 18:17] robvet opened #3298 "First Visio Link is incorrect."
First Visio link appears to be wrong. It's download Visio file to a single region example.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0c0c2a8-94a0-67ef-602a-6013bc7aa403
* Version Independent ID: 27705eeb-7853-bd5d-58ac-a07bd6a8a79d
* Content: [Highly available multi-region web app - Azure Ar

[2022-02-09 19:39] joshjohanning commented on #1891
We were able to work around this by using the [Azure SignalR service](https://azure.microsoft.com/en-us/services/signalr-service/#solution-architectures) instead of interacting with Front Door's websockets limitation.

If I recall, the connection is something like this:
User --> App Service behind Front Door <--> Azure SignalR

[2022-02-09 23:16] Karishma-Tiwari-MSFT commented on #3297
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-02-10 06:42] ShaikMaheer-MSFT commented on #3298
@robvet Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-02-10 07:16] Arvindboggaram commented on #3298
The Visio file has three tabs, select the multi-region tab for the reference diagram

[2022-02-11 10:05] Torgeir-Hansen opened #3300 "Architecture Diagram does not load"
![image](https://user-images.githubusercontent.com/58551036/153572596-f08d114e-c345-44e5-9724-80821d4654dc.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df354e21-f263-30a9-1a5c-1460f2bf16a9
* Version Independent ID: 73d2f19b-00a0-fe4d-7042-15d27f586565
* Content: [Web application monitoring on Azure - Azure Archi

[2022-02-11 16:59] terrymandin opened #3301 "Missing Decision Tree diagram"
This page appears to be broken.  It no longer includes the decision tree.  See attached.
![image](https://user-images.githubusercontent.com/833055/153634996-f4796154-1c0d-4910-9ae2-5f613030a3a9.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88559925-9b9e-d9b3-ddb6-08306692c17b
* Version Independent ID: a25055cb-7c

[2022-02-11 21:34] salavala opened #3302 "Schema or Free format landing zone with Data Ingestion for Databricks based Modern Analytics Platform"
Issue -1: Clarity on the Curated Layer
   It would be better to clarify which one from bronze, silver and gold indicates the curated layer.
Issue-2: Schema based or Free form data ingestion
  Do you recommend free form ingestion or schema forcing ingestion?
  Would the free form data ingestion create a data swamp?
  How do you manage loading failures, data reconciliation if we enforce schema-based

[2022-02-11 22:31] ChaitanyaNaykodi-MSFT commented on #3300
Hello @Torgeir-Hansen
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-02-12 01:25] Karishma-Tiwari-MSFT commented on #3301
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-02-12 06:13] ram-msft commented on #3302
@salavala Thanks for the question. Can you please share with us the URL of the document that you are having issues with?

[2022-02-12 11:39] dutchmark888 opened #3303 "Fraud detection"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd37bcea-463c-a743-8755-8909ec4768c9
* Version Independent ID: 1869b0bd-27b8-3ffc-ccfe-71ad2a2bcc8c
* Content: [Real-time fraud detection - Azure Example Scenarios](https://docs.microsoft.com/en-us/azure/architecture/example-scenario/data/fraud-detect

[2022-02-12 11:40] dutchmark888 opened #3304 "Model analysis"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e55d3a73-7618-45ba-b281-bb70dd258842
* Version Independent ID: 7f5cd352-0998-a214-8dfc-c19898cecd21
* Content: [Domain analysis for microservices - Azure Architecture Center](https://docs.microsoft.com/en-us/azure/architecture/microservices/model/doma

[2022-02-12 17:25] Karishma-Tiwari-MSFT commented on #3304
To help us understand your ask better, can you please share more details on what more information you would like to be added to this document? Thanks.

[2022-02-12 17:31] Karishma-Tiwari-MSFT commented on #3303
To help us understand your ask better, can you please share more details on what more information you would like to be added to this document? Thanks.

[2022-02-12 21:20] josephmcasey opened #3305 "Bug - Table of Content Options"
## Root Cause
Source Code: [docs/toc.yml](https://github.com/MicrosoftDocs/architecture-center/blob/c13102196d67c4c476dbc376e94d664a4fb5df4b/docs/toc.yml#L67)
Website: [azure/architecture/guide/technology-choices](https://docs.microsoft.com/en-us/azure/architecture/guide/technology-choices/compute-decision-tree#:~:text=Choose%20a%20Kubernetes%20edge%20option)

## What Happens
0. Go to [Azure Archi

[2022-02-12 21:33] josephmcasey commented on #3305
I lack the necessary information to know the appropriate solution. My most educated guess would be that this tab might have been intended to direct to this URL?

https://docs.microsoft.com/en-us/azure/architecture/operator-guides/aks/choose-kubernetes-edge-compute-option

[2022-02-13 07:28] ram-msft commented on #3305
@josephmcasey Thanks for the feedback! We will review and update accordingly.

[2022-02-13 21:19] rmc515 opened #3306 "Typo?"
In the "Application Gateway before Firewall" section, it says:

This design is appropriate for applications that need to know incoming client source IP addresses, for example to serve geolocation-specific content or for logging. Azure Firewall SNATs the incoming traffic, changing the original source IP address.

Then later, after the picture on step 3 it says:

Azure Firewall doesn't SNAT the traf

[2022-02-14 09:33] midhunkalaivasan opened #3307 "Need chat box kind of help to select suitable azure architecture solution"
Hi,

Need chat box kind of help to select suitable azure architecture solution.

It would be very helpful if introduce chat box type of user friendly session to select a suitable architecture for user needs.

Azure should propose some recommended architecture design in azure architecture center based on customer needs.

Thanks,
Midhun K

---
#### Document Details

⚠ *Do not edit this section. It i

[2022-02-14 10:08] erjosito commented on #3306
Hey @rmc515 thanks for that! Great catch, that sentence shouldnt be there. I have made a correction to the document, it is already merged and it should be online in a few hours. Could you let me know if that has fixed the issue?

Thanks!

[2022-02-14 10:40] MayankBargali-MSFT commented on #3302
@salavala Following up to see if you can provide more details on what document you have referred to?

[2022-02-14 20:13] Karishma-Tiwari-MSFT commented on #3304
This azure-docs repository deals about feedback ((like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) related to particular Azure document page so if issue is intended to update / correct / enhance anything in an Azure document then please share Azure document link / URL and share the feedback related to it.

[2022-02-14 20:13] Karishma-Tiwari-MSFT commented on #3303
This azure-docs repository deals about feedback ((like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) related to particular Azure document page so if issue is intended to update / correct / enhance anything in an Azure document then please share Azure document link / URL and share the feedback related to it.

[2022-02-15 05:42] VikasPullagura-MSFT commented on #3307
@midhunkalaivasan
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-02-15 05:42] VikasPullagura-MSFT commented on #3307
@EdPrice-MSFT
Can you please check and add your comments on this request as applicable.

[2022-02-15 10:08] erjosito commented on #3306
I think we can close this as fixed

[2022-02-15 12:12] ShadowXVII commented on #1891
Was "There is currently no ETA but may come at the end of this year." as at August last year.

Radio silence since.

[2022-02-15 16:40] reub-the-cube opened #3308 "Possible improvement to image on Solution section of the Claim-Check pattern page"
We were reviewing the diagram in the Solution section and felt that having arrows (1/2/3/4) might be beneficial for some readers, to make it clearer that the reference included in the middle message is a result of having stored the payload to the data store.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1970e0cd-53ae-

[2022-02-15 18:19] SamaraSoucy-MSFT commented on #3308
Thanks for the feedback! We will review and get back to you shortly.

[2022-02-15 18:46] Karishma-Tiwari-MSFT commented on #3304
We will now close this issue. Please share the details when you get a chance and tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2022-02-15 18:46] #3304 closed

[2022-02-15 18:46] Karishma-Tiwari-MSFT commented on #3303
We will now close this issue. Please share the details when you get a chance and tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2022-02-15 18:46] #3303 closed

[2022-02-15 19:23] FallenHoot opened #3309 "Issue with deploying AVD VM with Azure AD Join"
When Deploying AVD VM it fails to connect to Azure AD Join
![image](https://user-images.githubusercontent.com/19664186/154131461-05309200-f655-46c1-b018-1efe90d08618.png)
![image](https://user-images.githubusercontent.com/19664186/154131528-e5af58c4-c214-45ca-963a-533e76d3b94c.png)
![image](https://user-images.githubusercontent.com/19664186/154130858-3000f39e-a91e-4c03-a9ee-3553c812fe86.png)
The t

[2022-02-16 06:06] VikasPullagura-MSFT commented on #3309
@FallenHoot
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-02-16 06:06] VikasPullagura-MSFT commented on #3309
@TomHickling
Can you please check and add your comments on this doc update request as applicable.

[2022-02-16 20:43] parthik19 commented on #3296
@Karishma-Tiwari-MSFT any update?

[2022-02-17 02:29] MayankBargali-MSFT commented on #3302
@salavala As there was no response. We will now proceed to close this thread. If there are further questions regarding this matter, please share the document that you are referring to and we will gladly continue the discussion.

[2022-02-17 02:29] #3302 closed

[2022-02-18 07:32] davidsrhans opened #3311 "Link is not working for "Managing Microsoft 365 in true DevOps style with Microsoft365DSC and Azure DevOps""
the link to the article at the end of the page for "[Managing Microsoft 365 in true DevOps style with Microsoft365DSC and Azure DevOps](https://office365dsc.azurewebsites.net/Pages/Resources/Whitepapers/Managing%20Microsoft%20365%20with%20Microsoft365Dsc%20and%20Azure%20DevOps.pdf)" is not working

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2022-02-18 11:18] desmay commented on #3311
@davidsrhans Are you referring to a link in the PDF on managing [M365 with DevOps](https://office365dsc.azurewebsites.net/Pages/Resources/Whitepapers/Managing%20Microsoft%20365%20with%20Microsoft365Dsc%20and%20Azure%20DevOps.pdf) or on the [docs site](https://docs.microsoft.com/en-us/azure/architecture/example-scenario/devops/manage-microsoft-365-tenant-configuration-microsoft365dsc-devops?source=

[2022-02-18 13:13] msftnadavbh opened #3312 ""Secrets" section still erroneously points to AAD Pod Identity"
The "Secrets management" section still points to AAD Pod Identity.
Microsoft already does not recommend using this as it's being replaced by Azure AD Workload Identity :
https://azure.github.io/azure-workload-identity/docs/

The document should reflect that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5e2e444-d6b9-

[2022-02-18 14:30] desmay commented on #3311
Interesting that [link](https://office365dsc.azurewebsites.net/Pages/Resources/Whitepapers/Managing%20Microsoft%20365%20with%20Microsoft365Dsc%20and%20Azure%20DevOps.pdf) works fine for me.

<img width="835" alt="image" src="https://user-images.githubusercontent.com/43035577/154701673-42bf0952-4753-4c43-9b0c-037e953dd604.png">

[2022-02-18 14:58] davidsrhans commented on #3311
Hi Derek,

I have tested on 1 other PC and it worked.. but it did take a long time to load.

On my mobile phone it starts to load, but just sits there

on my main machine, it crashes out straigt away.  I will reboot and see if that makes a difference.  My machine (win 11) cant reach the actual website office365dsc.azurewebsites.net<https://office365dsc.azurewebsites.net/>!

Bit of a big screenshot

[2022-02-19 01:16] mike-urnun-msft commented on #3312
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-02-20 01:29] M2MFG commented on #3257
Hi Amberz, Do you know when this task will be completed?

There is still one more correction:
"You can't use Oracle Real Application Cluster (RAC) by itself in Azure. If you use FlashGrid **SkyCluster,** then you can host RAC on Azure. Follow these links for more information:"
- "SkyCluster" needs to be replaced with "Cluster"
Thanks for your help. My executive leadership is looking for a target d

[2022-02-21 08:13] davidsrhans commented on #3311
Good Morning Derek,

I tested again this morning, after a reboot, and all was working fine again.  I guess it was a DNS issue on my machine (Win11, wake up from hibernate)

Can you please close this issue? And I am sorry that this was an issue on my end.

regards,
David Hans

***@***.***

________________________________
From: Derek Smay ***@***.***>
Sent: 18 February 2022 15:30
To: MicrosoftDocs/

[2022-02-21 11:52] desmay commented on #3311
@ChaitanyaNaykodi-MSFT Can be closed per author

[2022-02-22 10:39] bulentozkir opened #3314 "Container Apps"
[Enter feedback here]

Can you add Container Apps in to the diagram?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 510808e8-db5d-6b07-9a04-6edb743a2dfc
* Version Independent ID: 20d098aa-ef31-cb26-d677-765cfc9a7164
* Content: [Choose an Azure compute service - Azure Architecture Center](https://docs.microsoft.com/en-us

[2022-02-22 13:47] breval-dev opened #3315 "DevTest"
Hello !

Can you please tell me :

Where I can find all the PaaS services who a able to be use in DevTest Lab ?
It is possible to deploy IaaS services in DevTest Lab ?

Thanks !

[2022-02-22 15:32] dimmand opened #3316 "Routing Traffic Diagram Fix"
[Enter feedback here]
in the traffic routing sections based on the documentation the API management will contact the closest region to respond more quickly. In the diagram in the routing traffic section, the first West US 2 and second East Us API Management direct the request to the same stamp East US. However, the first API management West US 2 should direct the request to the stamp West US 2 res

[2022-02-22 18:38] SaurabhSharma-MSFT commented on #3314
@bulentozkir Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-22 18:43] SaurabhSharma-MSFT commented on #3315
@breval-dev To assist you better on your query could you provide us with the link to the document you are referring to ?
In case your query in not related to document content, open a new forum thread either Microsoft Q&A or StackOverflow as it could be better place to get help on your scenario where the community members could provide their expert guidance to you based on their experience.

[2022-02-22 19:18] #3311 closed

[2022-02-22 19:56] brbish opened #3317 "The script for Defender is incorrect"
It has hard coded the value \share\. That value should probably be a variable or at least have <> brackets around it to let people know they need to change it.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6386653c-9f82-1ea7-8f29-377be4e5e3b7
* Version Independent ID: a5db2b47-afaf-5917-40cd-7401

[2022-02-22 22:57] johndowns commented on #3316
@dimmand Thanks for your feedback.

The diagram is intended to show that, regardless of where the request comes from in the world (and whichever API Management instance it lands on), the request will be routed to the stamp for that tenant. So the lines connecting the API Management instances to the stamps don't necessarily match their regions.

For example, imagine a tenant normally resides in New

[2022-02-22 22:57] #3316 closed

[2022-02-23 04:08] dpc2604 opened #3318 "MDM integration"
It would be great to see a flavor of this that incorporated MDM (such as Profisee)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7254782d-e773-b542-73e8-f568d3bbee39
* Version Independent ID: 40d81223-f8ea-2eec-616e-5f6ee28c8206
* Content: [Modern analytics architecture with Azure Databricks - Azure Solution Ideas](ht

[2022-02-23 04:13] dpc2604 opened #3319 "Incorporating Purview and Profisee"
We're looking at this architecture but also with Purview and Profisee (MDM).
It would be great to see a digram of how that may fit together

[2022-02-23 08:24] MayankBargali-MSFT commented on #3317
@brbish Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-02-23 19:11] M2MFG commented on #3257
022322 - MM sent email today to Yolanda Woods <v-ywoods@microsoftsupport.com> asking for help

[2022-02-23 20:10] SaurabhSharma-MSFT commented on #3319
@dpc2604 To assist you better on your query could you provide us with the link to the document you are referring to ?
In case your query in not related to document content, open a new forum thread either Microsoft Q&A or StackOverflow as it could be better place to get help on your scenario where the community members could provide their expert guidance to you based on their experience.

[2022-02-23 20:12] SaurabhSharma-MSFT commented on #3318
@dpc2604 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2022-02-24 17:59] shashankspole opened #3320 "Nice learning platform from Learn - Microsoft Docs"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f815c98d-c54b-a6cb-b77b-27c9fa99b3a3
* Version Independent ID: f78699f2-a847-f5cc-54bb-2730faf0b755
* Content: [Build solutions with availability zones - Azure Architecture Center](https://docs.microsoft.com/en-us/azure/architecture/high-availability/

[2022-02-25 08:52] MayankBargali-MSFT commented on #3320
@shashankspole Thanks for reaching out and providing feedback. Just want to confirm if the github request was opened for providing the feedback and there are no document bug before we close out this request.

[2022-02-25 15:58] pinyuko opened #3322 "Hope to engage with the creator/contributor of this document"
[Enter feedback here]

Hi,

I'm Penny Ko (kopenny) in Microsoft. Azure NetApp Files (ANF) team Arnt de Gier (b-arntdegier) would like to update below 2 documents, but there are no Contributor listed on those documents. Is it possible that you could help to identify the creator of that content and share with us? So Arnt would be able to share feedback and hopefully can reuse the existing Visio file

[2022-02-25 15:59] pinyuko opened #3323 "Hope to engage with the creator/contributor of this document"
[Enter feedback here]

Hi,

I'm Penny Ko (kopenny) in Microsoft. Azure NetApp Files (ANF) team Arnt de Gier (b-arntdegier) would like to update below 2 documents, but there are no Contributor listed on those documents. Is it possible that you could help to identify the creator of that content and share with us? So Arnt would be able to share feedback and hopefully can reuse the existing Visio file

[2022-02-25 18:52] redhatpeter opened #3324 "cortana-intelligence-call-center-solution project"
Hi

it seems that the project (referred in this doc) is not working.  i am getting errors stating that I believe the dependency is no longer available, can someone help me with this?

if this project is no longer working then it should be removed from the documentation.

---------------------------- error ---------------
➜  cortana-intelligence-call-center-solution git:(master) npm install
npm ERR

[2022-02-26 00:59] SaurabhSharma-MSFT commented on #3319
@dpc2604 We will now proceed to close this thread as we have not heard back. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-02-26 00:59] #3319 closed

[2022-02-26 01:00] SaurabhSharma-MSFT commented on #3322
@pinyuko Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2022-02-26 01:01] SaurabhSharma-MSFT commented on #3323
Closing as Duplicate of #3322

[2022-02-26 01:01] #3323 closed

[2022-02-26 08:04] AnuragSharma-MSFT commented on #3324
@redhatpeter Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-02-26 21:11] parthik19 opened #3325 "Missing explanation for NoSQL secondary indexes"
There needs to be an explanation as to why NoSQL databases don't typically offer this feature to the extent the way SQL databases do.

https://github.com/MicrosoftDocs/architecture-center/blob/ea468dd927470a79edd7ce968918e6232e5f28e4/docs/patterns/index-table.md?plain=1#L34

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2022-02-27 00:10] SaurabhSharma-MSFT commented on #3325
@parthik19 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2022-02-28 17:47] JosiahParry opened #3326 "Expand example "CI/CD for containers""
Creating an issue as recommended via https://docs.microsoft.com/en-us/azure/architecture/solution-ideas/articles/cicd-for-containers.

It would be great if this could be expanded further to include example pipeline yaml etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d04d315-a0de-8f52-7898-72fda344e924
* Version I

[2022-02-28 18:40] MonikaReddy-MSFT commented on #3326
@JosiahParry - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can review and update the document accordingly.

[2022-03-01 02:04] M2MFG commented on #3257
Hi Amberz,
I hope you are doing well. Do you have a target date for when you can update this last change? Thanks for your help.

[2022-03-01 02:08] M2MFG commented on #3257
Hi Amberz, Do you have an ETA as to when this final update will be completed? I reached out to you on LinkedIn today to see if I can get an update. Thanks for your help!  matthias.miller@flashgrid.io

[2022-03-01 15:23] amberz commented on #3257
@M2MFG sorry, I didn't get the notification, I will review it ASAP. Thanks.

[2022-03-01 17:43] M2MFG commented on #3257
Hi Amber,

Thanks for your help, we appreciate it!

Best regards,

Matthias Miller | Account Manager | FlashGrid Inc. | ***@***.******@***.***> | +1 (650) 641-2421 ext. 606

From: Amber Zhao ***@***.***>
Sent: Tuesday, March 1, 2022 7:24 AM
To: MicrosoftDocs/architecture-center ***@***.***>
Cc: Matthias Miller ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/architecture-center] upda

[2022-03-02 01:20] SaurabhSharma-MSFT commented on #3315
@breval-dev We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-03-02 01:20] #3315 closed

[2022-03-02 13:40] OthmanBaalache opened #3328 "Missing Azure Icon"
Please add the icon for Azure Monitor Private Link Service!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6624d44c-f9f6-02f8-2c67-0f0637fed62e
* Version Independent ID: 9346a8ff-bab5-be2c-9dc1-d546fda1efa9
* Content: [Azure icons - Azure Architecture Center](https://docs.microsoft.com/en-us/azure/architecture/icons/?s

[2022-03-02 15:39] MayankBargali-MSFT commented on #3328
@OthmanBaalache Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-03-05 20:02] #3095 closed

[2022-03-06 04:25] amberz commented on #3257
Updated the content, the PR merged now.
https://github.com/MicrosoftDocs/architecture-center-pr/pull/5441

[2022-03-06 12:46] stszafa opened #3331 "TPM.2.0"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cade8ea3-b02f-6c92-b7b1-8f37a5c9d701
* Version Independent ID: c0bde50c-5e28-5ff2-1507-5a8711ae3022
* Content: [Azure Application Architecture Fundamentals - Azure Architecture Center](https://docs.microsoft.com/en-us/azure/architecture/guide/)
* Cont

[2022-03-06 13:51] MonikaReddy-MSFT commented on #3331
@stszafa - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2022-03-06 16:39] sandhyan21 opened #3332 "Can sustainable coding practices or green coding also be available"
[Enter feedback here]
Can sustainable coding practices or green coding also be available under responsible coding?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33f1a7ed-041f-c313-9a25-facdc4aebea4
* Version Independent ID: 20908b14-6258-ae56-73bc-323e5c9ac75b
* Content: [Responsible Innovation toolkit - Azure Applica

[2022-03-07 02:21] dogborne opened #3333 "Article and spreadsheet naming number differs"
The CA-Persona-Internals is CA100 on the docs page but CA200 on the spreadsheet. I know these are examples but it might confuse people.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7fac997-1920-f24e-767a-13755b794f85
* Version Independent ID: a7fac997-1920-f24e-767a-13755b794f85
* Content: [Conditional Access framew

[2022-03-07 02:25] RohitMungi-MSFT commented on #3332
@sandhyan21 Thanks for the feedback. We are investigating the issue and will update you shortly.

[2022-03-07 14:13] RohitMungi-MSFT commented on #3333
@dogborne Thanks for the feedback. We are investigating the issue and will update you shortly.

[2022-03-07 16:57] M2MFG commented on #3257
Hi Amber,

Thanks for your help, we look forward to you making the final correction. Please replace “SkyCluster” with “Cluster”

You can't use Oracle Real Application Cluster (RAC) by itself in Azure. If you use FlashGrid SkyCluster, then you can host RAC on Azure. Follow these links for more information:
·        Oracle RAC in Azure with FlashGrid Cluster: Oracle RAC in Azure with FlashGrid Clust

[2022-03-07 23:36] JonathanForrester commented on #2915
This issue may not be fixed anymore.

One of my customers is still having this problem in a recently provisioned environment. They are using FSLogix 2.9.797962170 and Windows 10 Enterprise for Virtual Desktops 21H2 with the 2022-02 Cumulative Update installed (build 19044.1566).

When ASR rule 3b576869-a4ec-4529-8536-b80a7769e899 (Block Office applications from creating executable content) is enab

[2022-03-08 00:43] tksh164 commented on #3204
The document updated, so, the video has been gone in currently.

[2022-03-08 00:43] #3204 closed

[2022-03-08 06:11] msftnadavbh commented on #3312
Hi - any updates on this?

[2022-03-08 06:55] clajes commented on #3333
thanks for the comment, I fully agree and will update and do a PR

[2022-03-08 21:48] calvindrover opened #3335 "Microsoft Graph Data Connect missing from Arch diagram"
Can we update the solution architecture to show the Microsoft Graph Data Connect ADF pipeline  connection to M365 for email attachment extract?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e7bd654-4757-bdad-e821-5df35cdfd6e9
* Version Independent ID: 9e7bd654-4757-bdad-e821-5df35cdfd6e9
* Content: [Automate document

[2022-03-08 22:30] MarileeTurscak-MSFT commented on #3335
@calvindrover thanks! @jyravi and @EdPrice-MSFT can you look into this?

[2022-03-10 00:34] juandrn opened #3337 "Not All Page Appears When Export To PDF"
When I export to PDF some page doesn't appears for example:

 - Circuit Breaker Pattern
 - Claim Check
 - Compensating Transaction
 - Competing Consumers
 - Compute Resource Consolidation
 - CQRS
 - Deployment Stamps
 - Event Sourcing
 - External Configuration Store
 - Federated Identity

Best regards

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2022-03-10 04:24] LucianFrango opened #3338 "Clarification on Bot WebApp communication to the Azure Bot Service"
Can there please be clarity on the communicaiton flow from the AppService hosting the bot to the Azure Bot Connector service.
My understanding is that the Bot would still need to communicate outbound from the AppService to the Bot Connector service.

Can you please confirm if Teams would also need to communicate to the Bot Connector service.
So that process would be direct to the Bot Connector, vi

[2022-03-10 06:44] rsk800 opened #3339 "Wrong description of ML in ASA"
"What you can do with it" for ASA looks just copied from upper row.

![image](https://user-images.githubusercontent.com/23612897/157604006-d307f460-61ad-4334-813c-aca79ed733b5.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0bdc71b-0a54-4cc4-1b79-f60e274e9a51
* Version Independent ID: 1783570c-3545-71c8-72d3-d5657

[2022-03-10 12:08] RohitMungi-MSFT commented on #3337
@juandrn Thanks for reporting this. @TimShererWithAquent It looks like the downloadable PDF format of the documentation is missing these sections. Could you please review and update as required?

[2022-03-10 16:52] MayankBargali-MSFT commented on #3338
@LucianFrango Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-03-10 17:33] MarileeTurscak-MSFT commented on #3339
@rsk800
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-10 17:36] MarileeTurscak-MSFT commented on #3339
@rsk800 thanks for calling this out! I made a pull request to fix the text. https://github.com/MicrosoftDocs/architecture-center-pr/pull/5510

[2022-03-10 17:36] #3339 closed

[2022-03-11 17:20] Drewp2020 opened #3341 "Woodgrove Bank/CNB.COM"
`3888757064202255`
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97abbeb4-6c20-4dfd-8a3f-3b448919679c
* Version Independent ID: d979d82d-2e80-5a1e-7928-7f8154ed34f3
* Content: [Choose a data analytics and reporting technology - Azure Architecture Center](https://docs.microsoft.com/en-us/azure/arc

[2022-03-11 17:26] Drewp2020 commented on #3341
https://woodgrovefinance.com/Account/LogIn
https://bisprofiles.com/fl/credible-operations-f17000004595
KEY FACTS ABOUT CREDIBLE OPERATIONS, INC.

    US Businesses Companies in Florida Leon County Companies

Company name
    CREDIBLE OPERATIONS, INC.
Status
    Active
Filed Number
    F17000004595
FEI Number
    822798528
Date of Incorporation
    October 12, 2017
    Age - 5 years
Home State

[2022-03-11 17:28] Drewp2020 commented on #3341
ss#412334610

[2022-03-11 17:45] Drewp2020 commented on #3341
https://oasisband.net/https://account.microsoft.com/

[2022-03-11 18:04] Drewp2020 commented on #3341
https://my.cnbtn.com/forgot CNBapp/login/#902300023329/password/Laserl2020

[2022-03-11 18:17] MarileeTurscak-MSFT commented on #3341
@Drewp2020 thanks for your feedback! If you have specific feedback on the document, please create a new issue detailing what you would like updated.

[2022-03-11 18:17] #3341 closed

[2022-03-11 19:06] WilliamAntonRohm commented on #3337
@RohitMungi-MSFT -- Rohit, I'm looking into this.

[2022-03-12 04:07] keizom opened #3343 "代替アクセスマッピングを利用する場合、Azure Application Gatewayが必要になる"
[フィードバックをこちらに入力してください]

SharePointの代替アクセスマッピングを利用する際には、
L7レベルの負荷分散が必要になるため、L４レベルのAzure Load Blancerではなく、L7レベルのAzure Application Gatewayが必要になります。

出来れば、条件付きで記載をお願いしたいです。

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 6d93eb87-54cb-cf38-dfae-0ebe7579d608
* Version Independent ID: c7ac665e-d194-ab07-c1bb-5d5a3049c5ec
* Content: [Azure での高可用性 SharePoint

[2022-03-12 04:07] keizom opened #3344 "代替アクセスマッピングを利用する際にはL7レベルのAzure Application Gatewayが必要"
[フィードバックをこちらに入力してください]

SharePointの代替アクセスマッピングを利用する際には、
L7レベルの負荷分散が必要になるため、L４レベルのAzure Load Blancerではなく、L7レベルのAzure Application Gatewayが必要になります。

出来れば、条件付きで記載をお願いしたいです。

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 6d93eb87-54cb-cf38-dfae-0ebe7579d608
* Version Independent ID: c7ac665e-d194-ab07-c1bb-5d5a3049c5ec
* Content: [Azure での高可用性 SharePoint

[2022-03-12 15:32] MarileeTurscak-MSFT commented on #3343
@keizom
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-12 15:36] MarileeTurscak-MSFT commented on #3344
@keizom thanks for the feedback! I ran a translation and this appears to be the same feedback as this issue: https://github.com/MicrosoftDocs/architecture-center/issues/3343

I have assigned the other issue to the author and am closing this out as a duplicate.

[2022-03-12 15:36] #3344 closed

[2022-03-14 10:01] nascar3000 opened #3345 ""Azure Virtual Desktop control plane" is there a typo about panel or plane?"
"Azure Virtual Desktop control plane"
I coundt find sometnig called "control plane", is there a typo on this one?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f26be54d-0f67-5098-7839-98f5bb064188
* Version Independent ID: 187fa3ce-ade9-1b07-2af3-c874ec3d0aac
* Content: [Azure Virtual Desktop for the enterprise - Azur

[2022-03-14 10:26] TomHickling commented on #3345
"Control plane" refers to the Azure Virtual Desktop service provided as PaaS. THis is the service that manages all the connectivity/orchestration etc. Microsoft manages this fully

[2022-03-14 10:34] nascar3000 commented on #3345
Thanks for information closing issue.

[2022-03-14 10:34] #3345 closed

[2022-03-14 13:44] DevSecNinja opened #3346 "Diagram contains Azure Security Center instead of Defender for Cloud"
Diagram contains Azure Security Center (former name) instead of Defender for Cloud.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dce3b9c5-ef05-1ff3-a6fe-052f48a9b471
* Version Independent ID: f6d3e8e8-37c5-43e6-6185-58f8511dee7e
* Content: [Hybrid security monitoring with Sentinel - Azure Architecture Center](https:/

[2022-03-14 20:22] MarileeTurscak-MSFT commented on #3346
@DevSecNinja
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-15 08:54] DevSecNinja commented on #3346
Thank you @MarileeTurscak-MSFT! Feel free to reach out to me on Teams @EdPrice-MSFT, I have made some changes that might be useful.

[2022-03-16 18:43] matt-richardson opened #3348 "Azure ServiceBus client SDKs are out of date"
In the "Service Bus" section, under "Retry mechanism", it mentions to use the `Microsoft.Azure.ServiceBus` libary, as it is the "Azure Service Bus client library for .NET Standard".

That package is [listed](https://www.nuget.org/packages/Microsoft.Azure.ServiceBus) as deprecated now:

It's not clear where to find the retry policy implementations in the new world.

---
#### Document Details

⚠ *Do

[2022-03-16 21:55] MS-Santi opened #3349 "Graphic icon is mislabeled"
The SVG, the screen in step 5 stays "Admin Access" and should be "User Access"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f6e327d-b280-a35c-2588-87a19ac2a4ba
* Version Independent ID: fa9b0713-771f-4792-979a-2f7a4f4445a2
* Content: [Microservices with AKS and Azure DevOps - Azure Solution Ideas](https://docs.micro

[2022-03-17 06:59] MayankBargali-MSFT commented on #3348
@matt-richardson Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-03-17 10:12] CHEEKATLAPRADEEP-MSFT commented on #3349
@MS-Santi  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-03-17 12:33] tamusjroyce opened #3350 "Feedback about event storms"
[Enter feedback here]
There is no mention of event storms?

or too hitting this with too many times, such as in a loop can clog up the event store?

Or sending too many event based on receiving an event can clog up the event store?

or cause recursion-like behaviors when reacting and sending events?

Also, determining eventual consistency before using the data is eventual-consistency locking. Very

[2022-03-18 00:59] mike-urnun-msft commented on #3350
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-03-21 15:18] ezYakaEagle442 opened #3352 "JBoss EAP on Azure Doc unclear"
The [Architecture](https://docs.microsoft.com/en-us/azure/architecture/solution-ideas/articles/jboss-deployment-red-hat#architecture) shows JBoss EAP on ARO whereas all the docs shows [JBoss EAP on App Service](https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/redhat/jboss-eap-marketplace-image) through the azure [market place](https://azuremarketplace.microsoft.com/en-US/marketpla

[2022-03-21 23:20] mike-urnun-msft commented on #3352
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-03-22 08:09] dantezhu opened #3354 "Page not translated to chinese"
Hi, page not translated to chinese

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: a6710f29-66f3-f73c-6a90-6025ce6a5bd3
* Version Independent ID: a6710f29-66f3-f73c-6a90-6025ce6a5bd3
* Content: [Noisy Neighbor antipattern - Azure Architecture Center](https://docs.microsoft.com/zh-cn/azure/architecture/antipatterns/noisy-neighbor/noisy-neighbor)
* Content Source: [doc

[2022-03-22 08:32] ezYakaEagle442 commented on #3352
my bad, JBoss EAP is [available](https://docs.microsoft.com/en-us/azure/app-service/configure-language-java?pivots=platform-linux) in App Service only with Premium v3 & Isolated v2 App Service [Plan](https://docs.microsoft.com/en-us/azure/app-service/overview-hosting-plans) types
Verified with az webapp list-runtimes --linux | grep -i "JBOSSEAP" :
[
  "JBOSSEAP|7-java8",
  "JBOSSEAP|7.3-java8",

[2022-03-22 17:10] jenellean opened #3355 "Where is the Visio stencil for these Icons?"
Arrived at this location from an MSFT MVP external page. Looking for official/recommended icons for Azure networking to use to develop internal facing documentation for Azure network management services/products.  SVG is not compatible with Visio, but both Azure and Visio are MSFT products.

Here's one site that references MSFT download location. https://build5nines.com/microsoft-azure-icon-set-do

[2022-03-22 17:13] jenellean opened #3356 "Need reference to Visio Shapes download for Azure"
Looking for the Visio shapes download for this content.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6624d44c-f9f6-02f8-2c67-0f0637fed62e
* Version Independent ID: 9346a8ff-bab5-be2c-9dc1-d546fda1efa9
* Content: [Azure icons - Azure Architecture Center](https://docs.microsoft.com/en-us/azure/architecture/icons/)
* Co

[2022-03-22 18:38] mike-urnun-msft commented on #3356
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-03-22 19:30] johndowns commented on #3354
@EdPrice-MSFT Are you able to confirm whether this page should be localized, please? It looks like other pages in the antipatterns section, and other pages we've authored for multitenancy, have been localized. The noisy neighbor page hasn't been localized into any language I can see.

[2022-03-22 22:59] abhijit-z opened #3357 "Error regarding blob name"
[I want to read a csv file located in the blob storage. However, I am getting error that specified blob does not exist. I am confused what should be the blob name. I gave LOCALFILENAME as my csv file name seen in the blob container]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 647ed505-3e6e-3db7-63ee-025edf6e63f4
* V

[2022-03-23 03:35] dennisfinning opened #3358 "Azure Analysis services and PowerBI at the same time?"
I don't think Microsoft recommends anymore to use Azure Analysis services together with PowerBI. It seems that PowerBI Premium is nowadays a full superset of Azure Analysis services and probably should be used instead of Azure Analysis services for most enterprise-sized projects. At least that's what I have heard from my Microsoft representatives. Can you clarify that direction on this page?

---

[2022-03-23 11:08] MayankBargali-MSFT commented on #3357
@abhijit-z Thanks for reaching out. Please make sure that your CSV file exists and you are specifying the right value for STORAGEACCOUNTURL, CONTAINERNAME, BLOBNAME. If the blob file doesn't exist then you will get the error "_specified blob does not exist_"

[2022-03-23 11:39] siva-sankaran opened #3359 "Why Data Lake Service Client can't be set Retry Options ? What is the alternative to do that ?"
I cant find any details about retry mechanism for Data Lake Service Client in this documentation.  I want to know  about alternative of doing retry

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8194899c-dee2-70ac-422a-edc06e779f7c
* Version Independent ID: cafc7418-404c-5908-3037-dba7f452087b
* Content: [Azure service

[2022-03-23 16:56] Mansoormahfoud opened #3360 "Feature comparison of stream analytics"
[Enter feedback here]
What about other features to look at when choosing a stream analytics technology, such as:
1- The data flow {bounded, unbounded) that the stream analytics can process
2- Stateful vs stateless
3- Does the stream analytics support a "reference" data, what technology in that case (SQL, blob, etc.)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2022-03-23 20:47] GiftA-MSFT commented on #3359
@siva-sankaran we'll review your feedback and get back to you shortly. Thanks!

[2022-03-24 05:13] MayankBargali-MSFT commented on #3360
@Mansoormahfoud Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-03-24 17:15] diberry opened #3361 "Durable functions/Logic apps/Power Platform"
This page doesn't seem to represent Azure Durable Functions: can it add the following concepts?

- serverless durable functions provide event orchestration
- serverless durable functions provide required state that can live forever but only runs at cost of consumption
- serverless durable functions provide highly requested orchestration patterns

Logic apps and power platform are missing - while n

[2022-03-24 21:35] ckittel commented on #3354
Interesting, yeah looks like `de-de` for example still shows en-us, while the `zh-cn` seems to now be translated.  @EdPrice-MSFT who is currently our point of contact on the localization team that we could ping?  Maybe it's still @SunnyDeng.

I've opened a ticket internally (CEINTL #578202)

[2022-03-25 00:55] mike-urnun-msft commented on #3361
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-03-25 09:00] AkioNuernberger opened #3362 "Link broken"
Link to Azure Media Services Streaming Endpoints leads to a 404 page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd6efdd9-5b74-3186-a8f9-ac482f1215f2
* Version Independent ID: e262bd4f-11f1-ab1c-ffb1-61361287464c
* Content: [Video-on-demand digital media - Azure Solution Ideas](https://docs.microsoft.com/en-us/azure

[2022-03-25 12:16] MayankBargali-MSFT commented on #3357
@abhijit-z Blobname should be the CSV file name on your storage account. In the below image the container name is 'test' and the blob name is test.csv
![image](https://user-images.githubusercontent.com/67255909/160119013-6069b2e0-79cd-464f-bc70-a90a0d55b196.png)

[2022-03-26 02:28] banan314 opened #3364 "Remove unneeded minus sign"
Minus `-` isn't needed in `-Compensation`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8e6978f-1eb7-78ca-d785-441aef93cb38
* Version Independent ID: ade4b845-ce0d-f1e3-d1d0-b531318d9857
* Content: [Compensating Transaction pattern - Azure Architecture Center](https://docs.microsoft.com/en-us/azure/architecture/patte

[2022-03-26 11:22] khaliddermoumi opened #3365 "Logical flaw in "lift & shift" path"
There is a logical flaw in the "lift & shift" path of the "Choose a candidate service" flowchart.
In the path following "lift & shift", there is a decision "can it be containaerized?". If you follow the "No" path, it leads to a decision "COTS app that can't be containerized?". This is the flaw: it is already decided at this point, that the app can't be containerized. So the decision that is left i

[2022-03-26 15:47] MayankBargali-MSFT commented on #3364
@banan314 Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2022-03-26 15:50] GiftA-MSFT commented on #3365
@khaliddermoumi we'll review your feedback and get back to you shortly. Thanks.

[2022-03-26 15:55] #3364 closed

[2022-03-27 10:14] joaozorro opened #3367 "Line of business extension - Dataverse Update"
This is a very common and useful pattern and should be released as not just an idea but the recommendation would be to use Azure Synapse Link for Dataverse (https://docs.microsoft.com/en-us/powerapps/maker/data-platform/export-to-data-lake) . CDS also needs to be replaced by Dataverse

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2022-03-27 15:41] SwathiDhanwada-MSFT commented on #3367
@joaozorro Thanks for your comment. We will review the issue and get back to you shortly.

[2022-03-28 09:22] MayankBargali-MSFT commented on #3357
@abhijit-z Hope the above helps and clears things up. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-03-28 09:22] #3357 closed

[2022-03-28 13:34] ckittel commented on #3354
The rest of the translations have been verified to be in the localization queue and are expected to be back around 1-Apr.  Translation isn't done uniformally across all languages, and sometimes it can take a few weeks.  The loc team said there was nothing blocking, so I'll close out this issue as it will resolve itself like other articles also going through translation.

[2022-03-28 13:34] #3354 closed

[2022-03-29 10:32] ezYakaEagle442 opened #3368 "Anthos Service Mesh should be mapped to OSM not Service Fabric Mesh"
at [https://docs.microsoft.com/en-us/azure/architecture/gcp-professional/services#containers-and-container-orchestrators](https://docs.microsoft.com/en-us/azure/architecture/gcp-professional/services#containers-and-container-orchestrators)

Anthos Service Mesh should be mapped to [Open Service Mesh](https://openservicemesh.io) (OSM) NOT Service Fabric Mesh

---
#### Document Details

⚠ *Do not edi

[2022-03-29 16:06] Ranu311 opened #3370 "Future Talent Ready"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f815c98d-c54b-a6cb-b77b-27c9fa99b3a3
* Version Independent ID: f78699f2-a847-f5cc-54bb-2730faf0b755
* Content: [Build solutions with availability zones - Azure Architecture Center](https://docs.microsoft.com/en-us/azure/architecture/high-availability/

[2022-03-30 11:45] rvunen opened #3371 "Visio file not up to date with current schema"
[Enter feedback here]
Hi
The current schema is not taken into account in the referred Visio file. in fact the represented schema has nothing to do with what I found in the Visio file.

Next to it: the schema is very small and it is not possible to make it larger. Normally it is possible to click on a schema and then you get it full screen but here that is not implemented. Schema is hard to read at

[2022-03-31 00:20] mike-urnun-msft commented on #3362
Hello @AkioNuernberger - Link appears to be working fine.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-03-31 00:20] #3362 closed

[2022-03-31 02:03] djcolonico opened #3374 "Reccomendation on how to update a specific entity when the request is not idempotent"
[Enter feedback here]
Hi,

I'm looking at the table from [Define API operations in terms of HTTP methods](https://docs.microsoft.com/en-us/azure/architecture/best-practices/api-design#define-api-operations-in-terms-of-http-methods):
![image](https://user-images.githubusercontent.com/1730162/160959797-48c99c37-8c29-44af-aacb-8737f96c5dda.png)

The example suggests using `PUT /customers/1` to update

[2022-03-31 03:38] MayankBargali-MSFT commented on #3374
@djcolonico Thanks for the feedback! I have assigned the issue to the content author to investigate further and update as appropriate.

[2022-03-31 06:41] djcolonico commented on #3374
Thank you : )

[2022-04-04 06:18] fnicollier opened #3375 "Time Series Insight being deprecated"
Time Series Insight is mentioned as an alternative for Time Series but it is deprecated with an EOL scheduled for 2025.
Perhaps the documentation should mention this?

Cheers

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87bde15d-d343-b84d-b77f-55b8e3f12638
* Version Independent ID: 9d35a3eb-707b-47f6-68bc-3f22fee4c78

[2022-04-04 07:31] MayankBargali-MSFT commented on #3375
@EdPrice-MSFT Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-04-04 12:13] MayankBargali-MSFT commented on #3370
@Ranu311 As there was no response. We will go ahead and close this issue.

[2022-04-04 12:13] #3370 closed

[2022-04-04 12:18] Ranu311 commented on #3370
Please do not closed this.. Actually, I have completed all still showing in
progress pls help me in this

On Mon, 4 Apr, 2022, 5:44 pm MayankBargali-MSFT, ***@***.***>
wrote:

[2022-04-04 13:38] DeanGross opened #3376 "What about Security - Defender for IoT"
Please add some information about how Defender for IoT fits into this architecture.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f93ef5e9-3116-e5fc-c085-1ddfdd431b45
* Version Independent ID: f93ef5e9-3116-e5fc-c085-1ddfdd431b45
* Content: [Architectural approaches for IoT in a multitenant solution - Azure Architectur

[2022-04-04 22:22] JonathanForrester opened #3377 "Defender Surface Attack Surface Reduction (ASR) rules and FSLogix"
Issue 2915 (https://github.com/MicrosoftDocs/architecture-center/issues/2915) no longer appears to be fixed.

One of my customers is still having this problem in a recently provisioned environment. They are using FSLogix 2.9.797962170 and Windows 10 Enterprise for Virtual Desktops 21H2 with the 2022-02 Cumulative Update installed (build 19044.1566).

When ASR rule 3b576869-a4ec-4529-8536-b80a7769e

[2022-04-04 23:48] KranthiPakala-MSFT commented on #3376
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-04-04 23:54] KranthiPakala-MSFT commented on #3377
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-04-04 23:55] KranthiPakala-MSFT commented on #3377
Hi @MayankBargali-MSFT Could you please reveiw the reference  issue and loop in relevant team to further assist on this feedback. Thanks

[2022-04-05 03:31] MayankBargali-MSFT commented on #3377
@christiaanbrinkhoff @jonwbstr Can you review this and loop in the right team to assist on this further.

[2022-04-05 08:57] SaiChakravarthymorla opened #3378 "Azure"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f815c98d-c54b-a6cb-b77b-27c9fa99b3a3
* Version Independent ID: f78699f2-a847-f5cc-54bb-2730faf0b755
* Content: [Build solutions with availability zones - Azure Architecture Center](https://docs.microsoft.com/en-us/azure/architecture/high-availability/

[2022-04-05 11:08] MayankBargali-MSFT commented on #3378
@SaiChakravarthymorla Thanks for reaching out. Can you please share more details in case if you have observed any document issue? Please confirm if this is not the case and it is created by mistake.

[2022-04-05 14:10] MayankBargali-MSFT commented on #3377
@jonwbstr My bad. Misstaged you due to the comment [here ](https://github.com/MicrosoftDocs/architecture-center/issues/2915#issuecomment-876730440) where the issue was closed previously 🙂. Didn't see that you have opened the issue initially.

@christiaanbrinkhoff to review this and loop in the right team to assist on this further.

[2022-04-06 03:08] th5 opened #3380 "Good job on the the AWS vs Azure storage page"
Great job. I'm sold.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5500b1c4-f652-9424-ef6c-90bc5db04a90
* Version Independent ID: 83ed8709-d912-ede8-d115-82a49a274ac1
* Content: [Compare AWS and Azure storage services - Azure Architecture Center](https://docs.microsoft.com/en-us/azure/architecture/aws-professional/sto

[2022-04-06 07:58] MayankBargali-MSFT commented on #3380
@th5 Thanks for your reaching out. Appreciates your feedback and we are glad to hear that you loved the Compare storage on Azure and AWS document. We will go ahead and close this issue.
cc : @EdPrice-MSFT

[2022-04-06 07:58] #3380 closed

[2022-04-06 21:44] akanso opened #3382 "Typo: pared --> paired"
[Enter feedback here]

For more information on pared regions, see [Azure Paired Regions](https://docs.microsoft.com/en-us/azure/best-practices-availability-paired-regions).

pared --> paired
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af2806b1-1264-2775-4cce-083303e75b49
* Version Independent ID: 68218fb5-2335-183a-8

[2022-04-07 03:33] MayankBargali-MSFT commented on #3382
@akanso Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2022-04-07 03:35] #3382 closed

[2022-04-08 04:05] rizzl1 opened #3383 "Azure Typical Data Lake Architecture"
Hopefully, Azure Support Team can advise what would the full Azure Data Lake architecture look like in the future. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60cbefa1-b1c1-0edc-cdf7-4cae8a8ca2f5
* Version Independent ID: c6850420-2cc7-d17a-6adb-b4e69399efd7
* Content: [Data lakes - Azure Architecture Center

[2022-04-08 04:07] MayankBargali-MSFT commented on #3383
@rizzl1Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-04-08 16:29] ColeDeanShepherd opened #3384 ""Bulkhead pattern" describes "Cache-Aside" pattern"
The ["Bulkhead" pattern page](https://docs.microsoft.com/en-us/azure/architecture/patterns/bulkhead) is currently a duplicate of the ["Cache-Aside" pattern page](https://docs.microsoft.com/en-us/azure/architecture/patterns/cache-aside).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4699b7a-fc21-817e-5a37-aa17b55f47a2

[2022-04-08 19:29] KranthiPakala-MSFT commented on #3384
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-04-08 20:01] bwya77 commented on #2801
Any update on this? I see it's not included in the documentation anymore but I do not see the commit for it

[2022-04-08 20:17] Mike-Crowley commented on #2801
The sentence was removed by @jasonfritts  14 days ago:

https://github.com/MicrosoftDocs/architecture-center/commit/3d03390ca2cc08e6dc32086287e869d89aca962b

Jason, can you please elaborate on this change?

[2022-04-08 20:49] jasonfritts commented on #2801
@Mike-Crowley
We confirmed with our Windows Active Directory SME teams that there are no issues with hosting FSMO master roles in Azure if the virtual machines themselves are properly managed.  The only recommendation that will remain in the docs that you should be aware of is the [Manageability considerations section](https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/ide

[2022-04-08 20:54] Mike-Crowley commented on #2801
Thanks. Somewhere I thought I read Azure did something that might stress the RID pool, but maybe I'm misremembering.

[2022-04-11 03:08] MayankBargali-MSFT commented on #3378
@SaiChakravarthymorla As there was no response. We will go ahead and close this issue.

[2022-04-11 03:08] #3378 closed

[2022-04-11 10:40] JacobGade opened #3387 "Bulkhead pattern contains the content of the Cache-aside pattern"
When searching google for Bulkhead pattern this is the first hit, and it doesn't even describe the Bulkhead pattern. It looks like the page has the same contents as the Cache-Aside pattern instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4699b7a-fc21-817e-5a37-aa17b55f47a2
* Version Independent ID: 23efcd5d-11a

[2022-04-11 17:36] v-aangie commented on #2891
Sent email to Grace to reassign.

[2022-04-11 17:38] v-aangie commented on #3204
Sent email to Mayank to reassign.

[2022-04-11 17:40] v-aangie commented on #2834
Sent Mayank an email to reassign.

[2022-04-12 03:06] sriach2 opened #3388 "Wrong content is shown (Cache-Aside is shown for BulkHead)"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4699b7a-fc21-817e-5a37-aa17b55f47a2
* Version Independent ID: 23efcd5d-11a5-c46f-a73e-5cc638591bcd
* Content: [Bulkhead pattern - Azure Architecture Center](https://docs.microsoft.com/en-us/azure/architecture/patterns/bulkhead)
* Content Source: [doc

[2022-04-12 12:03] MayankBargali-MSFT commented on #3388
@sriach2 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-04-12 14:01] Pachehra opened #3389 "Request to add more content"
Hi Team,

Please add potential use cases, alternative services, implementation considerations, or pricing guidance.
Thanks!!
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14acf440-88ed-186c-a3ab-5309bf7e363c
* Version Independent ID: d32e5eb7-5011-dc40-e978-c6bc9f6363a5
* Content: [DevTest and DevOps for microservice s

[2022-04-12 17:39] Grace-MacJones-MSFT commented on #3389
thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update as appropriate

[2022-04-12 19:47] mrwalters1988 opened #3390 "Adding my LinkedIn Profile"
LinkedIn Profile is missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab8ee6db-5605-16ea-ff3e-c710d11e521c
* Version Independent ID: ab8ee6db-5605-16ea-ff3e-c710d11e521c
* Content: [Troubleshoot network problems in AKS clusters - Azure Architecture Center](https://docs.microsoft.com/en-us/azure/architecture/opera

[2022-04-12 19:54] mrwalters1988 commented on #3390
https://github.com/MicrosoftDocs/architecture-center/pull/3391

[2022-04-12 20:03] mike-urnun-msft commented on #3390
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-04-12 20:30] ckittel commented on #3390
Closing, addressed in #3391 as @mrwalters1988 indicated.

[2022-04-12 20:30] #3390 closed

[2022-04-12 20:31] ckittel commented on #3389
FYI @mosabami

[2022-04-12 20:41] ckittel commented on #3387
Thanks @JacobGade for catching this.  We did a content migration and ended up making a mistake on this article during that process.  I've just opened a PR to fix this issue and it should be live in about 24 hours.  I did a quick pass over the other cloud design patterns, and didn't spot any others -- but if you find another, just let us know!

[2022-04-12 20:53] ckittel commented on #3384
Thank you for catching this, closing as a duplicate of #3387 -- see that issue for remediation being taken.

[2022-04-12 20:53] #3384 closed

[2022-04-12 20:54] ckittel commented on #3388
Thank you for catching this, closing as a duplicate of #3387 -- see that issue for remediation being taken.

[2022-04-12 20:54] #3388 closed

[2022-04-12 21:04] #3387 closed

[2022-04-12 21:12] ckittel commented on #3368
Agreed.  OSM is the closest match we have at this point, and even that isn't really that great a mapping since OSM is k8s-cluster-scoped specific where as Anthos is more broadly scoped.  Service Fabric Mesh is not the right mapping for sure.

[2022-04-12 21:15] ckittel commented on #3326
FYI @mosabami & @jamcneil

[2022-04-12 22:31] xenoverse-us opened #3392 "Bulkhead page has the wrong content"
Bulkhead page has the cache-aside content, which is incorrect.

https://github.com/MicrosoftDocs/architecture-center/blob/fd92e626ad1a023f2ff723875c5eddedadb4a6bc/docs/patterns/bulkhead.yml#L20

[2022-04-13 05:30] MayankBargali-MSFT commented on #3392
@xenoverse-us Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-04-13 09:53] KamilZet opened #3394 "Image bad quality"
Images are presented with low resolution.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78da4041-7d2e-b142-6071-19890dd75164
* Version Independent ID: 2ec7cc06-bec2-9c91-143b-f2cbde86b925
* Content: [DataOps for the modern data warehouse - Azure Architecture Center](https://docs.microsoft.com/en-us/azure/architecture/

[2022-04-13 14:39] #3392 closed

[2022-04-17 03:03] endintiers opened #3396 "Solution section is internally inconsistent and mismatches the major use-case"
In the "Solution" section of this page the **Diagram/Image** indicates:
1) Request => 202 Accepted (with location header set to status URL)
2) Status Query (in progress) => 200 OK      **_<== this is what is most obviously wrong_**
3) Status Query (completed) => 302 Found (with redirect to completed resource)

Meanwhile the **Text** underneath indicates:
1) Request => 202 Accepted (with location h

[2022-04-17 07:20] Grace-MacJones-MSFT commented on #3396
Hi @endintiers , thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update as appropriate

[2022-04-18 21:49] rido-min opened #3397 "Article recommends TSI, although it is in a deprecation path"
This article points to TSI, although the service has been declared as deprecated and will be out of support in 2025.

I was expecting this article to be updated to the latest guidance (ADX instead of TSI I guess)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad7a9a9b-3d4a-79fb-66fa-dd28361a77db
* Version Independent I

[2022-04-18 23:53] mike-urnun-msft commented on #3397
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-04-21 09:21] sintetico82 commented on #3171
Good morning,

Any update on this?

[2022-04-26 23:38] tchristiani opened #3401 "Minor typo in detailed description of diagram"
https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/data/profisee-master-data-management-purview#architecture
In the diagram there are 7 steps. In the description there are 8 steps. #7 in the diagram corresponds to the description noted as #8.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ae05

[2022-04-27 05:12] MayankBargali-MSFT commented on #3401
@tchristiani Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-04-28 20:58] isdataninja opened #3405 "Azure Purview is now Microsoft Purview"
Azure Purview is now Microsoft Purview, please change accordingly

https://docs.microsoft.com/en-us/azure/architecture/solution-ideas/articles/azure-databricks-modern-analytics-architecture

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7254782d-e773-b542-73e8-f568d3bbee39
* Version Independent ID: 40d81223-f8ea-2eec-6

[2022-04-29 20:03] EdPrice-MSFT commented on #3401
Got it resolved. See private PR: https://github.com/MicrosoftDocs/architecture-center-pr/pull/6032

[2022-04-29 20:03] #3401 closed

[2022-04-29 20:09] EdPrice-MSFT commented on #3405
Got it.

Internal PR: https://github.com/MicrosoftDocs/architecture-center-pr/pull/6033

Thanks!

[2022-04-29 20:09] #3405 closed

[2022-04-29 20:22] EdPrice-MSFT commented on #3352
Any changes to this article then?

[2022-04-29 20:25] EdPrice-MSFT commented on #3349
Logging it for an update. Thanks!

[2022-04-29 20:32] #3287 closed

[2022-04-29 20:36] EdPrice-MSFT commented on #3394
@KamilZet - do you mean the diagrams? We can add the zoom lens to them.

Thanks!

[2022-04-29 20:47] EdPrice-MSFT commented on #3394
Fixing with this internal PR: https://github.com/MicrosoftDocs/architecture-center-pr/pull/6036

[2022-04-29 20:47] #3394 closed

[2022-04-29 20:52] EdPrice-MSFT commented on #3383
Check out some of our Data Lake architectures: https://docs.microsoft.com/en-us/azure/architecture/browse/?terms=data%20lake

I'm adding related resources to the article.

Internal PR: https://github.com/MicrosoftDocs/architecture-center-pr/pull/6037

[2022-04-29 20:52] #3383 closed

[2022-04-29 20:56] EdPrice-MSFT commented on #3371
We logged this one. Thanks!

[2022-04-29 21:01] EdPrice-MSFT commented on #3356
@jenellean - Can you check out http://aka.ms/AzureDiagrams and let us know what you think?

Thanks!

[2022-04-29 21:02] EdPrice-MSFT commented on #3355
@jenellean - Can you check out http://aka.ms/AzureDiagrams for this one as well, and let us know what you think?

Thanks!

[2022-04-29 21:03] EdPrice-MSFT commented on #3348
@ckittel - FYI

[2022-04-29 21:05] ckittel commented on #3348
@hallihan - something for the maint backlog.

[2022-04-29 21:06] EdPrice-MSFT commented on #3346
Looks like the image is updated now. Please review. Thanks!

[2022-04-29 21:06] #3346 closed

[2022-05-02 10:36] Nosferatu-Dk opened #3407 "Missing installation instructions mentioned at download sites"
[Its stated go to this site for install instructions.
Install Instructions
Go to https://docs.microsoft.com/en-us/azure/architecture/icons/ and follow the instructions there.
But it appears there is none :)
https://www.microsoft.com/en-us/download/details.aspx?id=41937]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66

[2022-05-02 13:15] xstof opened #3408 "High availability enterprise deployment using App Services Environment needs updating"
The article "High availability enterprise deployment using App Services Environment" needs updating:
- ASE v3 supports zone-redundant deployments, no need for separate deployments
- Redis supports private endpoints, no need for svc endpoints
- Redis is also zone redundant, no need for separate deployments

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2022-05-02 13:23] damian-krawczyk opened #3409 "Security - Microsoft Defenders - update icons name"
Hi,
Can you update below icons according to new naming convention?

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6624d44c-f9f6-02f8-2c67-0f0637fed62e
* Version Independent ID: 9346a8ff-bab5-be2c-9dc1-d546fda1efa9
* Content: [Azure icons - Azure Architecture Center](https://docs.microsoft.com/en-us/azure/archit

[2022-05-02 15:50] abeletkeman opened #3410 "Visio files do not match images"
Hi.  The Visio files from the download links do not match the diagrams shown.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9961de25-4a65-ef77-079e-cf0359ec5857
* Version Independent ID: 7b9bb7e7-ef88-a37f-5ca0-5f8a07f0f9d6
* Content: [Run SAP NetWeaver in Windows on Azure - Azure Architecture Center](https://docs.mic

[2022-05-02 16:08] mike-urnun-msft commented on #3407
Thank you for your feedback! We will review and update as appropriate.

[2022-05-02 16:18] mike-urnun-msft commented on #3408
Thank you for your feedback! We will review and update as appropriate.

[2022-05-02 16:19] mike-urnun-msft commented on #3409
Thank you for your feedback! We will review and update as appropriate.

[2022-05-02 16:20] mike-urnun-msft commented on #3410
Thank you for your feedback! We will review and update as appropriate.

[2022-05-03 12:15] ezYakaEagle442 commented on #3352
@EdPrice-MSFT , yes the doc should be updated, the architecture diagram is not consistent with the text including the components section

[2022-05-03 13:57] LeakeyMaina opened #3411 "Can we please add Terrform code to create the different Architecture infrastructure on Azure"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f6e327d-b280-a35c-2588-87a19ac2a4ba
* Version Independent ID: fa9b0713-771f-4792-979a-2f7a4f4445a2
* Content: [Microservices with AKS and Azure DevOps - Azure Solution Ideas](https://docs.microsoft.com/en-us/azure/architecture/solution-ideas/articles

[2022-05-03 17:35] mike-urnun-msft commented on #3411
Thank you for your feedback! We will review and update as appropriate.

[2022-05-04 10:17] AlexCesarini opened #3412 "Update Prerequisite information"
I believe the Prerequisite information about "Only personal host pools are currently supported." and "Azure Files currently doesn't support Azure AD as a Kerberos realm, only Active Directory" are not accurate anymore, in fact there are other articles that says otherwhise like
https://docs.microsoft.com/en-us/azure/virtual-desktop/deploy-azure-ad-joined-vm#known-limitations
https://techcommunity.m

[2022-05-04 20:19] SatishBoddu-MSFT commented on #3412
@AlexCesarini
I have assigned the issue to the content author for further review.

[2022-05-04 21:25] maxplyassunov opened #3413 "HDInsight with Solr is this still relevant?"
When creating HDInsight cluster it doesn't have Solr option. Should this option be removed from the doc or i'm missing something from my end? Thank you!

<img width="583" alt="Screen Shot 2022-05-04 at 2 23 27 PM" src="https://user-images.githubusercontent.com/35612115/166828383-cc8d1120-c900-4add-8c03-8bda0302eb92.png">

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2022-05-05 03:54] MayankBargali-MSFT commented on #3413
@maxplyassunov Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-05 11:52] frnk01 opened #3414 "Updated Azure icon pack"
It's been over a year since the last update to the icon pack. Can you update it will all of the latest services?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6624d44c-f9f6-02f8-2c67-0f0637fed62e
* Version Independent ID: 9346a8ff-bab5-be2c-9dc1-d546fda1efa9
* Content: [Azure icons - Azure Architecture Center](https:/

[2022-05-05 13:01] hallihan commented on #3348
Tracked internally in: https://dev.azure.com/ceapex/pnp/_workitems/edit/603045

[2022-05-05 16:13] EdPrice-MSFT commented on #3259
We've got this logged. Thank you!

[2022-05-06 03:15] SatishBoddu-MSFT commented on #3414
@frnk01
I have assigned the issue to the content author for further review.

[2022-05-06 14:57] navix-kziegler opened #3415 "Pricing Links appear to be wrong"
With the Medium and Large pricing links  - the price estimator for 500,000 and 50,000,000 images - puts those values in the S1 tier, but the estimator shows the price per 1,000 transactions, therefore I believe the pricing should dividing both the Medium and Large tier transactions by 1,000 - unless I'm not understanding.

The small pricing tier does appear to show the correct values.

---
#### Do

[2022-05-06 23:28] mike-urnun-msft commented on #3415
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-05-06 23:58] navix-kziegler commented on #3415
I really appreciate your approach to managing documentation ! Thanks!
________________________________
From: Mike Urnun ***@***.***>
Sent: Friday, May 6, 2022 6:28:47 PM
To: MicrosoftDocs/architecture-center ***@***.***>
Cc: Kevin Ziegler ***@***.***>; Author ***@***.***>
Subject: Re: [MicrosoftDocs/architecture-center] Pricing Links appear to be wrong (Issue #3415)

Thank you for your feedback! W

[2022-05-07 17:16] pioardi opened #3418 "Non internet facing applications"
Is still true that front door is only for internet facing applications ? I mean now ( based on my understanding, will try this out ) with Azure Front Door Premium is possible to reach app services and ILBs.
Is also possible to restrict Azure Front Door access to internal network ?
If yes , should Front Door Premium be added to the  decision tree or at least as a note in this documentation ?

Thank

[2022-05-08 01:24] MartinJaffer-MSFT commented on #3418
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2022-05-09 10:22] gjoshevski opened #3420 "Missing: Azure Container Apps as a compute platform"
The flowchart needs to be updated with Azure Container Apps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 510808e8-db5d-6b07-9a04-6edb743a2dfc
* Version Independent ID: 20d098aa-ef31-cb26-d677-765cfc9a7164
* Content: [Choose an Azure compute service - Azure Architecture Center](https://docs.microsoft.com/en-us/azure/

[2022-05-09 13:08] tfredjr opened #3421 "Analytical Data Store Security Table Updated?"
The comparison table under security says ADX doesn't support RLS. Maybe time to update with a caveat/footnote?

https://docs.microsoft.com/en-us/azure/data-explorer/kusto/management/rowlevelsecuritypolicy?msclkid=86ebd3ffcf9811ecafb4589114cd3501

I didn't review the other tables on the page or entries in the security--just noticed that one.

---
#### Document Details

⚠ *Do not edit this section.

[2022-05-09 21:51] MarkMcDonald opened #3422 "More information on tiering and pricing required."
What would be really useful is to expand on tiers and provide information or links to pricing of the package as a whole.

At the moment a small business looking to understand a basic CMS website hosting is affordable, say £50 per month, this would leave them with no idea if this is the case.

It would be good to offer guidance based business size and budget for example. So a small local business o

[2022-05-09 22:25] mike-urnun-msft commented on #3420
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-05-09 22:26] mike-urnun-msft commented on #3421
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-05-09 22:27] mike-urnun-msft commented on #3422
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-05-10 14:21] gerrit68 opened #3423 "Visio link not to picture shown"
The Visio link is not for the architecture shown

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b605d93-ab34-f8f0-2c64-d38fc5b0ab51
* Version Independent ID: 6e418fbb-e9f8-fa03-ef0e-ab6940ab62ce
* Content: [Create an AD DS resource forest - Azure Reference Architectures](https://docs.microsoft.com/en-us/azure/architec

[2022-05-10 15:12] salavala opened #3424 "outdated documentation. Needs to update with the latest services and solutions."
Title Change: This title only helps who wants to learn Azure with AWS background. It should address the customer needs who wants to migrate to Azure. It would be useful to have a page with a title "Migration path and guidelines to migrate to Azure from AWS" to pull more workloads to Azure.

Content Chage:
It really needs to update with the latest services and solutions. Also good to create another

[2022-05-10 15:16] salavala opened #3425 "New Title to server Customer needs to migrate to Azure from AWS"
Title Change: This title only helps who wants to learn Azure with AWS background. We need another page to address the customer needs who wants to migrate to Azure. Most of the content is relevant but better to add tools to migrate and also effort rating to migrate each service would also be helpful.

It would be useful to have a page with a title "Migration path and guidelines to migrate to Azure

[2022-05-10 16:03] mike-urnun-msft commented on #3423
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-05-10 17:15] #3415 closed

[2022-05-10 23:56] jcsimancas opened #3426 "Riesgo crediticio y modelo predeterminado PowerBi"
Hi, I need more information about

https://docs.microsoft.com/es-es/azure/architecture/solution-ideas/articles/loan-credit-risk-analyzer-and-default-modeling

Riesgo crediticio y modelo predeterminado

---
#### Detalles del documento

⚠ *No edite esta sección. Se requiere para docs.microsoft.com ➟ Vinculación de problema de GitHub.*

* ID: ed6476ec-ceb9-cb1a-92dd-5dbe50b729a0
* Version Independent

[2022-05-13 09:40] eusebio-muley opened #3428 "Typo when explaining status endpoint"
Hi team,

I found a typo in the paragraph explaining the status endpoint:

The diagram and further paragraphs state that the status endpoint should return **HTTP 200** and not **HTTP 202**.

Regards,
Eusebio

PD: Excelent article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6fea460c-4fac-723f-8df4-9d0811855a68
* Ver

[2022-05-13 21:45] mike-urnun-msft commented on #3428
Thank you for your feedback! We will review and update as appropriate.

[2022-05-15 07:01] Hareesh061 opened #3429 "My feedback"
[Enter feedback here]

This learing plateform is really good and helpfull for all.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f815c98d-c54b-a6cb-b77b-27c9fa99b3a3
* Version Independent ID: f78699f2-a847-f5cc-54bb-2730faf0b755
* Content: [Build solutions with availability zones - Azure Architecture Center](https://do

[2022-05-15 07:02] Hareesh061 commented on #3429
Its just a feedback ..not an issue..

[2022-05-15 16:10] MughundhanRaveendran-MSFT commented on #3429
@Hareesh061 , Thanks for the feedback

[2022-05-15 16:10] #3429 closed

[2022-05-15 16:22] eavonius opened #3430 "Remove false claim of open and transparent pricing for CluedIn"
Please remove the statement about CluedIn's pricing being open and transparent.

Maybe they changed their website, but they require you to submit a "pricing inquiry".

It's frustrating to research MDM vendors and they all want you to contact sales to even get a clue.

It doesn't help to offer false hope in this article. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is require

[2022-05-15 17:40] Karishma-Tiwari-MSFT commented on #3430
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-16 14:31] Kiley724 opened #3431 "Azure Purview to Microsoft Purview"
[This page does not have the new update brand from "Azure Purview to Microsoft Purview"]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f10895e-4e1d-1cdd-2d57-32880e0cc45a
* Version Independent ID: 3518d0a5-ffd1-dfa7-6d6b-de2a9ef170d6
* Content: [Analytics end-to-end with Azure Synapse - Azure Example Scenarios](https

[2022-05-16 18:23] mike-urnun-msft commented on #3431
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-05-17 12:37] pioardi commented on #3418
A gentle reminder

[2022-05-18 15:30] asukumar22 opened #3434 "There is no step mentioned for Virtual network creation before retrieval of VNET information after the resource group creation step."
There is no step mentioned for Virtual network creation before retrieval of VNET information after the resource group creation step.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d61c0c47-bb1e-5bd4-55ed-92058c3c1e2b
* Version Independent ID: 09757b3e-205b-4263-fada-4d0224048f6f
* Content: [Protect APIs with Azure Appl

[2022-05-18 18:41] BGU035 opened #3435 "How to use network watcher tools efficiently troubleshooting networking issues"
[Enter feedback here]

Would be efficient if we have step by step decision making graph of what network watcher tools to use in sequence to troubleshoot networking issues. for a particular use case lets say starting with connection troubleshooter --> IP flow verify --> NSG Flow verify.  I think it would be very handy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2022-05-18 19:04] JasRobe commented on #3407
Thank you for bringing this to our attention.   In the meantime, please accept the terms, and you will have an ability to download the file.

[2022-05-18 19:04] #3407 closed

[2022-05-19 04:13] DerekHerman-MSFT commented on #3434
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-19 14:49] mike-urnun-msft commented on #3435
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-05-20 21:50] jlkweb12 opened #3438 "Image example is incorrect."
The image on the page is wrong:

https://docs.microsoft.com/en-us/azure/architecture/patterns/_images/async-request.png

It shows 302 when it should be 202.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6fea460c-4fac-723f-8df4-9d0811855a68
* Version Independent ID: 4be364ca-aee7-7b49-13e1-3a94408ed7b9
* Content: [Asyn

[2022-05-21 05:46] DerekHerman-MSFT commented on #3438
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-24 12:59] DeanGross opened #3439 "Old Product Name - Azure ATP"
Azure ATP was renamed to Defender for Identity a long time ago. Please update the text on this page as appropriate.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7590665-2688-5da1-54ff-029be05c6376
* Version Independent ID: b1dfa5fa-537e-cf03-bb2f-4b9d79420169
* Content: [Azure Active Directory IDaaS in security oper

[2022-05-24 13:03] DeanGross opened #3440 "Defender for IoT relationship"
Please add some information about how Defender for IoT should be considered in this context
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 042efcb2-6b9d-6bae-a83b-eea46d017bb4
* Version Independent ID: 0c68c9ab-3df6-cc2b-29af-9d791e5bfe44
* Content: [Azure industrial IoT guidance - Azure Architecture Center](https://doc

[2022-05-24 13:05] DeanGross opened #3441 "Defender for IoT role"
Please add some information about how Defender for IoT should be included in this type of system
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7a08eee-5230-cccd-c3e5-40029a920276
* Version Independent ID: 7c3c1c2b-d1f1-4b40-8b79-2a828195bbbb
* Content: [Azure industrial IoT data analysis - Azure Architecture Center](h

[2022-05-24 13:09] DeanGross opened #3442 "Add Defender for IoT and other security products to the architecture diagram"
Please add security services such as Defender for IoT to the architecture diagram and description. This is needed to help make sure that security is included at the beginning of the project and does not get added on later.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf328b1f-6bc5-dff2-619f-82b95030c3cf
* Version Inde

[2022-05-24 13:12] DeanGross opened #3443 "Sentinel Basic Logs"
Please add some information about how the new Basic Logs in Sentinel should be considered in this type of architecture

https://docs.microsoft.com/en-us/azure/sentinel/basic-logs-use-cases

#### Do.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cce1e234-bf77-9f76-ef22-16df2a86b2dc
* Version Independent ID: cce1e234-bf7

[2022-05-24 13:19] DeanGross opened #3444 "How to choose a TI feed"
Please add some additional guidance about how to determine which TI sources should be used in different scenarios. I'm looking for decision making assistance for different industries, risk profiles, regional locations etc. When should we use more than one, how many is too many, how to avoid duplication, etc are questions that would be good to see addressed in this type of document.
---
#### Docume

[2022-05-24 13:40] DeanGross opened #3445 "Security products are missing"
Please add information about how Defender for IoT and Defender for Cosmos DB should be included in this architecture. Security needs to be considered from the beginning and is missing from many of the architectural discussions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25c5d5cf-09ea-ed8f-11d3-b8c8e8a8c2b9
* Versio

[2022-05-24 13:46] DeanGross opened #3446 "Inconsistent/incomplete messaging and architectural guidance"
The text states that security is important, but many of the architectural discussions in the WAF do not explicitly show how the security apps/services should be integrated. I think that a thorough and comprehensive review needs to be done of every one of the architectural discussions and diagrams to ensure that the appropriate security tool is mentioned.

Don't leave it up the application architec

[2022-05-24 18:29] DeepakAgrawalMS commented on #3443
***@***.*** ***@***.***>

From: Dean ***@***.***>
Sent: Tuesday, May 24, 2022 6:13 AM
To: MicrosoftDocs/architecture-center ***@***.***>
Cc: Deepak Agrawal ***@***.***>; Mention ***@***.***>
Subject: [MicrosoftDocs/architecture-center] Sentinel Basic Logs (Issue #3443)

Please add some information about how the new Basic Logs in Sentinel should be considered in this type of architecture

https://d

[2022-05-25 01:11] mike-urnun-msft commented on #3439
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-05-25 01:11] mike-urnun-msft commented on #3440
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-05-25 01:12] mike-urnun-msft commented on #3441
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-05-25 01:14] mike-urnun-msft commented on #3444
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-05-25 01:14] mike-urnun-msft commented on #3445
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-05-25 01:15] mike-urnun-msft commented on #3446
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-05-25 19:07] KurtSchenk commented on #2742
cross-regional Load Balancer is in preview: https://docs.microsoft.com/en-us/azure/load-balancer/cross-region-overview. Can the documentation be updated to reflect this?

[2022-05-26 03:24] mundayn opened #3449 "Typo in images"
Shows 'Filewall' not 'Firewall' :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 104eba32-c77e-b013-e161-ff616d16a0f7
* Version Independent ID: 3bc27d0a-ef32-f5f6-4c85-fe8e2e45155e
* Content: [Hub-spoke network topology in Azure - Azure Reference Architectures](https://docs.microsoft.com/en-us/azure/architecture/refer

[2022-05-26 14:12] MayankBargali-MSFT commented on #3449
@mundayn Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-27 10:04] pranabpaul-tech opened #3451 "Can we use Araciality Zone instead of Availability Set?"
This article recommends Availability Set and Shared Disk. Can Availability Zone be used in this case?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e5588aa-e002-cb1c-1d94-2e84de67cc6d
* Version Independent ID: f38351df-033e-eaab-aa8a-c56b5da534d4
* Content: [SQL Server 2008 R2 failover cluster in Azure - Azure Exampl

[2022-05-27 13:25] flyinmryan opened #3452 "Potential use cases"
The first sentence under **Potential user cases** says

The second s in uses should be removed.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4cc2d26-95f1-a809-8d21-251fa973b084
* Version Independent ID: d452c096-bbea-6b65-36d1-cd56337493ca
* Content: [Real-time asset tracking and management us

[2022-05-27 22:11] mike-urnun-msft commented on #3451
Thank you for your feedback! We will review and update as appropriate.

[2022-05-28 01:30] mike-urnun-msft commented on #3452
Thank you for your feedback! We will review and update as appropriate.

[2022-05-29 13:59] rorywoods commented on #2960
Any updates on this? I was writing up the same issue. As stated, the ILB is missing while mentioned in the explanatory text and the numbers are off. But also, using an Azure Load Balancer icon labeled as Workload in the image adds to the confusion. Further, the link between the IC and Workload (pods?) is shown with a padlock icon whereas paragraph 4 says this traffic is not encrypted.

[2022-05-29 14:46] ckittel commented on #2960
@WendyRing can you please include this issue in our content dev planned refresh of this article?

[2022-05-30 17:10] isdataninja opened #3454 "missing download visio file link - Big data analytics with enterprise-grade security using Azure Synapse"
missing download visio file link - Big data analytics with enterprise-grade security using Azure Synapse

[2022-05-30 21:52] mohanM5k commented on #1797
@PramodValavala-MSFT
FYI, I am a lerner-beginner.
I am a bit confused about LB. is this an old way of implementation. why are we not using API gateway that has both load balancer and WAF.  If we can use API gateway as an Ingress controller(Application Gateway Ingress Controller (AGIC)), we can expose API gateway right? (internally i can use API management PAAS service to map the different APIs fro

[2022-05-31 01:34] ms-ishiyam opened #3455 "Disable GW Propagation"
"Disable GW Propagation" is not correct. In below document, "Disable GW Propagation of GatewaySubnet" is enable but it is wrong. Could fix the document ?

https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/dmz/nva-ha#load-balancer-design

![image](https://user-images.githubusercontent.com/37136042/171075525-f4738f6d-17a0-4c8e-8443-91b6d7f204e0.png)

https://docs.microsoft.

[2022-05-31 02:56] isdataninja commented on #3454
https://docs.microsoft.com/en-us/azure/architecture/solution-ideas/articles/big-data-analytics-enterprise-grade-security

[2022-05-31 03:11] MayankBargali-MSFT commented on #3455
@ms-ishiyam Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-31 05:29] NihanthB opened #3456 "HONOURED FOR DOING THIS COURSE."
[Enter feedback here]

I'm very thankful for doing this course. This certification will help for my career growth and better placements. The course mainly gives me knowledge of Azure and how it functions.
     Thank you for Sponsoring this course Free.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f815c98d-c54b-a6cb-b7

[2022-05-31 05:30] PramodValavala-MSFT commented on #1797
@mohanM5k Not really. It mostly comes down to choice.

With AGIC, like [their docs](https://docs.microsoft.com/en-us/azure/application-gateway/ingress-controller-overview) mention, it eliminates the need for a load balancer since it handles both load balancing (between K8s nodes) and ingress for your services. So, as long as your all of your clusters are on Azure, AGIC is indeed a great way to go

[2022-05-31 06:12] MayankBargali-MSFT commented on #3456
@NihanthB Thanks for reaching out and providing feedback on Microsoft docs. Glad to know that it has helped you to understand azure services better and will be helping you in the near future.

I will go ahead and close this thread now.

[2022-05-31 06:12] #3456 closed

[2022-05-31 16:13] BryanTrach-MSFT commented on #3454
@isdataninja Thank you for the URL. We have gone ahead and updated your issue.

[2022-05-31 18:06] annagross1 opened #3459 ""Moving data from on-premises to Azure is the backbone of migrating on-premises mainframe and midrange applications. ""
["Moving data from on-premises to Azure is the backbone of migrating on-premises mainframe and midrange applications."   This doesn't make any sense to me.  What do you mean by 'backbone of migrating'? ]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b2740bd-cd04-e1fc-b7ed-7c63ca7c38c3
* Version Independent ID: efaf9a

[2022-05-31 23:37] JamesTran-MSFT commented on #3459
@annagross1
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-03 03:54] brettabaker opened #3460 "Purview with Profisee"
The master data enrichment content (paragraph numbered 5) which aligns to the diagram step 5, indicates that master data enrichment like creating golden master data records can be done in Purview.

At this stage, as far as I am aware, Purview only holds the metadata about the master data and does not hold data records to allow such enrichment.

Perhaps the master data records enrichment should be

[2022-06-03 06:54] MayankBargali-MSFT commented on #3452
@flyinmryan Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2022-06-03 06:54] #3452 closed

[2022-06-04 22:01] banan314 opened #3461 "SSL is obsolete, do not recommend it"
Regarding the sentence

SSL is obsolete and shouldn't be used anymore, see e.g. https://www.ssl2buy.com/wiki/ssl-vs-tls.

SSL shouldn't be recommended for the above reason. Please consider changing the sentence to _The delivery of sensitive data should be secured using TLS, and ..._.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2022-06-04 23:19] x509cert opened #3462 "Need to remove the note about SQL Ledger being preview - it has now shipped"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a71d66e9-8380-2cff-a3c2-0a8ba5931d33
* Version Independent ID: a71d66e9-8380-2cff-a3c2-0a8ba5931d33
* Content: [Choose an Azure multiparty computing service - Azure Architecture Center](https://docs.microsoft.com/en-us/azure/architecture/guide/technol

[2022-06-05 02:37] BryanTrach-MSFT commented on #3461
@banan314 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-06-05 02:49] BryanTrach-MSFT commented on #3462
@x509cert Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-05 09:44] Nishantsingh2023 opened #3463 "feedback"
This is good for learning 👍 as a student i like this a lot.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f815c98d-c54b-a6cb-b77b-27c9fa99b3a3
* Version Independent ID: f78699f2-a847-f5cc-54bb-2730faf0b755
* Content: [Build solutions with availability zones - Azure Architecture Center](https://do

[2022-06-05 15:23] BryanTrach-MSFT commented on #3463
@Nishantsingh2023 Thank you for sharing your feedback regarding @EdPrice-MSFT's document. We love to hear when customers find something helpful. If you have any questions in the future, please reach out by engaging us for doc issues on MicrosoftDocs via GitHub or for product questions, please engage with us via Microsoft Q&A.

Have a great week ahead!

[2022-06-05 15:23] #3463 closed

[2022-06-06 14:47] andresu13 opened #3465 "Replace Time Series Insights with Azure Data Explorer"
Time Series Insights is being retired and we are suggesting ADX as an alternative to our customers now. This diagram should be updated to reflect that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88559925-9b9e-d9b3-ddb6-08306692c17b
* Version Independent ID: a25055cb-7cfe-28a0-1c66-06172c037128
* Content: [Data stor

[2022-06-06 15:02] czterocyty opened #3466 "stream processing - architecture decision - stateful/stateless"
Hi,

I would add also stateful/stateless decision criteria. It would be very useful.

Thanks,
Adam D.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 957618b3-8d25-49c4-950c-0c044d68f443
* Version Independent ID: 2ab67665-066b-fb14-9763-a12693b19bec
* Content: [Choose a stream processing technology - Azure Architecture

[2022-06-06 18:52] SuGabor opened #3467 "A "futtatás" kifejezés szinonimái"
A (https://docs.microsoft.com/hu-hu/azure/architecture/data-guide/big-data/non-relational-data)

Eredeti szöveg:
A külső indexadattárakat gyakran használják teljes szöveges és webes keresés támogatására. Ezekben az esetekben a keresés pontos vagy intelligens lehet. Az intelligens keresés olyan dokumentumokat keres, amelyek megfelelnek egy adott feltételkészletnek, és az egyezés mértékét is kiszámí

[2022-06-06 21:17] #3461 closed

[2022-06-06 21:17] ckittel commented on #3461
For sure, @banan314.  I've just updated this article to remove "SSL or " -- it'll be live in the next 24 hours.  Thank you for your dedication to improving Microsoft documentation!

[2022-06-06 21:23] eyalroth opened #3468 "Contradicting advice on when to use the Choreography pattern"
The page on "Choreography pattern" seems to give contradicting advice on when to or not to use the pattern.

It may be that the intention in this first part is that overall changes (add/remove/update) are frequent, but that the overall number of services remains relatively unchanged.

If that's the intention, perhaps this wording would be less confusing:

---
#### Document Details

⚠ *Do not edit

[2022-06-06 23:36] JamesTran-MSFT commented on #3465
@andresu13
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-06 23:39] JamesTran-MSFT commented on #3466
@czterocyty
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-06 23:59] JamesTran-MSFT commented on #3467
@SuGabor
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-07 03:54] MayankBargali-MSFT commented on #3468
@eyalroth Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-06-07 03:55] sdzhangtao opened #3469 "Power platform custom business process article is confusing and needs expandsion"
https://docs.microsoft.com/en-us/azure/architecture/solution-ideas/articles/custom-business-processes

I am not sure your description matches with the graph.
And in step 4, you probably meant stored instead of processed.
4. Azure Functions runs the Graph API calls, which are processed in Azure Storage
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2022-06-07 03:58] MayankBargali-MSFT commented on #3459
@ashish-khandelwal-ms Can you provide insights on this.

[2022-06-07 09:50] MayankBargali-MSFT commented on #3469
@sdzhangtao Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-06-07 16:29] ashish-khandelwal-ms commented on #3459
Can I get the full page link so that I can review?

[2022-06-08 17:08] MarcoWesterink opened #3473 "Compute decision tree improvement"
Hello,

I think we can have an improvement on the flow chart.
On the left after `Lift and shift` -> `Can it be containerized`, if you choose yes you go immediately to `Need full-fleged orchestration?`.
I think it's still an option to go for App services or Container instances.

Suggestion. If we reverse the order of Azure App Service and Azure functions the yes from `Can it be containerized?` coul

[2022-06-08 20:21] mike-urnun-msft commented on #3473
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-06-09 08:20] gjoshevski commented on #3420
The documentation was updated.

[2022-06-09 17:11] wontonotnow opened #3474 "So, in Visio 2019, there is an azure template listed but it gives blank project when opened. Searching sent me here"
And now I have a .zip of a bunch of svg icons? - guess I'll search next on how to use them!  Typical stuff over here, there's a hole in the bucket? ok here's some pictures of a hole.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6624d44c-f9f6-02f8-2c67-0f0637fed62e
* Version Independent ID: 9346a8ff-bab5-be2c-9dc1-d54

[2022-06-10 15:05] pioardi commented on #3418
A gentle reminder

[2022-06-12 14:57] zaalion opened #3476 "Copywrite question"
[Enter feedback here]

Hello,

I need to clarify the icon copywrite please. As authors, and course creators, can we use these icons in Microsoft Azure courses, books, slides, and presentation diagrams?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6624d44c-f9f6-02f8-2c67-0f0637fed62e
* Version Independent ID:

[2022-06-12 15:14] JamesTran-MSFT commented on #3476
@zaalion
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-14 05:34] ajaytak19 opened #3480 "Article needs expansion"
Kindly elaborate the design and describe services used and the way various components interact with each other.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0086ec3a-1c25-966d-da07-7cf4258e187f
* Version Independent ID: f96d13e8-a5a2-b3c4-8c44-0d9e32a3ddf5
* Content: [Scalable web apps with Azure Redis Cache - Azure

[2022-06-14 06:07] MayankBargali-MSFT commented on #3480
@ajaytak19 Thanks for reaching out. Can you share the document you are referring to?

[2022-06-14 06:12] ajaytak19 commented on #3480
https://docs.microsoft.com/en-us/azure/architecture/solution-ideas/articles/scalable-web-apps

[2022-06-14 06:14] MayankBargali-MSFT commented on #3480
@ajaytak19 Thanks for the confirmation. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-06-14 06:19] ajaytak19 commented on #3480
From beginners point of view, I believe some of the architecture examples would really do well with a bit more explanation. Below is the link I was referring to go thru ample architecture designs for educational purpose.
https://docs.microsoft.com/en-us/azure/architecture/browse/

[2022-06-15 05:26] gaurav-mittal-helm opened #3482 "Support of automating the Continuous delivery​ configuration via the ARM Template."
Hi,

We are building the VM and installing the software using the ARM template as a Managed Application Solution. Now to support the upgrade of the software's installed we need to enable the Continuous delivery​ configuration option inside the VM.

We need this to get auto configured when the VM is getting created via the ARM Template.

How can this be supported.

**Edited: Added doc metadata**

-

[2022-06-15 07:16] AjayKumar-MSFT commented on #3482
@gaurav-mittal-helm, Thanks for leveraging Azure docs feedback channel to raise this question. Could you please share the Azure documentation for which this feedback is applicable to?

-This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

[2022-06-15 07:19] horihiro opened #3483 "Explanation for Azure Container Apps"
The explanation for understanding Azure Container Apps is same as Azure Virtual Machine.
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 510808e8-db5d-6b07-9a04-6edb743a2dfc
* Version Independent ID: 20d098aa-ef31-cb26-d677-765cfc9a7164
* Content: [Choose an Azure compute service - Azure Architecture Center](http

[2022-06-15 07:40] gaurav-mittal-helm commented on #3482
Hi,

This is for "CI/CD for Azure VMs" - https://docs.microsoft.com/en-in/azure/architecture/solution-ideas/articles/cicd-for-azure-vms

[2022-06-15 07:50] AjayKumar-MSFT commented on #3482
@gaurav-mittal-helm, Thanks for sharing the doc URL, I have updated the doc metadata info to this issue.

[2022-06-15 08:19] MayankBargali-MSFT commented on #3483
@horihiro Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-06-15 13:28] ShafeerAli opened #3486 "Conatiner Apps are not in Preview any more"
Container Apps are mentioned as Preview which is not the case.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6244cf08-ed10-93fd-de01-56044cada33e
* Version Independent ID: 6244cf08-ed10-93fd-de01-56044cada33e
* Content: [Deploy microservices with Azure Container Apps and Dapr - Azure Example Scenarios](https://docs.mi

[2022-06-15 23:30] mike-urnun-msft commented on #3486
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-06-16 04:25] AjayKumar-MSFT commented on #3482
gaurav-mittal-helm, Your feedback has been shared with the content owner for further review.

[2022-06-16 04:34] gaurav-mittal-helm commented on #3482
Thanks @AjayKumar-MSFT , i will be available for discussion if there is some clarity on the use case is needed.

[2022-06-17 05:46] kmathewmk opened #3489 "Alternative caching options"
Are there alternatives to Redis (Azure Cache for Redis)? If yes, what are they and their pros & cons?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be785717-ca5e-f3d6-8e60-4005d9503d08
* Version Independent ID: 3ce414e5-d923-0488-ff11-3aa8bd4c2d1e
* Content: [Caching guidance - Azure Architecture Center](https://docs.

[2022-06-18 17:05] amitmait opened #3492 "Icons accessibility"
We can use a Macro to populate the icons in an excle sheet. For each folder, a new sheet is added and all the icons in that folder are added per cell in the sheet with the label of the icon derived from the icon file name.
Optionally, we can create an index sheet for all the sheets added.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2022-06-19 03:40] MartinJaffer-MSFT commented on #3492
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2022-06-21 07:42] sdaytelefonicatechuk opened #3495 "Where is the same article for Azure DevOps"
This page focusses on Github. What about Azure DevOps?
How are the same outcomes achieved using Azure DevOps Repos and extensions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fcaeba82-a634-d73a-77fd-a07258be2c17
* Version Independent ID: 4ba78d8a-60c9-9df8-1d2c-0a375a094acb
* Content: [DevSecOps in Azure - Azure Sol

[2022-06-21 12:52] mitchell-land opened #3496 "CI/CD for Containers architecture"
I'd like to see an architecture and documentation for deploying containers to on-prem Docker repositories.

[2022-06-22 02:41] EdPrice-MSFT commented on #3496
@mitchell-land - We don't have this specific scenario, unfortunately (as you know).

Were you able to browse through our existing architectures to see if there's a similar solution? https://docs.microsoft.com/en-us/azure/architecture/browse/?terms=docker

We have a few interesting scenarios that are admittedly not exactly what you're looking for, but they might provide some ideas:
- https://docs.m

[2022-06-22 02:58] EdPrice-MSFT commented on #3495
Hi @sdaytelefonicatechuk - Are you looking to secure your solution using Azure DevOps?

It's not the same architecture, but if we can identify the goal, we might have resources for the particular scenario.

Here are a few:
- Secure Azure DevOps with Microsoft Sentinel: https://docs.microsoft.com/en-us/azure/architecture/example-scenario/devops/automate-sentinel-integration
- CI/CD pipeline with Az

[2022-06-22 03:11] EdPrice-MSFT commented on #3476
@zaalion - Yes.

[2022-06-22 03:25] EdPrice-MSFT commented on #3486
Thanks, @ShafeerAli!

Updated via this private PR: https://github.com/MicrosoftDocs/architecture-center-pr/pull/6644

ETA is noon PST, 6/22.

[2022-06-22 03:29] EdPrice-MSFT commented on #3469
@sdzhangtao - Great catch.

Edit made on this private PR: https://github.com/MicrosoftDocs/architecture-center-pr/pull/6647

ETA is noon PST, 6/22.

[2022-06-22 03:37] EdPrice-MSFT commented on #3462
Good update. Thanks, @x509cert

Made the edit in this private PR: https://github.com/MicrosoftDocs/architecture-center-pr/pull/6649

ETA is noon, PST, 6/22.

[2022-06-22 07:54] sdaytelefonicatechuk commented on #3495
My query is specifically related to the DevSecOps solutions architectures here: https://azure.microsoft.com/en-gb/solutions/devsecops/#overview

There is some focus on GitHub and GitHub advanced security with no apparent Azure DevOps equivalents.

What Azure DevOps capabilities can be leveraged as an alternative to GitHub advanced security?

Or is it the case that if security is important, custome

[2022-06-22 12:57] samhodgkinson opened #3498 "Clarification 10k network rules"
I have a /16 Internal network which is 65534 Ip address, this is placed within an IP Group.

Does this count as a one rule ?
Does this calculation only apply which IP address /ranges have been used over IP Groups.
Does this calculation work with both the source and destination, within the rule ? For example internal range /16 to internal range. /16

Reference section
"Do not exceed 10k network rul

[2022-06-22 17:46] sadiqkhoja opened #3499 "Any guidance on how to implement lease management with Azure Functions and queue/eventhub/servicebus trigger"
Thanks for this interesting document. Can you please share some guidance on how lease management pattern can be implemented using Azure Functions with queue/eventhub/servicebus trigger?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6fc9f60-d9fd-1dca-3641-be133d2dac82
* Version Independent ID: 812bd0d5-508c-37cb-2f26-

[2022-06-23 00:26] chrish434 commented on #1891
Just ran into this myself, very much a shame MS hasn't progress this in over 2 years

[2022-06-23 00:59] YutongTie-MSFT commented on #3498
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-23 02:00] ram-msft commented on #3141
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-06-23 02:00] #3141 closed

[2022-06-23 03:21] rukasakurai opened #3500 ""Much higher bandwidth available" compared to what?"
For both the "VPN connection" and "Azure ExpressRoute connection" options, it lists "Much higher bandwidth available" as benefits, but it is unclear what this is in comparison too.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59c72e16-a607-68cc-4d47-7e6f16b546c1
* Version Independent ID: 897309eb-6e9b-1f5c-714b-b12c9

[2022-06-23 03:33] rukasakurai opened #3501 "Lower and consitent latency as a benefit of ExpressRoute"
"ExpressRoute connections don't go over the public Internet. They offer higher security, reliability, and speeds, with lower and consistent latencies than typical connections over the Internet." is mentioned as an answer to the question "What are the benefits of using ExpressRoute and private network connections?" in the ExpressRoute FAQs
https://docs.microsoft.com/en-us/azure/expressroute/express

[2022-06-23 05:42] horihiro commented on #3483
Close because it seems to be already fixed.

[2022-06-23 05:42] #3483 closed

[2022-06-23 06:50] MughundhanRaveendran-MSFT commented on #3499
@sadiqkhoja , Thanks for the feedback. We will review and get back to you accordingly

[2022-06-23 15:37] cpdohert opened #3503 "No code provided on "modifications""
There's no information provided on what was modified or how to implement the modifications ourselves.  No Azure PIpeline YAML files for examples, scripts or parameters for the extractor to "[change] the repository structure and [rename] the APIs to have friendlier names."

Did you forget a link to a git repo somewhere?

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2022-06-23 15:52] MannytheAnalyst commented on #1683
For me is how can I work as a R user easily use Azure Devops repos

[2022-06-23 16:07] GitaraniSharma-MSFT commented on #3501
@rukasakurai , thank you for your feedback. We'll review this and get back to you shortly!

[2022-06-24 02:57] RyanHill-MSFT commented on #3503
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-06-24 06:39] warnov opened #3505 "Add Azure Container Apps as an equivalence of ECS"
It is time to add Azure Container Apps in the equivalence record for ECS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30d02f16-9621-d204-4132-8ce8db79b0af
* Version Independent ID: 65b4385b-79f0-d842-d4a1-5d013615f9b1
* Content: [AWS to Azure services comparison - Azure Architecture Center](https://docs.microsoft.co

[2022-06-24 18:44] mike-urnun-msft commented on #3505
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-06-24 20:08] xstof commented on #3408
Any updates please?

[2022-06-26 06:22] TosoBoso opened #3506 "Please add SCA"
Good outline. However SCA should be integral part of DevSecOps within your pipeline.
For example WhiteSorce / Mend should be the one. For Reference:
https://www.mend.io/resources/blog/software-composition-analysis/

[2022-06-26 07:46] GitaraniSharma-MSFT commented on #3506
@TosoBoso , could you please help with the link to the document on which the above document feedback request is created.

In case your query is not related to document content, open a new forum thread in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community

[2022-06-26 22:00] AnalyticJeremy commented on #1683
@MannytheAnalyst , are you using R Studio?

[2022-06-27 07:04] MughundhanRaveendran-MSFT commented on #3499
@sadiqkhoja , The lease management is taken care by the azure functions automatically when you use blob trigger and bindings. The storage queue function is based on polling and service bus trigger is based on locks, so its not applicable here.

Hope this helps. Feel free to reopen if you have queries

[2022-06-27 07:04] #3499 closed

[2022-06-27 13:23] davidhamsft opened #3507 "Alternatives section is confusing"
Customers have asked about the following listed under alternatives,
_"However, in regulated industries in particular, some organizations can't use Azure Synapse for various reasons."_
 but there is no link or explanation of which industries cannot use Synapse, not great for a customer to read when we cannot explain it and they are also talking to Snowflake.

---
#### Document Details

⚠ *Do not ed

[2022-06-27 15:55] vimorra opened #3508 "Blue Green Pattern for AKS"
Add a dedicated content to describe the blue - green deployment pattern for AKS.
The content is a GAP.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5477a1d-f118-9771-e721-dde67ac8e40b
* Version Independent ID: a68fb7b0-c53d-2d79-0316-72babdc6cda2
* Content: [Azure Kubernetes Service (AKS) design - Azure Architecture

[2022-06-27 20:59] SvenAelterman commented on #3131
@doodlemania2 Any update on the availability of those icons? Thanks!

[2022-06-28 02:24] AshokPeddakotla-MSFT commented on #3508
@vimorra Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2022-06-28 06:54] vimorra commented on #3508
Hi @AshokPeddakotla-MSFT here where we want to publish the GAP pattern
![image](https://user-images.githubusercontent.com/48756634/176113153-c0ad3520-f5c9-4f6a-98b2-187e8427bc11.png)
It is a new pattern to describe the blue green deployment for AKS with the related implementation with terraform.

[2022-06-28 11:59] GitaraniSharma-MSFT commented on #3506
@TosoBoso , request you to share the link to the document on which the above document feedback request is created for further discussion on this issue.

[2022-06-29 23:44] kvietmeier commented on #3474
I'm in the same situation.

Icons isn't exactly the correct term - what people are looking for are "Azure Visio Stencils". A stencil file (.vss) has a bunch of objects in it that ideally will be properly scaled for a 15:1 aspect ratio (by Visio best practices), have useful metadata embedded, and at least 4 connection points in useful locations.

Is it that you want to charge for them?  It looks li

[2022-06-30 04:29] AshokPeddakotla-MSFT commented on #3508
@vimorra I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-06-30 11:29] andyjballgit opened #3511 "What does "Ensure all updates to the IP Groups and policies have an implicit firewall update that is run afterwards." mean ?"
[Enter feedback here]

as per subject, reading through this doc and i dont quite understand what this statement means .

If we say add a new IP Address (cidr/range)  to an existing IP Group , used in a firewall , is there an extra step to make it live / effected ? If so what is it ?

From memory a Firewall Policy update triggers an Update operation on the Firewall automatically , is this the same

[2022-06-30 16:44] mike-urnun-msft commented on #3511
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-06-30 17:01] rohilla-shweta commented on #3511
@mike-urnun-msft  I am not the author for this. But I can get someone to review this. Please share what changes you suggest to make. Thanks!

[2022-06-30 18:43] veeranac opened #3512 "Sample Price"
It would be really great to have sample price calculator enabled for the architecture to accelerate our estimates and approval process for our projects

[2022-07-01 02:04] AshokPeddakotla-MSFT commented on #3512
@veeranac Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2022-07-01 05:46] GitaraniSharma-MSFT commented on #3506
@TosoBoso , Since we have not heard back from you, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-07-01 05:46] #3506 closed

[2022-07-01 19:17] mbrat2005 opened #3513 "AD DS Join No Longer Required"
[Enter feedback here]
This document specifies that AVD session hosts must be AD DS joined, which is no longer true with AAD-join now supported.

https://github.com/MicrosoftDocs/architecture-center/blob/a55bc8cac84bce0542f97154645bf0c412740fed/docs/example-scenario/wvd/windows-virtual-desktop-content.md?plain=1#L48

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2022-07-02 00:44] AshokPeddakotla-MSFT commented on #3513
@mbrat2005 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-07-04 21:47] DeanGross opened #3514 "Request for Security in the diagram"
the text mentions Azure AD and Defender for IoT, but these don't show on the diagrams, please add security and monitoring services to the architecture diagram so that we can easily determine how the fit into the big picture
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf328b1f-6bc5-dff2-619f-82b95030c3cf
* Version Ind

[2022-07-05 01:07] SaurabhSharma-MSFT commented on #3514
@DeanGross Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2022-07-05 12:23] AshokPeddakotla-MSFT commented on #3512
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2022-07-05 12:23] #3512 closed

[2022-07-05 14:02] Fred-Huffman opened #3515 "download graphic ?"
the Download an [SVG] graphic is a great idea. however my preference is for visio, or vsxds files. I think SVG is some kind of vector graphic, but not sure and no idea if visio will see it as a useful shape or image. Otherwise, good show on the article! I'm in early stage of work on planning, design and construction of web publishing site.

This is not an "Issue" just a simple minded suggestion. "

[2022-07-05 16:09] mike-urnun-msft commented on #3515
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-07-05 21:59] EdPrice-MSFT commented on #3501
Update was merged in here: https://github.com/MicrosoftDocs/architecture-center/pull/3502

[2022-07-05 21:59] #3501 closed

[2022-07-06 02:50] nazeer1232 opened #3517 "Stream-processing"
Hi Team,
While reviewing the technology choices, I found the page is missing Event Hub for stream processing. Any reason why it is not shown in the options for comparison?

Please suggest your thoughts. Also, keen to contribute. Please suggest how can I get involve.

Thank You.
Warm Regards,
Nazeer

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2022-07-06 14:22] mcosner commented on #3514
@DeanGross thanks for filing the issue.  In this case, we have been trying to make these very complicated diagrams more readable, which means (deliberately) omitting some services used in all IoT solutions, such as Azure Active Directory, Keyvault, Defender for IoT, to focus on they key services required for the solution.

[2022-07-06 15:40] mike-urnun-msft commented on #3517
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-07-07 09:56] gvanteylingen opened #3518 "Incorrect article title referenced"
Hi, Azure NetApp Files PM here.

For positioning and branding purposes, please change / update the following:

Under Next Steps, last bullet:
Instead of:
[Running Oracle workloads on Azure using NetApp Files](https://techcommunity.microsoft.com/t5/azure-architecture-blog/run-your-most-demanding-oracle-workloads-in-azure-without/ba-p/3264545)

change to:
[Run Your Most Demanding Oracle Workloads in

[2022-07-07 17:18] SaurabhSharma-MSFT commented on #3518
@gvanteylingen Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2022-07-07 18:18] JohnDelisle opened #3520 "Guidance regarding global load balancing of Private Endpoints"
I'm concerned that Microsoft has released Private Endpoints without considering how customers will distribute load to those endpoints in multi-regional architectures.

Consider a multi-regional App Service based microservice -

- If the App Svcs use Public Endpoints, it's simple using Azure Traffic Manager (and/or App Gateway, FrontDoor, etc.).
- If the App Svcs use Private Endpoints, I don't see

[2022-07-08 06:43] MayankBargali-MSFT commented on #3520
@JohnDelisle Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-07-08 06:58] antonmatsiuk commented on #1891
It's 2022 already and WSS support after 3 years is still not there, incredible!

[2022-07-08 11:53] DeanGross commented on #3514
Given that a picture can be worth a thousand words, it would be helpful to have some additional graphics to indicate supporting services or arrow(s) pointing to additional diagrams

[2022-07-08 16:09] Merkelhub opened #3521 "Broken BeeGFS Link"
[Enter feedback here]
Unfortunately the BeeGFS is broken / false, it opening GlusterFS content

All the best
Marco

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7cf67b7-8d94-d7a2-97ef-1387e252109c
* Version Independent ID: 0d3a72a7-6600-5682-6be1-6c333192bbd6
* Content: [High-performance computing (HPC) on Azure - Az

[2022-07-08 23:43] SaurabhSharma-MSFT commented on #3521
@Merkelhub I am able to navigate to [BeeGFS](https://azure.microsoft.com/resources/implement-glusterfs-on-azure).
![image](https://user-images.githubusercontent.com/38112130/178082545-94eb07c5-ea1b-4df6-b359-54437fe83dfe.png)

[2022-07-09 05:31] andyjballgit commented on #3511
@rohilla-shweta @mike-urnun-msft  I'm not sure if that question is for me  ? If it is the statement in the subject doesnt really make sense to me - what is "an implicit firewall update that is run afterwards" mean  ?

Its a minor thing , but its suggesting that when you update an IP Group, theres an additional step ?

[2022-07-10 01:37] DavidPaf opened #3522 "Example in Reactjs"
Hello team,

I want to create eCommerce application in Reactjs. I see the example for https://docs.microsoft.com/en-us/azure/architecture/example-scenario/apps/ecommerce-scenario#deploy-this-scenario is in .NET.

Can you provide another version of the sample application? In Reactjs.

_Deploy this scenario
To deploy this scenario, you can follow this [step-by-step tutorial](https://github.com/Azure

[2022-07-10 04:36] VikasPullagura-MSFT commented on #3522
@DavidPaf
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-07-10 04:36] VikasPullagura-MSFT commented on #3522
@chrismason
Can you please check and add your comments on this doc update request as applicable.

[2022-07-12 18:18] SaurabhSharma-MSFT commented on #3521
@Merkelhub We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-07-12 18:18] #3521 closed

[2022-07-13 06:09] skunani opened #3524 "Include table storage in the decision tree"
[Enter feedback here]
It will be helpful to include Azure table storage in the decision tree.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88559925-9b9e-d9b3-ddb6-08306692c17b
* Version Independent ID: a25055cb-7cfe-28a0-1c66-06172c037128
* Content: [Data store decision tree - Azure Application Architecture Guide](ht

[2022-07-13 10:13] MayankBargali-MSFT commented on #3524
@skunani Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-07-13 15:15] djdean commented on #3507
Fair point. Would this sentence make things more clear?

However, in regulated industries in particular, some organizations can have longer adoption time for some services (e.g., Azure Synapse) for various reasons. For example, most organizations in a regulated industry require their security teams to 'whitelist' services before they can be used, which requires a deep technical, security-centric r

[2022-07-13 18:21] mike-urnun-msft commented on #3428
@eusebio-muley Sorry for the long delay in our responses. I've created a PR that fixes the typo and the change should be live after the PR is approved & merged by our content team.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-07-13 18:21] #3428 closed

[2022-07-13 20:22] davidhamsft commented on #3507
That or take it out completely, either one is an upgrade.

[2022-07-14 00:29] rukasakurai opened #3525 "Azure Front Door as an example of a technology that can be considered an API Gateway"
The page lists Azure Application Gateway as an example of a technology that can be considered an API Gateway in the "Choosing a gateway technology" section:
https://docs.microsoft.com/azure/architecture/microservices/design/gateway#choosing-a-gateway-technology

However, it does not list Azure Front Door here, even though it offer feature that the pages describes as characteristics of an API Gatew

[2022-07-14 05:15] MayankBargali-MSFT commented on #3525
@rukasakurai Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-07-14 10:22] venuvedam opened #3526 "Supply Chain - Carbon Footprint - A Suggestion"
Love this article on AAC about QBS and Azure coming together to transform the supply chain use case. Very timely and is a great addition to our blockchain knowledge base. This is a suggestion to extend this point of view further to meet the sustainability goals of an MFG/Retail/Process enterprise. Of late, we have been witnessing an increased focus on minimizing the carbon footprint of these massi

[2022-07-14 10:23] venuvedam commented on #3526
Sorry, this is regarding the article on AAC: https://docs.microsoft.com/en-us/azure/architecture/guide/blockchain/quorum-blockchain-service

[2022-07-14 17:15] PRodas1 opened #3527 "Oracle migration to Azure using SharePlex or Data Guard or Active Data Guard"
In this section discussion: https://docs.microsoft.com/en-us/azure/architecture/solution-ideas/articles/reference-architecture-for-oracle-database-migration-to-azure

The terminology says Data Guard on the ARCH Slides. However, in the first sentence on the Link Microsoft uses the verbiage Active Data Guard. ADG is yet another product from Oracle. Active Data Guard, is different from Data Guard. Di

[2022-07-14 22:02] MonikaReddy-MSFT commented on #3526
@venuvedam - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2022-07-15 06:17] MayankBargali-MSFT commented on #3527
@PRodas1 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-07-16 21:31] davidpeden3 commented on #1891
+1 when will this gaping hole be addressed?

[2022-07-17 20:11] pjtalkstech opened #3528 "Mismatch between the diagram and the Dataflow summary"
[Enter feedback here]
There is a mismatch between Diagram and Dataflow bullet points.
Point no. 4 says red arrow line shows the source NAT but that line is missing in the picture.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2c472ec-9be4-6e0e-eac6-0236e2e1044a
* Version Independent ID: d2c472ec-9be4-6e0e-eac

[2022-07-17 22:13] MonikaReddy-MSFT commented on #3528
@pjtalkstech  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2022-07-18 18:13] timwarner-msft commented on #3528
PR submitted. Thanks, @pjtalkstech!

[2022-07-18 18:13] timwarner-msft commented on #3528
#please-close

[2022-07-21 19:21] kenjmartinii opened #3535 "SQL Server Availability Group Wording Fixes"
Within this [Workflow](https://docs.microsoft.com/en-us/azure/architecture/example-scenario/infrastructure/multi-tier-app-disaster-recovery-experiment#workflow) section, the following bolded words and phrases are kinda/sorta not accurate and may confuse readers:

I would suggest the following edits to reflect the concept of primary and secondary 'replicas' within an Availability Group, removing th

[2022-07-21 21:00] MarileeTurscak-MSFT commented on #3535
@kenjmartinii
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-22 09:23] hagnas opened #3537 "Page content and title has (almost) nothing to do with each other"
This page titled "Custom data sovereignty and data gravity requirements" does not contain anything about said title. The architecture drawing and description sounds like a placeholder for something else.

Seems to me like the page should be added to have something useful or removed until content can be created.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2022-07-22 12:22] MayankBargali-MSFT commented on #3537
@hagnas Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-07-22 20:32] sadukie opened #3538 "AWS to Azure services comparison - missing AWS services"
Under [Database](https://docs.microsoft.com/en-us/azure/architecture/aws-professional/services#database), you may also want to include:

* [Amazon Neptune](https://aws.amazon.com/neptune/) - aligns to Azure Cosmos DB Gremlin API
* [Amazon MemoryDB](https://aws.amazon.com/memorydb/) - aligns to the Cache for Redis

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2022-07-22 22:04] mike-urnun-msft commented on #3538
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-07-23 09:53] robozb opened #3539 "If you translate to hungarian use a good translator!"
[Ide írja be a visszajelzését]

---
#### A dokumentum adatai

⚠ *Ezt a szakaszt ne szerkessze. A szakasz a docs.microsoft.com ➟ GitHub-problémák hivatkozásaihoz szükséges.*

* ID: 57f4d213-3eb1-5b4c-aa67-116e8fa36f7d
* Version Independent ID: 18199b5a-8f57-6574-c795-7540199ae49a
* Content: [Mikroszolgáltatások CI/CD-folyamata a Kubernetesen - Azure Architecture Center](https://docs.microsoft.com/h

[2022-07-23 20:17] MarileeTurscak-MSFT commented on #3539
@robozb
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-26 12:44] measin opened #3542 "VPN speed is listed as 10Gbps, but should read 1Gbps?"
In the details for VPN speed, the page lists the speed as up to 10Gbps, but shouldn't it read 1Gbps?

Quote:
"VPN connection
A [VPN gateway](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-about-vpngateways) is a type of virtual network gateway that sends encrypted traffic between an Azure virtual network and an on-premises location. The encrypted traffic goes over the public Intern

[2022-07-26 13:34] MayankBargali-MSFT commented on #3542
@measin Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-07-27 14:35] reph-con commented on #2915
This issue may not be fixed: My solution was: Set ASR Rule 3b576869-a4ec-4529-8536-b80a7769e899 from block to audit, Warn or off.
Plsss fix this issue. thank you